<form name="templateAllocation" class="padding-10-imp cm-search-tab-operation-list" ms-form-wizard-form novalidate>
  <div flex="100" layout="row" layout-wrap ng-if="vm.isContainMasterTemplate">
    <div flex flex-xs="100" layout="row" layout-wrap flex-sm="100">
      <div flex="100" flex-xs="100" layout="row" class="mobilesearch employee-workstaion-search-box userpermissionhead" layout-align="space-between center">
        <md-input-container class="md-block error-none no-label" md-no-float flex flex-xs="75" ng-class="{'clickedsearch':isButtonTemplateClicked}">
          <input id="SearchNoAddedListTemplate" type="text"
                 placeholder="Type here to search templates" ng-model="vm.SearchNoAddedListTemplate"
                 ng-keyup="vm.SearchTemplate(vm.SearchNoAddedListTemplate, false)"
                 custom-blur="vm.SearchTemplate(vm.SearchNoAddedListTemplate, false)">
        </md-input-container>
        <md-button class="md-raised md-primary md-ink-ripple margin-0"
                   ng-disabled="!vm.SearchNoAddedListTemplate"
                   ng-click="vm.SearchNoAddedListTemplate='';vm.SearchTemplate(vm.SearchNoAddedListTemplate, false)">
          Clear
        </md-button>
        <md-button class="md-raised md-primary md-ink-ripple margin-0" ng-click="vm.refreshDataTemplate()">
          Refresh
        </md-button>
        <md-button class="md-raised md-primary md-ink-ripple margin-0" ng-click="vm.addDataTemplate(null,$event)">
          Add New
        </md-button>
      </div>
      <md-list flex="100" class="permissiontab custom-scroll dragbox" ng-class="{'layout-column': vm.TemplateNoAddedList.length == 0}">
        <md-list-item id="templateNoAddedList" class="padding-0 items-container" layout="row" flex="100" layout-wrap
                      ui-sortable="sortableOptionsTemplate"
                      ng-model="vm.TemplateNoAddedList"
                      haveadded="false">
          <div flex="100" class="md-1-line margin-0 dragsortable"
               ng-repeat="Template in vm.TemplateNoAddedList"
               ui-sortable-selectable
               ng-model="Template"
               layout="row" layout-align="start center">
            <div class="md-list-item-text">
              <h4>
                <a class="cm-text-decoration" ng-click="vm.goToManageOperationManagement(Template.id);">
                  {{Template.masterTemplate}}
                </a>
              </h4>
              <div class="mt-5">
                {{Template.description}}
                <md-tooltip ng-if="Template.description">Description</md-tooltip>
              </div>
            </div>
          </div>
          <div flex="100" class="md-1-line margin-0 cursor-not-allow"
               ng-if="vm.TemplateNoAddedList.length == 0"
               ui-sortable-selectable>
            <div class="empty-state text-center">
              <div class="emty-icon">
                <img ng-src="{{vm.EmptyMesssageForOpTemplate.IMAGEURL}}" />
              </div>
              <p class="empty-state-title font-size-2 useadded-emptytxt" ng-if="vm.SearchNoAddedListTemplate == null && vm.TemplateNoAddedList.length == 0">
                {{vm.EmptyMesssageForOpTemplate.ALL_ASSIGNED}}
              </p>
              <p class="empty-state-title font-size-2 useadded-emptytxt" ng-if="vm.SearchNoAddedListTemplate != null && vm.FilterTemplateNotAdded != true">
                {{vm.EmptyMesssageForOpTemplate.EMPTY_SEARCH_MESSAGE}}
              </p>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div class="cm-data-fields-buttons" layout="row" layout-align="space-between center" flex-sm="100">
      <div flex="100" layout-xs="row" layout-sm="row" layout="column" layout-align="space-between center">
        <md-button class="md-fab md-raised md-mini margin-horizontal-0"
                   ng-disabled="!selectAnyAddedTemplate"
                   ng-click="vm.ModifyPageAddedTemplate('Remove')">
          <i class="icon-chevron-left icondrag"></i>
          <md-tooltip>Remove</md-tooltip>
        </md-button>
        <md-button class="md-fab md-raised md-mini margin-horizontal-0"
                   ng-disabled="vm.TemplateAddedList.length == 0"
                   ng-click="vm.ModifyPageAddedTemplate('RemoveAll')">
          <i class="icon-chevron-double-left icondrag"></i>
          <md-tooltip>Remove All</md-tooltip>
        </md-button>
        <md-button class="md-fab md-raised md-mini margin-horizontal-0"
                   ng-disabled="vm.TemplateNoAddedList.length == 0"
                   ng-click="vm.ModifyPageAddedTemplate('AddAll')">
          <i class="icon-chevron-double-right icondrag"></i>
          <md-tooltip>Add All</md-tooltip>
        </md-button>
        <md-button class="md-fab md-raised md-mini margin-horizontal-0"
                   ng-disabled="!selectAnyNoAddedTemplate"
                   ng-click="vm.ModifyPageAddedTemplate('Add')">
          <i class="icon-chevron-right icondrag"></i>
          <md-tooltip>Add</md-tooltip>
        </md-button>
      </div>
    </div>
    <div flex flex-xs="100" flex-sm="100">
      <div flex="100" flex-xs="100" layout="row" class="mobilesearch userpermissionhead" layout-align="space-between end">
        <md-input-container class="md-block error-none no-label" md-no-float flex flex-xs="75" ng-class="{'clickedsearch':isButtonTemplateAddedClicked}">
          <input id="SearchAddedListTemplate" type="text"
                 placeholder="Type here to search added templates"
                 ng-model="vm.SearchAddedListTemplate"
                 ng-keyup="vm.SearchTemplate(vm.SearchAddedListTemplate, true)"
                 custom-blur="vm.SearchTemplate(vm.SearchAddedListTemplate, true)">
        </md-input-container>
        <md-button class="md-raised md-primary md-ink-ripple margin-0"
                   ng-disabled="!vm.SearchAddedListTemplate"
                   ng-click="vm.SearchAddedListTemplate='';vm.SearchTemplate(vm.SearchAddedListTemplate, true)">
          Clear
        </md-button>
      </div>
      <md-list flex="100" class="permissiontab custom-scroll dragbox" ng-class="{'layout-column': vm.TemplateAddedList.length == 0}">
        <md-list-item id="templateAddedList" class="padding-0 items-container" layout="row" flex="100" layout-wrap
                      ui-sortable="sortableOptionsTemplate"
                      ng-model="vm.TemplateAddedList"
                      haveadded="true">
          <div flex="100" class="md-1-line margin-0 dragsortable"
               ng-repeat="Template in vm.TemplateAddedList"
               ui-sortable-selectable ng-model="Template"
               layout="row" layout-align="start center">
            <div class="md-list-item-text">
              <h4>
                <a class="cm-text-decoration" ng-click="vm.goToManageOperationManagement(Template.id);">
                  {{Template.masterTemplate}}
                </a>
              </h4>
              <div class="mt-5">
                {{Template.description}}
                <md-tooltip ng-if="Template.description">Description</md-tooltip>
              </div>
            </div>
          </div>
          <div flex="100" class="md-1-line margin-0 cursor-not-allow"
               ng-if="vm.TemplateAddedList.length == 0"
               ui-sortable-selectable>
            <div class="empty-state text-center">
              <div class="emty-icon">
                <img ng-src="{{vm.EmptyMesssageForOpTemplate.IMAGEURL}}" />
              </div>
              <p class="empty-state-title font-size-2 useadded-emptytxt" ng-if="vm.SearchAddedListTemplate == null && vm.TemplateAddedList.length == 0">
                {{vm.EmptyMesssageForOpTemplate.MESSAGE}}
              </p>
              <p class="empty-state-title font-size-2 useadded-emptytxt" ng-if="vm.SearchAddedListTemplate != null && vm.FilterTemplateAdded != true">
                {{vm.EmptyMesssageForOpTemplate.EMPTY_SEARCH_MESSAGE}}
              </p>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <div flex="100" class="md-1-line margin-0 cursor-not-allow" ng-if="!vm.isContainMasterTemplate">
    <div class="empty-state text-center full-height">
      <div class="emty-icon">
        <img ng-src="{{vm.EmptyMesssageForOpTemplate.IMAGEURL}}" />
      </div>
      <p class="empty-state-title font-size-2 useadded-emptytxt">
        {{vm.EmptyMesssageForOpTemplate.MESSAGE}}
      </p>
      <p flex="100">
        {{vm.EmptyMesssageForOpTemplate.ADDNEWMESSAGE}}
      </p>
      <p flex="100">
        <md-button class="md-fab md-mini" aria-label="Add DataField" ng-click="vm.addDataTemplate()">
          <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini" aria-label="Add Elements" ng-click="vm.refreshDataTemplate()">
          <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-refresh"></md-icon>
        </md-button>
      </p>
    </div>
  </div>
</form>
