<div id="forms" class="page-layout simple fullwidth doc-page breadcrumb-fixed" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
  <div class="header md-accent-bg" layout="row" layout-align="space-between center">
    <div class="white-fg" layout="column" layout-align="start start">
      <div class="h2" layout="row" layout-align="start center">
        <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
      </div>
      <div layout="row" layout-align="start center" class="product-count">
        <breadcrumbs></breadcrumbs>
      </div>
    </div>
    <div layout-align="end end">
      <md-button ng-if="!vm.isNoDataFound" 
                 class="md-raised md-primary" aria-label="Add part price break details" 
                 ng-click="vm.addEditPriceBreakDetails(null,$event)">
        Add part price break details
      </md-button>
    </div>
  </div>
  <div class="content-card padding-top-side" layout="column" flex ng-show="!vm.isNoDataFound">
    <md-card layout="column" flex layout-align="space-between stretch">
      <ui-grid-extention load-data="vm.loadData"
                         grid-id="vm.gridConfig.gridPartPriceBreackDetail"
                         grid-option="vm.gridOptions"
                         header="vm.sourceHeader"
                         grid-data="vm.sourceData"
                         total-data-count="vm.totalSourceDataCount"
                         reset-grid="vm.resetSourceGrid"
                         selectted-rows="vm.selectedRowsList"
                         paging-info="vm.pagingInfo"
                         current-item="vm.currentdata"
                         empty-state="vm.emptyState"
                         get-data-down="vm.getDataDown"
                         delete-multiple-data="vm.deleteMultipleData">
    </md-card>
  </div>
  <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound == true">
    <div class="emty-icon" flex="100">
      <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
    </div>
    <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
    <p flex="100">
      {{vm.EmptyMesssage.ADDNEWMESSAGE}}
    </p>
    <p flex="100">
      <md-button class="md-fab md-mini" aria-label="Add Price Break Details" ng-click="vm.addEditPriceBreakDetails(null,$event)">
        <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
        <md-tooltip>Add Part Price Break Details</md-tooltip>
      </md-button>
      <md-button class="md-fab md-mini" aria-label="Refresh Price Break Details" ng-click="vm.loadData()">
        <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
         <md-tooltip>Refresh Part Price Break Details</md-tooltip>
      </md-button>
    </p>
  </div>
</div>

