<div flex="100" class="m-10">
<fieldset class="container-box">
  <legend class="margin-0">1st Article</legend>
  <div class="cm-first-article-head" ng-if="vm.ShowFirstArticle" layout="row" layout-align="space-between center">
    <h3 class="margin-bottom-0" flex="30">
      <md-icon md-font-icon="icon icon-hand-pointing-right"></md-icon>
      Model:
      <span>{{vm.woOpEmployeeDetails.workorderOperation.firstPcsModel}}</span>
    </h3>
    <div>
      <md-button class="md-raised md-primary shortcut-key-btn" ng-click="vm.goToWorkorderOperationFirstArticles()">
        Add 1st Article
      </md-button>
      <md-button class="md-raised md-primary shortcut-key-btn" ng-click="vm.OpenFirstArticle(vm.MainTitle.FirstArticle, vm.woOpEmployeeDetails.workorderOperation, vm.woOpEmployeeDetails.workorderOperation, $event)">
        <span class="shortcut-key-symbol">B</span>ack to Operation
      </md-button>
    </div>
  </div>
  <div layout="row" layout-wrap class="padding-right-10 padding-left-10 pb-10 m-5 border" flex="100"
       ng-if="vm.workorderTransFirstPieceDetList && vm.workorderTransFirstPieceDetList.length">
    <form name="vm.firstartical" flex="100">
      <div layout="row" flex="100" layout-align="end end">
        <md-button class="md-primary md-raised margin-right-0 mb-10"
                   ng-click="vm.setFPTransSerialsExpandCollapse()">{{vm.isAllExpandedForFPTransSerials ? 'Collapse All' : 'Expand All'}}</md-button>
      </div>
      <div ng-repeat="wotranfirstpcsdetitem in vm.workorderTransFirstPieceDetList" class="articlemain border"
           flex="100" layout="row" layout-wrap>
        <ng-form name="wotranFirstPcsForm_{{wotranfirstpcsdetitem.serialno}}" flex="100" novalidate>
          <div class="articletitle" layout="row" flex="100" layout-align="space-between center"
               ng-if="!wotranfirstpcsdetitem.isEditMode">
            <p class="margin-0">
              <b>{{wotranfirstpcsdetitem.serialno}}</b>
              <span class="status md-primary-bg" ng-repeat="item in vm.WoOpFirstArticleStatus | filter:{Value:wotranfirstpcsdetitem.currStatus}">
                {{item.Key}}
              </span>
            </p>
            <div class="iconset layout-row-1450">
              <span class="font-size-14 padding-top-3-1450" ng-if="wotranfirstpcsdetitem.workorderTransFirstPcsDet.remark">
                <b>Remark</b>: {{wotranfirstpcsdetitem.workorderTransFirstPcsDet.remark ? (wotranfirstpcsdetitem.workorderTransFirstPcsDet.remark.length > 100 ? (wotranfirstpcsdetitem.workorderTransFirstPcsDet.remark | limitTo:100) + '...' : wotranfirstpcsdetitem.workorderTransFirstPcsDet.remark) : "-"}}
                <md-tooltip>Remark: {{wotranfirstpcsdetitem.workorderTransFirstPcsDet.remark}}</md-tooltip>
              </span>
              <span class="padding-top-3-1450" ng-if="wotranfirstpcsdetitem.workorderTransFirstPcsDet.remark">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
              <span class="font-size-14 padding-top-3-1450" ng-if="wotranfirstpcsdetitem.workorderTransFirstPcsDet.updatedAt">
                {{wotranfirstpcsdetitem.workorderTransFirstPcsDet.updatedAt | date: vm.DateTimeFormat}}
                <md-tooltip>{{vm.LabelConstant.COMMON.GRIDHEADER_MODIFY_DATE}}</md-tooltip>
              </span>
              <md-button class="md-primary md-raised" ng-disabled="vm.ShowFirstArticle && !vm.IsCheckInOperation" ng-click="vm.OpenEditDivOfWoTransFirstPcsdet(wotranfirstpcsdetitem)">
                Update
              </md-button>
              <md-button class="md-warn md-raised" ng-disabled="vm.ShowFirstArticle && !vm.IsCheckInOperation" ng-click="vm.deleteWoTransFirstPcsdet(true,wotranfirstpcsdetitem);">
                Delete
              </md-button>
              <md-button class="md-icon-button margin-0 md-primary" ng-disabled="vm.ShowFirstArticle && !vm.IsCheckInOperation" ng-click="vm.toggleWOOperation(wotranfirstpcsdetitem);">
                <md-icon ng-if="!wotranfirstpcsdetitem.isShow" md-font-icon="icon-chevron-down"></md-icon>
                <md-icon ng-if="wotranfirstpcsdetitem.isShow" md-font-icon="icon-chevron-up"></md-icon>
                <md-tooltip>{{wotranfirstpcsdetitem.isShow ? 'Collapse' : 'Expand'}}</md-tooltip>
              </md-button>
            </div>
          </div>
          <div class="articalevalue" layout="row" flex="100" layout-wrap
               ng-if="!wotranfirstpcsdetitem.isEditMode && wotranfirstpcsdetitem.isShow">
            <div class="articalecontentvalue" layout="row" flex="100" layout-align="space-between start">
              <div class="issue" flex="50" flex-xs="100" ng-disabled="vm.ShowFirstArticle && !vm.IsCheckInOperation" ng-click="vm.ShowFirstArticle ? vm.OpenEditDivOfWoTransFirstPcsdet(wotranfirstpcsdetitem) : angular.noop">
                <p class="valuelabel margin-0">
                  <md-icon md-font-icon="icon-menu-right"></md-icon>
                  Issues
                </p>
                <div class="valuetextcontent" flex="100" ng-if="wotranfirstpcsdetitem.workorderTransFirstPcsDet.issue">
                  <p ng-bind-html="wotranfirstpcsdetitem.workorderTransFirstPcsDet.issue"></p>

                </div>
              </div>
              <div class="resolution border-left" flex="50" flex-xs="100" ng-disabled="vm.ShowFirstArticle && !vm.IsCheckInOperation" ng-click="vm.ShowFirstArticle ? vm.OpenEditDivOfWoTransFirstPcsdet(wotranfirstpcsdetitem) : angular.noop">
                <p class="valuelabel margin-0">
                  <md-icon md-font-icon="icon-menu-right"></md-icon>
                  Resolution
                </p>
                <div class="valuetextcontent" flex="100" ng-if="wotranfirstpcsdetitem.workorderTransFirstPcsDet.resolution">
                  <p ng-bind-html="wotranfirstpcsdetitem.workorderTransFirstPcsDet.resolution"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="articlemain" flex="100" layout="row" layout-wrap ng-if="wotranfirstpcsdetitem.isEditMode">
            <div class="articletitle" layout="row" flex="100" layout-align="space-between center">
              <p class="margin-0">
                <span class="float-left padding-right-25 margin-top-6">
                  <b>{{wotranfirstpcsdetitem.serialno}}</b>
                </span>
                <span class="float-left padding-right-10 margin-top-6">Status:</span>
                <md-radio-group name="currStatus_{{wotranfirstpcsdetitem.serialno}}" class="margin-left-10 margin-right-10 margin-top-0" layout="row"
                                ng-model="wotranfirstpcsdetitem.currStatus">
                  <md-radio-button class="margin-top-0"
                                   ng-repeat="item in vm.WoOpFirstArticleStatus" value="{{item.Value}}">{{item.Key}}</md-radio-button>
                </md-radio-group>
              </p>
              <div class="iconset">
                <md-button class="md-primary md-raised" ng-disabled="(vm.ShowFirstArticle && !vm.IsCheckInOperation) || vm.saveDisable"
                           ng-click="vm.saveWoTransFirstPcsdet(wotranfirstpcsdetitem)"
                           ng-class="{'md-formdirty': vm.checkFormDirty(vm.firstartical['wotranFirstPcsForm_'+ wotranfirstpcsdetitem.serialno],null)}">
                  Save
                </md-button>
                <md-button class="md-raised" ng-disabled="vm.ShowFirstArticle && !vm.IsCheckInOperation" ng-click="vm.cancelWoTransFirstPcsdet(wotranfirstpcsdetitem);">
                  Cancel
                </md-button>
                <md-button class="md-warn md-raised" ng-disabled="vm.ShowFirstArticle && !vm.IsCheckInOperation" ng-click="vm.deleteWoTransFirstPcsdet(true,wotranfirstpcsdetitem);">
                  Delete
                </md-button>
                <md-button class="md-icon-button margin-0 md-primary" ng-click="vm.toggleWOOperation(wotranfirstpcsdetitem);">
                  <md-icon ng-if="!wotranfirstpcsdetitem.isShow" md-font-icon="icon-chevron-down"></md-icon>
                  <md-icon ng-if="wotranfirstpcsdetitem.isShow" md-font-icon="icon-chevron-up"></md-icon>
                  <md-tooltip>{{wotranfirstpcsdetitem.isShow ? 'Collapse' : 'Expand'}}</md-tooltip>
                </md-button>
              </div>
            </div>
            <div class="articalevalue" layout="row" flex="100" layout-wrap ng-if="wotranfirstpcsdetitem.isShow">
              <div layout="row" flex="100" class="mt-10 mb-10">
                <div class="cm-section-main border-0" flex="100">
                  <div class="cm-section-inner" flex="100">
                    <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
                      <tbody>
                        <tr>
                          <th>
                            <p class="label-container">Remark</p>
                          </th>
                          <td>
                            <md-input-container flex="100">
                              <textarea custom-auto-focus="true" name="remark_{{wotranfirstpcsdetitem.serialno}}" ng-model="wotranfirstpcsdetitem.workorderTransFirstPcsDet.remark"
                                        ng-maxlength="1000" placeholder="remark">
                          </textarea>
                              <div ng-messages="vm.firstartical['wotranFirstPcsForm_'+ wotranfirstpcsdetitem.serialno]['remark_'+ wotranfirstpcsdetitem.serialno].$error" role="alert">
                                <div ng-message="maxlength">
                                  <span>{{vm.getMaxLengthValidation(1000, vm.firstartical['wotranFirstPcsForm_'+ wotranfirstpcsdetitem.serialno]['remark_'+ wotranfirstpcsdetitem.serialno].$viewValue.length)}}</span>
                                </div>
                              </div>
                            </md-input-container>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="articalecontentvalue" layout="row" flex="100" layout-align="space-between start">
                <div class="issue" flex="50" flex-xs="100">
                  <p class="valuelabel margin-0">
                    <md-icon md-font-icon="icon-menu-right"></md-icon>
                    Issues
                  </p>
                  <span class="margin-bottom-10" ng-if="vm.firstartical['wotranFirstPcsForm_'+ wotranfirstpcsdetitem.serialno]['first_article_issue_'+ wotranfirstpcsdetitem.serialno].$error.taMaxText" style="color:red; font-size:12px">{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                  <text-angular ta-toolbar="vm.taToolbar.INLINE" ng-model="wotranfirstpcsdetitem.workorderTransFirstPcsDet.issue" cg-busy-loading="vm.cgBusyLoading"
                                ng-class="{'text-angular-custom-border':vm.firstartical['wotranFirstPcsForm_'+ wotranfirstpcsdetitem.serialno]['first_article_issue_'+ wotranfirstpcsdetitem.serialno].$error.taMaxText}"
                                name="first_article_issue_{{wotranfirstpcsdetitem.serialno}}" ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"></text-angular>
                </div>

                <div class="resolution" flex="50" flex-xs="100">
                  <p class="valuelabel margin-0">
                    <md-icon md-font-icon="icon-menu-right"></md-icon>
                    Resolution
                  </p>
                  <span class="margin-bottom-10" ng-if="vm.firstartical['wotranFirstPcsForm_'+ wotranfirstpcsdetitem.serialno]['first_article_resolve_'+ wotranfirstpcsdetitem.serialno].$error.taMaxText" style="color:red; font-size:12px">{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                  <text-angular ta-toolbar="vm.taToolbar.INLINE" ng-model="wotranfirstpcsdetitem.workorderTransFirstPcsDet.resolution" cg-busy-loading="vm.cgBusyLoading"
                                ng-class="{'text-angular-custom-border':vm.firstartical['wotranFirstPcsForm_'+ wotranfirstpcsdetitem.serialno]['first_article_resolve_'+ wotranfirstpcsdetitem.serialno].$error.taMaxText}"
                                name="first_article_resolve_{{wotranfirstpcsdetitem.serialno}}" ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"></text-angular>
                </div>
              </div>
            </div>
          </div>
        </ng-form>
      </div>
    </form>
  </div>
  <div class="cm-section-main mh-5 mt-10">
    <form name="vm.firstArticalConclusionForm" flex="100">
      <div class="articlemain conclusionmain no-shadow" flex="100" layout="row" layout-wrap>
        <div class="articletitle cm-section-header" layout="row" flex="100" layout-align="space-between center">
          <p class="pt-5">
            Conclusion
            <span ng-if="vm.woOpEmployeeDetails.workorderOperation.firstPcsStatus" class="status md-primary-bg mt-5"
                  ng-repeat="item in vm.WoOpFirstArticleStatus | filter:{Value:vm.woOpEmployeeDetails.workorderOperation.firstPcsStatus}">
              {{item.Key}}
            </span>
          </p>
          <div class="iconset">
            <md-button class="md-primary md-raised mb-10" ng-disabled="(vm.ShowFirstArticle && !vm.IsCheckInOperation) || vm.saveDisable"
                       ng-class="{'md-formdirty': vm.checkFormDirty(vm.firstArticalConclusionForm,null)}"
                       ng-click="vm.saveFirstPieceArticleDetails()">
              Save
            </md-button>
          </div>
        </div>
        <div class="articalevalue cm-section-inner" layout="row" flex="100" layout-wrap>
          <div class="articalecontentvalue" layout="row" flex="100" layout-align="space-between start">
            <div class="issue" flex="100" flex-xs="100">
              <span class="margin-bottom-10" ng-if="vm.firstArticalConclusionForm.first_article_conclusion.$error.taMaxText" style="color:red; font-size:12px">
                {{vm.getDescrLengthValidation(vm.taToolbar.MAX_LENGTH, vm.firstArticalConclusionForm.first_article_conclusion.$viewValue)}}
              </span>
              <text-angular ta-toolbar="vm.taToolbar.INLINE" ng-model="vm.woOpEmployeeDetails.workorderOperation.firstPcsConclusion" cg-busy-loading="vm.cgBusyLoading"
                            ng-class="{'text-angular-custom-border':vm.firstArticalConclusionForm.first_article_conclusion.$error.taMaxText}"
                            name="first_article_conclusion" ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"></text-angular>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</fieldset>
</div>
<style>
  .md-panel.md-tooltip.md-default-theme, .md-panel.md-tooltip {
    max-width: calc(100% - 10%) !important;
    word-break: break-word;
    white-space: normal;
    height: auto;
    margin-right: 10px;
  }
</style>
