<md-dialog aria-label="StandardClass" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.CancleReasonForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.title}}</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
      <md-content class="md-padding">
        <div layout="row" layout-wrap class="cm-custom-label-common padding-10" flex="100">
          <table cellspacing="0" cellpadding="0" class="width-100p">
            <tbody>
              <tr>
                <th class="w-60 vertical-top-align">
                  <p class="label-container">Reason<span>&nbsp;*</span></p>
                </th>
                <td>
                  <md-input-container class="md-block">
                    <textarea type="text"
                              name="Reason"
                              id="Reason"
                              rows="2" max-rows="4"
                              ng-model="vm.salesorderDet.cancleReason"
                              required
                              ng-maxlength="255"
                              md-maxlength="255"
                              custom-auto-focus="true"
                              ></textarea>
                    <div ng-messages="vm.CancleReasonForm.Reason.$error" role="alert">
                      <div ng-message="required">
                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                      </div>
                      <div ng-message="maxlength">
                        <span>{{vm.getMaxLengthValidation(255,vm.CancleReasonForm.Reason.$viewValue.length)}}</span>
                      </div>
                    </div>
                  </md-input-container>
                </td>
              </tr>
              <tr ng-show="vm.data && vm.data.isPurchaseOrder && vm.data.type === 'C' ? true : false">
                <th>
                </th>
                <td class="pt-5">
                  <md-checkbox ng-model="vm.salesorderDet.CancellationConfirmed"
                               name="CancellationConfirmed" class="margin-0">
                    <p class="label-container">
                      {{vm.LabelConstant.PURCHASE_ORDER.CancellationConfirmed}}
                    </p>
                  </md-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.UpdateCancleReson()" ng-class="{'md-formdirty': vm.CancleReasonForm.$dirty}" aria-label="Submit">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
