<md-content cg-busy="{promise:vm.cgBusyLoading}">
  <div layout="row" flex="100" layout-sm="column">
    <form class="md-inline-form cm-custom-label-common width-100p pt-10 cm-so-list-filters" name="vm.filtersInfo">
      <div layout="row" flex="100" class="umid-advance-filter advanced-filters" layout-wrap>
        <div layout="row" flex="100" class="overflow-auto-rs pl-10">
          <div layout="column" class="padding-right-5" flex="15" ng-if="!vm.isFilterHidden">
            <div layout="column" class="alias-list-main cm-alias-list-main-static-block" flex>
              <div class="title alias-list-title cm-alias-list-title-static-block" layout="row" flex="100" layout-align="space-between center">
                <span class="label-container width-auto">
                  <a class="cm-text-decoration underline" ng-click="vm.goToCustomerList();"
                     tabindex="-1">Customer</a>
                </span>
                <div layout="row" layout-align="center center" flex="100" class="cm-part-mfr-list-search">
                  <md-input-container md-no-float flex="100" layout="row" class="margin-0 pos-rel">
                    <input type="text" name="CustomerSearchText" id="CustomerSearchText" ng-model="vm.CustomerSearchText"
                           placeholder="Type here to search"
                           ng-maxlength="50" autocomplete="off"
                           ng-model-options="{ debounce: vm.configTimeout }"
                           ng-change="vm.searchCustomerList()">
                    <md-button ng-if="vm.CustomerSearchText" class="md-icon-button height-20 width-20 line-height-20 cm-part-filter-clear-btn margin-top-3 padding-0"
                               ng-click="vm.clearCustomerSearchText()">
                      <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close font-size-12 color-white"></md-icon>
                    </md-button>
                  </md-input-container>
                </div>
                <div layout="row" layout-align="center center">
                  <a class="cm-text-decoration underline"
                     ng-click="vm.clearCustomerFilter();"
                     tabindex="-1"
                     ng-if="vm.customer.length">
                    Clear
                  </a>
                  <md-button ng-click="vm.getCustomerList();" class="md-primary md-link-ripple cm-part-advance-filter-btn">
                    <md-icon md-font-icon="icon-reload">
                      <md-tooltip>Reload</md-tooltip>
                    </md-icon>
                  </md-button>
                </div>
              </div>
              <select ng-model="vm.customer" size="8" multiple="" class="cm-auto-scroll" ng-if="vm.customerListToDisplay && vm.customerListToDisplay.length">
                <option ng-repeat="x in vm.customerListToDisplay" value="{{x.id}}">{{x.mfgName}}</option>
              </select>
              <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap
                   ng-if="(!vm.customerListToDisplay || vm.customerListToDisplay.length === 0) && vm.CustomerSearchText">
                <p flex="100" class="empty-state-title font-size-17-imp">{{vm.EmptyMesssages.MESSAGE}}</p>
              </div>
            </div>
          </div>
          <!--shipping method-->
          <div layout="column" class="padding-right-5" flex="15" ng-if="!vm.isFilterHidden">
            <div layout="column" class="alias-list-main cm-alias-list-main-static-block" flex>
              <div class="title alias-list-title cm-alias-list-title-static-block" layout="row" flex="100" layout-align="space-between center">
                <span class="label-container width-auto">
                  <a class="cm-text-decoration underline" ng-click="vm.goToShippingList();"
                     tabindex="-1">Shipping Method</a>
                </span>
                <div layout="row" layout-align="center center" flex="100" class="cm-part-mfr-list-search">
                  <md-input-container md-no-float flex="100" layout="row" class="margin-0 pos-rel">
                    <input type="text" name="ShippingSearchText" id="ShippingSearchText" ng-model="vm.ShippingSearchText"
                           placeholder="Type here to search"
                           ng-maxlength="50" autocomplete="off"
                           ng-model-options="{ debounce: vm.configTimeout }"
                           ng-change="vm.searchShippingList()">
                    <md-button ng-if="vm.ShippingSearchText" class="md-icon-button height-20 width-20 line-height-20 cm-part-filter-clear-btn margin-top-3 padding-0"
                               ng-click="vm.clearShippingSearchText()">
                      <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close font-size-12 color-white"></md-icon>
                    </md-button>
                  </md-input-container>
                </div>
                <div layout="row" layout-align="center center">
                  <a class="cm-text-decoration underline"
                     ng-click="vm.clearShippingFilter();"
                     tabindex="-1"
                     ng-if="vm.shippingMethods.length">
                    Clear
                  </a>
                  <md-button ng-click="vm.getShippingList();" class="md-primary md-link-ripple cm-part-advance-filter-btn">
                    <md-icon md-font-icon="icon-reload">
                      <md-tooltip>Reload</md-tooltip>
                    </md-icon>
                  </md-button>
                </div>
              </div>
              <select ng-model="vm.shippingMethods" size="8" multiple="" class="cm-auto-scroll" ng-if="vm.shippingListToDisplay && vm.shippingListToDisplay.length">
                <option ng-repeat="x in vm.shippingListToDisplay" value="{{x.gencCategoryID}}">{{x.gencCategoryDisplayName}}</option>
              </select>
              <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap
                   ng-if="(!vm.shippingListToDisplay || vm.shippingListToDisplay.length === 0) && vm.ShippingSearchText">
                <p flex="100" class="empty-state-title font-size-17-imp">{{vm.EmptyMesssages.MESSAGE}}</p>
              </div>
            </div>
          </div>
          <!--Terms method-->
          <div layout="column" class="padding-right-5" flex="10" ng-if="!vm.isFilterHidden">
            <div layout="column" class="alias-list-main cm-alias-list-main-static-block" flex>
              <div class="title alias-list-title cm-alias-list-title-static-block" layout="row" flex="100" layout-align="space-between center">
                <span class="label-container width-auto">
                  <a class="cm-text-decoration underline" ng-click="vm.goToTermsList();"
                     tabindex="-1">Terms</a>
                </span>
                <div layout="row" layout-align="center center" flex="100" class="cm-part-mfr-list-search">
                  <md-input-container md-no-float flex="100" layout="row" class="margin-0 pos-rel">
                    <input type="text" name="ShippingSearchText" id="ShippingSearchText" ng-model="vm.TermsSearchText"
                           placeholder="Type here to search"
                           ng-maxlength="50" autocomplete="off"
                           ng-model-options="{ debounce: vm.configTimeout }"
                           ng-change="vm.searchTermsList()">
                    <md-button ng-if="vm.TermsSearchText" class="md-icon-button height-20 width-20 line-height-20 cm-part-filter-clear-btn margin-top-3 padding-0"
                               ng-click="vm.clearTermsSearchText()">
                      <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close font-size-12 color-white"></md-icon>
                    </md-button>
                  </md-input-container>
                </div>
                <div layout="row" layout-align="center center">
                  <a class="cm-text-decoration underline"
                     ng-click="vm.clearTermsFilter();"
                     tabindex="-1"
                     ng-if="vm.terms.length">
                    Clear
                  </a>
                  <md-button ng-click="vm.getTermsList();" class="md-primary md-link-ripple cm-part-advance-filter-btn">
                    <md-icon md-font-icon="icon-reload">
                      <md-tooltip>Reload</md-tooltip>
                    </md-icon>
                  </md-button>
                </div>
              </div>
              <select ng-model="vm.terms" size="8" multiple="" class="cm-auto-scroll" ng-if="vm.termsListToDisplay && vm.termsListToDisplay.length">
                <option ng-repeat="x in vm.termsListToDisplay" value="{{x.gencCategoryID}}">{{x.gencCategoryDisplayName}}</option>
              </select>
              <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap
                   ng-if="(!vm.termsListToDisplay || vm.termsListToDisplay.length === 0) && vm.TermsSearchText">
                <p flex="100" class="empty-state-title font-size-17-imp">{{vm.EmptyMesssages.MESSAGE}}</p>
              </div>
            </div>
          </div>
          <div layout="column" flex="10">
            <div flex layout class="mr-5" ng-if="!vm.isFilterHidden">
              <div flex layout="row">
                <fieldset flex="100" class="container-box">
                  <legend class="margin-0">SO Working Status</legend>
                  <div layout="row" flex="100" layout-md="column" layout-sm="column">
                    <div class="input-wrapper margin-left-10" layout="column" layout-align="start center">
                      <md-checkbox ng-disabled="vm.listType===1" custom-auto-focus="{{vm.pending?vm.isfocus:false}}" ng-model="vm.pending" ng-change="vm.statusFilter()" class="mv-4">{{vm.CompelteStatus[1].value}}</md-checkbox>
                      <md-checkbox ng-disabled="vm.listType===1" custom-auto-focus="{{vm.completed?vm.isfocus:false}}" ng-model="vm.completed" ng-change="vm.statusFilter()" class="mv-4">{{vm.CompelteStatus[2].value}}</md-checkbox>
                      <md-checkbox ng-disabled="vm.listType===1" ng-model="vm.canceled" ng-change="vm.statusFilter()" class="mv-4">{{vm.CompelteStatus[3].value}}</md-checkbox>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div layout="row" layout-md="column" layout-sm="column" class="container-box mr-5 mt-5">
              <div class="input-wrapper ml-10" layout="row" layout-align="start center">
                <md-checkbox ng-model="vm.isRushJob" ng-change="vm.statusFilter()" class="mv-4">Rush Job</md-checkbox>
              </div>
            </div>
          </div>
          <div layout="column" flex="10">
            <div class="mr-5" flex layout ng-if="!vm.isFilterHidden">
              <div flex="100" layout="row">
                <fieldset flex="100" class="container-box">
                  <legend class="margin-0">SO Posting Status</legend>
                  <div layout="row" flex="100" layout-md="column" layout-sm="column">
                    <div class="input-wrapper margin-left-10" layout="column" layout-align="start center">
                      <md-checkbox ng-disabled="vm.listType===1" ng-model="vm.draft" ng-change="vm.postingStatusFilter()" class="mv-4">{{vm.WoStatus[1].value}}</md-checkbox>
                      <md-checkbox ng-disabled="vm.listType===1" ng-model="vm.publish" ng-change="vm.postingStatusFilter()" class="mv-4">{{vm.WoStatus[2].value}}</md-checkbox>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div layout="row" layout-md="column" layout-sm="column" class="container-box mr-5 mt-5">
              <div class="input-wrapper ml-10" layout="row" layout-align="start center">
                <md-checkbox ng-model="vm.isRmaPO" class="mv-4">RMA PO</md-checkbox>
              </div>
            </div>
          </div>
          <div layout="column" flex="40">
            <div class="pr-5" layout="column" flex flex-md="100" flex-sm="100">
              <fieldset flex="100" class="container-box">
                <legend class="margin-0">Search PID / Assy ID / MPN / Assy# / CPN</legend>
                <div layout="row" flex="100" layout-md="column" layout-sm="column" class="cm-po-part-height-scroll">
                  <md-input-container class="cm-widget-chip md-block full-chip margin-0" flex="100" md-no-float>
                    <md-contact-chips ng-model="vm.partIds" flex="100" layout="row" class="cm-so-contact-chip"
                                      md-contacts="vm.querycomponentSearch($query)"
                                      md-contact-name="componentParts"
                                      md-contact-image=""
                                      md-contact-email=""
                                      md-require-match="true"
                                      md-highlight-flags="i"
                                      filter-selected="true"
                                      secondary-placeholder="Add another to search"
                                      placeholder="Type here to search">
                    </md-contact-chips>
                  </md-input-container>
                </div>
                <p class="label-container text-left margin-0">((MFR Code) MFP | PID | Production PN)</p>
              </fieldset>
            </div>
            <div layout="row" class="pr-5">
              <div class="input-wrapper" flex layout="column" flex-md="100" flex-sm="100">
                <!--Date Filter-->
                <fieldset flex class="container-box">
                  <legend class="margin-0">Date</legend>
                  <div layout="row" flex="100" layout-md="column" layout-sm="column" class="mt-8">
                    <div layout="column" flex="100">
                      <common-date-filter from-date="vm.fromDate"
                                          to-date="vm.toDate"
                                          reset-filter="vm.resetDateFilter"
                                          date-type-list="vm.salesOrderDateFilterList"
                                          selected-date-type="vm.selectedDateType"></common-date-filter>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div layout="row" flex="100" class="overflow-auto-rs pl-10 mb-5">
          <div class="input-wrapper" flex="20" layout="column" flex-md="100" flex-sm="100">
            <fieldset class="container-box mr-5" flex>
              <legend class="margin-0">Search Comments</legend>
              <div flex="100" layout-align="start center">
                <div flex layout="row" layout-align="start center">
                  <md-input-container flex="100" class="margin-bottom-0">
                    <input type="text" id="comments" name="comments"
                           ng-model="vm.searchComments" placeholder="Search Comments"
                           ng-maxlength="50" ng-keypress="vm.applyFiltersOnEnter($event,vm.filtersInfo.comments.$error)"
                           autocomplete="off" />
                    <!--/*my-enter="vm.poNumber ? vm.loadData() : return;"-->
                    <div ng-messages="vm.filtersInfo.comments.$error" role="alert">
                      <div ng-message="maxlength">
                        <span>{{vm.getMaxLengthValidation(50,vm.filtersInfo.comments.$viewValue.length)}}</span>
                      </div>
                    </div>
                  </md-input-container>
                  <md-button ng-if="vm.searchComments" class="md-icon-button md-primary md-mini height-auto width-auto" ng-click="vm.removeSearchCommentFilter()">
                    <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
                    <md-tooltip>Clear</md-tooltip>
                  </md-button>
                </div>
                <span>Hint: Will search on Line Internal Notes and Line Shipping Comments</span>
              </div>
            </fieldset>
          </div>
          <div class="input-wrapper pr-5" flex="20" layout="column" flex-md="100" flex-sm="100">
            <fieldset flex="100" class="container-box">
              <legend class="margin-0">Work Order</legend>
              <div layout="row" flex="100" layout-md="column" layout-sm="column" class="cm-po-part-height-scroll">
                <md-input-container class="cm-widget-chip md-block full-chip margin-0" flex="100" md-no-float>
                  <md-contact-chips ng-model="vm.woIds" flex="100" layout="row"
                                    md-contacts="vm.queryworkorderSearch($query)"
                                    md-contact-name="woNumber"
                                    md-contact-image=""
                                    md-contact-email=""
                                    md-require-match="true"
                                    md-highlight-flags="i"
                                    filter-selected="true"
                                    secondary-placeholder="Add another to search"
                                    placeholder="Type here to search">
                  </md-contact-chips>
                </md-input-container>
              </div>
            </fieldset>
          </div>
          <div class="input-wrapper pr-5" layout flex="20" flex-md="100" flex-sm="100">
            <fieldset flex="100" class="container-box">
              <legend class="margin-0">Total Ext. Price ($)</legend>
              <div layout="row" class="input-wrapper" flex="100" layout-md="column" layout-sm="column">
                <div layout="row" layout-align="start center">
                  <md-radio-group class=" mb-5" flex="100" layout="row" ng-model="vm.checkSerachAmountType" name="checkSerachType">
                    <md-radio-button ng-value="vm.CheckSearchTypeList[1].id" class="md-primary margin-top-0">Contains</md-radio-button>
                    <md-radio-button ng-value="vm.CheckSearchTypeList[0].id" class="md-primary margin-top-0">Exact</md-radio-button>
                  </md-radio-group>
                </div>
                <div layout="row" flex="100" layout-align="start center">
                  <md-input-container flex="100" class="margin-bottom-0">
                    <input type="number" id="amount" name="amount"
                           ng-model="vm.amount" placeholder="Amount"
                           onkeypress="return OnlyNumbersWithDot(event)"
                           ng-maxlength="18" min="0" step="{{$root.amountInputStep}}">
                    <div ng-messages="vm.filtersInfo.amount.$error" role="alert">
                      <div ng-message="maxlength">
                        <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                      </div>
                      <div ng-message="number || step">
                        <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                      </div>
                    </div>
                  </md-input-container>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="input-wrapper pr-5" layout flex flex-md="100" flex-sm="100">
            <fieldset flex="100" class="container-box">
              <legend class="margin-0">Search PO#/SO#/RMA#</legend>
              <div layout="row" flex="100" class="input-wrapper" layout-md="column" layout-sm="column">
                <div layout="row" layout-align="start center">
                  <md-radio-group class=" mb-5" flex="100" layout="row" ng-model="vm.checkSerachPOType" name="checkSerachType">
                    <md-radio-button id="" ng-value="vm.CheckSearchTypeList[1].id" class="md-primary margin-top-0">Contains</md-radio-button>
                    <md-radio-button ng-value="vm.CheckSearchTypeList[0].id" class="md-primary margin-top-0">Exact</md-radio-button>
                  </md-radio-group>
                </div>
                <div layout="row" flex="100" layout-align="start center">
                  <md-input-container flex="100" class="margin-bottom-0">
                    <input type="text" id="posoNumber" name="posoNumber" ng-model="vm.posoNumber"
                           ng-maxlength="50" ng-keypress="vm.applyFiltersOnEnter($event,vm.filtersInfo.posoNumber.$error)"
                           placeholder="Payment Number" />
                    <div ng-messages="vm.filtersInfo.posoNumber.$error" role="alert">
                      <div ng-message="maxlength">
                        <span>{{vm.getMaxLengthValidation(50,vm.filtersInfo.paymentNumber.$viewValue.length)}}</span>
                      </div>
                    </div>
                  </md-input-container>
                  <md-button ng-if="vm.posoNumber" class="md-icon-button md-primary md-mini height-auto width-auto" ng-click="vm.removeSearchPOFilter()">
                    <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
                    <md-tooltip>Clear</md-tooltip>
                  </md-button>
                </div>
              </div>
            </fieldset>
          </div>
          <div layout="column" class="mr-5 mt-10 cm-btn-group">
            <div class="cm-section-main input-wrapper pt-10" flex="100" layout="row" layout-align="end start">
              <!--<md-button class="md-primary md-raised md-ink-ripple mv-0" ng-click="vm.advanceFilterSearch()">Apply Filters</md-button>
      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-click="vm.reset()">Reset</md-button>-->
              <md-button class="md-primary md-raised md-ink-ripple" ng-click="vm.advanceFilterSearch()">{{vm.LabelConstant.COMMON.APPLY_FILTERS}}</md-button>
              <md-button class="md-default md-raised md-ink-ripple" ng-click="vm.reset(true)">{{vm.LabelConstant.COMMON.CLEAR_ALL}}</md-button>
              <md-button class="md-default md-raised md-ink-ripple" ng-click="vm.reset()">{{vm.LabelConstant.COMMON.RESET}}</md-button>
            </div>
          </div>
        </div>
      </div>
      <div layout="row" layout-align="start center" layout-wrap flex="100" class="padding-left-10 mb-5" ng-if="vm.generateFilter">
        <span class="font-weight-600">  {{vm.LabelConstant.COMMON.APPLIED_FILTERS}}         </span>
        <div ng-repeat="item in vm.SalesOrderAdvanceFilter" layout="row" layout-align="start center" class="cm-tracking-chip-mian"
             ng-if="!item.isDeleted">
          <div class="tracking-number-chip" layout="row" layout-align="start center">
            <label>
              {{item.value}}
              <md-tooltip md-direction="top" ng-if="item.tooltip" class="tooltip-height-auto"
                          ng-bind-html="item.tooltip">
              </md-tooltip>
            </label>
            <md-button class="md-icon-button md-primary md-mini" ng-click="vm.removeAppliedFilter(item, $index)">
              <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
              <md-tooltip>Click to remove this filter</md-tooltip>
            </md-button>
          </div>
        </div>
        <div layout="row" layout-align="start center" class="cm-tracking-chip-mian">
          <div class="tracking-number-chip" layout="row" layout-align="start center">
            <label>
              Clear All
            </label>
            <md-button class="md-icon-button md-primary md-mini" ng-click="vm.reset(true)">
              <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
              <md-tooltip>Clear All Filters and Reload Data</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
      <div layout="row" layout-align="start center" layout-wrap flex="100" class="padding-left-10 mb-5"
           ng-if="vm.isUiGridColumnFiltersApplied && vm.gridOptions.gridApi && vm.gridOptions.gridApi.grid.columns.length > 0">
        <span class="font-weight-600">    {{vm.LabelConstant.COMMON.APPLIED_GRID_FILTERS}}        </span>
        <div ng-repeat="item in vm.gridOptions.gridApi.grid.columns" layout="row" layout-align="start center" class="cm-tracking-chip-mian"
             ng-if="item.filters[0].term">
          <div class="tracking-number-chip" layout="row" layout-align="start center" ng-if="item.filters[0].term">
            <label>
              {{item.displayName}}
              <md-tooltip md-direction="top" ng-if="item.filters[0].term" class="tooltip-height-auto"
                          ng-bind-html="item.filters[0].term">
              </md-tooltip>
            </label>
            <md-button class="md-icon-button md-primary md-mini" ng-click="vm.clearGridColumnFilter(item, $index)">
              <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
              <md-tooltip>Click to remove this filter</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="content-card" layout="column" flex ng-show="!vm.isNoDataFound" ng-class="{'cm-salesorder-list': vm.listType === 0, 'cm-pendingppo-list': vm.listType === 1}">
    <md-card layout="column" flex layout-align="space-between stretch" class="margin-0 padding-10 padding-top-0">
      <ui-grid-extention grid-id="vm.gridId"
                         load-data="vm.loadData"
                         grid-option="vm.gridOptions"
                         header="vm.sourceHeader"
                         grid-data="vm.sourceData"
                         total-data-count="vm.totalSourceDataCount"
                         reset-grid="vm.resetSourceGrid"
                         selectted-rows="vm.selectedRowsList"
                         paging-info="vm.pagingInfo"
                         current-item="vm.currentdata"
                         get-data-down="vm.getDataDown"
                         empty-state="vm.emptyState"
                         delete-multiple-data="vm.deleteMultipleData">
    </md-card>
  </div>
  <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound == true && vm.listType === 0">
    <div class="emty-icon" flex="100">
      <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
    </div>
    <p flex="100" ng-if="vm.isAllFilterClear" class="empty-state-title">{{vm.EmptyMesssage.CLEARALLFILTERMESSAGE}}</p>
    <p flex="100" ng-if="!vm.isAllFilterClear" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
    <p flex="100" ng-if="!vm.isAllFilterClear">
      {{vm.EmptyMesssage.ADDNEWMESSAGE}}
    </p>
    <p flex="100" ng-if="!vm.isAllFilterClear">
      <md-button class="md-fab md-mini" aria-label="Add Sales Order" ng-click="vm.addRecord(null,$event)">
        <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
        <md-tooltip> Add Sales Order</md-tooltip>
      </md-button>
      <md-button class="md-fab md-mini" aria-label="Refresh Sales Order" ng-click="vm.refreshSalesOrder()">
        <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
        <md-tooltip>Refresh Sales Order</md-tooltip>
      </md-button>
    </p>
  </div>
  <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound == true && vm.listType === 1">
    <div class="emty-icon" flex="100">
      <img ng-src="{{vm.EmptyMesssageForPECustPackingSlip.IMAGEURL}}" />
    </div>
    <p flex="100" ng-if="vm.isAllFilterClear" class="empty-state-title">{{vm.EmptyMesssage.CLEARALLFILTERMESSAGE}}</p>
    <p flex="100" ng-if="!vm.isAllFilterClear" class="empty-state-title">{{vm.EmptyMesssageForPECustPackingSlip.MESSAGE}}</p>
    <p flex="100" ng-if="!vm.isAllFilterClear" >
      <md-button class="md-fab md-mini" aria-label="Refresh Pending Customer Packing Slip Creation" ng-click="vm.refreshSalesOrder()">
        <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
        <md-tooltip>Refresh Pending Customer Packing Slip Creation</md-tooltip>
      </md-button>
    </p>
  </div>
</md-content>

<style>
  .md-contact-suggestion .md-contact-name {
    width: auto !important;
  }
</style>
