<md-dialog aria-label="Supplier RMA Duplicate Confirmation Popup" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>

  <md-dialog-content class="padding-25">
    <md-content>
      <h2 class="md-title ng-binding">{{vm.messageContent ? vm.messageContent.messageType : ''}}: {{vm.messageContent ? vm.messageContent.messageCode : ''}}</h2>

      <div class="dynamic-msg-content">
        <div class="dynamic-msg-body">
          <ng-bind-html ng-if="vm.messageContent && vm.messageContent.message" ng-bind-html="vm.messageContent.message"></ng-bind-html>
        </div>
        <div flex="100" ng-if="vm.messageData && vm.messageData.mfgList.length > 0" class="mt-15">
          <div flex>
            <div class="cm-section-inner">
              <table class="table-umid-allocated-kit width-100p">
                <thead>
                  <tr class="bgcolor-summary">
                    <th>#</th>
                    <th>Part#</th>
                    <th class="width-100px">Rev</th>
                    <th>{{vm.LabelConstant.MFG.MFGPN}}</th>
                    <th>{{vm.LabelConstant.MFG.Nickname}}</th>
                  </tr>
                </thead>
                <tbody ng-repeat="item in vm.messageData.mfgList">
                  <tr class="text-center">
                    <td>{{($index+1)}}</td>
                    <td>{{item.custAssyPN}}</td>
                    <td>{{item.rev}}</td>
                    <td>
                      <a class="cursor-pointer text-underline color-black" ng-click="vm.goToAssyMaster(item.id);">
                        {{item.mfgPN}}
                      </a>
                      <copy-text label="vm.LabelConstant.MFG.MFGPN" text="item.mfgPN"></copy-text>
                    </td>
                    <td>{{item.nickName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button class="md-raised" ng-click="vm.cancel(item.name)" custom-auto-focus="true">
      {{vm.buttonsText}}
    </md-button>
  </md-dialog-actions>

</md-dialog>
