<div id="forms" class="page-layout simple fullwidth doc-page breadcrumb-fixed cm-custom-label-common" layout="column" cg-busy="{promise:vm.cgBusyLoading}" ng-class="{'cm-packing-slip-empty': vm.isNoDataFound == true}">

  <div class="header md-accent-bg" layout="row" layout-align="space-between center">
    <div class="white-fg" layout="column" layout-align="start start">
      <div class="h2" layout="row" layout-align="start center">
        <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
      </div>
      <div layout="row" layout-align="start center">
        <breadcrumbs></breadcrumbs>
      </div>
    </div>
    <div>
      <md-button class="md-primary md-raised" ng-click="vm.addReserveStockRequest()" ng-if="!vm.isNoDataFound">
        Add Reserve Stock Request
      </md-button>
    </div>
  </div>

  <div class="content-card padding-top-side" layout="column" flex>
    <div class="padding-10 cm-empty-center" flex="100">
      <div flex="100" layout="row" layout-wrap>
        <div flex ng-show="!vm.isNoDataFound">
          <md-card layout="column" class="margin-0" flex layout-align="space-between stretch">
            <ui-grid-extention class="cm-reserve-stock-grid"
                               grid-id="vm.gridConfig.gridReaserveStockRequest"
                               load-data="vm.loadData"
                               grid-option="vm.gridOptions"
                               header="vm.sourceHeader"
                               grid-data="vm.sourceData"
                               total-data-count="vm.totalSourceDataCount"
                               reset-grid="vm.resetSourceGrid"
                               selectted-rows="vm.selectedRowsList"
                               paging-info="vm.pagingInfo"
                               current-item="vm.currentdata"
                               get-data-down="vm.getDataDown"
                               empty-state="vm.emptyState"
                               delete-multiple-data="vm.deleteRecord">
          </md-card>
        </div>
        <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound">
          <div class="emty-icon" flex="100">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
          </div>
          <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
          <p flex="100">
            {{vm.EmptyMesssage.ADDNEWMESSAGE}}
          </p>
          <p flex="100">
            <md-button class="md-fab md-mini" aria-label="Add Packing Slip" ng-click="vm.addReserveStockRequest()">
              <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
              <md-tooltip md-direction="top">Add Reserve Stock Request</md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Refresh Packing Slip" ng-click="vm.loadData()">
              <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
              <md-tooltip md-direction="top">Refresh Reserve Stock Request</md-tooltip>
            </md-button>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

