<div ng-if="vm.componentList.length > 0" flex="100" class="cm-section-main" layout-wrap>
  <div class="cm-section-header" flex="100" layout="row" layout-align="space-between center">
    <div>
      <img ng-src="{{vm.tmaxIcon}}"><h2 class="inline-block">Temperature Sensitive Part List</h2>
    </div>
    <div>
      <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus cursor-pointer" ng-click="vm.refreshList()"></md-icon>
      <md-tooltip>Refresh Temperature Sensitive Part List</md-tooltip>
    </div>
  </div>
  <div class="cm-section-inner" flex="100">
    <table md-table class="md-data-table table-row-select" ms-responsive-table>
      <thead md-head md-order="">
        <tr md-row>
          <th md-column>#</th>
          <th md-column>Max Soldering Temperature (°C) (Seconds)</th>
          <th md-column md-order-by="PIDCode">{{vm.LabelConstant.MFG.PID}}</th>
          <th md-column md-order-by="mfgPNDescription">{{vm.LabelConstant.MFG.MFGPNDescription}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="item in vm.componentList">
          <td md-cell>{{$index+1}}</td>
          <td md-cell>
            {{item.pickTemperatureAbove}} °C ({{item.timeLiquidusSecond}} Seconds)
          </td>
          <td md-cell>
            <common-pid-code-label-link component-id="item.refComponentID"
                                        label="vm.LabelConstant.MFG.PID"
                                        value="item.PIDCode"
                                        is-copy="true"
                                        is-mfg="true"
                                        mfg-label="vm.LabelConstant.MFG.MFGPN"
                                        mfg-value="item.mfgPN"
                                        rohs-icon="vm.rohsImagePath + item.rohsIcon"
                                        rohs-status="item.rohsName"
                                        is-copy-ahead-label="true"
                                        is-search-digi-key="true"
                                        is-search-findchip="true"
                                        is-custom-part="item.isCustom">
            </common-pid-code-label-link>
          </td>
          <td md-cell>
            {{item.mfgPNDescription}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
