<md-dialog aria-label="assy-quantity-price-selection" class="operation-pop-main" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.mountForm">
        <md-toolbar ng-class="vm.themeClass">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2>Part Attribute Mapping List</h2>
                <div class="icon-question-mark-circle margin-left-5">
                    <md-tooltip md-direction="top">Part has been retrieved with TBD type,
                          You can map it here with existing one. </md-tooltip>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
            <div class="content-card" layout="row" flex="100" ng-show="!vm.isNoDataFound" ng-if="vm.isshowDetail">
                <md-card layout="column" class="margin-0" flex layout-align="space-between stretch">

                    <ui-grid-extention id="grid-part-costing-select" load-data="vm.loadData"
                                       grid-option="vm.gridOptions"
                                       header="vm.sourceHeader"
                                       grid-data="vm.sourceData"
                                       total-data-count="vm.totalSourceDataCount"
                                       reset-grid="vm.resetSourceGrid"
                                       selectted-rows="vm.selectedRowsList"
                                       paging-info="vm.pagingInfo"
                                       current-item="vm.currentdata"
                                       empty-state="vm.emptyState"
                                       get-data-down="vm.getDataDown">

                </md-card>
            </div>
            <div layout="row" flex="100" class="empty-state text-center full-height" layout-align="center center" layout-wrap ng-show="vm.isNoDataFound">
                <div class="emty-icon" flex="100">
                    <img ng-if="vm.isNoDataFound" ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                </div>
                <p ng-if="vm.isNoDataFound" flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <p><b>{{vm.CORE_MESSAGE_CONSTANT.UI_GRID_EDIT_NOTE}}</b></p>
            <div>
                <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="vm.savecomponent()"  ng-class="vm.themeClass">Save</md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>

<style>
    .gridheight {
    height: calc(100vh - 330px) !important;
}
</style>
