<md-dialog aria-label="Employee" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.dataElementForm" flex="100" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.data.title}}: {{vm.name ? vm.name : DataElement}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll">
            <md-content class="md-padding mr-5" layout="" layout-gt-xs="row">
                <div flex="100" ng-if="vm.MainTitle.OperationDataFields == vm.data.title">
                    <workorder-trans-data-element entity="{{vm.Entity.Operation}}"
                                                  dataelement-list="vm.dataElementList"
                                                  wo-trans-id="{{vm.data.woTransID}}"
                                                  wo-op-id="{{vm.data.woOpEmployeeDetails.workorderOperation.woOPID}}"
                                                  wo-id="{{vm.data.woOpEmployeeDetails.workorderOperation.woID}}"
                                                  entity-id="vm.entityID"
                                                  file-list="vm.fileList"
                                                  called-from-page="'travelers-op-popup'"></workorder-trans-data-element>
                </div>
                <div flex="100" layout="row" layout-wrap ng-if="vm.MainTitle.EquipmentDataFields == vm.data.title">
                    <workorder-trans-equipment-data-element entity="{{vm.Entity.Equipment}}"
                                                            dataelement-list="vm.dataElementList"
                                                            wo-trans-id="{{vm.data.woTransID}}"
                                                            wo-op-id="{{vm.data.woOpEmployeeDetails.workorderOperation.woOPID}}"
                                                            wo-id="{{vm.data.woOpEmployeeDetails.workorderOperation.woID}}"
                                                            eqp-id="vm.data.datalist.eqpID"
                                                            entity-id="vm.entityID"
                                                            file-list="vm.fileList"></workorder-trans-equipment-data-element>
                </div>
                <div flex="100" layout="row" layout-wrap ng-if="vm.MainTitle.WorkorderDataFields == vm.data.title">
                    <form id="workorderTravelerDetails" name="vm.workorderFormDetails" novalidate layout="row" flex="100">
                        <view-data-element entity="{{vm.Entity.Workorder}}"
                                           dataelement-list="vm.woDataElementList"
                                           ref-trans-id="{{vm.data.woOpEmployeeDetails.workorderOperation.woID}}"
                                           entity-id="vm.woEntityID"
                                           file-list="vm.fileList"
                                           apply-traveler-filter="true"
                                           curr-active-form="vm.workorderFormDetails"></view-data-element>
                    </form>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-if="vm.dataElementList.length > 0 && (vm.MainTitle.WorkorderDataFields != vm.data.title)" ng-click="vm.SaveDetailsForWoTransDataElement()">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
