<md-dialog aria-label="Search UMID" class="cm-custom-label-common receiving-pop-main" draggable>
  <form name="vm.SeachUMIDDetails" class="md-inline-form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Search & Collect Part from Smart Cart</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="no-padding custom-scroll mh-5" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
      <md-content class="padding-10">
        <div class="cm-section-main" flex="100">
          <div class="cm-section-inner margin-top-10">
            <table cellpadding="0" cellspacing="0" class="cm-table-input-main" flex="100" layout-align="start-center" layout="row">
              <tbody>
                <tr>
                  <th>
                    <p class="label-container">
                      <a tabindex="-1" class="cm-text-decoration underline"
                         ng-mousedown="vm.goToUMIDList();$event.preventDefault();">
                        <b>{{vm.LabelConstant.Traveler.Scan_UMID}}</b>
                      </a>
                      <scan-or-enter></scan-or-enter>
                    </p>
                  </th>
                  <td class="padding-right-20 w-200">
                    <div class="display-flex">
                      <md-input-container flex="100" class="margin-bottom-0 md-block margin-top-0 scan-label-text">
                        <input type="text" name="umid" md-select-on-focus ng-model="vm.umid" id="umid"
                               ng-maxlength="vm.UMID_MAX_LENGTH"
                               placeholder="{{vm.LabelConstant.ScanOREnter.ScanUMID}}" capitalize class="input-text-uppercase"
                               ng-keypress="vm.scanLabel($event,true)"
                               md-autofocus>
                        <span flex="100" class="font-size-10">
                          <b>{{vm.LabelConstant.ScanOREnter.ScanUMID}}</b>
                        </span>
                        <div ng-messages="vm.SeachUMIDDetails.umid.$error"
                             role="alert">
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(vm.UMID_MAX_LENGTH,vm.SeachUMIDDetails.umid.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    <md-button class="md-icon-button toolbar-button margin-0" aria-label="Clear" ng-if="vm.umid" ng-click="vm.umid = '';">
                      <md-icon md-font-icon="icon-close" role="img" class="mb-10 ml-0"></md-icon>
                    </md-button>
                      </div>
                  </td>
                  <th>
                    <p class="label-container margin-top-5"><b>OR</b></p>
                  </th>
                  <th class="padding-left-20">
                    <p class="label-container">
                      <b>{{vm.LabelConstant.Traveler.Scan_Feeder}}</b>
                      <scan-or-enter></scan-or-enter>
                    </p>
                  </th>
                  <td class="w-200">
                    <md-input-container flex="100" class="margin-bottom-0 md-block margin-top-0 scan-label-text">
                      <input type="text" name="feederLocation" ng-maxlength="100" id="feederLocation"
                             placeholder="{{vm.LabelConstant.ScanOREnter.ScanFeeder}}"
                             ng-keypress="vm.scanLabel($event,false)"
                             ng-model="vm.feederLocation">
                      <span flex="100" class="font-size-10">
                        <b>{{vm.LabelConstant.ScanOREnter.ScanFeeder}}</b>
                      </span>
                      <div ng-messages="vm.SeachUMIDDetails.feederLocation.$error"
                           role="alert">
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(100,vm.SeachUMIDDetails.feederLocation.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                  <td>
                    <md-button class="md-primary md-raised mt-0"
                               ng-click="vm.clear()">
                      Clear
                    </md-button>
                    <md-button class="md-primary md-raised mt-0"
                               ng-click="vm.uidTranfer($event, {updateStock:false})">
                      {{vm.LabelConstant.UMIDManagement.TransferMaterial}}
                    </md-button>
                  </td>

                </tr>
                <tr>
                  <td colspan="8" class="cm-machine-setup-list">
                    <feeder-umid-list 
                                      filter-list="vm.allocatedUMIDList"
                                      is-search="true"
                                      is-selected-list="vm.selectedUMIDList"
                                      ></feeder-umid-list>
                  </td>
                </tr>
                <tr>
                  <td colspan="8" class="cm-machine-setup-list">
                    <feeder-umid-list
                                      filter-list="vm.selectedUMIDList"
                                      is-search="false"
                                      is-selected="true"
                                      ></feeder-umid-list>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
