<md-dialog aria-label="Employee" flex="40" draggable>
  <form name="vm.changePartForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Confirmation</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll">
      <md-content class="padding-0-10-imp mh-5" layout="column" layout-gt-xs="column">
        <div flex="80" layout="row" class="padding-top-10" ng-if="vm.autoCompleteBasePart.keyColumnId !== vm.data.parentDet.id">
          <b ng-bind-html="vm.confirmationChangePackagingBasePart"></b>
        </div>
        <div flex="80" layout="row" class="padding-top-10">
          <b ng-bind-html="vm.copyPartSettingNote"></b>
        </div>
        <div class="cm-section-main border-0" flex="100">
          <div class="cm-section-inner ph-0-imp">
            <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
              <tbody>
                <tr>
                  <th>
                    <p class="label-container">Select Part<span>&nbsp;*</span></p>
                  </th>
                  <td>
                    <md-input-container class="autocompletecustom min-width-initial cm-custom-autocomplete margin-0" flex="100" md-no-float>
                      <custom-auto-complete datalist="vm.partList"
                                            column-name="vm.autoCompleteBasePart.columnName"
                                            key-column-name="vm.autoCompleteBasePart.keyColumnName"
                                            controller-name="vm.autoCompleteBasePart.controllerName"
                                            view-template-url="vm.autoCompleteBasePart.viewTemplateURL"
                                            input-name="vm.autoCompleteBasePart.inputName"
                                            placeholder-name="vm.autoCompleteBasePart.placeholderName"
                                            key-column-id="vm.autoCompleteBasePart.keyColumnId"
                                            is-addnew="vm.autoCompleteBasePart.isAddnew"
                                            callback-fn="vm.autoCompleteBasePart.callbackFn"
                                            is-required="vm.autoCompleteBasePart.isRequired"
                                            on-select-callback-fn="vm.autoCompleteBasePart.onSelectCallbackFn"
                                            ng-class="{'cm-input-color-red' : vm.autoCompletePartType.keyColumnId==-1}">
                    </md-input-container>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-class="{'md-formdirty': vm.changePartForm.$dirty}" ng-click="vm.SaveDet()">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
