<md-dialog aria-label="external-api-key-popup" class="operation-pop-main" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.externalApiForm">
        <md-toolbar ng-class="vm.themeClass">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2>Digikey API Key Setting</h2>
                <span flex></span>
                <div layout="row" layout-align="center center">
                    <popup-header-label label-data="vm.headerdata"></popup-header-label>
                </div>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding" layout="row">
            <div class="md-padding" flex="100"> <!--padding-10-->
                <div class="content-card padding-10" layout="row" flex="100" ng-show="!vm.isNoDataFound">
                    <md-card layout="column" class="margin-0 cm-price-selection-grid cm-digikey-grid" flex layout-align="space-between stretch">
                        <ui-grid-extention id="grid-part-costing-select" load-data="vm.loadData"
                                           grid-option="vm.gridOptions"
                                           header="vm.sourceHeader"
                                           grid-data="vm.sourceData"
                                           total-data-count="vm.totalSourceDataCount"
                                           reset-grid="vm.resetSourceGrid"
                                           selectted-rows="vm.selectedRowsList"
                                           paging-info="vm.pagingInfo"
                                           current-item="vm.currentdata"
                                           empty-state="vm.emptyState"
                                           get-data-down="vm.getDataDown">
                    </md-card>
                </div>
                <div layout="row" flex="100" class="empty-state text-center full-height" layout-align="center center" layout-wrap ng-show="vm.isNoDataFound">
                    <div class="emty-icon" flex="100">
                        <img ng-if="vm.isNoDataFound" ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                    </div>
                    <p ng-if="vm.isNoDataFound" flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <p><b>{{vm.CORE_MESSAGE_CONSTANT.UI_GRID_EDIT_NOTE}}</b></p>
            <div>
                <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="vm.saveExternalApiSettings()" ng-class="{'md-formdirty':vm.isdirty}" ng-disabled="!vm.isdirty">Save</md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>


