<md-dialog aria-label="History" flex="80" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{vm.Title}}</h2>
      <span flex></span>
      <popup-header-label label-data="vm.headerdata"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding" layout="column">
    <md-content class="padding-10" layout="column">
      <div ng-if="vm.id && vm.TableName" layout="column" class="cm-part-master-history" flex>
        <common-history-grid id="vm.id" table-name="vm.TableName" title-name="vm.Title" empty-messsage="vm.EmptyMesssage"  layout flex></common-history-grid>
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
  </md-dialog-actions>
</md-dialog>
