<md-dialog aria-label="StandardClass" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.ReasonForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Reason</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
      <md-content class="md-padding">
        <div layout="row" layout-wrap class="cm-custom-label-common padding-10" flex="100">
          <div layout="row" flex="100" class="input-wrapper">
            <p class="label-container">Reason<span>&nbsp;*</span></p>
            <md-input-container class="md-block">
              <textarea name="Reason" ng-maxlength="1000" md-auto-focus="true" md-maxlength="1000" required ng-model="vm.reason" rows="2" max-rows="3" placeholder="Reason"
                        ></textarea>
              <div ng-messages="vm.ReasonForm.Reason.$error " role="alert">
                <div ng-message="required">
                  <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                </div>
                <div ng-message="maxlength">
                  <span>{{vm.getMaxLengthValidation(1000,vm.ReasonForm.Reason.$viewValue.length)}}</span>
                </div>
              </div>
            </md-input-container>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.saveReason()" ng-class="{'md-formdirty': vm.ReasonForm.$dirty}" aria-label="Submit">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
