<md-dialog aria-label="Digikey-Verification cm-custom-label-common" flex="70" draggable cg-busy="{promise:vm.cgBusyLoading}">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{vm.ipWebcamObj.HeaderLabel}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="ipWebCamConfiguration" ng-model="vm.ipWebCamConfiguration" novalidate>
    <!--<md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>-->
    <md-dialog-content class="customer-modal no-padding custom-scroll margin-top-10">
      <md-content class="md-padding" layout="column" layout-gt-xs="column">
        <div flex="100" layout="row" class="padding-left-10">
          <div flex="95" layout="column" layout-wrap>
            <p class="label-container"><b>Step 1:&nbsp;{{vm.ipWebcamObj.Step1Message}}</b></p>
            <div class="margin-left-50"><a class="cursor-pointer" ng-click="vm.GoToPlaystore($event)">{{vm.ipWebcamObj.DownloadLink}}</a></div>
          </div>
        </div>
        <div flex="100" layout="row" class="padding-left-10 mt-10">
          <div flex="95" layout="column" layout-wrap>
            <p class="label-container"><b>Step 2:&nbsp;{{vm.ipWebcamObj.Step2Message}}</b></p>
          </div>
        </div>
        <div flex="100" layout="row" class="padding-left-10">
          <div flex="95" layout="column" layout-wrap>
            <div class="margin-left-50 ipconfig-server">
              <img src="../../../assets/images/emptystate/videoPreferances.png" />
              <img src="../../../assets/images/emptystate/webCamConfigFromApp.png" />
            </div>
          </div>
        </div>
        <div flex="100" layout="row" class="padding-left-10 padding-top-10">
          <div flex="95" layout="column" layout-wrap>
            <p class="label-container"><b>Step 3:&nbsp;{{vm.ipWebcamObj.Step3Message}}</b></p>
            <div class="margin-left-50"><b>{{vm.ipWebcamObj.Step3SubMessage1}}</b></div>
          </div>
        </div>
        <div flex="100" layout="row" class="padding-left-10 padding-top-10">
          <div flex="95" layout="column" layout-wrap>
            <div class="margin-left-50 ipconfig-server mb-10"><img src="../../../assets/images/emptystate/startServer.png" /></div>
          </div>

        </div>
        <div flex="100" layout="row" class="padding-left-10">
          <div flex="95" layout="column" layout-wrap>
            <p class="label-container"><b>Step 4:&nbsp;{{vm.ipWebcamObj.Step4Message1}}</b></p>
          </div>
        </div>
        <div flex="100" layout="row" class="padding-left-10">
          <div flex="95" layout="column" layout-wrap>
            <div class="margin-left-50 width-500 mb-10"><img src="../../../assets/images/emptystate/webCamURL.png" /></div>
          </div>
        </div>
        <div flex="100" layout="row" class="padding-left-55 mt-10">
          <div flex="95" layout="column" layout-wrap>
            <p class="label-container"><b>{{vm.ipWebcamObj.Step4URLNote}}</b></p>
          </div>
        </div>
        <div flex="100" layout="row" class="padding-left-10 ">
          <div flex="95" layout="column" layout-wrap>
            <div class="margin-left-25 ipconfig-server">
              <!--<img src="../../../assets/images/emptystate/webCamConfigByIP.png" />-->
              <img class="width-500" src="../../../assets/images/emptystate/allowConnection.png" />
            </div>
            <!--<div class="margin-left-25">
              <img src="../../../assets/images/emptystate/allowConnection.png"  />
            </div>-->
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
