<md-dialog aria-label="Re Release Validation" class="cm-custom-label-common" draggable flex="65">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Update Employee Burden Rate & Payment Mode</span>
      </h2>
      <span flex></span>
      <popup-header-label label-data="vm.headerdata"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="vm.burdenPaymentForm" id="burdenPaymentForm">
    <md-dialog-content class="no-padding custom-scroll">
      <md-content class="padding-10" flex="100">
        <div flex="100" layout="row" class="cm-section-main border-0">
          <div flex="100" class="cm-section-inner">
            <div flex="100" layout-align="start start" class="pv-5">
              <label class="color-red">{{vm.CORE_MESSAGE_CONSTANT.SELECT_EMPLOYEE_DETAILS_OPTION_NOTE}}</label>
            </div>
            <div flex="100" layout-align="start start" class="pv-5">
              <md-radio-group flex="100" md-autofocus ng-change="vm.employeeModel.isChangeDetail = false;"
                ng-model="vm.employeeModel.isFromMaster">
                <md-radio-button id="isFromMaster" ng-value="true" class="md-primary margin-0">
                  <label class="font-size-15-imp">Update From Personnel</label>
                </md-radio-button>
            </div>
            <div flex="100" layout-align="start start" class="pv-5">
              <md-radio-group flex="100" ng-change="vm.employeeModel.isFromMaster = false;"
                ng-model="vm.employeeModel.isChangeDetail">
                <md-radio-button id="isChangeDetail" ng-value="true" class="md-primary margin-0">
                  <label class="font-size-15-imp">Change Manually</label>
                </md-radio-button>
              </md-radio-group>
            </div>
          </div>
        </div>
        <div layout="row" layout-wrap class="cm-section-main margin-bottom-5" flex="100"
          ng-if="vm.employeeModel.isChangeDetail">
          <div class="cm-section-inner overflow-auto-rs" flex="100">
            <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
              <tbody>
                <tr>
                  <th>
                    <p class="label-container">Payment Mode</p>
                  </th>
                  <td class="w-250">
                    <md-input-container flex="100" class="md-input-has-value">
                      <md-radio-group name="paymentMode" ng-model="vm.employeeModel.paymentMode" layout="column"
                        layout-gt-xs="row" flex layout-align="start start" class="margin-0">
                        <md-radio-button name="paymentModeExempt" class="margin-right-0"
                          value="{{vm.paymentMode.Exempt}}">{{vm.paymentMode.Exempt}}</md-radio-button>
                        <md-radio-button name="paymentModeNonExempt" class="margin-left-10"
                          value="{{vm.paymentMode.Non_exempt}}">{{vm.paymentMode.Non_exempt}}</md-radio-button>
                      </md-radio-group>
                    </md-input-container>
                  </td>
                  <th>
                    <p class="label-container">{{vm.employeeModel.paymentMode == vm.paymentMode.Exempt ? 'Annual Salary'
                      : 'Hourly Rate'}}<span>&nbsp;*</span></p>
                  </th>
                  <td ng-if="vm.employeeModel.paymentMode == vm.paymentMode.Exempt">
                    <md-input-container class="input-with-usd-symbol padding-left-0-imp">
                      <md-icon md-font-icon="icon-currency-usd" class="usdicon"></md-icon>
                      <input ng-model="vm.employeeModel.burdenRate" type="number" name="burdenRate"
                        placeholder="Annual Salary" ng-maxlength="8" min="0"
                        ng-required="vm.employeeModel.isChangeDetail" input-number-decimal-place
                        onkeypress="return OnlyNumbersWithDot(event)" step="{{$root.amountInputStep}}" />
                      <div ng-messages="vm.burdenPaymentForm.burdenRate.$error" role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(8,
                            vm.burdenPaymentForm.burdenRate.$viewValue.length)}}</span>
                        </div>
                        <div ng-message="number || step">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                  <td ng-if="vm.employeeModel.paymentMode == vm.paymentMode.Non_exempt">
                    <md-input-container class="input-with-usd-symbol padding-left-0-imp">
                      <md-icon md-font-icon="icon-currency-usd" class="usdicon"></md-icon>
                      <input ng-model="vm.employeeModel.burdenRate" type="number" name="burdenRate"
                        placeholder="Hourly Rate" ng-maxlength="10" min="0"
                        ng-required="vm.employeeModel.isChangeDetail" />
                      <div ng-messages="vm.burdenPaymentForm.burdenRate.$error" role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(10,
                            vm.burdenPaymentForm.burdenRate.$viewValue.length)}}</span>
                        </div>
                        <div ng-message="number">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="toolbar-45">
      <md-button class="md-default md-button md-ink-ripple md-raised" ng-click="vm.cancel()">
        Cancel
      </md-button>
      <md-button class="md-primary md-button md-ink-ripple md-raised"
        ng-class="{'md-formdirty': vm.burdenPaymentForm.$dirty }"
        ng-disabled="!(vm.employeeModel.isChangeDetail || vm.employeeModel.isFromMaster) || vm.saveBtnDisableFlag"
        ng-click="vm.continue()">
        Continue
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
