<div style="position:relative;" cg-busy="{promise:vm.cgBusyLoading}">
  <form name="vm.addEditLabelTemplatesForm" class="md-inline-form padding-10-imp" ms-form-wizard-form novalidate>

    <div class="input-wrapper margin-right-5 cm-section-main border-0" flex layout="row">
      <div flex="85" layout="row">
        <div flex layout="row" class="margin-right-5">
          <div flex="10" layout="row" layout-align="end center">
            <p class="label-container">Label Template<span>&nbsp;*</span></p>
          </div>
          <div flex="90" layout="row">
            <md-input-container>
              <input type="text" name="labelTemplateName"
                     ng-model="vm.manageLabelTemplate.Name"
                     placeholder="Name" ng-maxlength="100" required
                     ng-change="vm.verifyChangedFormatName()"
                     onkeypress="return AvoidSpace(event)"
                     custom-auto-focus="{{msWizard.selectedIndex == 0 ? true : false}}">
              <div ng-messages="vm.addEditLabelTemplatesForm.labelTemplateName.$error"
                   role="alert">
                <div ng-message="required">
                  <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                </div>
                <div ng-message="maxlength">
                  <span>{{vm.getMaxLengthValidation(100,vm.addEditLabelTemplatesForm.labelTemplateName.$viewValue.length)}}</span>
                </div>
              </div>
            </md-input-container>
          </div>
        </div>
      </div>
      <div flex="15" flex-sm="100" class="input-wrapper">
        <div flex="100">
          <md-input-container flex="100">
            <md-radio-group layout="row" layout-align="start start" layout-wrap
                            name="active" ng-model="vm.manageLabelTemplate.isActive"
                            last-element data-focusButton="saveLabelTempokaBtn" elementcondition="true"
                            ng-change="vm.changeActiveStatus()">
              <md-radio-button class="margin-top-0" ng-repeat="item in vm.RadioGroup.isActive.array"
                               name="{{item.Value}}" ng-value="{{item.Value}}">{{item.Key}}</md-radio-button>
            </md-radio-group>
          </md-input-container>
        </div>
      </div>
    </div>

    <div class="input-wrapper margin-right-5" flex layout="row">
      <div flex="85" layout="row">
        <div flex layout="row" class="margin-right-5" layout-align="start center">

          <div flex="10" layout="row" layout-align="end center">
            <p class="label-container pt-5">Verified</p>
          </div>

          <div flex="90" layout="row">
            <div class="margin-top-5 margin-right-5">
              <span class="label-box label-success" ng-if="vm.manageLabelTemplate.isVerified">
                Yes
              </span>
              <span class="label-box label-warning" ng-if="!vm.manageLabelTemplate.isVerified">
                No
              </span>
            </div>
            <md-input-container class="margin-top-5">
              <md-button class="md-primary md-raised margin-0" ng-click="vm.verifyLabelTemplate(vm.manageLabelTemplate.Name)" ng-disabled="!vm.manageLabelTemplate.Name" aria-label="Submit">
                {{vm.manageLabelTemplate.isVerified ?'Re-Verify':'Verify'}}
              </md-button>
            </md-input-container>
          </div>

        </div>
      </div>
      <div flex="15" flex-sm="100" class="input-wrapper">
      </div>
    </div>

    <div class="input-wrapper margin-right-5" flex layout="row">
      <div flex="85" layout="row">
        <div flex layout="row" class="margin-right-5" layout-align="start center">

          <div flex="10" layout="row" layout-align="end center">
            <p class="label-container pt-5">Default Template</p>
          </div>

          <div flex="10" layout="row">
            <div class="margin-top-5 margin-right-5 flex">

              <md-input-container flex="100" md-no-float class="margin-0">
                <md-select name="defaultTemplate"
                           ng-model="vm.manageLabelTemplate.defaultLabelTemplate"
                           md-container-class="containerClass"
                           ng-disabled="!vm.manageLabelTemplate.isVerified || !vm.manageLabelTemplate.isActive">
                  <md-option ng-repeat="option in vm.dataelementList" ng-value="option.ID">{{option.name}}</md-option>
                </md-select>
              </md-input-container>

            </div>
          </div>

        </div>
      </div>
      <div flex="15" flex-sm="100" class="input-wrapper">
      </div>
    </div>

  </form>

</div>
