<md-dialog aria-label="Confirm Department" class="warehouse-side-popup-width cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.WareHouseSideForm">

        <md-toolbar ng-class="vm.themeClass">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2>Confirmation</h2>
                <span flex></span>
                <!--<popup-header-label label-data="vm.headerdata"></popup-header-label>-->
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
            <md-content class="md-padding custom-scroll ml-8">
                <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
                <table cellspacing="0" cellpadding="0" class="cm-table-input-main cm-rs-table mv-10">
                    <tbody>
                        <tr>
                            <th><p class="pt-10 label-container font-weight-400">Search Type</p></th>
                            <td class="scan-side">
                                <md-radio-group layout="row" class="mv-0 margin-right-0 ml-10" name="scanSide" ng-model="vm.departmentSelectType" required>
                                    <md-radio-button value="{{vm.departmentType.Department.key}}">{{vm.departmentType.Department.value}}</md-radio-button>
                                    <md-radio-button value="{{vm.departmentType.System.key}}">{{vm.departmentType.System.value}}</md-radio-button>
                                </md-radio-group>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.save()" aria-label="Ok">Ok</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

