<md-dialog class="cm-custom-label-common" aria-label="Add Bin" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.componetlogicalgroupForm" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>{{vm.logicalgroup.id == null ? 'Add':'Update'}} Mounting Group</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custome-scroll">
      <md-content class="md-padding">
        <div layout="row" class="cm-section-inner-popup">
          <div class="input-wrapper" layout="row" flex="75">
            <p class="label-container">Name<span>&nbsp;*<check-unique-on-blur></check-unique-on-blur></span></p>
            <md-input-container class="md-block" flex="100">
              <input type="text" name="Name" id="Name" ng-model="vm.logicalgroup.name" custom-blur="vm.checkMountingGroupAlreadyExists()"
                     placeholder="Name" required md-autofocus ng-maxlength="255">
              <div ng-messages="vm.componetlogicalgroupForm.Name.$error" role="alert">
                <div ng-message="required">
                  <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                </div>
                <div ng-message="maxlength">
                  <span>{{vm.getMaxLengthValidation(255,vm.componetlogicalgroupForm.Name.$viewValue.length)}}</span>
                </div>
              </div>
            </md-input-container>
          </div>
          <div flex="30" class="input-wrapper margin-top-5">
            <md-input-container>
              <md-radio-group layout="row" layout-align="start start" layout-wrap
                              name="Active" ng-model="vm.logicalgroup.isActive">
                <md-radio-button flex ng-repeat="item in vm.RadioGroup.isActive.array"
                                 name="{{item.Value}}" ng-value="{{item.Value}}">{{item.Key}}</md-radio-button>
              </md-radio-group>
            </md-input-container>
          </div>
        </div>

      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.save(true)" aria-label="Submit" ng-class="{'md-formdirty':vm.checkFormDirty(vm.componetlogicalgroupForm)}">Save</md-button>
      <!--ng-disabled="!vm.componetlogicalgroupForm.$valid || !vm.checkFormDirty(vm.componetlogicalgroupForm,vm.checkFormDirty)"-->
    </md-dialog-actions>
  </form>
</md-dialog>


