<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!-- SMTP mail configuration-->
    <add key="FromMail" value="noreply@trivenitechnologies.in" />
    <add key="FromMailPassword" value="Triveni@123" />
    <add key="SMTPHost" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <!-- Mailgun configuration-->
    <add key="MailgunApiUrl" value="https://api.mailgun.net/v3" />
    <add key="Mailgunkey" value="key-afa9d004f4fbd00d1f85517f13caeb7b" />
    <add key="MailgunDomainName" value="tgscreation.in" />
    <!--RabbitMq configuration-->
    <add key="RabbitMqUserName" value="admin" />
    <add key="RabbitMqPassword" value="admin" />
    <add key="RabbitMqEmailHost" value="localhost" />
    <add key="RabbitMqEmailVirtualHost" value="FJTEmailService_Dev" />
    <add key="RabbitEmailQueue" value="EmailServiceQueue" />
    <add key="EmailConsumerPrefetchCount" value="10" />
    <add key="RabbitMqURI" value="amqp://localhost:5672" />
    <add key="RabbitMqPricingVirtualHost" value="PricingService_Dev" />
    <add key="ErroLogQueue" value="ErroLogQueue" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
