<md-dialog aria-label="Delete Confirmation Popup" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.deleteBOMConfirmationForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Delete Confirmation</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="p-10" layout="column">
      <md-content class="md-padding custom-scroll">
        <h1>Select your option and press delete</h1>
        <div flex="100" flex-gt-xs="100" class="pt-10" layout-wrap>
          <div class="mr-5">
            <fieldset flex="100" class="container-box margin-bottom-5">
              <div class="input-wrapper margin-0" layout="row" flex="100" layout-align="start center">
                <md-radio-group ng-model="vm.selectedBOMOption">
                  <div>
                    <md-radio-button ng-value="vm.deleteBOMOption.DELETE_WITHOUT_HISTORY.value" class="md-primary font-size-15">
                      {{vm.deleteBOMOption.DELETE_WITHOUT_HISTORY.name}}
                      <br />
                      Note: {{vm.deleteBOMOption.DELETE_WITHOUT_HISTORY.message}}
                    </md-radio-button>
                  </div>
                  <div>
                    <md-radio-button ng-value="vm.deleteBOMOption.DELETE_WITH_HISTORY.value" class="md-primary font-size-15">
                      {{vm.deleteBOMOption.DELETE_WITH_HISTORY.name}}
                      <br />
                      Note: {{vm.deleteBOMOption.DELETE_WITH_HISTORY.message}}
                    </md-radio-button>
                  </div>
                </md-radio-group>
              </div>
            </fieldset>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.deleteBOM()" ng-class="{'md-formdirty': vm.deleteBOMConfirmationForm.$dirty}" aria-label="Delete">Delete</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
