<div id="otherpermission-list" class="page-layout carded fullwidth breadcrumb-fixed" layout="row" cg-busy="{promise:vm.cgBusyLoading}">
  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center margin-left-0 margin-right-0" layout="column" flex>
    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">
      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h2" layout="row" layout-align="start center">
          <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
        </div>
        <div layout="row" layout-align="start center" class="product-count">
          <breadcrumbs></breadcrumbs>
        </div>
      </div>
      <div layout="row" layout-wrap layout-align="end center" flex flex-xs="40">
        <md-button class="md-primary md-raised" ng-click="vm.importDetail()">
          Import {{vm.IsManfucaturer?vm.LabelConstant.MFG.Manufacturer:vm.LabelConstant.MFG.Supplier}}<span ng-if="vm.apiVerificationErrorCount">({{vm.apiVerificationErrorCount}})</span>
        </md-button>
        <md-button class="md-primary md-raised" ng-click="vm.exportTemplate()">
          Export Template
        </md-button>
        <div ng-if="vm.isImport">
          <import-export entity="vm.IsManfucaturer ? vm.modulesForExportSampleTemplateConst.MANUFACTURE : vm.modulesForExportSampleTemplateConst.SUPPLIER"
                         model="vm.Model" entity-table-name="vm.EntityTableName" is-import="vm.isImport" load-data="vm.loadData()"></import-export>
        </div>
        <md-button class="md-raised md-primary" ng-hide="vm.isNoDataFound" aria-label="Add Manufacturers" ng-click="vm.addEditRecord(null,$event)">
          Add {{vm.IsDistributor ? 'Supplier' : 'Manufacturer'}}
        </md-button>
      </div>
    </div>
    <!-- / CONTENT HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card padding-top-side" layout="column" flex>
      <div layout="row" flex="100">
        <ms-form-wizard flex>
          <md-tabs class="fielddetail manage-customer-tabing" md-dynamic-height md-selected="vm.selectedIndex" id="manage-customer-tabing">
            <md-tab md-on-select="vm.onTabChanges(vm.ManfucaturerTab, msWizard)" autoscroll="true">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                  <span class="ms-form-wizard-step-text">Manufacturer</span>
                </span>
              </md-tab-label>
              <md-tab-body>
                <div ng-if="vm.IsManfucaturer" ng-show="!vm.isNoDataFound">
                  <md-card layout="column" flex layout-align="space-between stretch">
                    <ui-grid-extention class="mfg-grid" load-data="vm.loadData"
                                       grid-id="vm.gridConfig.gridManufacturer"
                                       grid-option="vm.gridOptions"
                                       header="vm.sourceHeader"
                                       grid-data="vm.sourceData"
                                       total-data-count="vm.totalSourceDataCount"
                                       reset-grid="vm.resetSourceGrid"
                                       selectted-rows="vm.selectedRowsList"
                                       paging-info="vm.pagingInfo"
                                       current-item="vm.currentdata"
                                       get-data-down="vm.getDataDown"
                                       scroll-class="vm.setScrollClass"
                                       empty-state="vm.emptyState"
                                       delete-multiple-data="vm.deleteMultipleData">

                  </md-card>
                </div>
                <div class="empty-state text-center full-height" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound">
                  <div class="emty-icon" flex="100">
                    <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                  </div>
                  <p fl ex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
                  <p flex="100">
                    {{vm.EmptyMesssage.ADDNEWMESSAGE}}
                  </p>
                  <p flex="100">
                    <md-button class="md-fab md-mini" aria-label="Add Manufacturer" ng-click="vm.addEditRecord(null,$event)">
                      <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
                    </md-button>
                  </p>
                </div>
              </md-tab-body>
            </md-tab>
          </md-tabs>

        </ms-form-wizard>
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>
</div>
<style>
  .mfg-grid .ui-grid-row {
    height: auto !important;
  }

  .mfg-grid .ui-grid-cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
    height: auto !important;
  }
</style>

