<div class="cm-available-stock-table cm-section-main" layout="column" flex>
    <div class="cm-section-header pv-5" layout="row" flex="100"><p class="label-container  margin-0 font-size-17-imp">Place In Feeder List</p></div>
    <md-table-container class="cm-md-table-grid-scroll" layout="row" flex="100" ng-if="selectFeederList.length > 0">
        <table md-table class="feeder-scan-details">
            <thead md-head md-order="query.order">
                <tr md-row>
                    <th width="50">
                        #
                    </th>
                    <th width="50">
                        Action
                    </th>
                    <th md-order-by="feederLocation">
                        {{LabelConstant.Traveler.Feeder}}
                    </th>
                    <th md-order-by="lineID">
                        Line Item
                    </th>
                    <!--<th md-column md-order-by="refDesig">
                        Ref. Desg
                    </th>-->
                </tr>
            </thead>
            <tbody md-body >
                <tr md-row ng-repeat="item in selectFeederList | orderBy: query.order">
                    <td>{{$index+1}}</td>
                    <td>
                        <md-button class="md-primary grid-button md-icon-button bdrbtn" ng-click="setFeederLocation({ param: item })"
                                   ng-disabled="!isVerify && item.umid" ng-class="{'item-disabled': !isVerify && item.umid}">
                            <md-icon role="img" md-font-icon="icon-transfer"></md-icon>
                            <md-tooltip md-direction="top">Select Feeder</md-tooltip>
                        </md-button>
                    </td>
                    <td>{{item.feederLocation}}<copy-text ng-if="item.feederLocation" label="Feeder" text="item.feederLocation"></copy-text></td>
                    <td>
                        {{item.lineID}}
                    </td>
                    <!--<td md-cell>
                        {{item.refDesig}}
                    </td>-->
                </tr>
            </tbody>
        </table>
    </md-table-container>
</div>
