<md-dialog aria-label="SelectPart" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="70">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Select Supplier</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
        <md-content class="md-padding">
            <div class="content fullpage-datatable" layout="column" flex>

                <md-table-container layout="row" flex="100">
                    <table md-table class="md-data-table table-row-select cm-select-packing-slip-table">

                        <thead md-head md-order="vm.query.order">
                          <tr md-row>
                            <th></th>
                            <th md-column width="50">
                              #
                            </th>
                            <th md-column md-order-by="supllierName">
                              {{vm.CORE.LabelConstant.MFG.Supplier}}
                            </th>
                            <th md-column md-order-by="poNumber" ng-if="vm.objPackingSlip.isShowRMADetail">
                              {{vm.CORE.LabelConstant.SupplierRMA.RMANumber}}
                            </th>
                            <th md-column md-order-by="packingSlipNumber">
                              Packing Slip#
                            </th>
                            <th md-column md-order-by="poNumber" ng-if="!vm.objPackingSlip.isShowRMADetail">
                              PO#
                            </th>
                            <th md-column md-order-by="supplierSONumber" ng-if="!vm.objPackingSlip.isShowRMADetail">
                              SO#
                            </th>
                          </tr>
                        </thead>

                        <tbody md-body>
                          <tr md-row ng-repeat="item in vm.packingSlipList | orderBy: vm.query.order">
                            <td md-cell>
                              <md-checkbox ng-model="item.isSelect" ng-change="vm.selectPart(item);" custom-auto-focus="{{$first ? true : false}}"></md-checkbox>
                            </td>
                            <td md-cell>{{$index+1}}</td>
                            <td md-cell>{{item.supllierName}}</td>
                            <td md-cell ng-if="vm.objPackingSlip.isShowRMADetail">{{item.poNumber}}</td>
                            <td md-cell>{{item.packingSlipNumber}}</td>
                            <td md-cell ng-if="!vm.objPackingSlip.isShowRMADetail">{{item.poNumber}}</td>
                            <td md-cell ng-if="!vm.objPackingSlip.isShowRMADetail">{{item.supplierSONumber}}</td>
                          </tr>
                        </tbody>

                    </table>
                </md-table-container>

            </div>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
        <md-button class="md-primary md-raised" ng-click="vm.confirmSelect();" ng-disabled="vm.isDisable" aria-label="Submit">Select</md-button>
    </md-dialog-actions>

</md-dialog>
