<md-dialog aria-label="WorkorderQuantityConfirmationApproval" flex="65" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.quantityConfirmationApprovalForm">
        <md-toolbar>
          <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2>{{vm.title}}</h2>
            <span flex></span>
            <div layout="row" layout-align="center center">
              <popup-header-label label-data="vm.headerdata"></popup-header-label>
            </div>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
              <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
            <md-content>
                <div>
                    <confirmation-approval wo-qty-approval-obj="vm.woQtyApproval">
                    </confirmation-approval>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
          <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
          <md-button class="md-primary md-raised"
                     ng-click="vm.saveWOQtyConfirmApproval()" ng-disabled="vm.saveDisable"
                     ng-class="{'md-formdirty': vm.checkFormDirty(vm.quantityConfirmationApprovalForm,null)}">Save</md-button>
          <!--ng-disabled="vm.quantityConfirmationApprovalForm.$invalid"-->
          <!--  || vm.woQtyApproval.reason.length > 512000  here, 512000 that means now up to 500kb is allowed to put -->
        </md-dialog-actions>
    </form>
</md-dialog>
