<md-dialog aria-label="manage-rfq-lineitem-headers" class="mfg-popup-width" cg-busy="{promise:vm.cgBusyLoading}" flex="50" draggable>
  <form name="vm.frmPriceHeader">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>Column Mapping</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="Pricing-modal no-padding custom-scroll" layout="column">
      <md-content class="md-padding">
        <md-list flex="100" class="custom-scroll dragbox" ms-scroll>
          <md-list-item class="padding-0 items-container md-list-item-text" layout="row" flex="100" layout-wrap>
            <div class="workorderblog" flex="100" layout="row">
              <div class="md-list-item-text" flex="30">
                <div class="blogsection" flex="100">
                  <h3 class="md-primary-fg woTitleClass">{{vm.headerName}} Header</h3>
                </div>
              </div>
              <div class="md-list-item-text" flex="50">
                <div class="blogsection" flex="100">
                  <h3 class="md-primary-fg woTitleClass">Excel Header</h3>
                </div>
              </div>
              <div class="md-list-item-text" flex="20">
                <div class="blogsection" flex="100">
                  <h3 class="md-primary-fg woTitleClass">Apply(Any One)</h3>
                </div>
              </div>
            </div>
          </md-list-item>
          <div flex="100" layout="row" ng-repeat="item in vm.Headers" class="cm-bom-column">
            <div flex="30" class="text-right padding-right-15 margin-top-4">
              <label>{{item.header.fieldName}}</label>
            </div>
            <div flex="50">
              <md-input-container ng-if="item.autoCompleteHeader" class="cm-auto-custom autocompletecustom margin-bottom-0 margin-top-0" flex="100" md-no-float>
                <custom-auto-complete class="min-width-initial" datalist="vm.excelHeaders"
                                      column-name="item.autoCompleteHeader.columnName"
                                      controller-name="item.autoCompleteHeader.controllerName"
                                      view-template-url="item.autoCompleteHeader.viewTemplateURL"
                                      key-column-name="item.autoCompleteHeader.keyColumnName"
                                      input-name="item.autoCompleteHeader.inputName"
                                      placeholder-name="item.autoCompleteHeader.placeholderName"
                                      key-column-id="item.autoCompleteHeader.keyColumnId"
                                      is-required="item.header.isAllowSearch"
                                      is-addnew="item.autoCompleteHeader.isAddnew"
                                      callback-fn="item.autoCompleteHeader.callbackFn"
                                      on-select-callback-fn="item.autoCompleteHeader.onSelectCallbackFn">
                </custom-auto-complete>
              </md-input-container>
            </div>
            <div flex="20" layout="row" layout-align="center center">
              <md-input-container class="margin-0">
                <md-checkbox ng-model="item.header.isAllowSearch" ng-change="vm.changeAllowSearch(item)" name="isAllowSearch" class="margin-0">
                </md-checkbox>
              </md-input-container>
            </div>
          </div>
          <!--</md-list-item>-->
          <div layout="row" class="padding-right-10 padding-left-5">
            <div layout="row">
              <md-input-container class="width-100p">
                <md-checkbox ng-model="vm.isExcludeIncorrectPart" name="isExcludeIncorrectPart" class="margin-0">
                  <p class="label-container">
                    {{vm.PartMasterAdvancedFilters.ExcludeIncorrectPart.value}}
                  </p>
                </md-checkbox>
              </md-input-container>
            </div>
          </div>
        </md-list>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.ok()">Apply Filters</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
