<md-dialog aria-label="manage-rfq-lineitem-headers" flex="65" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.manufacturerMapping">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>Import {{vm.NameTitle}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="column">
      <md-content class="custom-scroll margin-5 padding-0-10-imp">
        <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
          <tbody>
            <tr>
              <th><p class="label-container mt-10">Mapping Type<span>&nbsp;</span></p></th>
              <td class="scan-side">
                <md-radio-group layout="row" class="mv-0 margin-right-0 ml-10" name="scanSide" ng-model="vm.mappingType" required ng-change="vm.changeMappingType(vm.mappingType, '{{vm.mappingType}}')">
                  <md-radio-button value="{{vm.uploadMappingType.C1.Key}}">{{vm.uploadMappingType.C1.Value}}</md-radio-button>
                  <md-radio-button value="{{vm.uploadMappingType.C2.Key}}">{{vm.uploadMappingType.C2.Value}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="hot-import-part-container" class="md-inline-form" flex="100" ng-show="vm.mappingType == vm.uploadMappingType.C2.Key || vm.mappingType == vm.uploadMappingType.C1.Key">
          <hot-table class="padding-bottom-48 cm-import-bom-ht-table h-tbl-dir"
                     settings="vm.settings"
                     hot-id="hot-import-part"
                     name="hot-import-part"
                     flex="100"
                     datarows="vm.hansonModel" ng-if="vm.mappingType == vm.uploadMappingType.C1.Key">
          </hot-table>
          <hot-table class="padding-bottom-48 cm-import-bom-ht-table h-tbl-dir"
                     settings="vm.settings"
                     hot-id="hot-import-part"
                     name="hot-import-part"
                     flex="100"
                     datarows="vm.hansonModel" ng-if="vm.mappingType == vm.uploadMappingType.C2.Key">
          </hot-table>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions>
      <div>
        <md-button class="md-default md-raised" ng-click="vm.cancel(false)">Close</md-button>
        <md-button class="md-primary md-raised" ng-class="{'md-formdirty': vm.isChanged}" ng-click="vm.save()">Save</md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
<style>
  .ht_editor_hidden {
    z-index: -1 !important;
  }


  #hot-import-part-container {
    height: 300px !important;
  }
</style>
