<md-menu id="noti-menu" class="notificationmenu" md-offset="0 50" md-position-mode="target-right target">
    <md-button class="md-icon-button margin-top-3 margin-0" ng-click="$mdOpenMenu();"
               aria-label="Language" md-menu-origin md-menu-align-target>
        <md-icon md-font-icon="icon icon-bell"></md-icon>
        <md-tooltip>Notifications</md-tooltip>
        <span class="count" ng-if="vm.count > 0">{{vm.count}}</span>
    </md-button>
    <md-menu-content width="3" id="language-menu-content" class="padding-0" cg-busy="{promise:vm.cgBusyLoading}">
        <!--<div class="notification-main custom-scroll" scroll-end-bottom scroll-end-fn="vm.getNotificationList">
            <div class="notifications" ng-class="{'unread': !item.isRead}" layout="row" ng-repeat="item in vm.notificationList">
                <div class="chricon min-width-40"> {{item.icon}} </div>
                <div class="noti-text">
                    <h3 class="margin-0">
                        <a class="cursor-pointer" ng-if="item.redirectUrl" target="_blank" ng-href="{{vm.urlPrefix + item.redirectUrl}}"> {{item.subject}} </a>
                        <a class="cursor-pointer" href="javascript:void(0)" ng-if="!item.redirectUrl"> {{item.subject}} </a>
                    </h3>
                    <p class="break-word">
                        <span>{{item.fullName}}</span>
                        <span ng-bind-html="item.message"></span>
                    </p>
                    <p layout="row" flex="100" layout-align="space-between center">
                        <span class="time">{{item.notificationDate|date: vm.dateTimeDisplayFormat}}</span>
                        <span ng-if="item.requestStatus != vm.notificationRequestStatus.Pending">
                            {{item.requestStatus == vm.notificationRequestStatus.Accepted ? 'Accepted' : 'Rejected'}}
                        </span>
                        <span ng-if="item.requestStatus == vm.notificationRequestStatus.Pending && item.messageSubType == vm.notificationSubType.A">
                            <a href="javascript:void(0)" ng-click="accept(item);">Accept</a>
                        </span>
                    </p>
                </div>
            </div>

            <div class="empty-state text-center full-height" layout="row" layout-align="center center" flex="100" layout-wrap ng-if="vm.isNotFound">
                <h4 flex="100" class="margin-0">{{vm.EmptyMesssage.MESSAGE}}</h4>
            </div>

        </div>-->
    </md-menu-content>
</md-menu>