<md-dialog cg-busy="{promise:vm.cgBusyLoading}" class="cm-custom-label-common" draggable>
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2>Feeder Upload Confirmation</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="column">
        <md-content class="padding-10">
            <div layout="row" class="margin-bottom-15" layout-wrap layout-align="start center">
                <span ng-bind-html="vm.data.messageContent.message"></span>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
        <md-button class="md-primary md-raised" ng-click="vm.no()" ng-if="vm.data.canbtnText">{{vm.data.canbtnText}}</md-button>
        <md-button class="md-primary md-raised" ng-click="vm.yes()" ng-if="vm.data.btnText">{{vm.data.btnText}}</md-button>
    </md-dialog-actions>
</md-dialog>
