<md-dialog aria-label="AddMeasurementTypes" class="popup-large-custom" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{vm.isUserSignup ? 'Archived Versions' : 'Agreed User List' }}</h2>
      <span flex></span>
      <popup-header-label label-data="vm.headerdata"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding" layout="column">
    <md-content class="padding-10">
      <div layout="row" flex="100" layout-wrap class="cm-custom-label-common">
        <div class="cm-section-main border-0" flex="100">
          <div class="cm-section-inner cm-manage-purchase-table padding-0">
            <div class="content-card padding-top-side" flex ng-show="!vm.isNoDataFound">
              <div layout="column" flex layout-align="space-between stretch" class="cm-agreed-user-grid">
                <ui-grid-extention class="cm-agreed-user-grid"
                                   load-data="vm.loadData"
                                   grid-id="vm.gridConfig.gridAgreedUserList"
                                   grid-option="vm.gridOptions"
                                   header="vm.sourceHeader"
                                   grid-data="vm.sourceData"
                                   total-data-count="vm.totalSourceDataCount"
                                   reset-grid="vm.resetSourceGrid"
                                   selectted-rows="vm.selectedRowsList"
                                   paging-info="vm.pagingInfo"
                                   current-item="vm.currentdata"
                                   get-data-down="vm.getDataDown"
                                   empty-state="vm.emptyState"
                                   delete-multiple-data="vm.deleteMultipleData">
              </div>
            </div>
            <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound">
              <div class="emty-icon" flex="100">
                <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
              </div>
              <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
              <p flex="100">
                <md-button class="md-fab md-mini" aria-label="Refresh" ng-click="vm.loadData()">
                  <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
                  <md-tooltip>Refresh</md-tooltip>
                </md-button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div flex="100" class="margin-2" ng-show="vm.isTemplateView" id="printSectionId">
        <div layout="row" layout-align="start center" flex="100">
          <span flex="100"><label>{{vm.publidhedVersionLabel}}: &nbsp;</label>{{vm.data.latestVersion}}</span>
        </div>
        <div layout="row" layout-align="start center" flex="100">
          <span flex="100"><label>{{vm.publishedDateLabel}}: &nbsp; </label>{{vm.data.lastPublishedDate}}</span>
        </div>
        <div layout="column" flex="100" ng-bind-html="vm.data.agreementContent">
        </div>
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
  </md-dialog-actions>
</md-dialog>
<!-- When user hover on the image at that time this is used-->
<div ng-include="'app/view/image-preview-template/image-preview-template.html'"></div>

