<form name="pricingDistHistoryfrom" class="md-inline-form padding-10-imp pricing-histroy-form margin-left-5">
    <div class="content" layout="column" layout-gt-xs="100">
        <div layout="row" flex="100">
            <div class="cm-section-main margin-right-5" flex="100">
                <div class="cm-section-inner" layout="row" flex="100" layout-align="center">
                    <div class="input-wrapper" flex="35" layout="row">
                        <p class="label-container"><a tabindex="-1" class="cm-text-decoration" ng-click="goToSupplierList();">{{autoCompletePricingDisty.placeholderName}}</a><span ng-if="autoCompletePricingDisty.isRequired">&nbsp;*</span></p>
                        <md-input-container flex="100" ng-if="autoCompletePricingDisty" class="autocompletecustom">
                            <custom-auto-complete datalist="Suppliers"
                                                  column-name="autoCompletePricingDisty.columnName"
                                                  key-column-name="autoCompletePricingDisty.keyColumnName"
                                                  input-name="autoCompletePricingDisty.inputName"
                                                  placeholder-name="autoCompletePricingDisty.placeholderName"
                                                  key-column-id="autoCompletePricingDisty.keyColumnId"
                                                  is-required="autoCompletePricingDisty.isRequired"
                                                  is-addnew="autoCompletePricingDisty.isAddnew"
                                                  on-select-callback-fn="autoCompletePricingDisty.onSelectCallbackFn">
                            </custom-auto-complete>
                        </md-input-container>
                    </div>
                    <div class="input-wrapper" flex="25" layout="row">
                        <p class="label-container">From Date<span>&nbsp;*</span></p>
                        <md-input-container class="datepicker">
                            <label class="datepickerlfetlable">From Date </label>
                            <input ng-required="true" type="text" class="float-left"
                                   name="fromHistoryDate"
                                   datetime-picker="{{$root.dateDisplayFormat}}"
                                   enable-date="true"
                                   enable-time="false"
                                   ng-model="fromHistoryDate"
                                   ng-change="fromHistoryDateChanged(fromHistoryDate)"
                                   datepicker-options="fromDateOptions"
                                   ui-options="{clearOnBlur  : true}"
                                   ui-mask="{{$root.uimaskFormat.date.mask}}"
                                   ui-mask-placeholder="{{$root.uimaskFormat.date.placeholder}}"
                                   model-view-value="true"
                                   is-open="fromDateOptions.fromDateOpenFlag" />
                            <md-icon md-font-icon="icon-calendar calender-icon" ng-click="fromDateOptions.fromDateOpenFlag = true">
                            </md-icon>
                            <div ng-messages="pricingDistHistoryfrom.fromHistoryDate.$error" md-auto-hide="false" role="alert">
                                <div ng-message="valid">
                                    <span>{{CORE_MESSAGE_CONSTANT.INVALID}}</span>
                                </div>
                                <div ng-message="mindate">
                                    <span>{{CORE_MESSAGE_CONSTANT.INVALID}}</span>
                                </div>
                                <div ng-message="mask">
                                    <span>{{CORE_MESSAGE_CONSTANT.INVALID}}</span>
                                </div>
                                <div ng-message="datetime">
                                    <span>{{CORE_MESSAGE_CONSTANT.INVALID}}</span>
                                </div>
                                <div ng-message="required">
                                    <span>{{CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="input-wrapper" flex="25" layout="row">
                        <p class="label-container">To Date<span>&nbsp;*</span></p>
                        <md-input-container class="datepicker">
                            <label class="datepickerlfetlable">To Date </label>
                            <input ng-required="true" type="text" class="float-left"
                                   name="toHistoryDate"
                                   datetime-picker="{{$root.dateDisplayFormat}}"
                                   enable-date="true"
                                   enable-time="false"
                                   ng-model="toHistoryDate"
                                   ng-change="toHistoryDateChanged(toHistoryDate)"
                                   datepicker-options="toDateOptions"
                                   ui-options="{clearOnBlur  : true}"
                                   ui-mask="{{$root.uimaskFormat.date.mask}}"
                                   ui-mask-placeholder="{{$root.uimaskFormat.date.placeholder}}"
                                   model-view-value="true"
                                   is-open="toDateOptions.toDateOpenFlag" />
                            <md-icon md-font-icon="icon-calendar calender-icon" ng-click="toDateOptions.toDateOpenFlag = true">
                            </md-icon>
                            <div ng-messages="pricingDistHistoryfrom.toHistoryDate.$error" md-auto-hide="false" role="alert">
                                <div ng-message="valid">
                                    <span>{{CORE_MESSAGE_CONSTANT.INVALID}}</span>
                                </div>
                                <div ng-message="required">
                                    <span>{{CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                                <div ng-message="mask">
                                    <span>{{CORE_MESSAGE_CONSTANT.INVALID}}</span>
                                </div>
                                <div ng-message="datetime">
                                    <span>{{CORE_MESSAGE_CONSTANT.INVALID}}</span>
                                </div>
                                <div ng-message="mindate">
                                    <span>{{CORE_MESSAGE_CONSTANT.INVALID}}</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="margin-left-10">
                        <md-button class="md-primary md-raised md-ink-ripple margin-0" ng-click="getPriceBreak();"
                                   ng-disabled="!toHistoryDate || !fromHistoryDate || !autoCompletePricingDisty.keyColumnId">
                            Search
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div flex="100" class="cm-section-main margin-left-15 margin-right-15 margin-bottom-15">
    <div class="cm-section-header" layout="row" layout-align="space-between center">
        <h2>Price Trend of {{supplierName}}</h2>
    </div>
    <div class="cm-section-inner">
        <div id="container" class="baseline-chart-container cm-section-main margin-right-10 margin-bottom-10 margin-left-15" cg-busy="{promise: cgBusyLoading}" ng-show="!isNoDataFound"></div>
        <div class="chart-empty-state empty-state text-center full-height cm-section-main border-0" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="isNoDataFound">
            <div class="emty-icon" flex="100">
                <img ng-src="{{EmptyMesssage.IMAGEURL}}" />
            </div>
            <p flex="100" class="empty-state-title">{{EmptyMesssage.MESSAGE}}</p>

        </div>
    </div>
</div>

