<div id="blog-list" class="page-layout simple doc-page fullwidth breadcrumb-fixed cm-custom-label-common" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
    <!-- CENTER -->
    <!-- CONTENT HEADER -->
    <div class="header md-accent-bg layout-wrap-mob" layout="row" layout-align="space-between center">
        <md-button class="goto-products-button md-icon-button" type="button" ng-click="vm.goBack()">
            <md-icon md-font-icon="icons-backarrow" class="material-icons cm-back-btn icons-backarrow">
            </md-icon>
        </md-button>
        <div class="white-fg" layout="column" layout-align="start start" flex="100">
            <div class="h2" layout="row" layout-align="start center">
                <pagetitle is-list="false" is-display-menu-name="true" prefix-content="vm.manageBlog.id ? 'Update' : 'Add'" suffix-content=""></pagetitle>
                <md-input-container flex="100" ng-if="vm.autoCompleteSearchPageDetail" class="autocompletecustom margin-0 widget-dashboard-search-area cm-kit-allocation-so-autocomplete part-header-search-area" flex-gt-xs="100">                   
                    <custom-auto-complete-search on-search-fn="vm.autoCompleteSearchPageDetail.onSearchFn"
                                                 column-name="vm.autoCompleteSearchPageDetail.columnName"
                                                 key-column-name="vm.autoCompleteSearchPageDetail.keyColumnName"
                                                 input-name="vm.autoCompleteSearchPageDetail.inputName"
                                                 placeholder-name="vm.autoCompleteSearchPageDetail.placeholderName"
                                                 key-column-id="vm.autoCompleteSearchPageDetail.keyColumnId"
                                                 is-required="vm.autoCompleteSearchPageDetail.isRequired"
                                                 is-addnew="vm.autoCompleteSearchPageDetail.isAddnew"
                                                 callback-fn="vm.autoCompleteSearchPageDetail.callbackFn"
                                                 parent-id=""
                                                 add-data="vm.autoCompleteSearchpageDetail.addData"
                                                 on-select-callback-fn="vm.autoCompleteSearchPageDetail.onSelectCallbackFn"
                                                 is-disabled="false">
                    </custom-auto-complete-search>
                </md-input-container>
                <div class="padding-horizontal-10" ng-if="vm.helpBlogId">
                    <md-button class="md-primary md-raised md-mini margin-left-0 margin-right-0 btn-datasheet-link margin-top-0" flex="100" ng-click="vm.gotoAddBlogPage()">
                        Add Help blog
                    </md-button>
                </div>
            </div>
            <div layout="row" layout-align="start center">
                <breadcrumbs></breadcrumbs>
            </div>
        </div>
        <div layout="row">
            <div layout="row" layout-wrap layout-align="end center" flex flex-xs="100">
                <md-button class="md-raised md-primary" ng-if="vm.versionModel != 0 && !vm.isAnyUnpublish" ng-click="vm.SaveNewTemplate();">
                    Save
                </md-button>
                <md-button class="md-raised md-primary" ng-if="vm.versionModel == 0" ng-click="vm.UpdateTemplate();">
                    Save
                </md-button>
            </div>
        </div>
    </div>
    <!-- / CONTENT HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card padding-top-side cm-custom-label-common" layout="row" flex="100">
        <div flex="100" layout="row" class="padding-10" layout-wrap>
            <!-- / CENTER -->
            <div flex="100" layout="row" layout-wrap>            
                <form name="vm.helpBlogFrom" flex="100" class="md-inline-form custom-scroll" novalidate>
                    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
                    <div class="cm-section-main border-0" flex="100">
                        <div class="cm-section-inner" flex="100">
                            <table class="cm-table-input-main cm-rs-table" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <th>
                                            <p class="label-container">Version</p>
                                        </th>
                                        <td>
                                            <div layout="row">
                                                <md-input-container flex="60">
                                                    <md-select ng-model="vm.versionModel" ng-change="vm.getTemplate()" ng-disabled="vm.viewVersion">
                                                        <md-option ng-repeat="item in vm.versionHistory track by item.version" ng-value="{{item.version}}" ng-click="vm.LoadBlogData(item, vm.isPublishBtnDisplay)">
                                                            {{item.version == 0 ? "Unpublished" : "Version " + item.version}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <div class="template-publish-detail margin-left-10" layout="row" layout-align="start center">
                                                    <span ng-if="vm.versionModel != 0">{{vm.manageBlog.publishedDate == null ? "" : "(Published On: " + (vm.manageBlog.publishedDate | date: vm.dateFormat)+ ")"}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <th>
                                            <p class="label-container">{{vm.autoCompletepagedetail.placeholderName}}<span>&nbsp;*</span></p>
                                        </th>
                                        <td>
                                            <md-input-container flex="100" ng-if="vm.autoCompletepagedetail" class="autocompletecustom">
                                                <custom-auto-complete datalist="vm.pageList"
                                                                      column-name="vm.autoCompletepagedetail.columnName"
                                                                      key-column-name="vm.autoCompletepagedetail.keyColumnName"
                                                                      input-name="vm.autoCompletepagedetail.inputName"
                                                                      key-column-id="vm.autoCompletepagedetail.keyColumnId"
                                                                      is-required="vm.autoCompletepagedetail.isRequired"
                                                                      is-addnew="vm.autoCompletepagedetail.isAddnew"
                                                                      callback-fn="vm.autoCompletepagedetail.callbackFn"
                                                                      on-select-callback-fn="vm.autoCompletepagedetail.onSelectCallbackFn"
                                                                      input-id="'autoCompletepagedetail'"
                                                                      is-disabled="vm.manageBlog.id"
                                                                      custom-auto-focus="{{true}}">
                                                </custom-auto-complete>
                                            </md-input-container>
                                        </td>
                                        <th>
                                            <p class="label-container">Title<span>&nbsp;*<check-unique-on-blur></check-unique-on-blur></span></p>
                                        </th>
                                        <td>
                                            <md-input-container flex="100" class="margin-bottom-0">
                                                <input type="text" name="title" placeholder="Title" id="blogTitle" ng-model="vm.manageBlog.title" ng-maxlength="500" required custom-blur="vm.checkDuplicateTitle()">
                                                <div ng-messages="vm.helpBlogFrom.title.$error"
                                                     role="alert">
                                                    <div ng-message="required">
                                                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                                    </div>
                                                    <div ng-message="maxlength">
                                                        <span>{{vm.getMaxLengthValidation(500,vm.helpBlogFrom.title.$viewValue.length)}}</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div layout="row" flex="100" layout-wrap>
                        <label class="label-container" flex="100">Search Keyword</label>
                        <md-chips name="keyword" ng-model="vm.manageBlog.keywords"
                                  readonly="vm.readonly"
                                  placeholder="Type keyword and Press Enter"
                                  delete-button-label="Remove keyword"
                                  delete-hint="Press delete to remove keyword"
                                  md-transform-chip="vm.newKeyword($chip)"
                                  class="flex-100 chip-input-250">
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.keyword}}</strong>
                                </span>
                            </md-chip-template>
                            <button md-chip-remove class="md-primary">
                                <md-icon md-font-icon="icon-close"></md-icon>
                            </button>
                        </md-chips>
                    </div>
                    <div layout="row" flex="100" layout-wrap>
                        <div layout="column" flex="100" flex-xs="100" class="layout-column margin-bottom-0 margin-top-10 flex-xs-100 flex-100">
                            <!--<span class="label-container" ng-style="{'color':vm.helpBlogFrom.blogDescription.$error.taMaxText?'red':''}">Blog Description*</span>-->
                            <p class="label-container">{{vm.desciption}}<span>&nbsp;(minimum 10 characters required) *</span></p>
                        </div>
                        <md-input-container flex="100" class="md-block margin-top-0 padding-top-0">
                            <text-angular ta-toolbar="vm.taToolbar.INLINE" cg-busy-loading="vm.cgBusyLoading"
                                          ng-model="vm.manageBlog.description"
                                          name="blogDescription"
                                          ta-min-text="10"
                                          ng-required="{{vm.taToolbar.REQUIRED ? vm.taToolbar.REQUIRED : true}}"></text-angular>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

