<md-dialog aria-label="AddRelease" class="cm-release-note-popup" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.helpBlogNoteForm" flex="100" class="md-inline-form" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.helpBlogNote.id ? 'Update' : 'Add'}} Section</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-primary md-raised cm-feture-btn-color" id="headerAddBtn" ng-click="vm.saveAndProceed(vm.BUTTON_TYPE.ADDNEW)">Add Section</md-button>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="column" flex="100">
      <md-content class="padding-10" flex="100" layout="column">
        <div layout="row" flex="100" layout-wrap class="cm-custom-label-common">
          <div class="cm-section-main border-0" flex="100" layout="column">
            <div class="cm-section-inner" flex="100" layout="column">
              <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
                <tbody>
                  <tr>
                    <th>
                      <p class="label-container">Display Order</p>
                    </th>
                    <td>
                      <div layout="row" flex="10">
                        <md-input-container class="md-block">
                          <input type="number" name="displayOrder" id="displayOrder" ng-model="vm.helpBlogNote.displayOrder"
                                 onkeypress="return OnlyNumbersWithDot(event)" max="9999.99" ng-maxlength="7" min="0" input-number-decimal-place step="{{vm.displayInputStep}}"
                                 placeholder="Display Order" md-autofocus>
                          <div ng-messages="vm.helpBlogNoteForm.displayOrder.$error" role="alert">
                            <div ng-message="min|| number || step || max">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="maxlength">
                              <span>{{vm.getMaxLengthValidation(7, vm.helpBlogNoteForm.displayOrder.$viewValue.length)}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <span class="label-container margin-bottom-0">
                Section Title &nbsp;
                <span>{{vm.minLengthMessage}}<span ng-if="vm.taToolbar.REQUIRED">&nbsp;*</span></span>
              </span>
              <text-angular class="RFQ-info-text-area text-angular-editor-scroll mb-10" ta-toolbar="vm.taToolbar.INLINE" cg-busy-loading="vm.cgBusyLoading"
                            ng-class="{'text-angular-custom-border':vm.helpBlogNoteForm.sectionTitle.$error.taMaxText || vm.helpBlogNoteForm.sectionTitle.$error.taMinText || vm.helpBlogNoteForm.sectionTitle.$error.required}"
                            ng-model="vm.helpBlogNote.sectionTitle"
                            name="sectionTitle"
                            ta-disabled="vm.helpBlogNote.isSystemGenerated"
                            ta-min-text="{{vm.taToolbar.MIN_LENGTH}}"
                            ng-required="{{vm.taToolbar.REQUIRED ? vm.taToolbar.REQUIRED : false}}"></text-angular>
              <span class="label-container margin-bottom-0">
                Description &nbsp;
                <span>{{vm.minLengthMessage}}<span ng-if="vm.taToolbar.REQUIRED">&nbsp;*</span></span>
              </span>
              <span class="margin-bottom-10" ng-if="vm.helpBlogNoteForm.description.$error.taMaxText" style="color:red; font-size:12px">{{vm.getDescrLengthValidation(vm.taToolbar.MAX_LENGTH, vm.helpBlogNoteForm.description.$viewValue)}}</span>
              <text-angular class="RFQ-info-text-area text-angular-editor-scroll" flex ta-toolbar="vm.taToolbar.INLINE" cg-busy-loading="vm.cgBusyLoading"
                            ng-class="{'text-angular-custom-border':vm.helpBlogNoteForm.description.$error.taMaxText || vm.helpBlogNoteForm.description.$error.taMinText || vm.helpBlogNoteForm.description.$error.required}"
                            ng-model="vm.helpBlogNote.description"
                            name="description"
                            ta-disabled="vm.helpBlogNote.isSystemGenerated"
                            ta-min-text="{{vm.taToolbar.MIN_LENGTH}}"
                            ng-required="{{vm.taToolbar.REQUIRED ? vm.taToolbar.REQUIRED : false}}"></text-angular>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.saveBlognotes(vm.BUTTON_TYPE.SAVE)" ng-class="{'md-formdirty': vm.checkFormDirty(vm.helpBlogNoteForm) }" aria-label="Submit">Save</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.saveBlognotes(vm.BUTTON_TYPE.SAVEANDEXIT)" ng-class="{'md-formdirty': vm.checkFormDirty(vm.helpBlogNoteForm) }" data-focusButton="headerAddBtn" last-element elementcondition="true" aria-label="Submit">{{vm.CORE_MESSAGE_CONSTANT.SAVE_AND_EXIT}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
