<md-dialog aria-label="Digikey-Verification cm-custom-label-common" flex="80" draggable cg-busy="{promise:vm.cgBusyLoading}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Verify your digikey account</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="verificationSteps" ng-model="vm.verificationSteps" novalidate>
      <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
      <md-dialog-content class="customer-modal no-padding custom-scroll margin-top-10 max-height-fit-content">
        <md-content class="md-padding" layout="row" layout-wrap>
          <div flex="45" class="pr-15">
            <div flex="100" layout="row" class="padding-left-10">
              <div flex="95" layout="column" layout-wrap>
                <p class="label-container"><b>Step-1:&nbsp;{{vm.digiKeyObj.Step1Message}}</b></p>
                <div class="margin-left-50"><a class="cursor-pointer word-break" ng-click="vm.NextAndGoToDigikey($event);vm.isclick=true">{{vm.keyURL}}</a></div>
              </div>
              <div flex="5" class="margin-top-10">
                <i ng-if="vm.isclick" style="vertical-align: middle;" class="icon-check-circle checked font-size-36 green-fg margin-left-5"><md-tooltip md-direction="top">Resolved</md-tooltip></i>
              </div>
            </div>
            <div flex="100" layout="row" class="padding-left-10 margin-top-10">
              <div flex="95" layout="column" layout-wrap>
                <p class="label-container margin-left-48p">{{vm.digiKeyObj.LoginDetails}}</p>
                <div class="margin-left-50"><img src="../../../assets/images/emptystate/digikey-login-url.png" /></div>
                <p class="margin-left-50 margin-top-10 color-red"><b>{{vm.digiKeyObj.Note1}}</b></p>
              </div>
            </div>
          </div>
          <div flex layout layout-align="center center">
            <md-icon role="img" md-font-icon="mdi-arrow-right-thick" class="mdi material-icons mat-icon s150"></md-icon>
          </div>
          <div flex="45" class="pl-15">
            <div flex="100" layout="row" class="padding-left-10" ng-if="vm.isNewVersion">
              <div flex="95" layout="column" layout-wrap>
                <p class="label-container"><b>Step-2:&nbsp;{{vm.digiKeyObj.Step2V3Message}}</b></p>
                <div class="margin-left-50">{{vm.digiKeyObj.Suggestion1}}</div>
              </div>
            </div>
            <div flex="100" layout="row" class="padding-left-10 padding-top-10" ng-if="vm.isNewVersion">
              <div flex="95" layout="column" layout-wrap>
                <div class="margin-left-50 digikey-access"><img src="../../../assets/images/emptystate/digikey-allow-access.png" /></div>
                <p class="margin-left-50 margin-top-10 color-red"></p>
              </div>
            </div>
          </div>
            <div flex="100" layout="row" class="padding-left-10">
              <div flex="95" layout="column" layout-wrap>
                <p class="label-container"><b>{{vm.isNewVersion?'Step-3:':'Step-2:'}}&nbsp;{{vm.digiKeyObj.Step2Message}}</b></p>
                <div class="margin-left-50">{{vm.digiKeyObj.Suggestion}}</div>
              </div>
            </div>
            <div flex="100" layout="row" class="padding-left-10 padding-top-10">
              <div flex="95" layout="column" layout-wrap>
                <div class="margin-left-50"><img src="../../../assets/images/emptystate/digikey-copy-url.png" /></div>
                <p class="margin-left-50 margin-top-10 color-red"><b>{{vm.digiKeyObj.Note2}}</b></p>
              </div>
            </div>
            <div flex="100" layout="row" class="padding-left-10">
              <div flex="95" layout="column" layout-wrap>
                <p class="label-container"><b>{{vm.isNewVersion?'Step-4:':'Step-3:'}}&nbsp;{{vm.digiKeyObj.Step3Message}}</b></p>
                <div class="margin-left-50">
                  <md-input-container flex="100" flex-xs="100" md-no-float class="margin-top-10 width-100p">
                    <input type="text" name="digikeyURL" id="digikeyURL" ng-model="vm.verificationSteps.step3.digikeyURL"
                           placeholder="Paste URL here" required ng-maxlength="100">
                    <div ng-messages="verificationSteps.digikeyURL.$error"
                         role="alert">
                      <div ng-message="required">
                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                      </div>
                      <div ng-message="maxlength">
                        <span>{{vm.getMaxLengthValidation(100, verificationSteps.digikeyURL.$viewValue.length)}}</span>
                      </div>
                    </div>
                  </md-input-container>
                </div>
              </div>
            </div>
        </md-content>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
        <md-button class="md-primary md-raised" ng-click="vm.getAndUpdateTokens($event)" ng-class="{'md-formdirty': vm.verificationSteps.step3.digikeyURL}" aria-label="Submit">Submit</md-button>
      </md-dialog-actions>
    </form>
</md-dialog>
