<div id="user-list" class="page-layout carded fullwidth breadcrumb-fixed" layout="row" cg-busy="{promise:vm.cgBusyLoading}">
    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center margin-left-0 margin-right-0" layout="column" flex>
        <div class="header md-accent-bg" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">

                <div class="h2" layout="row" layout-align="start center">
                    <!--<md-icon md-font-icon="icon-arrange-bring-to-front"></md-icon>&nbsp;
                    <span class="header-title">ECO Category</span>-->
                    <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
                </div>
                <!--<div class="product-count">
                    <span>Total Users:</span>
                    <span>{{vm.totalSourceDataCount}}</span>
                </div>-->
                <div class="product-count" layout="row" layout-align="start center">
                    <breadcrumbs></breadcrumbs>
                </div>
            </div>
            <div>
                <md-button class="md-raised md-primary" aria-label="Add ECO Category" ng-click="vm.addEditRecord(null,$event)">
                  Add {{vm.categoryLabel}} Category
                </md-button>
            </div>
        </div>

        <div class="content-card padding-top-side" layout="column" flex ng-show="!vm.isNoDataFound">
            <md-card layout="column" flex layout-align="space-between stretch">
                <ui-grid-extention load-data="vm.loadData"
                                   grid-id="vm.gridConfig.gridECOCategory+vm.categoryType"
                                   grid-option="vm.gridOptions"
                                   header="vm.sourceHeader"
                                   grid-data="vm.sourceData"
                                   total-data-count="vm.totalSourceDataCount"
                                   reset-grid="vm.resetSourceGrid"
                                   selectted-rows="vm.selectedRowsList"
                                   paging-info="vm.pagingInfo"
                                   current-item="vm.currentdata"
                                   get-data-down="vm.getDataDown"
                                   empty-state="vm.emptyState"
                                   delete-multiple-data="vm.deleteMultipleData">

            </md-card>
        </div>
        <div class="empty-state text-center full-height" layout="row" layout-align="center center" flex="100" layout-wrap ng-if="vm.isNoDataFound == true">
            <div class="emty-icon" flex="100">
                <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
            </div>
            <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
            <p flex="100">
                {{vm.EmptyMesssage.ADDNEWMESSAGE}}
            </p>
            <p flex="100">
                <md-button class="md-fab md-mini" aria-label="Add Customer" ng-click="vm.addEditRecord(null,$event)">
                    <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
                </md-button>
            </p>
        </div>
    </div>
</div>
