<md-dialog aria-label="Sales Order Skipt Kit Confirmation Error" flex="45" draggable>
  <md-dialog-content class="no-padding custom-scroll" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
    <md-content class="padding-15 mh-5">
      <div class="dynamic-msg-content">
        <h2>{{vm.confirmation.messageContent.messageType}}: {{vm.confirmation.messageContent.messageCode}}</h2>
        <div class="dynamic-msg-body mb-5">
          {{vm.confirmation.messageContent.message}}
        </div>
      </div>
      <div layout="row" flex="100">
        <div class="cm-section-inner" flex="100">
          <table class="cm-table-input-main table-umid-allocated-kit width-100p">
            <thead>
              <tr class="umid-header-color">
                <th class="width-70 padding-left-5 text-left">SO Line#</th>
                <th class="width-200 cm-border-left  padding-left-10-imp text-left">{{vm.LabelConstant.MFG.AssyID}}</th>
                <th class="cm-border-left  padding-left-10-imp text-left">Kit Number</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.confirmation.skipKitList track by $index">
                <td class="width-60 padding-5-imp text-right">{{item.lineID}}</td>
                <td class="width-200 padding-5-imp">
                  <common-pid-code-label-link class="margin-top-5"
                                              component-id="item.partID"
                                              label="vm.LabelConstant.Assembly.ID"
                                              value="item.PIDCode"
                                              is-copy="true"
                                              rohs-icon="item.rohsIcon"
                                              rohs-status="item.rohsText"
                                              is-formated="true"
                                              is-assembly="true"></common-pid-code-label-link>
                </td>
                <td class="width-200 padding-5-imp text-left"><a ng-click="vm.goToKitDetail(item)" class="cm-text-decoration underline cursor-pointer">{{item.kitNumber}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-if="vm.confirmation.isConfirmation" ng-click="vm.cancel()">{{vm.CORE.MESSAGE_CONSTANT.BUTTON_CANCEL_TEXT}}</md-button>
    <md-button class="md-default md-raised" ng-click="vm.confirm()">{{vm.confirmation.isConfirmation ? vm.CORE.MESSAGE_CONSTANT.BUTTON_OK_TEXT : vm.CORE.MESSAGE_CONSTANT.BUTTON_OK}}</md-button>
  </md-dialog-actions>
</md-dialog>
