<div class="navigation-toggle" hide-gt-sm>
  <md-button class="md-icon-button" ng-click="vm.toggleHorizontalMobileMenu()"
             aria-label="Toggle Mobile Navigation">
    <md-icon md-font-icon="icon-menu"></md-icon>
  </md-button>
</div>

<ul class="horizontal" layout-wrap>
  <li ng-repeat="node in vm.navigation track by node._id" ms-navigation-horizontal-node="node"
      ng-class="{'has-children': vm.hasChildren}"
      ng-include="'navigation-horizontal-nested.html'"></li>
  <!--<li ng-show="vm.transferPageRight()"  ng-include="'navigation-horizontal-transfer.html'"></li>-->
</ul>

<!-- Nested horizontal navigation template -->
<script type="text/ng-template" id="navigation-horizontal-nested.html">

  <div ms-navigation-horizontal-item layout="row" ng-if="!vm.isHidden()">
    <div class="ms-navigation-horizontal-button" ng-if="!node.uisref && node.title && node.title != '{{UserName}}' && !node.isPopup"
         ng-class="{'active md-accent-bg md-accent-fg': vm.isActive}">
      <i class="icon s22 {{node.icon}}" ng-if="node.icon">
        <span class="t-ic-span">
          <span class="ic-first-line"></span>
          <span class="ic-second-line"></span>
          <span class="ic-border"></span>
        </span>
      </i>
      <span translate="{{node.translate}}" flex>{{node.title}}</span>
      <span class="badge white-fg" style="background: {{node.badge.color}}" ng-if="node.badge">{{node.badge.content}}</span>
      <i class="icon-chevron-right s18 arrow rooticon" ng-if="vm.hasChildren"></i>
    </div>

    <a target="_blank"  class="ms-navigation-horizontal-button" ui-sref="{{node.uisref}}" ui-sref-active="active md-accent-bg md-accent-fg"
       ng-if="node.uisref && node.title && !node.isPopup && !node.isHideFromMenuList" ui-sref-opts="{inherit: false}">
      <i class="icon s22 {{node.icon}}" ng-if="node.icon">
        <span class="t-ic-span">
          <span class="ic-first-line"></span>
          <span class="ic-second-line"></span>
          <span class="ic-border"></span>
        </span>
      </i>
      <span translate="{{node.translate}}" flex>{{node.title}}</span>
      <span class="badge white-fg" style="background: {{node.badge.color}}" ng-if="node.badge">{{node.badge.content}}</span>
      <i class="icon-chevron-right s18 arrow" ng-if="vm.hasChildren"></i>
    </a>

    <a class="ms-navigation-horizontal-button" ng-if="node.isPopup" ng-click="vm.openPopup(node.popupFunName)">
      <i class="icon s22 {{node.icon}}" ng-if="node.icon">
        <span class="t-ic-span">
          <span class="ic-first-line"></span>
          <span class="ic-second-line"></span>
          <span class="ic-border"></span>
        </span>
      </i>
      <span translate="{{node.translate}}" flex>{{node.title}}</span>
      <span class="badge white-fg" style="background: {{node.badge.color}}" ng-if="node.badge">{{node.badge.content}}</span>
    </a>
    <!--<a class="ms-navigation-horizontal-button" ui-sref="{{node.uisref}}" ui-sref-active="active md-accent-bg"
     ng-class="{'active md-accent-bg md-accent-fg': vm.isActive}"
     ng-if="node.uisref && node.title && node.children.length == 0">
      <i class="icon s18 {{node.icon}}" ng-if="node.icon"></i>
      <span class="title" translate="{{node.translate}}" flex>{{node.title}}</span>
      <span class="badge white-fg" style="background: {{node.badge.color}}" ng-if="node.badge">{{node.badge.content}}</span>
      <i class="icon-chevron-right s18 arrow" ng-if="vm.hasChildren"></i>
  </a>-->

  </div>

  <ul ng-if="vm.hasChildren && !vm.isHidden()">
    <li ng-repeat="node in node.children track by node._id" ms-navigation-horizontal-node="node"
        ng-class="{'has-children': vm.hasChildren}"
        ng-include="'navigation-horizontal-nested.html'"
        ng-mouseover="vm.SetMenuPosition($event)"></li>
  </ul>

</script>
<!--<script type="text/ng-template" id="navigation-horizontal-transfer.html">
  <div layout="row">
    <div class="ms-navigation-horizontal-button padding-5-imp" ng-click="vm.openTransferMaterial($event)">
      <i class="icon s18 icons-transfer-material-2"></i>
      <span flex class="font-size-13">Xfer Material</span>
    </div>
  </div>
</script>-->
<!-- / Nested navigation template -->
