<md-dialog aria-label="In House Assembly Stock" cg-busy="{promise:vm.cgBusyLoading}" class="cm-custom-label-common width-100p" draggable>
    <md-toolbar ng-class="vm.themeClass">
        <div class="md-toolbar-tools">
            <h2>Assembly Stock</h2>
            <span flex></span>
            <popup-header-label label-data="vm.headerdata"></popup-header-label>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custome-scroll">
        <md-content class="padding-10">
            <div layout="row" flex="100">
                <form name="vm.frmInhouseAssyStock" class="md-inline-form padding-bottom-0 cm-section-main border-0"
                    flex="100" novalidate>
                    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
                    <div layout="row" flex="100" class="border margin-bottom-5">
                        <div layout="row" flex>
                            <div class="cm-section-inner" flex="100">
                                <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                                    <tbody>
                                      <tr>
                                        <th>
                                          <p class="label-container">
                                            <a class="cm-text-decoration underline"
                                               ng-click="vm.goToLocationList();"
                                               tabindex="-1">{{vm.autoCompleteGeolocation.placeholderName}}</a>
                                            <span ng-if="vm.autoCompleteGeolocation.isRequired">&nbsp;*</span>
                                          </p>
                                        <td ng-if="vm.autoCompleteGeolocation"
                                            colspan="3">
                                          <md-input-container class="autocompletecustom" flex="100">
                                            <custom-auto-complete class="min-width-initial"
                                                                  datalist="vm.geolocationList"
                                                                  column-name="vm.autoCompleteGeolocation.columnName"
                                                                  key-column-name="vm.autoCompleteGeolocation.keyColumnName"
                                                                  input-name="vm.autoCompleteGeolocation.inputName"
                                                                  placeholder-name="vm.autoCompleteGeolocation.placeholderName"
                                                                  key-column-id="vm.autoCompleteGeolocation.keyColumnId"
                                                                  is-required="vm.autoCompleteGeolocation.isRequired"
                                                                  is-addnew="vm.autoCompleteGeolocation.isAddnew"
                                                                  add-data="vm.autoCompleteGeolocation.addData"
                                                                  callback-fn="vm.autoCompleteGeolocation.callbackFn"
                                                                  is-add-from-route="vm.autoCompleteGeolocation.isAddFromRoute"
                                                                  route-name="vm.autoCompleteGeolocation.routeName"
                                                                  on-select-callback-fn="vm.autoCompleteGeolocation.onSelectCallbackFn">
                                            </custom-auto-complete>
                                          </md-input-container>
                                        </td>
                                        <th>
                                          <p class="label-container">Serial# Description<span>&nbsp;</span></p>
                                        </th>
                                        <td>
                                          <md-input-container flex="100">
                                            <input type="text" name="serialNoDescription"
                                                   ng-model="vm.inHouseAssyModel.serialNoDescription"
                                                   placeholder="Serial# Description" ng-maxlength="2500">
                                            <div ng-messages="vm.frmInhouseAssyStock.serialNoDescription.$error"
                                                 role="alert">
                                              <div ng-message="maxlength">
                                                <span>{{vm.getMaxLengthValidation(2500,vm.frmInhouseAssyStock.serialNoDescription.$viewValue.length)}}</span>
                                              </div>
                                            </div>
                                          </md-input-container>
                                        </td>
                                        <th>
                                          <p class="label-container">Notes<span>&nbsp;</span></p>
                                        </th>
                                        <td>
                                          <md-input-container flex="100">
                                            <input type="text" name="notes" ng-model="vm.inHouseAssyModel.notes"
                                                   placeholder="Note" ng-maxlength="2500">
                                            <div ng-messages="vm.frmInhouseAssyStock.notes.$error" role="alert">
                                              <div ng-message="maxlength">
                                                <span>{{vm.getMaxLengthValidation(2500,vm.frmInhouseAssyStock.notes.$viewValue.length)}}</span>
                                              </div>
                                            </div>
                                          </md-input-container>
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--<p class="label-container">Location<span>&nbsp;*</span></p>
                                            <md-input-container flex="100">
                                                <input type="text" name="location" ng-model="vm.inHouseAssyModel.location" md-autofocus
                                                       placeholder="Location" ng-maxlength="2500" required>
                                                <div ng-messages="vm.frmInhouseAssyStock.location.$error"
                                                     role="alert">
                                                    <div ng-message="required">
                                                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                                    </div>
                                                    <div ng-message="maxlength">
                                                        <span>{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                                                    </div>
                                                </div>
                                            </md-input-container>-->
                        </div>
                        <!--<div class="input-wrapper" layout="row" flex>
                                <p class="label-container">Serial# Description</p>
                                <md-input-container flex="100">
                                    <input type="text" name="serialNoDescription" ng-model="vm.inHouseAssyModel.serialNoDescription"
                                           placeholder="Serial# Description" ng-maxlength="2500">
                                    <div ng-messages="vm.frmInhouseAssyStock.serialNoDescription.$error"
                                         role="alert">
                                        <div ng-message="maxlength">
                                            <span>{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>-->
                        <!--<div class="input-wrapper" layout="row" flex>
                                <p class="label-container">notes</p>
                                <md-input-container flex="100">
                                    <input type="text" name="notes" ng-model="vm.inHouseAssyModel.notes"
                                           placeholder="Note" ng-maxlength="2500">
                                    <div ng-messages="vm.frmInhouseAssyStock.notes.$error"
                                         role="alert">
                                        <div ng-message="maxlength">
                                            <span>{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>-->
                        <md-button class="md-primary md-raised md-ink-ripple margin-right-0" ng-class="{'md-formdirty': vm.frmInhouseAssyStock.$dirty}"
                                   ng-click="vm.save()">
                            Save
                        </md-button>
                        <md-button class="md-primary md-raised md-ink-ripple"
                            ng-click="vm.cancelInHouseAssyStock()">
                            Cancel
                        </md-button>
                        <!--<md-button class="md-primary md-raised md-ink-ripple"
                            ng-click="vm.save()">
                            Save
                        </md-button>-->
                    </div>
                </form>
            </div>
            <div layout="row" flex="100" class="cm-assbly-stock-popup">
                <div layout="row" flex ng-show="!vm.isNoDataFound">
                    <md-card class="margin-0" layout="column" flex layout-align="space-between stretch">
                        <ui-grid-extention load-data="vm.loadData" 
                                           grid-id="vm.gridConfig.gridAssemblyStockDetails"
                                           grid-option="vm.gridOptions" header="vm.sourceHeader"
                            grid-data="vm.sourceData" total-data-count="vm.totalSourceDataCount"
                            reset-grid="vm.resetSourceGrid" selectted-rows="vm.selectedRowsList"
                            paging-info="vm.pagingInfo" current-item="vm.currentdata" get-data-down="vm.getDataDown"
                            empty-state="vm.emptyState" delete-multiple-data="vm.deleteMultipleData">
                    </md-card>
                </div>
                <div class="empty-state text-center full-height" layout="row" layout-align="center center" flex="100"
                    layout-wrap ng-if="vm.isNoDataFound == true">
                    <div class="emty-icon" flex="100">
                        <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                    </div>
                    <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
                </div>
            </div>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
