<md-dialog aria-label="Employee" class="cm-custom-label-common" flex="70" draggable>
  <form name="vm.employeeForm" no-translate-class class="md-inline-form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.data.title}}<span ng-if="vm.data.name && (vm.headerdata.length > 0 && !vm.headerdata[0].label)">: {{vm.data.name}}</span></h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata" ng-show="vm.headerdata.length > 0 && vm.headerdata[0].label"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll">
      <md-content class="padding-10" layout="column" layout-gt-xs="row">
        <div class="cm-section-main margin-10" ng-if="!vm.data.isFinalReason" layout="row" layout-wrap flex="100">
          <div class="cm-section-header" flex="100">
            <h2>Reason For Change</h2>
          </div>
          <div class="cm-section-inner" flex="100">
            <div layout="column" flex="100" ng-bind-html="vm.data.reasonForChange" class="custom-scroll eco_description_view">
            </div>
          </div>
        </div>
        <div class="cm-section-main margin-10" ng-if="!vm.data.isFinalReason" layout="row" layout-wrap flex="100">
          <div class="cm-section-header" flex="100">
            <h2>Proposed Resolution</h2>
          </div>
          <div class="cm-section-inner eco_description_view" flex="100">
            <div layout="column" flex="100" ng-bind-html="vm.data.description" class="custom-scroll eco_description_view">
            </div>
          </div>
        </div>
        <div class="cm-section-main margin-10" ng-if="vm.data.isFinalReason" layout="row" layout-wrap flex="100">
          <div class="cm-section-header" flex="100">
            <h2>{{vm.data.title}}</h2>
          </div>
          <div class="cm-section-inner" flex="100">
            <div layout="column" flex="100" ng-bind-html="vm.data.finalStatusReason" class="custom-scroll eco_description_view">
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
