<md-dialog aria-label="Warehouse History" class="warehouse-history-popup" draggable>
    <form name="vm.AlternatePartForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Warehouse History</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="no-padding custom-scroll" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
            <md-content layout="column" class="padding-10">
                <div layout="row" layout-align="space-between center">
                    <span flex="20"><label><a ng-click="vm.goToWHList();" tabindex="-1" class="cm-text-decoration underline">{{vm.LabelConstant.TransferStock.WH}}</a>:&nbsp;</label>{{vm.currentWHDet.Name}}</span>
                    <span flex="25"><label><a ng-click="vm.goToWHList();" tabindex="-1" class="cm-text-decoration underline">Current&nbsp;{{vm.LabelConstant.TransferStock.ParentWH}}</a>:&nbsp;</label>{{vm.currentWHDet.parentWHName || '-' }}</span>
                    <span flex="20"><label>Nickname:&nbsp;</label>{{vm.currentWHDet.nickname || '-'}}</span>
                    <span flex="10">
                        <label>Status:&nbsp;</label>
                        <span class="label-box label-success" ng-class="{'label-success':vm.currentWHDet.isActive, 'label-warning': !vm.currentWHDet.isActive}">{{vm.currentWHDet.isActive ? 'Active' : 'Inactive'}}</span>
                    </span>
                    <span flex="15">
                        <label>Permanent Warehouse:&nbsp;</label>
                        <span class="label-box label-success" ng-class="{'label-success':vm.currentWHDet.isPermanentWH, 'label-warning': !vm.currentWHDet.isPermanentWH}">{{vm.currentWHDet.isPermanentWH ? 'Yes' : 'No'}}</span>
                    </span>
                </div>
                <div class="content-card" layout="column" flex ng-show="!vm.isNoDataFound">
                    <md-card layout="column" class=" margin-0" flex layout-align="space-between stretch">
                        <ui-grid-extention load-data="vm.loadData"
                                           grid-option="vm.gridOptions"
                                           header="vm.sourceHeader"
                                           grid-data="vm.sourceData"
                                           total-data-count="vm.totalSourceDataCount"
                                           reset-grid="vm.resetSourceGrid"
                                           selectted-rows="vm.selectedRowsList"
                                           paging-info="vm.pagingInfo"
                                           current-item="vm.currentdata"
                                           get-data-down="vm.getDataDown"
                                           empty-state="vm.emptyState"
                                           delete-multiple-data="vm.deleteMultipleData">
                    </md-card>
                </div>
                <!-- / CONTENT CARD -->
                <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound">
                  <div class="emty-icon" flex="100">
                    <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                  </div>
                  <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
                  <p flex="100">
                    <md-button class="md-fab md-mini" aria-label="" ng-click="vm.loadData()">
                      <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
                      <md-tooltip md-direction="top">Refresh Warehouse History</md-tooltip>
                    </md-button>
                  </p>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
