<md-dialog class="cm-custom-label-common cm-uid-transfer-page" aria-label="PricingError" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="40">
  <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Part Pricing Errors</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="transfer-material-modal no-padding custom-scroll" layout="column">
    <md-content class="padding-10 mh-5">
      <div layout="row" flex="100" layout-wrap>
        <div class="cm-section-inner" flex="100">
          <table class="cm-table-input-main table-umid-allocated-kit width-100p">
            <thead>
              <tr class="umid-header-color">
                <th class="width-50">#</th>
                <th class="width-100 cm-border-left">Item#</th>
                <th class="cm-border-left">Error(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.pricingErrorData track by $index">
                <td class="text-center width-50">{{($index+1)}}</td>
                <td class="text-center width-100">{{item.itemNumber}}</td>
                <td>
                  <div ng-repeat="errorLine in item.fieldValidation track by $index">
                    {{($index+1)}}. {{errorLine}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
  </md-dialog-actions>
</md-dialog>
