<form name="vm.LabelVerification" class="cm-custom-label-common" novalidate>
  <div layout="row" class="input-wrapper padding-top-5" flex="100" layout-wrap>
    <p flex="20" class="label-container mb-0">
      Live stream URL<span>&nbsp;*</span>
      <span>
        <md-icon class="icon-question-mark-circle help-icon cm-question-mark" ng-click="openConfigurationPopup($event)">
          <md-tooltip md-direction="top">
            {{ipWebcamObj.ToolTipLabel}}
          </md-tooltip>
        </md-icon>
      </span>
    </p>
    <md-input-container flex="35" ng-class="vm.themeClass" class="margin-bottom-0 md-block margin-top-0">
      <input type="text" name="videoURL" ng-model="verificationDet.liveStreamURL" required
             placeholder="Live stream URL" ng-maxlength="50">
      <div ng-messages="vm.LabelVerification.videoURL.$error" role="alert">
        <div ng-message="required">
          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
        </div>
        <div ng-message="maxlength">
          <span>{{vm.getMaxLengthValidation(50,vm.LabelVerification.videoURL.$viewValue.length)}}</span>
        </div>
      </div>
    </md-input-container>
    <div flex="45">
      <md-button class="md-btn md-primary md-raised margin-0 margin-left-10 margin-right-10"
                 ng-class="{'md-formdirty': vm.LabelVerification.$dirty}"
                 ng-click="storeVideoURL()" ng-disabled="!verificationDet.liveStreamURL || webcamDet.connecting">
        Save
      </md-button>
      <md-button class="md-btn md-default md-raised margin-0 margin-right-10" ng-click="cancelVideoURL()" ng-if="!isRefreshBtn">
        Cancel
      </md-button>
      <md-button class="md-btn md-default md-raised margin-0" ng-disabled="!verificationDet.liveStreamURL" ng-if="isRefreshbtn" ng-click="webcamDet.refreshVideoURL()">
        Refresh
      </md-button>
    </div>
    <div flex="100" layout="row">
      <div flex="20"></div>
      <p class="streamURLnote" flex="80">Note: {{WebcamURLConfigNote}}</p>
    </div>
  </div>
</form>
