<md-dialog aria-label="Employee" class="cm-custom-label-common" draggable>
  <form name="vm.employeeForm" no-translate-class class="md-inline-form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.data.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="no-padding custom-scroll">
      <md-content class="padding-10" layout="column" layout-gt-xs="row">
        <img class="ml-48 center-block height-100p width-150px mt-5 mb-5" ng-src="{{vm.data.signatureContent}}" />
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
