<div layout="row" layout-wrap>
    <div flex="100" flex-gt-xs="{{vm.showDescription ? '25' : '15'}}" class="pr-10">
        <div layout="column" layout-gt-xs="row" flex class="pastewrapper component-profile-view">
            <div flex="100" class="drop-box image drop-box-height">
                <img class="img img-no-drag" ng-src="{{vm.component.imageURL}}" />
            </div>
        </div>
    </div>
    <div flex="100" class="cm-text-custom-wrap" flex-gt-xs="{{vm.showDescription ? '75' : '45'}}" layout-wrap ng-class="{'pr-10': !vm.showDescription}">
        <div flex="100" class="component-box-title"><span>Part Details</span></div>
        <div class="component-box padding-bottom-5" layout="row" layout-wrap>
            <div class="row-main" layout="row" flex="50">
                <label flex="25">PID Code:</label>
                <p class="margin-0" flex="75">
                    {{vm.component.PIDCode}}
                    <md-icon class="icon-content-copy cursor-pointer color-black padding-top-5 margin-0" style="min-width: 16px;width: 16px" ng-click="vm.copyText(vm.component.PIDCode)" ng-mouseover="vm.copyStatus()">
                        <md-tooltip md-direction="top" ng-show="!vm.showCopyStatus">Copy</md-tooltip>
                        <md-tooltip md-direction="bottom" ng-show="vm.showCopyStatus">Copied</md-tooltip>
                    </md-icon>
                </p>
            </div>
            <div class="row-main" layout="row" flex="50">
                <label flex="33">Part Status:</label>
                <p class="margin-0" flex="66">{{vm.component.selectedPartStatus}}</p>
                <!--<span class="padding-5" ng-class="{'label-danger': !vm.autoCompletePart.keyColumnId, 'label-success':vm.autoCompletePart.keyColumnId}">
                </span>-->
            </div>
            <div class="row-main" layout="row" flex="50">
                <label flex="30">Code:</label>
                <p class="margin-0" flex="70">{{vm.component.selectedMFGCodeTxt}}</p>
            </div>
            <div class="row-main" layout="row" flex="50">
                <label flex="30">Part#:</label>
                <p class="margin-0" flex="70">{{vm.component.mfgPN}}</p>
            </div>
            <div ng-if="!vm.IsManufacturer" class="row-main" layout="row" flex="50">
                <label flex="30">MFG Code:</label>
                <p class="margin-0" flex="70">{{vm.component.distMFGCode}}</p>
            </div>
            <div ng-if="!vm.IsManufacturer" class="row-main" layout="row" flex="50">
                <label flex="30">MFG Part#:</label>
                <p class="margin-0" flex="70">
                    {{vm.component.distMFGPN}}
                    <md-icon class="icon-content-copy cursor-pointer color-black padding-top-5 margin-0" style="min-width: 16px;width: 16px" ng-click="vm.copyText(vm.component.distMFGPN)" ng-mouseover="vm.copyStatus()">
                        <md-tooltip md-direction="top" ng-show="!vm.showCopyStatus">Copy</md-tooltip>
                        <md-tooltip md-direction="bottom" ng-show="vm.showCopyStatus">Copied</md-tooltip>
                    </md-icon>
                </p>
            </div>
            <div class="row-main" layout="row" flex="50">
                <label flex="45">Replacement Part:</label>
                <p class="margin-0" flex="55">{{vm.component.selectedReplacementPartTxt}}</p>
            </div>
            <div class="row-main" layout="row" flex="100">
                <label flex="25">MFG Description:</label>
                <p class="margin-0" flex="75">{{vm.component.mfgPNDescription}}</p>
            </div>
        </div>
    </div>
    <div flex="100" flex-gt-xs="{{vm.showDescription ? '100' : '40'}}" layout-wrap>
        <div flex="100" class="component-box-title"><span>Part Characteristics</span></div>
        <div class="component-box" layout="row" layout-wrap>
            <div class="row-main" layout="row" flex="60">
                <label flex="40">Good/Bad Part:</label>
                <p class="margin-0" flex="60">
                    <span class="padding-5" ng-class="{'label-danger': !vm.component.isGoodPart, 'label-success':vm.component.isGoodPart}">
                        {{vm.component.isGoodPart ? 'Good Part': 'Bad Part'}}
                    </span>
                </p>
            </div>
            <div class="row-main" layout="row" flex="40">
                <label flex="50">RoHS Status:</label>
                <p class="margin-0" flex="50">
                    <span>
                        <img class="img-20" ng-src="{{vm.component.rohsIcon}}">
                        <!--<md-tooltip>{{vm.component.rohsName}}</md-tooltip>-->
                    </span>
                </p>
            </div>
            <div class="row-main" layout="row" flex="40">
                <label flex="40">RoHS Text:</label>
                <p class="margin-0" flex="60">{{vm.component.rohsText}}</p>
            </div>
            <div class="row-main" layout="row" flex="60">
                <label flex="40">Mounting Type:</label>
                <p class="margin-0" flex="60">{{vm.component.selectedMountingTypeTxt}}</p>
            </div>
            <div class="row-main" layout="row" flex="40">
                <label flex="40">Category:</label>
                <p class="margin-0" flex="60">{{vm.component.selectedCategoryTxt}}</p>
            </div>
            <div class="row-main" layout="row" flex="60">
                <label flex="40">Price Category:</label>
                <p class="margin-0" flex="60">{{vm.component.priceCategoryID}}</p>
            </div>
            <div class="row-main" layout="row" flex="100">
                <label flex="25">Data Sheet Link</label>
                <md-button ng-href="{{vm.component.dataSheetLink}}" target="_blank" ng-disabled="vm.component.dataSheetLink == '' ? true : false" class="md-icon-button data-sheet-ink-btn">
                    <md-icon md-font-icon="icon-open-in-new" role="img"></md-icon>
                </md-button>
                <!--<p class="margin-0" flex="75"></p>-->
            </div>
        </div>
    </div>
</div>
<div layout="row" layout-wrap>
    <div flex="100" flex-gt-xs="{{vm.showDescription ? '100' : '50'}}" layout-wrap ng-class="{'pr-10': !vm.showDescription}">
        <div flex="100" class="component-box-title"><span>Quantity and Packaging Info.</span></div>
        <div class="component-box" ng-class="{'component-box-height': !vm.showDescription}" layout="row" layout-wrap>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Min. Qty:</label>
                <p class="margin-0" flex="60">{{vm.component.minQty}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Max. Qty:</label>
                <p class="margin-0" flex="60">{{vm.component.maxQty}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Package Qty:</label>
                <p class="margin-0" flex="60">{{vm.component.packageQty}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Min:</label>
                <p class="margin-0" flex="60">{{vm.component.minimum}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Mult:</label>
                <p class="margin-0" flex="60">{{vm.component.mult}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Packaging:</label>
                <p class="margin-0" flex="60">{{vm.component.packaging}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">No of Position (Pin):</label>
                <p class="margin-0" flex="60">{{vm.component.noOfPosition}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Safety Stock:</label>
                <p class="margin-0" flex="60">{{vm.component.saftyStock}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Lead Time:</label>
                <p class="margin-0" flex="60">{{vm.component.leadTime}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="30">Part Package:</label>
                <p class="margin-0" flex="70">{{vm.component.partPackage}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="30">Part Making:</label>
                <p class="margin-0" flex="70">{{vm.component.partMarking}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="25">Max Price:</label>
                <p class="margin-0" flex="75">{{vm.component.maxPriceLimit}}</p>
            </div>
            <div class="row-main" layout="row" flex="50">
                <label flex="20">Values:</label>
                <p class="margin-0" flex="80">{{vm.component.partValues}}</p>
            </div>
            <div class="row-main" layout="row" flex="50">
                <label flex="30">LTB Date:</label>
                <p class="margin-0" flex="70">{{vm.component.selectedLtbDate}}</p>
            </div>
            <div flex="50" class="row-main md-tab margin-bottom-0">
                <label flex="100" class="row-main md-tab margin-bottom-0"><b>Standard Lead Time </b></label>
                <div class="row-main md-tab margin-bottom-0" layout="row" flex="50">
                    <label flex="40">From:</label>
                    <p class="margin-0" flex="60">{{vm.component.stdLeadTimeFrom}}</p>
                </div>
                <div class="row-main md-tab margin-bottom-0" layout="row" flex="50">
                    <label flex="40">To:</label>
                    <p class="margin-0" flex="60">{{vm.component.stdLeadTimeTo}}</p>
                </div>
            </div>
            <div flex="50" class="row-main md-tab margin-bottom-0">
                <label flex="100" class="row-main md-tab margin-bottom-0"><b>Non Standard Lead Time </b></label>
                <div class="row-main md-tab margin-bottom-0" layout="row" flex="50">
                    <label flex="40">From:</label>
                    <p class="margin-0" flex="60">{{vm.component.nonStdLeadTimeFrom}}</p>
                </div>
                <div class="row-main md-tab margin-bottom-0" layout="row" flex="50">
                    <label flex="40">To:</label>
                    <p class="margin-0" flex="60">{{vm.component.nonStdLeadTimeTo}}</p>
                </div>
            </div>
        </div>
    </div>
    <div flex="100" flex-gt-xs="{{vm.showDescription ? '100' : '50'}}" layout-wrap>
        <div flex="100" class="component-box-title"><span>Part Attributes</span></div>
        <div class="component-box" ng-class="{'component-box-height': !vm.showDescription}" layout="row" layout-wrap>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Unit:</label>
                <p class="margin-0" flex="60">{{vm.component.selectedUOMTxt}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Weight:</label>
                <p class="margin-0" flex="60">{{vm.component.weight}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Volume:</label>
                <p class="margin-0" flex="60">{{vm.component.volume}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Height:</label>
                <p class="margin-0" flex="60">{{vm.component.height}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Width:</label>
                <p class="margin-0" flex="60">{{vm.component.width}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Length:</label>
                <p class="margin-0" flex="60">{{vm.component.length}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">Tolerance:</label>
                <p class="margin-0" flex="60">{{vm.component.tolerance}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">HTS Code:</label>
                <p class="margin-0" flex="60">{{vm.component.htsCode}}</p>
            </div>
            <div class="row-main" layout="row" flex="33">
                <label flex="40">EOL Date:</label>
                <p class="margin-0" flex="60">{{vm.component.SelectedEolDate}}</p>
            </div>
            <div layout="row" flex="100">
                <div class="row-main" layout="row" flex="33">
                    <label flex="40">UOM Text:</label>
                    <p class="margin-0" flex="75">{{vm.component.uomText}}</p>
                </div>
                <div class="row-main" layout="row" flex="33">
                    <label flex="40">Self Life:</label>
                    <p class="margin-0" flex="75">{{vm.component.selfLifeDays}}</p>
                </div>
                <div class="row-main" layout="row" flex="50">
                    <label flex="40">Origin:</label>
                    <p class="margin-0" flex="75">{{vm.component.countryOfOrigin}}</p>
                </div>
            </div>
            <div layout="row" flex="100">
                <div class="row-main" layout="row" flex="33">
                    <label flex="40">Features:</label>
                    <p class="margin-0" flex="75">{{vm.component.feature}}</p>
                </div>
                <div class="row-main" layout="row" flex="33">
                    <label flex="40">MSL:</label>
                    <p class="margin-0" flex="75">{{vm.component.msl}}</p>
                </div>
                <div class="row-main" layout="row" flex="33">
                    <label flex="40">Connector Type:</label>
                    <p class="margin-0" flex="75">{{vm.component.selectedConnecterTxt}}</p>
                </div>
            </div>
            <div flex="100" class="row-main md-tab margin-bottom-0">
                <label flex="100" class="row-main md-tab margin-bottom-0"><b>Operating Temperature</b></label>
                <div class="row-main md-tab margin-bottom-0" layout="row" flex="25">
                    <label flex="40">Min.:</label>
                    <p class="margin-0" flex="60">{{vm.component.minOperatingTemp}}</p>
                </div>
                <div class="row-main md-tab margin-bottom-0" layout="row" flex="25">
                    <label flex="40">Max.:</label>
                    <p class="margin-0" flex="60">{{vm.component.maxOperatingTemp}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
