<md-dialog aria-label="Select Alternate Part" class="rfq_errorcode_popup_width" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.AlternatePartForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Select Epoxy Process Materials</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
      <md-content class="md-padding custom-scroll">
        <div flex="100" layout="row" layout-align="end start" ng-if="vm.isNoDataFound == false">
          <div class="padding-right-15 padding-top-10" layout-align="space-between start">
            <md-button class="md-primary md-raised md-mini margin-left-0 mv-0 btn-datasheet-link" ng-click="vm.addPart()">
              Add New
            </md-button>
            <md-button class="md-primary md-raised md-mini margin-0 btn-datasheet-link" ng-click="vm.refereshPart()">
              Refresh
            </md-button>
          </div>
        </div>
        <div class="cm-section-main m-5 cm-auto-scroll" ng-if="vm.isNoDataFound == false">
          <div class="cm-section-inner cm-auto-scroll padding-5">
            <table flex="100" class="width-100p" border="1">
              <tbody>
                <tr>
                  <th class="width-5p p-5">

                  </th>
                  <th class="p-5">
                    <span class="p-5"><a class="cm-text-decoration" ng-click="vm.GotoMFRList()">{{vm.LabelConstant.MFG.MFG}}</a></span>
                  </th>
                  <th class="p-5">
                    <span class="p-5"><a class="cm-text-decoration" ng-click="vm.GotoPartList()">{{vm.LabelConstant.MFG.MFGPN}}</a></span>
                  </th>
                  <th class="p-5">
                    <span class="p-5">
                      <a class="cm-text-decoration" ng-click="vm.goToPackagingList();"
                         tabindex="-1">Packaging</a>
                    </span>
                  </th>
                  <th class="p-5">
                    <span class="p-5">
                      SPQ
                    </span>
                  </th>
                  <th class="p-5">
                    <span class="p-5">{{vm.LabelConstant.MFG.MFGPNDescription}}</span>
                  </th>
                </tr>
                <tr ng-repeat="item in vm.processMaterialList">
                  <td class="p-5">
                    <md-input-container class="margin-0" flex="100">
                      <md-checkbox ng-model="item.isChecked" name="{{item.id}}">
                      </md-checkbox>
                    </md-input-container>
                  </td>
                  <td class="p-5">
                    <md-input-container class="margin-0" flex="100">
                      <span>
                        <a class="cm-text-decoration" ng-click="vm.goToMFR(item);"
                           tabindex="-1">{{item.mfgName}}</a>
                      </span>
                    </md-input-container>
                  </td>
                  <td class="p-5">
                    <md-input-container class="margin-0" flex="100">
                      <common-pid-code-label-link component-id="item.mfgPNID"
                                                  label="vm.LabelConstant.MFG.MFGPN"
                                                  value="item.mfgPN"
                                                  is-copy="true"
                                                  is-custom-part="item.isCustom"
                                                  cust-part-number="item.custAssyPN"
                                                  rohs-icon="vm.rohsImagePath+item.roHSStatusIcon"
                                                  rohs-status="item.roHSName"
                                                  is-search-digi-key="!item.isCustom" is-search-findchip="!item.isCustom"
                                                  is-supplier="false">
                      </common-pid-code-label-link>
                    </md-input-container>
                  </td>
                  <td class="p-5">
                    <md-input-container class="margin-0" flex="100">
                      <span>{{item.packagingName}}</span>
                    </md-input-container>
                  </td>
                  <td class="p-5">
                    <md-input-container class="margin-0" flex="100">
                      <span>{{item.packageQty}}</span>
                    </md-input-container>
                  </td>
                  <td class="p-5">
                    <md-input-container class="margin-0" flex="100">
                      <span>{{item.mfgPNDescription}}</span>
                    </md-input-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="empty-state text-center full-height" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound == true">
          <div class="emty-icon" flex="100">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
          </div>
          <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
          <p flex="100">
            <md-button class="md-fab md-mini" aria-label="Add Elements" ng-click="vm.addPart()">
              <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus">
              </md-icon>
              <md-tooltip>Add New</md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Refresh Data Fields" ng-click="vm.refereshPart()">
              <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon"></md-icon>
              <md-tooltip>Refresh</md-tooltip>
            </md-button>
          </p>
        </div>

      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.save()" ng-disabled="vm.isNoDataFound" ng-class="{'md-formdirty': vm.checkFormDirty(vm.AlternatePartForm) }" aria-label="Select">Select</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

