.grid-cell-noborder .ui-grid-row .ui-grid-cell {
  border-bottom: 1px solid #d8d8d8 !important;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
  border-color: #d8d8d8 !important;
}

.ui-grid-cell {
  border-right: 1px solid #d8d8d8;
  display: flex;
  border-bottom: 1px solid #d8d8d8 !important;
  vertical-align: text-top !important;
}

.ui-grid-cell-contents {
  align-items: center;
  /*display: flex;*/
  padding: 3px 5px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  /*width: 100%;*/
  span.label {
    margin: 0 auto;
    padding: 6px 5px 7px;
  }
}

.ui-grid {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #eee;
  background: #fff;
  padding-bottom: 45px;
  overflow: hidden;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
  border-color: #d8d8d8 !important;
}

.ui-grid-header-cell, .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
  border-right: 0;
}

.ui-grid-header-cell {
  border-right: 1px solid #d8d8d8;
  //border-color: #d8d8d8;
  background: #daedeb; /*#daedeb #f6f8f8*/
}

.ui-grid-header {
  border-bottom: 1px solid #eee;
}

.ui-grid-cell, .ui-grid-header-cell {
  &:last-child {
    border-right: 1px solid #d8d8d8;
  }
}

.ui-grid-row:last-child .ui-grid-cell {
  border-bottom: 1px solid #d8d8d8;
}

.ui-grid-column-menu-button {
  top: 10px;
}

.ui-grid-header-cell {
  .ui-grid-cell-contents {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: bold;
    padding: 9px;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
    height: 48px;
    white-space: normal;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    overflow: visible;
  }
}

.top-menu-ttl {
  height: 45px;
  border-bottom: 0;
  max-height: 45px;
  background: rgb(26,56,101);

  .md-button.md-icon-button md-icon {
    display: block;
    color: #fff;
    font-size: 17px;
  }

  .pull-left > a {
    background: rgba(0,0,0,0.2);
    font-size: 13px;
    padding: 6px 15px;
  }
}

.ui-grid-pinned-container {
  .ui-grid-render-container-left, & .ui-grid-render-container-right {
    margin-top: 45px !important;
  }
}

body .full-grid .ui-grid-menu-button .ui-grid-icon-container {
  margin-top: 8px;
  margin-left: 7px;
}

.filter-btn {
  padding: 2px 0;
}

.ui-grid-menu-button {
  background: #2cabe3;
}

.full-grid .grid {
  padding-bottom: 45px;
}

.ui-grid-pager-panel {
  border-top: 1px solid #eee;
  background: #daedeb; /*#f6f8f8 #fff*/
  /*padding: 9px 0;*/
  padding: 2px 0 1px;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  z-index: 8;
}

.ui-grid-pager-control button, .ui-grid-pager-control input {
  border: 0;
  box-shadow: none;
  background: transparent !important;
}

.ui-grid-pager-control input {
  border: 0;
  box-shadow: none;
  width: 45px;
  padding: 0;
}

.ui-grid-pager-row-count-picker select {
  height: 26px;
  width: 60px;
  padding: 0;
  border: 0;
  box-shadow: none;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
  vertical-align: middle;
  font-size: 13px;
}

.ui-grid-pager-max-pages-number abbr {
  position: relative;
  top: -1px;
}

.ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-header-cell:first-child, .ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-cell:first-child {
  border-left-color: #eee;
}

.ui-grid-canvas {
  background: #fff;
}

/*start grid checkbox*/
.ui-grid-selection-row-header-buttons {
  opacity: 1;
  border: 1px solid #ddd;
  border-radius: 0;
  height: 20px !important;
  width: 20px !important;

  &:before {
    display: none;
    content: "\e703";
    font: 14px/1 'icomoon';
    margin-left: 1px;
    font-weight: bold;
    margin-top: 1px;
  }

  &.ui-grid-row-selected, &.ui-grid-all-selected {
    background: $customThemeDark;
    border-color: $customThemeDark;
    border-radius: 0;

    &:before {
      display: block;
      color: #fff;
    }
  }
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: transparent !important;
}
/*end grid checkbox*/


.ui-grid-filter-container {
  padding: 0px 10px 10px;

  .ui-grid-filter-input, input[type="number"] {
    border: 0 !important;
    border-bottom: 1px solid rgba(0,0,0,0.12) !important;
    min-height: 25px !important;
    height: 25px !important;
    background: transparent;

    &:hover {
      border: 0;
      border-bottom: 1px solid rgba(0,0,0,0.12);
    }

    &:focus {
      border-bottom: 2px solid #2CABE3 !important;
    }
  }
}

.ui-grid-menu-mid.custom-scroll {
  max-height: 300px;
  overflow: auto;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
  /*background-color: transparent;*/
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: transparent;
}

.ui-grid-top-panel {
  background: transparent;
}

.md-icon-button {
  &.bdrbtn {
    border: 1px solid #757575;
    margin: 0;
    height: 23px !important;
    width: 23px !important;
    min-width: 23px !important;
    padding: 0px;
    min-height: 23px !important;
    margin-left: 3px;

    md-icon {
      color: #757575 !important;
      font-size: 14px !important;
      height: 13px !important;
      width: 15px !important;
      min-height: 13px !important;
      min-width: 15px !important;
      line-height: 13px !important;
      margin: 0px auto !important;
    }
  }

  &.bdrbtn.md-warn {
    border: none;

    md-icon {
      color: #ffffff !important;
    }
  }
}

.ui-grid-cell, .ui-grid-footer-cell {
  padding: 0px 10px;
}

.ui-grid-menu-button {
  background: transparent;
  border: 0;
}

body .ui-grid * {
  box-sizing: border-box;
  outline: 0;

  abbr {
    border: 0;
  }
}

.ui-grid-header-cell i.ui-grid-icon-angle-down {
  font-size: 15px;
  position: relative;
  top: -2px;
  background: #daedeb; /*#f6f8f8*/
  right: 0px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.ui-grid-pinned-container-left {


  .ui-grid-cell {
    padding: 0;

    .ui-grid-cell-contents {
      padding: 0 10px;
      display: flex;
    }
  }

  .ui-grid-header-cell {
    .ui-grid-cell-contents {
      padding: 13px 10px;
    }
  }
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #e5fffd !important;
}


.ui-grid-menu .ui-grid-menu-mid {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  .ui-grid-menu-inner {
    border: 0;

    ul li {

      button {
        padding: 12px 15px;
        background: #ffffff;
        border: 0 !important;
        color: currentColor;
        align-items: center;
        display: flex;
        font-size: 1.3rem !important;
        white-space: normal;

        i {
          color: rgba(0,0,0,0.54);
          margin-right: 10px;
          font-size: 18px;
        }

        i.icon {
          color: rgba(0,0,0,0.54);
          font-size: 25px;

          &.icon-checkbox-marked {
            color: #2CABE3;
          }
        }

        &:hover, &:focus {
          background: #ECECEC;
          box-shadow: none;
        }
      }

      &.gridColumTitle {
        button {
          font-weight: bold;

          i {
            width: 0;
            min-width: 3px;
            margin: 0;
          }

          &:hover, &:focus {
            background: #ECECEC;
            box-shadow: none;
          }
        }
      }
    }
  }
}

.ui-grid-column-menu {
  margin-top: 45px;
}

/*.ui-grid-header-canvas {
    height: 100px !important;
}*/
.ui-grid-filter-container .ui-grid-filter-button i.icon-close {
  font-size: 15px !important;
  margin: 5px 5px 0 0;
  top: 5px;
  background: #f6f8f8;
  padding-left: 2px;
}

// /*.custom-scroll::-webkit-scrollbar {
//     width: 8px;
//     background: rgba(0, 0, 0, 0.1);
//     transition: all .2s;
//     height: 8px;
// }

// .custom-scroll::-webkit-scrollbar-thumb {
//     border-radius: 0px;
//     background: rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     transition: all .2s;
// }*/

.ui-grid-viewport {
  background: #fff;
}

.grid-footer {
  background: #daedeb; /*#f6f8f8 #fff*/
  /*padding: 10px 15px;*/
  padding: 7px 15px;
  font-size: 13px;
  border-top: 1px solid #ddd;
}

.ui-grid-focuser:focus {
  box-shadow: none !important;
  border: 0 !important;
}

.ui-grid {
  .ui-grid-row {
    .ui-grid-cell {
      .md-button {
        min-height: 20px !important;
        line-height: 22px !important;
      }
    }
  }
}

.ui-grid-menu {
  right: auto;
  z-index: 9;
}

// .ui-grid-row,
// .ui-grid-cell,
// .ui-grid-cell .ui-grid-vertical-bar {
//   height: 38px !important;
// }

.ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell:hover .ui-grid-cell, .ui-grid-row:nth-child(odd):hover .ui-grid-cell, .ui-grid-row:nth-child(even):hover .ui-grid-cell {
  background-color: rgb(222, 244, 255);
}

.ui-grid-cell, .ui-grid-footer-cell {
  .grid-cell-text-right {
    width: 100%;
    text-align: right;
  }
}

.grid-cell-text-danger {
  color: #ff0000 !important;
}

.grid-cell-text-bold {
  font-weight: 600;
}

//In empty state add new class cm-empty-state-viewport for scoll ui
.cm-empty-state-viewport {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

.grid-custom-top-scroll {
  background: #ddd;
  height: 0px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.viewport-top-scroll {
  div {
    height: 20px;
  }
}

/*.ui-grid-viewport {
  min-height: 500px;
}*/
.header-page-details {
  padding-top: 3px;
  padding-bottom: 3px;
  box-sizing: content-box;
  color: #fff !important;
}

.header-pager-control {
  input {
    color: #fff !important;
  }

  .first-bar {
    border-left: 2px solid #fff;
  }

  .first-bar-rtl {
    border-left: 2px solid #fff;
  }

  .first-triangle {
    border-color: transparent #fff transparent transparent;
  }

  .last-triangle {
    border-color: transparent transparent transparent #fff;
  }

  .last-bar {
    border-left: 2px solid #fff;
  }

  .last-bar-rtl {
    border-left: 2px solid #fff;
  }
}

.ui-grid-menu-disabled {
  color: #afafaf !important;

  i.icon {
    color: #afafaf !important;
  }
}
