<md-dialog aria-label="coustomer-confirmation" flex="90" cg-busy="{promise:vm.cgBusyLoading}" draggable>

  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h2>Consolidated Part Restriction Details</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="no-padding custom-scroll" layout="column">
    <md-content class="padding-10">
      <div flex="100" layout="row" class="pb-10" layout-wrap ng-if="vm.CPNPID">
        <div flex="100" layout="row" layout-wrap>
          <table border="1" width="100%" class="padding-5 opration-table text-center">
            <tr>
              <td class="padding-5">
                {{vm.LabelConstant.MFG.PID}}
              </td>
              <td class="padding-5">
                Restrict CPN In BOM
              </td>
              <td class="padding-5">
                Restrict CPN Permanently
              </td>
              <td class="padding-5">
                Restrict CPN (Use with Permission)
              </td>
            </tr>
            <tr>
              <td class="padding-5">
                <span class="value cm-consolidate-copy-part">
                  <common-pid-code-label-link component-id="vm.custPNID"
                                              label="vm.LabelConstant.MFG.PID"
                                              value="vm.CPNPID"
                                              is-custom-part="true"
                                              cust-part-number="vm.cpncustAssyPN"                                          
                                              rohs-icon="vm.rohsImagePath+vm.CPNRoHSIcon"
                                              rohs-status="vm.CPNRoHSName"
                                              is-copy="true">
                  </common-pid-code-label-link>
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{vm.restrictCPNUseInBOMStep}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{vm.restrictCPNUsePermanentlyStep}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{vm.restrictCPNUseWithPermissionStep}}
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div flex="100" layout="row" layout-wrap>
        <div flex="100" layout="row" layout-wrap>
          <table border="1" width="100%" class="padding-5 opration-table text-center">
            <tr>
              <td colspan="6">
              </td>
              <td colspan="4" class="padding-5">
                Restricted In BOM
              </td>
              <td colspan="4" class="padding-5">
                Restricted In Part Master
              </td>
            </tr>
            <tr>
              <td class="padding-5">
                #
              </td>
              <td class="padding-5">
                {{vm.LabelConstant.Assembly.PIDCode}}
              </td>
              <td class="padding-5">
                {{vm.LabelConstant.Assembly.MFGPN}}
              </td>
              <td class="padding-5">
                Level
              </td>
              <td class="padding-5">
                Item
              </td>
              <td class="padding-5">
                {{vm.LabelConstant.MFG.PID}}
              </td>
              <td class="padding-5">
                Restrict Use In BOM
              </td>
              <td class="padding-5">
                Restrict Use In BOM With Permission
              </td>
              <td class="padding-5">
                Restrict Use Excluding Packaging Alias In BOM Permanently
              </td>
              <td class="padding-5">
                Restrict Use Excluding Packaging Alias In BOM With Permission
              </td>
              <td class="padding-5">
                Restrict Use Including Packaging Alias Permanently
              </td>
              <td class="padding-5">
                Restrict Use Including Packaging Alias With Permission
              </td>
              <td class="padding-5">
                Restrict Use Excluding Packaging Alias Permanently
              </td>
              <td class="padding-5">
                Restrict Use Excluding Packaging Alias With Permission
              </td>
            </tr>
            <tr ng-repeat="data in vm.consolidateLineItems">
              <td class="text-right padding-5">
                <span class="value">
                  {{$index+1}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value cm-consolidate-copy-part">
                  <common-pid-code-label-link component-id="data.partID"
                                              label="vm.LabelConstant.Assembly.PIDCode"
                                              value="data.part"
                                              is-custom-part="true"
                                              cust-part-number="data.assyCustPN"                                            
                                              rohs-icon="vm.rohsImagePath+data.AssyRoHSIcon"
                                              rohs-status="data.AssyRoHSName"
                                              is-copy="true">
                  </common-pid-code-label-link>
                </span>
              </td>
              <td class="padding-5">
                <span class="value cm-consolidate-copy-part">
                  <common-pid-code-label-link component-id="data.partID"
                                              label="vm.LabelConstant.Assembly.MFGPN"
                                              value="data.AssyPN"
                                              is-custom-part="true"
                                              cust-part-number="data.assyCustPN"                                             
                                              rohs-icon="vm.rohsImagePath+data.AssyRoHSIcon"
                                              rohs-status="data.AssyRoHSName"
                                              is-copy="true">
                  </common-pid-code-label-link>
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{data.level}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{data.item}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value cm-consolidate-copy-part">
                  <common-pid-code-label-link component-id="data.mfgPNID"
                                              label="vm.LabelConstant.MFG.PID"
                                              value="data.PIDCode"
                                              is-custom-part="data.isCustom"
                                              cust-part-number="data.custAssyPN"
                                              mfg-value="data.mfgPN"                                              
                                              rohs-icon="vm.rohsImagePath+data.mfgPNRoHSIcon"
                                              rohs-status="data.mfgPNRoHSName"
                                              is-copy="true">
                  </common-pid-code-label-link>
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{data.restrictUseInBOMStep}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{data.restrictUseInBOMWithPermissionStep}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{data.restrictUseInBOMExcludingAliasStep}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{data.restrictUseInBOMExcludingAliasWithPermissionStep}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{data.restrictUsePermanentlyStep}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{data.restrictUseWithPermissionStep}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{data.restrictUseExcludingAliasStep}}
                </span>
              </td>
              <td class="padding-5">
                <span class="value">
                  {{data.restrictUseExcludingAliasWithPermissionStep}}
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions class="qpaclassrow">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
  </md-dialog-actions>

</md-dialog>
