<md-dialog aria-label="scanVerification Label" class="mfg-popup-width cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.ScanVerificationURL">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!vm.verifiedLabel">Scan URL</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding" layout="column">
            <md-content class="md-padding custom-scroll">
                <div flex="100" flex-gt-xs="100" layout-wrap>
                    <div layout="row" class="input-wrapper" flex="100">
                        <p class="label-container">Scan URL</p>
                        <md-input-container ng-class="vm.themeClass" class="margin-bottom-0 md-block" flex="100" flex-gt-xs="100">
                            <input type="text" name="url" ng-model="vm.scanlabel.url" required 
                                   placeholder="Scan URL" md-autofocus>
                            <div ng-messages="vm.ScanVerificationURL.url.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button  class="md-primary md-raised" ng-click="vm.checkImage($event)" ng-disabled="vm.LabelVerification.$invalid" aria-label="Submit">Verify</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>