<div id="forms" class="page-layout simple fullwidth cm-custom-label-common doc-page breadcrumb-fixed" layout="column">
  <ms-form-wizard flex="100" layout="row">
    <div class="header md-accent-bg" layout="row" layout-align="space-between center" cg-busy="{promise:vm.cgBusyLoading}">
      <div layout="row" layout-align="start center" flex>
        <div layout="row">
          <md-button class="goto-products-button md-icon-button cm-back-btn-p-m" type="button" aria-label="Go to products" ng-click="vm.goBack()">
            <md-icon md-font-icon="icons-backarrow" class="material-icons icons-backarrow cm-back-btn">
            </md-icon>
          </md-button>
          <div class="white-fg" layout="column" flex="100" layout-align="start start">
            <div class="h2 master-page-title" layout="row" layout-align="start center">
              <pagetitle is-list="false" is-display-menu-name="true" prefix-content="vm.roleId ? 'Update' : 'Add'" suffix-content="vm.role.name ? ': ' + vm.role.name : ''"></pagetitle>
              <md-tooltip ng-if="vm.roleId" md-direction="right">{{vm.role.name}}</md-tooltip>
            </div>
            <div layout="row" layout-align="start center">
              <breadcrumbs></breadcrumbs>
            </div>
          </div>
        </div>
        <div ng-if="vm.autoCompleteRole" flex="15" class="cm-header-search-add-container">
          <div>
            <md-input-container ng-if="vm.autoCompleteRole" class="width-100p autocompletecustom margin-0 widget-dashboard-search-area part-header-search-area" flex="100" flex-gt-xs="100">
              <custom-auto-complete-search on-search-fn="vm.autoCompleteRole.onSearchFn"
                                           column-name="vm.autoCompleteRole.columnName"
                                           key-column-name="vm.autoCompleteRole.keyColumnName"
                                           key-column-id="vm.autoCompleteRole.keyColumnId"
                                           input-name="vm.autoCompleteRole.inputName"
                                           placeholder-name="vm.autoCompleteRole.placeholderName"
                                           is-required="vm.autoCompleteRole.isRequired"
                                           is-addnew="vm.autoCompleteRole.isAddnew"
                                           callback-fn="vm.autoCompleteRole.callbackFn"
                                           on-select-callback-fn="vm.autoCompleteRole.onSelectCallbackFn">
              </custom-auto-complete-search>
            </md-input-container>
          </div>
          <div>
            <md-button class="md-primary md-raised mb-0" ng-click="vm.addRole()" ng-if="vm.roleId">
              Add Role
            </md-button>
          </div>
        </div>
      </div>
      <div layout-align="start start">
        <md-button class="md-raised md-primary" id="saveBtn"
                   ng-disabled="vm.saveDisable"
                   ng-class="{'md-formdirty': vm.checkFormDirty(msWizard.currentStepForm(),vm.checkDirtyObject)|| (vm.isRightChange || vm.isFeatureChange || vm.isStandardChange || vm.isDbViewDataSourceChange)}"
                   ng-click="vm.AssignPagePermissionToRole()">
          Save
        </md-button>
      </div>
    </div>
    <!-- / CONTENT HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card padding-top-side" layout="column" flex>
      <div layout="row" flex="100">
        <!-- FORM WIZARD -->
        <div flex>
          <md-tabs class="fielddetail manage-equipment-tabing" md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="false"
                   id="manage-equipment-tabing">
            <md-tab md-on-select="vm.onTabChanges(null,msWizard)">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.roleForm.$invalid">1</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.roleForm.$valid">
                    <i class="icon-check s16"></i>
                  </span>
                  <span class="ms-form-wizard-step-text">Details</span>
                </span>
              </md-tab-label>
              <md-tab-body>
                <!--<md-card layout="column">-->
                <!--<md-toolbar>
                    <div class="md-toolbar-tools page-form-header">
                        <h2>Roles Detail</h2>
                    </div>
                </md-toolbar>-->
                <form name="vm.roleForm" class="md-inline-form padding-10-imp" ms-form-wizard-form novalidate>
                  <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
                  <md-content class="padding-0" layout="column" flex>
                    <div class="cm-custom-label-common" layout="row" layout-wrap layout-align="space-between start" flex="100">
                      <div flex="100" layout="row" class="cm-section-main margin-bottom-5">
                        <div class="cm-section-inner" layout="row" flex="100" layout-wrap>
                          <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
                            <tbody>
                              <tr>
                                <th>
                                  <p class="label-container">Name<span ng-hide="vm.roleId">&nbsp;*<check-unique-on-blur></check-unique-on-blur></span></p>
                                </th>
                                <td>
                                  <div layout="row">
                                    <md-input-container flex="100">
                                      <input name="roleName" id="roleName" ng-model="vm.role.name" placeholder="Name" ng-blur="vm.checkDuplicateRoleName()"
                                             ng-disabled="vm.roleId" ng-maxlength="255" custom-auto-focus="{{msWizard.selectedIndex == 0 ? true : false}}" required no-special-character>
                                      <div ng-messages="vm.roleForm.roleName.$error" role="alert">
                                        <div ng-message="required">
                                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                        </div>
                                        <div ng-message="maxlength">
                                          <span>{{vm.getMaxLengthValidation(255, vm.roleForm.roleName.$viewValue.length)}}</span>
                                        </div>
                                      </div>
                                    </md-input-container>
                                  </div>
                                </td>
                                <th flex ng-if="!vm.roleId">
                                  <p class="label-container">Confirm Name<span>&nbsp;*</span></p>
                                </th>
                                <td flex ng-if="!vm.roleId">
                                  <md-input-container flex="100">
                                    <input name="confrimRoleName" ng-model="vm.role.confrimName" ng-match="vm.role.name" placeholder="Confirm Name" ng-disabled="vm.roleId"
                                           required no-special-character onpaste="return false" ng-maxlength="255">
                                    <div ng-messages="vm.roleForm.confrimRoleName.$error || vm.roleForm.confrimRoleName.$touched" role="alert">
                                      <div ng-message="required">
                                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                      </div>
                                      <div ng-message="match">{{vm.CORE_MESSAGE_CONSTANT.NOT_MATCH}}</div>
                                      <div ng-message="maxlength">
                                        <span>{{vm.getMaxLengthValidation(255, vm.roleForm.confrimRoleName.$viewValue.length)}}</span>
                                      </div>
                                    </div>
                                  </md-input-container>
                                </td>
                                <th flex>
                                  <p class="label-container">Access Level<span ng-hide="vm.role.name == vm.SuperAdminName">&nbsp;*</span></p>
                                </th>
                                <td flex>
                                  <md-input-container flex="60">
                                    <input type="number" name="accessLevel" min="0" onkeypress="return OnlyNumeric(event)" ng-model="vm.role.accessLevel" ng-disabled="vm.role.name == vm.SuperAdminName" required placeholder="Access Level" max="9999.99">
                                    <div ng-messages="vm.roleForm.accessLevel.$error || vm.roleForm.accessLevel.$touched" role="alert">
                                      <div ng-message="required">
                                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                      </div>
                                      <div ng-message="maxlength || max || number || step">
                                        <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                                      </div>
                                    </div>
                                  </md-input-container>
                                </td>
                                <th class="font-weight-500">
                                  <md-radio-group layout="row" class="margin-right-0" ng-model="vm.role.isActive" name="radioActive">
                                    <md-radio-button ng-value="true">Active</md-radio-button>
                                    <md-radio-button ng-value="false">Inactive</md-radio-button>
                                  </md-radio-group>
                                </th>
                                <td class="text-right">
                                  <md-button class="md-raised md-primary mv-0 margin-right-0" ng-disabled="vm.roleId == 0" ng-click="vm.AssignToRole();">
                                    Assign Role to user
                                  </md-button>
                                </td>
                              </tr>
                              <tr>
                                <th>
                                  <p class="label-container">Description</p>
                                </th>
                                <td colspan="3">
                                  <div layout="row">
                                    <md-input-container flex>
                                      <textarea name="description" ng-model="vm.role.description"
                                                last-element elementcondition="true" placeholder="Description" ng-maxlength="255"></textarea>
                                      <div ng-messages="vm.roleForm.description.$error" role="alert">
                                        <div ng-message="maxlength">
                                          <span>{{vm.getMaxLengthValidation(255, vm.roleForm.description.$viewValue.length)}}</span>
                                        </div>
                                      </div>
                                    </md-input-container>
                                  </div>
                                </td>
                                <!--<td>
                                    <md-button class="md-raised md-primary mv-0 margin-right-0" ng-click="vm.AssignToRole();">
                                        Assign Role to user
                                    </md-button>
                                </td>-->
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div ng-if="vm.roleId>=0 && vm.role" class="cm-roles-update-grid">
                      <role-page-rights-new role-id="vm.roleId" selected-role="vm.selectedRole" role-obj="vm.role" is-edit="vm.isEdit" page-name="vm.pageName" is-change="vm.ischangePage" is-right-change="vm.isRightChange"
                                        is-feature-change="vm.isFeatureChange" is-standard-change="vm.isStandardChange"
                                        is-db-view-data-source-change="vm.isDbViewDataSourceChange" is-view-only="false"></role-page-rights-new>
                    </div>
                  </md-content>
                </form>
                <!--</md-card>-->
              </md-tab-body>
            </md-tab>
          </md-tabs>
        </div>
      </div>
    </div>
    <!-- / CONTENT CARD -->
  </ms-form-wizard>
</div>
<!-- / CENTER -->
<!--</div>-->
