<md-dialog id='supplierQuotePartPrice' aria-label="Supplier Quote Part Price" class="warehouse-history-popup" draggable>
  <form name="vm.formSupplieQuotePartPrice">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Supplier Quote Part Price</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="no-padding custom-scroll" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
      <md-content class="padding-10">
        <div>
          <span>{{vm.partCostingPriceFetchNote}}</span>
        </div>
        <supplier-quote-part-price-detail-grid supplier-quote-id="vm.supplierQuotePartPrice.supplierQuoteId"
                                               supplier-quote-part-detail-id="vm.supplierQuotePartPrice.supplierQuotePartDetailId"
                                               part-id="vm.supplierQuotePartPrice.partId"
                                               part-packaging-id="vm.headerDetails.component.packagingID"></supplier-quote-part-price-detail-grid>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" read-only="vm.re" last-element ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
