<md-menu-bar id="status-menu" style="padding: 0 10px !important;">
  <md-menu md-position-mode="right bottom">
    <div layout="column">
      <md-button class="user-button padding-right-0-imp margin-0 cm-feture-btn-color md-raised" ng-class="{'height-24 cm-line-height-24imp':!vm.isShowUserStatus}" ng-click="$mdOpenMenu();vm.getAssignColors()" ng-disabled="!vm.isShowUserStatus" id="btnCancelTransfer" aria-label="Status settings">
        <div layout="row" layout-align="space-between center">
          <span>{{vm.LabelConstant.SHOW_USER_STATUS.SmartCartUser}}</span>
          <md-icon md-font-icon="icon-chevron-down"
                   class="icon s16 color-white" hide-sm></md-icon>
        </div>
      </md-button>
      <span class="font-weight-600 font-size-10 color-white" ng-if="!vm.isShowUserStatus">
        {{vm.LabelConstant.SHOW_USER_STATUS.FeatureEnableText}}
      </span>
    </div>
    <md-menu-content width="5" class="cm-smart-cart-user">
      <md-menu-item class="md-indent alignment-Item" ng-if="vm.assignColorDetails.length>0">
        <table class="margin-bottom-0 table table-bordered font-size-11">
          <thead>
            <tr>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.Action}}</th>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.Image}}</th>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.PromptColor}}</th>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.PromptNumber}}</th>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.User}}</th>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.CountDown}}</th>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.UMID}}</th>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.FromWH}}</th>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.Dept}}</th>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.ToWH}}</th>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.RequestType}}</th>
              <th>{{vm.LabelConstant.SHOW_USER_STATUS.PickedUser}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.assignColorDetails">
              <td class="vertical-middle-align">
                <md-button class="md-default md-raised cm-cancel-smart-cart" ng-click="vm.pickColor(item)" ng-disabled="!item.ispickallow || (item.userId==vm.loginUser.userid)">
                  {{vm.loginUser.userid==item.pickUserID?vm.LabelConstant.SHOW_USER_STATUS.DropColor:vm.LabelConstant.SHOW_USER_STATUS.PickColor}}
                </md-button>
                <md-button class="md-default md-raised cm-cancel-smart-cart text-white" ng-click="vm.gotoUnauthorizePage()" ng-if="item.isauthorizedRequest">
                  Unauthorized ({{item.unauthorizeCount}})
                </md-button>
                <md-button class="md-default md-raised cm-cancel-smart-cart" ng-click="vm.cancelRequest(item)" ng-if="!item.isauthorizedRequest">{{vm.LabelConstant.SHOW_USER_STATUS.CancelRequest}}</md-button>
              </td>
              <td>
                <md-button ng-class="item.ledColorCssClass" class="md-icon-button bdrrcvbtn cm-smart-cart-prompt mb-6">
                  <md-icon class="btn-icon mdi mdi-account color-white"></md-icon>
                </md-button>
              </td>
              <td>{{item.ledColorName}}</td>
              <td class="text-right">{{item.promptId}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.currentTimerDiff}}</td>
              <td>{{item.requestMessage.ReelBarCode}}</td>
              <td>{{item.fromWareHouse}}</td>
              <td>{{item.fromWareHouseParent}}</td>
              <td>{{item.uniqueCartID}}<span class="line-height-12 font-size-11">&nbsp;<span ng-if="item.side">({{vm.LabelConstant.SHOW_USER_STATUS.ReservedSide}} <b>{{item.side}}</b>)</span></span></td>
              <td>{{item.requestType}}</td>
              <td>{{item.pickuserName}}</td>
            </tr>
          </tbody>
        </table>
      </md-menu-item>
      <md-menu-item class="md-indent alignment-Item ml-10 cm-smart-idle-status" ng-if="vm.assignColorDetails.length==0">
        <span ng-if="vm.isProgress">{{'Please wait..'}}</span><span ng-if="!vm.isProgress">
          <a tabindex="-1" class="underline cursor-pointer" ng-click="vm.gotoSmartCartWarehouseList()">Smart carts</a>{{vm.LabelConstant.SHOW_USER_STATUS.IdealCart}}
          <span class="smartcart-label-box margin-left-25" ng-class="{'label-warning':(vm.status===vm.inovaxeStatus[2].id),'label-success':(vm.status===vm.inovaxeStatus[1].id)}">{{vm.status}}</span>
        </span>
      </md-menu-item>
      <md-menu-item class="md-indent alignment-Item cm-smart-idle-status padding-top-5" ng-if="vm.offlinesmartcarts>0">
        <div class="margin-0">
          {{vm.LabelConstant.SHOW_USER_STATUS.OfflineSmartCarts}}:&nbsp;<a tabindex="-1" class="underline cursor-pointer" ng-click="vm.gotoSmartCartWarehouseList()"><b>{{vm.offlinesmartcarts}}</b></a>
        </div>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-menu-bar>
