<md-dialog aria-label="Employee" class="" draggable>
    <form name="vm.employeeForm" no-translate-class>
        <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Legend: {{vm.data.pageName}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll">
            <md-content class="padding-10" layout="column" layout-gt-xs="row">
              <div flex="100">
                <div flex="100" layout="row" ng-repeat="obj in vm.data.legendList">
                  <div class="padding-15 text-right" flex layout-align="center center"><h3><b>{{obj.Value}}</b></h3></div>
                  <md-button class="md-default md-focused md-raised w-250" style="background-color:{{obj.BackgroundColor}} !important; color: {{obj.FontColor}} !important"><b>{{obj.BackgroundColor}}</b></md-button>
                </div>
                <div flex="100" layout="row" ng-if="vm.data.isFilterList" ng-repeat="obj in vm.data.FiltersList">
                  <div class="padding-15 text-right" flex layout-align="center center"><h3><b>{{obj.Value}}</b></h3></div>
                  <md-button class="md-default md-focused md-raised w-250" style="background-color:{{obj.BackgroundColor}} !important; color: {{obj.FontColor}} !important"><b>{{obj.BackgroundColor}}</b></md-button>
                </div>
              </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
