<div flex layout="column" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}">
  <div layout="column" flex class="p-5">
    <div class="cm-section-main margin-right-5 margin-rs-right-0" layout="column" flex>
      <div class="cm-section-inner p-0-imp" layout="column" flex>
        <div layout layout-align="start center" class="ph-10 pv-5 border-bottom-gray">
          <span class="pr-10" flex>
            <md-input-container class="md-block margin-0" md-no-float flex>
              <input type="text" placeholder="Type here to search" ng-model="vm.selectedContactPerson" ignore-dirty>
              <md-button ng-if="vm.selectedContactPerson" class="md-icon-button bg-white height-auto width-auto border-radius-2 cm-part-filter-clear-btn margin-top-1 padding-0"
                         ng-click="vm.selectedContactPerson=null;">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon s20 icon-close"></md-icon>
              </md-button>
            </md-input-container>
          </span>
          <md-checkbox ng-model="vm.isOnlyPrimaryPerson" name="isOnlyPrimaryPerson" class="margin-0 pr-10" ng-change="vm.getContactPersonList()">
            <p class="label-container">
              Show Only Primary {{vm.title}}(s)
            </p>
          </md-checkbox>
          <md-checkbox ng-model="vm.isInactiveperson"
                       name="isInactiveperson" class="margin-0 pr-10"
                       ng-change="vm.getContactPersonList()">
            <p class="label-container">
              Show Inactive {{vm.title}}(s)
            </p>
          </md-checkbox>
          <md-button class="md-primary md-raised" ng-click="vm.getContactPersonList()">Refresh</md-button>
          <md-button class="md-primary md-raised" ng-click="vm.addEditContactPerson()">Add {{vm.title}}</md-button>
        </div>
        <div flex class="cm-overflow-auto address-list-container">
          <div layout="row" layout-wrap>
            <div layout="row" flex="100" layout-wrap>
              <div ng-if="vm.selectedDefaultContactPerson" flex="50" layout class="padding-5 address-component">
                <view-contact-person-det layout
                                         param-contact-person-det="vm.selectedDefaultContactPerson"
                                         param-other-det="vm.viewContactPersonOtherDet"></view-contact-person-det>
              </div>
              <div flex="50">

              </div>
            </div>
            <div flex="{{vm.popupParamData.isMasterPage?25:50}}" layout class="padding-5 address-component" ng-repeat="contactPersonItem in vm.allContactPersonList | filter: vm.selectedContactPerson" ng-if="vm.ContactPersonList && vm.ContactPersonList.length > 0">
              <view-contact-person-det layout
                                       param-contact-person-det="contactPersonItem.contactPerson"
                                       param-radio-btn-selected-id="vm.alreadySelectedContactPersonID"
                                       param-other-det="contactPersonItem.viewContactPersonOtherDet"
                                       param-cont-person-action-btn-det="contactPersonItem.custPersonViewActionBtnDet"
                                       param-add-update-contact-callback-fn="vm.addEditContactPersonCallBack"
                                       param-delete-cont-person-callback-fn="vm.removePerson"
                                       param-duplicate-contact-person-callback-fn="vm.duplicatePerson"
                                       param-select-contact-person-callback-fn="vm.selectDefaultPerson"
                                       param-set-default-person-callback-fn="vm.setDefaultPerson"
                                       param-set-primary-person-callback-fn="vm.setPrimaryPerson"></view-contact-person-det>
            </div>
            <div class="empty-state full-height" layout="row" flex="100" layout-wrap layout-align="center center"
                 ng-if="(vm.ContactPersonList | filter: vm.selectedContactPerson).length == 0 && vm.selectedContactPerson.length > 0">
              <div class="emty-icon" flex="100">
                <img ng-src="{{vm.emptySearch.IMAGEURL}}" />
              </div>
              <p class="empty-state-title" flex="100">{{vm.emptySearch.MESSAGE}}</p>
            </div>
            <div class="empty-state text-center full-height" layout="row" layout-align="center center" flex="100" layout-wrap
                 ng-if="!vm.selectedContactPerson && (!vm.ContactPersonList || vm.ContactPersonList.length == 0)">
              <div class="emty-icon" flex="100">
                <img ng-src="{{vm.emptyMsgForContact.IMAGEURL}}" />
              </div>
              <p flex="100" class="empty-state-title">{{vm.emptyMsgForContact.MESSAGE}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

