<md-dialog aria-label="Machine Setup" class="cm-custom-label-common receiving-pop-main" draggable>
    <form name="vm.ScanFeederDetailsForm" class="md-inline-form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>UMID History</h2>
                <span flex></span>
                <popup-header-label label-data="vm.headerdata"></popup-header-label>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="no-padding custom-scroll" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
            <md-content class="padding-10 mh-5" ng-if="vm.filterTypes">                
                    <verification-history layout="column" flex filter-types="vm.filterTypes"></verification-history>               
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
