<md-dialog aria-label="Deallocation UID" class="cm-custom-label-common" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="text-white">Approve To Deallocate From Kit</h2>
      <span flex></span>
      <popup-header-label label-data="vm.headerData"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="vm.countApprovalForm" id="countApprovalForm" novalidate>
    <md-dialog-content class="no-padding custom-scroll">
      <md-content class="padding-10 mh-5">
        <div flex="100" layout="row" layout-align="start start" class="pv-5">
          <div class="title" ng-bind-html="vm.kitDeallocationNote"></div>
        </div>
        <div flex="100" ng-if="vm.countApprovalData.deallocatedKit.length > 0">
          <div class="cm-section-main margin-bottom-5 border-0" flex>
            <div class="cm-section-inner">
              <table class="cm-table-input-main table-umid-allocated-kit">
                <thead>
                  <tr>
                    <th>#</th>
                    <th class="w-500">Kit</th>
                    <th>{{vm.LabelConstant.KitAllocation.PODueDate}}</th>
                    <th>{{vm.LabelConstant.KitAllocation.AllocatedCount}}</th>
                    <th>{{vm.LabelConstant.KitAllocation.AllocatedUnits}}</th>
                    <th>{{vm.LabelConstant.KitAllocation.AllocatedUOM}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in vm.countApprovalData.deallocatedKit">
                    <td class="text-center">{{($index+1)}}</td>
                    <td class="text-left">{{item.kitName}}</td>
                    <td class="text-left">{{item.promiseShipDate | date:vm.DefaultDateFormat}}</td>
                    <td class="text-right">{{item.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (item.allocatedQty) : (item.allocatedQty | unit)}}</td>
                    <td class="text-right">{{item.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (item.allocatedUnit) : (item.allocatedUnit | unit)}}</td>
                    <td>{{item.allocatedUOM}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="cm-section-main border-0" flex="100">
          <div class="cm-section-inner ph-0-imp">
            <div flex="100" layout="row" layout-align="start" class="pb-10">
              <div class="title" ng-bind-html="vm.reasonNote"></div>
            </div>
            <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
              <tbody>
                <tr>
                  <th>
                    <p class="label-container">User ID<span>&nbsp;*</span></p>
                  </th>
                  <td>
                    <md-input-container flex="100">
                      <input type="text" id="username" name="username" ng-model="vm.countapproval.username"
                             placeholder="User ID" md-autofocus required maxlength="200">
                      <div ng-messages="vm.countApprovalForm.username.$error">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(50, vm.countApprovalForm.password.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                  <th>
                    <p class="label-container">Password<span>&nbsp;*</span></p>
                  </th>
                  <td>
                    <md-input-container flex="100">
                      <input type="password" id="password" name="password" ng-model="vm.countapproval.password"
                             placeholder="Password" md-autofocus required maxlength="200">
                      <div ng-messages="vm.countApprovalForm.password.$error">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(50, vm.countApprovalForm.password.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                  <td class="width-50p"></td>
                </tr>
                <tr>
                  <th>
                    <p class="label-container">Reason<span>&nbsp;*</span></p>
                  </th>
                  <td colspan="4">
                    <md-input-container flex="100" class="md-block">
                      <textarea type="text" name="reason" ng-model="vm.countapproval.reason" placeholder="Reason"
                                ng-maxlength="1000" required></textarea>
                      <div ng-messages="vm.countApprovalForm.reason.$error">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(1000, vm.rohsMismatchForm.reason.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="toolbar-45">
      <md-button class="md-default md-button md-ink-ripple" ng-click="vm.cancel()">
        Cancel
      </md-button>
      <md-button class="md-raised md-primary md-button md-ink-ripple text-white" ng-class="{'md-formdirty': vm.countApprovalForm.$dirty }" ng-click="vm.Save()">
        Continue
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
