
<div id="forms" class="page-layout simple fullwidth doc-page breadcrumb-fixed cm-warehouse-bin-navbar cm-custom-label-common" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
  <div class="header md-accent-bg" layout="row" layout-align="space-between center">

    <div class="white-fg" layout="row" flex="40" layout-align="start center">
      <div>
        <md-button class="goto-rfq-button md-icon-button cm-back-btn-p-m" type="button" aria-label="Go to Customer Packing List" ng-click="vm.goBack()">
          <md-icon md-font-icon="icons-backarrow" class="material-icons icons-backarrow cm-back-btn">
          </md-icon>
          <md-tooltip>Back to Customer Packing List</md-tooltip>
        </md-button>
      </div>
      <div layout="column" flex="50">
        <div layout="column">
          <div>
            <pagetitle is-list="false"
                       is-display-menu-name="true"
                       prefix-content="vm.packingId ? 'Update' : 'Add'"
                       suffix-content="vm.packingId ? ('#: ' + vm.packingSlip) : ''"
                       prefix-page-title="vm.packingSlip ? vm.packingSlip: ''"></pagetitle>
            <md-tooltip md-direction="right" ng-if="vm.packingSlip">{{vm.packingSlip}}</md-tooltip>
          </div>
          <div layout="row" layout-align="start center">
            <breadcrumbs></breadcrumbs>
          </div>
        </div>
      </div>
      <div ng-if="vm.autoCompletePackingSlip" class="margin-left-15 cm-header-search-add-container" flex="45">
        <div>
          <md-input-container ng-if="vm.autoCompletePackingSlip" class="width-100p autocompletecustom margin-0 widget-dashboard-search-area" flex="100" flex-gt-xs="100">
            <custom-auto-complete-search on-search-fn="vm.autoCompletePackingSlip.onSearchFn"
                                         column-name="vm.autoCompletePackingSlip.columnName"
                                         key-column-name="vm.autoCompletePackingSlip.keyColumnName"
                                         input-name="vm.autoCompletePackingSlip.inputName"
                                         placeholder-name="vm.autoCompletePackingSlip.placeholderName"
                                         key-column-id="vm.autoCompletePackingSlip.keyColumnId"
                                         is-required="vm.autoCompletePackingSlip.isRequired"
                                         is-addnew="vm.autoCompletePackingSlip.isAddnew"
                                         callback-fn="vm.autoCompletePackingSlip.callbackFn"
                                         on-select-callback-fn="vm.autoCompletePackingSlip.onSelectCallbackFn">
          </md-input-container>
        </div>
        <div class="cm-square-icon-btn pt-2">
          <md-button class="md-icon-button mv-0-imp margin-right-5-imp md-primary md-raised" ng-if="vm.packingId" ng-click="vm.addcustomerPackingSlip(false)">
            <md-icon md-font-icon="t-icons-customer-ps add-icon" class="material-icons"></md-icon>
            <md-tooltip>Add Customer Packing Slip In New Tab</md-tooltip>
          </md-button>
          <md-button class="md-icon-button mv-0-imp margin-right-5-imp md-primary md-raised" ng-if="vm.packingId" ng-click="vm.addcustomerPackingSlip(true)">
            <md-icon md-font-icon="t-icons-customer-ps add-icon same-tab-icon" class="material-icons"></md-icon>
            <md-tooltip>Add Customer Packing Slip</md-tooltip>
          </md-button>
          <span ng-if="vm.packingId" ng-class="{'label-box label-success':vm.packingSlipType == 2 ,'label-box label-warning':vm.packingSlipType == 1 }">
            {{vm.packingSlipTypeText}}
            <md-tooltip>Customer Packing Slip Type : {{vm.packingSlipTypeText}}</md-tooltip>
          </span>
        </div>
      </div>
    </div>
    <div layout="row" flex="nogrow">
      <div layout="row" flex="100" class="cm-workorder-table" layout-wrap>
        <div flex layout="row" layout-wrap>
          <div flex="100" layout-wrap>
            <table cellspacing="0" cellpadding="0" class="cm-header-data-table">
              <tbody>
                <tr>
                  <th ng-if="vm.customerName">
                    <a class="cursor-pointer text-underline" ng-click="vm.goToCustomerList();">
                      Customer:
                    </a>
                  </th>
                  <td>
                    <span class="cm-name" ng-class="{'text-underline': vm.customerID, 'cursor-pointer': vm.customerID}" ng-click="vm.customerID ? vm.goToCustomerDetail() : ''">
                      <b>{{vm.customerName}}</b>
                    </span>
                  </td>

                  <th ng-if="vm.packingSlip">
                    <a class="cursor-pointer text-underline" ng-click="vm.goToCustomerPackingSlipList();">
                      PS#:
                    </a>
                  </th>
                  <td ng-if="vm.packingSlip">
                    <span class="cm-data">
                      <b>{{vm.packingSlip}}</b>
                    </span>
                    <copy-text label="'PS#'" text="vm.packingSlip"></copy-text>
                  </td>
                </tr>
                <tr>
                  <th ng-if="vm.poNumber">
                    <a class="cursor-pointer text-underline" ng-click="vm.goToSalesOrderList();">
                      PO#:
                    </a>
                  </th>
                  <td>
                    <span class="cm-data" ng-class="{'text-underline': vm.soID, 'cursor-pointer': vm.soID}" ng-click="vm.soID ? vm.goToSalesOrderDetail() : ''">
                      <b>{{vm.poNumber}}</b>
                    </span>
                    <copy-text ng-if="vm.poNumber" label="'PO#'"
                               text="vm.poNumber"></copy-text>
                  </td>
                  <th ng-if="vm.soNumber">
                    <a class="cursor-pointer text-underline" ng-click="vm.goToSalesOrderList();">
                      SO#:
                    </a>
                  </th>
                  <td>
                    <span class="cm-data" ng-class="{'text-underline': vm.soID, 'cursor-pointer': vm.soID}" ng-click="vm.soID ? vm.goToSalesOrderDetail() : ''">
                      <b>{{vm.soNumber}}</b>
                    </span>
                    <copy-text ng-if="vm.soNumber" label="'SO#'"
                               text="vm.soNumber"></copy-text>
                  </td>               
                  <td ng-if="vm.poType">
                    <span class="cm-data label-box" ng-class="vm.getPOTypeClassName(vm.poType)">
                      <b>{{vm.poType}}</b>
                      <md-tooltip>{{vm.LabelConstant.SalesOrder.POType}}: {{vm.poType}}</md-tooltip>
                    </span>
                  </td>
                </tr>
                <tr>
                  <th ng-if="vm.invoiceNumber">
                    <a class="cursor-pointer text-underline" ng-click="vm.goToInvoiceList();">
                      Ref. Invoice#:
                    </a>
                  </th>
                  <td ng-if="vm.invoiceNumber">
                    <span class="cm-data" ng-class="{'text-underline': vm.invoiceNumber, 'cursor-pointer': vm.invoiceNumber}" ng-click="vm.viewCustomerInvoice()">
                      <b>{{vm.invoiceNumber}}</b>
                    </span>
                    <copy-text label="'Invoice#'" text="vm.invoiceNumber"></copy-text>
                  </td>                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div flex layout="row" layout-wrap layout-align="end center" class="cm-square-icon-btn">
      <span class="label-box padding-5-imp width-100 label-danger margin-right-10" ng-if="vm.isLocked">
        Locked
        <md-tooltip md-direction="bottom" ng-if="vm.isLocked">Locked By: {{vm.lockedBy}} Locked Date: {{vm.lockedAt}}</md-tooltip>
      </span>
      <!--<label class="padding-5-imp margin-right-10 label-box label-primary" ng-if="vm.isLegacyPO">
        Legacy PO
      </label>
      <label class="padding-5-imp margin-right-10 label-box label-primary" ng-if="vm.isRMAPO">
        RMA PO
      </label>-->
      <span class="label-box padding-5-imp margin-right-10" ng-if="vm.paymentStatusObj" ng-class="vm.paymentStatusObj.ClassName">
        {{vm.paymentStatusObj.Name}}
        <md-tooltip>Customer Payment Status</md-tooltip>
      </span>
      <span class="label-box padding-5-imp" ng-class="vm.getPackingSlipStatusClassName(vm.subStatus)"
            ng-if="vm.activeTab!=0 || (vm.refCustInvoiceID && vm.subStatus==vm.shippedStatus)">
        {{vm.getCustomerPackingSlipStatus(vm.subStatus)}}
        <md-tooltip>Customer Packing Slip Status</md-tooltip>
      </span>
      <div layout="column" class="cm-header-draft-btn" layout-wrap layout-align="center center">
        <md-menu-bar id="user-menu" class="ph-5" ng-if="vm.activeTab==0 && (!vm.refCustInvoiceID || vm.subStatus!=vm.shippedStatus)">
          <md-menu md-position-mode="left bottom">
            <md-button class=" user-button md-button md-ink-ripple white-text mv-0 ml-0" ng-click="$mdOpenMenu()"
                       aria-label="User settings" ng-disabled="(vm.refCustInvoiceID && vm.subStatus==vm.shippedStatus) || !vm.packingId || (vm.isLocked && !vm.loginUser.isUserSuperAdmin)">
              <div layout="row" layout-align="center center">
                <span class="username">{{vm.getCustomerPackingSlipStatus(vm.subStatus)}}</span>
                <md-icon md-font-icon="icon-chevron-down"
                         class="icon s16" ng-if="vm.packingId"></md-icon>
              </div>
            </md-button>
            <md-menu-content width="3">
              <md-menu-item ng-repeat="status in vm.packingSlipStatus | orderBy:'DisplayOrder'" ng-disabled="!vm.packingId">
                <md-button ng-click="vm.changePackingSlipStatus(status)">{{status.Name}}</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
      <div layout="row" layout-align="center center" class="cm-btn-group">
        <!--<md-button class="md-primary md-raised" ng-click="vm.addCustomerInvoice()"
                   ng-if="vm.isSlipStatusPublished && !vm.refCustInvoiceID">
          Add Customer Invoice
        </md-button>-->
        <md-button class="md-icon-button mv-0-imp margin-right-5-imp md-primary md-raised" ng-if="vm.isSlipStatusPublished && !vm.refCustInvoiceID" ng-click="vm.addCustomerInvoice()">
          <md-icon md-font-icon="t-icons-customer-invoice add-icon" class="material-icons"></md-icon>
          <md-tooltip>Add Customer Invoice In New Tab</md-tooltip>
        </md-button>
        <md-button class="md-primary md-raised" ng-click="vm.viewSOPendingList($event)" ng-if="!vm.packingId">
          View Pending SO List
        </md-button>
        <md-button class="md-icon-button margin-0 md-primary md-raised md-mini margin-left-10" ng-click="vm.opencustomerpackingSlipChangesHistoryAuditLog()" ng-disabled="vm.frmCustomerPackingSlip.$dirty" ng-if="vm.packingId">
          <md-icon md-font-icon="t-icons-history-text" class="material-icons"></md-icon>
          <md-tooltip>{{vm.historyactionButtonName}}</md-tooltip>
        </md-button>
        <md-button class="md-icon-button margin-0 md-primary md-raised md-mini margin-left-10" ng-click="vm.printRecord(false)" ng-disabled="vm.frmCustomerPackingSlip.$dirty || vm.isPrintDisable" ng-if="vm.packingId">
          <md-icon md-font-icon="icon-printer" class="material-icons"></md-icon>
          <md-tooltip>Print</md-tooltip>
        </md-button>
        <md-button class="md-icon-button margin-0 md-primary md-raised md-mini margin-left-10" ng-click="vm.printRecordFromReportingTool(false)" ng-disabled="vm.frmCustomerPackingSlip.$dirty" ng-if="vm.packingId">
          <md-icon md-font-icon="icon-printer" class="material-icons"></md-icon>
          <md-tooltip>Print (Reporting Tool)</md-tooltip>
        </md-button>
        <md-button class="md-icon-button margin-0 md-primary md-raised md-mini margin-left-10" ng-click="vm.printRecord(true)" ng-disabled="vm.frmCustomerPackingSlip.$dirty || vm.isDownloadDisabled" ng-if="vm.packingId">
          <md-icon md-font-icon="icon-download" class="material-icons"></md-icon>
          <md-tooltip>Download</md-tooltip>
        </md-button>
        <md-button class="md-icon-button margin-0 md-primary md-raised md-mini margin-left-10" ng-click="vm.printRecordFromReportingTool(true)" ng-disabled="vm.frmCustomerPackingSlip.$dirty || vm.isDownloadDisabledReportingTool" ng-if="vm.packingId">
          <md-icon md-font-icon="icon-download" class="material-icons"></md-icon>
          <md-tooltip>Download (Reporting Tool)</md-tooltip>
        </md-button>

        <md-button class="md-primary md-raised"
                   ng-class="{'md-formdirty': vm.frmCustomerPackingSlip.$dirty}"
                   id="saveBtn" ng-click="vm.saveCustomerPackingSlip();"
                   ng-if="vm.activeTab!=1" ng-disabled="(vm.isLocked && !vm.loginUser.isUserSuperAdmin)">
          Save
        </md-button>
      </div>
    </div>
  </div>
  <div class="content-card padding-top-side" layout="row" flex="100">
    <md-content flex="100" layout="column">
      <ms-form-wizard flex>
        <md-tabs validate-step="true" is-valid="vm.isStepValid" md-dynamic-height md-border-bottom md-selected="vm.activeTab" class="cm-fullheight manage-customer-tabing padding-0">
          <md-tab ng-repeat="item in vm.tabList" ng-disabled="item.isDisabled || !vm.checkDisable(item.state)" md-on-select="vm.onTabChanges(item)">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-text">
                  {{item.title}}&nbsp;<span ng-if="item.documentCount">({{item.documentCount || 0}})</span>
                </span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <div class="" ui-view="{{item.viewsrc}}"></div>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </ms-form-wizard>
    </md-content>
  </div>
</div>


