<div aria-label="Timed Out" cg-busy="{promise:vm.cgBusyLoading}" layout="column" layout-align="center center" assign-md-dailog-class>
    <form name="vm.loginFormTimeout" ng-submit="vm.loginAfterTimeout()" novalidate class="time-out-form">
        <md-toolbar ng-class="vm.themeClass">
            <div class="md-toolbar-tools">
                <h2 class="text-white">You've Timed Out!</h2>
                <div flex layout="row" layout-align="end center">
                    <div class="cursor-pointer" ng-click="cancel();">
                        <md-icon md-font-icon="zmdi zmdi-close" class="text-white"></md-icon>
                    </div>
                </div>
            </div>
        </md-toolbar>

        <md-dialog-content class="time-out-popup demo-dialog-content no-padding custom-scroll">
            <md-content class="padding-15">
                <div class="empty-state time-out-image text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap>
                    <div class="emty-icon" flex="100">
                        <img ng-src="{{vm.timeoutImage}}" />
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <h1><b>Just to be safe, we logged you out.</b></h1>
                </div>
                <div layout="row" layout-align="center center" class="text-center">
                    Enter your password to pick up where you left off, <br />Press continue to login.
                </div>
                <div layout="row" layout-align="center center" class="padding-10 time-out-password">
                    <md-input-container md-no-float flex="50">
                        <div class="inner-input-timeout" ng-class="{'password-error':vm.isIncorrectUserPassword}">
                            <md-icon class="icon-key-variant" ng-class="{'color-red':vm.isIncorrectUserPassword}"></md-icon>
                            <input type="password" id="timedoutpassword" name="timedoutpassword" ng-model="vm.password"
                                   md-autofocus custom-auto-focus="true" placeholder="Password" required maxlength="200">
                        </div>
                        <div ng-if="vm.isIncorrectUserPassword" class="md-input-messages-animation">
                            <div>
                                <span class="md-input-message-animation">{{vm.incorrectUserPassword}}</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
        </md-dialog-content>

        <div layout="row" class="float-right">
            <md-button class="md-raised margin-right-20" ng-click="vm.logoutAfterTimeout()">
                Logout
            </md-button>
            <md-button type="submit" class="md-primary md-raised" ng-class="vm.themeClass" ng-disabled="vm.loginFormTimeout.$invalid">
                Continue
            </md-button>
        </div>
    </form>

</div>
