.cm-background-images {
  position: relative;

  img, .webcam-not-found, .webcam-connecting {
    width: auto;
    /*height: 325px;*/
    max-width: -webkit-fill-available;
    max-height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
  }

  .webcam-not-found, .webcam-connecting {
    background: #fff;
    color: #152C50;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    border: 1px solid #ddd;
  }

  .cm-varificatin-image {
    position: absolute;
    right: 10px;
    display: flex;
    /*align-items: center;
    justify-content: center;
    top: 10px;*/
    .lbl-livestream {
      /*background-color: #d21414;
      -webkit-animation: livestream 1s infinite;  
      -moz-animation: livestream 1s infinite; 
      -o-animation: livestream 1s infinite; 
      animation: livestream 1s infinite;*/
      opacity: 0.9;
      color: #fff;
      letter-spacing: 2px;
    }

    button {
      margin: 0 3px;
    }

    md-icon {
      line-height: 24px !important;
    }

    .cm-question-mark {
      line-height: 17px !important;
    }
  }
}

.cm-camera-bg {
  background-color: rgba(255,255,255,0.4) !important;
}

/*.cm-capture-image-arrow {
  font-size: 85px !important;
  margin: 0 auto !important;
  height: auto !important;
  width: auto !important;
  min-height: inherit !important;
  line-height: normal !important;
}*/

/*.lbl-verified {
  font-size: 21px;
  color: #4CAF50 !important;
  margin: 0px 0 5px 0px;

  i {
    font-size: 25px;
  }

  img {
    width: 25px;
    height: 25px;
  }
}*/

.uid-verification-failed-popup {
  min-height: 240px;
  width: 850px;

  .mismatch-uid-text {
    font-size: 20px;
    word-break: break-word;
  }

  .btn-sec-unlockscreen {
    height: 120px;
  }
}

/*.pannable-image {
  width: 500px;
}*/

/*.verification-info {
  font-size: 20px;
}*/

.streamURLnote {
  font-size: 11px;
  font-weight: normal;
  color: #fd0c0c !important;
  margin: 0 0 4px;
}

/*.password-icon {
  top: 4px !important;
}*/

@-webkit-keyframes livestream {
  0%, 25% {
    opacity: 0.7;
  }

  25%, 50% {
    opacity: 0.8;
  }


  50%, 75% {
    opacity: 0.9;
  }

  75%, 100% {
    opacity: 1;
  }
}


.transfer-stock-item {
  background: #efeeee;
  margin: 5px;
  padding: 0;
  border-radius: 4px;
  height: 130px;
  border: 1px dashed #4a4a4a;
}

.drag-content {
  background: #fff;
  border: 2px solid #ddd; /*1px*/
  border-radius: 3px;
  height: 137px; /*last 134 130px*/ /*132px*/
  margin: -1px;
  -webkit-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.50);
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.50);

  .content-header {
    background: #a7e0fd;
    padding: 5px;
    font-weight: 600;
    min-height: 30px;
    border-bottom: 1px solid #ddd;
    height: 50px;

    span {
      word-break: break-all;
      padding: 0 5px 0 0;
    }
  }

  .content-body {
    padding: 5px;
    font-size: 13px;
    height: 83px; /*80*/
    overflow: auto;
    position: relative;
    background: #e4f6ff;

    .cm-do-not-drag {
      span {
        position: absolute;
        left: 27%;
        top: 22%;
        color: #bd6767;
        transform: rotate(-14deg);
        font-weight: bold;
        opacity: 0.50;
        font-size: 25px;
      }
    }
  }

  &.active {
    border: 2px solid #027ebb; /*1*/
  }

  &.permanent {
    /*background: #e4f6ff;*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .content-header {
      background: #ddd;
    }

    .content-body {
      background: #ffffff;
    }
  }
}

.drag-permanent {
  position: relative;
  border: 0;

  .permanent {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    &:hover {

      + .transfer-on-tooltip {
        visibility: visible;
      }
    }
  }
}

.cm-custom-label-common {
  .cm-capture-arrow-button {
    .md-button.md-fab {
      height: 40px;
      min-width: 0;
      line-height: 40px !important;
      padding: 0px;
      width: 40px;
      min-height: 40px !important;

      i {
        font-size: 28px;
        width: 28px;
        height: 28px;
        min-width: 28px;
        min-height: 28px;
        line-height: 28px;
      }
    }
  }
}

.cm-zoom-controls {
  button.md-button {
    min-width: inherit;
    width: inherit;
    border-radius: 0px;
  }

  .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled] {
    background-color: rgb(250,250,250);
  }
}

.transfer-stock {
  .cm-section-main {
    .cm-section-header {
      padding: 0 5px;

      span {
        font-weight: normal;
      }
    }

    &.warehouse-section-main {
      border-color: #ddd;

      .cm-section-header {
        background: #ddd;
      }
    }

    &.bin-section-main {
      border-color: #cac8c8;

      .cm-section-header {
        background: #cac8c8;
      }
    }

    &.uid-section-main {
      border-color: #a2a0a0;

      .cm-section-header {
        background: #a2a0a0;
      }
    }
  }

  .section-filter {
    border-bottom-color: rgb(45,50,62);
  }

  .stock-filter {
    min-height: 90px;
  }

  .rack-icon {
    margin: 3px 2px 5px;
    width: 20px;
  }

  .component-detail {
    background: #ddd;
    border: 1px dashed #ddd;

    .component-detail-content {
      padding: 5px;
      background: #fff;
      cursor: pointer;
      width: 100%;

      .rohs-bom-image {
        max-width: 23px;
        height: 23px;
      }
    }
  }
  /*.component-detail-header {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    width: 100%;*/ /*97.5*/
  /*max-width: 100%;*/ /*97.5*/
  /*font-weight: 600;
  }*/

  .stock-empty-state {
    height: 260px;
    font-size: 20px;
    font-weight: 600;
  }

  .warehouse-section {
    height: 290px;
    overflow-x: auto;
  }

  .bin-section {
    height: 290px;
    overflow-x: auto;
  }

  .uid-section {
    overflow-x: auto;
    min-height: 290px;

    .cm-UMID-table {
      max-height: 260px;
      //overflow: auto;
      /*overflow-x: hidden;
            overflow-y: auto;*/
    }
    /*.clone {
      th {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        word-break: break-all;
        white-space: normal;
      }
    }

    .cm-UMID-table-scroll {
      height: 260px;
      overflow: auto !important;
      border: 1px solid #d8d8d8;
      display: block;
    }*/
  }

  .drop-section {
    position: relative;
    border: 0;

    .drop-section-content {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  .section-context-menu {
    .md-button {
      width: 16px !important;
      min-height: 30px !important;
      height: 30px !important;
      line-height: 30px !important;
      margin: 0;

      md-icon {
        width: 16px !important;
        margin: 0 !important;
        min-width: 16px !important;
        font-size: 20px !important;
      }
    }
  }
}

.section-context-menu-content {
  padding: 0;

  md-menu-item {
    height: 30px;
    min-height: 30px;

    .md-button {
      line-height: 30px;
    }
  }
}

.transfer-history-popup, .warehouse-history-popup, .bin-history-popup {
  max-width: 95%;
  min-width: 90%;
  max-height: initial;
}

.transfer-wh-bin-popup {
  min-width: 550px;
}

.drop-not-allow {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.5;
  visibility: hidden;

  img {
    width: 125px;
  }
}

.drop-content {
  .ui-sortable-placeholder {
    visibility: visible !important;
    border: 3px dashed #039be5;
    margin: -3px -1px 0 -3px;
    height: 134px;
  }
}

.department-transfer {
  border: 1px dashed #4a4a4a;
}

.dept-kit-drop-section {
  border: 1px dashed #4a4a4a;
  padding: 25px 15px;
  font-size: 18px;
  text-align: center;
  background: #ddd;
}

.ui-sortable-placeholder + .drop-not-allow, .ui-sortable-placeholder + .drop-section-content + .drop-not-allow {
  visibility: visible !important;
}

.transfer-on-tooltip {
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 10px;
  background: #fff;
  z-index: 10000;
  padding: 5px 10px;
  box-shadow: 3px 6px 10px #2d323e;
  border: 1px solid #2d323e;
  visibility: hidden;
}

.transfer-on-tooltip:after {
  content: "";
  position: absolute;
  top: -14px;
  left: 10px;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.transfer-on-tooltip:before {
  content: "";
  position: absolute;
  top: -16px;
  left: 9px;
  border-style: solid;
  border-width: 0px 16px 16px;
  border-color: #000 transparent;
  display: block;
  width: 0;
  z-index: 0;
}

.ui-sortable-placeholder + .transfer-on-tooltip,
.ui-sortable-placeholder + .drop-section-content + .transfer-on-tooltip,
.ui-sortable-placeholder + .drop-section-content + .drop-not-allow + .transfer-on-tooltip,
.ui-sortable-placeholder + .drop-not-allow + .transfer-on-tooltip {
  visibility: visible !important;
}
/*.drop-not-allow + .ui-sortable-placeholder + .transfer-on-tooltip {
  visibility: hidden !important;
}*/


.material-section-devider {
  border-right: 1px dashed #ddd;
  margin-right: 10px;
  padding-right: 10px;
}

.material-section-bold-devider {
  border-right: 2px solid #aaa;
  margin-right: 10px;
  padding-right: 10px;
}

.drag-not-allow {
  /*cursor: not-allowed !important;*/
  position: relative;
  border: 0;


  &:hover {

    .transfer-on-tooltip {
      width: initial;
      visibility: visible;
    }
  }
}

.bin-section {
  .kit-bin-section {
    .transfer-stock-item {
      height: 179px; /*175*/
      .drag-content {
        height: 179px; /*175*/
        .content-body {
          height: 124px; /*123*/
        }
      }
    }
  }
}

.mismatchUMID {
  background: #ffa2a2 !important;
}

.reserve-stock-request-popup {
  min-width: 60%;
}

.scan-verification-type {
  padding: 10px 5px 5px 10px !important;

  table {
    width: 100%;
  }
}

.fit-to-screen {
  border-left: 1px solid #fff;
}

/*.capture-section-button {
  font-size: 17px !important;
  min-height: 35px !important;
  line-height: 35px !important;
  height: 35px !important;
}*/

/*.transfer-arrow {
  position: absolute;
  width: 100%;

  .transfer-arrow-right {
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid #2f2f2f;
      border-width: 1px 0 1px 1px;
      top: 2.5px;
      left: 4px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      border: 1px solid #2f2f2f;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg);
      left: 9px;
    }
  }
}*/

.rec-qty {
  font-weight: bold;
  font-size: 17px !important;
  padding: 0 5px;
}

/*.pending-qty {
  color: #ff0000;
}*/

.cm-tracking-chip-mian {
  padding: 3px;

  .tracking-number-chip {
    /*background: #ddd;*/
    border-radius: 5px;
    background-color: #81d4fa;
    padding: 3px 3px 3px 0 !important; // initial

    label {
      margin: 0;
      padding: 0px 5px 0px 5px; // 0px 0 0px 15px;
      cursor: pointer;
      white-space: normal;
      overflow: hidden;
      line-height: 17px;
      text-overflow: ellipsis;
      font-weight: 900; // initial

      a.cm-text-decoration {
        color: #000 !important;
        text-decoration: underline;
        cursor: pointer !important;
      }
    }

    .md-button {
      width: 18px !important; //25px
      height: 18px !important; //25px
      line-height: 17px !important; //25px
      max-width: 18px !important; //25px
      min-height: 18px !important; //25px
      &.md-icon-button {
        color: inherit !important;
        md-icon {
          color: inherit !important;
        }
      }
    }
  }
}

.preview-scan-document-popup {
  min-width: 80%;
  max-height: initial;

  md-content {
    height: 770px;
  }
}


.scan-status {
  min-height: 320px;
  color: #152C50;
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

.count-material-table {
  padding: 0 !important;

  .md-input {
    font-size: 20px !important;
    font-weight: 500;
    height: 40px !important;
  }

  table {
    tbody {
      .count-material-table-header {
        background: #ddd;

        th, td {
          vertical-align: middle !important;
          font-size: 20px !important;
          font-weight: 600 !important;
          text-align: center;
          width: 18% !important;
          padding: 10px 5px !important;
          height: auto !important;
          border-right: 1px solid #ddd;
        }
      }

      tr {

        th {
          padding-left: 5px;
          height: 60px;
          font-size: 20px !important;
          font-weight: 500;
          width: 18% !important;
          vertical-align: middle !important;
          padding: 10px !important;
          border-right: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
        }

        td {
          height: 60px;
          font-size: 20px !important;
          font-weight: 500;
          width: 18%;
          border-right: 1px solid #ddd;
          border-bottom: 1px solid #ddd;

          .md-input {
            font-size: 20px !important;
            font-weight: 500;
            height: 40px !important;
          }

          .count-material-autocomplete {
            .md-input {
              height: 39px !important;
            }

            .autocomplete-refresh-icons {
              top: 10px;
            }
          }

          .md-input-message-animation {
            font-size: 15px;
            line-height: 18px;
          }
        }

        .display-counts {
          padding-right: 20px !important;
        }
      }
    }
  }
}

.current-stock-material-table {
  .cm-section-header {
    padding: 10px 15px !important;
    height: inherit !important;

    h2 {
      font-size: 16px !important;
    }
  }

  table {
    tbody {
      tr {
        th {
          border: 1px solid #ddd;
          vertical-align: middle !important;
          padding: 7px 10px !important;
          font-size: 20px !important;
          font-weight: 600;
          width: 25% !important;
        }

        td {
          border: 1px solid #ddd;
          vertical-align: middle !important;
          padding-right: 10px !important;
          padding-left: 10px !important;
          padding-bottom: 0 !important;
          font-size: 20px !important;
          font-weight: 500;

          input {
            border: 0 !important;
            font-size: 20px !important;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.configure-ipwebcam {
  .streamURLnote {
    color: #fff !important;
    letter-spacing: 0.5px;
  }
}

.umid-advance-filter {
  md-checkbox {
    margin: 5px 10px 5px 5px;

    .md-label {
      min-width: 80px;
    }
  }

  .umid-advance-filter-input {
    min-width: 350px;
  }
}
/*.count-material-units {
  font-size: 20px;
}*/

.change-umid-inital-count-table {
  .cm-section-header {
    padding: 10px 15px !important;
    height: inherit !important;

    h2 {
      font-size: 20px !important;
    }
  }

  table {
    tbody {
      tr {
        th {
          border: 1px solid #ddd;
          vertical-align: middle !important;
          padding: 7px 10px !important;
          font-size: 20px !important;
          font-weight: 600;
          width: 18% !important;
        }

        td {
          border: 1px solid #ddd;
          vertical-align: middle !important;
          padding-right: 10px !important;
          padding-left: 10px !important;
          padding-bottom: 0 !important;
          font-size: 20px !important;
          font-weight: 500;
          width: 18% !important;

          input {
            border: 0 !important;
            font-size: 20px !important;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.change-umid-inital-count-input {
  table {
    tbody {
      tr {
        th {
          .label-container {
            font-size: 20px !important;
            font-weight: 500;
          }
        }

        td {
          input {
            font-size: 20px !important;
          }
        }
      }
    }
  }
}


.scan-document-sideNav {
  .sidebar-icon-class {
    height: auto;
  }

  .sidebar-arrow {
    background: #fff;
    color: #000;
  }

  md-sidenav {
    width: 100%;
  }
}


.some-pdf-container {
  width: 100%;
  height: 100%;
}

pdfjs-viewer {
  width: 100%;
}


.pdfjs {
  #thumbnailView {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .thumbnail {
    width: 100%;
    background: #ddd;
  }

  .thumbnailSelectionRing {
    margin: 0 auto;
  }

  #viewerContainer {
    background: #ddd;
  }

  .pdfViewer {
    background: #ddd;

    .page {
      border-image: none;
      background-color: rgb(221, 221, 221);
      margin: 10px auto;
    }
  }
}

.table-umid-allocated-kit {
  border: 1px solid #ddd;

  .check-kit-return {
    margin: 0 !important;

    .md-label {
      margin: 0;
    }
  }


  th {
    padding: 3px 5px;
    text-align: center;
    border: 1px solid #ddd;
  }


  td {
    padding: 3px 10px !important;
    border: 1px solid #ddd;
    height: auto !important;
    min-height: initial !important;
    vertical-align: middle !important;
  }
}

.cm-warehouse-type-td {
  height: auto !important;
  padding-bottom: 0px !important;
}

.cm-warehouse-checkbox {
  margin: 5px 0px 0px 0px !important;
}

.cm-warehouse-nickname-auto md-autocomplete {
  min-width: 170px !important;
}

.cm-kit-feasibility-table {
  .cm-kit-feasibility-grid-scroll {
    height: calc(100vh - 337px);
    overflow: auto !important;
    border: 1px solid #d8d8d8;
    display: block;

    table {
      border-right: 1px solid #ddd;

      tbody {
        tr {
          height: auto !important;
          border-bottom: 1px solid #d8d8d8 !important;

          td {
            border: 0 !important;
            padding: 3px 10px !important;
            vertical-align: top !important;
            border-left: 1px solid #d8d8d8 !important;
            text-overflow: initial;
            white-space: normal !important;

            &:first-child {
              border: 0px !important;
            }

            input {
              width: 100%;
            }
          }

          .calculated-qty {
            background-color: #ffe76a;
          }
        }
      }
    }
  }

  .clone {
    background: #f6f8f8;
    border-right: 1px solid #d8d8d8;

    thead {
      tr {
        height: auto !important;
        border-bottom: 1px solid #d8d8d8;

        th {
          padding: 5px 10px !important;
          white-space: normal !important;
          border-left: 1px solid #d8d8d8;
          background: #f6f8f8;
          border-top: 1px solid #d8d8d8;
          vertical-align: top;
        }
      }
    }
  }
}

.cm-kit-section.transfer-stock-item {
  height: 198px; /*145*/
  .drag-content {
    height: 209px; /*145*/
    .content-header {
      height: 45px;
    }

    .content-body {
      height: 160px; /*101*/
      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: auto;

        th, td {
          padding: 3px;
        }
      }
    }
  }
}

/*.cm-transfer-stock-breaktext {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}*/

.cm-bg-pink {
  background-color: #ffc0cb;
}

/*.cm-transaction-head {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}*/

/*.cm-transaction-tab {
    position: relative;
}*/

.cm-reservestock-bg-color {
  background-color: #fff0d5 !important;
}

/*.cm-bom-error-block {
  white-space: pre-line;
  background-color: #ffebeb;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #f77b7b;
  line-height: 20px;
  margin-top: 10px;
}*/

.cm-kit-release-hot-err {
  background-color: #ff4c42 !important;
}

.cm-not-require-kit-allocation-color {
  background-color: #f9c2bc !important;
}

.cm-kit-allocation-selected-row-color {
  background-color: #E5FFAF !important
}

.cm-consolidated-grid .ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #E5FFAF !important;

  + .cm-kit-release-hot-err {
    background-color: #ff4c42 !important;
  }

  + .cm-not-require-kit-allocation-color {
    background-color: #f9c2bc !important;
  }
}

.cm-pending-po-hotjob-bgcolor {
  background-color: #ffa2a2 !important;
}

.cm-wo-hotjob-bgcolor {
  background-color: #ffa2a2 !important;
}

.cm-restrict-umid-bgcolor {
  background-color: #ffa2a2 !important;
}

.cm-part-restriction-bgcolor {
  background-color: #ffa2a2 !important;
}

.cm-non-umid-rejected-bgcolor {
  background-color: #ffa2a2 !important;
}

.cm-salesorder-hotjob-bgcolor {
  background-color: #ffa2a2 !important;
}

.cm-mismatch-packaging-alias-bgcolor {
  background-color: #ffa2a2 !important;
}

.cm-load-more-filters-umid {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    z-index: 0;
    background: rgb(177, 177, 177);
    margin-top: 3px
  }
}

.transfer-material-type {
  legend {
    color: #fff !important;
  }


  md-radio-button.md-checked .md-on {
    background-color: #ffffff !important;
    box-shadow: none;
  }

  md-radio-button .md-on {
    box-shadow: none;
    background-color: #039be5 !important;
  }

  md-radio-button .md-off {
    border: 1px solid #ffffff !important;
    box-shadow: none;
  }
}

.transfer-material-legend {
  .legend-section {
    width: 25px;
    height: 14px;
    border-radius: 2px;
  }

  .movable-wh-bin {
    background: #a7e0fd;
    border: 1px solid white;
  }

  .permanent-wh-bin {
    background: #ddd;
    border: 1px solid white;
  }

  .mismatch-umid {
    background: #ffa2a2;
    border: 1px solid white;
  }

  label {
    margin: 0 15px 0 5px;
    font-weight: normal;
  }
}

.cm-UMID-sub-assy-highlight {
  background-color: #b7b9ec !important;
}

/*img.hot-job-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}*/

/*.cm-work-order-transfer-stock {
  p {
    white-space: nowrap;
    display: flex;

    label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}*/

.cm-drag-content-here {
  height: 172px !important;
  display: flex;
  justify-content: center;

  p.cm-kit-drop-section {
    align-self: center;
    font-size: 35px;
    margin-bottom: 0;
    color: #404040;
  }

  p.cm-stock-drop-section {
    align-self: center;
    font-size: 30px;
    margin-bottom: 0;
    color: #404040;
  }
}

.cm-drag-content-here {
  height: 172px !important;
}

table.md-table.cm-select-packing-slip-table {
  tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row {
    height: 35px !important;
  }
}

.cm-supplier-invoice-re-get {
  md-tab-content {
    margin-top: -34px;
  }
}

.packing-slip-empty-state {
  height: calc(100vh - 256px + #{$headerMenuPadding}) !important;
}

.cm-highlight-cell-error {
  border-color: #ef8787 !important;
  background-color: #fde7e7 !important;
}




.cm-kit-release-table {
  table {

    thead, tfoot {
      background: #f6f8f8;
      border-right: 1px solid #d8d8d8;

      tr {
        height: auto !important;
        border-bottom: 1px solid #d8d8d8;

        th {
          padding: 5px 10px !important;
          white-space: normal !important;
          border-left: 1px solid #d8d8d8;
          background: #f6f8f8;
          border-top: 1px solid #d8d8d8;
          vertical-align: top;
        }
      }
    }

    tbody {
      tr {
        height: auto !important;
        border-bottom: 1px solid #d8d8d8 !important;

        td {
          border: 0 !important;
          padding: 3px 10px !important;
          vertical-align: middle !important;
          border-left: 1px solid #d8d8d8 !important;
          text-overflow: initial;
          white-space: normal !important;

          &:last-child {
            border-right: 1px solid #d8d8d8 !important;
          }

          input:disabled {
            background-color: transparent;
          }
        }
      }
    }
  }
}


.mismatch-kit-item {
  .action-btn-column {
    padding: 4px 8px !important;
    vertical-align: middle;
  }
}

.cm-warehouse-drop-sec {
  .cm-drag-content-here {
    height: 134px !important;
  }
}

/*.cm-memolist-table {
  td, th {
    padding: 5px;
  }

  tr {
    border-bottom: 1px solid #a9a9a9;
  }
}*/


.cm-serial-configuration-table {
  table {

    thead, tfoot {
      background: #f6f8f8;
      border-right: 1px solid #d8d8d8;

      tr {
        height: auto !important;
        border-bottom: 1px solid #d8d8d8;

        th {
          padding: 5px 10px !important;
          white-space: normal !important;
          border-left: 1px solid #d8d8d8;
          background: #f6f8f8;
          border-top: 1px solid #d8d8d8;
          vertical-align: top;
        }
      }
    }

    tbody {
      tr {
        height: auto !important;
        border-bottom: 1px solid #d8d8d8 !important;

        td {
          padding: 3px 10px !important;
          vertical-align: middle !important;
          text-overflow: initial;
          white-space: normal !important;

          &:last-child {
            border-right: 1px solid #d8d8d8 !important;
          }

          input:disabled {
            background-color: transparent;
          }
        }

        td.cell-border {
          border-left: 1px solid #d8d8d8 !important;
        }
      }
    }
  }
}

.cm-kit-allocation-emtpy {
  padding-left: 20%;
  width: 80%;
}

.cm-document-type-drop-label {
  border-right: #ddd 1px solid;
  padding: 5px 10px 0px 0px;
  margin: 0px;
  margin-right: 5px;
}

.cm-scan-umid-text-white {
  border-color: rgba(255, 255, 255, 0.65) !important;
  color: rgba(255, 255, 255, 0.65) !important;
}

/*.cm-cofc-text-box {
  color: rgb(3,155,229) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}*/

.cm-umid-header-label {
  a:hover {
    text-decoration: none !important;
  }
}

.cm-kit-number-header {
  /*text-overflow: ellipsis !important;
  max-width: 30ch !important;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;*/
  margin: 0 5px !important;
  white-space: nowrap;
  font-weight: 600;
  font-size: 15px !important;
  line-height: normal;
  color: #000;
}

.cm-kit-allocation-header-edit-icon {
  font-size: 16px !important;
  width: 24px !important;
  height: 14px !important;
  min-width: 24px !important;
  min-height: 14px !important;
  line-height: 5px !important;
  color: white !important;
  cursor: pointer !important;
}


.cm-capture-document-type {
  md-autocomplete {
    background: transparent;

    input {
      background: transparent;
    }
  }
}

.btn-scanner {
  padding: 10px 20px !important;
  line-height: 30px !important;
  height: auto !important;
  min-width: 120px !important;
  font-size: 26px !important;
  margin-top: 20px !important;
}

.cm-transfer-stock-header {
  max-height: 105px !important;
  height: 105px !important;
}

.cm-cart-section {
  /*.label-box {
    background-color: #039be5 !important;
  }*/
  .label-box-shelving {
    background-color: #039be5 !important;
  }

  .label-box-smart {
    background-color: #ff8000 !important; //e58b03
  }

  .label-box-eqp {
    background-color: #191970 !important;
  }
}

.cm-umid-history-table-pop-up {
  th {
    text-align: right !important;
  }
}

.cm-available-stock-legend {
  border: 1px solid #ddd;
  padding-left: 5px;

  .legend-section {
    width: 35px;
    height: 15px;
    border-radius: 2px;
  }

  .restrict-umid {
    background: #ffa2a2;
  }

  .reserve-umid {
    background: #fff0d5;
  }

  label {
    margin: 0 15px 0 5px;
    font-weight: normal;
  }
}
