<div id="user-list" class="page-layout carded fullwidth breadcrumb-fixed" layout="row" cg-busy="{promise:vm.cgBusyLoading}">

    <div class="center margin-left-0 margin-right-0" layout="column" flex>

        <div class="content-card" layout="column" flex ng-show="!vm.isNoDataFound">
            <md-card layout="column" flex layout-align="space-between stretch" class="grid-rfq-reason">
                <ui-grid-extention load-data="vm.loadData"
                                   grid-id="vm.gridConfig.gridReason + vm.selectedReasonType.id"
                                   grid-option="vm.gridOptions"
                                   header="vm.sourceHeader"
                                   grid-data="vm.sourceData"
                                   total-data-count="vm.totalSourceDataCount"
                                   reset-grid="vm.resetSourceGrid"
                                   selectted-rows="vm.selectedRowsList"
                                   paging-info="vm.pagingInfo"
                                   current-item="vm.currentdata"
                                   get-data-down="vm.getDataDown"
                                   empty-state="vm.emptyState"
                                   delete-multiple-data="vm.deleteMultipleData">
            </md-card>
        </div>
        <div class="empty-state text-center full-height" layout="row" layout-align="center center" flex="100" layout-wrap ng-if="vm.isNoDataFound == true">
            <div class="emty-icon" flex="100">
                <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
            </div>
            <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
            <p flex="100">
                {{vm.EmptyMesssage.ADDNEWMESSAGE}}
            </p>
            <p flex="100">
                <md-button class="md-fab md-mini" aria-label="Add {{vm.selectedReasonType.popupTitle}}" ng-click="vm.addEditRecord(null,$event)">
                    <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
                    <md-tooltip>Add {{vm.selectedReasonType.popupTitle}}</md-tooltip>
                </md-button>
                <md-button class="md-fab md-mini" aria-label="Refresh {{vm.selectedReasonType.popupTitle}}" ng-click="vm.loadData($event)">
                    <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon"></md-icon>
                    <md-tooltip>Refresh {{vm.selectedReasonType.popupTitle}}</md-tooltip>
                </md-button>
            </p>
        </div>
    </div>
</div>
