<div layout="row" class="margin-5" layout-align="space-between center">
  <i style="vertical-align: middle;" class="icon-check-circle checked font-size-25 white-fg margin-5"
     ng-if="vm.isOperationAvailable && vm.isOperationsVerified"></i>  
  <md-button class="md-raised md-primary mv-0 margin-right-0 ml-5"
             ng-disabled="(!vm.isOperationAvailable )|| vm.isOperationsVerified
             || vm.woOtherDetails.isWoInSpecificStatusNotAllowedToChange"
             ng-click="vm.isOperationsVerified ? '' : vm.ValidateOperation()">      
            Validate Operations
  </md-button>
</div>
