.entity-element-modal {
  width: 100%;
}

.empty-state p {
  text-align: center;
}


.empty-state .empty-state-title {
  color: #152C50;
  font-size: 30px;
  font-weight: bold;
  margin: 0px;

  a {
    text-decoration: underline;
    color: #152C50 !important;
    &:hover{
        cursor:pointer;
    }
  }
}

.empty-state .empty-state-title-small {
  font-size: 20px;
}

.empty-state p button {
  margin-bottom: 2px;
}

.emty-icon {
  text-align: center;
  margin-bottom: 20px;
}

.empty-state {
  padding: 20px 15px !important;
}

.full-height {
  height: 100%;
}

.formaction {
  position: fixed;
  bottom: 5px;
  right: 10px;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.left-25 {
  left: 25% !important;
}

.border-right {
  border-right: 1px solid red;
}

.elementbtn {
  font-size: 13px;
  text-transform: capitalize;
  margin: 0;
  font-weight: normal;

  md-icon {
    width: 15px;
    min-width: 15px;
    font-size: 18px;
  }
}

.beingDragged {
  width: 100%;
  padding: 25px 10px;
  margin: 5px 0;
  border: 2px dashed rgb(3,155,229);
  border-radius: 2px;
  background-color: rgba(3,155,229,0.5);
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  cursor: move;
}

#DynamicFileds {
  /*Need to confirm with satish*/
  /*.ui-sortable-handle {
        border: 2px dashed transparent;*/
  /*.ui-sortable-selected {
             border: 2px dashed rgb(0,150,136);
            border-radius: 2px;
        }*/
  .element-item-selected {
    border: 2px dashed rgb(3,155,229);
    border-radius: 2px;
  }
}

.relative {
  position: relative;

  .delete {
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: -17px; /*last-2 5*/
    background: #eee;
    width: 30px;
    height: 30px;
    min-height: 30px;
    display: none;
    padding: 0;
  }

  .re-arrange {
    overflow: hidden;
    position: absolute;
    top: -17px; /*last-2 5*/
    display: none;
    right: 50px; /*35*/
    background: #eee;
    width: 30px;
    height: 30px;
    min-height: 30px;
    padding: 0;
  }


  &.element-item-selected {
    .delete {
      z-index: 50;
      cursor: pointer;
      display: block;

      md-icon {
        color: #ff0000;
        font-size: 18px;
        text-align: center;
      }

      &.add {
        right: 35px;

        md-icon {
          color: #1A3865;
          font-size: 18px;
          text-align: center;
        }
      }
    }

    .re-arrange {
      cursor: pointer;
      display: block;

      md-icon {
        color: #1a3865;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

.zIndex99 {
  z-index: 99;
}

.scroll-section {
  overflow: auto;
  position: relative;
}

.horizontal-section {
  /*max-width: 100%;*/
  position: relative;
  margin-bottom: 10px;
  /*border-bottom:1px solid #eee;*/
  /*overflow: auto;*/
  /*padding-bottom: 10px;*/
  .hor-fields {
    width: 300px;
    min-width: 300px;
    display: block;
    float: left;
    padding: 5px 15px 15px 15px;
    margin-bottom: 0;
    margin: 5px 10px;
    border: 2px dashed rgb(3,155,229);

    md-select {
      margin-top: 18px;
      padding: 2px;
    }

    md-input-container {
      width: 100%;
    }

    .md-errors-spacer {
      display: none;
    }
  }

  .sub-form-element-item-border {
    border: 2px dashed #dddddd;
    border-radius: 2px;
    width: 300px;
    min-width: 300px;
    display: block;
    float: left;
    padding: 5px 15px 15px;
    margin: 5px 10px;
  }

  .addbtn {
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
  }
}

.switch {
  /*min-width: 100px;*/
  height: 36px;
  border-radius: 5px;
  background: #999;
  position: relative;
  border: 2px solid #777;
  display: inline-flex;
  font-weight: 500;
  margin-bottom: 10px;

  &.active {
    background: #349d93;
    border: 2px solid #1e877d;
  }

  input {
    display: block;
    width: 100%;
    height: 32px;
    opacity: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }

  .switch-txt-wrapper {
    width: 100%;
    padding-left: 35px;
    padding-right: 10px;

    .switchtext {
      visibility: hidden;
    }
  }

  .switch-toggle {
    height: 28px;
    width: 29px;
    background: #fff;
    display: block;
    border-radius: 5px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.5s;
    box-shadow: 0px 0px 6px 1px #333;
  }

  .value-switch {
    position: relative;
    top: 6px;
    color: #fff;
    margin: 0;
    /*min-width: 65px;*/
    text-align: center;
    font-size: 14px;
  }

  input[type="checkbox"]:checked {
    & + .switch-txt-wrapper {
      padding-right: 35px;
      padding-left: 10px;

      .switch-toggle {
        left: calc(100% - 32px);
      }

      .value-switch {
        left: 0;
        right: auto;
      }
    }
  }
}
/*For new Switch UI - Added by Habib*/
/*.switch {
    height: 26px;
    border-radius: 6px;
    background: #999;
    position: relative;
    border: 1px solid #777;
    display: inline-flex;
    font-weight: 500;
    margin-bottom: 10px;
    min-width: 100%;

    &.active {
        background: #349d93;
        border: 2px solid #1e877d;
    }

    input {
        display: block;
        width: 100%;
        height: 28px;
        opacity: 0;
        position: absolute;
        z-index: 2;
        cursor: pointer;
    }

    .switch-txt-wrapper {
        width: 100%;
        padding: 0 1px;
    }

    .switch-toggle {
        height: 24px; 
        background: #fff;
        display: block;
        border-radius: 6px;
        position: absolute;
        top: 2px;
        left: 1px;
        transition: 0.5s;
        color: #000 !important;
        font-weight: 500;
    }

    .value-switch {
        position: relative;
        top: 0;
        color: #fff;
        margin: 0;
        text-align: center;
        font-size: 14px;
        line-height: 24px; 
    }

    input[type="checkbox"]:checked {
        & + .switch-txt-wrapper {
         
            .switch-toggle {
                left: calc(100% - 32px);
            }

            .value-switch {
                left: -1px; 
                right: auto;
            }
        }
    }
}*/
/*For new Switch UI - Added by Habib*/
.tooltip-icon {
  font-size: 18px !important;
}

md-icon {
  &.usdicon {
    left: auto !important;
    right: 30px !important;
  }
}

.textareafield {
  .ta-scroll-window.form-control {
    min-height: 10px;
  }

  .ta-scroll-window > .ta-bind {
    min-height: 10px;
  }
}

.ui-grid-draggable-row-target {
  opacity: 0.5 !important;
}

.ui-grid-draggable-row {
  height: 30px;
}

.ui-grid-draggable-row-over {
  position: relative;
}

.ui-grid-draggable-row-over:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px dotted #AAA;
}

.ui-grid-draggable-row-over--above:before {
  top: 0;
}

.ui-grid-draggable-row-over--below:before {
  bottom: 0;
}

.dtp-content {
  padding: 0 !important;
}

@media only screen and (max-width:767px) {
  #ControlBox {
    height: auto !important;
    max-height: 100%;
  }

  h1, .h1 {
    font-size: 20px;
  }

  md-content {
    .page-layout {
      &.simple {
        &.fullwidth {
          .header {
            height: auto;
          }
        }
      }
    }
  }
}

.dtp {
  > .dtp-content {
    > .dtp-date-view {
      > header.dtp-header {
        background: #152C50;
      }
    }
  }

  div.dtp-date {
    background: #1c3355;
  }

  div.dtp-time {
    background: #1c3355;
  }

  div.dtp-actual-time.p60 span.selected {
    color: #1c3355;
  }

  .dtp-actual-meridien a.selected {
    background: #1c3355;
  }

  .dtp-picker-time > a.dtp-select-hour.selected, .dtp-hand.on {
    background: #1c3355;
  }

  table.dtp-picker-days tr > td > a.selected {
    background: #1c3355;

    &.hilite {
      background: #1c3355;
    }
  }
}
/*.md-virtual-repeat-scroller {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: rgba(0, 0, 0, 0.1);
        transition: all .2s;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        transition: all .2s;
    }
}*/
.maxheight-none {
  max-height: none !important;
}

.cm-data-element-sub {
  .relative {
    .delete {
      right: 28px !important; /*70px*/
      top: -17px;
    }

    .delete.add {
      right: -9px !important;
      top: -17px;
    }
  }

  &.element-item-selected {
    .delete {
      right: 70px !important;
    }

    .delete.add {
      right: 26px !important;
    }
  }
}
