<md-dialog aria-label="Employee" class="" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.editHistoryForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Update History</h2>
                <span flex></span>
                <div layout="row" layout-align="center center">
                    <md-button class="md-primary md-raised">{{vm.data.woNumber}}</md-button>
                </div>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
            <md-content class="md-padding">
                <div layout="row" layout-align="space-between center">
                    <md-input-container flex="50" flex-xs="100">
                        <input type="number" name="qty" ng-model="vm.data.data.qty"
                               onkeypress="return OnlyNumeric(event)"
                               placeholder="Qty" required custom-blur="vm.data.data.qty ? vm.setPassQty() : ''">
                        <div ng-messages="vm.manageEquipmentForm.qty.$error"
                             role="alert">
                            <div ng-message="required">
                                <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="number">
                                <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="50" flex-xs="100">
                        <input type="text" name="scrapQty" ng-model="vm.data.data.scrapQty"
                               placeholder="Scrapped Qty" custom-blur="vm.data.data.scrapQty ? vm.setPassQty() : ''">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="50" flex-xs="100">
                        <input type="text" name="passQty" ng-model="vm.data.data.passQty"
                               placeholder="Passed Qty">
                    </md-input-container>
                    <md-input-container flex="50" flex-xs="100">
                        <input type="text" name="repairQty" ng-model="vm.data.data.repairQty"
                               placeholder="Repair Qty" custom-blur="vm.data.data.repairQty ? vm.setPassQty() : ''">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="50" flex-xs="100" md-no-float>
                        <label class="label-container" flex="100">Out-Process Setup Time</label>
                        <input type="text" name="checkoutSetupTime" ng-model="vm.data.data.checkoutSetupTime" placeholder="HH:mm:ss"
                               ng-pattern="vm.OperationTimePattern" mask="{{vm.OperationTimeMask}}"  validate="false">
                        <div ng-messages="vm.editHistoryForm.checkoutSetupTime.$error" role="alert">
                            <div ng-message="pattern">
                                <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <text-angular flex="100" ta-toolbar="vm.taToolbar.INLINE" ng-model="vm.data.data.remark"  cg-busy-loading="vm.cgBusyLoading"
                                  name="remark" ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"></text-angular>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-disabled="vm.editHistoryForm.$invalid" ng-click="vm.UpdateData()">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
