<div id="e-commerce-order" class="page-layout fullwidth simple tabbed breadcrumb-fixed" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
    <!-- CONTENT -->
    <div id="printSectionId">
        <style>
            #printSectionId {
                font-size: 1.2rem;
            }

            body {
                margin: 0;
                padding: 0;
            }

            .blog {
                width: 50%;
                float: left;
                margin-right: 0px !important;
            }

            [class^="icon-"], [class*=" icon-"] {
                font-family: 'icomoon';
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            * {
                text-rendering: optimizeLegibility;
                -o-text-rendering: optimizeLegibility;
                -ms-text-rendering: optimizeLegibility;
                -moz-text-rendering: optimizeLegibility;
                -webkit-text-rendering: optimizeLegibility;
                -webkit-tap-highlight-color: transparent;
                box-sizing: border-box;
                font-family: 'open sans', sans-serif;
                /*page-break-before: avoid;page-break-after: avoid;*/
            }

            /*.check-mark {
                margin-right: 5px;
                color: rgba(0,0,0,0.54);
                border-radius: 50%;
                width: 20px;
                height: 20px;
                min-width: 21px;
                min-height: 21px;
                opacity: 0.7;
            }*/

            .check-mark img {
                width: 100%;
                float: left;
            }

            .detail img {
                width: 100%;
            }

            table.header-table tr td:first-child {
                width: 50%;
                padding: 2px 0px;
            }

            table.piece-details {
                margin-top: 6px;
                border: 1px solid #cccccc;
                border-radius: 3px;
            }

                table.piece-details tr td {
                    width: 20%;
                    padding-bottom: 7px;
                    padding-top: 7px;
                    text-align: center;
                }

            table.fields-details {
                margin-top: 6px;
                border: 1px solid #cccccc;
                border-radius: 3px;
            }

                table.fields-details tr td {
                    width: 20%;
                    padding-bottom: 7px;
                    padding-top: 7px;
                    text-align: left;
                    padding-left: 5px;
                }

            th.b-bottom, td.b-bottom {
                border-bottom: 1px solid #eee;
                padding: 2px 10px;
            }

            th.b-bottom-design, td.b-bottom-design {
            }

            .tbl-text-left {
                text-align: left !important;
            }

            .tbl-text-right {
                text-align: right !important;
            }

            .tbl-text-center {
                text-align: center !important;
            }

            td.dos {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 15px;
            }

                td.dos ul {
                    list-style: none;
                    padding: 0;
                }

                td.dos div {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }

            .dis-table {
                margin-top: 6px;
                /*border: 1px solid #eee;*/
                /*border-radius: 3px;*/
            }

            .table-one {
                width: 98%;
                border: 1px solid #ccc;
                margin: 0 auto;
                border-radius: 3px;
            }

                .table-one tr td, .table-one tr th {
                    padding: 5px 0;
                    text-align: center;
                    border-bottom: 1px solid #ddd;
                }

                .table-one tr th {
                    padding: 5px 0;
                }

            .t-head {
                color: #444;
                font-weight: bold;
            }

            .completed-process {
                margin: 15px auto;
            }

                .completed-process tr td, .completed-process tr th {
                    width: 33%;
                }

                .completed-process .t-head {
                    margin: 0;
                    background: #eee;
                    padding: 8px 5px;
                }

            th.heding-table {
                /*border: 1px solid #eee;*/
                width: 100%;
                margin: 0 auto;
                display: block;
                margin-top: 5px;
                border-radius: 3px;
            }

            body, h1, h2, h3, ol, ul, div {
                width: auto;
                border: 0;
                padding: 0;
                float: none;
                position: static;
                overflow: visible;
            }

            @media print {
                thead {
                    display: table-header-group;
                }

                tfoot {
                    display: table-footer-group;
                }
                tr {
                    page-break-after: always;
                }

                table {
                    font-size: 13px;
                }

                .t-head, .table-one tr td, .table-one tr th {
                    color: rgba(0,0,0,0.70);
                }

                table.body-table-main {
                    color: #252525;
                }

                table.dis-table img {
                    /*width: 200px;*/
                }

                .print-static {
                    position: static !important;
                }

                #watermark {
                    top: 25% !important;
                }

                hr.style-border-bottom {
                    border: 0;
                    height: 1px;
                    background: #333;
                    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
                    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
                    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
                    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
                    margin: 20px;
                }
            }

            #watermark {
                background-image: url('http://localhost:3000/assets/images/logos/stop.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                opacity: 0.1;
                position: fixed;
                margin: 0 auto;
                height: 75%;
                width: 75%;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 50%;
                -ms-transform: translate(0%, -20%) rotate(-60deg); /* IE 9 */
                -webkit-transform: translate(0%, -20%) rotate(-60deg); /* Chrome, Safari, Opera */
                transform: translate(0%, -20%) rotate(-60deg);
            }

            tr.page-brk {
                page-break-before: always;
                display: block;
            }

            img {
                max-width: 100%;
                height: auto;
                vertical-align: top;
                border: none;
            }

            hr.style-border-bottom {
                border: 0;
                height: 1px;
                background: #333;
                background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
                background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
                background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
                background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
                margin: 20px;
            }

            /*hr.style-border-bottom:after {
                    content: "§";
                    display: inline-block;
                    position: relative;
                    top: -0.7em;
                    font-size: 1.5em;
                    padding: 0 0.25em;
                    background: white;
                }*/
            /*thead {display: table-header-group;}*/

            .oplabel-class {
                text-align: center;
                display: inline-block;
                padding: 3px 5px;
                font-weight: 400;
                background-color: #8cd9ff !important;
                border-radius: 2px;
            }

            .version-lbl {
                background-color: rgb(255,120,78);
                color: black !important;
            }

            .firstpiece-lbl {
                background: #4ac7ff !important;
                color: black !important;
            }

            .finished-lbl {
                background: #40d840 !important;
                color: black !important;
            }

            .scrap-lbl {
                background: #f55252 !important;
                color: black !important;
            }

            .total-time-lbl {
                background: #8cd9ff !important;
                color: #000 !important;
                font-size: 20px !important;
                line-height: 19px;
                min-width: 130px !important;
            }

            .team-operation-lbl {
                background: rgb(255,87,34);
                margin: 0;
                height: 32px;
                min-width: 0;
                line-height: 24px;
                padding: 6px;
                width: 32px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
            }

            .title-label-class {
                font-size: 16px;
                font-weight: bold;
            }

            .print-static {
                position: relative;
            }

            .th-border-bottom {
                border-bottom: 1px solid black !important;
                padding: 5px 0px 10px;
            }

            .show-details {
                display: table-row !important;
            }

            .hide-details {
                display: none !important;
            }

            .work-profile-table .transwise-operation-table-main {
                width: 100%;
                display: inline-block;
                padding: 5px 0px;
            }

            .work-profile-table .work-profile-main {
                width: 50%;
                display: inline-block;
            }

            .work-profile-table p {
                margin: 0;
                padding: 3px 1px;
            }

            .wo-order-profile-view {
                padding: 10px;
            }

            .rohs-bom-image {
                max-width: 25px;
                height: 25px;
                padding: 5px 0px;
            }

            .cm-wo-profile-table tr th {
                vertical-align: top;
                padding-top: 4px;
                width: 1px;
                white-space: nowrap;
                text-align: right;
                border-bottom: 1px solid #eee;
                padding: 5px 0px;
            }

            .cm-wo-profile-table tr td {
                border-bottom: 1px solid #eee;
                width: 25%;
            }
        </style>

        <div class="padding-top-side">
            <div class="wo-order-profile-view">
                <table width="100%" class="print-static" cellspacing="0" cellpadding="0">
                    <thead>
                        <div style="{{WorkOrderNotStopThanHide}}" id="watermark"></div>
                        <tr>
                            <th class="heding-table" style="padding-top: 5px; font-weight: normal;">
                                <table width="100%" cellspacing="0" cellpadding="0" style="padding: 0 10px">
                                    <tr>
                                        <td style="height: 5px;margin-top: 5px; display: block; background: {{WOColorCode}}"></td>
                                    </tr>
                                </table>
                                <table width="100%" class="cm-wo-profile-table" style="padding-bottom: 10px; padding: 10px 0px 0px 0px; border-bottom: 1px solid black;" cellspacing="0" cellpadding="0">
                                   <tbody>
                                       <tr>
                                           <th style="padding-right: 5px;">WO#:</th>
                                           <td>{{woNumber}}</td>
                                           <th style="padding-right: 5px;">WO Version:</th>
                                           <td>{{woVersion}}</td>
                                           <th style="padding-right: 5px;">Assy ID:</th>
                                           <td>{{PIDCode}}</td>
                                           <th style="padding-right: 5px;">Assy Rev:</th>
                                           <td>{{Rev}}</td>
                                       </tr>
                                       <tr>
                                           <th style="padding-right: 5px;">PO#:</th>
                                           <td>{{woSalesOrderPONumber}}</td>
                                           <th style="padding-right: 5px;">PO Qty:</th>
                                           <td class="text-right">{{TotalPOQty}}</td>
                                           <th style="padding-right: 5px;">Build Qty:</th>
                                           <td>{{buildQty}}</td>
                                           <th style="padding-right: 5px;">Ship Date:</th>
                                           <td>NA</td>
                                       </tr>
                                       <tr>
                                           <th style="padding-right: 5px;">Nickname:</th>
                                           <td>{{nickName}}</td>
                                           <th style="padding-right: 5px;">ECO:</th>
                                           <td>{{ECORemark}}</td>
                                           <th style="padding-right: 5px;">INTERNAL-ECO:</th>
                                           <td>{{FCORemark}}</td>
                                           <th style="padding-right: 5px;">Sample & Location:</th>
                                           <td>{{isSampleAvailable}}</td>
                                       </tr>
                                       <tr>
                                           <th style="padding-right: 5px;">RoHS:</th>
                                           <td>
                                               <span>
                                                   <img class="rohs-bom-image" src="{{RoHSLeadFreeIcon}}">
                                                   <md-tooltip>{{RoHSLeadFreeText}}</md-tooltip>
                                               </span>
                                           </td>
                                           <td ng-if="vm.NoCleanOpData.length>0" colspan="2" style="padding-right: 5px;">No-Clean: {{NoCleanOpData}}</td>
                                           <td colspan="2" ng-if="vm.WatersolubleOpData.length>0" style="padding-right: 5px;">Water Soluble: {{WatersolubleOpData}}</td>
                                       </tr>
                                       <tr style="{{WorkOrderNotStopThanHide}}">
                                           <td colspan="5">
                                               <span>
                                                   <b>
                                                       Reason to stop work order: <span style="color:red;font-weight:bold;">{{WoReason}}</span>
                                                                                  <span>by {{WoHoldBy}} on {{WoStartDate}}</span>
                                                   </b>
                                               </span>
                                           </td>
                                       </tr>
                                   </tbody>
                                </table>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" style="padding:10px;" cellspacing="0" cellpadding="0">
                                    {{WOOperationDetails}}
                                </table>
                            </td>
                        </tr>
                    </tbody>
                    <!--<tfoot style="page-break-after: always;"></tfoot>-->
                </table>
            </div>
        </div>
        <!-- / CONTENT -->
    </div>
</div>
