<md-dialog aria-label="Part Usage" flex="90" class="cm-custom-label-common" draggable>
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2>Part Usage Details</h2>
            <span flex></span>
            <popup-header-label label-data="vm.headerdata"></popup-header-label>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="no-padding mh-5" layout="column">
        <md-content>
            <div layout="row" flex="100">
                <part-usage-detail part-id="vm.cid"></part-usage-detail>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
</md-dialog>
