<md-dialog aria-label="Employee" class="width-40p" draggable>
    <form name="vm.employeeForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.data.title}}: {{vm.data.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll">
            <md-content class="md-padding" layout="column" layout-gt-xs="row">
                <div flex="100" ng-if="vm.MainTitle.Standards == vm.data.title">
                    <div flex="100" class="detail dossection padding-10">
                        <md-checkbox aria-label="{{standard.certificateStandards.fullName}}" ng-model="vm.isChecked" ng-disabled="true" flex="100" ng-repeat="standard in vm.data.datalist" ng-if="standard.standardsClass">
                            {{standard.certificateStandards.fullName}}
                        </md-checkbox>
                        <p flex="100" layout="row" layout-wrap ng-repeat="standard in vm.data.datalist" ng-if="standard.standardsClass">
                            <md-checkbox  ng-model="vm.isChecked" ng-disabled="true" aria-label="{{standard.certificateStandards.fullName}} - {{standard.standardsClass.className}}" flex="100">
                                {{standard.certificateStandards.fullName}} - <b>{{standard.standardsClass.className}}</b>
                            </md-checkbox>
                        </p>
                    </div>
                </div>
                <div flex="100" ng-if="vm.MainTitle.Equipment == vm.data.title">
                    <div layout="row" flex="100" layout-wrap class="detail dossection padding-10" ng-if="vm.data.datalist.length > 0">
                        <md-list flex="100" class="permissiontab badgeequipment dragbox custom-scroll" ms-scroll>
                            <md-list-item id="employeeAddedList" class="padding-0 items-container" layout="row" flex="100" layout-wrap>
                                <div flex="100" class="md-1-line margin-0 dragsortable"
                                     ng-repeat="equipment in vm.data.datalist"
                                     ng-model="equipment"
                                     layout="row" layout-align="start center"
                                     ng-click="vm.data.woTransID ? vm.ShowAllForDataElement(vm.MainTitle.EquipmentDataFields, [], equipment.equipment,$event):''">
                                    <div class="avatar-wrapper">
                                        <img class="md-avatar avatar margin-top-0 margin-bottom-0" ng-src="{{equipment.equipment.ProfilePic}}" />
                                    </div>
                                    <div class="md-list-item-text" layout="row" layout-wrap flex="100">
                                        <h3 class="name margin-0 md-primary-fg underline inline-block" flex="100" ng-click="vm.goToManageEquipmentWorkstation(equipment.equipment)">{{equipment.equipment.assetName}}</h3>
                                        <p class="last-message text-truncate margin-0">
                                            {{equipment.equipment.eqpMake + " | " + equipment.equipment.eqpModel + " | " + equipment.equipment.eqpYear}}
                                        </p>
                                    </div>
                                    <md-button flex="10" class="md-mini md-icon-button md-primary margin-0"
                                               ng-if="!vm.data.isUserOperator"
                                               ng-click="vm.ViewOperationEquipmentFieldsHistory(vm.MainTitle.EquipmentDataFields,equipment.equipment,$event)">
                                        <md-icon md-font-icon="icon-library-books"></md-icon>
                                        <md-tooltip>History</md-tooltip>
                                    </md-button>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
                <div flex="100" ng-if="vm.MainTitle.SupplyAndMaterial == vm.data.title">
                    <div layout="row" flex="100" layout-wrap class="detail dossection padding-10" ng-if="vm.data.datalist.length > 0">
                        <md-list flex="100" class="permissiontab badgeequipment dragbox custom-scroll" ms-scroll>
                            <md-list-item id="employeeAddedList" class="padding-0 items-container" layout="row" flex="100" layout-wrap>
                              <div flex="100" class="md-1-line margin-0 dragsortable"
                                   ng-repeat="part in vm.data.datalist"
                                   ng-model="part"
                                   layout="row" layout-align="start center">
                                <div class="avatar-wrapper">
                                  <img class="md-avatar avatar margin-top-0 margin-bottom-0" ng-src="{{part.imageURL}}" />
                                </div>
                                <!--<div class="md-list-item-text" layout="row" layout-wrap flex="100">-->
                                <h3 class="name margin-0 md-primary-fg" flex="100">
                                  <common-pid-code-label-link component-id="part.id"
                                                              label="vm.LabelConstant.MFG.PID"
                                                              value="part.PIDCode"
                                                              is-copy="true"
                                                              is-mfg="true"
                                                              mfg-label="vm.LabelConstant.MFG.MFGPN"
                                                              mfg-value="part.mfgPN"
                                                              rohs-icon="part.rohsIcon"
                                                              rohs-status="part.rohsStatus"
                                                              is-formated="true"
                                                              is-copy-ahead-label="true"
                                                              is-custom-part="part.isCustom"></common-pid-code-label-link>
                                </h3>
                                <!--</div>-->
                              </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
                <div flex="100" ng-if="vm.MainTitle.Documents == vm.data.title">
                    <documents class="documetnupload" entity="vm.entity" ref-trans-id="vm.id" is-protected="true" is-profile="true" is-traveler="true" is-merge="true"></documents>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
