<md-dialog aria-label="Add Expression" class="addexpression cm-custom-label-common" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="text-white">Advance Search</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="vm.elasticAdvaceSearchForm" id="elasticAdvaceSearchForm">
    <md-dialog-content style="width:750px;min-height: 100px" class="custom-scroll padding-15 customer-modal">

      <div flex="100" layout="row" layout-align="end center" class="notification-condition">
        <md-button class="md-primary md-raised" name="addGroup" ng-click="vm.addGroup()">
          Add Group
        </md-button>
      </div>
      <div flex="100" layout="row" layout-align="start center" class="notification-condition">
        <span>
          <b> Note: By applying advance search the main search wll be removed.</b>
        </span>
      </div>
      <div ng-repeat="item in vm.advanceSearchFilterData">
        <div flex="100" layout="row" layout-align="center center" class="mt-10">
          <span class="nowrap"
                ng-if="($index) >= 1">
            <b>OR</b>            
          </span>
        </div>
        <div flex="100" layout="row" class="cm-section-main mt-10">
          <div flex="100" class="cm-section-inner mt-10">
            <div flex="100" layout="row" class="margin-bottom-10">
              <md-button id='addCondition_{{$index}}' class="md-primary defaultbtn md-raised margin-0" ng-click="vm.addCondition(item)">
                Add Condition
              </md-button>
              <md-button id="removeGroup_{{$index}}" class="md-primary defaultbtn md-raised margin-0 margin-left-10" ng-click="vm.removeGroup($index)">
                Remove Group
              </md-button>
            </div>
            <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
              <tbody>
                <tr ng-repeat="searchItem in item.SearchCriteria">
                  <td class="width-15p">
                    <md-input-container flex="100" class="margin-0" md-no-float custom-auto-focus="false">
                      <md-select flex="100" id="condition_{{$index}}_{{$parent.$index}}" class="margin-0 margin-right-10"
                                 md-container-class="containerClass" ng-required="true"
                                 placeholder="Select Condition" ng-model="searchItem.Condition" name="condition_{{$index}}_{{$parent.$index}}">
                        <md-option ng-repeat="obj in vm.enterpriseAdvanceSearchCondition" ng-value="obj">{{obj}}</md-option>
                      </md-select>
                      <div ng-messages="vm.elasticAdvaceSearchForm['condition_'+$index+'_'+$parent.$index].$error" role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                  <td class="width-75p">
                    <md-input-container flex="100" class="margin-0" md-no-float>
                      <!--class="input-text-uppercase" capitalize-->
                      <input type="text" name="value_{{$index}}_{{$parent.$index}}" id="value_{{$index}}_{{$parent.$index}}" ng-model="searchItem.Value" placeholder="Search Text" required ng-maxlength="100">
                      <div ng-messages="vm.elasticAdvaceSearchForm['value_'+$index+'_'+$parent.$index].$error"
                           role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(100, vm.elasticAdvaceSearchForm['value_'+$index+'_'+$parent.$index].$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                  <td>
                    <md-button id="removeCondition{{$index}}" class="md-primary defaultbtn md-raised margin-0 margin-left-10" ng-click="vm.removeCondition(item,$index)">
                      Remove Condition
                    </md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" class="toolbar-45">
      <md-button class="md-default md-button md-ink-ripple" ng-click="vm.cancel()">
        Cancel
      </md-button>
      <md-button class="md-default md-button md-ink-ripple" ng-click="vm.clear()">
        Clear
      </md-button>
      <md-button class="md-raised md-primary md-button md-ink-ripple text-white"
                 ng-class="{'md-formdirty': vm.elasticAdvaceSearchForm.$dirty}"
                 ng-click="vm.SubmitForm()">
        Search
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>






