<div  layout="column" flex cg-busy="{promise:vm.cgBusyLoading}">
  <div layout="column">
    <md-card layout="column" flex layout-align="space-between stretch" ng-show="!vm.corrIncorrPartNotFound" class="grid-with-header margin-0">
      <ui-grid-extention class="cm-alternate-groups-grids" layout="column" flex load-data="vm.loadcorrIncorrPartData"
                         grid-option="vm.corrIncorrPartGridOptions"
                         header="vm.corrIncorrPartSourceHeader"
                         grid-data="vm.corrIncorrPartSourceData"
                         total-data-count="vm.corrIncorrPartTotalSourceDataCount"
                         reset-grid="vm.resetcorrIncorrPartSourceGrid"
                         selectted-rows="vm.corrIncorrPartSelectedRowsList"
                         paging-info="vm.corrIncorrPartPagingInfo"
                         current-item="vm.corrIncorrPartCurrentdata"
                         get-data-down="vm.corrIncorrPartGetDataDown"
                         empty-state="vm.corrIncorrPartEmptyState"
                         delete-multiple-data="vm.corrIncorrPartDeleteMultipleData">
      </ui-grid-extention>
    </md-card>
    <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.corrIncorrPartNotFound">
      <div class="emty-icon" flex="100">
        <img ng-src="{{vm.IsSupplier ? vm.CorrIncorrPartEmptyMesssage.SUPPLIER_PART_IMAGEURL : vm.CorrIncorrPartEmptyMesssage.MFR_PART_IMAGEURL}}" />
      </div>
      <p flex="100" class="empty-state-title">{{vm.CorrIncorrPartEmptyMesssage.MESSAGE}}</p>
      <p flex="100">
        <md-button class="md-fab md-mini" aria-label="Refresh" ng-click="vm.loadcorrIncorrPartData()">
          <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
          <md-tooltip md-direction="top">Refresh</md-tooltip>
        </md-button>
      </p>
    </div>
  </div>
</div>
