<md-dialog aria-label="analytics" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="55">
  <form name="vm.analyticsForm" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="text-white">{{vm.analytics.chartTemplateID ? 'Update' : 'Add'}} Widget</h2>
        <span flex></span>
        <md-button class="md-primary md-raised" id="headerAddBtn" ng-click="vm.saveAndProceed(vm.BUTTON_TYPE.ADDNEW)">
          Add Widget
        </md-button>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="row">
      <md-content class="padding-10 cm-custom-label-common" flex="100">
        <div layout="row">
          <div class="cm-section-main border-0" flex="100">
            <div class="cm-section-inner">
              <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                <tbody>
                  <tr>
                    <th><p class="label-container">Widget Type<span>&nbsp;*</span></p></th>
                    <td>
                      <md-input-container class="min-width-initial" layout-align="center" flex="100">
                        <md-select ng-model="vm.analyticsTypeID" md-autofocus required name="analyticsTypeID" id="analyticsTypeID">
                          <md-option ng-value="type.ID" ng-repeat="type in vm.analyticsType">{{type.Name}}</md-option>
                        </md-select>
                        <div ng-messages="vm.analyticsForm.analyticsTypeID.$error"
                             role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                    <th><p class="label-container">Widget Name<span>&nbsp;*</span></p></th>
                    <td>
                      <md-input-container class="md-block min-width-initial" flex="100">
                        <input type="text" name="nameOfChart" ng-model="vm.analytics.nameOfChart"
                               placeholder="Widget Name" required ng-maxlength="255" md-maxlength="255">
                        <div ng-messages="vm.analyticsForm.nameOfChart.$error"
                             role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(255, vm.analyticsForm.nameOfChart.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">{{vm.autoCompleteChartCategory.placeholderName}}<span>&nbsp;*</span></p></th>
                    <td>
                      <md-input-container ng-if="vm.autoCompleteChartCategory" class="autocompletecustom" flex="100">
                        <custom-auto-complete datalist="vm.chartCategoryList"
                                              column-name="vm.autoCompleteChartCategory.columnName"
                                              controller-name="vm.autoCompleteChartCategory.controllerName"
                                              view-template-url="vm.autoCompleteChartCategory.viewTemplateURL"
                                              key-column-name="vm.autoCompleteChartCategory.keyColumnName"
                                              input-name="vm.autoCompleteChartCategory.inputName"
                                              placeholder-name="vm.autoCompleteChartCategory.placeholderName"
                                              key-column-id="vm.autoCompleteChartCategory.keyColumnId"
                                              is-required="vm.autoCompleteChartCategory.isRequired"
                                              is-addnew="vm.autoCompleteChartCategory.isAddnew"
                                              callback-fn="vm.autoCompleteChartCategory.callbackFn"
                                              add-data="vm.autoCompleteChartCategory.addData">
                        </custom-auto-complete>
                      </md-input-container>
                    </td>
                    <th></th>
                    <td>
                      <div class="cm-rd-switch" layout="row">
                        <md-checkbox ng-model="vm.analytics.isRenderTable" name="isRenderTable" class="margin-0">
                          Chart with data
                        </md-checkbox>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">{{vm.autoCompleteChartType.placeholderName}}<span>&nbsp;*</span></p></th>
                    <td>
                      <md-input-container ng-if="vm.autoCompleteChartType" class="autocompletecustom" flex="100" flex-gt-xs="100">
                        <custom-auto-complete datalist="vm.chartTypeList"
                                              column-name="vm.autoCompleteChartType.columnName"
                                              controller-name="vm.autoCompleteChartType.controllerName"
                                              view-template-url="vm.autoCompleteChartType.viewTemplateURL"
                                              key-column-name="vm.autoCompleteChartType.keyColumnName"
                                              input-name="vm.autoCompleteChartType.inputName"
                                              placeholder-name="vm.autoCompleteChartType.placeholderName"
                                              key-column-id="vm.autoCompleteChartType.keyColumnId"
                                              is-required="vm.autoCompleteChartType.isRequired"
                                              is-addnew="vm.autoCompleteChartType.isAddnew"
                                              callback-fn="vm.autoCompleteChartType.callbackFn">
                        </custom-auto-complete>
                      </md-input-container>
                    </td>
                    <th>
                      <p class="label-container">
                        <a class="cm-text-decoration underline" ng-click="vm.goToDataSourceList();" tabindex="-1">{{vm.autoCompleteChartRawData.placeholderName}}</a><span>&nbsp;*</span>
                      </p>
                    </th>
                    <td>
                      <md-input-container ng-if="vm.autoCompleteChartRawData" class="autocompletecustom" flex="100" flex-gt-xs="100">
                        <custom-auto-complete datalist="vm.chartRawDataList"
                                              column-name="vm.autoCompleteChartRawData.columnName"
                                              controller-name="vm.autoCompleteChartRawData.controllerName"
                                              view-template-url="vm.autoCompleteChartRawData.viewTemplateURL"
                                              key-column-name="vm.autoCompleteChartRawData.keyColumnName"
                                              input-name="vm.autoCompleteChartRawData.inputName"
                                              placeholder-name="vm.autoCompleteChartRawData.placeholderName"
                                              key-column-id="vm.autoCompleteChartRawData.keyColumnId"
                                              is-required="vm.autoCompleteChartRawData.isRequired"
                                              is-addnew="vm.autoCompleteChartRawData.isAddnew"
                                              callback-fn="vm.autoCompleteChartRawData.callbackFn"
                                              on-select-callback-fn="vm.autoCompleteChartRawData.onSelectCallbackFn">
                        </custom-auto-complete>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">{{vm.autoCompleteXAxis.placeholderName}}<span>&nbsp;*</span></p></th>
                    <td>
                      <md-input-container ng-if="vm.autoCompleteXAxis" class="autocompletecustom" flex="100" flex-gt-xs="100">
                        <custom-auto-complete datalist="vm.xAxisList"
                                              column-name="vm.autoCompleteXAxis.columnName"
                                              controller-name="vm.autoCompleteXAxis.controllerName"
                                              view-template-url="vm.autoCompleteXAxis.viewTemplateURL"
                                              key-column-name="vm.autoCompleteXAxis.keyColumnName"
                                              input-name="vm.autoCompleteXAxis.inputName"
                                              placeholder-name="vm.autoCompleteXAxis.placeholderName"
                                              key-column-id="vm.autoCompleteXAxis.keyColumnId"
                                              is-required="vm.autoCompleteXAxis.isRequired"
                                              is-addnew="vm.autoCompleteXAxis.isAddnew"
                                              on-select-callback-fn="vm.autoCompleteXAxis.onSelectCallbackFn">
                        </custom-auto-complete>
                      </md-input-container>
                    </td>
                    <th><p class="label-container">{{vm.autoCompleteYAxis.placeholderName}}<span>&nbsp;*</span></p></th>
                    <td>
                      <md-input-container ng-if="vm.autoCompleteYAxis" class="autocompletecustom" flex="100" flex-gt-xs="100">
                        <custom-auto-complete datalist="vm.yAxisList"
                                              column-name="vm.autoCompleteYAxis.columnName"
                                              controller-name="vm.autoCompleteYAxis.controllerName"
                                              view-template-url="vm.autoCompleteYAxis.viewTemplateURL"
                                              key-column-name="vm.autoCompleteYAxis.keyColumnName"
                                              input-name="vm.autoCompleteYAxis.inputName"
                                              placeholder-name="vm.autoCompleteYAxis.placeholderName"
                                              key-column-id="vm.autoCompleteYAxis.keyColumnId"
                                              is-required="vm.autoCompleteYAxis.isRequired"
                                              is-addnew="vm.autoCompleteYAxis.isAddnew"
                                              on-select-callback-fn="vm.autoCompleteYAxis.onSelectCallbackFn">
                        </custom-auto-complete>
                      </md-input-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-class="{'md-formdirty': vm.analyticsForm.$dirty}" ng-disabled="vm.saveDisable"
                 ng-click="vm.saveAnalytics(vm.BUTTON_TYPE.SAVE)" aria-label="Submit">Save</md-button>
      <md-button class="md-primary md-raised" data-focusButton="headerAddBtn" last-element elementcondition="true"
                 ng-click="vm.saveAnalytics(vm.BUTTON_TYPE.SAVEANDEXIT);" aria-label="Submit"
                 ng-class="{'md-formdirty': vm.analyticsForm.$dirty}">
        {{vm.CORE_MESSAGE_CONSTANT.SAVE_AND_EXIT}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
