<md-dialog aria-label="Allocate UMIDs" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Allocated UMID(s)</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
      <md-content class="md-padding custom-scroll">
        <div class="cm-section-header padding-top-15 padding-left-10 padding-bottom-10" layout="row" flex="100">
          <feeder-umid-list ng-if="vm.allocatedUMIDList.length > 0"
                            filter-list="vm.allocatedUMIDList"
                            sum-obj="vm.sumObj"
                            is-allocate-umid="true"></feeder-umid-list>

        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
</md-dialog>

