<md-dialog aria-label="QuantityConfirmationApproval" cg-busy="{promise:vm.cgBusyLoading}" draggable class="cm-wo-ht-reason cm-qty-con" flex="70">
  <form name="QuantityConfirmationApprovalForm">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>{{vm.titleText}}</h2>
        <span flex></span>
        <div layout="row" layout-align="center center" class="layout-wrap-rs-1024 cm-header-label-holder" layout-align-sm="end-center">
          <popup-header-label label-data="vm.headerdata"></popup-header-label>
        </div>
        <md-button class="md-icon-button" ng-click="vm.close()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
      <md-content class="md-padding">
        <div class="content fullpage-datatable padding-10-imp" layout="column" flex ng-if="vm.TaskconfirmationList.length > 0">
          <div class="cm-diff-table cm-common-table-ui">
            <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                   dt-options="vm.dtOptions">
              <thead>
                <tr>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">Action</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">#</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">Changed Date</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">Changed By</span>
                    </div>
                  </th>
                  <th class="secondary-text" ng-if="vm.type!=vm.ConfirmationType.ReasonChangeRequest">
                    <div class="table-header">
                      <span class="column-title">Signature</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">Reason</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">Remark</span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="taskConfirmationItem in vm.TaskconfirmationList">
                  <td width="10%">
                    <md-button ng-disabled="!taskConfirmationItem.reason" class="md-primary grid-button md-icon-button bdrbtn" ng-click="vm.viewReason(taskConfirmationItem,$event)">
                      <md-icon md-font-icon="icon-eye" class="material-icons mat-icon"></md-icon>
                      <md-tooltip>View Reason</md-tooltip>
                    </md-button>
                  </td>
                  <td width="5%">{{$index + 1}}</td>
                  <td width="10%">{{taskConfirmationItem.createdAt | date: $root.dateTimeDisplayFormat}}</td>
                  <td width="10%">
                    {{taskConfirmationItem.userName}}
                  </td>
                  <td width="15%" class="sigtdqtyconfirmationlist" ng-if="vm.type!=vm.ConfirmationType.ReasonChangeRequest">
                    <img ng-src="{{taskConfirmationItem.signaturevalue}}" alt="Signature">
                  </td>
                  <td width="25%">
                    {{taskConfirmationItem.reason ? (taskConfirmationItem.reason.length > 40 ? (taskConfirmationItem.reason | htmlToPlaintext | limitTo:40) + '...' : taskConfirmationItem.reason | htmlToPlaintext) : ""}}
                  </td>
                  <td width="25%">
                    <span ng-bind-html="taskConfirmationItem.autoRemark"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="empty-state text-center full-height" layout="row" layout-align="center center" flex="100" layout-wrap ng-if="vm.TaskconfirmationList.length == 0">
          <div class="emty-icon" flex="100">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
          </div>
          <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="vm.close()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
