<div  layout="column" flex cg-busy="{promise:vm.cgBusyLoading}">
  <div layout="column" class="cm-packing-alias-tab">
    <div class="cm-section-inner pl-5">
      <div layout="row">
        <div layout="row" layout-align="start center">
          <table cellspacing="0" cellpadding="0" class="cm-table-input-main middle-align-table">
            <tbody>
              <tr>
                <th>
                  <p class="label-container padding-top-3">
                    Process Material
                  </p>
                </th>
                <td>
                  <div layout="column" class="padding-right-10" flex="20">
                    <md-input-container flex="100" ng-if="vm.autoCompleteProcessMaterial" class="autocompletecustom margin-bottom-0 w-300">
                      <custom-auto-complete-search on-search-fn="vm.autoCompleteProcessMaterial.onSearchFn"
                                                   column-name="vm.autoCompleteProcessMaterial.columnName"
                                                   key-column-name="vm.autoCompleteProcessMaterial.keyColumnName"
                                                   controller-name="vm.autoCompleteProcessMaterial.controllerName"
                                                   view-template-url="vm.autoCompleteProcessMaterial.viewTemplateURL"
                                                   input-name="vm.autoCompleteProcessMaterial.inputName"
                                                   placeholder-name="vm.autoCompleteProcessMaterial.placeholderName"
                                                   key-column-id="vm.autoCompleteProcessMaterial.keyColumnId"
                                                   is-required="vm.autoCompleteProcessMaterial.isRequired"
                                                   is-addnew="vm.autoCompleteProcessMaterial.isAddnew"
                                                   callback-fn="vm.autoCompleteProcessMaterial.callbackFn"
                                                   add-data="vm.autoCompleteProcessMaterial.addData"
                                                   on-select-callback-fn="vm.autoCompleteProcessMaterial.onSelectCallbackFn"
                                                   is-disabled="vm.isReadOnly || !vm.cid || vm.cid == null || vm.IsSupplier==true || vm.partDetail.isCPN ||vm.wizardStep1ComponentInfo.$dirty || !vm.partDetail.isEpoxyMount">
                      </custom-auto-complete-search>
                    </md-input-container>
                  </div>
                </td>
                <th>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <md-card layout="column" flex layout-align="space-between stretch" ng-show="!vm.PMNotFound" class="grid-with-header margin-0">
      <ui-grid-extention load-data="vm.loadDataPM" layout="column" flex
                         grid-option="vm.gridOptionsPM"
                         header="vm.sourceHeaderPM"
                         grid-data="vm.sourceDataPM"
                         total-data-count="vm.totalSourceDataCountPM"
                         reset-grid="vm.resetSourceGridPM"
                         selectted-rows="vm.selectedRowsListPM"
                         paging-info="vm.pagingInfoPM"
                         current-item="vm.currentdataPM"
                         get-data-down="vm.getDataDownPM"
                         empty-state="vm.emptyStatePM"
                         delete-multiple-data="vm.deleteMultipleDataPM">
      </ui-grid-extention>
    </md-card>
    <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.PMNotFound">
      <div class="emty-icon" flex="100">
        <img ng-src="{{vm.ProcessMaterialPartEmptyMesssage.IMAGEURL}}" />
      </div>
      <p flex="100" class="empty-state-title">{{vm.ProcessMaterialPartEmptyMesssage.MESSAGE}}</p>
      <p flex="100">
        <md-button class="md-fab md-mini" aria-label="Refresh" ng-click="vm.loadDataPM()">
          <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
          <md-tooltip md-direction="top">Refresh</md-tooltip>
        </md-button>
      </p>
    </div>
  </div>
</div>
