<md-dialog aria-label="coustomer-confirmation" cg-busy="{promise:vm.cgBusyLoading}" draggable>

  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h2>Consolidated QPA</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="no-padding custom-scroll" layout="column">
    <md-content class="padding-10">
      <div flex="100" layout="row" layout-wrap>
        <div flex="100" layout="row" layout-wrap class="cm-common-table-ui">
          <table border="1" width="100%" class="padding-5 opration-table text-center">
            <thead>
              <tr>
                <td class="padding-5">
                  SR #
                </td>
                <td class="padding-5">
                  {{vm.LabelConstant.Assembly.PIDCode}}
                </td>
                <td class="padding-5">
                  {{vm.LabelConstant.Assembly.MFGPN}}
                </td>
                <td class="padding-5">
                  Level
                </td>
                <td class="padding-5">
                  Item
                </td>
                <td class="padding-5">
                  QPA Count
                </td>
                <td class="padding-5">
                  {{vm.LabelConstant.BOM.REF_DES}} Count
                </td>
                <td class="padding-5">
                  Buy QPA
                </td>
                <td class="padding-5">
                  Populate
                </td>
                <td class="padding-5">
                  DNP QPA Count
                </td>
                <td class="padding-5">
                  {{vm.LabelConstant.BOM.DNP_REF_DES}} Count
                </td>
                <td class="padding-5">
                  Buy DNP QPA
                </td>
                <td class="padding-5">
                  For Costing Consolidated QPA
                </td>
                <td class="padding-5">
                  For Kit-Allocation Consolidated QPA
                </td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in vm.consolidateLineItems">
                <td class="text-right padding-5">
                  <span class="value">
                    {{$index+1}}
                  </span>
                </td>
                <td class="text-center padding-5 text-nowrap">
                  <span class="value">
                    <common-pid-code-label-link component-id="data.partID"
                                                label="vm.LabelConstant.Assembly.PIDCode"
                                                value="data.part"
                                                is-custom-part="true"
                                                cust-part-number="data.assyCustPN"
                                                rohs-icon="vm.rohsImagePath+data.AssyRoHSIcon"
                                                rohs-status="data.AssyRoHSName"
                                                is-copy="true">
                    </common-pid-code-label-link>
                  </span>
                </td>
                <td class="text-center padding-5 text-nowrap">
                  <span class="value">
                    <common-pid-code-label-link component-id="data.partID"
                                                label="vm.LabelConstant.Assembly.MFGPN"
                                                value="data.AssyPN"
                                                is-custom-part="true"
                                                cust-part-number="data.assyCustPN"
                                                rohs-icon="vm.rohsImagePath+data.AssyRoHSIcon"
                                                rohs-status="data.AssyRoHSName"
                                                is-copy="true">
                    </common-pid-code-label-link>
                  </span>
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{data.level}}
                  </span>
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{data.item}}
                  </span>
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{data.qpa?data.qpa:0}}
                  </span>
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{data.RefDesCount?data.RefDesCount:0}}
                  </span>
                </td>
                <td class="text-center padding-5">
                  <span class="value">
                    {{data.isPurchase?"Yes":"No"}}
                  </span>
                </td>
                <td class="text-center padding-5">
                  <span class="value">
                    {{data.isPopulate?"Yes":"No"}}
                  </span>
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{data.DNPQPA?data.DNPQPA:0}}
                  </span>
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{data.DNPRefDesgCount?data.DNPRefDesgCount:0}}
                  </span>
                </td>
                <td class="text-center padding-5">
                  <span class="value">
                    {{data.isBuyDNPQPA}}
                  </span>
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{data.consolidatedQPA}}
                    <!--{{data.qpa>data.consolidateRefDesCount? (data.isBuyDNPQPA?(data.qpa+ data.DNPQPA):(data.qpa)) :(data.isBuyDNPQPA?(data.consolidateRefDesCount+data.DNPQPA):(data.consolidateRefDesCount))}}-->
                  </span>
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{data.allocationConsolidatedQPA}}
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="5" class="padding-5">
                  Total
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{vm.getTotalQPA()}}
                  </span>
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{vm.getTotalrefDes()}}
                  </span>
                </td>
                <td class="text-right padding-5"></td>
                <td class="text-right padding-5"></td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{vm.getTotalDNPQPA()}}
                  </span>
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{vm.getTotaldnprefDes()}}
                  </span>
                </td>
                <td class="text-right padding-5">
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{vm.getTotalCostingConsolidatedQPA()}}
                  </span>
                </td>
                <td class="text-right padding-5">
                  <span class="value">
                    {{vm.getTotalAllocationConsolidatedQPA()}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions class="qpaclassrow">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
  </md-dialog-actions>

</md-dialog>
