<md-dialog aria-label="manage-rfq-lineitem-headers cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.supplierQuoteform" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar ng-class="vm.themeClass">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>Supplier Quote</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel(vm.supplierQuoteform)">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="column">
      <md-content class="md-padding">
        <div class="content cm-standard-list-container">
          <div class="price-tables manage-standard" flex="100" layout="row" layout-wrap ng-if="!vm.isNoDataFound">
            <div layout="row" flex="100" layout-align="end end">
              <md-button class="md-primary md-raised" aria-label="Add Supplier Quote" ng-click="vm.gotoSupplierQuote()">
                Add Supplier Quote
              </md-button>
              <md-button class="md-primary md-raised" aria-label="Refresh Supplier Quote" ng-click="vm.refreshSupplierQuotes()">
                Refresh Supplier Quote
              </md-button>
            </div>
            <div flex="100"  class="cm-section-inner" layout="row">
                <table border="1" width="100%" class="padding-5 opration-table text-center">
                  <tr>
                    <th class="padding-5 text-center">
                      <md-checkbox ng-model="vm.selectAll" name="selectAll"
                                   class="margin-horizontal-10 margin-vertical-0 cm-checkbox" ng-change="vm.changeSelectAll()" flex="5">
                      </md-checkbox>
                    </th>
                    <th class="padding-5">
                      Supplier
                    </th>
                    <th class="padding-5">
                      Supplier Quote#
                    </th>
                    <th class="padding-5">
                      Supplier Quote Date
                    </th>
                    <th class="padding-5">
                      {{vm.LabelConstant.MFG.MFG}}
                    </th>
                    <th class="padding-5">
                      {{vm.LabelConstant.MFG.MFGPN}}
                    </th>
                    <th class="padding-5">
                      {{vm.LabelConstant.MFG.PID}}
                    </th>
                  </tr>
                  <tr ng-repeat="item in vm.supplierQuoteList">
                    <td class="padding-5">
                      <md-checkbox ng-model="item.selected" name="selected"
                                   class="margin-horizontal-10 margin-vertical-0 cm-checkbox" flex="5" ng-change="vm.updateSelectedAllQuote()">
                      </md-checkbox>
                    </td>
                    <td class="padding-5 text-left black-text">{{item.supplierName}}</td>
                    <td class="padding-5 text-left black-text">{{item.quoteNumber}}</td>
                    <td class="padding-5 text-left black-text">{{item.quoteDateValue}}</td>
                    <td class="padding-5 text-left black-text">({{item.mfgCode}}) {{item.mfgName}}</td>
                    <td class="padding-5">
                      <common-pid-code-label-link component-id="item.partID"
                                                  label="vm.LabelConstant.MFG.MFGPN"
                                                  value="item.mfgPN"
                                                  is-copy="true"
                                                  is-custom-part="item.isCustom"
                                                  cust-part-number="item.custAssyPN"
                                                  rohs-icon="vm.rohsImagePath + item.rohsIcon"
                                                  rohs-status="item.rohs"
                                                  is-supplier="false">
                      </common-pid-code-label-link>
                    </td>
                    <td class="padding-5">
                      <common-pid-code-label-link component-id="item.partID"
                                                  label="vm.LabelConstant.MFG.PID"
                                                  value="item.PIDCode"
                                                  is-copy="true"
                                                  is-custom-part="item.isCustom"
                                                  cust-part-number="item.custAssyPN"
                                                  rohs-icon="vm.rohsImagePath + item.rohsIcon"
                                                  rohs-status="item.rohs"
                                                  is-supplier="false">
                      </common-pid-code-label-link>
                    </td>

                  </tr>
                </table>
            </div>
          </div>
          <div class="empty-state text-center full-height" layout="row" layout-align="center center" flex="100" layout-wrap ng-if="vm.isNoDataFound">
            <div class="emty-icon" flex="100">
              <img class="h-150" ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
            </div>
            <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
            <p flex="100">
              {{vm.EmptyMesssage.ADDNEWMESSAGE}}
            </p>
            <p flex="100">
              <md-button class="md-fab md-mini" aria-label="Add Quote Attributes" ng-click="vm.gotoSupplierQuote()">
                <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
                <md-tooltip>Add Supplier Quote</md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Refresh Quote Attributes" ng-click="vm.refreshSupplierQuotes()">
                <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
                <md-tooltip>Refresh Supplier Quote</md-tooltip>
              </md-button>
            </p>
          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel(vm.supplierQuoteform)">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.savePrice(vm.supplierQuoteform)">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
