<div id="forms" class="page-layout simple fullwidth doc-page breadcrumb-fixed" layout="column" cg-busy="{promise:vm.cgBusyLoading}">

    <div class="header md-accent-bg" layout="row" layout-align="space-between center">
        <div class="white-fg" layout="column" layout-align="start start">
            <div class="h2" layout="row" layout-align="start center">               
                <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
            </div>
            <div layout="row" layout-align="start center">
                <breadcrumbs></breadcrumbs>
            </div>
        </div>
        <md-button class="md-primary md-raised md-ink-ripple m-0"
                   aria-label="New Request For Shipment"
                   ng-click="vm.addRecord($event)"
                   ng-hide="vm.isNoDataFound">
            Add new request
        </md-button>
    </div>
    <!-- / CONTENT HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card padding-top-side" layout="column" flex ng-show="!vm.isNoDataFound">
        <div class="padding-10" flex="100">
            <md-card layout="column" class="margin-0" flex layout-align="space-between stretch">
                <ui-grid-extention class="cm-request-for-shipment-grid"
                                   grid-id="vm.gridConfig.gridShippingRequest"
                                   load-data="vm.loadData"
                                   grid-option="vm.gridOptions"
                                   header="vm.sourceHeader"
                                   grid-data="vm.sourceData"
                                   total-data-count="vm.totalSourceDataCount"
                                   reset-grid="vm.resetSourceGrid"
                                   selectted-rows="vm.selectedRowsList"
                                   paging-info="vm.pagingInfo"
                                   current-item="vm.currentdata"
                                   get-data-down="vm.getDataDown"
                                   empty-state="vm.emptyState"
                                   delete-multiple-data="vm.deleteMultipleData">
            </md-card>
        </div>
    </div>    <!-- / CONTENT CARD -->
    <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound == true">
        <div class="emty-icon" flex="100">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
        </div>
        <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
        <p flex="100">
            {{vm.EmptyMesssage.ADDNEWMESSAGE}}
        </p>
        <p flex="100">
            <md-button class="md-fab md-mini" aria-label="New Request For Shipment" ng-click="vm.addRecord($event)">
                <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus">
                    <md-tooltip>Add new</md-tooltip>
                </md-icon>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Refresh Data Fields" ng-click="vm.loadData()">
                <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon">
                    <md-tooltip>Refresh</md-tooltip>
                </md-icon>
            </md-button>
        </p>
    </div>
</div>
<!-- / CENTER -->
<!--</div>-->
