<md-dialog flex="70" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.dcFormatForm">
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>{{vm.dcformatModel.id ? 'Update' : 'Add'}} {{vm.pageName}}</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerData"></popup-header-label>
        <md-button class="md-icon-button margin-0 md-primary md-raised md-mini" id="headerAddBtn" ng-click="vm.saveAndProceed(vm.BUTTON_TYPE.ADDNEW)">
          <md-icon role="img" md-font-icon="t-icons-dc-format add-icon" class="material-icons">
            <md-tooltip>Add {{vm.pageName}}</md-tooltip>
          </md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="column">
      <md-content class="padding-10" layout="column" flex>
        <div layout="row" flex class="md-padding" layout-md="column" layout-sm="column">
          <div flex="45" layout="column" class="cm-section-main mr-5 border-black">
            <div class="cm-section-inner">
              <table class="cm-table-input-main">
                <tr>
                  <td colspan="4">
                    <p class="label-container">Select values to generate the date code format</p>
                  </td>
                </tr>
                <tr>
                  <td class="padding-5">
                    <md-input-container flex="100" class="margin-bottom-0">
                      <md-select name="option1" id="option1" ng-disabled="vm.dcformatModel.id" ng-model="vm.dcformatModel.option1" class="margin-0" ng-change="vm.generateDateCodeFormat('option1')" md-container-class="containerClass cm-md-select">
                        <md-option ng-repeat="option in vm.DateCodeFormatList" ng-value="option.id">{{option.value}}</md-option>
                      </md-select>
                    </md-input-container>
                  </td>
                  <td class="padding-5">
                    <md-input-container flex="100" class="margin-bottom-0">
                      <md-select name="option2" id="option2" ng-disabled="vm.dcformatModel.id" ng-model="vm.dcformatModel.option2" class="margin-0" ng-change="vm.generateDateCodeFormat('option2')" md-container-class="containerClass cm-md-select">
                        <md-option ng-repeat="option in vm.DateCodeFormatList" ng-value="option.id">{{option.value}}</md-option>
                      </md-select>
                    </md-input-container>
                  </td>
                  <td class="padding-5">
                    <md-input-container flex="100" class="margin-bottom-0">
                      <md-select name="option3" id="option3" ng-disabled="vm.dcformatModel.id" ng-model="vm.dcformatModel.option3" class="margin-0" ng-change="vm.generateDateCodeFormat('option3')" md-container-class="containerClass cm-md-select">
                        <md-option ng-repeat="option in vm.DateCodeFormatList" ng-value="option.id">{{option.value}}</md-option>
                      </md-select>
                    </md-input-container>
                  </td>
                  <td class="padding-5">
                    <md-input-container flex="100" class="margin-bottom-0">
                      <md-select name="option4" id="option4" ng-disabled="vm.dcformatModel.id" ng-model="vm.dcformatModel.option4" class="margin-0" ng-change="vm.generateDateCodeFormat('option4')" md-container-class="containerClass cm-md-select">
                        <md-option ng-repeat="option in vm.DateCodeFormatList" ng-value="option.id">{{option.value}}</md-option>
                      </md-select>
                    </md-input-container>
                  </td>
                </tr>
              </table>
              <table class="cm-table-input-main">
                <tr>
                  <th><p class="label-container">Generated date code format</p></th>
                  <td class="padding-top-4">
                    <span ng-if="vm.dcformatModel.dateCodeFormat" class="label-box label-warning input-text-uppercase"><b>{{vm.dcformatModel.dateCodeFormat}}</b></span>
                  </td>
                </tr>
                <tr>
                  <th class="padding-top-8-imp"><p class="label-container">Description</p></th>
                  <td>
                    <md-input-container class="md-block mv-0 width-100p" md-no-float>
                      <textarea type="text" id="description" ng-maxlength="2000" md-maxlength="2000" rows="{{vm.textAreaRows.ROWS}}" max-rows="{{vm.textAreaRows.MAX_ROWS}}"
                                name="description" ng-model="vm.dcformatModel.description" data-focusButton="saveBtn" last-element elementcondition="true"></textarea>
                      <div ng-messages="vm.dcFormatForm.description.$error" role="alert">
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(2000, vm.dcFormatForm.description.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div flex flex-gt-xs="100" layout="row" class="cm-section-main border-black">
            <div class="cm-section-inner" flex layout="row">
              <date-code-format-list is-list-page="false"></date-code-format-list>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.saveDCFormat(vm.BUTTON_TYPE.SAVE)" id="saveBtn" aria-label="Submit" ng-class="{'md-formdirty': vm.checkFormDirty(vm.dcFormatForm)}" ng-disabled="vm.saveBtnDisableFlag">Save</md-button>
      <md-button class="md-primary md-raised" data-focusButton="headerAddBtn" last-element elementcondition="true" ng-click="vm.saveDCFormat(vm.BUTTON_TYPE.SAVEANDEXIT);" aria-label="Submit" ng-class="{'md-formdirty': vm.checkFormDirty(vm.dcFormatForm)}" ng-disabled="vm.saveBtnDisableFlag">{{vm.CORE_MESSAGE_CONSTANT.SAVE_AND_EXIT}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
