<md-dialog aria-label="Copy-Part-Detail" flex="70" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.CopyPartDetailForm" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>Copy Part Details</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="column">
      <md-content class="custom-scroll padding-10">
        <div class="cm-section-main border-0 margin-bottom-5" ng-if="true">
          <div class="cm-section-inner">
            <div flex="100" layout="row" layout-wrap>
              <div class="part-mfg-detail" layout="row" layout-wrap flex="100" flex-lg="100">
                <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                  <tbody>
                    <tr>
                      <th>
                        <p class="label-container">
                          To {{vm.LabelConstant.MFG.PID}}<span>&nbsp;*</span>
                        </p>
                      </th>
                      <td>
                        <md-input-container ng-if="vm.autoCompleteFromPart" flex="45" class="autocompletecustom margin-0 margin-bottom-0" md-no-float>
                          <custom-auto-complete-search on-search-fn="vm.autoCompleteFromPart.onSearchFn" custom-auto-focus="true"
                                                       column-name="vm.autoCompleteFromPart.columnName"
                                                       key-column-name="vm.autoCompleteFromPart.keyColumnName"
                                                       controller-name="vm.autoCompleteFromPart.controllerName"
                                                       view-template-url="vm.autoCompleteFromPart.viewTemplateURL"
                                                       input-name="vm.autoCompleteFromPart.inputName"
                                                       placeholder-name="vm.autoCompleteFromPart.placeholderName"
                                                       key-column-id="vm.autoCompleteFromPart.keyColumnId"
                                                       is-required="vm.autoCompleteFromPart.isRequired"
                                                       is-addnew="vm.autoCompleteFromPart.isAddnew"
                                                       add-data="vm.autoCompleteFromPart.addData"
                                                       callback-fn="vm.autoCompleteFromPart.callbackFn"
                                                       on-select-callback-fn="vm.autoCompleteFromPart.onSelectCallbackFn">
                          </custom-auto-complete-search>
                        </md-input-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="part-mfg-detail padding-left-5" layout="column" layout-wrap flex="100" flex-lg="100">
                <div class="cm-section-main">
                  <div class="cm-normal-header" flex="100">
                    <h2>Select Details To Copy</h2>
                    <div layout="row" class="cm-header-button">
                      <md-checkbox class="cm-assbly-tab-btn margin-right-5" ng-change="vm.changeSelectAll()" ng-model="vm.selectAll" name="DetailOption">
                        Select All
                      </md-checkbox>
                    </div>
                  </div>
                  <div class="cm-section-inner" layout="row">
                    <div flex="25" layout="column" class="pr-5">
                      <div class="cm-section-main" flex>
                        <div class="cm-normal-header" flex="100">
                          <div layout="row" class="cm-header-button pl-3">
                            <md-checkbox class="cm-assbly-tab-btn margin-right-5" id="selectAllOption" ng-change="vm.selectBySection(1, vm.selectFirstSection)" ng-model="vm.selectFirstSection">
                              Select All
                            </md-checkbox>
                          </div>
                        </div>
                        <div class="cm-section-inner">
                          <div layout="column">
                            <div layout="row" ng-repeat="item in vm.CopyOption | filter: { Section : 1}">
                              <p class="label-container">
                                <md-checkbox class="margin-0" ng-change="vm.selectChange()" ng-model="item.isChecked" ng-disabled="item.isDisabled" name="DetailOption_{{$index}}">
                                  {{item.Name}}
                                </md-checkbox>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div flex="25" layout="column" class="pr-5" ng-if="(vm.CopyOption |filter: { Section: 2 } ).length !== 0">
                      <div class="cm-section-main" flex>
                        <div class="cm-normal-header" flex="100">
                          <div layout="row" class="cm-header-button pl-3">
                            <md-checkbox class="cm-assbly-tab-btn margin-right-5" id="selectAllOption" ng-change="vm.selectBySection(2, vm.selectSecondSection)" ng-model="vm.selectSecondSection">
                              Select All
                            </md-checkbox>
                          </div>
                        </div>
                        <div class="cm-section-inner">
                          <div layout="column" flex="100">
                            <div layout="row" ng-repeat="item in vm.CopyOption | filter: { Section : 2}">
                              <p class="label-container">
                                <md-checkbox class="margin-0" ng-change="vm.selectChange()" ng-model="item.isChecked" ng-disabled="item.isDisabled" name="DetailOption_{{$index}}">
                                  {{item.Name}}
                                </md-checkbox>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div flex="25" layout="column" class="pr-5">
                      <div class="cm-section-main" flex>
                        <div class="cm-normal-header" flex="100">
                          <div layout="row" class="cm-header-button pl-3">
                            <md-checkbox class="cm-assbly-tab-btn margin-right-5" id="selectAllOption" ng-change="vm.selectBySection(3, vm.selectThirdSection)" ng-model="vm.selectThirdSection">
                              Select All
                            </md-checkbox>
                          </div>
                        </div>
                        <div class="cm-section-inner">
                          <div layout="column" flex="100">
                            <div layout="column" flex="20">
                              <div layout="row" flex="20" ng-repeat="item in vm.CopyOption | filter: { Section : 3}">
                                <p class="label-container">
                                  <md-checkbox class="margin-0" ng-change="vm.selectChange()" ng-model="item.isChecked" ng-disabled="item.isDisabled" name="DetailOption_{{$index}}">
                                    {{item.Name}}
                                  </md-checkbox>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div flex="25" layout="column" class="pr-5">
                      <div class="cm-section-main" flex>
                        <div class="cm-normal-header" flex="100">
                          <div layout="row" class="cm-header-button pl-3">
                            <md-checkbox class="cm-assbly-tab-btn margin-right-5" id="selectAllOption" ng-change="vm.selectBySection(4, vm.selectFourthSection)" ng-model="vm.selectFourthSection">
                              Select All
                            </md-checkbox>
                          </div>
                        </div>
                        <div class="cm-section-inner">
                          <div layout="column" flex="100">
                            <div layout="column" flex="20">
                              <div layout="row" flex="20" ng-repeat="item in vm.CopyOption | filter: { Section : 4}">
                                <p class="label-container">
                                  <md-checkbox class="margin-0" ng-change="vm.selectChange()" ng-model="item.isChecked" ng-disabled="item.isDisabled" name="DetailOption_{{$index}}">
                                    {{item.Name}}
                                  </md-checkbox>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-state text-center full-height" flex="100" layout="row" ng-if="false" layout-align="center center">
          <h1>Coming soon...</h1>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.CopyAssyDetail()" aria-label="Submit">Copy</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
