<md-dialog aria-label="Print Label" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="{{vm.pageName === vm.transaction.TRANSACTION_RECEIVINGMATERIAL_LABEL && !vm.printSingleRecord ? 95 : 45}}">
  <form name="vm.PrintLabel" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Print Label</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="column">
      <md-content class="padding-10 mh-5">
        <div layout="row" flex="{{vm.pageName === vm.transaction.TRANSACTION_RECEIVINGMATERIAL_LABEL && !vm.printSingleRecord ? 40 : 100}}" layout-wrap>
          <div flex="100" layout="row" layout-wrap ng-if="vm.pageName === vm.transaction.TRANSACTION_RECEIVINGMATERIAL_LABEL && vm.printSingleRecord">
            <div layout="row" flex="100">
              <div flex="100" layout="row" class="input-wrapper">
                <!--margin-right-5-->
                <p class="label-container" flex="20">
                  <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToUMIDList();">UMID</a>
                </p>
                <md-input-container class="autocompletecustom margin-bottom-0" flex="100" flex-gt-xs="100" ng-if="vm.autoCompleteUID && vm.ismenu">
                  <custom-auto-complete datalist="vm.uidDetail"
                                        column-name="vm.autoCompleteUID.columnName"
                                        key-column-name="vm.autoCompleteUID.keyColumnName"
                                        input-name="vm.autoCompleteUID.inputName"
                                        placeholder-name="vm.autoCompleteUID.placeholderName"
                                        key-column-id="vm.autoCompleteUID.keyColumnId"
                                        is-required="vm.autoCompleteUID.isRequired"
                                        is-addnew="vm.autoCompleteUID.isAddnew"
                                        is-disabled="vm.autoCompleteUID.keyColumnId">
                  </custom-auto-complete>
                </md-input-container>

                <md-input-container class="margin-bottom-0 md-block" flex="100" flex-gt-xs="100" ng-if="!vm.ismenu">
                  <input type="text" name="uid" ng-model="vm.printlabel.uid" ng-disabled="true"
                         placeholder="UID" capitalize class="input-text-uppercase">
                </md-input-container>

              </div>

            </div>
          </div>

          <div flex="100" layout="row" layout-wrap ng-if="vm.pageName === vm.transaction.TRANSACTION_WAREHOUSE_LABEL && vm.printSingleRecord">
            <div layout="row" flex="100">
              <div flex="100" layout="row" class="input-wrapper">
                <!--margin-right-5-->
                <p class="label-container" flex="20">
                  <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToWarehouseList();">Warehouse</a>
                </p>
                <md-input-container class="margin-bottom-0 md-block" flex="100" flex-gt-xs="100">
                  <input type="text" name="warehouse" ng-model="vm.printlabel.warehouse" ng-disabled="true"
                         placeholder="Warehouse" capitalize class="input-text-uppercase">
                </md-input-container>

              </div>

            </div>
          </div>

          <div flex="100" layout="row" layout-wrap ng-if="vm.pageName === vm.transaction.TRANSACTION_BIN_LABEL && vm.printSingleRecord">
            <div layout="row" flex="100">
              <div flex="100" layout="row" class="input-wrapper">
                <!--margin-right-5-->
                <p class="label-container" flex="20">
                  <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToBinList();">Bin</a>
                </p>
                <md-input-container class="margin-bottom-0 md-block" flex="100" flex-gt-xs="100">
                  <input type="text" name="bin" ng-model="vm.printlabel.bin" ng-disabled="true"
                         placeholder="Bin" capitalize class="input-text-uppercase">
                </md-input-container>

              </div>

            </div>
          </div>

          <div flex="100" layout="row" layout-wrap ng-if="vm.pageName === vm.transaction.TRANSACTION_RACK_LABEL && vm.printSingleRecord">
            <div layout="row" flex="100">
              <div flex="100" layout="row" class="input-wrapper">
                <!--margin-right-5-->
                <p class="label-container" flex="20">
                  <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToRackList();">Rack</a>
                </p>
                <md-input-container class="margin-bottom-0 md-block" flex="100" flex-gt-xs="100">
                  <input type="text" name="bin" ng-model="vm.printlabel.rack" ng-disabled="true"
                         placeholder="Bin" capitalize class="input-text-uppercase">
                </md-input-container>

              </div>

            </div>
          </div>

          <div flex="100" layout="row" layout-wrap ng-if="vm.pageName === vm.workorder.WORKORDER_SERIAL_NUMBER_LABEL && vm.printSingleRecord">
            <div layout="row" flex="100">
              <div flex="100" layout="row" class="input-wrapper">
                <!--margin-right-5-->
                <p class="label-container" flex="20">
                  <a tabindex="-1" class="cm-text-decoration underline">Serial#</a>
                </p>
                <md-input-container class="margin-bottom-0 md-block" flex="100" flex-gt-xs="100">
                  <input type="text" name="bin" ng-model="vm.printlabel.SerialNo" ng-disabled="true"
                         placeholder="Serial No" capitalize class="input-text-uppercase">
                </md-input-container>

              </div>

            </div>
          </div>

          <div flex="100" layout="row" layout-wrap>
            <div layout="row" flex="100">
              <div flex="100" layout="row" class="input-wrapper">
                <p class="margin-top-0 margin-bottom-0 label-container layout-align-end-start" layout-align="start start" layout="row" flex="20">
                  Number of Labels
                  <span>&nbsp;*</span>
                </p>
                <md-input-container class="margin-bottom-0 md-block" flex="100" flex-gt-xs="100">
                  <input type="number" name="noprint" ng-model="vm.printlabel.noprint"
                         placeholder="No of print" min="1" required md-autofocus maxlength="3">
                  <div ng-messages="vm.PrintLabel.noprint.$error"
                       role="alert">
                    <div ng-message="required">
                      <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                    </div>
                    <div ng-message="min">
                      <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                    </div>
                    <div ng-message="maxlength">
                      <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                    </div>
                  </div>
                </md-input-container>
              </div>

            </div>
          </div>

          <div flex="100" layout="row" layout-wrap>
            <div layout="row" flex="100">

              <div flex="100" layout="row" class="input-wrapper">
                <p class="label-container" flex="20">
                  <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToPrinterList();">{{vm.autoCompletePrinter.placeholderName}}</a>
                  <span>&nbsp;*</span>
                </p>
                <md-input-container ng-if="vm.autoCompletePrinter" class="autocompletecustom margin-bottom-0" flex="100">
                  <custom-auto-complete datalist="vm.PrinterList"
                                        column-name="vm.autoCompletePrinter.columnName"
                                        controller-name="vm.autoCompletePrinter.controllerName"
                                        view-template-url="vm.autoCompletePrinter.viewTemplateURL"
                                        key-column-name="vm.autoCompletePrinter.keyColumnName"
                                        input-name="vm.autoCompletePrinter.inputName"
                                        input-id="vm.autoCompletePrinter.inputId"
                                        placeholder-name="vm.autoCompletePrinter.placeholderName"
                                        key-column-id="vm.autoCompletePrinter.keyColumnId"
                                        is-required="vm.autoCompletePrinter.isRequired"
                                        is-addnew="vm.autoCompletePrinter.isAddnew"
                                        callback-fn="vm.autoCompletePrinter.callbackFn"
                                        add-data="vm.autoCompletePrinter.addData"
                                        on-select-callback-fn="vm.autoCompletePrinter.onSelectCallbackFn">
                  </custom-auto-complete>
                  <span flex="100" class="font-size-12">
                    <b>{{vm.CORE_MESSAGE_CONSTANT.NOTE_NETWORK_PRINTER}}</b>
                  </span>
                </md-input-container>
              </div>

            </div>
          </div>

          <div flex="100" layout="row" layout-wrap>
            <div layout="row" flex="100">

              <div flex="100" layout="row" class="input-wrapper">
                <p class="label-container" flex="20">
                  <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToPrinterLabelList();">{{vm.autoCompleteLabelTemplate.placeholderName}}</a>
                  <span>&nbsp;*</span>
                </p>
                <md-input-container ng-if="vm.autoCompleteLabelTemplate" class="autocompletecustom" flex="100">
                  <custom-auto-complete datalist="vm.LabelTemplateList"
                                        column-name="vm.autoCompleteLabelTemplate.columnName"
                                        controller-name="vm.autoCompleteLabelTemplate.controllerName"
                                        view-template-url="vm.autoCompleteLabelTemplate.viewTemplateURL"
                                        key-column-name="vm.autoCompleteLabelTemplate.keyColumnName"
                                        input-name="vm.autoCompleteLabelTemplate.inputName"
                                        placeholder-name="vm.autoCompleteLabelTemplate.placeholderName"
                                        key-column-id="vm.autoCompleteLabelTemplate.keyColumnId"
                                        is-required="vm.autoCompleteLabelTemplate.isRequired"
                                        add-data="vm.autoCompleteLabelTemplate.addData"
                                        callback-fn="vm.autoCompleteLabelTemplate.callbackFn"
                                        on-select-callback-fn="vm.autoCompleteLabelTemplate.onSelectCallbackFn">
                  </custom-auto-complete>
                  <span flex="100" class="font-size-12">
                    <b>{{vm.CORE_MESSAGE_CONSTANT.NOTE_VERIFY_PRINTFORMAT}}</b>
                  </span>
                </md-input-container>
              </div>

            </div>
          </div>
        </div>
        <!-- UMID LIST SECTION -->
        <div flex layout="column" class="margin-top-5 margin-left-0 m-8" ng-if="vm.renderUMIDList && vm.renderUMIDList.length > 0">
          <generated-umid-list list="vm.renderUMIDList" is-show-print-label="false"></generated-umid-list>
        </div>
        <!-- / UMID LIST SECTION -->
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.printBarcodeLabel('Print')" aria-label="Submit">Print Label</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
