<md-dialog aria-label="NarrativeDetails" flex="40" flex-lg="50" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.NarrativeHistoryForm" novalidate>
        <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2>{{vm.history.id ? "Update":"Add"}} R&D Narrative</h2>
                <span flex></span>
                <popup-header-label label-data="vm.headerdata"></popup-header-label>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding">
            <md-content class="md-padding">
                <div layout="row" layout-wrap class="cm-section-main border-0" flex="100">
                    <div class="cm-section-inner cm-section-inner-popup" flex="100">
                        <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                            <tbody>
                                <tr ng-if="vm.autoCompleteWO">
                                    <th>
                                        <p class="label-container">
                                            <a tabindex="-1" class="cm-text-decoration" ng-click="vm.goToWorkorderList();">{{vm.allLabelConstant.Workorder.WO}}</a>
                                            <span>&nbsp;*</span>
                                        </p>
                                    </th>
                                    <td>
                                        <md-input-container class="autocompletecustom margin-0" flex="100" custom-auto-focus="true">
                                            <custom-auto-complete datalist="vm.woList"
                                                column-name="vm.autoCompleteWO.columnName"
                                                key-column-name="vm.autoCompleteWO.keyColumnName"
                                                input-name="vm.autoCompleteWO.inputName"
                                                placeholder-name="vm.autoCompleteWO.placeholderName"
                                                key-column-id="vm.autoCompleteWO.keyColumnId"
                                                is-required="vm.autoCompleteWO.isRequired"
                                                is-disabled="vm.autoCompleteWO.isDisabled"
                                                is-addnew="vm.autoCompleteWO.isAddnew"
                                                callback-fn="vm.autoCompleteWO.callbackFn"
                                                on-select-callback-fn="vm.autoCompleteWO.onSelectCallbackFn">
                                            </custom-auto-complete>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="label-container">
                                            <a tabindex="-1" class="cm-text-decoration" ng-click="vm.goToOperationList();">{{vm.allLabelConstant.Operation.OP}}</a>
                                            <span>&nbsp;*</span>
                                        </p>
                                    </th>
                                    <td>
                                        <md-input-container class="autocompletecustom margin-bottom-0" flex="100" ng-if="vm.autoCompleteWorkorderOperation">
                                            <custom-auto-complete class="min-width-initial" datalist="vm.WorkorderOperationList"
                                                column-name="vm.autoCompleteWorkorderOperation.columnName"
                                                key-column-name="vm.autoCompleteWorkorderOperation.keyColumnName"
                                                key-column-id="vm.autoCompleteWorkorderOperation.keyColumnId"
                                                input-name="vm.autoCompleteWorkorderOperation.inputName"
                                                placeholder-name="vm.autoCompleteWorkorderOperation.placeholderName"
                                                is-required="vm.autoCompleteWorkorderOperation.isRequired"
                                                is-addnew="vm.autoCompleteWorkorderOperation.isAddnew"
                                                is-disabled="vm.autoCompleteWorkorderOperation.isDisabled"
                                                callback-fn="vm.autoCompleteWorkorderOperation.callbackFn"
                                                on-select-callback-fn="vm.autoCompleteWorkorderOperation.onSelectCallbackFn">
                                            </custom-auto-complete>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <th><p class="label-container">Narrative<span>&nbsp;*</span></p></th>
                                    <td>
                                        <md-input-container flex="100">
                                            <div flex="100" layout="row" layout-align="space-between start">
                                                <div flex="95">
                                                    <div layout="column" flex="100" flex-xs="100">
                                                        <span class="margin-bottom-10" ng-if="vm.NarrativeHistoryForm.narrativeDescription.$error.taMaxText"
                                                            style="color:red; font-size:12px">{{vm.getDescrLengthValidation(vm.taToolbar.MAX_LENGTH, vm.NarrativeHistoryForm.narrativeDescription.$viewValue)}}</span>
                                                    </div>
                                                    <text-angular class="RFQ-info-text-area text-angular-editor-scroll" ta-toolbar="vm.taToolbar.INLINE" cg-busy-loading="vm.cgBusyLoading" ng-class="{'text-angular-custom-border':vm.NarrativeHistoryForm.narrativeDescription.$error.taMaxText}" ng-model="vm.history.narrativeDescription"
                                                        name="narrativeDescription"
                                                        ng-required="true"
                                                        ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"></text-angular>
                                                </div>
                                                <div flex="5" class="cm-rfq-textarea-button">
                                                    <md-icon aria-label="Show Narrative Templates" ng-click="vm.OpenNarrativeTemplateList($event, vm.NarrativeHistoryForm);"
                                                        md-font-icon="icon-clipboard-text"></md-icon>
                                                    <md-tooltip>Select Narrative Template</md-tooltip>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <th><p class="label-container">Time (HH:mm)<span>&nbsp;*</span></p></th>
                                    <td>
                                        <md-input-container md-no-float class="width-150">
                                            <input type="text" name="totalTimeConsumeDisplay" ng-model="vm.history.totalTimeConsumeDisplay" placeholder="HH:mm" class="text-right" ng-pattern="vm.OperationTimePattern" mask="{{vm.OperationTimeMask}}" 
                                                validate="false" required>
                                            <div ng-messages="vm.NarrativeHistoryForm.totalTimeConsumeDisplay.$error">
                                                <div ng-message="required">
                                                    <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                                </div>
                                                <div ng-message="pattern">
                                                    <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised"  ng-disabled="vm.saveDisable"
                       ng-class="{'md-formdirty': vm.checkFormDirty(vm.NarrativeHistoryForm)}"
                       ng-click="vm.save();" aria-label="Submit">Save</md-button>
            <!--ng-disabled="vm.NarrativeHistoryForm.$invalid || !vm.checkFormDirty(vm.NarrativeHistoryForm) && !vm.isChange"-->
        </md-dialog-actions>
    </form>
</md-dialog>
