
<md-dialog aria-label="Serial# Status Details" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <!--flex="90"-->

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        Operation Status of Serial# Details
      </h2>
      <span flex></span>
      <popup-header-label label-data="vm.headerdata"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding custom-scroll mh-5" layout="column">
    <md-content class="padding-10">
      <div layout="row" flex="100">
        <p class="font-weight-600"><b>Note: </b>{{vm.NOT_PROCESS_SERIAL_NO_MESSAGE.message}}</p>
      </div>
      <div flex="100" layout="row" class="padding-top-10" ng-if="vm.serialNoList.length > 0" layout-wrap>
        <div flex="100" layout="row" layout-wrap>
          <div class="cm-section-main" flex="100">
            <div class="cm-section-inner">
              <table border="1" width="100%" class="padding-5 opration-table text-center">
                <tr>
                  <td class="text-left padding-5">
                    #
                  </td>
                  <td class="text-left padding-5">
                    Serial#
                  </td>
                  <td class="text-left padding-5">
                    {{ vm.CORE.LabelConstant.Operation.OP }}
                  </td>
                  <td class="text-left padding-5">
                    Status
                  </td>
                </tr>
                <tr ng-repeat="serial in vm.serialNoList">
                  <td class="text-right padding-5">
                    <span class="value">
                      {{$index+1}}
                    </span>
                  </td>
                  <td class="text-left padding-5">
                    <span class="value">
                      {{serial.serialNo}}
                    </span>
                  </td>
                  <td class="text-left padding-5">
                    <span class="value">
                      {{serial.operationName}}
                    </span>
                  </td>
                  <td class="text-left padding-5">
                    <span class="value">
                      {{serial.prodstatus}}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
  </md-dialog-actions>
</md-dialog>
