<md-dialog flex="35" draggable class="cm-custom-label-common">
  <form name="vm.confirmationPopUpForm" id="confirmationPopUpForm" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.popUpDetailData.popUpHeaderName}}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll width-auto">
      <md-content class="padding-0-10-imp mh-5" layout="column" layout-gt-xs="column">
        <div flex="80" layout="row" class="padding-top-10" ng-if="vm.popUpDetailData && vm.popUpDetailData.displayMessage">
          <p ng-bind-html="vm.popUpDetailData.displayMessage"></p>
        </div>
        <div class="cm-section-main border-0" flex="100">
          <div class="cm-section-inner ph-0-imp">
            <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
              <tbody>

                <tr>
                  <th>
                    <p class="label-container">User ID<span>&nbsp;*</span></p>
                  </th>
                  <td>
                    <md-input-container class="md-block" flex="100">
                      <input type="text" name="username" ng-model="vm.popUpConfirmationDetailModel.username" required ng-maxlength="50" placeholder="User ID" md-autofocus>
                      <div ng-messages="vm.confirmationPopUpForm.username.$error" role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(50,vm.confirmationPopUpForm.username.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                  <th>
                    <p class="label-container">Password<span>&nbsp;*</span></p>
                  </th>
                  <td class="cm-employee-manage-password">
                    <md-input-container class="md-block pos-rel cm-show-hide" flex="100">
                      <input type="{{vm.showPassword ? 'text' : 'password'}}" name="password" ng-model="vm.popUpConfirmationDetailModel.password" required ng-maxlength="50" placeholder="Password" md-autofocus ng-keypress="vm.showPassword=false">
                      <md-button tabindex="-1" ng-if="vm.confirmationPopUpForm.password.$viewValue && vm.showPassword" md-font-icon="icon-eye-off" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple cm-show-hide-in" ng-click="vm.showPassword = !vm.showPassword"><a>Hide</a></md-button>
                      <md-button tabindex="-1" ng-if="vm.confirmationPopUpForm.password.$viewValue && !vm.showPassword" md-font-icon="icon-eye" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple cm-show-hide-in" ng-click="vm.showPassword = !vm.showPassword"><a>Show</a></md-button>
                      <div ng-messages="vm.confirmationPopUpForm.password.$error" role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(50,vm.confirmationPopUpForm.password.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                </tr>

                <tr>
                  <th>
                    <p class="label-container">Reason<span>&nbsp;*</span></p>
                  </th>
                  <td colspan="3">
                    <md-input-container class="md-block" flex="100">
                      <textarea name="reason" ng-model="vm.popUpConfirmationDetailModel.reason" required ng-maxlength="{{vm.popUpDetailData.reasonTextBoxLength}}" placeholder="Reason" md-autofocus></textarea>
                      <div ng-messages="vm.confirmationPopUpForm.reason.$error" role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(vm.popUpDetailData.reasonTextBoxLength,vm.confirmationPopUpForm.reason.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">{{vm.popUpDetailData.CancelButton}}</md-button>
      <md-button class="md-primary md-raised" ng-class="{'md-formdirty': vm.confirmationPopUpForm.$dirty}" ng-click="vm.takeConfirmation()">{{vm.popUpDetailData.ConfirmButton}}</md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
