<md-dialog aria-label="AddMeasurementTypes" class="popup-large-custom" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.archieveForm" class="md-inline-form" novalidate>
    <md-button type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Archived Versions</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="customer-modal no-padding" layout="column">
      <md-content class="padding-10">
        <archieve-version-list agreement-id="vm.data.agreementTypeID" is-template-view="vm.isTemplateView" is-view-signature="vm.isViewSignature"
                               user-id="vm.data.userID" template-type="vm.templateType" page-name="vm.data.pageName"></archieve-version-list>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
