
<md-dialog aria-label="Unit Calculation Sample Data" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" flex="90" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        Unit Calculation Sample Data
      </h2>
      <span flex></span>
      <div layout="row" layout-align="center center">
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
      </div>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding custom-scroll mh-5" layout="column">
    <md-content class="padding-10" layout="column">
      <md-table-container layout="row" class="cm-scroll-table " flex="100" ng-if="vm.sampleData.length > 0">
        <table md-table class="md-data-table table-row-select width-auto cm-overflow-auto">
          <thead md-head>
            <tr md-row>
              <th md-column="$index" width="50">
                #
              </th>
              <th md-column width="250">
                {{vm.LabelConstant.MFG.MFG}}
              </th>
              <th md-column width="250">
                {{vm.LabelConstant.MFG.MFGPN}}
              </th>
              <th md-column width="50">
                Unit
              </th>
              <th md-column width="80">
                UOM
              </th>
              <th md-column width="100">
                Min
              </th>
              <th md-column width="100">
                Mult
              </th>
              <th md-column width="120">
                SPQ
              </th>
              <th md-column width="250">
                1 Count = (1 * Unit)(UOM)
              </th>
              <th md-column width="250">
                SPQ = (SPQ * Unit) Units (UOM)
              </th>
              <th md-column width="250">
                SPQ = ? Count
              </th>
              <th md-column width="250">
                Part# = ? gram
              </th>
            </tr>
          </thead>
          <tbody md-body class="cm-display-table">
            <tr md-row ng-repeat="unitData in vm.sampleData track by $index">
              <td md-cell width="50">{{$index+1}}</td>
              <td md-cell width="250">
                {{unitData['MFG']}}
              </td>
              <td md-cell width="250">
                {{unitData['MFG PN']}}
              </td>
              <td md-cell width="50">
                {{unitData['Unit']}}
              </td>
              <td md-cell width="80">
                {{unitData['UOM']}}
              </td>
              <td md-cell width="100">
                {{unitData['Min']}}
              </td>
              <td md-cell width="100">
                {{unitData['Mult']}}
              </td>
              <td md-cell width="120">
                {{unitData['SPQ']}}
              </td>
              <td md-cell width="250">
                {{unitData['1 Count = (1 * Unit)(UOM)']}}
              </td>
              <td md-cell width="250">
                {{unitData['SPQ = (SPQ * Unit) Units (UOM)']}}
              </td>
              <td md-cell width="250">
                {{unitData['SPQ = ? Count']}}
              </td>
              <td md-cell width="250">
                {{unitData['Part# = ? gram']}}
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <div layout="row" flex="100" ng-if="vm.waterSolubleWOOperationList.length > 0 && (!vm.isNoCleanAndWaterSolubleBothChecked)">
        <p class="font-weight-600"><b>Note:</b>{{vm.MessageOnRestrictWaterSolubleChecked}}</p>
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
  </md-dialog-actions>
</md-dialog>
