<div class="content-card cm-custom-label-common md-inline-form" layout="column" flex cg-busy="{promise:vm.cgBusyLoading}">
  <div class="padding-10" flex="100">
    <div flex="100" class="pb-5">
      <form name="vm.filtersInfo">
        <div class="advanced-filters" flex layout-md="column" layout-sm="column">
          <div>
            <div layout>
              <div layout="column" class="padding-right-5 umid-advance-filter" flex="20" flex-md="100" flex-sm="100">
                <div layout="column" class="alias-list-main" flex>
                  <div class="title alias-list-title" layout="row" flex="100" layout-align="space-between center">
                    <span class="label-container width-auto">
                      <a class="cm-text-decoration underline" ng-click="vm.goToSupplierList();"
                         tabindex="-1">
                        {{vm.SupplierInvoicePaymentAdvanceFilters.Supplier.value}}
                      </a>
                    </span>
                    <div layout="row" layout-align="center center" flex="100" class="cm-part-mfr-list-search">
                      <md-input-container md-no-float flex="100" layout="row" class="margin-0 pos-rel">
                        <input type="text" name="supplierSearchText" id="supplierSearchText" ng-model="vm.supplierSearchText"
                               placeholder="Type here to search"
                               ng-maxlength="50" autocomplete="off"
                               ng-model-options="{ debounce: vm.configTimeout }"
                               ng-change="vm.searchSupplierList()">
                        <md-button ng-if="vm.supplierSearchText" class="md-icon-button height-20 width-20 line-height-20 cm-part-filter-clear-btn margin-top-3"
                                   ng-click="vm.clearSupplierSearchText()">
                          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close font-size-12 color-white"></md-icon>
                        </md-button>
                      </md-input-container>
                    </div>
                    <div layout="row" layout-align="center center">
                      <a class="cm-text-decoration underline"
                         ng-click="vm.clearSupplierFilter();"
                         tabindex="-1"
                         ng-if="vm.filter.supplier.length">
                        Clear
                      </a>
                      <md-button ng-click="vm.getSupplier();" class="md-primary md-link-ripple cm-part-advance-filter-btn">
                        <md-icon md-font-icon="icon-reload">
                          <md-tooltip>Reload</md-tooltip>
                        </md-icon>
                      </md-button>
                    </div>
                  </div>
                  <select ng-model="vm.filter.supplier" size="10" multiple="" class="cm-auto-scroll" ng-if="vm.supplierListToDisplay && vm.supplierListToDisplay.length">
                    <option ng-repeat="x in vm.supplierListToDisplay" value="{{x.id}}">{{x.mfgCodeName}}</option>
                  </select>
                  <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap
                       ng-if="(!vm.supplierListToDisplay || vm.supplierListToDisplay.length == 0) && vm.supplierSearchText">
                    <p flex="100" class="empty-state-title font-size-17-imp">{{vm.EmptyFilterMesssage.MESSAGE}}</p>
                  </div>
                </div>
              </div>

              <div layout="column" class="padding-right-5 umid-advance-filter" flex="15" flex-md="100">
                <div layout="column" class="alias-list-main" flex>
                  <div class="title alias-list-title" layout="row" flex="100" layout-align="space-between center">
                    <span class="label-container width-auto">
                      <a class="cm-text-decoration underline" ng-click="vm.goToPaymentMethod();"
                         tabindex="-1">
                        {{vm.SupplierInvoicePaymentAdvanceFilters.PaymentMethod.value}}
                      </a>
                    </span>
                    <div layout="row" layout-align="center center" flex="100" class="cm-part-mfr-list-search">
                      <md-input-container md-no-float flex="100" layout="row" class="margin-0 pos-rel">
                        <input type="text" name="paymentMethodSearchText" id="paymentMethodSearchText" ng-model="vm.paymentMethodSearchText"
                               placeholder="Type here to search"
                               ng-maxlength="50" autocomplete="off"
                               ng-model-options="{ debounce: vm.configTimeout }"
                               ng-change="vm.searchPaymentMethodList()">
                        <md-button ng-if="vm.paymentMethodSearchText" class="md-icon-button height-20 width-20 line-height-20 cm-part-filter-clear-btn margin-top-3"
                                   ng-click="vm.clearPaymentMethodSearchText()">
                          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close font-size-12 color-white"></md-icon>
                        </md-button>
                      </md-input-container>
                    </div>
                    <div layout="row" layout-align="center center">
                      <a class="cm-text-decoration underline"
                         ng-click="vm.clearPaymentMethodFilter();"
                         tabindex="-1"
                         ng-if="vm.filter.paymentMethod.length">
                        Clear
                      </a>
                      <md-button ng-click="vm.getPaymentMethod();" class="md-primary md-link-ripple cm-part-advance-filter-btn">
                        <md-icon md-font-icon="icon-reload">
                          <md-tooltip>Reload</md-tooltip>
                        </md-icon>
                      </md-button>
                    </div>
                  </div>
                  <select ng-model="vm.filter.paymentMethod" size="10" multiple="" class="cm-auto-scroll" ng-if="vm.paymentMethodListToDisplay && vm.paymentMethodListToDisplay.length">
                    <option ng-repeat="x in vm.paymentMethodListToDisplay" value="{{x.gencCategoryID}}">{{x.gencCategoryName}}</option>
                  </select>
                  <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap
                       ng-if="(!vm.paymentMethodListToDisplay || vm.paymentMethodListToDisplay.length == 0) && vm.paymentMethodSearchText">
                    <p flex="100" class="empty-state-title font-size-17-imp">{{vm.EmptyFilterMesssage.MESSAGE}}</p>
                  </div>
                </div>
              </div>

              <div layout="column" class="pr-5 umid-advance-filter" flex="15" flex-md="100" flex-sm="100">
                <div layout="column" class="alias-list-main" flex>
                  <div class="title alias-list-title" layout="row" flex="100" layout-align="space-between center">
                    <span class="label-container width-auto">
                      <a class="cm-text-decoration underline" ng-click="vm.goToBankList();"
                         tabindex="-1">
                        {{vm.SupplierInvoicePaymentAdvanceFilters.BankAccountCode.value}}
                      </a>
                    </span>
                    <div layout="row" layout-align="center center" flex="100" class="cm-part-mfr-list-search">
                      <md-input-container md-no-float flex="100" layout="row" class="margin-0 pos-rel">
                        <input type="text" name="bankAccountCodeSearchText" id="bankAccountCodeSearchText" ng-model="vm.bankAccountCodeSearchText"
                               placeholder="Type here to search"
                               ng-maxlength="50" autocomplete="off"
                               ng-model-options="{ debounce: vm.configTimeout }"
                               ng-change="vm.searchBankAccountCodeList()">
                        <md-button ng-if="vm.bankAccountCodeSearchText" class="md-icon-button height-20 width-20 line-height-20 cm-part-filter-clear-btn margin-top-3"
                                   ng-click="vm.clearBankAccountCodeSearchText()">
                          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close font-size-12 color-white"></md-icon>
                        </md-button>
                      </md-input-container>
                    </div>
                    <div layout="row" layout-align="center center">
                      <a class="cm-text-decoration underline"
                         ng-click="vm.clearBankAccountCodeFilter();"
                         tabindex="-1"
                         ng-if="vm.filter.bankAccountCode.length">
                        Clear
                      </a>
                      <md-button ng-click="vm.getBankAccountCode();" class="md-primary md-link-ripple cm-part-advance-filter-btn">
                        <md-icon md-font-icon="icon-reload">
                          <md-tooltip>Reload</md-tooltip>
                        </md-icon>
                      </md-button>
                    </div>
                  </div>
                  <select ng-model="vm.filter.bankAccountCode" size="10" multiple="" class="cm-auto-scroll" ng-if="vm.bankAccountCodeListToDisplay && vm.bankAccountCodeListToDisplay.length">
                    <option ng-repeat="x in vm.bankAccountCodeListToDisplay" value="{{x.id}}">{{x.accountCode}}</option>
                  </select>
                  <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap
                       ng-if="(!vm.bankAccountCodeListToDisplay || vm.bankAccountCodeListToDisplay.length == 0) && vm.bankAccountCodeSearchText">
                    <p flex="100" class="empty-state-title font-size-17-imp">{{vm.EmptyFilterMesssage.MESSAGE}}</p>
                  </div>
                </div>
              </div>
              <div layout class="pr-5" flex="10">
                <fieldset flex class="container-box cm-supplier-check-box">
                  <legend class="margin-0">{{vm.SupplierInvoicePaymentAdvanceFilters.LockStatus.value}}</legend>
                  <div layout="column" class="ml-10 cm-checkbox-margin-10px">
                    <md-checkbox ng-model="vm.isReadyToLock" class="mv-0">{{vm.TRANSACTION.SupplierPaymentLockStatus.ReadyToLock.value}}</md-checkbox>
                    <md-checkbox ng-model="vm.isLocked" class="mv-0">{{vm.TRANSACTION.SupplierPaymentLockStatus.Locked.value}}</md-checkbox>
                  </div>
                </fieldset>
              </div>
              <div layout layout-wrap>
                <div flex="100" layout>
                  <div layout flex class="pr-5">
                    <fieldset flex="100" class="container-box">
                      <legend class="margin-0">{{vm.SupplierInvoicePaymentAdvanceFilters.PaymentOrCheckNumber.value}}</legend>
                      <div layout="row" flex="100" layout-md="column" layout-sm="column">
                        <div class="input-wrapper" layout="row" layout-align="start center">
                          <md-radio-group class=" mb-5" flex="100" layout="row" ng-model="vm.filter.paymentNumberSearchType" name="paymentNumberSearchType" custom-auto-focus=true>
                            <md-radio-button ng-value="vm.CheckSearchTypeList[1].id" class="md-primary margin-top-0">Contains</md-radio-button>
                            <md-radio-button ng-value="vm.CheckSearchTypeList[0].id" class="md-primary margin-top-0">Exact</md-radio-button>
                          </md-radio-group>
                        </div>
                        <div class="input-wrapper pt-5" layout="row" flex="70" layout-align="start start">
                          <md-input-container flex="100" class="margin-bottom-0" md-no-float>
                            <input type="text" id="paymentNumber" name="paymentNumber" ng-model="vm.filter.paymentNumber"
                                   ng-maxlength="50"
                                   ng-keypress="vm.applyFiltersOnEnter($event)"
                                   placeholder="{{vm.SupplierInvoicePaymentAdvanceFilters.PaymentOrCheckNumber.value}}" capitalize class="input-text-uppercase" autocomplete="off" />
                            <div ng-messages="vm.filtersInfo.paymentNumber.$error" role="alert">
                              <div ng-message="maxlength">
                                <span>{{vm.getMaxLengthValidation(50,vm.filtersInfo.paymentNumber.$viewValue.length)}}</span>
                              </div>
                            </div>
                          </md-input-container>
                          <div layout="row" ng-if="vm.filter.paymentNumber" class="padding-top-3">
                            <md-button class="md-icon-button md-primary md-mini height-auto width-auto" ng-click="vm.removePaymentFilter()">
                              <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
                              <md-tooltip>Reset</md-tooltip>
                            </md-button>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div flex layout="row">
                    <fieldset flex="100" class="container-box">
                      <legend class="margin-0">{{vm.SupplierInvoicePaymentAdvanceFilters.PaymentAmount.value}}</legend>
                      <div layout="row" flex="100" layout-md="column" layout-sm="column">
                        <div class="input-wrapper" layout="row" layout-align="start center">
                          <md-radio-group class=" mb-5" flex="100" layout="row" ng-model="vm.filter.paymentAmountSearchType" name="paymentAmountSearchType" custom-auto-focus=true>
                            <md-radio-button ng-value="vm.CheckSearchTypeList[1].id" class="md-primary margin-top-0">Contains</md-radio-button>
                            <md-radio-button ng-value="vm.CheckSearchTypeList[0].id" class="md-primary margin-top-0">Exact</md-radio-button>
                          </md-radio-group>
                        </div>
                        <div class="input-wrapper pt-5" layout="row" flex="70" layout-align="start center">
                          <md-input-container flex="100" class="margin-bottom-0" md-no-float>
                            <input type="number" id="amount" name="amount"
                                   ng-model="vm.filter.amount" placeholder="{{vm.SupplierInvoicePaymentAdvanceFilters.PaymentAmount.value}}"
                                   onkeypress="return OnlyNumbersWithDot(event)"
                                   ng-keypress="vm.applyFiltersOnEnter($event)"
                                   ng-maxlength="18" min="0" step="{{$root.amountInputStep}}">
                            <div ng-messages="vm.filtersInfo.amount.$error" role="alert">
                              <div ng-message="maxlength">
                                <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                              </div>
                              <div ng-message="number || step">
                                <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                              </div>
                            </div>
                          </md-input-container>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div layout flex="100">
                  <div layout flex class="pr-5">
                    <fieldset flex="100" class="container-box">
                      <legend class="margin-0">{{vm.SupplierInvoicePaymentAdvanceFilters.InvoiceNumber.value}}</legend>
                      <div flex layout layout-align="start start">
                        <md-input-container class="width-100p margin-bottom-0" md-no-float>
                          <input type="text" id="invoiceNumber" name="invoiceNumber"
                                 ng-maxlength="50" ng-model="vm.filter.invoiceNumber" placeholder="{{vm.SupplierInvoicePaymentAdvanceFilters.InvoiceNumber.value}}"
                                 ng-keypress="vm.applyFiltersOnEnter($event)"
                                 capitalize class="input-text-uppercase" autocomplete="off" />
                          <div ng-messages="vm.filtersInfo.invoiceNumber.$error" role="alert">
                            <div ng-message="maxlength">
                              <span>{{vm.getMaxLengthValidation(50,vm.filtersInfo.invoiceNumber.$viewValue.length)}}</span>
                            </div>
                          </div>
                        </md-input-container>
                        <div layout="row" ng-if="vm.filter.invoiceNumber" class="padding-top-3">
                          <md-button class="md-icon-button md-primary md-mini height-auto width-auto" ng-click="vm.removeInvoiceFilter()">
                            <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
                            <md-tooltip>Reset</md-tooltip>
                          </md-button>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div flex layout="row">
                    <fieldset flex="100" class="container-box">
                      <legend class="margin-0">
                        {{vm.SupplierInvoicePaymentAdvanceFilters.InvoiceAmount.value}}
                        <md-icon class="icon-question-mark-circle help-icon padding-left-0-imp h-16 margin-left-5-imp">
                          <md-tooltip md-direction="top" class="tooltip-height-auto">
                            <span>Search Negative value to get Credit/Debit Memo records.</span>
                          </md-tooltip>
                        </md-icon>
                      </legend>
                      <div layout="row" flex="100" layout-md="column" layout-sm="column">
                        <div class="input-wrapper" layout="row" layout-align="start center">
                          <md-radio-group class=" mb-5" flex="100" layout="row" ng-model="vm.invoiceAmountSearchType" name="invoiceAmountSearchType" custom-auto-focus=true>
                            <md-radio-button ng-value="vm.CheckSearchTypeList[1].id" class="md-primary margin-top-0">Contains</md-radio-button>
                            <md-radio-button ng-value="vm.CheckSearchTypeList[0].id" class="md-primary margin-top-0">Exact</md-radio-button>
                          </md-radio-group>
                        </div>
                        <div class="input-wrapper pt-5" layout="row" flex="70" layout-align="start center">
                          <md-input-container flex="100" class="margin-bottom-0" md-no-float>
                            <input type="number" id="invoiceAmount" name="invoiceAmount"
                                   ng-model="vm.invoiceAmount" placeholder="{{vm.SupplierInvoicePaymentAdvanceFilters.InvoiceAmount.value}}"
                                   ng-keypress="vm.applyFiltersOnEnter($event)"
                                   ng-maxlength="18" step="{{$root.amountInputStep}}">
                            <div ng-messages="vm.filtersInfo.invoiceAmount.$error" role="alert">
                              <div ng-message="maxlength || number || step">
                                <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                              </div>
                            </div>
                          </md-input-container>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div layout="row">
            <div flex="20" layout="row" class="pr-5">
              <fieldset flex="100" class="container-box">
                <legend class="margin-0">Select Records</legend>
                <div class="cm-btn-group">
                  <md-button class="md-primary md-raised md-ink-ripple mv-0 cm-feture-btn-color"
                             ng-disabled="vm.selectedRowsList.length===0 || !vm.allowToLockSupplierPaymentFeature || vm.isDisabledLockBtn"
                             ng-click="vm.lockUnlockPayment(null,false)">
                    Lock
                  </md-button>
                  <md-button class="md-primary md-raised md-ink-ripple mv-0 cm-feture-btn-color"
                             ng-disabled="vm.selectedRowsList.length===0 || !vm.allowToLockSupplierPaymentFeature || vm.isDisabledUnlockBtn"
                             ng-click="vm.lockUnlockPayment(null,true)">
                    Unlock
                  </md-button>
                </div>
                <span class="font-weight-600 font-size-10 ml-8">
                  {{vm.LabelConstant.SelectRecordsEnableButton}}
                </span>
              </fieldset>
            </div>
            <div layout="row" flex layout-md="column" layout-sm="column" class="pr-5">
              <div class="input-wrapper" layout="column" flex="100" layout-align="start center">
                <fieldset flex="100" class="container-box width-100p">
                  <legend class="margin-0">
                    {{vm.SupplierInvoicePaymentAdvanceFilters.SearchComments.value}}
                  </legend>
                  <div class="input-wrapper" layout="row" flex="100" layout-align="start start">
                    <md-input-container class="margin-bottom-0" md-no-float>
                      <input type="text" id="paymentComments" name="paymentComments"
                             ng-model="vm.paymentComments" placeholder="{{vm.SupplierInvoicePaymentAdvanceFilters.SearchComments.value}}"
                             ng-maxlength="1000"
                             ng-keypress="vm.applyFiltersOnEnter($event)"
                             autocomplete="off" />
                      <div ng-messages="vm.filtersInfo.paymentComments.$error" role="alert">
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(1000,vm.filtersInfo.paymentComments.$viewValue.length)}}</span>
                        </div>
                      </div>
                      <span class="font-weight-600 font-size-10">Hint: Will search on Comment</span>
                    </md-input-container>
                    <div layout="row" ng-if="vm.paymentComments" class="padding-top-3">
                      <md-button class="md-icon-button md-primary md-mini height-auto width-auto" ng-click="vm.removeCommentFilter()">
                        <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
                        <md-tooltip>Reset</md-tooltip>
                      </md-button>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div layout="row">
              <fieldset flex="100" class="container-box">
                <legend class="margin-0">Date</legend>
                <div layout="row">
                  <common-date-filter from-date="vm.filter.fromDate"
                                      to-date="vm.filter.toDate"
                                      reset-filter="vm.resetDateFilter"
                                      date-type-list="vm.dateTypeList"
                                      selected-date-type="vm.selectedDateType"></common-date-filter>
                </div>
              </fieldset>
            </div>
            <div layout class="cm-section-main cm-btn-group mt-8 pt-6 ml-5" flex="20" layout-align="end start">
              <md-button class="md-primary md-raised md-ink-ripple" ng-click="vm.loadData()">{{vm.LabelConstant.COMMON.APPLY_FILTERS}}</md-button>
              <md-button class="md-default md-raised md-ink-ripple" ng-click="vm.resetFilters()">{{vm.LabelConstant.COMMON.CLEAR_ALL}}</md-button>
              <md-button class="md-default md-raised md-ink-ripple" ng-click="vm.resetFilters(true)">{{vm.LabelConstant.COMMON.RESET}}</md-button>
            </div>
          </div>
        </div>
        <div flex class="ph-10">
          <div layout="row" layout-align="start center" layout-wrap flex="100"
               ng-if="vm.numberOfMasterFiltersApplied || vm.isUiGridColumnFiltersApplied">
            <span class="font-weight-600">
              {{vm.LabelConstant.COMMON.APPLIED_FILTERS}}
            </span>
            <div ng-repeat="item in vm.SupplierInvoicePaymentAdvanceFilters" layout="row" layout-align="start center" class="cm-tracking-chip-mian"
                 ng-if="!item.isDeleted">
              <div class="tracking-number-chip" layout="row" layout-align="start center">
                <label>
                  {{item.value}}
                  <md-tooltip md-direction="top" ng-if="item.tooltip" class="tooltip-height-auto cm-white-space-normal tt-multiline max-width-1015 p-5"
                              ng-bind-html="item.tooltip">
                  </md-tooltip>
                </label>
                <md-button class="md-icon-button md-primary md-mini" ng-click="vm.removeAppliedFilter(item, $index)">
                  <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
                  <md-tooltip>{{vm.LabelConstant.COMMON.FILTER_REMOVE_TOOLTIP}}</md-tooltip>
                </md-button>
              </div>
            </div>
            <div layout="row" layout-align="start center" class="cm-tracking-chip-mian">
              <div class="tracking-number-chip" layout="row" layout-align="start center">
                <label>
                  Clear All
                </label>
                <md-button class="md-icon-button md-primary md-mini" ng-click="vm.resetFilters()">
                  <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
                  <md-tooltip>Clear All Filters and Reload Data</md-tooltip>
                </md-button>
              </div>
            </div>
          </div>
          <div layout="row" layout-align="start center" layout-wrap flex="100"
               ng-if="vm.isUiGridColumnFiltersApplied && vm.gridOptions.gridApi && vm.gridOptions.gridApi.grid.columns.length > 0">
            <span class="font-weight-600">
              {{vm.LabelConstant.COMMON.APPLIED_GRID_FILTERS}}
            </span>
            <div ng-repeat="item in vm.gridOptions.gridApi.grid.columns" layout="row" layout-align="start center" class="cm-tracking-chip-mian"
                 ng-if="item.filters[0].term">
              <div class="tracking-number-chip" layout="row" layout-align="start center" ng-if="item.filters[0].term">
                <label>
                  {{item.displayName}}
                  <md-tooltip md-direction="top" ng-if="item.filters[0].term" class="tooltip-height-auto cm-white-space-normal tt-multiline max-width-1015 p-5"
                              ng-bind-html="item.filters[0].term">
                  </md-tooltip>
                </label>
                <md-button class="md-icon-button md-primary md-mini" ng-click="vm.clearGridColumnFilter(item, $index)">
                  <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
                  <md-tooltip>{{vm.LabelConstant.COMMON.FILTER_REMOVE_TOOLTIP}}</md-tooltip>
                </md-button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div flex="100" layout="row" layout-wrap>
      <div flex ng-show="!vm.isNoDataFound">
        <md-card layout="column" class="margin-0" flex layout-align="space-between stretch">
          <ui-grid-extention class="cm-invoice-payment-grid"
                             grid-id="vm.gridConfig.gridSupplierInvoicePayment"
                             load-data="vm.loadData"
                             grid-option="vm.gridOptions"
                             header="vm.sourceHeader"
                             grid-data="vm.sourceData"
                             total-data-count="vm.totalSourceDataCount"
                             reset-grid="vm.resetSourceGrid"
                             selectted-rows="vm.selectedRowsList"
                             paging-info="vm.pagingInfo"
                             current-item="vm.currentdata"
                             get-data-down="vm.getDataDown"
                             empty-state="vm.emptyState">
        </md-card>
      </div>
      <div class="empty-state text-center full-height packing-slip-empty-state" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound">
        <div class="emty-icon" flex="15">
          <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
        </div>
        <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
        <p flex="100">
          <md-button class="md-fab md-mini" aria-label="Refresh Packing Slip" ng-click="vm.loadData()">
            <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
            <md-tooltip md-direction="top">Refresh Supplier Invoice Payment History</md-tooltip>
          </md-button>
        </p>
      </div>
    </div>
  </div>
</div>
