<md-dialog aria-label="Employee" class="" draggable>
    <form name="vm.employeeForm" no-translate-class>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Standard {{vm.data.name}} <span ng-if="vm.data.selectedClass">: {{vm.data.selectedClassName}}</span> Tree</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll">
            <md-content class="padding-10" layout="column" layout-gt-xs="row">
                <div flex="100" layout="row" layout-wrap class="text-center horizontaltree">
                    <div class="treelabel" flex="100">
                        <md-button class="md-default md-focused md-raised">{{vm.treeData.standardType.gencCategoryName}}</md-button>
                    </div>
                    <div class="lavelrow" flex="100" layout="row">
                        <div class="nodewrapper" flex layout="row" layout-wrap ng-repeat="certificate in vm.treeData.standardType.standardType">
                            <div class="treelabel" flex="100">
                                <md-button class="md-orange-700-bg md-focused md-raised" ng-if="certificate.isActive">{{certificate.fullName}}</md-button>
                                <md-button class="md-default md-focused md-raised" ng-if="!certificate.isActive">{{certificate.fullName}}</md-button>
                            </div>
                            <div class="lavelrow" flex="100" layout="row" ng-if="certificate.CertificateStandard_Class.length > 0">
                                <div class="nodewrapper" flex layout="row" layout-wrap ng-repeat="class in certificate.CertificateStandard_Class">
                                    <div class="treelabel" flex>
                                        <md-button class="md-orange-700-bg md-focused md-raised" ng-if="vm.data.selectedClass ? class.isActive : certificate.isActive">{{class.className}}</md-button>
                                        <md-button class="md-default md-focused md-raised" ng-if="vm.data.selectedClass ? !class.isActive : !certificate.isActive">{{class.className}}</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="nodewrapper" flex layout="row" layout-wrap>
                            <div class="treelabel" flex="100">
                                <md-button class="md-default md-focused md-raised">Child</md-button>
                            </div>
                            <div class="lavelrow" flex="100" layout="row">
                                <div class="nodewrapper" flex layout="row" layout-wrap>
                                    <div class="treelabel" flex>
                                        <md-button class="md-default md-focused md-raised">main</md-button>
                                    </div>
                                </div>
                                <div class="nodewrapper" flex layout="row" layout-wrap>
                                    <div class="treelabel" flex>
                                        <md-button class="md-default md-focused md-raised">main</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="nodewrapper" flex layout="row" layout-wrap>
                            <div class="treelabel" flex="100">
                                <md-button class="md-default md-focused md-raised">main</md-button>
                            </div>
                        </div>-->
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>