#notificationTreeView {

  .center {

    .content-card {
      box-shadow: none;
      border-left: 1px solid #dddddd;

      &.classic {

        .toolbar {
          position: relative;
          padding: 5px 5px 5px 15px; /*last-8px 8px 8px 24px- 8px 24px;*/
          .select-menu {

            .md-icon-button {
              padding-left: 0;
              margin: 0;
            }
          }

          .page-info {
            font-weight: 500;
            margin: 0 8px;
            white-space: nowrap;
          }

          .close-thread {
            margin: 0 0 0 -8px;
          }
        }

        .content-wrapper {
          position: relative;
          /*height: 100%;*/
          height: calc(100vh - 427px) !important;
        }
        .cm-content-wrp {
          height: calc(100vh - 230px) !important;
        }
      }
    }
  }
}

.thread-labels-toggle-list {

    md-list-item {

        md-icon {
            margin: 0 !important;
        }
    }
}

.cm-notification-tree-btn-active {
    background-color: #dddddd !important; 
}

