<md-dialog flex="{{vm.mdDialogFlex}}" aria-label="WOComponentStandardChangeAlert" class="cm-custom-label-common" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Standard Change Alert!</h2>
      <span flex></span>
      <popup-header-label label-data="vm.headerdata"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="no-padding custom-scroll cm-section-main border-0">
    <div class="cm-section-inner padding-10-imp cm-wo-header-main" flex="100">
      <!--<div flex="100" layout="row" class="mh-5 pv-5">
          <div flex="15">
              <p class="label-container text-right">
                  <b>From Standards:&nbsp;</b>
              </p>
          </div>
          <div flex="85">
              <span>
                  <label ng-if="vm.selectedAllOldStandards.length > 0" ng-repeat="standard in vm.selectedAllOldStandards" class="margin-5 label-box"
                         ng-style="{'background-color': standard.colorCode}">{{standard.standard + (standard.class?(' '+ standard.class):'')}}</label>
                  <label ng-if="vm.selectedAllOldStandards.length == 0" class="margin-left-5">N/A</label>
              </span>
          </div>
      </div>
      <div flex="100" layout="row" class="mh-5 bt bb pv-5">
          <div flex="15">
              <p class="label-container text-right">
                  <b>To Standards:&nbsp;</b>
              </p>
          </div>
          <div flex="85">
              <span>
                  <label ng-if="vm.selectedAllNewStandards.length > 0" ng-repeat="standard in vm.selectedAllNewStandards" class="margin-5 label-box"
                         ng-style="{'background-color': standard.colorCode}">{{standard.standard + (standard.class?(' '+ standard.class):'')}}</label>
                  <label ng-if="vm.selectedAllNewStandards.length == 0" class="margin-left-5">N/A</label>
              </span>
          </div>
      </div>-->
      <table cellspacing="0" cellpadding="0" class="cm-table-input-main cm-wo-header-main cm-wo-comp">
        <tbody>
          <tr>
            <th class="vertical-middle-align">
              <p class="label-container pb-5">
                <b>From Standards:&nbsp;</b>
              </p>
            </th>
            <td>
              <span>
                <label ng-if="vm.selectedAllOldStandards.length > 0" ng-repeat="standard in vm.selectedAllOldStandards" class="margin-5 label-box"
                       ng-style="{'background-color': standard.colorCode}">{{standard.standard + (standard.class?(' '+ standard.class):'')}}</label>
                <label ng-if="vm.selectedAllOldStandards.length == 0" class="margin-left-5">N/A</label>
              </span>
            </td>
          </tr>
          <tr class="bb border-top">
            <th class="vertical-middle-align">
              <p class="label-container">
                <b>To Standards:&nbsp;</b>
              </p>
            </th>
            <td>
              <span class="pt-8">
                <label ng-if="vm.selectedAllNewStandards.length > 0" ng-repeat="standard in vm.selectedAllNewStandards" class="margin-5 label-box"
                       ng-style="{'background-color': standard.colorCode}">{{standard.standard + (standard.class?(' '+ standard.class):'')}}</label>
                <label ng-if="vm.selectedAllNewStandards.length == 0" class="margin-left-5">N/A</label>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div flex="100" layout="row" class="ph-10" ng-show="vm.DeletedStandardComponent.length > 0"><b class="padding-5">{{vm.deleteStandardChangeMsg}}</b></div>
    <div flex="100" layout="row" class="ph-10"><b class="padding-5">{{vm.woComponentStandardChangeMsg}}</b></div>
    <md-content class="padding-10" layout="row" layout-gt-xs="row">
      <div flex="100" layout="row" class="cm-part-standard-changes">
        <!--<div flex="100" layout="row" class="ph-10" ng-show="vm.DeletedStandardComponent.length > 0"><b class="padding-5">{{vm.deleteStandardChangeMsg}}</b></div>-->
        <div ng-if="vm.DeletedStandardComponent.length > 0" class="cm-section-main margin-5" layout-wrap>
          <div class="cm-section-header" flex="100">
            <h2>Delete Standard</h2>
          </div>
          <div class="cm-section-inner" flex="100">
            <table md-table class="md-data-table table-row-select" md-row-select ng-model="vm.selectedItems" ms-responsive-table>
              <thead md-head md-order="">
                <tr md-row>
                  <th md-column>Standard</th>
                  <th md-column>{{vm.assyAllLabelConstant.PIDCode}}</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="item in vm.DeletedStandardComponent">
                  <td md-cell class="width-200 md-truncate">
                    <label class="margin-5 label-box"
                           ng-style="{'background-color': item.colorCode}">{{item.standard + (item.class?(' '+ item.class):'')}}</label>
                  </td>
                  <td md-cell>
                    <common-pid-code-label-link component-id="item.componetId"
                                                label="vm.assyAllLabelConstant.PIDCode"
                                                value="item.PIDCode"
                                                is-copy="true"
                                                rohs-icon="vm.rohsImagePath + item.rohsIcon"
                                                rohs-status="item.rohsName"
                                                is-custom-part="item.isCustom"
                                                is-formated="true"></common-pid-code-label-link>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--<div flex="100" layout="row" class="ph-10"><b class="padding-5">{{vm.woComponentStandardChangeMsg}}</b></div>-->
        <div ng-if="!vm.componentDetails.isCalledFromComponentPage" flex="{{vm.componentDivFlex}}" class="cm-section-main margin-5" layout-wrap>
          <div class="cm-section-header" flex="100">
            <h2>Part</h2>
          </div>
          <div class="cm-section-inner" flex="100">
            <table md-table class="md-data-table table-row-select" md-row-select ng-model="vm.selectedItems" ms-responsive-table>
              <thead md-head md-order="">
                <tr md-row>
                  <!--<th md-column>#</th>-->
                  <th md-column>{{vm.assyAllLabelConstant.PIDCode}}</th>
                  <th md-column>{{vm.assyAllLabelConstant.MFGPN}}</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row>
                  <!--<td md-cell>{{$index+1}}</td>-->
                  <td md-cell>
                    <common-pid-code-label-link component-id="vm.componentDetails.id"
                                                label="vm.assyAllLabelConstant.PIDCode"
                                                value="vm.componentDetails.PIDCode"
                                                is-copy="true"
                                                rohs-icon="vm.rohsImagePath + vm.componentDetails.rohsIcon"
                                                rohs-status="vm.componentDetails.rohsStatus"
                                                is-custom-part="vm.componentDetails.isCustom"
                                                is-formated="true"></common-pid-code-label-link>
                    <!--{{vm.componentDetails.PIDCode}}-->
                  </td>
                  <td md-cell>
                    <common-pid-code-label-link component-id="vm.componentDetails.id"
                                                label="vm.assyAllLabelConstant.MFGPN"
                                                value="vm.componentDetails.mfgPN"
                                                is-copy="true"
                                                rohs-icon="vm.rohsImagePath + vm.componentDetails.rohsIcon"
                                                rohs-status="vm.componentDetails.rohsStatus"
                                                is-custom-part="vm.componentDetails.isCustom"
                                                is-formated="true"></common-pid-code-label-link>
                    <!--{{vm.componentDetails.mfgPN}}-->


                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div flex="{{vm.woDivFlex}}"
             ng-if="vm.workorderDetails.WOListContainSamePartID.length > 0" class="cm-section-main margin-5" layout="row" layout-wrap layout-align="start start">
          <div class="cm-section-header" flex="100">
            <h2>Work Order</h2>
          </div>
          <div class="cm-section-inner" flex="100">
            <table md-table class="md -data-table table-row-select" md-row-select ng-model="vm.selectedItems" ms-responsive-table>
              <thead md-head md-order="">
                <tr md-row>
                  <th md-column>#</th>
                  <th md-column>{{vm.woAllLabelConstant.WO}}</th>
                  <th md-column class="w-80">{{vm.woAllLabelConstant.Version}}</th>
                  <th md-column>{{vm.woAllLabelConstant.Status}}</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="item in vm.workorderDetails.WOListContainSamePartID">
                  <td md-cell>{{$index+1}}</td>
                  <td md-cell>
                    <a tabindex="-1" class="cm-text-decoration" ng-mousedown="vm.goToWorkorderDetails(item.woID);$event.preventDefault();">
                      {{item.woNumber}}
                    </a>
                  </td>
                  <td md-cell>
                    {{item.woVersion}}
                  </td>
                  <td md-cell class="cm-list-publish-status">
                    <span class="label-box {{item.statusClassName}}">{{item.statusTxt}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div flex="{{vm.rfqDivFlex}}"
             ng-if="vm.RFQDetails.RFQListContainSamePartID.length > 0" class="cm-section-main margin-5" layout="row" layout-wrap layout-align="start start">
          <div class="cm-section-header" flex="100">
            <h2>RFQ</h2>
          </div>
          <div class="cm-section-inner" flex="100">
            <table md-table class="md-data-table table-row-select" md-row-select ng-model="vm.selectedItems" ms-responsive-table>
              <thead md-head md-order="">
                <tr md-row>
                  <th md-column>#</th>
                  <th md-numeric md-column>Quote Group #</th>
                  <th md-column>Quote In Date</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="item in vm.RFQDetails.RFQListContainSamePartID">
                  <td md-cell>{{$index+1}}</td>
                  <td md-cell>
                    <a tabindex="-1" class="cm-text-decoration" ng-mousedown="vm.goToRFQDetails(item.id,item.rfqAssemblies[0].id);$event.preventDefault();">
                      {{item.id}}
                    </a>
                  </td>
                  <td md-cell>{{item.rfqAssemblies[0].quoteInDate | date:vm.DateFormatArray}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row" class="cm-wo-std-alert-popup">
    <md-button class="md-button md-raised" ng-click="vm.cancel()">No</md-button>
    <md-button class="md-primary md-raised" ng-disabled="vm.DeletedStandardComponent.length > 0" ng-click="vm.applyStandard()">Yes</md-button>
  </md-dialog-actions>
</md-dialog>
