<md-dialog aria-label="Request Response" cg-busy="{promise:vm.cgBusyLoading}" draggable class="width-65P">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>View Request Response</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal padding-10 cm-custom-label-common" layout="column">
      <md-content class="md-padding">
        <div layout="row" flex="100">
          <div flex="100" layout-wrap>
            <div class="cm-section-main border-0" flex="100">
              <div class="cm-section-inner" flex="100">
                <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                  <tr>
                    <td class="text-align-center border-right">
                      <p><b>Request</b></p>
                    </td>
                    <td class="text-align-center padding-left-10">
                      <p><b>Response</b></p>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-right">
                      <json-formatter open="1" json="vm.request"></json-formatter>
                    </td>
                    <td class="padding-left-10">
                      <json-formatter open="1" json="vm.response"></json-formatter>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
</md-dialog>
