<md-dialog aria-label="Clear Popup" draggable cg-busy="{promise:vm.cgBusyLoading}" class="cm-component-detail cm-custom-label-common" flex="80">
  <form name="vm.RackHistory" novalidate class="md-inline-form">
    <md-toolbar ng-class="vm.themeClass">
      <div class="md-toolbar-tools">
        <h2>{{vm.LabelConstant.RACK_MST.RackHistory}}</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="column">
      <md-content class="md-padding">
        <div layout="row" class="margin-vertical-5" layout-wrap >
          <div flex="100" layout="row">
            <div class="cm-section-main margin-right-5" flex="100" layout="row">
              <div class="cm-section-inner" flex="100" layout="column">
                <div flex="100" layout="column">
                  <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                    <tbody>
                      <tr>
                        <th>
                          <p class="label-container">
                            <a tabindex="-1" class="cm-text-decoration underline"
                               ng-mousedown="vm.gotoRack();$event.preventDefault();">
                              Scan Rack
                            </a>
                            <scan-or-enter></scan-or-enter>
                          </p>
                        </th>
                        <td class="width-300">
                          <md-input-container class="margin-bottom-0 md-block margin-top-0 scan-label-text">
                            <input type="text" id="racknumber" name="racknumber" class="input-text-uppercase" capitalize ng-maxlength="10" ng-disabled="vm.scanRackDisable" ng-change="vm.changeDetail(vm.rackHist.racknumber)"
                                   placeholder="Scan Rack#" md-select-on-focus md-autofocus
                                   ng-keypress="vm.scanRackLabel($event)"
                                   ng-model="vm.rackHist.racknumber">
                            <md-button ng-if="vm.rackHist.racknumber && !vm.scanRackDisable" class="md-icon-button height-20 width-20 line-height-20 cm-part-filter-clear-btn margin-top-3"
                                       ng-click="vm.clearRack()">
                              <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close  color-black"></md-icon>
                            </md-button>
                            <span flex="100" class="font-size-10">
                              <b>{{vm.LabelConstant.ScanOREnter.ScanRack}}</b>
                            </span>
                            <div ng-messages="vm.RackHistory.racknumber.$error"
                                 role="alert">
                              <div ng-message="maxlength">
                                <span>{{vm.getMaxLengthValidation(10,vm.RackHistory.racknumber.$viewValue.length)}}</span>
                              </div>
                            </div>
                          </md-input-container>
                        </td>
                        <td>
                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div layout="row" flex="100">
          <div flex="100" layout="row">
            <div class="cm-section-main margin-right-5" flex="100" layout="row">
              <div class="cm-section-inner" flex="100" layout="column">
                <rack-history-grid wo-op-id="vm.rackObj.woOPID" wo-id="vm.rackObj.woID" rack-id="vm.rackID"></rack-history-grid>
              </div>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">{{vm.scanRackDisable?'Close':'Cancel'}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
