<md-dialog aria-label="Transfer Stock" class="transfer-wh-bin-popup cm-custom-label-common" draggable>
  <form name="vm.transferStockForm" id="transferStockForm" autocomplete="off" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.title}}</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerData"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="no-padding custom-scroll" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
      <md-content class="padding-10">
        <div flex="100" layout="row" class="cm-section-main border-0">
          <div flex="100" class="cm-section-inner">
            <div flex="100" layout="row" class="margin-5 stock-filter" layout-wrap layout-align="start start">

              <div class="input-wrapper" layout="row" flex="100">
                <p class="label-container" flex="25">
                  <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToWHList();">{{vm.LabelConstant.TransferStock.ParentWH}}</a><span>&nbsp;*</span>
                </p>
                <md-input-container ng-if="vm.autoCompleteToDept" class="autocompletecustom margin-bottom-0" flex="75">
                  <custom-auto-complete datalist="vm.deptList"
                                        column-name="vm.autoCompleteToDept.columnName"
                                        key-column-name="vm.autoCompleteToDept.keyColumnName"
                                        input-name="vm.autoCompleteToDept.inputName"
                                        placeholder-name="vm.autoCompleteToDept.placeholderName"
                                        key-column-id="vm.autoCompleteToDept.keyColumnId"
                                        is-required="vm.autoCompleteToDept.isRequired"
                                        is-disabled="vm.autoCompleteToDept.isDisabled"
                                        is-addnew="vm.autoCompleteToDept.isAddnew"
                                        callback-fn="vm.autoCompleteToDept.callbackFn"
                                        on-select-callback-fn="vm.autoCompleteToDept.onSelectCallbackFn">
                  </custom-auto-complete>
                </md-input-container>
              </div>

              <div class="input-wrapper" layout="row" flex="100" ng-if="vm.transferItemDet.transferTo !== vm.transferSection.Dept && vm.transferItemDet.transType !== vm.UMID_History.Trasaction_Type.WH_Dept_Transfer">
                <p class="label-container" flex="25">
                  <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToWHList();">{{vm.LabelConstant.TransferStock.WH}}</a><span>&nbsp;*<check-unique-on-blur></check-unique-on-blur></span>
                </p>
                <md-input-container flex="100" class="margin-bottom-0" md-no-float>
                  <input type="text" name="scanWarehouse" id="scanWarehouse" capitalize ng-model="vm.scanAndSearch.scanWarehouse" required ng-keypress="vm.scanWarehouse($event,true)" custom-blur="vm.scanWarehouse($event,false)">

                  <div ng-messages="vm.transferStockForm.scanWarehouse.$error" role="alert">
                    <div ng-message="required">
                      <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                    </div>
                  </div>
                </md-input-container>
              </div>

              <div class="input-wrapper" layout="row" flex="100" ng-if="vm.transferItemDet.transferTo === vm.transferSection.Bin">
                <p class="label-container" flex="25">
                  <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToBinList();">{{vm.LabelConstant.TransferStock.Bin}}</a><span>&nbsp;*<check-unique-on-blur></check-unique-on-blur></span>
                </p>
                <md-input-container flex="100" class="margin-bottom-0" md-no-float>
                  <input type="text" name="scanBin" capitalize id="scanBin" ng-model="vm.scanAndSearch.scanBin" required ng-keypress="vm.scanBin($event,true)" custom-blur="vm.scanBin($event,false)">
                  <div ng-messages="vm.transferStockForm.scanBin.$error" role="alert">
                    <div ng-message="required">
                      <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                    </div>
                  </div>
                </md-input-container>
              </div>

            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.checkMismatchInventoryValidation($event)" id="btnTransfer">Transfer</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
