<md-dialog aria-label="Employee" class="" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Sales Order Details</h2>
      <span flex></span>
      <popup-header-label label-data="vm.headerdata"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding custom-scroll">
    <md-content class="md-padding" layout="column" layout-gt-xs="row">
      <div class="padding-10" flex="100" ng-if="vm.woSoHeaderDetailsList.length > 0">
        <table md-table class="md-data-table table-row-select" md-row-select ng-model="vm.selectedItems" ms-responsive-table>
          <thead md-head md-order="">
            <tr md-row>
              <th md-column>#</th>
              <th md-column>{{vm.allLabelConstant.Workorder.PO}}</th>
              <th md-column>{{vm.allLabelConstant.SalesOrder.SO}}</th>
              <th md-column>{{vm.allLabelConstant.SalesOrder.POType}}</th>
              <th md-numeric md-column>{{vm.allLabelConstant.SalesOrder.LineID}}</th>
              <th md-numeric md-column>{{vm.allLabelConstant.Workorder.POQty}}</th>
              <th md-numeric md-column>{{vm.allLabelConstant.Workorder.MRPQty}}</th>
              <th md-numeric md-column>{{vm.allLabelConstant.Workorder.AssignedPOQty}}</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="item in vm.woSoHeaderDetailsList">
              <td md-cell>{{$index+1}}</td>
              <td md-cell>
                <a tabindex="-1" class="cm-text-decoration" ng-click="vm.goToManageSalesOrder(item);">
                  {{item.poNumber}}
                </a>
                <copy-text label="vm.allLabelConstant.Workorder.PO" text="item.poNumber" ng-if="item.poNumber"></copy-text>
              </td>
              <td md-cell>
                <a tabindex="-1" class="cm-text-decoration" ng-click="vm.goToManageSalesOrder(item);">
                  {{item.salesOrderNumber}}
                </a>
                <copy-text label="vm.allLabelConstant.SalesOrder.SO" text="item.salesOrderNumber" ng-if="item.salesOrderNumber"></copy-text>
              </td>
              <td md-cell>
                <span class="label-box" ng-class="vm.getPOTypeClassName(item.poType)">{{item.poType}}</span>
              </td>
              <td md-cell>
                {{item.lineID}}
              </td>
              <td md-cell>
                {{item.soPOQty | numberWithoutDecimal}}
              </td>
              <td md-cell>
                {{item.soMRPQty | numberWithoutDecimal}}
              </td>
              <td md-cell>
                {{item.woSOPOQty | numberWithoutDecimal}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
  </md-dialog-actions>
</md-dialog>
