<md-dialog id='supplierQuotePurchaseOrderPartPrice' aria-label="Supplier Quote Purchase Order Part Price" class="warehouse-history-popup" draggable>
  <form name="vm.formSupplieQuotePartPrice">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Supplier Quote Part Price</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="no-padding custom-scroll" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
      <md-content class="padding-10">
        <supplier-quote-purchase-order-part-price-detail-grid ng-if="vm.isUpdateSupplierQuote"
                                                              part-id="vm.supplierQuotePartPrice.partID" supplier-id="vm.supplierData.id">

        </supplier-quote-purchase-order-part-price-detail-grid>
        <div class="empty-state text-center full-height packing-slip-empty-state" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="!vm.isUpdateSupplierQuote">
          <div class="emty-icon" flex="15">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
          </div>
          <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
          <p flex="100">
            <md-button class="md-fab md-mini" aria-label="Add Supplier Quote Price" ng-click="vm.goToSupplierQuoteDetail()">
              <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
              <md-tooltip md-direction="top">Add Supplier Quote Price</md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Refresh Supplier Quote Price" ng-click="vm.retrieveSupplierQuotePartPricingDetails()">
              <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
              <md-tooltip md-direction="top">Refresh Supplier Quote Price</md-tooltip>
            </md-button>
          </p>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" last-element ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
