<div id="forms" class="page-layout simple fullwidth doc-page breadcrumb-fixed cm-custom-label-common md-inline-form"
     layout="column" cg-busy="{promise:vm.cgBusyLoading}">
  <div class="header md-accent-bg" layout="row" layout-align="space-between center">
    <div class="white-fg" layout="column" layout-align="start start">
      <div class="h2" layout="row" layout-align="start center">
        <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
      </div>
      <div layout="row" layout-align="start center">
        <breadcrumbs></breadcrumbs>
      </div>
    </div>
    <div>
      <md-button class="md-primary md-raised" ng-click="vm.addBank()" ng-if="!vm.isNoDataFound">
        Add Bank Account
      </md-button>
    </div>
  </div>
  <div class="content-card padding-top-side" layout="column" flex>
    <div flex="100">
      <div flex="100" class="padding-10" layout="row" layout-wrap>
        <md-card layout="column" class="margin-0" flex layout-align="space-between stretch">
          <ui-grid-extention class="cm-bank-grid"
                             grid-id="vm.gridConfig.gridBankList"
                             load-data="vm.loadData"
                             grid-option="vm.gridOptions"
                             header="vm.sourceHeader"
                             grid-data="vm.sourceData"
                             total-data-count="vm.totalSourceDataCount"
                             reset-grid="vm.resetSourceGrid"
                             selectted-rows="vm.selectedRowsList"
                             paging-info="vm.pagingInfo"
                             current-item="vm.currentdata"
                             get-data-down="vm.getDataDown"
                             empty-state="vm.emptyState"
                             delete-multiple-data="vm.deleteMultipleData">
        </md-card>
        <div class="empty-state text-center full-height packing-slip-empty-state" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound">
          <div class="emty-icon" flex="15">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
          </div>
          <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
          <p flex="100">
            {{vm.EmptyMesssage.ADDNEWMESSAGE}}
          </p>
          <p flex="100">
            <md-button class="md-fab md-mini" aria-label="Add Packing Slip" ng-click="vm.addBank($event)">
              <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
              <md-tooltip md-direction="top">Add Bank</md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Refresh Packing Slip" ng-click="vm.loadData()">
              <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
              <md-tooltip md-direction="top">Refresh Bank</md-tooltip>
            </md-button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
