
<md-dialog aria-label="Employee performance" class="rfq_errorcode_popup_width" draggable flex="85">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Personnel Burndown Report</h2>
        <span flex></span>
        <div layout-align="end center" layout="row">
          <md-button class="md-primary md-raised md-ink-ripple" id="saveBtn" ng-if="vm.isshowpdf" ng-click="vm.exportReportPdf()">
            Export PDF
          </md-button>
        </div>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
      <div class="scrolling-container">
        <employee-performance  start-time="empData.pstartTime" end-time="empData.pendTime" start-date="empData.pStartDate" end-date="empData.pendDate" wo-id="empData.woID" wo-op-id="empData.woOPID" emp-id="empData.empID" is-show="true"></employee-performance>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
</md-dialog>
<style>

  #container {
    max-width: 1200px;
    min-width: 800px;
    height: 400px;
    margin: 1em auto;
  }

  .scrolling-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
</style>
