@using FJT.IdentityServer.Helper;

@model FJT.IdentityServer.Models.ForgotPassword

<div class="forgot-password-page">
    @*<div class="page-header">
            @if (Model.SuccessSendEmail)
            {
                <h3>Check Your Mail</h3>
            }
            else
            {
                <h1>Forgot Password</h1>
            }
        </div>*@

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="cm-login-container m-auto border-radius-3 whiteframe-10dp">
            <div class="cm-login-logo">Q</div>
            <div class="my-4 text-center">
                @if (Model.SuccessSendEmail)
                {
                    <span>Check Your Mail!</span>
                }
                else
                {
                    <span>Forgot Password?</span>
                }
            </div>
            <div class="panel panel-default">
                <div class="panel-body">

                    <form asp-route="ForgotPassword">
                        <fieldset>
                            @if (Model.SuccessSendEmail)
                            {
                                <div class="p-3 text-center">
                                    @if (Model.IsUserHaveEmail)
                                    {
                                        <p class="m-0"><b>Please check your email for reset password.</b></p>
                                    }
                                    else
                                    {
                                        <p class="m-0"><b>An email has been sent to Administrator.</b</p>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="mb-3 text-center font-size-14">Enter your Email or User ID and we will send you a link with which you can reset your password.</div>
                                <div class="form-group">
                                    <input class="w-100 border-bottom-color" placeholder="Email OR User ID" asp-for="EmailOrUserId">
                                    <span asp-validation-for="EmailOrUserId" id="EmailOrUserIdValidation" class="text-danger text-left d-block font-size-12"></span>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary cm-login-btn" name="button" value="submit">SUBMIT</button>
                                </div>
                            }

                            <div class="font-size-14 font-weight-bolder form-group mb-3 mt-5 text-center">
                                @Html.ActionLink("Back To Login", "Login", "Account", "", new { @Class = "customlink" })
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>
        </div>

        <!-- Toast -->
        <div class="toast" id="infoToast" style="position: absolute; top: 0; right: 30px; z-index:10001;">
            <div class="toast-header" style="background-color:orange">
                <strong><p id="infoToast-message" class="p-2 text-dark"></p></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('input:visible:first').focus();
        $("#infoToast").toast({
            delay: 4000
        });

        // On blue any input, go for validation.
        $('input', 'form').blur(function () {
            $(this).valid();
        });

        @if (ViewBag.dynamicMessage != null) {
            <Text>
                $("#dynamicInfoTitleType").html('@ViewBag.dynamicMessage.messageType:');
                $("#dynamicInfoTitleValue").html('@ViewBag.dynamicMessage.messageCode');
                $("#dynamicInfoBodyValue").html("@Html.Raw(ViewBag.dynamicMessage.message)");
                $('#dynamicInfoModel').modal({
                keyboard: false,
                    backdrop: 'static'
                });
            </Text>
        }
    });
</script>

