@using FJT.IdentityServer.Helper;
@model FJT.IdentityServer.Models.ViewModel.ResetUserPasswordVM

<div class="login-page">
    @*<div class="page-header">
            <h1>Reset Password</h1>
        </div>*@

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="cm-login-container m-auto border-radius-3 whiteframe-10dp">
            <div class="cm-login-logo">Q</div>
            <div class="mb-3 text-center font-size-14">Reset password for your account</div>
            <div class="panel panel-default">
                <div class="panel-body">

                    <form asp-route="ResetUserPassword" id="resetpassword-form">
                        <input type="hidden" asp-for="User" />
                        <input type="hidden" asp-for="UserToken" />

                        <fieldset>
                            <div class="form-group">
                                @*<label asp-for="NewPassword"></label>*@
                                <input type="password" class="w-100 border-bottom-color" placeholder="New Password" asp-for="NewPassword" autocomplete="off">
                                <span asp-validation-for="NewPassword" id="ValidateNewPassword" class="text-danger text-left d-block font-size-12"></span>
                            </div>
                            <div class="form-group">
                                @*<label asp-for="ConfirmPassword"></label>*@
                                <input type="password" class="w-100 border-bottom-color" placeholder="Confirm New Password" asp-for="ConfirmPassword" autocomplete="off">
                                <span asp-validation-for="ConfirmPassword" id="ValidateConfirmPassword" class="text-danger text-left d-block font-size-12"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary cm-login-btn">RESET</button>
                            </div>
                            <div class="font-size-14 font-weight-bolder form-group mb-3 mt-5 text-center">
                                @Html.ActionLink("Back To Login", "Login", "Account", "", new { @Class = "customlink" })
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('input:visible:first').focus();
        // On blue any input, go for validation.
         $('input', 'form').blur(function () {
            $(this).valid();
        });

        @if (ViewBag.dynamicMessage != null) {
            <Text>
                $("#dynamicInfoTitleType").html('@ViewBag.dynamicMessage.messageType:');
                $("#dynamicInfoTitleValue").html('@ViewBag.dynamicMessage.messageCode');
                $("#dynamicInfoBodyValue").html("@Html.Raw(ViewBag.dynamicMessage.message)");
                $('#dynamicInfoModel').modal({
                keyboard: false,
                    backdrop: 'static'
                });
            </Text>
        }
     });

$(document).on('keypress', function (e) {
    if (e.which == 13) {
        $("#resetpassword-form").submit();
    }
});

</script>