<div id="forms" class="page-layout simple fullwidth doc-page breadcrumb-fixed cm-custom-label-common cm-manage-supplier-invoice-slip cm-manage-kit-allocation" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
    <div class="header md-accent-bg cm-purchase-header" layout="row" layout-align="space-between start">

        <div layout="row" flex="15" flex-lg="15">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h2" layout="row" layout-align="start center">
                    <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
                </div>
                <div layout="row" layout-align="start center">
                    <breadcrumbs></breadcrumbs>
                </div>
            </div>
        </div>

        <div layout="row" flex="85" flex-lg="85">
            <div layout="row" flex="100" class="cm-workorder-table" layout-wrap>
                <div flex layout="row" layout-wrap>
                    <div flex="100" layout-wrap>
                        <table cellspacing="0" cellpadding="0" class="cm-bom-header-table">
                            <tbody>
                                <tr>
                                    <th class="cm-bom-t-title text-right">
                                        <a class="cursor-pointer cm-bom-t-title text-underline" ng-click="vm.goToSalesOrderList();">
                                            PO#:
                                        </a>
                                    </th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc" ng-class="{'text-underline': vm.salesOrderDetail.poNumber, 'cursor-pointer': vm.salesOrderDetail.poNumber}" ng-click="vm.goToManageSalesOrder()">
                                            <md-tooltip ng-if="vm.salesOrderDetail.poNumber">{{vm.salesOrderDetail.poNumber}}</md-tooltip>
                                            <b>{{vm.salesOrderDetail.poNumber || '-' }}</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">PO Qty:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>{{(vm.salesOrderDetail.poQty | numberWithoutDecimal) || '0'}}</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">Tentative PO Due Date:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>{{(vm.salesOrderDetail.shippingDate | date: vm.DefaultDateFormat) || '-'}}</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">Release Count:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>0</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">Kit-Allocation BOM Internal Version:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>{{vm.salesOrderDetail.kitAllocationInternalVersion || '-'}}</b>
                                        </span>
                                    </td>

                                </tr>

                                <tr>
                                    <th class="cm-bom-t-title text-right">
                                        <a class="cursor-pointer cm-bom-t-title text-underline" ng-click="vm.goToSalesOrderList();">
                                            {{vm.LabelConstant.SalesOrder.SO}}:
                                        </a>
                                    </th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc" ng-class="{'text-underline': vm.salesOrderDetail.soNumber, 'cursor-pointer': vm.salesOrderDetail.soNumber}" ng-click="vm.goToManageSalesOrder()">
                                            <md-tooltip ng-if="vm.salesOrderDetail.soNumber">{{vm.salesOrderDetail.soNumber}}</md-tooltip>
                                            <b>{{vm.salesOrderDetail.soNumber || '-'}}</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">MRP Qty:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>{{(vm.salesOrderDetail.soQty | numberWithoutDecimal) || '0'}}</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">Material Dock date:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>{{(vm.salesOrderDetail.materialDueDate | date: vm.DefaultDateFormat) || '-'}}</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">To Be Released:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>0</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">Current BOM Internal Version:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>{{vm.salesOrderDetail.currentInternalVersion || '-'}}</b>
                                        </span>
                                    </td>

                                </tr>

                                <tr>
                                    <th class="cm-bom-t-title text-right">
                                        <a class="cursor-pointer cm-bom-t-title text-underline" ng-click="vm.goToAssy();" ng-if="vm.salesOrderDetail.SubAssyId">
                                            Sub Assy#:
                                        </a>
                                    </th>
                                    <td>
                                        <div ng-if="vm.salesOrderDetail.SubAssyId">
                                            <common-pid-code-label-link component-id="vm.salesOrderDetail.SubAssyId"
                                                                        label="vm.LabelConstant.MFG.MFGPN"
                                                                        value="vm.salesOrderDetail.SubAssy"
                                                                        is-copy="true"
                                                                        rohs-icon="vm.salesOrderDetail.kitRohsIcon"
                                                                        rohs-status="vm.salesOrderDetail.kitRohsName"
                                                                        is-formated="true">
                                            </common-pid-code-label-link>
                                        </div>
                                    </td>

                                    <th class="cm-bom-t-title text-right">
                                        <a class="cursor-pointer cm-bom-t-title text-underline" ng-click="vm.goToAssy();">
                                            Assy#:
                                        </a>
                                    </th>
                                    <td>
                                        <div ng-if="vm.salesOrderDetail && vm.salesOrderDetail.partId">
                                            <common-pid-code-label-link component-id="vm.salesOrderDetail.partId"
                                                                        label="vm.LabelConstant.MFG.MFGPN"
                                                                        value="vm.salesOrderDetail.assyName"
                                                                        is-copy="true"
                                                                        rohs-icon="vm.salesOrderDetail.RoHSStatusIcon"
                                                                        rohs-status="vm.salesOrderDetail.rohs"
                                                                        is-formated="true">
                                            </common-pid-code-label-link>
                                        </div>
                                        <span class="cm-bo-font-large cm-bom-t-desc" ng-if="!vm.salesOrderDetail || !vm.salesOrderDetail.partId">-</span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">Latest Planned Kit-Qty:
                                      <md-tooltip>Latest Planning from Sales order</md-tooltip>
                                    </th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>{{(vm.salesOrderDetail.kitAllocationKitQty | numberWithoutDecimal) || '0'}}</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">Last SMT Build Feasibility:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>{{(vm.salesOrderDetail.SMTBuildFeasibility | number: 2) || '0'}}</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">Total Released:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>{{(vm.salesOrderDetail.soQty | numberWithoutDecimal) || '0'}}</b>
                                        </span>
                                    </td>

                                    <!--<th rowspan="2"></th>-->
                                    <td rowspan="2" class="pt-10 text-right">
                                      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-disabled="vm.isReCalculateDisable" ng-click="vm.reCalculateKitAllocation()">Recalculate Kit</md-button>
                                    </td>
                                </tr>

                                <tr>

                                    <th class="cm-bom-t-title text-right"><span ng-if="vm.salesOrderDetail.subAssyMrpQty">Assy Mrp Qty:</span></th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc" ng-if="vm.salesOrderDetail.subAssyMrpQty">
                                          <b>{{(vm.salesOrderDetail.subAssyMrpQty | numberWithoutDecimal) || '0'}}</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">Nickname:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc cm-nickname">
                                            <md-tooltip ng-if="vm.salesOrderDetail.nickName">{{vm.salesOrderDetail.nickName}}</md-tooltip>
                                            <b>{{vm.salesOrderDetail.nickName || '-'}}</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">Current Planned Kit Qty:
                                      <md-tooltip>Previously planned from sales order</md-tooltip>
                                    </th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <!--Need to change here soQty replace with kitQty when kitQty developement is done-->
                                            <b>{{(vm.salesOrderDetail.kitQty | numberWithoutDecimal) || '0'}}</b>
                                        </span>
                                    </td>

                                    <th class="cm-bom-t-title text-right">Last PTH Build Feasibility:</th>
                                    <td>
                                        <span class="cm-bo-font-large cm-bom-t-desc">
                                            <b>{{(vm.salesOrderDetail.PTHBuildFeasibility | number: 2) || '0'}}</b>
                                        </span>
                                    </td>
                                    <th class="text-right white-text">
                                        <a class="cursor-pointer cm-bom-t-title text-underline" ng-click="vm.shipPlanDetail();">
                                            Ship Plan
                                        </a>
                                    </th>
                                </tr>

                                <tr class="cm-purchase-search-m">
                                    <th class="text-right white-text">
                                        <a class="cursor-pointer cm-bom-t-title text-underline" ng-click="vm.goToSOList();">
                                            {{vm.autoCompleteSO.placeholderName}}:
                                        </a>
                                    </th>
                                    <td colspan="4">
                                        <md-input-container ng-if="vm.autoCompleteSO" class="autocompletecustom margin-0 widget-dashboard-search-area cm-kit-allocation-so-autocomplete" flex="100" flex-gt-xs="100">
                                            <custom-auto-complete datalist="vm.SalesOrderNumberList"
                                                                  column-name="vm.autoCompleteSO.columnName"
                                                                  key-column-name="vm.autoCompleteSO.keyColumnName"
                                                                  input-name="vm.autoCompleteSO.inputName"
                                                                  placeholder-name="vm.autoCompleteSO.placeholderName"
                                                                  key-column-id="vm.autoCompleteSO.keyColumnId"
                                                                  is-required="vm.autoCompleteSO.isRequired"
                                                                  is-addnew="vm.autoCompleteSO.isAddnew"
                                                                  callback-fn="vm.autoCompleteSO.callbackFn"
                                                                  on-select-callback-fn="vm.autoCompleteSO.onSelectCallbackFn">
                                            </custom-auto-complete>
                                            <span flex="100" class="font-size-10">
                                                <b>i.e. PO#, {{vm.LabelConstant.SalesOrder.SO}}, Assy ID, PO Qty, Kit#</b>
                                            </span>
                                        </md-input-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-card cm-purchase-navigation" layout="column" flex ng-if="vm.assyList.length > 0 && vm.isSelectSONotFound == false && vm.isReCalculate == false">
        <div layout="row" flex="100">
            <ms-form-wizard flex>
                <md-tabs validate-step="true" is-valid="vm.isStepValid" class="cm-bom-tab-main manage-customer-tabing padding-0" md-dynamic-height md-border-bottom md-selected="vm.selectedTabIndex">
                    <md-input-container class="margin-0 pr-10 pt-0" flex="100" ng-if="vm.selectedTabIndex == 0">
                        <md-button class="md-raised md-icon-button part-cost-button cm-retrieve-prices-button custom-tab-button margin-top-1"
                                   ng-click="vm.setDefaultSize()">
                            <md-tooltip md-direction="top">Reset Default Page Size</md-tooltip>
                            <md-icon class="mdi mdi-rotate-3d"></md-icon>
                        </md-button>
                        <md-button class="md-raised md-icon-button part-cost-button cm-retrieve-prices-button custom-tab-button margin-top-1"
                                   ng-click="vm.increasePageSize()">
                            <md-tooltip md-direction="top">Increase Page Size</md-tooltip>
                            <md-icon class="mdi mdi-magnify-plus"></md-icon>
                        </md-button>
                        <md-button class="md-raised md-icon-button part-cost-button cm-retrieve-prices-button custom-tab-button margin-top-1"
                                   ng-click="vm.decreasePageSize()">
                            <md-tooltip md-direction="top">Decrease Page Size</md-tooltip>
                            <md-icon class="mdi mdi-magnify-minus"></md-icon>
                        </md-button>
                    </md-input-container>
                    <md-input-container class="margin-0 pt-8 pr-10" flex="100">
                        <md-checkbox ng-model="vm.packagingAlias" class="" aria-label="packaging" flex="100" ng-change="vm.changePackagingAlias();">
                            <b>Show With Packaging Alias</b>
                        </md-checkbox>
                    </md-input-container>
                    <div class="inline-block cm-progressbar-part-costing" ng-if="vm.selectedTabIndex == 0 && vm.purchaseLoading">
                        <span class="font-size-12">Pricing In-Progress</span>
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                    </div>
                    <md-button ng-if="vm.selectedTabIndex == 0 && !vm.purchaseLoading"
                               ng-disabled="vm.purchaseLoading"
                               class="md-raised md-icon-button part-cost-button cm-retrieve-prices-button custom-tab-button margin-top-imp margin-bottom-1"
                               ng-class="{'item-disabled':(vm.purchaseLoading) }"
                               ng-click="vm.UpdateAllPricing($event)">
                        <md-tooltip md-direction="top">Retrieve Prices From Cloud</md-tooltip>
                        <md-icon class="icon-cloud"></md-icon>
                        <span>$</span>
                    </md-button>
                    <md-button ng-if="vm.selectedTabIndex == 0"
                               class="md-raised md-icon-button part-cost-button custom-tab-button margin-top-imp margin-bottom-1"
                               ng-disabled="vm.purchaseLoading"
                               ng-class="{'item-disabled':(vm.purchaseLoading)}"
                               ng-click="vm.stockUpdate($event)">
                        <md-tooltip md-direction="top">Update Stock</md-tooltip>
                        <img ng-src="{{vm.path}}" />
                    </md-button>
                    <md-button ng-if="vm.selectedTabIndex == 0 && vm.purchaseLoading"
                               class="md-raised md-icon-button part-cost-button md-primary custom-tab-button margin-top-imp margin-bottom-1"
                               ng-click="vm.StopAllPricing($event)">
                        <md-tooltip md-direction="top">Stop Pricing</md-tooltip>
                        <md-icon class="icon icon-stop"></md-icon>
                    </md-button>
                    <md-tab ng-repeat="item in vm.subAssemblyList" ui-sref="{{item.src}}">
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-text">{{item.pIDCode}}</span>
                            </span>
                        </md-tab-label>
                        <md-tab-body>
                            <div id="splitterDiv" data-split-pane class="cm-purchase-split-pane-height" ng-if="item.partId == 0 && item.isActiveTab" data-split-pane-properties="splitPaneProperties">
                                <div data-split-pane-component data-height="70%" class="min-height-100">
                                    <div data-split-pane data-split-pane-properties="splitPanePurchaseProperties">
                                        <div data-split-pane-component layout="column" data-width="80%">
                                            <purchase-consolidated-grid sales-order-detail="vm.salesOrderDetail" is-select-s-o="vm.isSelectSO" packaging-alias="vm.packagingAlias" ui-view="kitallocationconsolidated" part-ids="vm.partIDs"></purchase-consolidated-grid>
                                        </div>
                                        <div data-split-pane-divider data-width="5px"></div>
                                        <div data-split-pane-component>
                                            <purchase-add-edit-po-details></purchase-add-edit-po-details>
                                        </div>
                                    </div>
                                </div>
                                <div data-split-pane-divider data-height="5px"></div>
                                <div data-split-pane-component class="min-height-210">
                                    <div data-split-pane data-split-pane-properties="splitSubPaneProperties">
                                        <div data-split-pane-component layout="column" data-height="40%" class="min-height-100">
                                            <div ng-if="vm.partIDs" layout="column" flex>
                                                <purchase-selected-parts-detail part-ids="vm.partIDs"></purchase-selected-parts-detail>
                                            </div>
                                            <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap
                                                 ng-if="!vm.partIDs">
                                                <p flex="100" class="empty-state-title">Please Select Consolidated Item.</p>
                                            </div>
                                        </div>
                                        <div data-split-pane-divider data-height="5px"></div>
                                        <div data-split-pane-component data-height="40%" layout="column" class="min-height-100">
                                            <div ng-if="vm.kitLineiTemID" layout="column" flex>
                                                <purchase-consolidate-select-part-grid ref-sales-order-det-Id="vm.refSalesOrderDetID" kit-line-item-id="vm.kitLineiTemID" request-qty="vm.salesOrderDetail.soQty" click="vm.click" ref-mongo-trns-id="vm.refMongoTransId"></purchase-consolidate-select-part-grid>
                                            </div>
                                            <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap
                                                 ng-if="!vm.kitLineiTemID">
                                                <p flex="100" class="empty-state-title">Please Select Consolidated Item.</p>
                                            </div>
                                            <!--Price History-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <purchase-grid sales-order-detail="vm.salesOrderDetail" is-select-s-o="vm.isSelectSO" assembly-detail="item" packaging-alias="vm.packagingAlias" ui-view="kitallocation" ng-if="item.partId != 0 && item.isActiveTab"></purchase-grid>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </ms-form-wizard>
        </div>
    </div>

    <div class="empty-state text-center full-height cm-purchase-navigation" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isSelectSONotFound == true">
        <div class="emty-icon" flex="100">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
        </div>
        <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
    </div>

    <div class="empty-state text-center full-height cm-purchase-navigation" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound == true && vm.isSelectSONotFound == false && vm.assyList.length == 0">
        <div class="emty-icon" flex="100">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
        </div>
        <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.BOMNOTFOUND}}</p>
        <p flex="100">
            {{vm.EmptyMesssage.ADDNEWMESSAGE}}
        </p>
        <p flex="100">
            <md-button class="md-fab md-mini" aria-label="Upload BOM" ng-click="vm.uploadBom()">
                <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
                <md-tooltip md-direction="top">Upload BOM</md-tooltip>
            </md-button>
        </p>
    </div>

    <div class="empty-state text-center full-height cm-purchase-navigation" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isReCalculate == true">
        <div class="emty-icon" flex="100">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
        </div>
        <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.RECALCULATE}}</p>
    </div>

</div>
