<md-dialog aria-label="Blanket PO Details" flex="60" class="cm-custom-label-common cm-multiline-popup-header" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <md-toolbar class="md-toolbar ma pt-5">
    <div class="md-toolbar-tools">
      <h2 class="nowrap">
        PO(s)
      </h2>
      <span flex></span>
      <div layout="row" layout-align="end center" layout-wrap class="mv-5">
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
      </div>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding custom-scroll mh-5" layout="column">
    <md-content class="padding-10">
      <div class="content fullpage-datatable" layout="column">
        <div layout="row" flex="100" class="border-0 cm-section-main">
          <div flex>
            <div class="feeder-scan-message margin-0 color-black">
              <p class="margin-0">
                <span layout>
                  <span>MPN:</span>
                  <common-pid-code-label-link component-id="vm.data.partID"
                                              label="'MPN'"
                                              value="vm.data.mfgPN"
                                              is-copy="true"
                                              rohs-icon="vm.data.rohsIcon"
                                              rohs-status="vm.data.rohsName"
                                              is-formated="true"
                                              is-assembly="vm.data.partType == vm.subAssy"></common-pid-code-label-link>
                  <span class="ml-30">Assy ID/PID:</span>
                  <common-pid-code-label-link component-id="vm.data.partID"
                                              label="'Assy ID/PID'"
                                              value="vm.data.PIDCode"
                                              is-copy="true"
                                              rohs-icon="vm.data.rohsIcon"
                                              rohs-status="vm.data.rohsName"
                                              is-formated="true"
                                              is-assembly="vm.data.partType == vm.subAssy"></common-pid-code-label-link>
                </span>
                Following Sales Order(s) not linked with Blanket PO
              </p>
            </div>
          </div>
          <div class="cm-section-inner padding-0">
            <table cellspacing="0" cellpadding="0" class="cm-table-padding-5 cm-table-input-main cm-table-cell-height-auto">
              <tbody>
                <tr>
                  <th>
                    <p class="label-container margin-0"> PO Qty:</p>
                  </th>
                  <td class="text-right">
                    <label class="margin-0">{{vm.data.qty || 0}}</label>
                  </td>
                  <th>
                    <p class="label-container margin-0">Cumulative Release Qty:</p>
                  </th>
                  <td class="text-right">
                    <label class="margin-0"><a ng-if="vm.data.usedQty" ng-click="vm.openAssignedQty($event)" class="underline cursor-pointer">{{vm.data.usedQty || 0}}</a><span ng-if="!vm.data.usedQty">0</span></label>
                  </td>
                </tr>
                <tr>
                  <th>
                    <p class="label-container margin-0">Open Qty:</p>
                  </th>
                  <td class="text-right">
                    <label class="margin-0">{{vm.openQty}}</label>
                  </td>
                  <th>
                    <p class="label-container margin-0">Linked Qty:</p>
                  </th>
                  <td class="text-right"> 
                    <label class="margin-0">{{vm.totalQty()}}</label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div layout="row" flex="100">
          <div layout="row" class="cm-ml-auto cm-btn-group">
            <md-button ng-if="!(!vm.soBlanketPOlist || vm.soBlanketPOlist.length === 0)" class="md-primary md-raised mv-0" ng-click="vm.openFuturePO($event)" aria-label="Submit">Create & Link PO</md-button>
            <md-button id="btnRefresh" class="md-primary md-raised mv-0" ng-click="vm.refresh()" aria-label="Submit">Refresh</md-button>
          </div>
        </div>

        <div class="margin-top-10 cm-section-main order-detail-form-container payments md-background-bg md-whiteframe-1dp" layout="column" flex="100" ng-show="vm.soBlanketPOlist.length>0">
          <div layout="row" layout-align="space-between center" class="cm-section-header">
            <h2 class="margin-0" flex="100">
              PO#(s)
            </h2>
          </div>
          <div class="cm-section-inner">
            <md-table-container layout="row" flex="100" class="max-height-450 border-bottom-gray">
              <table md-table class="md-data-table table-row-select cm-table-padding-5">
                <thead md-head fix-head md-order="vm.queryAssemblyList.order">
                  <tr md-row>
                    <th md-column width="100">
                      Action
                    </th>
                    <th md-column width="50">
                      #
                    </th>
                    <th md-column-width="100">
                      SO Posting Status
                    </th>
                    <th md-column md-order-by="poNumber">
                      PO#
                    </th>
                    <th md-column width="80" md-order-by="poRevision">
                      PO Rev.
                    </th>
                    <th md-column md-order-by="salesOrderNumber">
                      SO#
                    </th>
                    <th md-column width="80" md-order-by="revision">
                      SO Ver.
                    </th>
                    <th md-column md-order-by="custPOLineNumber" width="50">
                      PO Line#
                    </th>
                    <th md-column md-order-by="qty" class="text-right">
                      Qty
                    </th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="item in vm.soBlanketPOlist">
                    <td md-cell width="100">
                      <md-checkbox class="margin-left-20" ng-model="item.isBlanketPO"
                                   ng-disabled="item.status==0"></md-checkbox>
                    </td>
                    <td md-cell width="50">{{$index+1}}</td>
                    <td md-cell width="100">
                      <div>
                        <span class="label-box" ng-class="vm.getWoStatusClassName(item.status)">
                          {{item.statusText}}
                        </span>
                      </div>
                    </td>
                    <td md-cell><a class="text-decoration-underline cursor-pointer" ng-click="vm.goToSalesOrderMaster(item.id)">{{item.poNumber}}</a><copy-text label="'PO#'" text="item.poNumber" hide-copy-tooltip="false"></copy-text></td>
                    <td md-cell>{{item.poRevision}}</td>
                    <td md-cell><a class="text-decoration-underline cursor-pointer" ng-click="vm.goToSalesOrderMaster(item.id)">{{item.salesOrderNumber}}</a><copy-text label="'SO#'" text="item.salesOrderNumber" hide-copy-tooltip="false"></copy-text></td>
                    <td md-cell>{{item.revision}}</td>
                    <td md-cell>{{item.custPOLineNumber}}</td>
                    <td md-cell class="text-right cm-cell-orderby">
                      <span>{{item.qty}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </div>
        </div>
        <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="(!vm.soBlanketPOlist || vm.soBlanketPOlist.length === 0)">
          <div class="emty-icon" flex="100">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
          </div>
          <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
          <p flex="100">
            {{vm.EmptyMesssage.ADDNEWMESSAGE}}
          </p>
          <p flex="100">
            <md-button class="md-fab md-mini" aria-label="Create & Link PO" ng-click="vm.openFuturePO($event)">
              <md-icon role="img" class="material-icons mat-icon t-icons-future-po add-icon"></md-icon>
              <md-tooltip> Create & Link PO</md-tooltip>
            </md-button>
          </p>
        </div>
      </div>
    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" id="cancelBtn" ng-click="vm.cancel(false)">Close</md-button>
    <md-button id="btnSave" class="md-primary md-raised" ng-class="{'md-formdirty': vm.totalQty()}" ng-click="vm.saveMappedblanketPODetails()" aria-label="Submit">SAVE</md-button>
  </md-dialog-actions>

</md-dialog>
