<md-dialog aria-label="PurchaseInspectionDetail" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>

  <md-dialog-content class="padding-25">
    <md-content>

      <h2 class="md-title ng-binding">{{vm.messageContent ? vm.messageContent.messageType : ''}}: {{vm.messageContent ? vm.messageContent.messageCode : ''}}</h2>

      <div class="dynamic-msg-content">
        <div class="dynamic-msg-body">
          <ng-bind-html ng-if="vm.messageContent && vm.messageContent.message" ng-bind-html="vm.messageContent.message"></ng-bind-html>
        </div>
      </div>

    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button id="btn_{{$index}}" class="md-raised" ng-click="vm.cancel(item.name)" ng-repeat="item in vm.buttonsList" custom-auto-focus="{{vm.buttonIndexForFocus == $index ? true : false}}" ng-disabled="(item.isDisabled)" ng-class="{'cm-feture-btn-color': item.isFeatureClass }">{{item.name}}</md-button>
  </md-dialog-actions>

</md-dialog>
