<div flex="100" class="cm-custom-label-common" layout="column">
  <div class="addtemplate fab-footer-right layout-wrap-rs-1600" layout="row" layout-align="end end">
    <md-button class="md-raised md-primary cm-document-attachment-button ml-0"
               ng-click="vm.backToDocument()">
      Back To Document
    </md-button>
    <span class="cm-header-label text-bold" flex layout="row" layout-align="start center" ng-if="vm.role">
      <span class="mb-5">
        Root Folder:
        <label class="label-box cursor-pointer label-primary">
          {{vm.role}}
        </label>
      </span>
    </span>
    <div class="search searchbar document-search-box" ng-if="vm.isNoDocumentFound" layout="row" layout-align="end end">
      <input class="search-input" type="text" placeholder="Type here to search document"
             ng-model="vm.queryDocument.documentSearch" ng-change="vm.searchDocument(vm.queryDocument.documentSearch)"
             max="255">
    </div>
    <md-button class="md-raised md-primary cm-feture-btn-color" ng-click="vm.DeleteMultipleRows()" ng-if="vm.isNoDocumentFound"
               ng-disabled="vm.isReadOnly || (!vm.selectedFileFolder.length || !vm.isEnablePermanentDeleteFeature)">
      Delete Item(s)
    </md-button>
    <md-button class="md-raised md-primary cm-document-attachment-button"
               ng-click="vm.ClearSearch()"
               ng-if="vm.queryDocument.documentSearch && !vm.isRecycleddirectiveCall">
      Clear
    </md-button>
  </div>
  <form name="vm.recycleDcoumentList" id="file-manager-form" class="padding-0 cm-document-upload-section cm-doc-right" novalidate cg-busy="{promise:vm.cgBusyLoading}">
    <div flex="100" class="relative pastewrapper cursor-default" onmousedown="return true">
      <div id="file-manager" class="page-layout simple right-sidenav" layout="row" ng-show="vm.isNoDocumentFound">
        <!-- CENTER -->
        <div class="center cm-doc-scroll" layout="column" flex>
          <!-- CONTENT -->
          <md-content class="content custom-scroll text-left" flex layout="column">
            <div ng-include="'app/directives/custom/documents/views/recycle-list/recycle-list-view.html'" class="text-left" flex="100" layout="column"></div>
          </md-content>
          <!-- / CONTENT -->
        </div>
        <!-- / CENTER -->
      </div>
      <div class="empty-state text-center full-height" layout="row" layout-align="center center" layout-wrap ng-if="!vm.isNoDocumentFound">
        <div class="emty-icon" flex="100">
          <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
        </div>
        <p flex="100" class="empty-state-title">
          {{vm.EmptyMesssage.NO_ANY_DOC_MESSAGE}}
        </p>
        <p flex="100">
          <md-button class="md-fab md-mini" aria-label="Refresh" ng-click="vm.getRecycleBinListByRefTransID()">
            <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
            <md-tooltip>Refresh</md-tooltip>
          </md-button>
        </p>
      </div>
    </div>
  </form>
</div>
