<md-dialog class="cm-custom-label-common cm-uid-transfer-page" aria-label="UIDTransfer" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="95">
  <form name="vm.formChangeUMIDInitQty" class="md-inline-form" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Change Initial Quantity</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerData"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
      <md-content class="padding-10 mh-5">
        <div layout="row" flex>
          <div flex="25" layout="row" class="mr-5">
            <div class="cm-section-main margin-bottom-5" flex>
              <div class="cm-section-inner">
                <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                  <tbody>
                    <tr>
                      <th><p class="label-container">Scan UMID<span ng-if="!vm.isUIDDisable">&nbsp;*<scan-or-enter></scan-or-enter></span></p></th>
                      <td>
                        <md-input-container flex="100" class="margin-bottom-0">
                          <input type="text" name="uid" capitalize ng-model="vm.UMIDDetail.uid" ng-keypress="vm.scanUID($event);" id="uid" custom-auto-focus="true" required ng-disabled="vm.isUIDDisable" ng-maxlength="vm.UMID_MAX_LENGTH">
                          <span flex="100" class="font-size-10">
                            <b>{{vm.LabelConstant.ScanOREnter.ScanUMID}}</b>
                          </span>
                          <div ng-messages="vm.formChangeUMIDInitQty.uid.$touched && vm.formChangeUMIDInitQty.uid.$error" role="alert">
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="maxlength">
                              <span>{{vm.getMaxLengthValidation(vm.UMID_MAX_LENGTH,vm.formChangeUMIDInitQty.uid.$viewValue.length)}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                    </tr>

                    <tr>
                      <th><p class="label-container"> <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToWHList();">{{vm.LabelConstant.TransferStock.WH}}</a></p></th>
                      <td>
                        <md-input-container flex="100" class="margin-bottom-0">
                          <input type="text" name="warehouse" ng-model="vm.UMIDDetail.Warehouse" ng-disabled="true">
                        </md-input-container>
                      </td>
                    </tr>

                    <tr>
                      <th><p class="label-container"> <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToBinList();">{{vm.LabelConstant.TransferStock.Bin}}</a></p></th>
                      <td>
                        <md-input-container flex="100" class="margin-bottom-0">
                          <input type="text" name="bin" ng-model="vm.UMIDDetail.bin" ng-disabled="true">
                        </md-input-container>
                      </td>
                    </tr>

                    <tr>
                      <th><p class="label-container"><a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToWHList();">{{vm.LabelConstant.TransferStock.ParentWH}}</a></p></th>
                      <td>
                        <md-input-container flex="100" class="margin-bottom-0">
                          <input type="text" name="department" ng-model="vm.UMIDDetail.department" ng-disabled="true">
                        </md-input-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div flex="85" layout="row" class="ml-5" layout-wrap>
            <div class="cm-section-main margin-bottom-5 change-umid-inital-count-table" flex="100">
              <div class="cm-section-header" flex="100">
                <h2>Current Stock</h2>
              </div>
              <div class="cm-section-inner padding-0">
                <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                  <tbody>
                    <tr>
                      <th class="text-center">SPQ</th>
                      <th class="text-center">Count</th>
                      <th class="text-center">Units</th>
                      <th class="text-center">Initial Count</th>
                      <th class="text-center">Initial Units</th>
                      <th class="text-center"><a class="cm-text-decoration" ng-click="vm.goToUomList();" tabindex="-1">UOM</a></th>
                    </tr>
                    <tr>
                      <td class="text-right">{{vm.UMIDDetail.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (vm.UMIDDetail.spq)  : (vm.UMIDDetail.spq | unit)}}</td>
                      <td class="text-right">{{vm.UMIDDetail.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (vm.UMIDDetail.pkgQty) : (vm.UMIDDetail.pkgQty | unit)}}</td>
                      <td class="text-right">{{vm.UMIDDetail.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (vm.UMIDDetail.pkgUnit) : (vm.UMIDDetail.pkgUnit | unit)}}</td>
                      <td class="text-right">{{vm.UMIDDetail.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (vm.UMIDDetail.orgqty) : (vm.UMIDDetail.orgqty | unit)}}</td>
                      <td class="text-right">{{vm.UMIDDetail.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (vm.UMIDDetail.orgPkgUnit) : (vm.UMIDDetail.orgPkgUnit | unit)}}</td>
                      <td>
                        <md-input-container flex="100" class="autocompletecustom min-width-initial margin-bottom-0" ng-if="vm.autoCompleteuom">
                          <custom-auto-complete datalist="vm.uomlist"
                                                column-name="vm.autoCompleteuom.columnName"
                                                key-column-name="vm.autoCompleteuom.keyColumnName"
                                                input-name="vm.autoCompleteuom.inputName"
                                                placeholder-name="vm.autoCompleteuom.placeholderName"
                                                key-column-id="vm.autoCompleteuom.keyColumnId"
                                                is-addnew="vm.autoCompleteuom.isAddnew"
                                                callback-fn="vm.autoCompleteuom.callbackFn"
                                                on-select-callback-fn="vm.autoCompleteuom.onSelectCallbackFn"
                                                is-required="vm.autoCompleteuom.isRequired"
                                                is-disabled="true">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="cm-section-main margin-bottom-5 pt-15  change-umid-inital-count-input" flex="100">
              <div class="cm-section-inner">
                <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                  <tbody>
                    <tr>
                      <th><p class="label-container">Unit</p></th>
                      <td>
                        <md-input-container flex="100" class="margin-bottom-0">
                          <input type="number" id="componentUnit" name="componentUnit" ng-model="vm.UMIDDetail.componentUnit" placeholder="Unit" ng-disabled="true">
                        </md-input-container>
                      </td>
                      <th><p class="label-container">Count<span>&nbsp;*</span></p></th>
                      <td>
                        <md-input-container flex="100" class="margin-bottom-0">
                          <input type="number" id="initialPkgQty" name="initialPkgQty" ng-model="vm.UMIDDetail.initialPkgQty" input-number-decimal-place placeholder="Count" onkeypress="return OnlyNumbersWithDot(event)" min="1" maxlength="19" step="{{$root.unitInputStep}}" required ng-change="vm.changeInitialPkgQty()">
                          <div ng-messages="vm.formChangeUMIDInitQty.initialPkgQty.$touched && vm.formChangeUMIDInitQty.initialPkgQty.$error" role="alert">
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="min || number || step || maxlength || decimalNumber">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                      <th><p class="label-container">Units</p></th>
                      <td>
                        <md-input-container flex="100" class="margin-bottom-0">
                          <input type="number" id="initialPkgUnits" name="initialPkgUnits" ng-model="vm.UMIDDetail.initialPkgUnits" placeholder="Units" ng-disabled="true">
                          <span flex="100" class="font-size-10">
                            <b>i.e. Unit * Count</b>
                          </span>
                        </md-input-container>
                      </td>
                      <th><p class="label-container"><a class="cm-text-decoration" ng-click="vm.goToUomList();" tabindex="-1">UOM</a></p></th>
                      <td style="min-width:250px">
                        <md-input-container flex="100" class="autocompletecustom min-width-initial margin-bottom-0" ng-if="vm.autoCompleteuom">
                          <custom-auto-complete datalist="vm.uomlist"
                                                column-name="vm.autoCompleteuom.columnName"
                                                key-column-name="vm.autoCompleteuom.keyColumnName"
                                                input-name="vm.autoCompleteuom.inputName"
                                                placeholder-name="vm.autoCompleteuom.placeholderName"
                                                key-column-id="vm.autoCompleteuom.keyColumnId"
                                                is-addnew="vm.autoCompleteuom.isAddnew"
                                                callback-fn="vm.autoCompleteuom.callbackFn"
                                                on-select-callback-fn="vm.autoCompleteuom.onSelectCallbackFn"
                                                is-required="vm.autoCompleteuom.isRequired"
                                                is-disabled="true">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr>
                      <th><p class="label-container">Comment<span>&nbsp;*</span></p></th>
                      <td colspan="7">
                        <md-input-container flex="100" class="margin-bottom-0">
                          <textarea id="initialQtyChangeRemark" name="initialQtyChangeRemark" ng-model="vm.UMIDDetail.initialQtyChangeRemark" placeholder="Note" ng-maxlength="1000" required></textarea>
                          <div ng-messages="vm.formChangeUMIDInitQty.initialQtyChangeRemark.$error" role="alert">
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="maxlength">
                              <span>{{vm.getMaxLengthValidation(1000,vm.formChangeUMIDInitQty.initialQtyChangeRemark.$viewValue.length)}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised"  ng-class="{'md-formdirty': vm.checkFormDirty(vm.formChangeUMIDInitQty)}"  ng-click="vm.checkUMIDQty()">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
