
<md-dialog aria-label="AddDataSheetURL" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="60">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add Data Sheet URL</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
    <md-content class="padding-10">
      <form name="vm.dataSheetForm" class="md-inline-form" novalidate cg-busy="{promise:vm.cgBusyLoading}">
        <div class="input-wrapper" layout="row" flex="100">
          <p class="label-container">Data Sheet URL<span>&nbsp;*</span></p>
          <md-input-container flex="100" md-no-float>
            <input name="URL"
                   type="text"
                   ng-model="vm.DataSheetURL.URL"
                   ng-maxlength="500"
                   placeholder="Data Sheet URL"
                   ng-required="true"
                   custom-auto-focus="true"
                   ng-pattern="vm.WebSitePattern">
            <div ng-messages="vm.dataSheetForm.URL.$error" ng-if="vm.dataSheetForm.URL.$touched" md-auto-hide="false"
                 role="alert">
              <div ng-message="maxlength">
                <span>{{vm.getMaxLengthValidation(500, vm.dataSheetForm.URL.$viewValue.length)}}</span>
              </div>
              <div ng-message="required">
                <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
              </div>
              <div ng-message="pattern">
                <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
              </div>
            </div>
          </md-input-container>
        </div>
      </form>
    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
    <md-button class="md-primary md-raised" ng-click="vm.confirmSelect();" ng-disabled="!vm.dataSheetForm.URL.$valid" aria-label="Add">Add</md-button>
  </md-dialog-actions>

</md-dialog>
