<md-dialog draggable class="receiving-pop-main cm-custom-label-common cm-capture-img-popup" cg-busy="{promise:vm.cgBusyLoading}" ng-class="{'cm-preview-images-popup':vm.isViewOnly,'cm-capture-height-popup':vm.verifiedLabel}">
  <form name="vm.LabelVerification" class="md-inline-form" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          {{vm.isViewOnly? 'Preview Images' : (vm.verifiedLabel? 'Capture Image Upon Successful Verification' : vm.Title)}}
        </h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button margin-0" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close margin-right-0"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="padding-10 mh-5">
      <div flex="100" layout="row" layout-wrap class="cm-section-main margin-bottom-5" ng-if="!vm.isViewOnly">
        <!-- UMID DETAIL BLOCK -->
        <div flex="100" layout="row" ng-if="vm.verifiedLabel">
          <div class="cm-section-main margin-bottom-5" flex="100">
            <div class="cm-section-header" flex="100">
              <div flex="100" layout="row" layout-align="start center" class="notification-condition">
                <div>
                  <span class="border pl-5 pr-5 pv-3" ng-if="vm.UIDVerificationDet.scanString1">
                    <b>UMID: {{vm.UIDVerificationDet.scanString1}}</b>
                  </span>
                </div>
                <h2 class="margin-left-auto-imp"><span>Initial Count: {{vm.UIDVerificationDet.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (vm.UIDVerificationDet.orgQty) : (vm.UIDVerificationDet.orgQty |unit)}} | Units: {{ vm.UIDVerificationDet.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (vm.UIDVerificationDet.orgPkgUnit) : (vm.UIDVerificationDet.orgPkgUnit |unit)}}</span></h2>
              </div>
            </div>
            <div class="cm-section-inner" layout layout-wrap>
              <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                <tbody>
                  <tr>
                    <td rowspan="3" class="w-70">
                      <img ng-if="vm.UIDVerificationDet.imageURL" ng-src="{{vm.UIDVerificationDet.imageURL}}" />
                    </td>
                    <th>
                      <p class="label-container font-size-15-imp">
                        <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToMFGList();">{{vm.LabelConstant.MFG.MFG}}</a>
                      </p>
                    </th>
                    <td class="cm-count-material-font padding-top-4">
                      <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToManufacturer();"><span class="cm-count-material-value">{{vm.UIDVerificationDet.mfgCodeName}}</span></a>
                    </td>
                    <th>
                      <p class="label-container font-size-15-imp">
                        <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToMountingTypeList();">Mounting Type</a>
                      </p>
                    </th>
                    <td class="cm-count-material-font padding-top-4 w-300">
                      <span class="cm-count-material-value">{{vm.UIDVerificationDet.mountingType}}</span>
                    </td>
                    <th>
                      <p class="label-container font-size-15-imp">
                        <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToPackageCaseTypeList();">Package/Case(Shape) Type</a>
                      </p>
                    </th>
                    <td class="cm-count-material-font padding-top-4 w-300">
                      <span class="cm-count-material-value">{{vm.UIDVerificationDet.partPackage}}</span>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <p class="label-container font-size-15-imp">
                        <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToPartList();">{{vm.LabelConstant.MFG.MFGPN}}</a>
                      </p>
                    </th>
                    <td class="cm-count-material-font padding-top-4">
                      <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToPartDetail();"> <span class="cm-count-material-value">{{vm.UIDVerificationDet.mfgPN}}</span></a>
                    </td>
                    <td rowspan="2" colspan="4" class="padding-bottom-0 pl-5 vertical-bottom-align">
                      <div class="cm-section-main current-stock-material-table" flex="100">
                        <div class="cm-section-inner padding-0">
                          <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                            <tbody>
                              <tr class="cm-count-material-header-bg">
                                <th></th>
                                <th class="text-center">SPQ</th>
                                <th class="text-center">Count</th>
                                <th class="text-center">Units</th>
                                <th class="text-center"><a class="cm-text-decoration" ng-click="vm.goToUomList();" tabindex="-1">UOM</a></th>
                              </tr>
                              <tr>
                                <th class="text-center">Last Counted Stock</th>
                                <td class="text-right">{{vm.UIDVerificationDet.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (vm.UIDVerificationDet.spq)  : (vm.UIDVerificationDet.spq | unit)}}</td>
                                <td class="text-right">{{vm.UIDVerificationDet.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (vm.UIDVerificationDet.pkgQty) : (vm.UIDVerificationDet.pkgQty | unit)}}</td>
                                <td class="text-right">{{vm.UIDVerificationDet.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (vm.UIDVerificationDet.pkgUnit) : (vm.UIDVerificationDet.pkgUnit | unit)}}</td>
                                <td class="w-200 input-text-center">
                                  {{vm.UIDVerificationDet.uom}}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <p class="label-container font-size-15-imp">
                        <span class="color-black">{{vm.LabelConstant.MFG.MFGPNDescription}}</span>
                      </p>
                    </th>
                    <td class="cm-count-material-font padding-top-4">
                      <span class="cm-count-material-value">{{vm.UIDVerificationDet.partDescription}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- / UMID DETAIL BLOCK -->
        <div class="cm-section-header" flex="100" layout-align="space-between center">
          <h2>{{vm.verifiedLabel ? 'Verification Type' : 'Select Verification Type'}}</h2>
          <div ng-if="vm.verifiedLabel && !vm.isViewOnly" layout="row" layout-align="center center" class="font-size-18 text-bold">
            <div layout="row" layout-align="center center" class="mr-20">
              <img src="assets/images/etc/verified-UMID.png" />
              <label class="mh-10 mv-0 text-success">Verification Successful</label>
            </div>
            <div layout="row" layout-align="center center" class="mr-20" ng-if="vm.UIDVerificationDet.cOfCValue">
              COFC:&nbsp;
              <a ng-click="vm.goToCofC(vm.UIDVerificationDet.compStockID);" class="cursor-pointer color-black text-decoration-underline">
                {{vm.UIDVerificationDet.cOfCValue}}
              </a>
            </div>
          </div>
        </div>
        <div class="cm-section-inner scan-verification-type cm-camera-popup" flex="100">
          <div layout="row" flex="100" layout-align="space-between center">
            <md-input-container flex="vm.verifiedLabel ? 70: 100" layout-wrap layout="row" class="md-input-has-value margin-top-5">
              <md-radio-group name="paymentMode" ng-model="vm.verification.verificationType" layout="column" layout-gt-xs="row" flex layout-align="start start" class="margin-0" ng-change="vm.chnageVerificationOption()" ng-required="true">
                <table cellspacing="0" cellpadding="0">
                  <tr class="cm-receiving-part-stk">
                    <td>
                      <md-radio-button name="verificationType" class="margin-right-0" ng-disabled="vm.verifiedLabel" value="{{vm.verificationType.UIDandMfgPNLabel}}">{{vm.verificationType.UIDandMfgPNLabel}}</md-radio-button>
                    </td>
                    <td>
                      <md-radio-button name="verificationType" class="margin-left-10" ng-disabled="vm.verifiedLabel" value="{{vm.verificationType.UIDtoPID}}">{{vm.verificationType.UIDtoPID}}</md-radio-button>
                    </td>
                    <td>
                      <md-radio-button name="verificationType" class="margin-left-10" ng-disabled="vm.verifiedLabel" value="{{vm.verificationType.UIDtoCPN}}">{{vm.verificationType.UIDtoCPN}}</md-radio-button>
                    </td>
                    <td>
                      <md-radio-button name="verificationType" class="margin-left-10" ng-disabled="vm.verifiedLabel" value="{{vm.verificationType.UIDtoUID}}">{{vm.verificationType.UIDtoUID}}</md-radio-button>
                    </td>
                    <td>
                      <md-radio-button name="verificationType" class="margin-right-0" ng-disabled="vm.verifiedLabel" value="{{vm.verificationType.UIDtoMfgPN}}">{{vm.verificationType.UIDtoMfgPN}}</md-radio-button>
                    </td>
                  </tr>
                </table>
              </md-radio-group>
            </md-input-container>

            <div layout="row" flex="30" ng-if="vm.verifiedLabel" layout-align="end center">
              <md-button class="md-btn md-primary md-raised mh-0 mt-0 padding-horizontal-15" ng-click="vm.takePicture()">
                <span>Take Picture</span>
              </md-button>
            </div>
          </div>

          <div flex="100" layout="row" ng-if="!vm.verifiedLabel" class="padding-top-10">
            <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
              <tr>
                <th><p class="label-container">Scan UMID<span ng-if="!(vm.verifiedLabel || vm.isDisableUMID)">&nbsp;*</span><scan-or-enter></scan-or-enter></p></th>
                <td>
                  <md-input-container ng-class="vm.themeClass" flex="100" class="margin-bottom-0 md-block margin-top-0">
                    <input type="text" name="uid" ng-model="vm.verification.uid" required ng-maxlength="vm.UMID_MAX_LENGTH" id="txtuid"
                           placeholder="{{vm.LabelConstant.ScanOREnter.ScanUMID}}" ng-disabled="vm.verifiedLabel || vm.isDisableUMID" capitalize class="input-text-uppercase" md-autofocus ng-keypress="vm.scanLabel($event)">
                    <span flex="100" class="font-size-10">
                      <b>{{vm.LabelConstant.ScanOREnter.ScanUMID}}</b>
                    </span>
                    <div ng-messages="vm.LabelVerification.uid.$error"
                                role="alert">
                      <div ng-message="required">
                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                      </div>
                      <div ng-message="maxlength">
                        <span>{{vm.getMaxLengthValidation(vm.UMID_MAX_LENGTH,vm.LabelVerification.uid.$viewValue.length)}}</span>
                      </div>
                    </div>
                  </md-input-container>
                </td>
              </tr>
              <tr>
                <th ng-if="vm.verification.verificationType === vm.verificationType.UIDandMfgPNLabel"> <p class="label-container">Scan {{vm.LabelConstant.MFG.MFG}}/Supplier PN label (1D or 2D)<span>&nbsp;*</span><scan-or-enter></scan-or-enter></p></th>
                <td ng-if="vm.verification.verificationType === vm.verificationType.UIDandMfgPNLabel">
                  <md-input-container flex="100" ng-class="vm.themeClass" class="margin-bottom-0 md-block margin-top-0">
                    <input type="text" name="scanMFGPNLabel" ng-model="vm.verification.scanMFGPNLabel" required id="txtscanmfglabel" ng-maxlength="1000"
                           placeholder="{{vm.LabelConstant.ScanOREnter.ScanMPNSPN}}" ng-disabled="vm.verifiedLabel" ng-keypress="vm.scanLabel($event)">
                    <span flex="100" class="font-size-10">
                      <b>{{vm.LabelConstant.ScanOREnter.ScanMPNSPN}}</b>
                    </span>
                    <div ng-messages="vm.LabelVerification.scanMFGPNLabel.$error"
                         role="alert">
                      <div ng-message="required">
                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                      </div>
                      <div ng-message="maxlength">
                        <span>{{vm.getMaxLengthValidation(1000,vm.LabelVerification.scanMFGPNLabel.$viewValue.length)}}</span>
                      </div>
                    </div>
                  </md-input-container>
                </td>
                <th ng-if="vm.verification.verificationType === vm.verificationType.UIDtoPID">
                  <p class="label-container">Scan PID<span>&nbsp;*</span><scan-or-enter></scan-or-enter></p>
                </th>
                <td ng-if="vm.verification.verificationType === vm.verificationType.UIDtoPID">
                  <md-input-container flex="100" ng-class="vm.themeClass" class="margin-bottom-0 md-block margin-top-0">
                    <input type="text" name="scanPID" ng-model="vm.verification.scanPID" required id="txtscanpid" ng-maxlength="50"
                           placeholder="{{vm.LabelConstant.ScanOREnter.ScanPID}}" ng-disabled="vm.verifiedLabel" ng-keypress="vm.scanLabel($event)">
                    <span flex="100" class="font-size-10">
                      <b>{{vm.LabelConstant.ScanOREnter.ScanPID}}</b>
                    </span>
                    <div ng-messages="vm.LabelVerification.scanPID.$error"
                         role="alert">
                      <div ng-message="required">
                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                      </div>
                      <div ng-message="maxlength">
                        <span>{{vm.getMaxLengthValidation(50,vm.LabelVerification.scanPID.$viewValue.length)}}</span>
                      </div>
                    </div>
                  </md-input-container>
                </td>
                <th ng-if="vm.verification.verificationType === vm.verificationType.UIDtoCPN">
                  <p class="label-container">Scan {{vm.LabelConstant.MFG.CPN}}<span>&nbsp;*</span><scan-or-enter></scan-or-enter></p>
                </th>
                <td ng-if="vm.verification.verificationType === vm.verificationType.UIDtoCPN">
                  <md-input-container flex="100" ng-class="vm.themeClass" class="margin-bottom-0 md-block margin-top-0">
                    <input type="text" name="scanCPN" ng-model="vm.verification.scanCPN" required id="txtscancpn" ng-maxlength="50"
                           placeholder="{{vm.LabelConstant.ScanOREnter.ScanCPN}}" ng-disabled="vm.verifiedLabel" ng-keypress="vm.scanLabel($event)">
                    <span flex="100" class="font-size-10">
                      <b>{{vm.LabelConstant.ScanOREnter.ScanCPN}}</b>
                    </span>
                    <div ng-messages="vm.LabelVerification.scanCPN.$error"
                                 role="alert">
                      <div ng-message="required">
                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                      </div>
                      <div ng-message="maxlength">
                        <span>{{vm.getMaxLengthValidation(50,vm.LabelVerification.scanCPN.$viewValue.length)}}</span>
                      </div>
                    </div>
                  </md-input-container>
                </td>
                <th ng-if="vm.verification.verificationType === vm.verificationType.UIDtoUID">
                  <p class="label-container">Scan UMID<span>&nbsp;*</span><scan-or-enter></scan-or-enter></p>
                </th>
                <td ng-if="vm.verification.verificationType === vm.verificationType.UIDtoUID">
                  <md-input-container flex="100" ng-class="vm.themeClass" class="margin-bottom-0 md-block margin-top-0">
                    <input type="text" name="scanUID" ng-model="vm.verification.scanUID" required id="txtscanuid" ng-maxlength="vm.UMID_MAX_LENGTH "
                           placeholder="{{vm.LabelConstant.ScanOREnter.ScanUMID}}" ng-disabled="vm.verifiedLabel" capitalize ng-paste="$event.preventDefault()" ng-keypress="vm.scanLabel($event)">
                    <span flex="100" class="font-size-10">
                      <b>{{vm.LabelConstant.ScanOREnter.ScanUMID}}</b>
                    </span>
                    <div ng-messages="vm.LabelVerification.scanUID.$error"
                         role="alert">
                      <div ng-message="required">
                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                      </div>
                      <div ng-message="maxlength">
                        <span>{{vm.getMaxLengthValidation(vm.UMID_MAX_LENGTH,vm.LabelVerification.scanUID.$viewValue.length)}}</span>
                      </div>
                    </div>
                  </md-input-container>
                </td>
                <th ng-if="vm.verification.verificationType === vm.verificationType.UIDtoMfgPN">
                  <p class="label-container">Scan {{vm.LabelConstant.MFG.MFGPN}} (Without Barcode) <span>&nbsp;*</span><scan-or-enter></scan-or-enter></p>
                </th>
                <td ng-if="vm.verification.verificationType === vm.verificationType.UIDtoMfgPN">
                  <md-input-container flex="100" ng-class="vm.themeClass" class="margin-bottom-0 md-block margin-top-0">
                    <input type="text" name="scanMFGPN" ng-model="vm.verification.scanMFGPN" required id="txtscanmfg" ng-maxlength="100"
                           placeholder="{{vm.LabelConstant.ScanOREnter.ScanMPNwithoutBarcode}}" ng-disabled="vm.verifiedLabel" ng-keypress="vm.scanLabel($event)">
                    <span flex="100" class="font-size-10">
                      <b>{{vm.LabelConstant.ScanOREnter.ScanMPNwithoutBarcode}}</b>
                    </span>
                    <div ng-messages="vm.LabelVerification.scanMFGPN.$error"
                                role="alert">
                      <div ng-message="required">
                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                      </div>
                      <div ng-message="maxlength">
                        <span>{{vm.getMaxLengthValidation(100,vm.LabelVerification.scanMFGPN.$viewValue.length)}}</span>
                      </div>
                    </div>
                  </md-input-container>
                </td>
                <td>
                  <md-button class="md-btn md-primary md-raised margin-top-0" ng-click="vm.verifyBarcodeLabel($event)" ng-disabled="vm.LabelVerification.$invalid" aria-label="Submit">Verify</md-button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div flex="100" layout="row" layout-wrap class="cm-section-main">
        <div class="cm-section-inner" layout-wrap layout="row" flex="100">
          <div layout="row" flex="100">
            <div layout="column" flex="!vm.isSelectView ? 100 : 50">
              <div layout="row" class="flex-100" layout-align="end start" ng-if="vm.isViewOnly" ng-class="{'height-32':vm.isViewOnly}">
                <md-button class="md-btn md-primary md-raised mh-0 mt-0 padding-horizontal-15" ng-click="vm.isViewOnly = false;vm.active();">
                  <span> Verify Label & Take Picture</span>
                </md-button>
              </div>
              <div class="cm-web-pic-table container-box" flex="100" layout="row" ng-class="{'margin-top-10':vm.isViewOnly}">
                <documents ng-if="vm.isLoadDocument" entity="vm.EntityName" ref-trans-id="vm.cstID" is-title="null" is-show-picture="true" is-capture="true"
                           is-hide-display-tree="true" is-verified-label="vm.verifiedLabel" is-view-only="vm.isViewOnly"></documents>
              </div>
            </div>

            <div layout="row" layout-align="center center" class="cm-capture-arrow-button margin-horizontal-10" ng-if="vm.isSelectView">
              <button class="md-fab md-raised md-mini md-button md-tealTheme-theme md-ink-ripple margin-0">
                <i class="icon-chevron-right icondrag"></i>
              </button>
            </div>
            <div layout="row" ng-if="vm.isSelectView" flex="45" layout-align="center center" layout-wrap class="container-box black-bg">
              <!--class="captured-img-view-container"-->
              <div flex="100" layout="column" class="cm-document-no-preview" ng-if="(!vm.isImageFile)" layout-align="center center">
                <div layout="row" layout-align="center center">
                  <img ng-if="(!(vm.isVideoFile || vm.isAudioFile))" class="width-fit-content" ng-src="{{vm.imageIcon}}" alt="">
                </div>
                <p class="text-align-center" ng-if="(!(vm.isVideoFile || vm.isAudioFile))">{{vm.FILE_PREVIEW_NOT_AVAILABLE.message}}</p>
                <!--<iframe class="doc" ng-if="vm.isPDFFile" ng-src="{{vm.documentPath}}"></iframe>-->
                <video ng-if="vm.isVideoFile" class="camera-capture-zoom-video" controls>
                  <source ng-src="{{vm.documentDetail.documentPath}}" type="video/mp4">
                </video>
                <audio controls ng-if="vm.isAudioFile">
                  <source ng-src="{{vm.documentDetail.documentPath}}" type="audio/mpeg">
                </audio>
                <div class="cm-images-prv-next-buttons cm-zoom-controls" layout="row">
                  <md-button class="md-default md-raised margin-0" ng-if="vm.isSelectView" ng-disabled="vm.previewIndex.previousIndex === null ? true: false" ng-click="vm.previousImage(vm.previewIndex.previousIndex)">
                    <i class="icon-chevron-left icondrag"></i><md-tooltip>Previous</md-tooltip>
                  </md-button>
                  <md-button class="md-default md-raised margin-0" ng-if="vm.isSelectView" ng-disabled="vm.previewIndex.nextIndex === null ? true: false" ng-click="vm.nextImage(vm.previewIndex.nextIndex)">
                    <i class="icon-chevron-right icondrag"></i><md-tooltip>Next</md-tooltip>
                  </md-button>
                </div>
              </div>
              <div flex="100" ng-if="vm.isImageFile" layout-align="center center" layout="row">
                <img ng-if="vm.isImageFile" ng-src="{{vm.imageIcon}}" data-high-res-src="{{vm.imageIcon}}" alt="" id="documentSelectImg">
                <div class="cm-images-buttons cm-zoom-controls" layout="row">
                  <md-button class="md-default md-raised margin-0" ng-if="vm.isSelectView" ng-disabled="vm.previewIndex.previousIndex === null ? true: false" ng-click="vm.previousImage(vm.previewIndex.previousIndex)">
                    <i class="icon-chevron-left icondrag"></i><md-tooltip>Previous</md-tooltip>
                  </md-button>
                  <md-button class="md-default md-raised mv-0 ml-0 mr-10" ng-if="vm.isSelectView" ng-disabled="vm.previewIndex.nextIndex === null ? true: false" ng-click="vm.nextImage(vm.previewIndex.nextIndex)">
                    <i class="icon-chevron-right icondrag"></i><md-tooltip>Next</md-tooltip>
                  </md-button>

                  <md-button class="md-default md-raised margin-0" ng-if="vm.isSelectView" ng-click="vm.zoomIn('selectedImageViewer')" ng-disabled="vm.selectedImageViewer.zoomValue === 500">
                    <i class="icon-plus icondrag"></i><md-tooltip>Zoom In</md-tooltip>
                  </md-button>
                  <md-button class="md-default md-raised margin-0" ng-if="vm.isSelectView" ng-click="vm.zoomOut('selectedImageViewer')" ng-disabled="vm.selectedImageViewer.zoomValue === 100">
                    <i class="icon-minus icondrag"></i><md-tooltip>Zoom Out</md-tooltip>
                  </md-button>
                  <md-button class="md-default md-raised margin-0 fit-to-screen" ng-if="vm.isSelectView" ng-click="vm.resetSelectedImage()" ng-disabled="vm.selectedImageViewer.zoomValue === 100">
                    <i class="icon-crop-free icondrag"></i><md-tooltip>Fit To Screen</md-tooltip>
                  </md-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </form>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">
      Close
    </md-button>
  </md-dialog-actions>
</md-dialog>
