<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>Q2C</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>

</head>
<body>
    @*<partial name="_Nav" />*@

    <div class="container d-flex h-100 align-items-center justify-content-center">
        @RenderBody()
    </div>
    <!-- Dynamic Information / Error Model -->
    <div class="modal fade" id="dynamicInfoModel" role="dialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
        <div class="modal-dialog errorModel-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between border-0 pb-2 px-4">
                    <div class="d-flex justify-content-start">
                        <h4 class="modal-title mr-2 message-title" id="dynamicInfoTitleType"></h4>
                        <h4 class="modal-title message-title" id="dynamicInfoTitleValue"></h4>
                    </div>
                </div>
                <div class="modal-body pt-0 px-4 message-body" id="dynamicInfoBodyValue">
                </div>
                <div class="modal-footer px-2 py-1 mt-1">
                    <button type="button" class="btn error-modal-btn" id="dynamicInfoModelOkBtn" data-dismiss="modal"> OK </button>
                </div>
            </div>
        </div>
    </div>

    <!-- confirmation model for Leave Page -->
    <div class="modal fade" id="errorModel" role="dialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
        <div class="modal-dialog errorModel-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between border-0 pb-2 px-4">
                    <div class="d-flex justify-content-start">
                        <h4 class="modal-title mr-2 message-title" id="errorModelTitleType"></h4>
                        <h4 class="modal-title message-title" id="errorModelTitleValue"></h4>
                    </div>
                </div>
                <div class="modal-body pt-0 px-4 message-body" id="errorModelBodyValue">
                </div>
                <div class="modal-footer px-2 py-1 mt-1">
                    <button type="button" class="btn error-modal-btn" id="stayOnBtn" data-dismiss="modal" onclick="stayOnAgreementModel()">STAY ON</button>
                    <button type="button" class="btn error-modal-btn px-1" data-dismiss="modal" onclick="leaveAgreementModel()">LEAVE PAGE</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#dynamicInfoModel').on('shown.bs.modal', function () {
                $('#dynamicInfoModelOkBtn').focus();
            });
            $('#dynamicInfoModel').on('hidden.bs.modal', function () {
                 $('input:visible:first').focus();
            });
            $('#errorModel').on('shown.bs.modal', function () {
                $('#stayOnBtn').focus();
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
