@model ErrorViewModel

@{ var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId; }

<div class="error-page">
    @*<div class="lead">
            <h1>Error</h1>
        </div>*@

    <div class="row">
        <div class="cm-login-container m-auto border-radius-3 whiteframe-10dp">
            <div class="cm-login-logo">Q</div>
            <div class="mb-3 text-center">Sorry, there was an error!</div>
            <div class="text-danger text-center">
                @if (error != null)
                {
                    <strong>
                        <em>
                            @error
                        </em>
                    </strong> if (errorDescription != null)
                    {
                <div>@errorDescription</div>}
                }
            </div>

            @if (request_id != null)
            {
<div class="request-id">Request Id: @request_id</div>}
        </div>
    </div>
</div>
