@model RedirectViewModel

   
    <div class="lead" style="margin: -55px;">
        <p>Redirecting...</p>
    </div>


    <meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
    <script src="~/js/signin-redirect.js"></script>
