<md-dialog flex="40" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Customer Detail of Customer Consignment Stock</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="customer-modal padding-10 custom-scroll" layout="column">
    <md-content>
      <div class="content fullpage-datatable" layout="column" flex>

        <table class="tbl-consign-detail-stock-status" cellpadding="0" cellspacing="0">
          <tr>
            <th>#</th>
            <th>Customer Name</th>
            <th>Current Count</th>
            <th>Current Units</th>
            <th>UOM</th>
          </tr>
          <tr ng-repeat="item in vm.customerConsignmentStockList">
            <td>{{$index+1}}</td>
            <td class="width-350">
              <a tabindex="-1" ng-click="vm.goToCustomerDetail(item)" class="cursor-pointer">{{item.customerFullName}}</a>
            </td>
            <td class="stock-value">{{vm.stockUOMDetail.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (item.totalQty)  : (item.totalQty | unit)}}</td>
            <td class="stock-value">{{vm.stockUOMDetail.uomClassID === vm.MEASUREMENT_TYPES_COUNT.ID ? (item.totalUnit)  : (item.totalUnit | unit)}}</td>
            <td class="width-70">{{vm.stockUOMDetail.abbreviation}}</td>
          </tr>

        </table>

      </div>
    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
  </md-dialog-actions>

</md-dialog>
