<md-content cg-busy="{promise:vm.cgBusyLoading}" class="padding-top-5">
  <div layout="row" class="advanced-filters" layout-sm="column" flex ng-show="!vm.isNoDataFound">
    <fieldset flex="50" class="container-box margin-left-10">
      <legend class="margin-0">Search Message Type&nbsp;/&nbsp;Message Type Name&nbsp;/&nbsp;Transaction ID&nbsp;/&nbsp;UMID&nbsp;/&nbsp;Department</legend>
      <div layout="row" flex="100">
        <div layout="row" flex="30" class="margin-0">
          <div class="margin-top-0 padding-5 ui-grid-cell-contents" flex="100">
            <md-radio-group layout="row" ng-model="vm.allCommonModel.searchType" ng-change="vm.changeSearchType()">
              <md-radio-button ng-value="vm.CustomSearchTypeForList.Contains" class="md-primary margin-top-0">Contains</md-radio-button>
              <md-radio-button ng-value="vm.CustomSearchTypeForList.Exact" class="md-primary margin-right-10 margin-top-0">Exact</md-radio-button>
            </md-radio-group>
          </div>
        </div>
        <div layout="row" flex="70">
          <div layout="row" flex="80">
            <md-input-container md-no-float class="margin-bottom-0 md-block margin-right-10 margin-top-0" flex="100">
              <input type="text" name="search" ng-model="vm.allCommonModel.searchText"
                     placeholder="Type here to search" maxlength="100" ng-change="vm.searchCommonData(false)" ng-model-options="{debounce: vm.debounceTime }">
            </md-input-container>
          </div>
          <div layout="row" flex="20">
            <md-button class="md-primary md-raised margin-0 margin-left-5-imp" ng-click="vm.searchCommonData(true);" aria-label="Reset">Reset</md-button>
          </div>
        </div>
      </div>

    </fieldset>
  </div>
  <div class="content-card" layout="column" flex ng-show="!vm.isNoDataFound">
    <div>
      <md-card layout="column" flex layout-align="space-between stretch">
        <ui-grid-extention grid-id="vm.gridConfig.gridNotificationLog"
                           load-data="vm.loadData"
                           grid-option="vm.gridOptions"
                           header="vm.sourceHeader"
                           grid-data="vm.sourceData"
                           total-data-count="vm.totalSourceDataCount"
                           reset-grid="vm.resetSourceGrid"
                           selectted-rows="vm.selectedRowsList"
                           paging-info="vm.pagingInfo"
                           current-item="vm.currentdata"
                           get-data-down="vm.getDataDown"
                           scroll-class="vm.setScrollClass"
                           empty-state="vm.emptyState">
      </md-card>
    </div>

  </div>
  <div class="empty-state text-center full-height" layout="row" layout-align="center center" flex="100" layout-wrap ng-if="vm.isNoDataFound == true">
    <div class="emty-icon" flex="100">
      <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
    </div>
    <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
    <md-button class="md-fab md-mini" aria-label="Refresh Mounting Type" ng-click="vm.refreshNotification()">
      <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
      <md-tooltip>Refresh Transaction Request Response</md-tooltip>
    </md-button>
  </div>
</md-content>

  

