<md-dialog aria-label="Current Balance and Past Due" class="cm-custom-label-common height-90p" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="95">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Aged Receivables</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="padding-5 padding-top-0" layout="column">
      <div class="padding-top-side" layout="column" flex>
        <!--<md-nav-bar md-no-ink-bar="false" md-selected-nav-item="vm.selectedNavItem">
          <md-nav-item md-nav-click="vm.onSelectTabChange(item)" name="{{item.tabName}}"
                       ng-repeat="item in vm.custInvPayAgedReceivableTabListConst">
            {{item.title}}
          </md-nav-item>
        </md-nav-bar>
        <div flex class="pt-10" layout="column">
          <div ng-if="vm.selectedNavItem === vm.custInvPayAgedReceivableTabsConst.AgedReceivable.tabName"
         flex="100" layout="column">
      <aged-receivable-cust-inv-balance-list flex layout></aged-receivable-cust-inv-balance-list>
    </div>
          <div ng-if="vm.selectedNavItem === vm.custInvPayAgedReceivableTabsConst.PastDue.tabName"
               flex="100" layout="column">
            <past-due-cust-inv-balance-list flex layout></past-due-cust-inv-balance-list>
          </div>
        </div>-->
        <past-due-cust-inv-balance-list flex layout></past-due-cust-inv-balance-list>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>

</md-dialog>
