<md-dialog class="cm-custom-label-common cm-uid-transfer-page" aria-label="Recieved Qty" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.packingSlipReceivedQtyForm">
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Received Qty</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="transfer-material-modal no-padding custom-scroll" layout="column">
      <md-content class="padding-10 mh-5">
          <div class="cm-section-inner" flex="50">
            <table border="1" class="cm-table-input-main border-0 width-100p">
              <tr class="umid-header-color">
                <th class="padding-right-5 padding-10-imp">
                  Received Qty
                </th>
                <th class="text-center padding-10-imp cm-border-left">
                  Action
                </th>
              </tr>
              <tr ng-repeat="item in vm.receivedQtyList">
                <td class="padding-right-5 padding-5-imp">
                  <md-input-container flex="100" class="width-200">
                    <input type="number"
                           ng-paste="$event.preventDefault()"
                           onkeypress="return OnlyNumeric(event)" placeholder="Received Qty"
                           custom-auto-focus="true"
                           name="receivedQty" id="receivedQty"
                           min="1"
                           step="1"
                           input-number-decimal-place
                           ng-model="item.receivedQty"
                           custom-blur="vm.receivedQty(item)">
                    <div ng-messages="vm.packingSlipReceivedQtyForm.receivedQty.$touched && vm.packingSlipReceivedQtyForm.receivedQty.$error" role="alert">
                      <div ng-message="number || step || min">
                        <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                      </div>
                    </div>
                  </md-input-container>
                </td>
                <!--<td class="padding-right-5" ng-class="{'background-red':item.isInvalidUnitPrice}"><input type="text" ng-paste="$event.preventDefault()" id="unit{{$index}}" class="text-right" onkeypress="return OnlyNumbersWithFirstDot(event, this)" style="width:100%;" ng-model="item.price" custom-blur="vm.extPrice(item,false)" ng-class="{'background-red':item.isInvalidUnitPrice}"></td>
                <td class="padding-right-5" ng-if="vm.iscustomComponent"><input type="text" id="leadtime{{$index}}" ng-paste="$event.preventDefault()" class="text-right" onkeypress="return OnlyNumbersWithFirstDot(event, this)" custom-blur="vm.extPrice(item,false)" style="width:100%;" ng-model="item.leadTime"></td>
                <td class="padding-right-5" ng-class="{'background-red':item.isInvalidExtPrice}"><input class="padding-right-5 text-right" id="ext{{$index}}" type="text" style="width:100%;" ng-model="item.ext" custom-blur="vm.extPrice(item,true)" ng-class="{'background-red':item.isInvalidExtPrice}"></td>-->
                <td class="text-center">
                  <md-button 
                             class="md-primary md-icon-button bdrbtn"
                             ng-class="{'cursor-not-allow':item.isDisable}"
                             ng-disabled="item.isDisable"
                             ng-click="vm.removeReceivedQty(item)">
                    <md-icon role="img" md-font-icon="icon-trash">
                    </md-icon><md-tooltip md-direction="top">Delete</md-tooltip>
                  </md-button>
                </td>
              </tr>
              <tr>
                <td class="padding-10-imp text-right"><b>Total : {{vm.total || 0 }}</b></td>
                <td></td>
              </tr>
            </table>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
      <md-button class="md-primary md-raised margin-left-0" ng-class="{'md-formdirty': vm.packingSlipReceivedQtyForm.$dirty}"
                 id="saveReceivedQtyBtn" ng-click="vm.save()">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
