<md-dialog aria-label="Component Approved Supplier" class="addexpression" flex="50" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <md-toolbar ng-class="vm.themeClass">
    <div class="md-toolbar-tools">
      <h2>Part Comment</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="vm.commentForm" class="md-inline-form" novalidate>
    <md-dialog-content class="no-padding" layout="column">
      <md-content class="padding-10">
        <div layout="row" flex="100" layout-wrap class="cm-custom-label-common">

          <div class="input-wrapper" layout="row" flex>
            <p class="label-container">Comment<span>&nbsp;*<check-unique-on-blur></check-unique-on-blur></span></p>
            <md-input-container flex="100">
              <div layout-align="start center" class="comment-textbox">
                <textarea name="comment"
                          id="comment"
                          custom-blur="vm.checkCommentUnique()"
                          ng-model="vm.CommentModel.comment"
                          ng-maxlength="500"
                          rows="3"
                          max-rows="3"
                          md-autofocus 
                          placeholder="Comment"
                          required></textarea>
              </div>
              <div ng-messages="vm.commentForm.comment.$error" ng-if="vm.commentForm.comment.$touched" role="alert">
                <div ng-message="required">
                  <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                </div>
                <div ng-message="maxlength">
                  <span>{{vm.getMaxLengthValidation(500, vm.commentForm.comment.$viewValue.length)}}</span>
                </div>
              </div>
            </md-input-container>
          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
      <md-button class="md-primary md-raised md-ink-ripple mv-0"
                 ng-class="{'md-formdirty': vm.commentForm.$dirty}"
                 ng-click="vm.AddUpdateComments()">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
