<md-dialog class="field_mapping width-30p" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.dataElementValueForm" novalidate>
        <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Field Mapping
                </h2>
                <span flex></span>
                <div layout="row" layout-wrap layout-align="end center" flex flex-xs="100">
                    <md-button class="md-primary md-raised" ng-click="" ngf-select="vm.documentFiles($files, $event)">
                        Upload data
                        <!-- <md-tooltip md-direction="left">Import Excel Document</md-tooltip> -->
                    </md-button>
                </div>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="Pricing-modal no-padding" layout="column">
            <md-content class="cm-column-mapping-popup">
                <md-list flex="100" class="dragbox padding-0 field-mapping-popup" ng-if="vm.isNoDataFound == false">
                    <div class="cm-section-main border-0" flex="100" layout="row">
                        <div flex="50" class="padding-right-10">
                            <div class="cm-section-header border-radius-4">
                                <h2>{{vm.entityName}} Header</h2>
                            </div>
                        </div>
                        <div flex="50">
                            <div class="cm-section-header border-radius-4">
                                <h2>Excel Header</h2>
                            </div>
                        </div>
                    </div>
                    <div flex="100" layout="row" ng-repeat="item in vm.fieldMappingList" class="cm-bom-column">
                        <div flex="50" class="text-right padding-right-15 margin-top-4"><p class="label-container cm-white-space-normal" layout-align="end-center">{{item.header}} <span ng-if="item.required">&nbsp;*</span></p></div>
                        <div flex="50" layout="row">
                            <md-input-container ng-if="item.autoCompleteHeader" class="cm-auto-custom autocompletecustom margin-bottom-0 margin-top-0" flex="100" md-no-float>
                                <custom-auto-complete datalist="vm.excelFieldList"
                                                      column-name="item.autoCompleteHeader.columnName"
                                                      controller-name="item.autoCompleteHeader.controllerName"
                                                      view-template-url="item.autoCompleteHeader.viewTemplateURL"
                                                      key-column-name="item.autoCompleteHeader.keyColumnName"
                                                      input-name="item.autoCompleteHeader.inputName"
                                                      placeholder-name="item.autoCompleteHeader.placeholderName"
                                                      key-column-id="item.autoCompleteHeader.keyColumnId"
                                                      is-required="item.required"
                                                      is-addnew="item.autoCompleteHeader.isAddnew"
                                                      callback-fn="item.autoCompleteHeader.callbackFn"
                                                      on-select-callback-fn="item.autoCompleteHeader.onSelectCallbackFn">
                                </custom-auto-complete>
                            </md-input-container>
                        </div>
                    </div>
                </md-list>
                <div flex="100" class="relative pastewrapper cursor-default" onmousedown="return false" ng-if="vm.isNoDataFound">
                    <div ngf-select-disabled="true"
                         ngf-drop="vm.documentFiles($files, $event)"
                         ng-model="vm.genericFile.documentFilesFromDragArea"
                         ng-class="{'drop-box1' : true}"
                         ngf-drag-over-class="'dragover'"
                         ngf-multiple="false"
                         ngf-allow-dir="true"                         
                         name="genericFilesFromDragArea">                      
                        <!--accept="{{vm.FileTypeList}}"
                        ngf-pattern="{{vm.FileTypeList}}"--> 
                        <div class="empty-state text-center full-height" layout="row" layout-align="center center" layout-wrap>
                            <div class="emty-icon" flex="100"><img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" /></div>
                            <p flex="100" class="empty-state-title" ng-bind-html="vm.EmptyMesssage.MESSAGE"></p>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.importFile()" aria-label="Submit">Save</md-button>
        </md-dialog-actions>
    </form>

</md-dialog>
