<md-dialog flex="{{vm.mdDialogFlex}}" aria-label="WOComponentRoHSChangeAlert" class="cm-custom-label-common" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>RoHS Change Alert!</h2>
      <span flex></span>
      <popup-header-label label-data="vm.headerdata"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="no-padding custom-scroll cm-section-main border-0">
    <div class="cm-section-inner padding-10-imp cm-wo-header-main" flex="100">
      <table cellspacing="0" cellpadding="0" class="cm-table-input-main cm-wo-header-main cm-wo-comp">
        <tbody>
          <tr>
            <th class="padding-top-8">
              <p class="label-container pb-5">
                <b>Old Value:&nbsp;</b>
              </p>
            </th>
            <td>
              <label ng-click="vm.goToRoHSStatusList()" ng-class="{'text-decoration-underline cursor-pointer':true}">
                {{vm.selectedOldRoHS.name}}
              </label>
              <img ng-if="vm.selectedOldRoHS" ng-src="{{ vm.rohsImagePath + vm.selectedOldRoHS.rohsIcon }}"
                   class="rohs-workorder-image padding-top-0 " />
              <md-tooltip md-direction="bottom">{{vm.selectedOldRoHS.name}}</md-tooltip>
            </td>
          </tr>
          <tr class="bb border-top">
            <th class="padding-top-8-imp">
              <p class="label-container">
                <b>New Value:&nbsp;</b>
              </p>
            </th>
            <td class="padding-top-8">
              <label ng-click="vm.goToRoHSStatusList()" vm.goToRoHSStatusList ng-class="{'text-decoration-underline cursor-pointer':true}">
                {{vm.selectedNewRoHS.name}}
              </label>
              <img ng-if="vm.selectedNewRoHS" ng-src="{{ vm.rohsImagePath + vm.selectedNewRoHS.rohsIcon }}"
                   class="rohs-workorder-image padding-top-0 " />
              <md-tooltip md-direction="bottom">{{vm.selectedNewRoHS.name}}</md-tooltip>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div flex="100" layout="row" class="ph-10"><b class="padding-5">{{vm.woComponentRoHSChangeMsg}}</b></div>
    <md-content class="padding-10" layout="row" layout-gt-xs="row">
      <div flex="100" layout="row" class="cm-part-standard-changes">
        <!-- Work Order  -->
        <div flex="{{vm.woDivFlex}}"
             ng-if="vm.workorderDetails.WOListContainSamePartID.length > 0" class="cm-section-main margin-5" layout="row" layout-wrap layout-align="start start">
          <div class="cm-section-header" flex="100">
            <h2>Work Order</h2>
          </div>
          <div class="cm-section-inner" flex="100">
            <table md-table class="md -data-table table-row-select" md-row-select ng-model="vm.selectedItems" ms-responsive-table>
              <thead md-head md-order="">
                <tr md-row>
                  <th md-column>#</th>
                  <th md-column>{{vm.woAllLabelConstant.WO}}</th>
                  <th md-column>{{vm.woAllLabelConstant.Version}}</th>
                  <th md-column>{{vm.woAllLabelConstant.Status}}</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="item in vm.workorderDetails.WOListContainSamePartID">
                  <td md-cell>{{$index+1}}</td>
                  <td md-cell>
                    <a tabindex="-1" class="cm-text-decoration" ng-mousedown="vm.goToWorkorderDetails(item.woID);$event.preventDefault();">
                      {{item.woNumber}}
                    </a>
                  </td>
                  <td md-cell>
                    {{item.woVersion}}
                  </td>
                  <td md-cell width="200" class="cm-list-publish-status">
                    <span class="label-box {{item.statusClassName}}">{{item.statusTxt}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Work Order end  -->
        <!-- rfq -->
        <div flex="{{vm.rfqDivFlex}}"
             ng-if="vm.RFQDetails.RFQListContainSamePartID.length > 0" class="cm-section-main margin-5" layout="row" layout-wrap layout-align="start start">
          <div class="cm-section-header" flex="100">
            <h2>RFQ</h2>
          </div>
          <div class="cm-section-inner" flex="100">
            <table md-table class="md-data-table table-row-select" md-row-select ng-model="vm.selectedItems" ms-responsive-table>
              <thead md-head md-order="">
                <tr md-row>
                  <th md-column>#</th>
                  <th md-numeric md-column>{{vm.LabelConstant.Assembly.QuoteGroup}} #</th>
                  <th md-column>Quote In Date</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="item in vm.RFQDetails.RFQListContainSamePartID">
                  <td md-cell>{{$index+1}}</td>
                  <td md-cell>
                    <a tabindex="-1" class="cm-text-decoration" ng-mousedown="vm.goToRFQDetails(item.id,item.rfqAssemblies[0].id);$event.preventDefault();">
                      {{item.id}}
                    </a>
                  </td>
                  <td md-cell>{{item.rfqAssemblies[0].quoteInDate | date:vm.DateFormatArray}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- rfq end -->
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row" class="cm-wo-std-alert-popup">
    <md-button class="md-button md-raised" ng-click="vm.cancel()">No</md-button>
    <md-button class="md-primary md-raised" ng-click="vm.applyRoHS()">Yes</md-button>
  </md-dialog-actions>
</md-dialog>
