<md-dialog aria-label="Timed Out" cg-busy="{promise:vm.cgBusyLoading}">
    <form name="vm.passwordProtectedForm" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="text-white">Verify User</h2>
                <div flex layout="row" layout-align="end center">
                    <md-button class="md-icon-button" ng-click="vm.cancel()">
                        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <md-dialog-content class="time-out-popup no-padding custom-scroll">
            <md-content class="md-padding">
                <div class="empty-state time-out-image text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap>
                    <div class="emty-icon" flex="100">
                        <img ng-src="{{vm.timeoutImage}}" />
                    </div>
                </div>
                {{timeoutImage}}
                <div layout="row" layout-align="center center">
                    <h3><b>{{vm.verifyMessage}}</b></h3>
                </div>
                <div layout="row" layout-align="center center" class="padding-10 time-out-password">
                    <md-input-container class="margin-0" md-no-float flex="100">
                        <div class="inner-input-timeout">
                            <md-icon class="icon-account-circle" flex="5"></md-icon>
                            <input type="text" id="username" name="username" flex="80" ng-model="vm.username"
                                   md-autofocus custom-auto-focus="true" placeholder="User ID" required maxlength="200">
                            <div ng-messages="vm.passwordProtectedForm.username.$error"
                                 role="alert" flex="15">
                                <div ng-message="required">
                                    <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                                <div ng-message="maxlength">
                                    <span>{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                                </div>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center center" class="padding-10 time-out-password">
                    <md-input-container class="margin-0" md-no-float flex="100">
                        <div class="inner-input-timeout">
                            <md-icon class="icon-key-variant" flex="5"></md-icon>
                            <input type="password" id="password" name="password" ng-model="vm.password"
                                   placeholder="Password" required maxlength="200" flex="80">
                            <div ng-messages="vm.passwordProtectedForm.password.$error"
                                 role="alert" flex="15">
                                <div ng-message="required">
                                    <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                                <div ng-message="maxlength">
                                    <span>{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                                </div>
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="vm.passwordProtectedForm.$invalid || !vm.isSaveEnable" aria-label="Submit">Ok</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

