<md-dialog aria-label="Update Feeder Status" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.UpdateFeederStatusForm" class="md-inline-form" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Update Feeder Status</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
      <md-content class="padding-10">
        <div flex="100" flex-gt-xs="100" layout-wrap>
          <div layout="row" flex="100" layout-wrap class="padding-5">
            <fieldset flex="100" class="container-box">
              <legend class="margin-0">Feeder Status</legend>
              <div layout="row" flex="100" class="margin-0">
                <div class="margin-top-0 padding-5" flex="100">
                  <md-radio-group class="" flex="100" layout="row" ng-model="vm.statusFeederLocationModel.isActive" name="status">
                    <md-radio-button class="margin-top-0" ng-value="true">Inactive</md-radio-button>
                    <md-radio-button class="margin-top-0" ng-value="false">Inactive and Transfer to New Feeder</md-radio-button>
                  </md-radio-group>
                </div>
              </div>
            </fieldset>
            <div flex="100" class="input-wrapper margin-top-5" layout="row" flex-sm="100" layout-align="center center">
              <p class="label-container">New Feeder#<span ng-if="!vm.statusFeederLocationModel.isActive">&nbsp;*<check-unique-on-blur></check-unique-on-blur></span></p>
              <md-input-container class="margin-bottom-0 md-block" flex="100" flex-gt-xs="100">
                <input type="text" name="feederLocation" custom-blur="vm.checkduplicateRecord()" ng-disabled="vm.statusFeederLocationModel.isActive" ng-model="vm.statusFeederLocationModel.feederLocation"
                       placeholder="Location" ng-required="!vm.statusFeederLocationModel.isActive" ng-maxlength="100">
                <div ng-messages="vm.UpdateFeederStatusForm.feederLocation.$touched &&  vm.UpdateFeederStatusForm.feederLocation.$error"
                     role="alert">
                  <div ng-message="required">
                    <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                  </div>
                  <div ng-message="maxlength">
                    <span>{{vm.getMaxLengthValidation(100, vm.UpdateFeederStatusForm.feederLocation.$viewValue.length)}}</span>
                  </div>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.saveFeederLocation()" aria-label="Submit">Save</md-button>
      <!--ng-disabled="vm.AddQuoteDynamicFieldsForm.$invalid || !vm.checkFormDirty(vm.AddQuoteDynamicFieldsForm)"-->
    </md-dialog-actions>
  </form>
</md-dialog>
