.badgeequipment.permissiontab md-list-item .dragsortable {
  padding: 0px !important;
  border: none !important;
}

#aliasAddedList {
  .alias {
    &:hover {
      background-color: rgba(158,158,158,0.2);
    }
  }
}

.dossection {
    display: block;
}

.alias-list-main {
  max-height: 180px !important;
  border: 2px solid #009688;
}
.cm-alias-list-min-height.alias-list-main {
  max-height: 150px !important;
  min-height: 150px !important;
}

.cm-alias-list-main-static-block {
  border-color: #3db2ea !important;
}

.cm-alias-list-title-static-block {
  background: #3db2ea;
}

.cust-box-mar-fix {
  margin-top: 63px;
}

.width-85p {
  width: 85%;
}

.width-90p {
  width: 90%
}

/*new UI*/
.search-part {
  width: 100%;

  input {
    color: #fff !important;
    border-color: #fff !important;

    &::-webkit-input-placeholder {
      color: #fff !important;
    }

    &:-moz-placeholder {
      color: #fff !important;
    }

    &::-moz-placeholder {
      color: #fff !important;
    }

    &:-ms-input-placeholder {
      color: #fff !important;
    }
  }
}

.part-header {
  .header-content {
    font-size: 13px;
  }

  .part-detail-info-header {
    font-size: 16px;
  }

  .rohs-bom-image {
    height: 30px;
    max-width: 30px;
    padding: 2px 3px;
    margin-top: 5px;
  }

  .icon-content-copy {
    font-size: 16px;
    padding: 5px;
  }

  .separator {
    label {
      display: flex;
      color: #000;
      line-height: 13px;

      &::after {
        /*content: '';
        color: #fff;
        background-color: #fff;
        position: relative;
        border: 1px solid #fff;
        margin: 0px 5px;*/
        content: '';
        color: #fff;
        background-color: #fff;
        /*position: absolute;*/
        margin: 0px 0px;
        height: auto;
        width: 2px;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
      }

      &:last-child::after {
        content: none !important;
      }

      md-icon {
        height: auto;
        width: auto;
        min-height: inherit;
        min-width: inherit;
      }
    }
  }
}

.cm-part-header-detail label {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal !important;
  max-width: 20ch;
  display: inline-block !important;
  white-space: nowrap;
  margin: 0px;

  &:first-child {
    &::before {
      display: none !important;
    }
  }

  &::before {
    content: '|' !important;
    color: #fff;
    margin: 0px 0px;
    background: transparent !important;
  }

  &::after {
    content: none !important;
  }
}

.part-master-detail {
  .part-images {
    width: 200px;
    float: left;

    .pastewrapper {
      width: 100%;
      height: 170px;
    }
  }

  .part-mfg-detail {
    /*width: calc(100% - 12% - 16% - 15% - 15% - 200px);*/
    float: left;
    padding: 5px 5px;

    .part-mfg-wrapper {
      border: 1px solid #ddd;
      border-radius: 2px;
      padding: 0 5px 5px;
      //margin: 5px 0;
      md-checkbox {
        margin: 0 10px;
      }
    }
  }

  .package-detail {
    width: 15%;
    float: left;
    padding: 5px 5px;

    .package-detail-wrapper {
      //margin: 5px 0 5px;
      padding: 10px 5px 0;

      .container-box-label {
        font-size: 13px;
      }

      .input-wrapper {
        min-height: 35px;
      }
    }
  }

  .env-export-detail {
    float: left;
    padding: 5px 5px;

    .env-export-detail-wrapper {
      //margin: 5px 0 5px;
      padding: 10px 5px 0;

      .container-box-label {
        font-size: 13px;
      }

      .RoHS-msg {
        font-size: 11px;
      }
    }
  }

  .export-legal-classification {
    float: left;
    padding: 5px 5px;

    .export-legal-classification-wrapper {
      //margin: 5px 0 5px;
      padding: 10px 5px 0;

      .container-box-label {
        font-size: 13px;
      }

      .RoHS-msg {
        font-size: 11px;
      }
    }
  }

  .good-bad-system-level-section {
    width: 50%;
    clear: both;
    float: left;
  }

  .part-status-detail {
    float: left;
    padding: 5px 5px;

    .part-status-detail-wrapper {
      border: 1px solid #ddd;
      border-radius: 2px;
      padding: 5px 5px;
      //margin: 5px 0;
      .input-wrapper {
        min-height: 30px;
      }
    }
  }

  .custom-part {
    /*width: 12%;*/
    float: left;
    padding: 5px 5px;

    .custom-part-wrapper {
      border: 1px solid #ddd;
      border-radius: 2px;
      padding: 5px 5px;
      //margin: 5px 0;
      min-height: 135px;

      .input-wrapper {
        min-height: 30px;
      }
    }
  }

  .stock-status-section {
    float: left;
    padding: 5px 5px;

    .stock-status-section-wrapper {
      margin: 0;
      padding: 0 !important;

      .tbl-stock-status {
        margin: 5px 5px;
        width: 100%;
        display: -ms-grid;

        & th {
          border: 1px solid #ddd;
          padding: 7px 10px;
        }

        & td {
          border: 1px solid #ddd;
          padding: 7px 10px;

          &.stock-value {
            width: 40%;
            text-align: right;
          }

          &.stock-label {
            width: 60%;
            text-align: left;
          }
        }
      }
    }
  }

  .system-level-settings {
    width: 57%;
    float: left;
    padding: 5px 5px;

    .system-level-settings-wrapper {
      //margin: 10px 0 5px;
      /*padding: 10px 5px 5px;*/
      .input-wrapper {
        min-height: 30px;
      }

      md-checkbox {
        margin: 0 10px 8px; /*0 10px*/
      }
    }
  }

  .part-attribute-detail {
    float: left;
    padding: 5px 5px;

    .part-attribute-detail-wrapper {
      border: 1px solid #ddd;
      border-radius: 2px;
      padding-bottom: 5px;

      .part-attribute-header {
        background: #ddd;
        padding: 5px;
        font-weight: 600;
        height: 30px;
        position: relative;
      }

      .part-attribute-body {
        padding: 0 5px;
      }
    }
  }

  .other-attribute-detail {
    width: 19%;
    float: left;
    padding: 5px 5px 5px;
    //margin-top: 10px;
    .other-attribute-detail-wrapper {
      border: 1px solid #ddd;
      border-radius: 2px;
      padding: 0;

      label.container-box-label {
        margin-left: 5px;
      }

      .other-attrb-detail {
        border: 0;
        margin-top: 0px;
      }

      .label-container {
        text-align: right;
      }

      .part-attribute-header {
        background: #ddd;
        padding: 5px;
        font-weight: 600;
      }

      .part-attribute-body {
        padding: 0 5px;
      }
    }
  }

  .require-parts-detail {
    float: left;
    padding: 5px 5px;

    .require-parts-detail-wrapper {
      border: 1px solid #ddd;
      border-radius: 2px;
      padding-bottom: 5px;

      .require-parts-header {
        background: #ddd;
        padding: 5px;
        font-weight: 600;
        height: 30px;
      }

      .require-parts-body {
        padding: 0 5px;

        md-checkbox {
          margin: 0 10px;
        }
      }
    }
  }

  .require-parts-detail-width-600px {
    min-width: 600px !important;
  }

  .require-parts-detail-width-500px {
    min-width: 500px !important;
  }

  .buy-purchase-detail {
    .tbl-buy-purchase-detail {
      margin: 5px 5px;
      width: 100%;
      display: -ms-grid;

      & td, th {
        border: 1px solid #ddd;
        padding: 7px 10px;
      }
    }
  }

  .help-icon {
    cursor: pointer;
    font-size: 17px;
    color: #000;
    padding-left: 0px;
    margin-left: -3px;
    position: relative;
    margin-right: 0px;
  }
}

.recommended-alt-list {
  .gridheight {
    height: 400px !important;
  }
}

.grid-with-header {
  md-card-title {
    padding: 5px 10px;
    background: #c4d6d4;

    .md-headline {
      font-size: 15px;
      font-weight: 600;
    }
  }

  md-card-content {
    padding: 5px;
    background: #eee;
  }
}

.btn-datasheet-link {
  a {
    color: inherit !important;
  }
}

.disabled-mdtab {
  color: #d0d0d8;
}

.cm-copy-label {
  margin: 0px 5px;
}

.restrict-part-status {
  padding: 2px 5px !important;
}

.cm-mfg-header {
  .cm-part-standard-label,
  .part-detail-info-header {
    font-size: 13px !important;
  }
}


.cm-part-filter-clear-btn {
  right: 0;
  top: 0;
  position: absolute;
}

.cm-part-mfr-list-search {
  md-input-container .md-input:focus,
  md-input-container.md-input-focused .md-input,
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
  md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    background-color: rgba(255, 255, 255, 0.28) !important;
  }
}

.part-filters-legend {
  .legend-section {
    width: 25px;
    height: 14px;
    border-radius: 2px;
  }

  .progressive-filters {
    background: #039be5;
    border: 1px solid white;
  }

  .non-progressive-filters {
    background: #3db2ea;
    border: 1px solid white;
  }

  label {
    margin: 0 15px 0 5px;
    font-weight: normal;
    color: white;
  }
}

.tbl-consign-detail-stock-status {
  width: 100%;
  display: -ms-grid;

  & th {
    border: 1px solid #ddd;
    padding: 7px 10px;
    background: #ddd;
  }

  & td {
    border: 1px solid #ddd;
    padding: 7px 10px;

    &.stock-value {
      width: 40%;
      text-align: right;
    }

    &.stock-label {
      width: 60%;
      text-align: left;
    }
  }
}
