<md-dialog class="cm-custom-label-common cm-bin-add-update" aria-label="Purchase Comment" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="45">
  <form name="vm.purchaseCommentForm" class="md-inline-form" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>Purchasing Comment</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custome-scroll">
      <md-content class="padding-10 mh-5">
        <div class="cm-section-main margin-bottom-5">
          <div class="cm-section-inner">
            <span>{{vm.data.purchasingComment}}</span>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
