<md-dialog aria-label="Employee" class="cm-custom-label-common" draggable>
  <form name="vm.purchaseInspectionTemplateForm" class="md-inline-form" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Copy {{vm.LabelConstant.PurchaseRequirement}} Template</h2>
        <span flex></span>
        
        <span class="poplabel-box font-size-14 lableheader">
          Name: <b>{{vm.copyPurchaseInspectionTemplate.name}}</b>
          <md-tooltip class="tt-multiline cm-white-space-normal max-width-420 pv-5">
            {{vm.copyPurchaseInspectionTemplate.name}}
          </md-tooltip>
        </span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custome-scroll">
      <md-content class="padding-10" layout="column" layout-gt-xs="row">
        <div layout="row" layout-wrap class="cm-section-main border-0" flex="100">
          <div class="cm-section-inner" flex="100">
            <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
              <tbody>
                <tr>
                  <th><p class="label-container">Name<span>&nbsp;*<check-unique-on-blur></check-unique-on-blur></span></p></th>
                  <td>
                    <md-input-container flex="100" class="margin-bottom-0">
                      <input type="text" name="TemplateName" id="TemplateName" ng-model="vm.copyPurchaseInspectionTemplate.TemplateName"
                             placeholder="Name" md-autofocus custom-blur="vm.checkDuplicateTemplateName();" required ng-maxlength="255" md-maxlength="255">
                      <div ng-messages="vm.purchaseInspectionTemplateForm.TemplateName.$error"
                           role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(255,vm.purchaseInspectionTemplateForm.TemplateName.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.copyTemplate()" aria-label="Submit" ng-class="{'md-formdirty': vm.purchaseInspectionTemplateForm.$dirty }">Copy</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
