<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BackupSystemDetails" value="Local System" />
    <add key="BackupFolder" value="C:\FJTBackup\" />
    <add key="mysqlBackupBatchFile" value="C:\FJTBackup\MySql_Backup.bat" />
    <add key="mysqlDbDumpExePath" value="C:\Program Files\MySQL\MySQL Server 8.0\bin\mysqldump.exe" />
    <add key="mysqlUserName" value="root" />
    <add key="mysqlPassword" value="triveni@123" />
    <add key="mysqlDBName" value="flexjobtracking" />
    <add key="mysqlIdentityBackupBatchFile" value="C:\FJTBackup\MySql_Identity_Backup.bat" />
    <add key="mysqlIdentityDBName" value="fjt_identity_main" />

    <add key="mongoBackupBatchFile" value="C:\FJTBackup\MongoDB_backup.bat" />
    <add key="mongoDbDumpExePath" value="C:\Program Files\MongoDB\Server\4.4\bin\" />
    <add key="mongoDbHostName" value="localhost" />
    <add key="mongoDbPort" value="27017" />
    <add key="mongoDBUserName" value="fjt" />
    <add key="mongoDBPassword" value="triveni123" />
    <add key="mongoDbDatabaseName" value="fjtpricing_main" />


    <!-- Publish Mode must be lowercase word -->
    <add key="publishMode" value="dev_" />
    <add key="elasticBackUpPath" value="C:\ProgramData\Elastic\Elasticsearch\backup\" />
    <add key="timeoutForCopyBackupFolder" value="10000" />
    <add key="elasticCreateBackupAPIUrl" value="http://localhost:33050/api/Backup/CreateBackUp" />
    <add key="elasticRestoreSnapshotAPIUrl" value="http://localhost:33050/api/Backup/RestoreSnapshot" />
    <add key="elasticIndicesName" value="fjtindex" />

    <!-- Mail gun key for Auto mail after backup -->
    <add key="adminEmailID" value="vaibhav.shah@triveniglobalsoft.com"/>
    <add key="RabbitMqEmailHost" value="localhost" />
    <add key="RabbitMqEmailVirtualHost" value="FJTEmailService" />
    <add key="RabbitEmailQueue" value="EmailServiceQueue" />
    <add key="RabbitMqUserName" value="admin" />
    <add key="RabbitMqPassword" value="admin" />
    <add key="RabbitMqURI" value="amqp://localhost:5672" />

    <add key="BackUpFilePath" value="D:\Development\Z-FlexNet\FJT\FJT-DEV\fjt.api\uploads\"/>
    <add key="TakeUploadFolderBackup" value="0"/>
    <add key="DeleteOldBackupDays" value="7"/>
    <add key="TakeDatasheetBackupDays" value="Tuesday,Friday,Sunday"/><!--Tuesday,Friday,Sunday  please write like this, only on mentioned days backup will be taken-->
    <add key="DatasheetBackUpFilePath" value="D:\Development\Z-FlexNet\FJT\FJT-DEV\fjt.api\datasheets\"/>

    <add key="ExternalDriveBackupPath" value="\\192.168.1.102\FJTBackup"/>
    <add key="IsCopyFolderExternalDrive" value="0"/>
    <add key="NetworkUser" value="userid"/>
    <add key="NetworkPassword" value="password"/>
    <add key="ErrorLogFilePath" value="logfile.txt"/>
    <add key="IsCheckNetworkCredentails" value="0"/>
    <add key="NetworkDriveMapLetter" value="Z:\"/><!--Please write same like Z:\ , this setting is done to get drive space of network drive -->

    <add key="IsCompressedBackup" value="1"/>
    <add key="7ZipExeFilePath" value="C:\Program Files\7-Zip\7z.exe"/>
    <add key="CompressedFileExtension" value=".7z"/>

    <add key="MySqlServiceName" value="MySQL80"/>
    <add key="MongoDBServiceName" value="MongoDB"/>
    <add key="ElasticsearchServiceName" value="Elasticsearch"/>
    
  </appSettings>
</configuration>