<md-dialog class="operation-pop-main cm-workorder-halt-popup cm-wo-ht-reason" flex="85" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <md-toolbar>
      <div class="md-toolbar-tools " layout="row" layout-align="space-between center">
        <h2>Halt/Resume History</h2>
        <span flex></span>
        <div layout="row" layout-align="center center" class="layout-wrap-rs-1024 cm-header-label-holder" layout-align-sm="end-center">
          <popup-header-label label-data="vm.headerdata"></popup-header-label>
        </div>
        <!--<md-button class="md-primary md-raised">{{vm.woNumber}}{{vm.woVersion ? '-' + vm.woVersion : ''}}</md-button>-->
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="column">
        <md-content class="md-padding custom-scroll">
            
            <md-card layout="column" flex 
                     layout-align="space-between stretch" 
                     class="margin-0 padding-10-imp" 
                     ng-show="!vm.isNoDataFound">
                <ui-grid-extention load-data="vm.loadData"
                                   grid-id="vm.gridConfig.gridWorkOrderHaltResumeResonDetails"
                                   grid-option="vm.gridOptions"
                                   header="vm.sourceHeader"
                                   grid-data="vm.sourceData"
                                   total-data-count="vm.totalSourceDataCount"
                                   reset-grid="vm.resetSourceGrid"
                                   selectted-rows="vm.selectedRowsList"
                                   paging-info="vm.pagingInfo"
                                   current-item="vm.currentdata"
                                   get-data-down="vm.getDataDown"
                                   empty-state="vm.emptyState"
                                   delete-multiple-data="vm.deleteMultipleData">
            </md-card>

            <div class="empty-state text-center full-height" 
                 flex="100" layout="row" 
                 layout-align="center center" 
                 layout-wrap ng-if="vm.isNoDataFound == true">
                <div class="emty-icon" flex="100">
                    <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                </div>
                <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-default md-raised" ng-click="vm.cancel()">CLOSE</md-button>
    </md-dialog-actions>
</md-dialog>
