<div id="layout-horizontal-navigation" class="template-layout" layout="column" flex>
    <div id="toolbar-navigation-container" class="md-whiteframe-1dp" layout="row" layout-wrap layout-align="space-between start">
        <md-toolbar id="toolbar" class="md-menu-toolbar md-whiteframe-1dp headerbg" ui-view="toolbar"></md-toolbar>
        <div class="slidertoolbar" ng-class="{'pinned': IsPinned}" ng-if="RoleList && RoleList.length > 0">
            <md-icon md-font-icon="icon icon-menu-down"></md-icon>
        </div>
        <div id="horizontal-navigation" ui-view="navigation" layout="row" flex="100" layout-align="space-between center" ng-if="RoleList && RoleList.length > 0"></div>
    </div>
    <div id="content-container" flex layout="column" class="content-card">
        <md-content id="content" class="custom-scroll"  ui-view="content" flex></md-content>
    </div>
    <md-sidenav id="quick-panel" class="md-sidenav-right md-whiteframe-4dp" md-component-id="quick-panel" ms-scroll
                ui-view="quickPanel"></md-sidenav>
</div>