@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="d-flex justify-content-center align-items-center min-height-80vh">
    <div class="d-flex flex-column">
        @try
        {
            @if (Model.StatusCode != null)
            {
                <div class="text-center">
                    <h1 id="statusCode" class="color-blue font-weight-bold">@Model.StatusCode</h1>
                </div>
                <div class="text-center">
                    <h4 class="m-0 color-blue">
                        @if (Model.StatusCode == 404)
                        {
                            <span>Let’s try again.</span>
                        }
                        else if (Model.StatusCode == 401)
                        {
                            <span>Un Authorize !!</span>
                        }
                        else if (Model.StatusCode == 403)
                        {
                            <span>Access Denied !!</span>
                        }
                        else
                        {
                            <span>Oops looks likes something has gone wrong.</span>
                        }
                    </h4>
                </div>
            }
        }
        catch { }
        @try
        {
            @if (Model.Message != null)
            {
                <div class="text-center">
                    <p class="mb-1">@Model.Message</p>
                </div>
            }
        }
        catch { }

        <div class="text-center">
            <button class="center-logout-button px-3 py-1 rounded" onclick="logOutConfirmation();">LOGOUT</button>
        </div>
    </div>
</div>