<md-dialog aria-label="Halt Resume" class="workorder-pop-main cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.HaltResumeForm" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          {{vm.haltResumeStatus.isHalt ? vm.HaltResumePopUp.Halt : vm.HaltResumePopUp.Resume}}
          <span ng-if="vm.haltResumeStatus.module==vm.HaltResumePopUp.refTypePO">
            {{vm.HaltResumePopUp.POSOLabel}}
          </span>
          <span ng-if="vm.haltResumeStatus.module!=vm.HaltResumePopUp.refTypePO">
            {{vm.haltResumeStatus.module}}
          </span>
        </h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button ml-0" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll">
      <md-content class="p-5" layout="column" layout-gt-xs="row">
        <div flex="100" layout="row" class="input-wrapper" ng-if="vm.haltResumeStatus.isHalt">
          <p class="label-container">{{vm.HaltResumePopUp.HaltReason}}<span>&nbsp;*</span></p>
          <md-input-container flex="100" flex-xs="100" class="margin-bottom-0">
            <textarea type="text" name="reason" ng-model="vm.haltResumeStatus.reason" placeholder="Halt Reason"
                      rows="2"
                      ng-maxlength="500" md-maxlength="500"
                      md-autofocus required></textarea>
            <div ng-messages="vm.HaltResumeForm.reason.$error">
              <div ng-message="required">
                <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
              </div>
              <div ng-message="maxlength">
                <span>{{vm.getMaxLengthValidation(500, vm.HaltResumeForm.reason.$viewValue.length)}}</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div flex="100" layout="row" class="margin-top-5 input-wrapper" ng-if="!vm.haltResumeStatus.isHalt">
          <p class="label-container">{{vm.HaltResumePopUp.ResumeReason}}<span>&nbsp;*</span></p>
          <md-input-container flex="100" flex-xs="100" class="margin-bottom-0">
            <textarea type="text" name="resumeReason" ng-model="vm.haltResumeStatus.resumeReason" placeholder="Resume Reason"
                      rows="2"
                      ng-maxlength="500" md-maxlength="500"
                      md-autofocus required></textarea>
            <div ng-messages="vm.HaltResumeForm.resumeReason.$error">
              <div ng-message="required">
                <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
              </div>
              <div ng-message="maxlength">
                <span>{{vm.getMaxLengthValidation(500, vm.HaltResumeForm.resumeReason.$viewValue.length)}}</span>
              </div>
            </div>
          </md-input-container>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">{{vm.HaltResumePopUp.Cancel}}</md-button>
      <md-button class="md-primary md-raised"
                 ng-class="{'md-formdirty': vm.HaltResumeForm.$dirty}"
                 ng-disabled="vm.saveBtnDisableFlag"
                 ng-click="vm.holdUnhold()">{{vm.haltResumeStatus.isHalt ? vm.HaltResumePopUp.Halt : vm.HaltResumePopUp.Resume}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
