<md-dialog aria-label="Available Rack Popup" draggable class="cm-component-detail cm-custom-label-common" flex="80">
  <md-toolbar ng-class="vm.themeClass">
    <div class="md-toolbar-tools">
      <h2>Camera Streaming</h2>
      <span flex></span>
      <popup-header-label label-data="vm.headerdata"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding" layout="column">
    <md-content class="md-padding-5" style="padding:20px;">

      <div layout="row" layout-wrap flex="100">

        <div flex="33" layout="column" ng-repeat="items in vm.LivCamList">
          <div class="cm-onedridview-div-camera" flex layout>
            <span class="width-100p cm-camera-title font-size-14 alignment-Item" ng-if="items">
              {{items.cameraName}}
              <span>
                <label class="lbl-livestream cm-redbgblink font-size-11 font-weight-400 ph-5 pv-3"
                  ng-if="items.status">LIVE</label>
                <md-button class="md-btn md-primary md-icon-button md-raised margin-right-0"
                  ng-click="vm.addEditRecord(items)" ng-disabled="vm.webcamDet.connecting">
                  <md-icon class="icon-pencil">
                    <md-tooltip>Edit</md-tooltip>
                  </md-icon>
                </md-button>
                <md-button class="md-btn md-primary md-icon-button md-raised margin-right-0 ml-0"
                  ng-click="vm.refreshVideoURL(items,0)" ng-disabled="vm.webcamDet.connecting  ">
                  <md-icon class="icon-reload">
                    <md-tooltip>Refresh View</md-tooltip>
                  </md-icon>
                </md-button>
              </span>
            </span>

            <div layout="row" layout-align="center center" style="padding-top: 10%;padding-bottom: 10%;" flex="100"
              layout-wrap ng-if="items && items.connecting" class="webcam-not-found cm-multi-camera-view-height">
              <label class="text-center">Connecting with webcam...</label>
            </div>
            <img src="{{items.cameraURL}}" ng-class="vm.livCamClass" ng-if="items.status" />
            <div layout="row" layout-align="center center" style="padding-top: 10%;padding-bottom: 10%;" flex="100"
              layout-wrap ng-if="items && !items.status && !items.connecting"
              class="webcam-connecting full-height cm-multi-camera-view-height">
              <label class="text-center">
                Webcam could not be started.<br /> Click on Refresh View/Configure IP to
                reconnect.
              </label>
            </div>

          </div>
        </div>

      </div>


    </md-content>
  </md-dialog-content>
  <!-- <md-dialog-actions layout="row">
    <md-button class="md-primary md-raised" aria-label="Submit" ng-click="vm.emitStart()">Start</md-button>
  </md-dialog-actions> -->

</md-dialog>