<md-dialog aria-label="Supplier Quote Copy" class="" cg-busy="{promise:(vm.cgBusyLoading)}" draggable>
  <form name="vm.supplierQuoteCopyForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Copy Supplier Quote</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="no-padding custom-scroll">
      <md-content class="padding-10" layout="column" layout-gt-xs="row">
        <div flex="100">
          <div flex="100" flex-xs="100" layout="row" layout-wrap>
            <div class="cm-section-main margin-right-5 margin-rs-right-0" flex="100">
              <div class="cm-section-inner" flex="100">
                <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                  <tbody>
                    <tr>
                      <th>
                        <p class="label-container">
                          Option
                        </p>
                      </th>
                      <td>
                        <md-input-container flex="100" class="m-0">
                          <md-radio-group layout="row" name="isExisting"
                                          class="cm-copy-supplierquote"
                                          id="isExisting" ng-model="vm.supplierQuote.isExisting" flex="100" ng-change="vm.changeRadioStatus()">
                            <md-radio-button id="isExisting" class="margin-top-0 margin-right-0"
                                             ng-value="true">Save In Existing Quote</md-radio-button>
                            <md-radio-button id="new" class="margin-top-0 margin-left-10"
                                             ng-value="false">New Quote</md-radio-button>
                          </md-radio-group>
                        </md-input-container>
                      </td>
                      <th ng-if="!vm.supplierQuote.isExisting"><p class="label-container">{{vm.LabelConstant.SupplierQuote.QuoteDate}}<span ng-if="!vm.isDisable">&nbsp;*</span></p></th>
                      <td ng-if="!vm.supplierQuote.isExisting">
                        <md-input-container flex="100" class="datepicker padding-right-0-imp margin-bottom-0 m-0">
                          <input type="text" class="float-left"
                                 id="quoteDate"
                                 name="quoteDate"
                                 max-value="vm.todayDate"
                                 required
                                 max-value-is-today-date="true"
                                 allow-past-date="true"
                                 allow-future-date="false"
                                 datetime-picker="{{$root.dateDisplayFormat}}"
                                 ng-model="vm.supplierQuote.quoteDate"
                                 ng-change="vm.onChangesoDate(vm.supplierQuote.quoteDate)"
                                 enable-time="false"
                                 ui-options="{clearOnBlur  : true}"
                                 ui-mask="{{$root.uimaskFormat.date.mask}}"
                                 ui-mask-placeholder="{{$root.uimaskFormat.date.placeholder}}"
                                 model-view-value="true"
                                 datepicker-options="vm.quoteDateOptions"
                                 is-open="vm.IsPickerOpen[vm.DATE_PICKER.quoteDate]"
                                 close-text="Close" />
                          <md-icon md-font-icon="icon-calendar calender-icon" ng-click="vm.IsPickerOpen[vm.DATE_PICKER.quoteDate] =(vm.isDisable ? false : true)">
                          </md-icon>
                          <div ng-messages="vm.supplierQuoteCopyForm.quoteDate.$error" role="alert">
                            <div ng-message="maxvalue">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID_SUPPLIER_QUOTE_DATE}}</span>
                            </div>
                            <div ng-message="valid">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="datetime">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr ng-if="vm.supplierQuote.isExisting">
                      <th>
                        <p class="label-container">
                          <a class="cm-text-decoration" ng-click="vm.goToSupplierQuoteList();" tabindex="-1">{{vm.autoCompleteQuoteNumber.placeholderName}}</a>
                          <span>&nbsp;*<check-unique-on-blur></check-unique-on-blur></span>
                        </p>
                      </th>
                      <td>
                        <md-input-container md-no-float ng-if="vm.autoCompleteQuoteNumber" class="autocompletecustom width-100p m-0" flex="100">
                          <custom-auto-complete
                                                custom-auto-focus="{{vm.autoFocusQuoteNumber}}"
                                                datalist="vm.quoteNumberList"
                                                column-name="vm.autoCompleteQuoteNumber.columnName"
                                                controller-name="vm.autoCompleteQuoteNumber.controllerName"
                                                view-template-url="vm.autoCompleteQuoteNumber.viewTemplateURL"
                                                key-column-name="vm.autoCompleteQuoteNumber.keyColumnName"
                                                input-name="vm.autoCompleteQuoteNumber.inputName"
                                                key-column-id="vm.autoCompleteQuoteNumber.keyColumnId"
                                                is-required="vm.autoCompleteQuoteNumber.isRequired"
                                                is-addnew="vm.autoCompleteQuoteNumber.isAddnew"
                                                callback-fn="vm.autoCompleteQuoteNumber.callbackFn"
                                                add-data="vm.autoCompleteQuoteNumber.addData"
                                                on-select-callback-fn="vm.autoCompleteQuoteNumber.onSelectCallbackFn">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr ng-if="!vm.supplierQuote.isExisting">
                      <th><p class="label-container">{{vm.LabelConstant.SupplierQuote.Quote}}<span ng-if="!vm.isDisable">&nbsp;*<check-unique-on-blur></check-unique-on-blur></span></p></th>
                      <td colspan="3">
                        <md-input-container flex="100" class="margin-bottom-0 m-0">
                          <input type="text"
                                 name="quoteNumber"
                                 id="quoteNumber"
                                 ng-model="vm.supplierQuote.quoteNumber"
                                 class="input-text-uppercase"
                                 custom-blur="vm.checkQuoteNumberUnique()"
                                 capitalize
                                 required ng-maxlength="50"
                                 md-maxlength="50">
                          <div ng-messages="vm.supplierQuoteCopyForm.quoteNumber.$error"
                               role="alert">
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="maxlength">
                              <span>{{vm.getMaxLengthValidation(50, vm.supplierQuoteCopyForm.quoteNumber.$viewValue.length)}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr ng-if="!vm.supplierQuote.isExisting">
                      <th><p class="label-container">{{vm.LabelConstant.SupplierQuote.Reference}}</th>
                      <td colspan="3">
                        <md-input-container flex="100" class="margin-bottom-0 m-0">
                          <input type="text"
                                 ng-disabled="vm.isDisable"
                                 name="reference"
                                 id="reference"
                                 ng-model="vm.supplierQuote.reference"
                                 ng-maxlength="255"
                                 md-maxlength="255">
                          <div ng-messages="vm.supplierQuoteCopyForm.reference.$error"
                               role="alert">
                            <div ng-message="maxlength">
                              <span>{{vm.getMaxLengthValidation(255, vm.formSupplierQuoteDetails.supplierQuoteCopyForm.$viewValue.length)}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised"
                 ng-class="{'md-formdirty': vm.supplierQuoteCopyForm.$dirty}"
                 ng-click="vm.save()">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
