
<md-dialog aria-label="part-costingapi" class="fullpopup full-height" draggable>
    <form name="vm.componentCustomerLOAForm" class="cm-custom-label-common cm-component-customer-popup">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2>Upload <span ng-if="vm.isComponent">Customer&nbsp;</span><span ng-if="vm.isCustomer">Part&nbsp;</span>LOA</h2>
                <span flex></span>
                <div layout="row" layout-align="center center" class="customer-loa-pop-header-width">
                    <popup-header-label label-data="vm.headerdata"></popup-header-label>
                </div>

                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="no-padding">
          <md-content class="md-padding margin-10 padding-top-10" layout-wrap>
            <div flex="50" layout="row" class="margin-top-10" ng-if="vm.isBOM">
              <div flex="100" layout="row">
                <div flex="100" layout="row" class="input-wrapper margin-right-10">
                  <p class="label-container"><a class="cm-text-decoration" tabindex="-1" ng-click="vm.goToList();">{{vm.isComponent?vm.autoCompleteCustomer.placeholderName:vm.autoCompleteComponentAlias.placeholderName}}</a><span>&nbsp;*</span></p>
                  <md-input-container ng-if="vm.autoCompleteCustomer && vm.isComponent" class="autocompletecustom width-100p" flex="100" custom-auto-focus="true">
                    <custom-auto-complete datalist="vm.CustomerList"
                                          column-name="vm.autoCompleteCustomer.columnName"
                                          controller-name="vm.autoCompleteCustomer.controllerName"
                                          view-template-url="vm.autoCompleteCustomer.viewTemplateURL"
                                          key-column-name="vm.autoCompleteCustomer.keyColumnName"
                                          input-name="vm.autoCompleteCustomer.inputName"
                                          placeholder-name="vm.autoCompleteCustomer.placeholderName"
                                          key-column-id="vm.autoCompleteCustomer.keyColumnId"
                                          is-required="vm.autoCompleteCustomer.isRequired"
                                          is-addnew="vm.autoCompleteCustomer.isAddnew"
                                          callback-fn="vm.autoCompleteCustomer.callbackFn"
                                          add-data="vm.autoCompleteCustomer.addData"
                                          on-select-callback-fn="vm.autoCompleteCustomer.onSelectCallbackFn">
                    </custom-auto-complete>
                  </md-input-container>
                  <md-input-container flex="100" ng-if="vm.autoCompleteComponentAlias && vm.isCustomer" class="autocompletecustom margin-bottom-0" md-no-float>
                    <custom-auto-complete-search on-search-fn="vm.autoCompleteComponentAlias.onSearchFn"
                                                 custom-auto-focus="true"
                                                 column-name="vm.autoCompleteComponentAlias.columnName"
                                                 controller-name="vm.autoCompleteComponentAlias.controllerName"
                                                 view-template-url="vm.autoCompleteComponentAlias.viewTemplateURL"
                                                 key-column-name="vm.autoCompleteComponentAlias.keyColumnName"
                                                 input-name="vm.autoCompleteComponentAlias.inputName"
                                                 placeholder-name="vm.autoCompleteComponentAlias.placeholderName"
                                                 key-column-id="vm.autoCompleteComponentAlias.keyColumnId"
                                                 is-required="vm.autoCompleteComponentAlias.isRequired"
                                                 is-addnew="vm.autoCompleteComponentAlias.isAddnew"
                                                 callback-fn="vm.autoCompleteComponentAlias.callbackFn"
                                                 add-data="vm.autoCompleteComponentAlias.addData"
                                                 on-select-callback-fn="vm.autoCompleteComponentAlias.onSelectCallbackFn">
                    </custom-auto-complete-search>
                  </md-input-container>
                </div>
                <!--<div>
          <md-button class="md-raised md-primary md-button md-ink-ripple text-white margin-0" ng-click="vm.uploadLOA($event)" ng-disabled="!vm.componentCustomerLOAForm.$valid">Upload LOA</md-button>
      </div>-->
              </div>
            </div>
            <div layout="row" class="border cm-upload-part" flex="100" layout-wrap ng-if="vm.LOAID && (vm.isCustomer || vm.isComponent)
                                                                      && (((vm.isCustomer && vm.autoCompleteComponentAlias.keyColumnId) || (vm.autoCompleteCustomer.keyColumnId && vm.isComponent)) || !vm.isBOM)">
              <!--<documentsupload entity="vm.entityname" ref-trans-id="vm.LOAID" is-title="null"></documentsupload>-->
              <documents entity="vm.entityname" ref-trans-id="vm.LOAID" is-hide-display-tree="true" is-title="null"></documents>
            </div>
          </md-content>
        </md-dialog-content>
    </form>
</md-dialog>
