<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="fjt.pricingservice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FJT" providerName="MySql.Data.MySqlClient" connectionString="Server=192.168.1.120;Database=flexjobtracking_pilot;uid=root;password=triveni@123;port=3306;persistsecurityinfo=True" />
  </connectionStrings>
  <appSettings>
    <add key="FJTAPIUrl" value="https://192.168.1.120:2004/api/v1/" />
    <add key="ReportAPIUrl" value="https://192.168.1.120:3143/api/" />
    <add key="MongoDBServer" value="mongodb://fjt:triveni123@localhost:27017" />
    <add key="MongoDBName" value="fjtpricing_dev" />
    <add key="RabbitMqUserName" value="admin" />
    <add key="RabbitMqPassword" value="admin" />
    <!--rabbitmq message exchange-->
    <add key="RabbitMqServerHost" value="192.168.1.120" />
    <add key="RabbitMqProductionVirtualHost" value="production" />
    <add key="NotificationsTopic" value="Notifications" />
    <add key="DirectivesTopic" value="Directives" />
    <!--rabbitmq message exchange-->
    <add key="RabbitMqPricingHost" value="localhost" />
    <add key="RabbitMqURI" value="amqp://localhost:5672" />
    <add key="RabbitMqPricingVirtualHost" value="PricingService_Dev" />
    <!--digi key RabbitMq Configuration-->
    <add key="RabbitDigiKeyQueue" value="DigiKeyServiceQueue" />
    <add key="RabbitDigiKeyV3Queue" value="DigiKeyServiceV3Queue" />
    <add key="DigiKeyConsumerPrefetchCount" value="3" />
    <!--Mouser RabbitMq Configuration-->
    <add key="RabbitMouserQueue" value="MouserServiceQueue" />
    <add key="MouserConsumerPrefetchCount" value="2" />
    <!--Newark RabbitMq Configuration-->
    <add key="RabbitNewarkQueue" value="NewarkServiceQueue" />
    <add key="NewarkConsumerPrefetchCount" value="3" />
    <!--Avnet RabbitMq Configuration-->
    <add key="RabbitAvnetQueue" value="AvnetServiceQueue" />
    <add key="AvnetConsumerPrefetchCount" value="3" />
    <!--digi key client connection-->
    <add key="DigiKeyPackagesCount" value="3" />

    <!--Arrow RabbitMq Configuration-->
    <add key="RabbitArrowQueue" value="ArrowServiceQueue" />
    <add key="ArrowConsumerPrefetchCount" value="3" />
    <!--TTI RabbitMq Configuration-->
    <add key="RabbitTTIQueue" value="TTIServiceQueue" />
    <add key="TTIConsumerPrefetchCount" value="3" />
    <!--Heilind RabbitMq Configuration-->
    <add key="RabbitHeilindQueue" value="HeilindServiceQueue" />
    <add key="HeilindConsumerPrefetchCount" value="3" />
    <!--BOM Clean RabbitMq Configuration-->
    <add key="BOMCleanDKQueue" value="BOMCleanServiceDKQueue" />
    <add key="BOMCleanMOQueue" value="BOMCleanServiceMOQueue" />
    <add key="BOMCleanNWQueue" value="BOMCleanServiceNWQueue" />
    <add key="BOMCleanAVQueue" value="BOMCleanServiceAVQueue" />
    <add key="BOMCleanARQueue" value="BOMCleanServiceARQueue" />
    <add key="BOMCleanTTIQueue" value="BOMCleanServiceTTIQueue" />
    <add key="BOMCleanDKV3Queue" value="BOMCleanServiceDKV3Queue" />
    <add key="BOMCleanHeilindQueue" value="BOMCleanServiceHeilindQueue" />
    <add key="BOMCleanConsumerPrefetchCount" value="3" />
    <add key="BOMConsumerCount" value="1" />

    <!--SchedulePartUpdate RabbitMq Configuration-->
    <add key="SchedulePartUpdateQueue" value="SchedulePartUpdateQueue" />
    <add key="SchedulePartUpdateConsumerPrefetchCount" value="3" />

    <!--mail update component timer detail-->
    <add key="mailComponentUpdateTime" value="21600000" />

    <!--Error log queue key RabbitMq Configuration-->
    <add key="ErroLogQueue" value="ErroLogQueue" />
    <add key="ErrorPrefetchCount" value="5" />
    <!--PartClean RabbitMq Configuration-->
    <add key="PartCleanDKQueue" value="PartCleanServiceDKQueue" />
    <add key="PartCleanMOQueue" value="PartCleanServiceMOQueue" />
    <add key="PartCleanAVQueue" value="PartCleanServiceAVQueue" />
    <add key="PartCleanNWQueue" value="PartCleanServiceNWQueue" />
    <add key="PartCleanARQueue" value="PartCleanServiceARQueue" />
    <add key="PartCleanTTIQueue" value="PartCleanServiceTTIQueue" />
    <add key="PartCleanDKV3Queue" value="PartCleanServiceDKV3Queue" />
    <add key="PartCleanHeilindQueue" value="PartCleanServiceHeilindQueue" />
    <add key="PartPictureQueue" value="PartPictureServiceQueue" />
    <add key="PartPictureUploadPath" value="D:\Development\FJT\FJT-DEV\fjt.api\uploads\" />
    <add key="PartDataSheetUploadPath" value="D:\Development\FJT\FJT-DEV\fjt.api\datasheets\" />


    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="errorMailConfiguration" value="champak.chaudhary@triveniglobalsoft.com,vaibhav.shah@triveniglobalsoft.com,dixit@triveniglobalsoft.com,dharmishtha.vekariya@triveniglobalsoft.com,dharmesh.kalsariya@triveniglobalsoft.com" />-->
    <add key="errorMailConfiguration" value="shubham.prajapati@triveniglobalsoft.com" />
    <add key="RabbitMqEmailHost" value="localhost" />
    <add key="RabbitMqEmailVirtualHost" value="FJTEmailService_Dev" />
    <add key="RabbitEmailQueue" value="EmailServiceQueue" />

    <!--Octopart RabbitMq Configuration-->
    <add key="RabbitOctoPartQueue" value="OctoPartServiceQueue" />
    <add key="OctoPartConsumerPrefetchCount" value="1" />
    <add key="MouserAPIName" value="MouserJSONAPI" />
    <!--MouserAPIName MouserJSONAPI-MouserSOAPAPI-->

    <add key="IsLocalEnvironment" value="true" />

    <add key="IsOctoPartAPIEnable" value="false" />
    <!--<add key="IsLocalEnvironment" value="false" /> For Dev Its False-->

    <!-- Flag base update old component detail scheduler-->
    <add key="IsUpdateOldComponent" value="false" />

    <!-- Send Mail to Dev Team in case change Attribute of Part-->
    <add key="UpdatePartAttributeMailConfiguration" value="dixit@triveniglobalsoft.com,shubham.prajapati@triveniglobalsoft.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6">
      </provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.7.0" newVersion="6.10.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <fjt.pricingservice.Properties.Settings>
      <setting name="fjt_pricingservice_com_mouser_www_SearchAPI" serializeAs="String">
        <value>https://api.mouser.com/service/searchapi.asmx</value>
      </setting>
    </fjt.pricingservice.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>