<md-dialog aria-label="Employee" class="" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.employeeForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.data.title}}: {{vm.data.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll">
            <md-content class="padding-10 mh-5" layout="column" layout-gt-xs="row">
                <div flex="100" ng-if="vm.MainTitle.Does == vm.data.title">
                    <span class="margin-bottom-10" ng-if="vm.employeeForm.opDoes.$error.taMaxText" style="color:red; font-size:12px">{{vm.getMaxLengthValidation(vm.taToolbar.MAX_LENGTH, vm.employeeForm.opDoes.$viewValue.length)}}</span>
                    <text-angular flex="100" ta-toolbar="vm.taToolbar.INLINE" ng-model="vm.data.opData.opDoes" cg-busy-loading="vm.cgBusyLoading"
                                  ng-class="{'text-angular-custom-border':vm.employeeForm.opDoes.$error.taMaxText}"
                                  name="opDoes" class="" ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"></text-angular>
                </div>
                <div flex="100" ng-if="vm.MainTitle.Donts == vm.data.title">
                    <span class="margin-bottom-10" ng-if="vm.employeeForm.opDonts.$error.taMaxText" style="color:red; font-size:12px">{{vm.getMaxLengthValidation(vm.taToolbar.MAX_LENGTH, vm.employeeForm.opDonts.$viewValue.length)}}</span>
                    <text-angular flex="100" ta-toolbar="vm.taToolbar.INLINE" ng-model="vm.data.opData.opDonts" cg-busy-loading="vm.cgBusyLoading"
                                  ng-class="{'text-angular-custom-border':vm.employeeForm.opDonts.$error.taMaxText}"
                                  name="opDonts" class="" ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"></text-angular>
                </div>
                <div flex="100" ng-if="vm.MainTitle.Instruction == vm.data.title">
                  <span class="margin-bottom-0 label-container"
                        ng-style="{'color':vm.employeeForm.opDescription.$error.taMaxText?'red':''}"><span>{{vm.CORE_MESSAGE_CONSTANT.MIN_LENGTH_MESSAGE}}<span ng-if="vm.taToolbar.REQUIRED">&nbsp;*</span></span></span>
                  <span class="margin-bottom-10" ng-if="vm.employeeForm.opDescription.$error.taMaxText" style="color:red; font-size:12px">{{vm.getMaxLengthValidation(vm.taToolbar.MAX_LENGTH, vm.employeeForm.opDescription.$viewValue.length)}}</span>
                  <text-angular flex="100" ta-toolbar="vm.taToolbar.INLINE" ng-model="vm.data.opData.opDescription" cg-busy-loading="vm.cgBusyLoading"
                                ng-class="{'text-angular-custom-border':vm.employeeForm.opDescription.$error.taMaxText}"
                                name="opDescription" class="" ta-min-text="{{vm.taToolbar.MIN_LENGTH}}"
                                ta-max-text="{{vm.taToolbar.MAX_LENGTH}}" ng-required="{{vm.taToolbar.REQUIRED ? vm.taToolbar.REQUIRED : false}}"></text-angular>
                </div>
                <div flex="100" ng-if="vm.MainTitle.WorkingCondition == vm.data.title">
                    <span class="margin-bottom-10" ng-if="vm.employeeForm.opWorkingCondition.$error.taMaxText" style="color:red; font-size:12px">{{vm.getMaxLengthValidation(vm.taToolbar.MAX_LENGTH, vm.employeeForm.opWorkingCondition.$viewValue.length)}}</span>
                    <text-angular flex="100" ta-toolbar="vm.taToolbar.INLINE" ng-model="vm.data.opData.opWorkingCondition" cg-busy-loading="vm.cgBusyLoading"
                                  ng-class="{'text-angular-custom-border':vm.employeeForm.opWorkingCondition.$error.taMaxText}"
                                  name="opWorkingCondition" class="" ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"></text-angular>
                </div>
                <div flex="100" ng-if="vm.MainTitle.ManagementInstruction == vm.data.title">
                    <span class="margin-bottom-10" ng-if="vm.employeeForm.opManagementInstruction.$error.taMaxText" style="color:red; font-size:12px">{{vm.getMaxLengthValidation(vm.taToolbar.MAX_LENGTH, vm.employeeForm.opManagementInstruction.$viewValue.length)}}</span>
                    <text-angular flex="100" ta-toolbar="vm.taToolbar.INLINE" ng-model="vm.data.opData.opManagementInstruction" cg-busy-loading="vm.cgBusyLoading"
                                  ng-class="{'text-angular-custom-border':vm.employeeForm.opManagementInstruction.$error.taMaxText}"
                                  name="opManagementInstruction" class="" ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"></text-angular>
                </div>
                <div flex="100" ng-if="vm.MainTitle.DeferredInstruction == vm.data.title">
                    <span class="margin-bottom-10" ng-if="vm.employeeForm.opDeferredInstruction.$error.taMaxText" style="color:red; font-size:12px">{{vm.getMaxLengthValidation(vm.taToolbar.MAX_LENGTH, vm.employeeForm.opDeferredInstruction.$viewValue.length)}}</span>
                    <text-angular flex="100" ta-toolbar="vm.taToolbar.INLINE" ng-model="vm.data.opData.opDeferredInstruction" cg-busy-loading="vm.cgBusyLoading"
                                  ng-class="{'text-angular-custom-border':vm.employeeForm.opDeferredInstruction.$error.taMaxText}"
                                  name="opDeferredInstruction" class="" ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"></text-angular>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.UpdateOperation($event)"
                       ng-class="{'md-formdirty': vm.checkFormDirty(vm.employeeForm,null)}">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
