<md-dialog aria-label="assy-quantity-price-selection" class="operation-pop-main" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <md-toolbar ng-class="vm.themeClass">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h2>Price Selection Settings</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding" layout="row">
    <ms-form-wizard flex="100" layout="row">
      <div flex="100">
        <md-tabs validate-step="true" is-valid="vm.isStepValid" class="fielddetail" md-dynamic-height md-selected="vm.selectedTabIndex" id="manage-customer-tabing">
          <md-button class="md-primary md-raised" ng-click="vm.CopyPriceSelectionSetting(false)">{{vm.pagingInfo.settingType == vm.priceSelectionSettingType.NON_CUSTOM_PART_SELECTION.value ? 'Copy Custom Part Price selection':'Copy Non Custom Part Price selection'}}</md-button>
          <md-tab md-on-select="vm.onTabChanges(vm.priceSelectionSettingType.NON_CUSTOM_PART_SELECTION.name,msWizard)">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg">2</span>
                <span class="ms-form-wizard-step-number md-accent-bg">
                  <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Non-Custom Part Price Selection</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <div class="padding-10" flex="100">
                <form name="vm.manualpriceform">
                  <div class="content-card mh-5" layout="row" flex="100" ng-if="vm.NonCustomPartTab && !vm.isNoDataFound">
                    <md-card layout="column" class="margin-0" flex layout-align="space-between stretch" ng-if="vm.show">
                      <ui-grid-extention id="grid-part-costing-select" load-data="vm.loadData"
                                         class="cm-price-setting-popup-grid"
                                         grid-option="vm.gridOptions"
                                         header="vm.sourceHeader"
                                         grid-data="vm.sourceData"
                                         total-data-count="vm.totalSourceDataCount"
                                         reset-grid="vm.resetSourceGrid"
                                         selectted-rows="vm.selectedRowsList"
                                         paging-info="vm.pagingInfo"
                                         current-item="vm.currentdata"
                                         empty-state="vm.emptyState"
                                         get-data-down="vm.getDataDown">
                    </md-card>
                  </div>
                  <div layout="row" flex="100" class="empty-state text-center full-height" ng-if="vm.CustomPartTab" layout-align="center center" layout-wrap ng-show="vm.isNoDataFound">
                    <div class="emty-icon" flex="100">
                      <img ng-if="vm.isNoDataFound" ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                    </div>
                    <p ng-if="vm.isNoDataFound" flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
                  </div>
                </form>
              </div>
            </md-tab-body>
          </md-tab>
          <md-tab md-on-select="vm.onTabChanges(vm.priceSelectionSettingType.CUSTOM_PART_SELECTION.name,msWizard)">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg">2</span>
                <span class="ms-form-wizard-step-number md-accent-bg">
                  <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Custom Part Price Selection</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <div class="padding-10" flex="100">
                <form name="vm.manualpriceform">
                  <div class="content-card mh-5" layout="row" flex="100" ng-if="vm.CustomPartTab && !vm.isNoDataFound">
                    <md-card layout="column" class="margin-0" flex layout-align="space-between stretch" ng-if="vm.show">
                      <ui-grid-extention id="grid-part-costing-select" load-data="vm.loadData"
                                         class="cm-price-setting-popup-grid"
                                         grid-option="vm.gridOptions"
                                         header="vm.sourceHeader"
                                         grid-data="vm.sourceData"
                                         total-data-count="vm.totalSourceDataCount"
                                         reset-grid="vm.resetSourceGrid"
                                         selectted-rows="vm.selectedRowsList"
                                         paging-info="vm.pagingInfo"
                                         current-item="vm.currentdata"
                                         empty-state="vm.emptyState"
                                         get-data-down="vm.getDataDown">
                    </md-card>
                  </div>
                  <div layout="row" flex="100" class="empty-state text-center full-height" ng-if="vm.NonCustomPartTab" layout-align="center center" layout-wrap ng-show="vm.isNoDataFound">
                    <div class="emty-icon" flex="100">
                      <img ng-if="vm.isNoDataFound" ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                    </div>
                    <p ng-if="vm.isNoDataFound" flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
                  </div>
                </form>
              </div>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </div>
    </ms-form-wizard>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="space-between center">
    <p><b>{{vm.CORE_MESSAGE_CONSTANT.UI_GRID_EDIT_NOTE}}</b></p>
    <div>
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.saveQtySetting(false)" ng-class="{'md-formdirty': vm.isdirty}">Save</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.saveQtySetting(true)" ng-class="{'md-formdirty': vm.isdirty}">Save & close</md-button>
    </div>
  </md-dialog-actions>
</md-dialog>

<!--<style>
    .gridheight {
        height: calc(100vh - 260px) !important;
    }
</style>-->
