<md-dialog class="cm-custom-label-common cm-bin-add-update" aria-label="Add Part Alias Validations" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="90">
  <form name="vm.aliasPartsValidationForm" class="md-inline-form" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
          <h2>{{vm.aliasPartsValidation.id==null ? 'Add':'Update'}} Part Alias Validations</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custome-scroll">
      <md-content class="padding-10 mh-5">
        <div class="cm-section-main margin-bottom-5">
          <div class="cm-section-inner">
            <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
              <tbody>
                <tr>
                  <th>
                    <p class="label-container">{{vm.autoCompleteValidationType.placeholderName}}<span ng-hide="vm.aliasPartsValidation.id">&nbsp;*</span></p>
                  </th>
                  <td colspan="3">
                    <md-input-container ng-if="vm.autoCompleteValidationType" class="autocompletecustom margin-bottom-0" flex custom-auto-focus="true">
                      <custom-auto-complete class="min-width-initial" datalist="vm.validationTypeList"
                                            column-name="vm.autoCompleteValidationType.columnName"
                                            controller-name="vm.autoCompleteValidationType.controllerName"
                                            view-template-url="vm.autoCompleteValidationType.viewTemplateURL"
                                            key-column-name="vm.autoCompleteValidationType.keyColumnName"
                                            input-name="vm.autoCompleteValidationType.inputName"
                                            placeholder-name="vm.autoCompleteValidationType.placeholderName"
                                            key-column-id="vm.autoCompleteValidationType.keyColumnId"
                                            is-required="vm.autoCompleteValidationType.isRequired"
                                            is-addnew="vm.autoCompleteValidationType.isAddnew"
                                            callback-fn="vm.autoCompleteValidationType.callbackFn"
                                            is-disabled="vm.aliasPartsValidation.id || vm.isReadOnly"
                                            on-select-callback-fn="vm.autoCompleteValidationType.onSelectCallbackFn">
                      </custom-auto-complete>
                    </md-input-container>
                  </td>
                  <th>
                    <p class="label-container">
                      <a class="cm-text-decoration" ng-click="vm.goToFunctionalTypeList();" tabindex="-1">{{vm.autoCompletePartType.placeholderName}}</a><span ng-hide="vm.aliasPartsValidation.id">&nbsp;*</span>
                    </p>
                  </th>
                  <td colspan="2">
                    <md-input-container flex="100" ng-if="vm.autoCompletePartType" class="autocompletecustom cm-custom-autocomplete">
                      <custom-auto-complete class="min-width-initial" datalist="vm.partTypeList"
                                            column-name="vm.autoCompletePartType.columnName"
                                            key-column-name="vm.autoCompletePartType.keyColumnName"
                                            controller-name="vm.autoCompletePartType.controllerName"
                                            view-template-url="vm.autoCompletePartType.viewTemplateURL"
                                            input-name="vm.autoCompletePartType.inputName"
                                            placeholder-name="vm.autoCompletePartType.placeholderName"
                                            key-column-id="vm.autoCompletePartType.keyColumnId"
                                            is-addnew="vm.autoCompletePartType.isAddnew"
                                            callback-fn="vm.autoCompletePartType.callbackFn"
                                            is-required="vm.autoCompletePartType.isRequired"
                                            add-data="vm.autoCompletePartType.addData"
                                            is-disabled="vm.aliasPartsValidation.id || vm.isReadOnly"
                                            on-select-callback-fn="vm.autoCompletePartType.onSelectCallbackFn">
                      </custom-auto-complete>
                    </md-input-container>
                  </td>
                  <th>
                  </th>
                  <td class="vertical-middle-align padding-bottom-0">
                    <div flex="100" layout="row" layout-align="end center" class="padding-right-8">
                      <md-button class="md-primary defaultbtn md-raised margin-0 margin-bottom-10"
                                 ng-disabled="(!vm.aliasPartsValidationForm.$valid) || vm.isReadOnly"
                                 ng-click="vm.openExpression()">
                        Add Condition
                      </md-button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="cm-section-main">

          <!--<table cellspacing="0" cellpadding="0" class="cm-table-input-main cm-alternate-pop-up">
            <tr>
              <th class="width-25p">
                <h2>Column<span>&nbsp;*</span></h2>
              </th>
              <th ng-show="false">
                <h2>Data Type<span>&nbsp;*</span></h2>
              </th>
              <th class="width-10p">
                <h2>Criteria<span>&nbsp;*</span></h2>
              </th>
              <th class="width-10p"><h2 class="text-center">Null Value Valid</h2></th>
              <th class="width-35p"><h2 class="text-center">Sample Criteria</h2></th>
              <th class="width-10p"></th>
            </tr>
          </table>-->
          <div class="cm-section-inner cm-overflow-auto cm-alias-validation-max-height cm-common-table-ui padding-0">
            <table cellspacing="0" cellpadding="0" class="cm-table-input-main cm-alternate-pop-up">
              <thead>
                <tr>
                  <th class="width-25p">
                    <h2>Attributes<span>&nbsp;*</span></h2>
                  </th>
                  <th ng-show="false">
                    <h2>Data Type<span>&nbsp;*</span></h2>
                  </th>
                  <th class="width-10p">
                    <h2>Criteria<span>&nbsp;*</span></h2>
                  </th>
                  <th class="width-35p"><h2 class="text-center">Validation Rules</h2></th>
                  <th class="width-10p"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in vm.aliasPartsValidationList">
                  <td class="width-25p">
                    <md-input-container ng-if="item.autoCompleteTitle" class="autocompletecustom margin-bottom-0" flex="100">
                      <custom-auto-complete class="min-width-initial" datalist="vm.filedList"
                                            column-name="item.autoCompleteTitle.columnName"
                                            controller-name="item.autoCompleteTitle.controllerName"
                                            view-template-url="item.autoCompleteTitle.viewTemplateURL"
                                            key-column-name="item.autoCompleteTitle.keyColumnName"
                                            input-name="item.autoCompleteTitle.inputName"
                                            placeholder-name="item.autoCompleteTitle.placeholderName"
                                            key-column-id="item.autoCompleteTitle.keyColumnId"
                                            is-required="item.autoCompleteTitle.isRequired"
                                            is-addnew="item.autoCompleteTitle.isAddnew"
                                            callback-fn="item.autoCompleteTitle.callbackFn"
                                            is-disabled="item.aliasPartsValidation.id || vm.isReadOnly"
                                            on-select-callback-fn="item.autoCompleteTitle.onSelectCallbackFn"
                                            callback-fn-param="item">
                      </custom-auto-complete>
                    </md-input-container>
                  </td>
                  <td ng-show="false">
                    <md-input-container ng-if="item.autoCompleteFieldDataType" class="autocompletecustom margin-bottom-0" flex="100">
                      <custom-auto-complete class="min-width-initial" datalist="vm.fieldDataTypeList"
                                            column-name="item.autoCompleteFieldDataType.columnName"
                                            controller-name="item.autoCompleteFieldDataType.controllerName"
                                            view-template-url="item.autoCompleteFieldDataType.viewTemplateURL"
                                            key-column-name="item.autoCompleteFieldDataType.keyColumnName"
                                            input-name="item.autoCompleteFieldDataType.inputName"
                                            placeholder-name="item.autoCompleteFieldDataType.placeholderName"
                                            key-column-id="item.autoCompleteFieldDataType.keyColumnId"
                                            is-required="item.autoCompleteFieldDataType.isRequired"
                                            is-addnew="item.autoCompleteFieldDataType.isAddnew"
                                            callback-fn="item.autoCompleteFieldDataType.callbackFn"
                                            on-select-callback-fn="item.autoCompleteFieldDataType.onSelectCallbackFn"
                                            callback-fn-param="item"
                                            is-disabled="true">
                      </custom-auto-complete>
                    </md-input-container>
                  </td>
                  <td class="width-10p">
                    <md-input-container ng-if="item.autoCompleteMatchCriteria" class="autocompletecustom margin-bottom-0" flex="100">
                      <custom-auto-complete class="min-width-initial" datalist="item.matchCriteriaList"
                                            column-name="item.autoCompleteMatchCriteria.columnName"
                                            controller-name="item.autoCompleteMatchCriteria.controllerName"
                                            view-template-url="item.autoCompleteMatchCriteria.viewTemplateURL"
                                            key-column-name="item.autoCompleteMatchCriteria.keyColumnName"
                                            input-name="item.autoCompleteMatchCriteria.inputName"
                                            placeholder-name="item.autoCompleteMatchCriteria.placeholderName"
                                            key-column-id="item.autoCompleteMatchCriteria.keyColumnId"
                                            is-required="item.autoCompleteMatchCriteria.isRequired"
                                            is-addnew="item.autoCompleteMatchCriteria.isAddnew"
                                            callback-fn="item.autoCompleteMatchCriteria.callbackFn"
                                            is-disabled="vm.isReadOnly"
                                            on-select-callback-fn="item.autoCompleteMatchCriteria.onSelectCallbackFn"
                                            callback-fn-param="item">
                      </custom-auto-complete>
                    </md-input-container>
                  </td>
                  <td ng-if="item" class="width-35p">
                    <div class="margin-top-5" ng-if="item.fieldTitle && item.matchCriteriaText">
                      PID1 ({{item.fieldTitle}}) <b>{{item.matchCriteriaText}}</b> PID2 ({{item.fieldTitle}})
                    </div>
                  </td>
                  <th ng-if="item" class="padding-0 width-10p">
                    <div layout="row" layout-align="center center">
                      <md-button class="md-primary defaultbtn md-raised" ng-disabled="vm.isReadOnly" ng-click="vm.removeAliasFromList($event,$index)">
                        Remove
                      </md-button>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.saveAliasPartsValidation()" ng-disabled="vm.isReadOnly" id="saveBtn"
                 ng-class="{'md-formdirty': vm.aliasPartsValidationForm.$dirty}"
                 aria-label="Submit">
        Save
      </md-button>
      <!--ng-disabled="!vm.aliasPartsValidationForm.$valid || (!vm.checkFormDirty(vm.aliasPartsValidationForm,vm.checkFormDirty) && !vm.isChange)"-->
    </md-dialog-actions>
  </form>
</md-dialog>
