<md-dialog aria-label="Add Description" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="30">
    <form name="vm.AddDescriptionForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Description</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="no-padding custom-scroll" layout="row">
            <md-content class="md-padding mh-10" flex="100">
                <div flex="100">
                    <md-input-container flex="100" class="width-100p">
                        <div layout="column" flex="100" flex-xs="100">
                            <!--ng-style="{'color':vm.AddDescriptionForm.description.$error.taMaxText?'red':''}"-->
                            <span class="label-container margin-bottom-0">Description <span style="font-size:12px;">{{vm.CORE_MESSAGE_CONSTANT.MIN_LENGTH_MESSAGE}}</span></span>
                            <span class="label-container margin-bottom-10" ng-if="vm.AddDescriptionForm.description.$error.taMaxText" style="color:red; font-size:12px">{{vm.getMaxLengthValidation(vm.taToolbar.MAX_LENGTH,vm.AddDescriptionForm.description.$viewValue.length)}}</span>
                        </div>                 
                        <!--ta-text-editor-class="notranslate"--> 
                        <text-angular ta-toolbar="vm.taToolbar.INLINE" cg-busy-loading="vm.cgBusyLoading" ng-model="vm.BarcodeTemplateModel.description"
                                      ng-class="{'text-angular-custom-border':vm.AddDescriptionForm.description.$error.taMaxText}"
                                      name="description" 
                                      ta-min-text="{{vm.taToolbar.MIN_LENGTH}}" 
                                      ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"></text-angular>
                    </md-input-container>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.cancel(vm.BarcodeTemplateModel.description,'OK')" ng-disabled="vm.AddDescriptionForm.$invalid || !vm.checkFormDirty(vm.AddDescriptionForm)" aria-label="Submit">OK</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
