<div id="forms" class="page-layout simple fullwidth doc-page breadcrumb-fixed" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
  <ms-form-wizard flex>
    <div class="header md-accent-bg" layout="row" layout-align="start center">
      <md-button class="goto-products-button md-icon-button cm-back-btn-p-m" type="button" ng-click="vm.goBack()">
        <md-icon md-font-icon="icons-backarrow" class="material-icons icons-backarrow cm-back-btn">
        </md-icon>
      </md-button>
      <div class="white-fg" layout="row" layout-align="space-between center" flex="100">
        <div>
          <div class="h2" layout="row" layout-align="start center">
            <pagetitle is-list="false" is-display-menu-name="true" prefix-content="vm.BarcodeTemplateModel.id ? 'Update' : 'Add'" suffix-content=""></pagetitle>
            <md-tooltip ng-if="vm.BarcodeTemplateModel.id" md-direction="right">Update Barcode Template</md-tooltip>
          </div>
          <div class="product-count">
            <span>
              <breadcrumbs></breadcrumbs>
            </span>
          </div>
        </div>
        <div>
          <div layout="row" layout-wrap layout-align="center center">
            <div layout="column" class="cm-header-draft-btn" layout-wrap layout-align="center center">
              <md-menu-bar id="user-menu">
                <md-menu md-position-mode="left bottom">
                  <md-button class="user-button" ng-click="$mdOpenMenu()" aria-label="User settings">
                    <div layout="row" layout-align="space-between center">
                      <span class="username">{{vm.getTemplateStatus(vm.BarcodeTemplateModel.status?vm.BarcodeTemplateModel.status:vm.BarcodeTemplateModel.status=0)}}</span>
                      <md-icon md-font-icon="icon-chevron-down" class="icon s16"></md-icon>
                    </div>
                  </md-button>
                  <md-menu-content width="3">
                    <md-menu-item ng-repeat="status in vm.WoStatus | orderBy:'DisplayOrder'">
                      <md-button ng-click="vm.changeTemplateStatus(status)">{{status.Name}}</md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-bar>
              <div layout="row" layout-align="center center">
                <span class="cm-font-10 padding-bottom-8" ng-if="vm.BarcodeTemplateModel.status == vm.WoStatus[0].ID"><b>{{vm.CORE_MESSAGE_CONSTANT.SUFFIX_NOTES_4}}</b></span>
                <span class="cm-font-10 padding-bottom-8" ng-if="vm.BarcodeTemplateModel.status == vm.WoStatus[1].ID"><b>{{vm.CORE_MESSAGE_CONSTANT.SUFFIX_NOTES_5}}</b></span>
              </div>
            </div>

            <div layout="row" layout-align="center center">
              <md-button class="md-raised md-primary"
                         ng-disabled="vm.saveBtnFlag"
                         ng-class="{'md-formdirty': vm.AddBarcodeLabelTemapleteForm.$dirty}"
                         ng-click="vm.SaveBarcodeTemplate()" id="saveBarcode">
                Save
              </md-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-card padding-top-side cm-custom-label-common" layout-wrap layout="row" flex>
      <div class="padding-10" flex="100">
        <div layout="row" flex="100" layout-wrap>
          <form name="vm.AddBarcodeLabelTemapleteForm" layout="row" layout-wrap class="md-inline-form padding-0 flex-100" ms-form-wizard-form novalidate>
            <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
            <div class="cm-section-main margin-bottom-5 flex-100 overflow-auto-rs">
              <div class="cm-section-inner">
                <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                  <tbody>
                    <tr>
                      <th><p class="label-container">{{vm.autoCompleteBarcodeCategory.placeholderName}}<span ng-hide="vm.BarcodeTemplateModel.id">&nbsp;*</span></p></th>
                      <td>
                        <md-input-container class="margin-top-10 margin-bottom-0 autocompletecustom flex-100" ng-if="vm.autoCompleteBarcodeCategory">
                          <custom-auto-complete datalist="vm.BarcodeCategoryList"
                                                column-name="vm.autoCompleteBarcodeCategory.columnName"
                                                key-column-name="vm.autoCompleteBarcodeCategory.keyColumnName"
                                                input-name="vm.autoCompleteBarcodeCategory.inputName"
                                                placeholder-name="vm.autoCompleteBarcodeCategory.placeholderName"
                                                key-column-id="vm.autoCompleteBarcodeCategory.keyColumnId"
                                                is-required="vm.autoCompleteBarcodeCategory.isRequired"
                                                custom-auto-focus="{{true}}"
                                                is-addnew="vm.autoCompleteBarcodeCategory.isAddnew"
                                                on-select-callback-fn="vm.autoCompleteBarcodeCategory.onSelectCallbackFn"
                                                is-disabled="vm.BarcodeTemplateModel.id">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                      <th><p class="label-container">{{vm.autoCompleteBarcodeType.placeholderName}}<span ng-hide="vm.BarcodeTemplateModel.id">&nbsp;*</span></p></th>
                      <td>
                        <md-input-container class="margin-top-10 margin-bottom-0 autocompletecustom flex-100" ng-if="vm.autoCompleteBarcodeType">
                          <custom-auto-complete datalist="vm.BarcodeTypeList"
                                                column-name="vm.autoCompleteBarcodeType.columnName"
                                                key-column-name="vm.autoCompleteBarcodeType.keyColumnName"
                                                input-name="vm.autoCompleteBarcodeType.inputName"
                                                placeholder-name="vm.autoCompleteBarcodeType.placeholderName"
                                                key-column-id="vm.autoCompleteBarcodeType.keyColumnId"
                                                is-required="vm.autoCompleteBarcodeType.isRequired"
                                                is-addnew="vm.autoCompleteBarcodeType.isAddnew"
                                                on-select-callback-fn="vm.autoCompleteBarcodeType.onSelectCallbackFn"
                                                is-disabled="vm.BarcodeTemplateModel.id">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                      <th><p class="label-container">Name<span>&nbsp;*</span></p></th>
                      <td>
                        <md-input-container flex="100" class="margin-top-10 margin-bottom-0">
                          <input type="text" name="name" id="name" ng-model="vm.BarcodeTemplateModel.name"
                                 placeholder="Name" required ng-maxlength="255" ng-disabled="vm.BarcodeTemplateModel.status === vm.WoStatus[1].ID">
                          <div ng-messages="vm.AddBarcodeLabelTemapleteForm.name.$error" role="alert">
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="maxlength">
                              <span>{{vm.getMaxLengthValidation(255,vm.AddBarcodeLabelTemapleteForm.name.$viewValue.length)}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                      <th>
                        <p flex="25" class="margin-top-0 margin-bottom-0 label-container layout-align-end-start" layout-align="start start" layout="row">
                          <a class="cm-text-decoration underline" ng-click="vm.goToMFGList();" tabindex="-1">{{vm.autoCompletemfgCode.placeholderName}}</a>
                          <span>&nbsp;*</span>
                        </p>
                      </th>
                      <td>
                        <md-input-container class="margin-top-10 margin-bottom-0 autocompletecustom flex-100" ng-if="vm.autoCompletemfgCode">
                          <custom-auto-complete-search on-search-fn="vm.autoCompletemfgCode.onSearchFn"
                                                       column-name="vm.autoCompletemfgCode.columnName"
                                                       controller-name="vm.autoCompletemfgCode.controllerName"
                                                       parent-column-name="vm.autoCompletemfgCode.parentColumnName"
                                                       view-template-url="vm.autoCompletemfgCode.viewTemplateURL"
                                                       key-column-name="vm.autoCompletemfgCode.keyColumnName"
                                                       input-name="vm.autoCompletemfgCode.inputName"
                                                       placeholder-name="vm.autoCompletemfgCode.placeholderName"
                                                       key-column-id="vm.autoCompletemfgCode.keyColumnId"
                                                       is-required="vm.autoCompletemfgCode.isRequired"
                                                       is-addnew="vm.autoCompletemfgCode.isAddnew"
                                                       callback-fn="vm.autoCompletemfgCode.callbackFn"
                                                       is-addalias="true"
                                                       is-disabled="vm.BarcodeTemplateModel.status === vm.WoStatus[1].ID"
                                                       add-data="vm.autoCompletemfgCode.addData"
                                                       on-select-callback-fn="vm.autoCompletemfgCode.onSelectCallbackFn">
                          </custom-auto-complete-search>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr>
                      <th><p class="label-container">Scan Sample Label<span ng-hide="vm.BarcodeTemplateModel.id">&nbsp;*</span></p></th>
                      <td colspan="7">
                        <md-input-container class="margin-top-25">
                          <input type="text" name="Sampledata" id="Sampledata" ng-model="vm.BarcodeTemplateModel.Sampledata" placeholder="Scan Sample Label"
                                 ng-minlength="0" ng-maxlength="1000" required ng-disabled="vm.BarcodeTemplateModel.status === vm.WoStatus[1].ID" ng-keyup="vm.focusChange($event)">
                          <span flex="100" class="font-size-10">
                            <b>Scan 1D or 2D barcode label or enter</b>
                          </span>
                          <div ng-messages="vm.AddBarcodeLabelTemapleteForm.Sampledata.$error" role="alert">
                            <div ng-message="maxlength">
                              <span>{{vm.getMaxLengthValidation(1000,vm.AddBarcodeLabelTemapleteForm.Sampledata.$viewValue.length)}}</span>
                            </div>
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr>
                      <th><p class="label-container">Ignore Number of Prefix Characters</p></th>
                      <td>
                        <md-input-container class="margin-top-10 margin-bottom-0" flex="100" ng-disabled="vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[0].Id">
                          <input type="number" name="prefixlength" ng-model="vm.BarcodeTemplateModel.prefixlength"
                                 onkeypress="return OnlyNumeric(event)" id="prefixlength"
                                 placeholder="Ignore Number of Prefix Characters" max="256" min="0"
                                 ng-disabled="vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[0].Id || vm.BarcodeTemplateModel.status === vm.WoStatus[1].ID"
                                 flex="100">
                          <div ng-messages="vm.AddBarcodeLabelTemapleteForm.prefixlength.$error"
                               role="alert">                            
                            <div ng-message="max">
                              <span>{{vm.getNumberLengthValidation(256,vm.AddBarcodeLabelTemapleteForm.prefixlength.$viewValue)}}</span>
                            </div>
                            <div ng-message="number || min">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                      <th><p class="label-container">Ignore Number of Suffix Characters</p></th>
                      <td>
                        <md-input-container class="margin-top-10 margin-bottom-0" flex="100">
                          <input type="number" name="suffixlength" ng-model="vm.BarcodeTemplateModel.suffixlength"
                                 onkeypress="return OnlyNumeric(event)"
                                 placeholder="Ignore Number of Suffix Characters" max="256" min="0"
                                 ng-disabled="vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[0].Id || vm.BarcodeTemplateModel.status === vm.WoStatus[1].ID"
                                 flex="100">
                          <div ng-messages="vm.AddBarcodeLabelTemapleteForm.suffixlength.$error" role="alert">
                            <div ng-message="max">
                              <span>{{vm.getNumberLengthValidation(256,vm.AddBarcodeLabelTemapleteForm.suffixlength.$viewValue)}}</span>
                            </div>
                            <div ng-message="number || min">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                      <th>
                        <p flex="25" class="margin-top-0 margin-bottom-0 label-container layout-align-end-start" layout-align="start start" layout="row">
                          <a class="cm-text-decoration underline" ng-click="vm.goToBarcodeSeparatorsList();" tabindex="-1">{{vm.autoCompleteSeparator.placeholderName}}</a>
                          <span ng-if="vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[1].Id">&nbsp;*</span>
                        </p>
                      </th>
                      <td>
                        <md-input-container class="margin-top-10 margin-bottom-0 autocompletecustom flex-100" ng-if="vm.autoCompleteSeparator">
                          <custom-auto-complete datalist="vm.separatorList"
                                                column-name="vm.autoCompleteSeparator.columnName"
                                                controller-name="vm.autoCompleteSeparator.controllerName"
                                                view-template-url="vm.autoCompleteSeparator.viewTemplateURL"
                                                key-column-name="vm.autoCompleteSeparator.keyColumnName"
                                                input-name="vm.autoCompleteSeparator.inputName"
                                                placeholder-name="vm.autoCompleteSeparator.placeholderName"
                                                key-column-id="vm.autoCompleteSeparator.keyColumnId"
                                                is-required="vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[1].Id ? vm.autoCompleteSeparator.isRequired : false"
                                                is-addnew="vm.autoCompleteSeparator.isAddnew"
                                                callback-fn="vm.autoCompleteSeparator.callbackFn"
                                                on-select-callback-fn="vm.autoCompleteSeparator.onSelectCallbackFn"
                                                add-data="vm.autoCompleteSeparator.addData"
                                                is-disabled="vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[0].Id || vm.BarcodeTemplateModel.status === vm.WoStatus[1].ID">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr ng-if="vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[1].Id">
                      <th></th>
                      <td colspan="5">
                        <ul class="font-size-14 margin-top-0 margin-left-20 padding-0">
                          Hints:
                          <li>{{vm.CORE_MESSAGE_CONSTANT.SUFFIX_NOTES_1}}</li>
                          <li>{{vm.CORE_MESSAGE_CONSTANT.SUFFIX_NOTES_2}}</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th></th>
                      <td colspan="7">
                        <div flex="100" layout="row" class="margin-right-5 input-wrapper">
                          <p class="margin-top-0 margin-bottom-0 label-container layout-align-end-start" layout-align="start start" layout="row">Rescan Sample Label<span>&nbsp;*</span></p>
                          <md-input-container class="margin-top-25">
                            <input type="text" name="Samplereaddata" id="Samplereaddata" ng-model="vm.BarcodeTemplateModel.Samplereaddata" placeholder="Scan Sample Label"
                                   ng-minlength="0" ng-maxlength="1000" required data-focusButton="saveBarcode" last-element elementcondition="true"
                                   ng-change="vm.highlight(vm.BarcodeTemplateModel.Samplereaddata)" ng-keypress="vm.scanLabelDet($event,vm.AddBarcodeLabelTemapleteForm.Samplereaddata)" ng-disabled="vm.BarcodeTemplateModel.status == vm.WoStatus[1].ID">
                            <span flex="100" class="font-size-10">
                              <b>Scan 1D or 2D barcode label or enter</b>
                            </span>
                            <div ng-messages="vm.AddBarcodeLabelTemapleteForm.Samplereaddata.$error" role="alert">
                              <div ng-message="maxlength">
                                <span>{{vm.getMaxLengthValidation(1000,vm.AddBarcodeLabelTemapleteForm.Samplereaddata.$viewValue.length)}}</span>
                              </div>
                              <div ng-message="required">
                                <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                              </div>
                            </div>
                          </md-input-container>
                        </div>
                        <p class="margin-top-0" ng-if="vm.text">Label Result: <span ng-bind-html="vm.text?vm.text:null" class="cm-white-space-normal word-break"></span></p>
                        <div flex="100" class="font-size-14">
                          <ul class="pl-20 cm-bom-error-message">
                            <li ng-if="vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[1].Id">{{vm.CORE_MESSAGE_CONSTANT.SUFFIX_NOTES_3}}</li>
                            <li ng-if="vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[0].Id">{{vm.CORE_MESSAGE_CONSTANT.SUFFIX_NOTES_6}}</li>
                            <li ng-if="vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[1].Id">{{vm.CORE_MESSAGE_CONSTANT.SUFFIX_NOTES_7}}</li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div layout="row">
                  <div flex="60">
                    <div layout="row" layout-align="end end" class="padding-right-5">
                      <md-button class="md-raised md-primary margin-right-0 margin-top-0"
                                 ng-click="vm.goToAttribute()">
                        Add Attributes
                      </md-button>
                      <md-button class="md-raised md-primary margin-right-0 margin-top-0"
                                 ng-click="vm.refreshAttribute()">
                        Refresh Attributes
                      </md-button>
                    </div>
                    <div class="content-card padding-right-5" layout="row">
                      <md-card layout="column" class="margin-0" flex layout-align="space-between stretch" ng-if="vm.sourceHeader.length>0">
                        <ui-grid-extention load-data="vm.loadData"
                                           ng-class="{'barcode-grid-1d-height':vm.autoCompleteBarcodeType.keyColumnId !== vm.BarcodeTypeList[1].Id,'barcode-grid-2d-height':vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[1].Id}"
                                           grid-option="vm.gridOptions"
                                           header="vm.sourceHeader"
                                           grid-data="vm.sourceData"
                                           total-data-count="vm.totalSourceDataCount"
                                           reset-grid="vm.resetSourceGrid"
                                           selectted-rows="vm.selectedRowsList"
                                           paging-info="vm.pagingInfo"
                                           current-item="vm.currentdata"
                                           get-data-down="vm.getDataDown"
                                           empty-state="vm.emptyState"
                                           delete-multiple-data="vm.deleteMultipleData">
                      </md-card>
                    </div>
                  </div>
                  <div flex="40" layout="row">
                    <md-input-container flex="100">
                      <div layout="column" flex="100" flex-xs="100" class="margin-top-2">
                        <span class="label-container margin-bottom-0">Description <span style="font-size:12px;">{{vm.CORE_MESSAGE_CONSTANT.MIN_LENGTH_MESSAGE}}</span></span>
                        <span class="label-container margin-bottom-10" ng-style="{'color':vm.AddBarcodeLabelTemapleteForm.description.$error.taMaxText?'red':'','font-size':vm.AddBarcodeLabelTemapleteForm.description.$error.taMaxText?'12px':''}">{{vm.getMaxLengthValidation(vm.taToolbar.MAX_LENGTH,vm.AddBarcodeLabelTemapleteForm.description.$viewValue.length)}}</span>
                      </div>
                      <text-angular ta-toolbar="vm.taToolbar.INLINE" ng-model="vm.BarcodeTemplateModel.description" cg-busy-loading="vm.cgBusyLoading"
                                    ng-class="{'text-angular-custom-border':vm.AddBarcodeLabelTemapleteForm.description.$error.taMaxText,
                                              'barcode-grid-1d-height':vm.autoCompleteBarcodeType.keyColumnId !== vm.BarcodeTypeList[1].Id,
                                              'barcode-grid-2d-height':vm.autoCompleteBarcodeType.keyColumnId === vm.BarcodeTypeList[1].Id}"
                                    name="description"
                                    ng-required="false"
                                    ta-disabled="vm.BarcodeTemplateModel.status === vm.WoStatus[1].ID"
                                    ta-min-text="{{vm.taToolbar.MIN_LENGTH}}"
                                    ta-max-text="{{vm.taToolbar.MAX_LENGTH}}"
                                    class="margin-top-3 cm-manage-barcode-lb-tem"></text-angular>
                    </md-input-container>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </ms-form-wizard>
</div>
<style>
  
  .ui-grid-cell-focus {
    border: 0 !important;
    height: 100%;
  }

  .form-control {
    width: 100% !important;
  }

  .ui-grid-cell-contents {
    width: 100%;
    overflow: visible;
  }
</style>
