<div id="forms" class="page-layout simple fullwidth doc-page breadcrumb-fixed" layout="row" cg-busy="{promise:vm.cgBusyLoading}">
  <div class="center margin-left-0 margin-right-0" layout="column" flex>
    <div class="header md-accent-bg" layout="row" layout-align="start center">
      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h2" layout="row" layout-align="start center">
          <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
        </div>
        <div layout="row" layout-align="start center" class="product-count">
          <breadcrumbs></breadcrumbs>
        </div>
      </div>
      <div layout="row" layout-wrap layout-align="end center" flex flex-xs="100">
        <md-button class="md-primary md-raised" ng-click="vm.updateRecord(null,$event)">
          Add {{vm.tabName}} Transaction Mode
        </md-button>
      </div>
    </div>

    <div class="content-card padding-top-side" layout="column" flex>
      <div layout="row" flex="100">
        <ms-form-wizard flex>
          <md-tabs class="fielddetail padding-0 cm-part-master-rs"
                   md-dynamic-height md-selected="vm.selectedIndex">
            <md-tab ng-click="vm.onTabChanges(true, true)">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                  <span class="ms-form-wizard-step-text">Payable</span>
                </span>
              </md-tab-label>
              <md-tab-body>
                <div flex="100" layout="row" layout-wrap>
                  <div flex="100">
                    <md-card layout="column" class="margin-0 " flex layout-align="space-between stretch"
                             ng-if="vm.tabName === vm.transactionModesTabs.Payable.Name">
                      <transaction-modes-list transaction-modes-tab-name="vm.tabName"
                                              cg-busy-loading="vm.cgBusyLoading">
                      </transaction-modes-list>
                    </md-card>
                  </div>
                </div>
              </md-tab-body>
            </md-tab>

            <md-tab ng-click="vm.onTabChanges(false, true)">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                  <span class="ms-form-wizard-step-text">Receivable</span>
                </span>
              </md-tab-label>
              <md-tab-body>
                <div flex="100" layout="row" layout-wrap>
                  <div flex="100">
                    <md-card layout="column" class="margin-0 " flex layout-align="space-between stretch"
                             ng-if="vm.tabName === vm.transactionModesTabs.Receivable.Name">
                      <transaction-modes-list transaction-modes-tab-name="vm.tabName"
                                              cg-busy-loading="vm.cgBusyLoading">
                      </transaction-modes-list>
                    </md-card>
                  </div>
                </div>
              </md-tab-body>
            </md-tab>
          </md-tabs>
        </ms-form-wizard>
      </div>
    </div>
  </div>
</div>
