<md-dialog aria-label="PurchaseInspectionDetail" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="90">

  <form name="vm.formPackingSlipPartInspection" class="md-inline-form">
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Inspection Requirement(s) & Verification</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div layout="row" layout-sm="column" flex>
      <div class="input-wrapper mb-5 margin-right-4" flex-gt-lg="100" flex-lg="50" flex-md="100" flex-sm="100" layout="row" layout-align="start-center">
        <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-click="vm.viewPurchaseRequirementList()" ng-disabled="vm.isNoDataFound">View</md-button>
      </div>
    </div>
    <md-dialog-content class="padding-10">
      <md-content>

        <div class="content-card" layout="column" flex ng-show="!vm.isNoDataFound">
          <div flex="100">
            <div class="content-card" layout="column">
              <div layout="column" flex layout-align="space-between stretch">
                <ui-grid-extention class="cm-ps-receive-part-instruction-grid cm-grid-height-auto"
                                   load-data="vm.loadData"
                                   grid-id="vm.gridPackingSlipReceivePartInspectionDetail"
                                   grid-option="vm.gridOptions"
                                   header="vm.sourceHeader"
                                   grid-data="vm.sourceData"
                                   total-data-count="vm.totalSourceDataCount"
                                   reset-grid="vm.resetSourceGrid"
                                   selectted-rows="vm.selectedRowsList"
                                   paging-info="vm.pagingInfo"
                                   current-item="vm.currentdata"
                                   get-data-down="vm.getDataDown"
                                   empty-state="vm.emptyState">
                </ui-grid-extention>
              </div>
            </div>
          </div>
        </div>

        <div class="empty-state text-center full-height" layout="row" layout-align="center center" flex="100" layout-wrap ng-if="vm.isNoDataFound == true">
          <div class="emty-icon" flex="100">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
          </div>
          <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
          <p flex="100">
            <md-button class="md-fab md-mini" ng-click="vm.loadData()">
              <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
              <md-tooltip>Refresh Packing Slip Material Receive Part Instruction Detail</md-tooltip>
            </md-button>
          </p>
        </div>

      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
      <md-button class="md-primary md-raised"
                 ng-click="vm.updateMaterialReceivePartInstructionStatus();" aria-label="Submit"
                 ng-class="{'md-formdirty': vm.formPackingSlipPartInspection.$dirty}"
                 ng-disabled="vm.packingSlipDisable || vm.isDisableSaveButton || (vm.packingSlipDetail && (vm.packingSlipDetail.TotalUMIDCount > 0 || (vm.packingSlipDetail.invoiceStatus && vm.packingSlipDetail.invoiceStatus !== vm.MaterialInvoiceStatus.Pending)))">
        Save
      </md-button>
    </md-dialog-actions>

  </form>

</md-dialog>
