<md-dialog aria-label="Add Assy Revision" class="mfg-popup-width cm-custom-label-common" draggable>
    <form name="vm.changePasswordForm">
        <md-toolbar ng-class="vm.themeClass">
            <div class="md-toolbar-tools">
                <h2>Change Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.clickCancel=true;vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custome-scroll" cg-busy="{promise:vm.cgBusyLoading}">
            <md-content class="md-padding">
                <div layout="row" class="cm-section-main border-0" flex="100" layout-wrap>
                    <div class="cm-section-inner cm-section-inner-popup" flex="100">
                        <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                            <tbody>
                                <tr>
                                    <th>
                                        <p class="label-container">Old Password<span>&nbsp;*<check-unique-on-blur>
                                                </check-unique-on-blur></span></p>
                                    </th>
                                    <td class="cm-width-password cm-employee-manage-password">
                                        <md-input-container class="md-block pos-rel" flex="100" ng-if="!vm.uid">
                                            <input id="OldPassword" type="{{vm.showOldPassword ? 'text' : 'password'}}"
                                                   name="OldPassword" ng-model="vm.employee.passwordOld"
                                                   custom-blur="vm.validateUser(vm.changePasswordForm.OldPassword,vm.employee.passwordOld,$event)"
                                                   ng-maxlength="100" placeholder="Old Password" ng-disabled="vm.uid"
                                                   ng-paste="$event.preventDefault()" required md-autofocus ng-keypress="vm.showOldPassword=false">
                                            <md-button tabindex="-1" ng-if="vm.changePasswordForm.OldPassword.$viewValue && vm.showOldPassword" md-font-icon="icon-eye-off" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple" ng-click="vm.showOldPassword = !vm.showOldPassword"><a>Hide</a></md-button>
                                            <md-button tabindex="-1" ng-if="vm.changePasswordForm.OldPassword.$viewValue && !vm.showOldPassword" md-font-icon="icon-eye" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple" ng-click="vm.showOldPassword = !vm.showOldPassword"><a>Show</a></md-button>
                                            <!--<md-icon ng-if="vm.changePasswordForm.OldPassword.$viewValue && vm.showOldPassword"
                                                     md-font-icon="icon-eye-off" class="usdicon cm-password-eye"
                                                     ng-click="vm.showOldPassword = !vm.showOldPassword"></md-icon>
                                            <md-icon ng-if="vm.changePasswordForm.OldPassword.$viewValue && !vm.showOldPassword"
                                                     md-font-icon="icon-eye" class="usdicon cm-password-eye"
                                                     ng-click="vm.showOldPassword = !vm.showOldPassword"></md-icon>-->
                                            <div ng-messages="vm.changePasswordForm.OldPassword.$error || vm.changePasswordForm.OldPassword.$touched"
                                                role="alert">
                                                <div ng-message="required">
                                                    <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                                </div>
                                                <div ng-message="wrongpassword">
                                                    <span>{{vm.CORE_MESSAGE_CONSTANT.USER_PASSWORD_INCORRECT}}</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="label-container">New Password<span>&nbsp;*</span></p>
                                    </th>
                                    <td class="cm-width-password cm-employee-manage-password">
                                        <md-input-container class="md-block pos-rel" flex="100" ng-if="!vm.uid">
                                            <input id="NewPassword" type="{{vm.showPassword ? 'text' : 'password'}}"
                                                   name="NewPassword" ng-model="vm.employee.password"
                                                   placeholder="New Password" ng-maxlength="100"
                                                   ng-disabled="!vm.isPasswordValid" ng-pattern="vm.UserPasswordPattern"
                                                   required ng-keypress="vm.showPassword=false">
                                            <md-button tabindex="-1" ng-if="vm.changePasswordForm.NewPassword.$viewValue && vm.showPassword" md-font-icon="icon-eye-off" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple" ng-click="vm.showPassword = !vm.showPassword"><a>Hide</a></md-button>
                                            <md-button tabindex="-1" ng-if="vm.changePasswordForm.NewPassword.$viewValue && !vm.showPassword" md-font-icon="icon-eye" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple" ng-click="vm.showPassword = !vm.showPassword"><a>Show</a></md-button>
                                            <!--<md-icon ng-if="vm.changePasswordForm.NewPassword.$viewValue && vm.showPassword"
                                                     md-font-icon="icon-eye-off" class="usdicon cm-password-eye"
                                                     ng-click="vm.showPassword = !vm.showPassword"></md-icon>
                                            <md-icon ng-if="vm.changePasswordForm.NewPassword.$viewValue && !vm.showPassword"
                                                     md-font-icon="icon-eye" class="usdicon cm-password-eye"
                                                     ng-click="vm.showPassword = !vm.showPassword"></md-icon>-->
                                            <div ng-messages="vm.changePasswordForm.NewPassword.$error" role="alert">
                                                <div ng-message="required"
                                                    ng-show="vm.isPasswordValid && vm.changePasswordForm.NewPassword.$touched">
                                                    <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                                </div>
                                                <div ng-message="maxlength">
                                                    <span>{{::vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                                                </div>
                                                <div ng-message="pattern"
                                                    ng-if="vm.changePasswordForm.NewPassword.$touched">
                                                    <span>{{::vm.CORE_MESSAGE_CONSTANT.USER_PASSWORD_MESSAGE}}</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="label-container">Confirm New Password<span
                                                ng-if="vm.employee.password">&nbsp;*</span></p>
                                    </th>
                                    <td class="cm-width-password cm-employee-manage-password">
                                        <md-input-container class="md-block pos-rel" flex="100" ng-if="!vm.uid">
                                            <input type="{{vm.showConfirmPassword ? 'text' : 'password'}}"
                                                   name="ConfirmNewPassword" ng-model="vm.employee.passwordConfirmation"
                                                   ng-match="vm.employee.password" ng-maxlength="100"
                                                   placeholder="Confirm New Password" ng-disabled="!vm.isPasswordValid"
                                                   ng-paste="$event.preventDefault()" ng-required="vm.employee.password" ng-keypress="vm.showConfirmPassword=false">
                                            <md-button ng-if="vm.changePasswordForm.ConfirmNewPassword.$viewValue && vm.showConfirmPassword" md-font-icon="icon-eye-off" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple" ng-click="vm.showConfirmPassword = !vm.showConfirmPassword"><a>Hide</a></md-button>
                                            <md-button ng-if="vm.changePasswordForm.ConfirmNewPassword.$viewValue && !vm.showConfirmPassword" md-font-icon="icon-eye" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple" ng-click="vm.showConfirmPassword = !vm.showConfirmPassword"><a>Show</a></md-button>
                                            <!--<md-icon ng-if="vm.changePasswordForm.ConfirmNewPassword.$viewValue && vm.showConfirmPassword"
                                                     md-font-icon="icon-eye-off" class="usdicon cm-password-eye"
                                                     ng-click="vm.showConfirmPassword = !vm.showConfirmPassword"></md-icon>
                                            <md-icon ng-if="vm.changePasswordForm.ConfirmNewPassword.$viewValue && !vm.showConfirmPassword"
                                                     md-font-icon="icon-eye" class="usdicon cm-password-eye"
                                                     ng-click="vm.showConfirmPassword = !vm.showConfirmPassword"></md-icon>-->
                                            <div ng-messages="vm.changePasswordForm.ConfirmNewPassword.$error || vm.changePasswordForm.ConfirmNewPassword.$touched"
                                                role="alert">
                                                <div ng-message="required">
                                                    <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                                </div>
                                                <div ng-message="match">
                                                    <span>{{vm.CORE_MESSAGE_CONSTANT.NOT_MATCH}}</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.clickCancel=true;vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.save()" ng-disabled="vm.saveDisable"
                aria-label="Submit" ng-class="{'md-formdirty': vm.checkFormDirty(vm.changePasswordForm,null)}">Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>