<md-dialog aria-label="manage-rfq-lineitem-headers cm-custom-label-common" flex="90" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.manualpriceform" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar ng-class="vm.themeClass">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>Manual Pricing</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel(vm.manualpriceform)">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="column">
      <md-content class="md-padding">
        <div layout="row" flex="100" class="margin-vertical-5" layout-wrap>
          <div flex="100" layout="row">
            <div class="cm-section-main margin-right-5" flex="60" layout="row">
              <div flex="15">
                <div class="part-images" flex-xl="100" flex="100">
                  <div flex="100" class="drop-box image manual-price-image-height">
                    <img class="img img-no-drag" ng-src="{{vm.displayCurrentImage() }}" />
                  </div>
                </div>
              </div>
              <div class="cm-section-inner" flex="85">
                <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                  <tbody>
                    <tr>
                      <th>
                        <p class="label-container">
                          <a tabindex="-1" class="cm-text-decoration" ng-click="vm.goToMFGList();">{{vm.LabelConstant.MFG.MFG}}</a><span>&nbsp;*</span>
                        </p>
                      </th>
                      <td>
                        <md-input-container flex="100" class="margin-0 autocompletecustom" ng-if="vm.autoCompleteMFG" md-no-float custom-auto-focus="true">
                          <custom-auto-complete class="min-width-initial" datalist="vm.mfgCodeList"
                                                column-name="vm.autoCompleteMFG.columnName"
                                                key-column-name="vm.autoCompleteMFG.keyColumnName"
                                                input-name="vm.autoCompleteMFG.inputName"
                                                key-column-id="vm.autoCompleteMFG.keyColumnId"
                                                is-required="vm.autoCompleteMFG.isRequired"
                                                on-select-callback-fn="vm.autoCompleteMFG.onSelectCallbackFn"
                                                is-addnew="vm.autoCompleteMFG.isAddnew">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                      <th>
                        <p class="label-container">
                          <a tabindex="-1" class="cm-text-decoration" ng-click="vm.goToPartList();">{{vm.LabelConstant.MFG.MFGPN}}</a><span>&nbsp;*</span>
                        </p>
                      </th>
                      <td>
                        <md-input-container flex="100" class="margin-0 autocompletecustom" ng-if="vm.autoCompletepartNumber" md-no-float>
                          <custom-auto-complete class="min-width-initial" datalist="vm.partNumberList"
                                                column-name="vm.autoCompletepartNumber.columnName"
                                                key-column-name="vm.autoCompletepartNumber.keyColumnName"
                                                input-name="vm.autoCompletepartNumber.inputName"
                                                key-column-id="vm.autoCompletepartNumber.keyColumnId"
                                                is-required="vm.autoCompleteMFG.keyColumnId && vm.autoCompletedistCode.isRequired"
                                                is-disabled="(vm.autoCompleteMFG.keyColumnId!=0 && !vm.autoCompleteMFG.keyColumnId)"
                                                on-select-callback-fn="vm.autoCompletepartNumber.onSelectCallbackFn"
                                                is-addnew="vm.autoCompletepartNumber.isAddnew">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr>
                      <th><p class="label-container">Description</p></th>
                      <td>
                        <md-input-container flex="100" md-no-float class="margin-0">
                          <input type="text" ng-disabled="true" name="MfgDescription" ng-model="vm.pricing.MfgDescription">
                          <md-tooltip ng-if="vm.pricing.MfgDescription">{{vm.pricing.MfgDescription}}</md-tooltip>
                        </md-input-container>
                      </td>
                      <th>
                        <p class="label-container">
                          <a tabindex="-1" class="cm-text-decoration" ng-click="vm.goToSupplierList();">Supplier</a><span>&nbsp;*</span>
                        </p>
                      </th>
                      <td>
                        <md-input-container flex="100" class="margin-0 autocompletecustom" ng-if="vm.autoCompletedistCode" md-no-float>
                          <custom-auto-complete class="min-width-initial" datalist="vm.mfgCodeDetail"
                                                column-name="vm.autoCompletedistCode.columnName"
                                                key-column-name="vm.autoCompletedistCode.keyColumnName"
                                                input-name="vm.autoCompletedistCode.inputName"
                                                controller-name="vm.autoCompletedistCode.controllerName"
                                                parent-column-name="vm.autoCompletedistCode.parentColumnName"
                                                view-template-url="vm.autoCompletedistCode.viewTemplateURL"
                                                key-column-id="vm.autoCompletedistCode.keyColumnId"
                                                is-required="vm.autoCompletedistCode.isRequired"
                                                callback-fn="vm.autoCompletedistCode.callbackFn"
                                                on-select-callback-fn="vm.autoCompletedistCode.onSelectCallbackFn"
                                                is-addnew="vm.autoCompletedistCode.isAddnew"
                                                add-data="vm.autoCompletedistCode.addData">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p class="label-container">
                          Min<span>&nbsp;*</span>
                        </p>
                      </th>
                      <td>
                        <md-input-container flex="100" md-no-float class="margin-0">
                          <input type="number" min="1" max="999999" name="min" ng-model="vm.pricing.MinimumBuy"
                                 placeholder="Min" step="1"
                                 required>
                          <div ng-messages="vm.manualpriceform.min.$error"
                               role="alert">
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="min">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="max">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="number">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                      <th><p class="label-container">Mult<span>&nbsp;*</span></p></th>
                      <td>
                        <md-input-container flex="100" class="margin-0" md-no-float>
                          <input type="number" name="Mult" min="1" max="999999" ng-model="vm.pricing.Multiplier"
                                 placeholder="Mult" step="1"
                                 required>
                          <div ng-messages="vm.manualpriceform.Mult.$error"
                               role="alert">
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="min">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="max">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="number">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr>
                      <th><p class="label-container">Stock<span>&nbsp;*</span></p></th>
                      <td>
                        <md-input-container flex="100" class="margin-0" md-no-float>
                          <input type="number" name="stock" min="0" maxlength="9" ng-model="vm.pricing.CurrentStockQty" step="1"
                                 placeholder="Stock"
                                 required>
                          <div ng-messages="vm.manualpriceform.stock.$error"
                               role="alert">
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="min">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="maxlength">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="number">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                      <th ng-if="vm.autoCompletePackage">

                        <p class="label-container">
                          <a tabindex="-1" class="cm-text-decoration" ng-click="vm.goToPackagingList();">Packaging</a>
                        </p>
                      </th>
                      <td ng-if="vm.autoCompletePackage">
                        <md-input-container flex="100" class="margin-0 autocompletecustom" md-no-float>
                          <custom-auto-complete class="min-width-initial" datalist="vm.packagingAll"
                                                column-name="vm.autoCompletePackage.columnName"
                                                controller-name="vm.autoCompletePackage.controllerName"
                                                view-template-url="vm.autoCompletePackage.viewTemplateURL"
                                                key-column-name="vm.autoCompletePackage.keyColumnName"
                                                input-name="vm.autoCompletePackage.inputName"
                                                key-column-id="vm.autoCompletePackage.keyColumnId"
                                                is-required="vm.autoCompletePackage.isRequired"
                                                add-data="vm.autoCompletePackage.addData"
                                                callback-fn="vm.autoCompletePackage.callbackFn"
                                                is-addnew="vm.autoCompletePackage.isAddnew">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr>
                      <th ng-if="vm.autoCompleteReeling"><p class="label-container">Custom Reel</p></th>
                      <td ng-if="vm.autoCompleteReeling">
                        <md-input-container flex="100" class="margin-0 autocompletecustom" md-no-float>
                          <custom-auto-complete class="min-width-initial" datalist="vm.CustomReeling"
                                                column-name="vm.autoCompleteReeling.columnName"
                                                key-column-name="vm.autoCompleteReeling.keyColumnName"
                                                input-name="vm.autoCompleteReeling.inputName"
                                                placeholder-name="vm.autoCompleteReeling.placeholderName"
                                                key-column-id="vm.autoCompleteReeling.keyColumnId"
                                                is-required="vm.autoCompleteReeling.isRequired"
                                                is-addnew="vm.autoCompleteReeling.isAddnew">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                      <th ng-if="vm.autoCompleteNcNR">
                        <p class="label-container">NCNR</p>
                      </th>
                      <td ng-if="vm.autoCompleteNcNR">
                        <md-input-container flex="100" class="margin-0 autocompletecustom" md-no-float>
                          <custom-auto-complete class="min-width-initial" datalist="vm.Ncnr"
                                                column-name="vm.autoCompleteNcNR.columnName"
                                                key-column-name="vm.autoCompleteNcNR.keyColumnName"
                                                input-name="vm.autoCompleteNcNR.inputName"
                                                placeholder-name="vm.autoCompleteNcNR.placeholderName"
                                                key-column-id="vm.autoCompleteNcNR.keyColumnId"
                                                is-required="vm.autoCompleteNcNR.isRequired"
                                                is-addnew="vm.autoCompleteNcNR.isAddnew">
                          </custom-auto-complete>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p class="label-container">
                          Std. Lead Time (In Week)
                        </p>
                      </th>
                      <td>
                        <md-input-container flex="100" md-no-float class="margin-0">
                          <input type="number" step="{{vm.iscustomComponent?0.0000000001:1}}" name="LeadTime" ng-model="vm.pricing.LeadTime" min="0" max="{{vm.iscustomComponent?999999.0000000001:999999}}"
                                 placeholder="Std. Lead Time">
                          <div ng-messages="vm.manualpriceform.LeadTime.$error"
                               role="alert">
                            <div ng-message="min">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="max">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="step">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="number">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                      <th>
                        <p class="label-container">Additional Value Fee</p>
                      </th>
                      <td>
                        <md-input-container flex="100" md-no-float class="margin-0">
                          <input type="number" min="0" max="999" step="1" name="additionalValueFee" ng-model="vm.pricing.additionalValueFee"
                                 placeholder="Additional Value Fee">
                          <div ng-messages="vm.manualpriceform.additionalValueFee.$error"
                               role="alert">
                            <div ng-message="min">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="max">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="step">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                            <div ng-message="number">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="cm-section-main margin-right-5" flex="40">
              <div class="cm-section-main margin-5">
                <div class="cm-section-inner">
                  <p class="margin-bottom-5"><b>{{vm.LabelConstant.MANUAL_PRICE_MSG.CELL_COLOR}}</b></p>
                  <p class="margin-bottom-5">
                    {{vm.LabelConstant.MANUAL_PRICE_MSG.MESSAGE_VAL1}}
                  </p>
                  <p class="margin-bottom-5">
                    {{vm.LabelConstant.MANUAL_PRICE_MSG.MESSAGE_VAL2}}
                  </p>
                </div>
              </div>
              <div class="cm-section-inner">
                <table border="1">
                  <tr>
                    <th class="text-right padding-right-5">
                      Qty
                    </th>
                    <th class="text-right padding-right-5">
                      Unit Price($)
                    </th>
                    <th ng-if="vm.iscustomComponent" class="text-right padding-right-5">
                      Std. Lead Time (Weeks)
                    </th>
                    <th class="text-right padding-right-5">
                      Ext. Price($)
                    </th>
                    <th class="text-center">
                      Action
                    </th>
                  </tr>
                  <tr ng-repeat="item in vm.qtyBreakList">
                    <td class="padding-right-5"><input type="text" ng-paste="$event.preventDefault()" maxlength="7" class="text-right" onkeypress="return OnlyNumeric(event, this)" style="width:100%;" ng-model="item.qty" custom-blur="vm.extPrice(item,false)"></td>
                    <td class="padding-right-5" ng-class="{'background-red':item.isInvalidUnitPrice}"><input type="text" ng-paste="$event.preventDefault()" id="unit{{$index}}" class="text-right" onkeypress="return OnlyNumbersWithFirstDot(event, this)" style="width:100%;" ng-model="item.price" custom-blur="vm.extPrice(item,false)" ng-class="{'background-red':item.isInvalidUnitPrice}"></td>
                    <td class="padding-right-5" ng-if="vm.iscustomComponent"><input type="text" id="leadtime{{$index}}" ng-paste="$event.preventDefault()" class="text-right" onkeypress="return OnlyNumbersWithFirstDot(event, this)" custom-blur="vm.extPrice(item,false)" style="width:100%;" ng-model="item.leadTime"></td>
                    <td class="padding-right-5" ng-class="{'background-red':item.isInvalidExtPrice}"><input class="padding-right-5 text-right" id="ext{{$index}}" type="text" style="width:100%;" ng-model="item.ext" custom-blur="vm.extPrice(item,true)" ng-class="{'background-red':item.isInvalidExtPrice}"></td>
                    <td class="text-center"><md-button style="width:53%;min-height:23px !important" class="md-primary md-icon-button bdrbtn" ng-class="{'cursor-not-allow':item.isDisable}" ng-disabled="item.isDisable" ng-click="vm.removeRow(item)"><md-icon role="img" md-font-icon="icon-trash"></md-icon><md-tooltip md-direction="top">Delete</md-tooltip></md-button></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel(vm.manualpriceform)">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.saveManualPrice()"
                 ng-class="{'md-formdirty': vm.ischange || vm.checkFormDirty()}"
                 ng-disabled="vm.manualpriceform.$invalid || vm.checkAddDetails()">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
