<md-dialog aria-label="Add Customet Part#" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <!-- CONTENT -->
    <form name="vm.AddCustPartNoForm">
        <md-toolbar class="md-theme-light toolbar-45" layout="row" layout-align="space-between center">
            <h1 class="md-toolbar-tools">
                {{vm.nameOfChart}}
            </h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
        </md-toolbar>
        <md-dialog-content class="all-chart-cont customer-modal no-padding custome-scroll" layout="column">
            <md-content class="custom-scroll">
                <div layout="row" flex="100" layout-align="center center" class="padding-10">
                    <div flex="100">
                        <all-chart chart-template-id="vm.chartTemplateID" class="hc-btn-box"></all-chart>
                    </div>
                </div>
            </md-content>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
        </md-dialog-actions>
    </form>
    <!-- / CONTENT -->
</md-dialog>
