/node_modules
/public/libs
npm-debug.log*
/public/css/*
/public/css
/public/js/*
/public/js
/dist/*
/dist
uploads/
uploads/*
/public/client/assets/css/*
/.sass-cache/*
/public/client/**/css/*.css
/tmp
