<md-dialog aria-label="Void & Re-Receive Payment" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}"
           draggable flex="90" flex-lg="95">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Customer Refund Details</h2>
      <span flex></span>
      <popup-header-label label-data="vm.popupParamData.headerData"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="padding-10">
    <md-content>
      <div layout="row" flex="100">
        <div flex="100">
          <form name="vm.customerRefundPopupForm" layout="row" layout-wrap class="md-inline-form padding-10-imp" novalidate>
            <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
            <customer-refund-detail cust-refund-master-id="vm.popupParamData.custRefundMstID"
                                    save-customer-refund="manageCustomerRefundDet"
                                    void-payment-and-release-invoice-group="voidCustRefundAndReleaseInvoiceGroup"
                                    change-cust-refund-sub-status="manageCustRefundSubStatus"
                                    curr-active-form="vm.customerRefundPopupForm"
                                    main-parent-ctrl-scope="vm"
                                    is-print-check-action="true"></customer-refund-detail>
          </form>
        </div>
      </div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
    <md-button class="md-primary md-raised"
               ng-class="{'md-formdirty': vm.customerRefundPopupForm.$dirty}"
               ng-click="vm.saveCustomerRefund();" aria-label="Submit">Save</md-button>
  </md-dialog-actions>
</md-dialog>
