<md-dialog aria-label="{{::vm.taModel.title}}" flex="70" class="addexpression" draggable cg-busy="{promise:vm.cgBusyLoading}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="text-white">{{::vm.taModel.title}}</h2>
            <span flex></span>
            <popup-header-label label-data="vm.headerdata"></popup-header-label>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="frmTextAngular" id="frmTextAngular">
        <md-dialog-content class="no-padding">
            <md-content flex="100" layout-wrap layout="row" class="padding-10">
                <md-input-container class="margin-0 md-padding" flex="100">
                    <text-angular class="RFQ-info-text-area text-angular-editor-scroll ta-popup-element" ta-toolbar="vm.taToolbar.INLINE" cg-busy-loading="vm.cgBusyLoading" ng-model="vm.taModel.data"
                                  ng-required="vm.taModel.isRequired"
                                  ta-disabled="vm.taModel.isDisabled"
                                  name="tangular_com" ta-max-text="{{vm.taToolbar.MAX_LENGTH}}" md-autofocus></text-angular>
                </md-input-container>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-if="!vm.taModel.isDisabled">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">close</md-button>
            <md-button class="md-raised md-primary md-button md-ink-ripple text-white" ng-click="vm.submitForm()"> Ok</md-button>
        </md-dialog-actions>
        <md-dialog-actions layout="row" ng-if="vm.taModel.isDisabled">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>            
        </md-dialog-actions>
    </form>
</md-dialog>
