<md-dialog aria-label="analytics" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.folderForm" class="cm-custom-label-common" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Move To</h2>
        <span flex></span>
        <div layout="row" layout-align="center center">
          <popup-header-label label-data="vm.headerdata"></popup-header-label>
        </div>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll" layout="row">
      <md-content class="padding-10 custom-scroll" flex="100">
        <div layout-align="end center" flex="100" layout="row" class="font-size-14">
          Selected Destination Folder:&nbsp;<span><b>{{vm.selectedFolderDet ? vm.selectedFolderDet.text : '-'}}</b></span>
          <div layout-align="end end" class="ml-10">
            <md-button ng-if="vm.filefolderData.isAllowedToAddNewFolder" class="md-raised md-primary" aria-label="Add Folder"
                       ng-click="vm.createNewFolder()" ng-disabled="!vm.selectedFolderDet || !vm.selectedFolderDet.roleId">
              New Folder
            </md-button>
          </div>
        </div>
        <div flex="100" class="input-wrapper" layout="row">
          <document-jstree source="vm.folderList"
                           name="documentTreeForMoveFolderDoc"
                           is-upload-file="false"
                           options="treeOptions"
                           tree-node-creator="createNode(item)"
                           on-item-selected="vm.selectedFolder(item)"
                           on-item-created="vm.folderCreated(item, callback)"
                           on-tree-load="vm.onTreeLoaded(item, callback)"
                           is-read-only="false"
                           id="documentTreeForMoveFolderDoc"
                           div-class="vm.doumentClass"
                           is-context-menu="false"></document-jstree>
          <!--<p class="label-container">{{vm.autoCompleteFolders.placeholderName}}</p>
          <md-input-container ng-if="vm.autoCompleteFolders" class="autocompletecustom" flex="100" custom-auto-focus="true" flex-gt-xs="100">
            <custom-auto-complete datalist="vm.folderList"
                                  column-name="vm.autoCompleteFolders.columnName"
                                  controller-name="vm.autoCompleteFolders.controllerName"
                                  view-template-url="vm.autoCompleteFolders.viewTemplateURL"
                                  key-column-name="vm.autoCompleteFolders.keyColumnName"
                                  input-name="vm.autoCompleteFolders.inputName"
                                  placeholder-name="vm.autoCompleteFolders.placeholderName"
                                  key-column-id="vm.autoCompleteFolders.keyColumnId"
                                  is-required="vm.autoCompleteFolders.isRequired"
                                  is-addnew="vm.autoCompleteFolders.isAddnew"
                                  callback-fn="vm.autoCompleteFolders.callbackFn"
                                  on-select-callback-fn="vm.autoCompleteFolders.onSelectCallbackFn">
            </custom-auto-complete>
          </md-input-container>-->
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.moveFolder()" aria-label="Submit">
        Move
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
<style>

  /*.md-autocomplete-suggestions li md-autocomplete-parent-scope .categoryname {
    word-break: break-all !important;
  }*/
</style>
