<md-dialog aria-label="Component Approved Supplier" class="addexpression" flex="40" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <md-toolbar ng-class="vm.themeClass">
    <div class="md-toolbar-tools">
      <h2>Part Approved Supplier</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="vm.componentApprovedSupplierForm" class="md-inline-form" novalidate>
    <md-dialog-content class="no-padding" layout="column">
      <md-content class="padding-10">
        <div layout="row" flex="100" layout-wrap class="cm-custom-label-common">
          <div class="cm-section-main border-0" flex="100">
            <div class="cm-section-inner">
              <table cellpadding="0" cellspacing="0" class="cm-table-input-main width-100p">
                <tbody>
                  <tr>
                    <th>
                      <p class="label-container">
                        <a class="cm-text-decoration" ng-click="vm.goToSupplier();" tabindex="-1">{{vm.autoCompleteSupplier.placeholderName}}</a>
                        <span ng-if="!vm.isDisable">&nbsp;*<check-unique-on-blur></check-unique-on-blur></span>
                      </p>
                    </th>
                    <td>
                      <md-input-container ng-if="vm.autoCompleteSupplier" class="autocompletecustom width-100p" flex="100">
                        <custom-auto-complete custom-auto-focus="{{vm.autoFocusSupplier}}"
                                              datalist="vm.supplierList"
                                              column-name="vm.autoCompleteSupplier.columnName"
                                              controller-name="vm.autoCompleteSupplier.controllerName"
                                              view-template-url="vm.autoCompleteSupplier.viewTemplateURL"
                                              key-column-name="vm.autoCompleteSupplier.keyColumnName"
                                              input-name="vm.autoCompleteSupplier.inputName"
                                              placeholder-name="vm.autoCompleteSupplier.placeholderName"
                                              key-column-id="vm.autoCompleteSupplier.keyColumnId"
                                              is-required="vm.autoCompleteSupplier.isRequired"
                                              is-addnew="vm.autoCompleteSupplier.isAddnew"
                                              callback-fn="vm.autoCompleteSupplier.callbackFn"
                                              add-data="vm.autoCompleteSupplier.addData"
                                              on-select-callback-fn="vm.autoCompleteSupplier.onSelectCallbackFn">
                        </custom-auto-complete>
                      </md-input-container>
                    </td>
                    <th></th>
                    <td class="width-100">
                      <md-button class="md-primary md-raised margin-right-0 mt-1"
                                 ng-click="vm.saveComponentApprovedSupplier()"
                                 ng-disabled="vm.saveBtnDisableFlag"
                                 id="btnAdd"
                                 ng-class="{'md-formdirty': vm.componentApprovedSupplierForm.$dirty}"
                                 aria-label="Submit">Add</md-button>
                      <!--<md-button class="md-primary md-raised margin-right-0"
                                 ng-click="vm.selectAllSupplier()"
                                 ng-disabled="!vm.approvedSupplierList.length"
                                 aria-label="Submit">{{vm.isSelectAll ? 'Deselect All' :'Select All' }}</md-button>
                      <md-button class="md-primary md-raised margin-right-0"
                                 ng-click="vm.deleteApprovedSupplier()"
                                 ng-disabled="!vm.selectItem.length"
                                 aria-label="Submit">Delete</md-button>-->

                    </td>
                  </tr>
                  <tr>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div layout="row" flex="100" layout-wrap class="cm-custom-label-common">
          <div class="cm-section-main p-0" flex="100">
            <div class="cm-section-header height-auto p-0-imp">
              <h2 flex="5" class="pv-10 ph-5">#</h2>
              <h2 flex class="pv-10 ph-5 cm-border-left-gray">Part Approved Supplier</h2>
              <h2 flex="5" class="pv-10 ph-5"></h2>
            </div>
            <div class="cm-component-approved-supplier-list cm-section-inner padding-0" flex="100">
              <div class="drop-content" flex="100" layout-wrap layout="row">
                <div ui-sortable="vm.sortableOptions" flex="100"
                     class="approved-supplier-container" ng-model="vm.approvedSupplierList">
                  <div class="sortable-item" ui-sortable-selectable ng-repeat="supplier in vm.approvedSupplierList track by $index">
                    <div class="drop-static-content display-flex layout-align-space-between-center" layout="row" flex="100">
                      <!--<div>
                        <md-checkbox ng-model="supplier.isSelected" ng-change="vm.selectSupplier()" class="margin-0"></md-checkbox>
                      </div-->
                      <div flex="5" class="pv-10 ph-5">
                        <span>{{$index +1}}</span>
                      </div>
                      <div flex class="pv-10 ph-5 cm-border-left-gray">
                        <span class="font-size-12 line-height-14">
                          {{supplier.mfgName}}
                        </span>
                      </div>
                      <div flex="5" class="pv-10 ph-5">
                        <md-menu class="float-right cm-vertical-btn">
                          <md-button class="md-icon-button padding-0 height-20 margin-0 width-15" ng-click="$mdOpenMenu();" md-menu-origin
                                     md-menu-align-target aria-label="Options">
                            <md-icon md-font-icon="icon-dots-vertical" class="icon cm-widget-header-icon width-15"></md-icon>
                          </md-button>
                          <md-menu-content width="3">
                            <md-menu-item>
                              <md-button ng-click="vm.deleteApprovedSupplier(supplier)">
                                <md-icon md-font-icon="icon-trash" class="icon"></md-icon>
                                Delete
                              </md-button>
                            </md-menu-item>
                          </md-menu-content>
                        </md-menu>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
