table.opration-table.bom-table {
    border-bottom: 3px;
    padding: 5px;
    background-color: #fff;

    /*tr td {
        padding: 2px 8px;
        border-right: 2px #1E877D;
    }*/
}

table.opration-table.bom-table tr td:last-child {
    border: none;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0;
}

.tabsdemoDynamicHeight .md-dynamic-height md-tab-data .md-button {
    margin: 7px 4px;
}

md-tab-data {
    opacity: 1;
    display: table;
    right: 0;
    left: initial;
    z-index: 20;
}

.custom-tab-button {
    min-height: 34px !important;
    height: 34px !important;
    padding: 5px !important;
    min-width: 34px !important;
    width: 34px !important;

    md-icon {
        color: #fff !important;
        font-size: 19px;
        line-height: 23px;
    }
}

.custom-tab-button.md-warn {
    background-color: rgb(244,67,54) !important;
}

/*.tabsdemoDynamicHeight .ms-form-wizard md-tabs md-tabs-wrapper {
    box-shadow: none;

    md-tabs-canvas md-pagination-wrapper md-tab-item {
        padding: 12px 18px 12px 18px;
    }
}*/

/*.rfq-tables table td label {
    display: block;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}*/

/*.rfq-tables table tr th {
    background-color: $customThemeDark !important;
    color: #fff;
    padding: 8px 12px;
}*/

/*.rfq-tables table tr td {
    padding: 0px 12px;
}*/

/*.rfq-tables table tr td input {
    min-height: 35px;
    margin: 0px 0px !important;
}*/

.rfq-tables .input-width {
    width: 100%;
}

.border-bottom-div {
    border: 1px solid #6b6b6b;
    border-radius: 0px 0px 3px 3px;
    border-top: none;
}

.border-top-side {
    border-top: 1px solid #6b6b6b;
    padding-top: 20px;
}

hot-table {
    .headercell {
        background-color: lightgreen !important;
    }
}

.handsontable {
    .highlight {
        background-color: #dcdcdc !important;
    }
}

.hot-err {
    background-color: #ff4c42;
    height: 100%;
}

.hot-suc {
    background-color:rgb(204, 238, 204);
    height: 100%;
}

.ht_clone_left tbody tr th {
    padding: 0px;
}

.ht_clone_left tbody tr th div {
    height: 100%;
}

.rfq_errorcode_popup_width {
    width: 55%;
}

.rfq-add-comm {
    padding-bottom: 0px;
    padding-top: 12px;
}

.h-tbl-dir input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.htContextMenu table tbody tr td.htSeparator {
    border-top-color: #c7bbbb !important;
}

.btn-api-int:hover md-progress-circular {
    display: none;
}

.btn-api-int:hover .btn-api-close {
    display: block!important;
}

.rfq-tables .manage-customer-tabing {
  padding-bottom: 2px;
}
