<md-dialog aria-label="Employee" class="operation-pop-main" draggable>
    <form name="vm.employeeForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.data.title}}: {{vm.data.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding full-width custom-scroll">
            <md-content class="padding-10" layout="column" layout-gt-xs="row">
                <div flex="100">
                    <workorder-operation-equipment-fields-history wo-id="{{vm.data.opData.woID}}" wo-op-id="{{vm.data.opData.woOPID}}" eqp-id="{{vm.data.equipment.eqpID}}"
                                                                  wo-op-custom-details="vm.woOpCustomDetails"></workorder-operation-equipment-fields-history>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-focused md-raised" ng-click="vm.cancel()">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>