<div id="login" class="flex-scrollable custom-scroll" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>Q</span>
            </div>
            <div class="title">Reset password for your account</div>
            <form name="vm.resetPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="NewPassword" ng-model="vm.user.password" placeholder="New Password" ng-maxlength="100" 
                           ng-pattern="vm.UserPasswordPattern" custom-auto-focus="true" required>
                    <div ng-messages="vm.resetPasswordForm.NewPassword.$error" role="alert">
                        <div ng-message="required">
                            <span>{{::vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                    </div>
                    <div ng-messages="vm.resetPasswordForm.NewPassword.$error" role="alert">
                        <div ng-message="maxlength">
                            <span>{{::vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                        </div>

                        <div ng-message="pattern" ng-if="vm.resetPasswordForm.NewPassword.$touched">
                            <span>{{::vm.CORE_MESSAGE_CONSTANT.USER_PASSWORD_MESSAGE}}</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="ConfirmNewPassword" ng-model="vm.user.passwordConfirmation" 
                           ng-match="vm.user.password"
                           ng-maxlength="100" placeholder="Confirm New Password" ng-paste="$event.preventDefault()"
                           ng-required="vm.user.password">
                    <div ng-messages="vm.resetPasswordForm.ConfirmNewPassword.$error || vm.resetPasswordForm.ConfirmNewPassword.$touched" role="alert">
                        <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                    </div>
                    <div ng-messages="vm.resetPasswordForm.ConfirmNewPassword.$error">
                        <div ng-message="match">{{vm.CORE_MESSAGE_CONSTANT.NOT_MATCH}}</div>
                    </div>
                </md-input-container>
                <md-button type="submit" class="md-raised md-primary submit-button" aria-label="Reset" ng-click="vm.resetPassword()"
                           ng-class="{'md-formdirty': vm.resetPasswordForm.$dirty}"
                           ng-disabled="vm.isDisabledSave">                          
                    Reset
                </md-button>
            </form>
            <div class="register cursor-pointer" layout="row" layout-sm="column" layout-align="center center">
                <a class="link" ng-click="vm.BackToLogin()">Back To Login</a>
            </div>
        </div>
    </div>
</div>
