<md-dialog aria-label="Release Line Details" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="60">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        Confirmation
      </h2>
      <span flex></span>
      <popup-header-label label-data="vm.headerdata"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding custom-scroll mh-5" layout="column">
    <md-content class="padding-10">
      <div class="content fullpage-datatable" layout="column">
        <div  class="margin-top-10 cm-section-main order-detail-form-container payments md-background-bg md-whiteframe-1dp" layout="column" flex="100">
          <div layout="row" flex="100" class="margin-top-10">
            <div>
              <div class="feeder-scan-message color-black padding-left-5">
                <p>
                  Following release line(s) detail updated. Press Yes to Continue.
                </p>
              </div>
            </div>
          </div>
          <div layout="row" layout-align="space-between center" class="cm-section-header">
            <h2 class="margin-0" flex="100">
              Release Line Detail
            </h2>
          </div>
          <div class="cm-section-inner">
            <md-table-container layout="row" flex="100">
              <table md-table class="md-data-table table-row-select cm-overflow-auto cm-table-padding-5">
                <thead md-head md-order="vm.querySOReleaseLineList.order">
                  <tr md-row>
                    <th md-column width="50">
                      #
                    </th>
                    <th md-column md-order-by="customerReleaseLine"  width="50">
                     FCA Release#
                    </th>
                    <th md-column md-order-by="releaseNumber">
                      Cust Release#
                    </th>
                    <th md-column md-order-by="fieldName">
                      Field Name
                    </th>
                    <th md-column md-order-by="oldValue">
                     Old Value
                    </th>
                    <th md-column md-order-by="newValue">
                     New Value
                    </th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="item in vm.soReleaseLinelist">
                    <td md-cell>{{$index+1}}</td>
                    <td md-cell>{{item.releaseNumber}}</td>
                    <td md-cell>{{item.customerReleaseLine}}</td>
                    <td md-cell>{{item.fieldName}}</td>
                    <td md-cell>{{item.oldValue}}</td>
                    <td md-cell>{{item.newValue | date:vm.DefaultDateFormat}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </div>
        </div>
      </div>
    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel(false)">No</md-button>
    <md-button class="md-default md-raised" ng-click="vm.cancel(true)">Yes</md-button>
  </md-dialog-actions>

</md-dialog>
