
<md-dialog aria-label="Wokrorder Operation Details" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <!--flex="90"-->

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        Work Order Operation Details
      </h2>
      <span flex></span>
      <div layout="row" layout-align="center center">
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
      </div>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding custom-scroll mh-5" layout="column">
    <md-content class="padding-10">
      <div layout="row" flex="100" ng-if="(vm.woOpConfigureWithoutCleanType.length > 0) || vm.isNoCleanAndWaterSolubleBothChecked">
        <p class="font-weight-600"><b>Note:</b>{{vm.MessageProceedSaveCleaningType}}</p>
      </div>
      <md-table-container layout="row" flex="100" ng-if="vm.woOpConfigureWithoutCleanType.length > 0">
        <table md-table class="md-data-table table-row-select width-auto cm-scroll-table">
          <thead md-head>
            <tr md-row>
              <th md-column width="50">
                #
              </th>
              <th md-column width="250">
                {{vm.LabelConstant.Workorder.WO}}
                <md-tooltip>Work Order Number</md-tooltip>
              </th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="woOperationDet in vm.woOpConfigureWithoutCleanType track by $index">
              <td md-cell width="50">{{$index+1}}</td>
              <td md-cell width="160">
                <span>
                  <a class="cm-text-decoration" ng-click="vm.goToWorkorderDetails(woOperationDet.woID)">
                    <span>{{woOperationDet.woNumber}}</span>
                  </a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <div layout="row" flex="100" ng-if="vm.waterSolubleWOOperationList.length > 0 && (!vm.isNoCleanAndWaterSolubleBothChecked)">
        <p class="font-weight-600"><b>Note:</b>{{vm.MessageOnRestrictWaterSolubleChecked}}</p>
      </div>
      <md-table-container layout="row" flex="100" ng-if="vm.waterSolubleWOOperationList.length > 0">
        <table md-table class="md-data-table table-row-select width-auto cm-scroll-table">
          <thead md-head>
            <tr md-row>
              <th md-column width="50">
                #
              </th>
              <th md-column width="120">
                {{vm.LabelConstant.Workorder.WO}}
                <md-tooltip>Work Order Number</md-tooltip>
              </th>
              <th md-column width="300">
                {{vm.LabelConstant.Operation.OP}}
                <md-tooltip>Work Order Operation</md-tooltip>
              </th>
              <th md-column width="100">
                Flux Type
                <md-tooltip>Flux Type</md-tooltip>
              </th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="woOperationDet in vm.waterSolubleWOOperationList track by $index">
              <td md-cell width="50">{{$index+1}}</td>
              <td md-cell width="120">
                <span>
                  <a class="cm-text-decoration" ng-click="vm.goToWorkorderDetails(woOperationDet.woID)">
                    <span>{{woOperationDet.woNumber}}</span>
                  </a>
                </span>
              </td>
              <td md-cell width="300">
                <span>
                  <a ng-click="vm.manageWorkorderOperation(woOperationDet.woOPID)" class="cm-text-decoration">
                    <span>{{woOperationDet.opNameNumber}}</span>
                  </a>
                </span>
              </td>
              <td md-cell width="100">
                <span>
                  <span layuout="row" flex="100">
                    <md-icon md-font-icon="{{vm.FluxTypeIcon.waterSolubleIcon}}" class="margin-left-5 font-size-17-imp"></md-icon>
                    <md-tooltip> {{vm.FluxTypeToolTip.waterSoluble}} </md-tooltip>
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <div layout="row" flex="100" ng-class="{'padding-top-10':vm.waterSolubleWOOperationList.length > 0}" ng-if="vm.noCleanWOOperationList.length > 0 && (!vm.isNoCleanAndWaterSolubleBothChecked)">
        <p class="font-weight-600"><b>Note:</b>{{vm.MessageOnRestrictNoCleanChecked}}</p>
      </div>
      <md-table-container layout="row" flex="100" ng-if="vm.noCleanWOOperationList.length > 0">
        <table md-table class="md-data-table table-row-select width-auto cm-scroll-table">
          <thead md-head>
            <tr md-row>
              <th md-column width="50">
                #
              </th>
              <th md-column width="120">
                {{vm.LabelConstant.Workorder.WO}}
                <md-tooltip>Work Order Number</md-tooltip>
              </th>
              <th md-column width="300">
                {{vm.LabelConstant.Operation.OP}}
                <md-tooltip>Work Order Operation</md-tooltip>
              </th>
              <th md-column width="100">
                Flux Type
                <md-tooltip>Flux Type</md-tooltip>
              </th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="woOperationDet in vm.noCleanWOOperationList track by $index">
              <td md-cell width="50">{{$index+1}}</td>
              <td md-cell width="120">
                <span>
                  <a class="cm-text-decoration" ng-click="vm.goToWorkorderDetails(woOperationDet.woID)">
                    <span>{{woOperationDet.woNumber}}</span>
                  </a>
                </span>
              </td>
              <td md-cell width="300">
                <span>
                  <a ng-click="vm.manageWorkorderOperation(woOperationDet.woOPID)" class="cm-text-decoration">
                    <span>{{woOperationDet.opNameNumber}}</span>
                  </a>
                </span>
              </td>
              <td md-cell width="100">
                <span>
                  <span layuout="row" flex="100">
                    <md-icon md-font-icon="{{vm.FluxTypeIcon.noCleanIcon}}" class="margin-left-5 font-size-17-imp"></md-icon>
                    <md-tooltip> {{vm.FluxTypeToolTip.noClean}} </md-tooltip>
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <div layout="row" flex="100" ng-class="{'padding-top-10':vm.naCleanWOOperationList.length > 0}" ng-if="vm.naCleanWOOperationList.length > 0 && (!vm.isNoCleanAndWaterSolubleBothChecked)">
        <p class="font-weight-600"><b>Note:</b>{{vm.MessageOnRestrictNotApplicableChecked}}</p>
      </div>
      <md-table-container layout="row" flex="100" ng-if="vm.naCleanWOOperationList.length > 0">
        <table md-table class="md-data-table table-row-select width-auto cm-scroll-table">
          <thead md-head>
            <tr md-row>
              <th md-column width="50">
                #
              </th>
              <th md-column width="120">
                {{vm.LabelConstant.Workorder.WO}}
                <md-tooltip>Work Order Number</md-tooltip>
              </th>
              <th md-column width="300">
                {{vm.LabelConstant.Operation.OP}}
                <md-tooltip>Work Order Operation</md-tooltip>
              </th>
              <th md-column width="100">
                Flux Type
                <md-tooltip>Flux Type</md-tooltip>
              </th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="woOperationDet in vm.naCleanWOOperationList track by $index">
              <td md-cell width="50">{{$index+1}}</td>
              <td md-cell width="120">
                <span>
                  <a class="cm-text-decoration" ng-click="vm.goToWorkorderDetails(woOperationDet.woID)">
                    <span>{{woOperationDet.woNumber}}</span>
                  </a>
                </span>
              </td>
              <td md-cell width="300">
                <span>
                  <a ng-click="vm.manageWorkorderOperation(woOperationDet.woOPID)" class="cm-text-decoration">
                    <span>{{woOperationDet.opNameNumber}}</span>
                  </a>
                </span>
              </td>
              <td md-cell width="100">
                <span>
                  <span layuout="row" flex="100">
                    <md-icon md-font-icon="{{vm.FluxTypeIcon.notApplicableIcon}}" class="margin-left-5 font-size-17-imp"></md-icon>
                    <md-tooltip> {{vm.FluxTypeToolTip.notApplicable}} </md-tooltip>
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-if="(!vm.isNoCleanAndWaterSolubleBothChecked)" ng-click="vm.cancel()">Close</md-button>
    <md-button class="md-default md-raised" ng-if="vm.isNoCleanAndWaterSolubleBothChecked" ng-click="vm.proceed(false)">No</md-button>
    <md-button class="md-primary md-raised" ng-if="vm.isNoCleanAndWaterSolubleBothChecked" ng-click="vm.proceed(true)">Yes</md-button>
  </md-dialog-actions>
</md-dialog>
