<div layout="column" flex="100" cg-busy="{promise:vm.cgBusyLoading}">
  <div class="content-card padding-10" layout="column" flex ng-if="!vm.isNoDataFound && vm.isSelectSO">
    <md-card layout="column" class="margin-0" flex layout-align="space-between stretch">
      <ui-grid-extention class="cm-consolidated-grid cm-grid-height-auto"
                         load-data="vm.loadData"
                         grid-option="vm.gridOptions"
                         header="vm.sourceHeader"
                         grid-data="vm.sourceData"
                         total-data-count="vm.totalSourceDataCount"
                         reset-grid="vm.resetSourceGrid"
                         selectted-rows="vm.selectedRowsList"
                         paging-info="vm.pagingInfo"
                         current-item="vm.currentdata"
                         get-data-down="vm.getDataDown"
                         empty-state="vm.emptyState">
    </md-card>
  </div>
  <div class="empty-state text-center full-height" flex layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound && vm.isSelectSO">
    <div class="emty-icon" flex="100">
      <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}"/>
    </div>
    <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
    <p flex="100">
      {{vm.EmptyMesssage.ADDNEWMESSAGE}}
    </p>
    <p flex="100">
      <md-button class="md-fab md-mini" aria-label="Upload BOM" ng-click="vm.uploadBom()">
        <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
        <md-tooltip md-direction="top">Upload BOM</md-tooltip>
      </md-button>
    </p>
  </div>
</div>
