<div id="analytic-detail" class="page-layout fullwidth simple left-sidenav breadcrumb-fixed" layout="column">
  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="start center">
    <md-button class="goto-products-button md-icon-button cm-back-btn-p-m" type="button" aria-label="Go to Widget List" ng-click="vm.goBack()">
      <!--<md-icon md-font-icon="icon-arrow-left" class="material-icons icon-arrow-left">
      </md-icon>-->
      <md-icon md-font-icon="icons-backarrow" class="material-icons icons-backarrow cm-back-btn">
      </md-icon>
    </md-button>
    <div class="white-fg" layout="column" layout-align="start start">
      <div class="h2" layout="row" layout-align="start center">
        <!--<md-icon md-font-icon="icon-clipboard-text"></md-icon>&nbsp;
        <span>Widget Detail</span>-->
        <pagetitle is-list="false" is-display-menu-name="true" prefix-content="" suffix-content=""></pagetitle>
      </div>
      <div layout="row" layout-align="start center">
        <breadcrumbs></breadcrumbs>
      </div>

    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content padding-top-side workorderdetail-main pos-rel full-height padding-5-imp overflow-auto-rs" cg-busy="{promise:vm.cgBusyLoading}">
    <div flex="100" layout="row" class="margin-5 layout-wrap-rs">
      <!-- LEFT SIDE -->
      <div flex="30" flex-sm="100" class="margin-right-10 cm-widget-details margin-rs-right-0">
        <md-sidenav class="md-whiteframe-4dp width-100p widget-detail-sidenav z-index-1 position-reletive-rs cm-section-main" flex="100" flex-sm="100" flex-gt-sm="100" flex-md="100" flex-gt-md="100" md-component-id="analytics-review"
                    md-disable-backdrop md-is-open="true" md-is-locked-open="true && $mdMedia('gt-md')">
          <div class="md-theme-light cm-section-header" layout="row" layout-align="space-between center">
            <h2>
              Configuration
            </h2>
          </div>
          <md-content layout-padding layout="row" flex="100" layout-wrap layout-align="start start" class="cm-section-inner fullheight-toolbar-footer fullheight-toolbar-footer-analytic cm-widget-detail-left-header custom-scroll cm-custom-label-common">
            <form name="vm.frmAnalytics" class="md-inline-form padding-0 min-height-100p" flex="100">
              <div flex="100" layout="row">
                <div class="cm-section-main margin-bottom-5" layout="row" layout-wrap flex="100">
                  <div class="cm-section-inner" flex="100">
                    <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                      <tbody>
                        <tr>
                          <th>
                            <p class="label-container">Widget Type<span>&nbsp;*</span></p>
                          </th>
                          <td>
                            <md-input-container layout-align="center" flex="100">
                              <md-select ng-model="vm.analyticConfigModel.chartCatID" placeholder="Widget Type" disabled>
                                <md-option ng-value="type.ID" ng-repeat="type in vm.analyticsType">{{type.Name}}</md-option>
                              </md-select>
                            </md-input-container>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <p class="label-container">{{vm.autoCompleteChartRawData.placeholderName}}<span>&nbsp;*</span></p>
                          </th>
                          <td>
                            <md-input-container ng-if="vm.autoCompleteChartRawData" class="autocompletecustom" flex="100">
                              <custom-auto-complete datalist="vm.chartRawDataList"
                                                    column-name="vm.autoCompleteChartRawData.columnName"
                                                    controller-name="vm.autoCompleteChartRawData.controllerName"
                                                    view-template-url="vm.autoCompleteChartRawData.viewTemplateURL"
                                                    key-column-name="vm.autoCompleteChartRawData.keyColumnName"
                                                    input-name="vm.autoCompleteChartRawData.inputName"
                                                    placeholder-name="vm.autoCompleteChartRawData.placeholderName"
                                                    key-column-id="vm.autoCompleteChartRawData.keyColumnId"
                                                    is-required="vm.autoCompleteChartRawData.isRequired"
                                                    is-addnew="vm.autoCompleteChartRawData.isAddnew"
                                                    is-disabled="vm.isChartRawDataIsDisable"
                                                    callback-fn="vm.autoCompleteChartRawData.callbackFn"
                                                    on-select-callback-fn="vm.autoCompleteChartRawData.onSelectCallbackFn">
                              </custom-auto-complete>
                            </md-input-container>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <p class="label-container">Widget Name<span>&nbsp;*</span></p>
                          </th>
                          <td>
                            <md-input-container class="md-block" flex="100">
                              <input type="text" name="nameOfChart" ng-model="vm.analyticConfigModel.nameOfChart"
                                     placeholder="Widget Name" required ng-maxlength="255" md-maxlength="255">
                              <div ng-messages="vm.frmAnalytics.nameOfChart.$error"
                                   role="alert">
                                <div ng-message="required">
                                  <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                                <div ng-message="maxlength">
                                  <span>{{vm.getMaxLengthValidation(255, vm.frmAnalytics.nameOfChart.$viewValue.length)}}</span>
                                </div>
                              </div>
                            </md-input-container>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <p class="label-container">{{vm.autoCompleteChartType.placeholderName}}<span>&nbsp;*</span></p>
                          </th>
                          <td>
                            <md-input-container ng-if="vm.autoCompleteChartType" class="autocompletecustom margin-top-0" flex="100">
                              <custom-auto-complete datalist="vm.chartTypeList"
                                                    column-name="vm.autoCompleteChartType.columnName"
                                                    controller-name="vm.autoCompleteChartType.controllerName"
                                                    view-template-url="vm.autoCompleteChartType.viewTemplateURL"
                                                    key-column-name="vm.autoCompleteChartType.keyColumnName"
                                                    input-name="vm.autoCompleteChartType.inputName"
                                                    placeholder-name="vm.autoCompleteChartType.placeholderName"
                                                    key-column-id="vm.autoCompleteChartType.keyColumnId"
                                                    is-required="vm.autoCompleteChartType.isRequired"
                                                    is-addnew="vm.autoCompleteChartType.isAddnew"
                                                    callback-fn="vm.autoCompleteChartType.callbackFn">
                              </custom-auto-complete>
                            </md-input-container>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <p class="label-container">{{vm.autoCompleteChartCategory.placeholderName}}<span>&nbsp;*</span></p>
                          </th>
                          <td>
                            <md-input-container ng-if="vm.autoCompleteChartCategory" class="autocompletecustom" flex="100">
                              <custom-auto-complete datalist="vm.chartCategoryList"
                                                    column-name="vm.autoCompleteChartCategory.columnName"
                                                    controller-name="vm.autoCompleteChartCategory.controllerName"
                                                    view-template-url="vm.autoCompleteChartCategory.viewTemplateURL"
                                                    key-column-name="vm.autoCompleteChartCategory.keyColumnName"
                                                    input-name="vm.autoCompleteChartCategory.inputName"
                                                    placeholder-name="vm.autoCompleteChartCategory.placeholderName"
                                                    key-column-id="vm.autoCompleteChartCategory.keyColumnId"
                                                    is-required="vm.autoCompleteChartCategory.isRequired"
                                                    is-addnew="vm.autoCompleteChartCategory.isAddnew"
                                                    callback-fn="vm.autoCompleteChartCategory.callbackFn"
                                                    add-data="vm.autoCompleteChartCategory.addData">
                              </custom-auto-complete>
                            </md-input-container>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <p class="label-container">{{vm.autoCompleteXAxis.placeholderName}}<span>&nbsp;*</span></p>
                          </th>
                          <td>
                            <md-input-container ng-if="vm.autoCompleteXAxis" class="autocompletecustom margin-bottom-0 min-width-initial" flex="100">
                              <custom-auto-complete datalist="vm.xAxisList"
                                                    column-name="vm.autoCompleteXAxis.columnName"
                                                    controller-name="vm.autoCompleteXAxis.controllerName"
                                                    view-template-url="vm.autoCompleteXAxis.viewTemplateURL"
                                                    key-column-name="vm.autoCompleteXAxis.keyColumnName"
                                                    input-name="vm.autoCompleteXAxis.inputName"
                                                    placeholder-name="vm.autoCompleteXAxis.placeholderName"
                                                    key-column-id="vm.autoCompleteXAxis.keyColumnId"
                                                    is-required="vm.autoCompleteXAxis.isRequired"
                                                    is-addnew="vm.autoCompleteXAxis.isAddnew"
                                                    on-select-callback-fn="vm.autoCompleteXAxis.onSelectCallbackFn">
                              </custom-auto-complete>
                            </md-input-container>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <p class="label-container">{{vm.autoCompleteYAxis.placeholderName}}<span>&nbsp;*</span></p>
                          </th>
                          <td>
                            <md-input-container ng-if="vm.autoCompleteYAxis" class="autocompletecustom margin-bottom-0 min-width-initial" flex="100">
                              <custom-auto-complete datalist="vm.yAxisList"
                                                    column-name="vm.autoCompleteYAxis.columnName"
                                                    controller-name="vm.autoCompleteYAxis.controllerName"
                                                    view-template-url="vm.autoCompleteYAxis.viewTemplateURL"
                                                    key-column-name="vm.autoCompleteYAxis.keyColumnName"
                                                    input-name="vm.autoCompleteYAxis.inputName"
                                                    placeholder-name="vm.autoCompleteYAxis.placeholderName"
                                                    key-column-id="vm.autoCompleteYAxis.keyColumnId"
                                                    is-required="vm.autoCompleteYAxis.isRequired"
                                                    is-addnew="vm.autoCompleteYAxis.isAddnew"
                                                    on-select-callback-fn="vm.autoCompleteYAxis.onSelectCallbackFn">
                              </custom-auto-complete>
                            </md-input-container>
                          </td>
                        </tr>
                        <tr ng-if="vm.isDateTimeXAxis">
                          <th>
                            <p class="label-container">Date Format<span>&nbsp;*</span></p>
                          </th>
                          <td>
                            <md-input-container layout-align="center" flex="100">
                              <md-select ng-model="vm.analyticConfigModel.xAxisFormat" name="xAxisFormat" placeholder="Date Format" required>
                                <md-option ng-value="type.name" ng-repeat="type in vm.dateDispFormatList">{{type.name}}</md-option>
                              </md-select>
                              <div ng-messages="vm.frmAnalytics.xAxisFormat.$error"
                                   role="alert">
                                <div ng-message="required">
                                  <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                              </div>
                            </md-input-container>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <p class="label-container">X Axis Title<span>&nbsp;*</span></p>
                          </th>
                          <td>
                            <md-input-container class="md-block margin-bottom-0" flex="100">
                              <input type="text" name="xAxisName" ng-model="vm.analyticConfigModel.xAxisName"
                                     placeholder="X Axis Title" required ng-maxlength="100" md-maxlength="100">
                              <div ng-messages="vm.frmAnalytics.xAxisName.$error"
                                   role="alert">
                                <div ng-message="required">
                                  <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                                <div ng-message="maxlength">
                                  <span>{{vm.getMaxLengthValidation(100, vm.frmAnalytics.xAxisName.$viewValue.length)}}</span>
                                </div>
                              </div>
                            </md-input-container>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <p class="label-container">Y Axis Title<span>&nbsp;*</span></p>
                          </th>
                          <td>
                            <md-input-container class="md-block margin-bottom-0" flex="100">
                              <input type="text" name="yAxisName" ng-model="vm.analyticConfigModel.yAxisName"
                                     placeholder="Y Axis Title" required ng-maxlength="100" md-maxlength="100">
                              <div ng-messages="vm.frmAnalytics.yAxisName.$error"
                                   role="alert">
                                <div ng-message="required">
                                  <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                                <div ng-message="maxlength">
                                  <span>{{vm.getMaxLengthValidation(100, vm.frmAnalytics.yAxisName.$viewValue.length)}}</span>
                                </div>
                              </div>
                            </md-input-container>
                          </td>
                        </tr>
                        <tr ng-if="vm.analyticConfigModel.chartCatID == vm.analyticsTypeObj.MULTIPLE_OPERATION.ID">
                          <th>
                            <p class="label-container">Select Fields</p>
                          </th>
                          <td>
                            <md-input-container class="cm-widget-chip md-block full-chip margin-0" flex="100" md-no-float>
                              <md-contact-chips flex="100" layout="row" ng-model="vm.analyticConfigModel.compareVariables"
                                                md-contacts="vm.querySearch($query)"
                                                md-contact-name="displayName"
                                                md-contact-email=""
                                                name="compareVariables"
                                                md-require-match="true"
                                                md-highlight-flags="i"
                                                filter-selected="false"
                                                placeholder="Select Fields"
                                                secondary-placeholder="Select Fields">
                              </md-contact-chips>
                              <div ng-if="!deptItem.employeeList.length && deptItem.deptID && deptItem.isEditClicked"
                                   role="alert">
                                <div>
                                  <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                              </div>
                            </md-input-container>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <p class="label-container"></p>
                          </th>
                          <td>
                            <div class="cm-rd-switch" layout="row">
                              <md-checkbox ng-model="vm.analyticConfigModel.isRenderTable" name="isRenderTable" class="margin-0">
                                Chart with data
                              </md-checkbox>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--<md-input-container layout-align="center" flex="100">
                    <md-select ng-model="vm.analyticConfigModel.chartCatID" placeholder="Widget Type" disabled>
                        <md-option ng-value="type.ID" ng-repeat="type in vm.analyticsType">{{type.Name}}</md-option>
                    </md-select>
                </md-input-container>-->
              </div>
              <!--<div flex="100" layout="row">
                  <md-input-container ng-if="vm.autoCompleteChartRawData" class="autocompletecustom" flex="100">
                      <custom-auto-complete datalist="vm.chartRawDataList"
                                            column-name="vm.autoCompleteChartRawData.columnName"
                                            controller-name="vm.autoCompleteChartRawData.controllerName"
                                            view-template-url="vm.autoCompleteChartRawData.viewTemplateURL"
                                            key-column-name="vm.autoCompleteChartRawData.keyColumnName"
                                            input-name="vm.autoCompleteChartRawData.inputName"
                                            placeholder-name="vm.autoCompleteChartRawData.placeholderName"
                                            key-column-id="vm.autoCompleteChartRawData.keyColumnId"
                                            is-required="vm.autoCompleteChartRawData.isRequired"
                                            is-addnew="vm.autoCompleteChartRawData.isAddnew"
                                            is-disabled="false"
                                            callback-fn="vm.autoCompleteChartRawData.callbackFn"
                                            on-select-callback-fn="vm.autoCompleteChartRawData.onSelectCallbackFn">
                      </custom-auto-complete>
                  </md-input-container>
              </div>-->
              <!--<div flex="100" layout="row">
                  <md-input-container class="md-block" flex="100">
                      <input type="text" name="nameOfChart" ng-model="vm.analyticConfigModel.nameOfChart"
                             placeholder="Widget Name" required ng-maxlength="255">
                      <div ng-messages="vm.frmAnalytics.nameOfChart.$error"
                           role="alert">
                          <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                          </div>
                      </div>
                  </md-input-container>
              </div>-->
              <!--<div flex="100" layout="row">
                  <md-input-container ng-if="vm.autoCompleteChartType" class="autocompletecustom margin-top-0" flex="100">
                      <custom-auto-complete datalist="vm.chartTypeList"
                                            column-name="vm.autoCompleteChartType.columnName"
                                            controller-name="vm.autoCompleteChartType.controllerName"
                                            view-template-url="vm.autoCompleteChartType.viewTemplateURL"
                                            key-column-name="vm.autoCompleteChartType.keyColumnName"
                                            input-name="vm.autoCompleteChartType.inputName"
                                            placeholder-name="vm.autoCompleteChartType.placeholderName"
                                            key-column-id="vm.autoCompleteChartType.keyColumnId"
                                            is-required="vm.autoCompleteChartType.isRequired"
                                            is-addnew="vm.autoCompleteChartType.isAddnew"
                                            callback-fn="vm.autoCompleteChartType.callbackFn">
                      </custom-auto-complete>
                  </md-input-container>
              </div>-->
              <!--<div flex="100" layout="row">
                  <md-input-container ng-if="vm.autoCompleteChartCategory" class="autocompletecustom" flex="100">
                      <custom-auto-complete datalist="vm.chartCategoryList"
                                            column-name="vm.autoCompleteChartCategory.columnName"
                                            controller-name="vm.autoCompleteChartCategory.controllerName"
                                            view-template-url="vm.autoCompleteChartCategory.viewTemplateURL"
                                            key-column-name="vm.autoCompleteChartCategory.keyColumnName"
                                            input-name="vm.autoCompleteChartCategory.inputName"
                                            placeholder-name="vm.autoCompleteChartCategory.placeholderName"
                                            key-column-id="vm.autoCompleteChartCategory.keyColumnId"
                                            is-required="vm.autoCompleteChartCategory.isRequired"
                                            is-addnew="vm.autoCompleteChartCategory.isAddnew"
                                            callback-fn="vm.autoCompleteChartCategory.callbackFn">
                      </custom-auto-complete>
                  </md-input-container>
              </div>-->
              <!--<div flex="100" layout="row">
                  <md-input-container ng-if="vm.autoCompleteXAxis" class="autocompletecustom margin-bottom-0" flex="50">
                      <custom-auto-complete datalist="vm.xAxisList"
                                            column-name="vm.autoCompleteXAxis.columnName"
                                            controller-name="vm.autoCompleteXAxis.controllerName"
                                            view-template-url="vm.autoCompleteXAxis.viewTemplateURL"
                                            key-column-name="vm.autoCompleteXAxis.keyColumnName"
                                            input-name="vm.autoCompleteXAxis.inputName"
                                            placeholder-name="vm.autoCompleteXAxis.placeholderName"
                                            key-column-id="vm.autoCompleteXAxis.keyColumnId"
                                            is-required="vm.autoCompleteXAxis.isRequired"
                                            is-addnew="vm.autoCompleteXAxis.isAddnew"
                                            on-select-callback-fn="vm.autoCompleteXAxis.onSelectCallbackFn">
                      </custom-auto-complete>
                  </md-input-container>
                  <md-input-container ng-if="vm.autoCompleteYAxis" class="autocompletecustom margin-bottom-0" flex="50">
                      <custom-auto-complete datalist="vm.yAxisList"
                                            column-name="vm.autoCompleteYAxis.columnName"
                                            controller-name="vm.autoCompleteYAxis.controllerName"
                                            view-template-url="vm.autoCompleteYAxis.viewTemplateURL"
                                            key-column-name="vm.autoCompleteYAxis.keyColumnName"
                                            input-name="vm.autoCompleteYAxis.inputName"
                                            placeholder-name="vm.autoCompleteYAxis.placeholderName"
                                            key-column-id="vm.autoCompleteYAxis.keyColumnId"
                                            is-required="vm.autoCompleteYAxis.isRequired"
                                            is-addnew="vm.autoCompleteYAxis.isAddnew"
                                            on-select-callback-fn="vm.autoCompleteYAxis.onSelectCallbackFn">
                      </custom-auto-complete>
                  </md-input-container>
              </div>-->
              <!--<div flex="100" layout="row" ng-if="vm.isDateTimeXAxis">
                  <md-input-container layout-align="center" flex="100">
                      <md-select ng-model="vm.analyticConfigModel.xAxisFormat" name="xAxisFormat" placeholder="Date Format" required>
                          <md-option ng-value="type.name" ng-repeat="type in vm.dateDispFormatList">{{type.name}}</md-option>
                      </md-select>
                      <div ng-messages="vm.frmAnalytics.xAxisFormat.$error"
                           role="alert">
                          <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                      </div>
                  </md-input-container>
              </div>-->
              <!--<div flex="100" layout="row">
                  <md-input-container class="md-block margin-bottom-0" flex="100">
                      <input type="text" name="xAxisName" ng-model="vm.analyticConfigModel.xAxisName"
                             placeholder="X Axis Title" required ng-maxlength="100">
                      <div ng-messages="vm.frmAnalytics.xAxisName.$error"
                           role="alert">
                          <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                          </div>
                      </div>
                  </md-input-container>
                  <md-input-container class="md-block margin-bottom-0" flex="100">
                      <input type="text" name="yAxisName" ng-model="vm.analyticConfigModel.yAxisName"
                             placeholder="Y Axis Title" required ng-maxlength="100">
                      <div ng-messages="vm.frmAnalytics.yAxisName.$error"
                           role="alert">
                          <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                          </div>
                      </div>
                  </md-input-container>
              </div>-->
              <!--<div flex="100" layout="row" ng-if="vm.analyticConfigModel.chartCatID == vm.analyticsTypeObj.MULTIPLE_OPERATION.ID">
                  <md-input-container class="md-block full-chip margin-top-0" flex="100" md-no-float>
                      <md-contact-chips flex="100" layout="row" ng-model="vm.analyticConfigModel.compareVariables"
                                        md-contacts="vm.querySearch($query)"
                                        md-contact-name="displayName"
                                        md-contact-email=""
                                        name="compareVariables"
                                        md-require-match="true"
                                        md-highlight-flags="i"
                                        filter-selected="false"
                                        placeholder="Select Fields"
                                        secondary-placeholder="Select Fields">
                      </md-contact-chips>
                      <div ng-if="!deptItem.employeeList.length && deptItem.deptID && deptItem.isEditClicked"
                           role="alert">
                          <div>
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                      </div>
                  </md-input-container>
              </div>-->
              <div layout="row" flex="100" class="workorderblog blogsection margin-bottom-5">
                <div class="cm-section-main" flex="100">
                  <div class="cm-section-header" llayout="row" layout-align="start center">
                    <div layout="row" layout-align="space-between center" flex="100"><h2>Drill downs</h2></div>
                    <div layout="row">
                      <div flex="100" layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary md-ink-ripple margin-right-0" type="button" ng-click="vm.addDrilldown()">
                          Add drill down
                        </md-button>
                      </div>
                    </div>
                  </div>
                  <div class="cm-section-inner" ng-repeat="item in vm.analyticConfigModel.drilldown">
                    <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                      <tbody>
                        <tr>
                          <th><p class="label-container">{{item.placeholderName}}<span>&nbsp;*</span></p></th>
                          <td>
                            <md-input-container class="autocompletecustom margin-bottom-0" flex="100">
                              <custom-auto-complete datalist="vm.xAxisList"
                                                    column-name="item.columnName"
                                                    controller-name="item.controllerName"
                                                    view-template-url="item.viewTemplateURL"
                                                    key-column-name="item.keyColumnName"
                                                    input-name="item.inputName"
                                                    placeholder-name="item.placeholderName"
                                                    key-column-id="item.keyColumnId"
                                                    is-required="item.isRequired"
                                                    is-addnew="item.isAddnew">
                              </custom-auto-complete>
                            </md-input-container>
                          </td>
                          <td>
                            <md-icon class="md-primary md-raised small-icon cursor-pointer margin-left-10 filter-ico" flex="100" md-font-icon="icon-close"
                                     ng-click="vm.removeDrilldown($index)">
                              <md-tooltip md-direction="bottom">Remove</md-tooltip>
                            </md-icon>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--<div class="md-list-item-text" flex="100" layout-wrap>
                    <div class="blogsection">
                        <h3 class="md-primary-fg woTitleClass">
                            Drill downs
                            <label>
                                <md-icon class="md-primary md-raised small-icon cursor-pointer margin-left-10 filter-ico" md-font-icon="icon-plus"
                                         ng-click="vm.addDrilldown()">
                                    <md-tooltip md-direction="bottom">Add drill down</md-tooltip>
                                </md-icon>
                            </label>
                        </h3>
                    </div>
                </div>-->
              </div>
              <!--<div flex="100" layout="row" ng-repeat="item in vm.analyticConfigModel.drilldown">
                  <md-input-container class="autocompletecustom margin-bottom-0" flex="90">
                      <custom-auto-complete datalist="vm.xAxisList"
                                            column-name="item.columnName"
                                            controller-name="item.controllerName"
                                            view-template-url="item.viewTemplateURL"
                                            key-column-name="item.keyColumnName"
                                            input-name="item.inputName"
                                            placeholder-name="item.placeholderName"
                                            key-column-id="item.keyColumnId"
                                            is-required="item.isRequired"
                                            is-addnew="item.isAddnew">
                      </custom-auto-complete>
                  </md-input-container>
                  <md-icon class="md-primary md-raised small-icon cursor-pointer margin-left-10 filter-ico" flex="10" md-font-icon="icon-close"
                           ng-click="vm.removeDrilldown($index)">
                      <md-tooltip md-direction="bottom">Remove</md-tooltip>
                  </md-icon>
              </div>-->
              <div layout="row" flex="100" class="workorderblog blogsection margin-bottom-5">
                <div class="cm-section-main" flex="100">
                  <div class="cm-section-header" llayout="row" layout-align="start center">
                    <div layout="row" layout-align="space-between center" flex="100">
                      <h2>Filter Options</h2>
                    </div>
                    <div layout="row">
                      <div flex="100" layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary md-ink-ripple margin-right-0" type="button" ng-click="vm.addCondition($event)">
                          Add Filter
                        </md-button>
                        <md-button class="md-raised md-primary md-ink-ripple margin-right-0" type="button" ng-click="vm.clearCondition()"
                                   ng-disabled="!expressionui">
                          Clear Filter
                        </md-button>
                      </div>
                    </div>
                  </div>
                  <div class="cm-section-inner">
                    <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                      <tbody>
                        <tr ng-bind-html="expressionui">
                          <td>
                            <small><b></b></small>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--<div class="md-list-item-text" flex="100" layout-wrap>
                    <div class="blogsection">
                        <h3 class="md-primary-fg woTitleClass">
                            Filter Options
                            <label>
                                <md-icon class="md-primary md-raised small-icon cursor-pointer margin-left-10 filter-ico" md-font-icon="icon-pencil"
                                         ng-click="vm.addCondition($event)">
                                    <md-tooltip md-direction="bottom">Add Filter</md-tooltip>
                                </md-icon>
                                <md-icon class="md-primary md-raised small-icon cursor-pointer filter-ico" md-font-icon="icon-close"
                                         ng-click="vm.clearCondition()">
                                    <md-tooltip md-direction="bottom">Clear Filter</md-tooltip>
                                </md-icon>
                            </label>
                        </h3>
                    </div>
                </div>-->
              </div>
              <!--<div flex="100" layout="row">
                  <small><b ng-bind-html="expressionui"></b></small>
              </div>-->
            </form>
          </md-content>
          <md-footer flex="100" layout="row" layout-wrap layout-align="end center">
            <md-button class="md-primary md-raised"ng-class="{'md-formdirty': vm.frmAnalytics.$dirty}" 
                       ng-click="vm.saveAnalytics();">Save</md-button>
          </md-footer>
        </md-sidenav>
      </div>
      <!-- /LEFT SIDE -->
      <!-- RIGHT SIDE -->
      <div flex="70" flex-sm="100" id="chartDetail"class="widget-rightsidebar white-500-bg cm-section-main" cg-busy="{promise:vm.cgBusyLoadingChart}">
        <div class="md-theme-light cm-section-header" layout="row" layout-align="space-between center">
          <h2>
            {{vm.analyticConfigModel.nameOfChart}}
          </h2>
          <md-button class="md-default md-raised md-primary md-ink-ripple margin-right-0 width-125" ng-if="vm.analyticConfigModel.drilldownString" ng-click="vm.fullDrillDown(vm.analyticConfigModel,$event)">Full Drilldown</md-button>
        </div>
        <md-content layout-padding layout="row" flex="100" layout-wrap layout-align="center center" class="custom-scroll cm-section-inner">
          <div layout="row" flex="100" ng-if="vm.isDataFound == false">
            <div class="empty-state text-center full-height" layout="row" layout-align="center center" flex="100" layout-wrap>
              <div class="emty-icon" flex="100">
                <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
              </div>
              <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
            </div>
          </div>
          <div layout="row" id="chart-body" flex="100" ng-if="vm.isDataFound" layout-align="center center">
            <div flex="100" ng-if="vm.analyticConfigModel.chartTypeID == vm.chartType.BAR">
              <bar-chart chart-template-id="vm.analyticConfigModel.chartTemplateID"></bar-chart>
            </div>
            <div flex="100" ng-if="vm.analyticConfigModel.chartTypeID == vm.chartType.LINE">
              <line-chart chart-template-id="vm.analyticConfigModel.chartTemplateID"></line-chart>
            </div>
            <div flex="100" ng-if="vm.analyticConfigModel.chartTypeID == vm.chartType.PIE">
              <pie-chart chart-template-id="vm.analyticConfigModel.chartTemplateID"></pie-chart>
            </div>
            <div flex="100" ng-if="vm.analyticConfigModel.chartTypeID == vm.chartType.DOTPLOT">
              <dot-plot-chart chart-template-id="vm.analyticConfigModel.chartTemplateID"></dot-plot-chart>
            </div>
            <div flex="100" ng-if="vm.analyticConfigModel.chartTypeID == vm.chartType.DONUT">
              <donut-chart chart-template-id="vm.analyticConfigModel.chartTemplateID"></donut-chart>
            </div>
            <div flex="100" ng-if="vm.analyticConfigModel.chartTypeID == vm.chartType.PARETO">
              <pareto-chart chart-template-id="vm.analyticConfigModel.chartTemplateID"></pareto-chart>
            </div>
          </div>
        </md-content>
      </div>
      <!-- /RIGHT SIDE -->
    </div>
  </div>
  <!-- / CONTENT -->
</div>
