<md-dialog aria-label="HomePageDuplicateEntry" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>

  <md-dialog-content class="padding-25">
    <md-content>
      <h2 class="md-title ng-binding">{{vm.messageContent ? vm.messageContent.messageType : ''}}: {{vm.messageContent ? vm.messageContent.messageCode : ''}}</h2>
      <table class="width-auto">
        <thead>
          <tr>
            <th> {{ vm.messageContent.message ? vm.messageContent.message : ''}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.messageData">
            <ul>
              <td>
              <li>{{item}}</li></td>
            </ul>
          </tr>
        </tbody>
      </table>

    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button class="md-raised" aria-label="OK" ng-click="vm.ok(null)">
      OK
    </md-button>
  </md-dialog-actions>

</md-dialog>
