<md-dialog cg-busy="{promise:vm.cgBusyLoading}" class="cm-custom-label-common" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h2>Work Order OP Version</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding" layout="column">
    <md-content class="padding-10">
      <form name="vm.frmWoOPRevision" class="md-inline-form padding-bottom-0" novalidate>
        <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
        <div layout="row" class="pb-2" layout-wrap layout-align="start center">
          <label flex="100">{{vm.CORE_MESSAGE_CONSTANT.WO_OP_VERSION_CHANGE_CONFIRMATION}}</label>
          <label class="font-size-10" flex="100"><b>Note: </b><span ng-bind-html="vm.CORE_MESSAGE_CONSTANT.CONFIRM_WORKORDER_OPERATION_REVISION_NOTE"></span></label>
        </div>
        <fieldset class="container-box">
          <legend class="margin-0">Operation</legend>
          <div class="cm-section-main border-0" flex="100">
            <div class="cm-section-inner">
              <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
                <tbody>
                  <tr>
                    <th>
                      <p class="label-container">Current Version</p>
                    </th>
                    <td>
                      <md-input-container flex="100">
                        <input type="text" name="fromOPVersion"
                               ng-disabled="true"
                               ng-model="vm.woOPReviewModel.fromOPVersion"
                               class="input-text-uppercase"
                               capitalize placeholder="From OP Version" ng-maxlength="255">
                        <div ng-messages="vm.frmWoOPRevision.fromOPVersion.$error"
                             role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                    <th>
                      <p class="label-container">New Version <span>&nbsp;*</span></p>
                    </th>
                    <td>
                      <md-input-container flex="100">
                        <input type="text" name="opVersion" ng-model="vm.woOPReviewModel.opVersion"
                               class="input-text-uppercase"
                               onkeypress="return onlyAlphabets(event)"
                               capitalize placeholder="New OP Version" ng-maxlength="255" required>
                        <div ng-messages="vm.frmWoOPRevision.opVersion.$error"
                             role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(255, vm.frmWoOPRevision.opVersion.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </fieldset>
        <fieldset class="container-box mt-5">
          <legend class="margin-0">Work Order</legend>
          <div class="cm-section-main border-0" flex="100">
            <div class="cm-section-inner">
              <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
                <tbody>
                  <tr>
                    <th>
                      <p class="label-container">Current Version</p>
                    </th>
                    <td>
                      <md-input-container flex="100">
                        <input type="text" name="fromWOVersion"
                               ng-disabled="true"
                               ng-model="vm.woOPReviewModel.fromWOVersion"
                               class="input-text-uppercase"
                               capitalize placeholder="From Work Order Version" ng-maxlength="255">
                        <div ng-messages="vm.frmWoOPRevision.fromWOVersion.$error"
                             role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                    <th>
                      <p class="label-container">New Version <span>&nbsp;*</span></p>
                    </th>
                    <td>
                      <md-input-container flex="100">
                        <input type="text" name="woVersion"
                               ng-model="vm.woOPReviewModel.woVersion"
                               class="input-text-uppercase"
                               onkeypress="return onlyAlphabets(event)"
                               capitalize placeholder="New Work Order Version" ng-maxlength="255" required>
                        <div ng-messages="vm.frmWoOPRevision.woVersion.$error"
                             role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(255, vm.frmWoOPRevision.woVersion.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </fieldset>
        <div class="cm-section-main border-0" flex="100">
          <div class="cm-section-inner">
            <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
              <tbody>
                <tr>
                  <th>
                    <p class="label-container">Broadcast message</p>
                  </th>
                  <td colspan="3">
                    <md-input-container class="margin-bottom-0" flex="100">
                      <input type="text" name="message" ng-model="vm.woOPReviewModel.message"
                             placeholder="Broadcast message" ng-maxlength="500">
                      <div ng-messages="vm.frmWoOPRevision.message.$error"
                           role="alert">
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(500, vm.frmWoOPRevision.woVersion.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
    <md-button class="md-primary md-raised" ng-click="vm.save()"
               ng-class="{'md-formdirty': vm.checkFormDirty(vm.frmWoOPRevision,null)}">No</md-button>
    <md-button class="md-primary md-raised" ng-click="vm.changeSave()"
               ng-disabled="vm.saveDisable"
               ng-class="{'md-formdirty': vm.checkFormDirty(vm.frmWoOPRevision,null)}">Yes</md-button>
  </md-dialog-actions>
</md-dialog>
