<md-dialog class="cm-custom-label-common cm-bin-add-update cm-manage-dynamic" aria-label="Message History" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="80">
    <md-toolbar>
        <div class="md-toolbar-tools layout-wrap-mob" layout="row" layout-align="space-between center">
            <h2>Message History </h2>       
            <span flex></span>
            <div layout="row" layout-align="center center">
                <popup-header-label label-data="vm.headerData"></popup-header-label>                
            </div>                 
            <md-button class="md-icon-button cm-can-btn" ng-click="vm.cancel()">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custome-scroll min-width-auto-600">
        <div id="dynamicmessage-list" class="page-layout carded fullwidth breadcrumb-fixed " layout="row">                   
            <!-- CONTENT CARD -->
            <div class="content-card" layout="column" flex ng-show="!vm.isNoDataFound">
                <md-card layout="column" class="cm-messagehistory-grid" flex layout-align="space-between stretch">
                    <ui-grid-extention load-data="vm.loadDynamicMessagesHistory"
                                       grid-option="vm.gridOptions"
                                       header="vm.sourceHeader"
                                       grid-data="vm.historyData"
                                       total-data-count="vm.totalDataCount"
                                       reset-grid="vm.resetSourceGrid"
                                       selectted-rows="vm.selectedRowsList"
                                       paging-info="vm.pagingInfo"
                                       current-item="vm.currentdata"
                                       empty-state="vm.emptyState">
                </md-card>
            </div>
            <!-- / CONTENT CARD -->
            <div class="content-card" layout="column" flex ng-if="vm.isNoDataFound">
                <div class="empty-state full-height-90 page-layout carded fullwidth breadcrumb-fixed " layout="row" layout-wrap layout-align="center center" >                
                    <div class="emty-icon">
                        <img ng-src="{{vm.emptyMessage.IMAGEURL}}" />
                    </div>
                    <p class="empty-state-title" flex="100">{{vm.emptyMessage.MESSAGE}}</p>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>        
    </md-dialog-actions>
</md-dialog>
