<div id="forms" class="page-layout simple fullwidth doc-page breadcrumb-fixed" layout="column"
  cg-busy="{promise:vm.cgBusyLoading}">
  <!-- TOP BACKGROUND -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between center">
    <div class="white-fg" layout="column" layout-align="start start">
      <div class="h2" layout="row" layout-align="start center">
        <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
      </div>
      <div layout="row" layout-align="start center">
        <breadcrumbs></breadcrumbs>
      </div>
    </div>
  </div>
  <!-- / TOP BACKGROUND -->
  <!-- CONTENT HEADER -->
  <div layout="row" layout-sm="column" flex class="layout-row flex padding-top-side md-inline-form cm-so-list-filters">
    <form class="md-inline-form cm-custom-label-common width-100p pt-10" name="vm.filtersInfo">
      <div layout="row" flex="100" class="umid-advance-filter" layout-wrap>
        <div layout="row" flex="100" class="overflow-auto-rs margin-left-10">
          <!-- Personnel -->
          <div layout="column" flex="20">
            <div layout="column" class="alias-list-main cm-alias-list-main-static-block" flex>
              <div class="title alias-list-title cm-alias-list-title-static-block" layout="row" flex="100"
                layout-align="space-between center">
                <span class="label-container width-auto">
                  <a class="cm-text-decoration underline" ng-click="vm.goToPersonnelList();" tabindex="-1">Personnel</a>
                </span>
                <div layout="row" layout-align="center center" flex="100" class="cm-part-mfr-list-search">
                  <md-input-container md-no-float flex="100" layout="row" class="margin-0 pos-rel">
                    <input type="text" name="employeeSearchText" id="employeeSearchText"
                      ng-model="vm.employeeSearchText" placeholder="Type here to search"
                      ng-model-options="{debounce:vm.debounce }" ng-maxlength="50" autocomplete="off"
                      ng-change="vm.searchEmployeeList()">
                    <md-button ng-if="vm.employeeSearchText"
                      class="md-icon-button height-20 width-20 line-height-20 cm-part-filter-clear-btn margin-top-3"
                      ng-click="vm.clearEmployeeSearchText()">
                      <md-icon role="img" md-font-icon="icon-close"
                        class="material-icons mat-icon icon-close font-size-12 color-white"></md-icon>
                    </md-button>
                  </md-input-container>
                </div>
                <div layout="row" layout-align="center center">
                  <a class="cm-text-decoration color-white underline" ng-click="vm.clearEmployeeFilter();" tabindex="-1"
                    ng-if="vm.employeeDetailModel.length">
                    Clear
                  </a>
                  <md-button ng-click="vm.getEmployeeList();" class="md-primary md-link-ripple cm-part-advance-filter-btn">
                    <md-icon md-font-icon="icon-reload">
                      <md-tooltip>Reload</md-tooltip>
                    </md-icon>
                  </md-button>
                </div>
              </div>
              <select ng-model="vm.employeeDetailModel" size="10" multiple="" class="cm-auto-scroll"
                ng-if="vm.employeeListToDisplay && vm.employeeListToDisplay.length">
                <option ng-repeat="x in vm.employeeListToDisplay" value="{{x.id}}">{{x.empCodeName}}</option>
              </select>
              <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center"
                layout-wrap ng-if="!vm.employeeListToDisplay || vm.employeeListToDisplay.length == 0">
                <p flex="100" class="empty-state-title font-size-17-imp">{{vm.EmptyMesssageFilter.MESSAGE}}</p>
              </div>
            </div>
          </div>
          <div layout="row">
            <!-- Transaction Type -->
            <div flex="100" layout="row" class="pl-10">
              <div flex layout="row">
                <fieldset flex="100" class="container-box">
                  <legend class="margin-0">Transaction Type</legend>
                  <div layout="row" flex="100" layout-md="column" layout-sm="column">
                    <div class="cm-checkbox-auto input-wrapper margin-top-10 margin-left-10" layout="column"
                      layout-align="start start">
                      <md-checkbox ng-model="vm.isBOMType" class="mv-0 margin-bottom-10-imp">BOM</md-checkbox>
                      <md-checkbox ng-model="vm.isCosting" class="mv-0 margin-bottom-10-imp">Costing</md-checkbox>
                      <md-checkbox ng-model="vm.isKit" class="mv-0 margin-bottom-10-imp">Kit</md-checkbox>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <!-- Activity Type -->
            <div flex="100" layout="row" class="pl-10">
              <div flex layout="row">
                <fieldset flex="100" class="container-box">
                  <legend class="margin-0">Activity Type</legend>
                  <div layout="row" flex="100" layout-md="column" layout-sm="column">
                    <div class="cm-checkbox-auto input-wrapper margin-top-10 margin-left-10" layout="column"
                      layout-align="start start">
                      <md-checkbox ng-model="vm.isProduction" class="mv-0 margin-bottom-10-imp">Production</md-checkbox>
                      <md-checkbox ng-model="vm.isSetup" class="mv-0 margin-bottom-10-imp">Setup</md-checkbox>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          <div flex="100" class="mt-10 ph-10">
            <div class="cm-section-main" flex="100">
              <div class="cm-section-inner" flex="100">
                <table cellspacing="0" cellpadding="0" class="cm-table-input-main width-100p">
                  <tbody>
                    <tr>
                      <th class="padding-top-10">
                        <p class="label-container">
                          <a tabindex="-1" class="cm-text-decoration"
                            ng-click="vm.goToPartList();">{{vm.LabelConstant.Assembly.Assy}}/{{vm.LabelConstant.MFG.AssyID}}</a>
                        </p>
                      </th>
                      <td>
                        <md-input-container class="cm-widget-chip md-block full-chip margin-0" flex="100" md-no-float>
                          <md-contact-chips ng-model="vm.assyMfgPn" flex="100" class="cm-width-contact-chip"
                            layout="row" md-contacts="vm.queryAssySearchMfgPn($query)" md-contact-name="mfgPN"
                            md-contact-image="" md-contact-email="" md-require-match="true" md-highlight-flags="i"
                            filter-selected="true" secondary-placeholder="Add another to Search"
                            placeholder="Type here to Search">
                          </md-contact-chips>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr>
                      <th class="padding-left-25">

                      </th>
                      <td colspan="4" class="height-0 padding-0">
                        <div flex="100">
                          <b>(({{vm.LabelConstant.MFG.MFGCode}}) {{vm.LabelConstant.Assembly.Assy}} |
                            {{vm.LabelConstant.MFG.AssyID}} | {{vm.LabelConstant.MFG.ProductionPN}})</b>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div layout="row" class="overflow-auto-rs mt-5">
              <fieldset class="container-box">
                <legend class="margin-0">Select Record</legend>
                <div layout="column" flex>
                  <div class="input-wrapper" flex="100" layout="row" layout-align="start center">
                    <md-button class="md-primary md-raised md-ink-ripple mv-0"
                      ng-disabled="(!vm.selectedRowsList) || vm.selectedRowsList.length == 0"
                      ng-click="vm.updateEmployeeDetails()">Update Burden Rate/Payment Mode</md-button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div layout="row" flex="100" class="overflow-auto-rs mb-5">
          <div layout="column" flex class="mr-5">
            <div class="input-wrapper" flex="100" layout="row" layout-align="end-end">
              <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-click="vm.advanceFilterSearch()">Apply
                Filters</md-button>
              <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-click="vm.resetFilter()">Reset</md-button>
            </div>
          </div>
        </div>
      </div>
      <div layout="row" layout-align="start center" layout-wrap flex="100" class="padding-left-10 mb-5"
        ng-if="vm.generateFilterChip">
        <span class="font-weight-600">
          Applied Filters:
        </span>
        <div ng-repeat="item in vm.ActivityTrackingAdvanceFilter" layout="row" layout-align="start center"
          class="cm-tracking-chip-mian padding-left-5" ng-if="!item.isDeleted">
          <div class="tracking-number-chip" layout="row" layout-align="start center">
            <label>
              {{item.value}}
              <md-tooltip md-direction="top" ng-if="item.tooltip" class="tooltip-height-auto"
                ng-bind-html="item.tooltip">
              </md-tooltip>
            </label>
            <md-button class="md-icon-button md-primary md-mini" ng-click="vm.removeAppliedFilter(item, $index)"
              ng-disabled="item.isDisable">
              <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
              <md-tooltip ng-if="!item.isDisable">Click to remove this filter</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
      <div layout="row" layout-align="start center" layout-wrap flex="100" class="padding-left-10 mb-5"
        ng-if="vm.isUiGridColumnFiltersApplied && vm.gridOptions.gridApi && vm.gridOptions.gridApi.grid.columns.length > 0">
        <span class="font-weight-600">
          Grid Filters:
        </span>
        <div ng-repeat="item in vm.gridOptions.gridApi.grid.columns" layout="row" layout-align="start center"
          class="cm-tracking-chip-mian" ng-if="item.filters[0].term">
          <div class="tracking-number-chip" layout="row" layout-align="start center" ng-if="item.filters[0].term">
            <label>
              {{item.displayName}}
              <md-tooltip md-direction="top" ng-if="item.filters[0].term" class="tooltip-height-auto"
                ng-bind-html="item.filters[0].term">
              </md-tooltip>
            </label>
            <md-button class="md-icon-button md-primary md-mini" ng-click="vm.clearGridColumnFilter(item, $index)">
              <md-icon md-font-icon="icon-close" class="material-icons mat-icon"></md-icon>
              <md-tooltip>Click to remove this filter</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- / CONTENT HEADER -->
  <!-- CONTENT CARD -->
  <div class="content-card cm-salesorder-list cm-kit-list-table" layout="column" flex ng-show="!vm.isNoDataFound">
    <md-card layout="column" flex layout-align="space-between stretch" class="margin-0 padding-10 padding-top-0">
      <ui-grid-extention load-data="vm.loadData" grid-option="vm.gridOptions" header="vm.sourceHeader"
        grid-data="vm.sourceData" total-data-count="vm.totalSourceDataCount" reset-grid="vm.resetSourceGrid"
        selectted-rows="vm.selectedRowsList" paging-info="vm.pagingInfo" current-item="vm.currentdata"
        get-data-down="vm.getDataDown" empty-state="vm.emptyState" delete-multiple-data="vm.deleteMultipleData"
        grid-id="vm.gridConfig.gridKitList">
    </md-card>
  </div>
  <!-- / CONTENT CARD -->
  <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap
    ng-if="vm.isNoDataFound == true">
    <div class="emty-icon" flex="100">
      <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
    </div>
    <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
    <p flex="100">
      <md-button class="md-fab md-mini" aria-label="Refresh Kit List" ng-click="vm.refreshSalesOrder()">
        <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
        <md-tooltip>Refresh Kit List</md-tooltip>
      </md-button>
    </p>
  </div>
</div>
<style>
  .md-contact-suggestion .md-contact-name {
    width: auto !important;
  }
</style>
