<md-dialog aria-label="List dialog" flex="60" draggable>
    <form name="vm.dataKeyPopupForm" novalidate>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{vm.keyvalue.displayName}}</h2>
            <span flex></span>
            <span layout="row" layout-align="start center">
                <span class="lableheader cm-header-label" layout="row" layout-align="start center">
                  <span>{{vm.datakeylables.DATAKEY}}:&nbsp</span>
                  <span class="cm-text-ellipsis"><b ng-if="vm.keyvalue.datakey">{{vm.keyvalue.datakey}}</b></span>
                  <copy-text ng-if="vm.keyvalue.datakey" label="vm.datakeylables.DATAKEY" text="vm.keyvalue.datakey"></copy-text>
                </span>
              </span>
              <span layout="row" layout-align="start center">
                <span class="lableheader cm-header-label" layout="row" layout-align="start center">
                  <span>{{vm.datakeylables.DATAKEY_CLUSTERNAME}}:&nbsp</span>
                  <span class="cm-text-ellipsis"><b ng-if="vm.keyvalue.clusterName">{{vm.keyvalue.clusterName}}</b></span>
                  <copy-text ng-if="vm.keyvalue.clusterName" label="vm.datakeylables.DATAKEY_CLUSTERNAME" text="vm.keyvalue.clusterName"></copy-text>
                </span>
              </span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
    </div>
    </md-toolbar>
    <md-dialog-content class="no-padding">
        <datakey key-value="vm.keyvalue" datakey-form="vm.dataKeyPopupForm"></datakey>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-raised">
            {{vm.datakeylables.Cancel}}
        </md-button>
        <md-button ng-disabled="vm.keyvalue.isEditable == 0" ng-class="{'md-formdirty': vm.checkFormDirty(vm.dataKeyPopupForm) }" ng-click="vm.saveDataKey(vm.keyvalue, false)" class="md-primary md-raised">
            {{vm.datakeylables.Save}}
        </md-button>
        <md-button ng-disabled="vm.keyvalue.isEditable == 0" ng-class="{'md-formdirty': vm.checkFormDirty(vm.dataKeyPopupForm) }" ng-click="vm.saveDataKey(vm.keyvalue, true)" class="md-primary md-raised">
            {{vm.datakeylables.SaveAndExit}}
        </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>