<md-dialog draggable class="cm-custom-label-common" flex="{{vm.popupFlex}}"
           cg-busy="{promise:vm.cgBusyLoading}">
    <form name="vm.VerificationForm" novalidate class="md-inline-form">
        <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
        <md-toolbar>
            <div class="md-toolbar-tools" ng-class="{'cm-void-payment-popup-label':vm.genericDetailModel.isShowHeaderData}">
                <h2 ng-class="{'nowrap pr-10':vm.genericDetailModel.isShowHeaderData}">
                    {{vm.genericDetailModel.popupTitle ? vm.genericDetailModel.popupTitle :'Transaction Approval'}}
                </h2>
                <span flex></span>
                <popup-header-label label-data="vm.headerdata"></popup-header-label>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="padding-10 mh-5">
            <div flex="100" layput="row">

                <div layout-align="end start" layout layout-wrap class="input-wrapper cm-btn-group" ng-if="vm.genericDetailModel.isInvoiceApprovedMsgBtn">
                    <md-button class="md-primary md-raised mr-5" ng-click="vm.gotoPredefinedComment()">{{vm.invoiceApprovalreasonType.title}}</md-button>
                    <md-button class="md-primary md-raised mr-10" ng-click="vm.isShowApprovedReasons = !vm.isShowApprovedReasons">{{ vm.isShowApprovedReasons ? 'Hide' : 'Show' }} {{vm.invoiceApprovalreasonType.title}}</md-button>
                </div>

                <div layout="row" layout-wrap class="mh-10">
                    <!--layout-align="center center"-->
                    <div ng-if="vm.genericDetailModel && vm.genericDetailModel.informationMsg">
                        <p ng-bind-html="vm.genericDetailModel.informationMsg"></p>
                    </div>

                    <div class="cm-section-main" flex="100">
                        <div class="cm-section-inner">
                            <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
                                <tbody>
                                    <tr>
                                        <th ng-if="!vm.isOnlyPassword">
                                            <p class="label-container">User ID<span>&nbsp;*</span></p>
                                        </th>
                                        <td ng-if="!vm.isOnlyPassword">
                                            <md-input-container flex="100" class="md-block"
                                                                ng-class="{'width-50p':vm.genericDetailModel.isShowHeaderData}">
                                                <input type="text" name="username" ng-model="vm.accessLevelDetail.username" required ng-maxlength="50" placeholder="User ID" md-autofocus>
                                                <div ng-messages="vm.VerificationForm.username.$error" role="alert">
                                                    <div ng-message="required">
                                                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                                    </div>
                                                    <div ng-message="maxlength">
                                                        <span>{{vm.getMaxLengthValidation(50,vm.VerificationForm.username.$viewValue.length)}}</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </td>
                                        <th>
                                            <p class="label-container">Password<span>&nbsp;*</span></p>
                                        </th>
                                        <td class="cm-employee-manage-password cm-password-input">
                                            <md-input-container class="md-block pos-rel" flex="100"
                                                                ng-class="{'width-50p':vm.genericDetailModel.isShowHeaderData}">
                                                <input type="{{vm.showPassword ? 'text' : 'password'}}" name="password" ng-model="vm.accessLevelDetail.password" required ng-maxlength="50" placeholder="Password" ng-keypress="vm.showPassword=false">
                                                <md-button tabindex="-1" ng-if="vm.VerificationForm.password.$viewValue && vm.showPassword" md-font-icon="icon-eye-off" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple" ng-click="vm.showPassword = !vm.showPassword"><a>Hide</a></md-button>
                                                <md-button tabindex="-1" ng-if="vm.VerificationForm.password.$viewValue && !vm.showPassword" md-font-icon="icon-eye" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple" ng-click="vm.showPassword = !vm.showPassword"><a>Show</a></md-button>
                                                <div ng-messages="vm.VerificationForm.password.$error" role="alert">
                                                    <div ng-message="required">
                                                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                                    </div>
                                                    <div ng-message="maxlength">
                                                        <span>{{vm.getMaxLengthValidation(50,vm.VerificationForm.password.$viewValue.length)}}</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <p class="label-container">Reason<span>&nbsp;*</span></p>
                                        </th>
                                        <td colspan="3">
                                            <md-input-container class="md-block" flex="100">
                                                <textarea name="approvalReason" id="approvalReason" rows="{{vm.TextAreaRows.ROWS}}" max-rows="{{vm.TextAreaRows.MAX_ROWS}}"
                                                          ng-model="vm.genericDetailModel.approvalReason" required ng-maxlength="255" md-maxlength="255" placeholder="Reason"></textarea>
                                                <div ng-messages="vm.VerificationForm.approvalReason.$error" role="alert">
                                                    <div ng-message="required">
                                                        <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                                    </div>
                                                    <div ng-message="maxlength">
                                                        <span>{{vm.getMaxLengthValidation(255,vm.VerificationForm.approvalReason.$viewValue.length)}}</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <predefined-comment ng-if="vm.genericDetailModel.isInvoiceApprovedMsgBtn && vm.isShowApprovedReasons" reason-id="vm.invoiceApprovalreasonType.id" param-select-comment-callback-fn="vm.selectApprovalReasons" is-hide-redirect-to-mst-btn="true"></predefined-comment>
            </div>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <md-button class="md-default md-raised" ng-click="vm.cancel()" ng-disabled="vm.isDisablecancel">Cancel</md-button>
        <md-button class="md-primary md-raised" ng-click="vm.checkAndverifyUser()" aria-label="Submit" ng-disabled="vm.isDisableSubmit"
                   ng-class="{'md-formdirty': vm.VerificationForm.$dirty}">Ok</md-button>
    </md-dialog-actions>
</md-dialog>
