<md-dialog flex="90" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h2>WO Build History</h2>
      <span flex></span>
      <div layout="row" layout-align="center center" class="cm-wo-gen">
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
      </div>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="customer-modal no-padding cm-build-history-popup" layout="column">
    <md-content class="custom-scroll" layout="column" flex>
      <ms-form-wizard layout="column" flex>
        <md-tabs md-dynamic-height flex class="manage-customer-tabing padding-0 full-height" md-selected="msWizard.selectedIndex">
          <!-- Summary View -->
          <md-tab md-on-select="vm.onTabChanges(msWizard)">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg">
                  <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Summary</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <div ng-if="vm.isDisplaySummaryView">
                <wo-build-history-summary-view-list popup-param-data="vm.popupParamData"></wo-build-history-summary-view-list>
              </div>
            </md-tab-body>
          </md-tab>
          <!-- Detail View -->
          <md-tab md-on-select="vm.onTabChanges(msWizard)">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg">
                  <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Detail</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <div ng-if="vm.isDisplayDetailView">
                <wo-build-history-detail-view-list popup-param-data="vm.popupParamData"></wo-build-history-detail-view-list>
              </div>
            </md-tab-body>
          </md-tab>
          <!-- All Inital Stock List -->
          <md-tab md-on-select="vm.onTabChanges(msWizard)">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg">
                  <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Initial Stock List</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <div ng-if="vm.isDisplayInitialStockView">
                <assembly-opening-stock-list assy-id="vm.popupParamData.partID"></assembly-opening-stock-list>
              </div>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </ms-form-wizard>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
  </md-dialog-actions>
</md-dialog>
