<md-dialog aria-label="Add Temperature Sensitive Data" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.AddTemperatureSensitiveDataForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.TemperatureData.id?'Update': 'Add'}} Temperature Sensitive Data</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding" layout="column">
      <md-content class="md-padding">
        <div layout="row" flex="100" layout-wrap>
          <div flex="100" layout="row">
            <div class="cm-section-main border-0" flex="100">
              <div class="cm-section-inner cm-section-inner-popup">
                <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                  <tbody>
                    <tr>
                      <th>
                        <p class="label-container">
                          Temperature Above Liquidus (°C)
                          <span>&nbsp;*</span>
                        </p>
                      </th>
                      <td>
                        <md-input-container flex="100" md-no-float>
                          <input type="number" name="pickTemperatureAbove" ng-model="vm.TemperatureData.pickTemperatureAbove"
                                 placeholder="e.g., 135.23"
                                 ng-required="true"
                                 ng-maxlength="10" md-autofocus>
                          <div ng-messages="vm.AddTemperatureSensitiveDataForm.pickTemperatureAbove.$error"
                               role="alert">
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="maxlength">
                              <span>{{vm.getMaxLengthValidation(10, vm.AddTemperatureSensitiveDataForm.pickTemperatureAbove.$viewValue.length)}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p class="label-container">
                          Time Above Liquidus (second)
                          <span>&nbsp;*</span>
                        </p>
                      </th>
                      <td>
                        <md-input-container flex="100" md-no-float>
                          <input type="number" name="timeLiquidusSecond" ng-model="vm.TemperatureData.timeLiquidusSecond"
                                 placeholder="e.g., 30"
                                 ng-required="true"
                                 ng-maxlength="10"
                                 min="1">
                          <div ng-messages="vm.AddTemperatureSensitiveDataForm.timeLiquidusSecond.$error"
                               role="alert">
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                            <div ng-message="maxlength">
                              <span>{{vm.getMaxLengthValidation(10, vm.AddTemperatureSensitiveDataForm.timeLiquidusSecond.$viewValue.length)}}</span>
                            </div>
                          </div>
                        </md-input-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
      <md-button class="md-primary md-raised" ng-click="vm.save()" aria-label="Submit">Save</md-button>
      <!--ng-disabled="vm.AddTemperatureSensitiveDataForm.$invalid"-->
    </md-dialog-actions>
  </form>
</md-dialog>
