<style>
    .header {
        margin: 0px 0px 0px 40px;
        font-size: 12px;
        width: 21.6cm;
        padding: 0px 0px 0px 10px;
    }

    .header-content {
        font-size: large;
        font-family: Arial;
        text-align: right;
        width: 80%;
    }
    
    .company-logo {
        height: 50px;
        object-fit: cover;
    }
</style>

<div class="header">
    <table style="width: 100%;">
        <tr>
            <td style="text-align: end; margin-left:10px;"><img src="##CompLogoPath##" class="company-logo" /></td>
            <td class="header-content">##AgreementName##</td>
        </tr>
    </table>
</div>
<div style="border-top: 1px solid black; margin-left: 25px; margin-top:5px; text-align: right;font-family:Arial;"></div>