<style>

    .header {
        margin: 0px 0px 0px 40px;
        padding: 0px 0px 0px 10px;
        width: 100%;
    }


    .content {
        padding: 0px 0px 0px 0px;
        text-align: left;
        font-size: medium;
        font-family: Arial;
    }

    .label {
        text-align: start;
        font-size: medium;
        font-family: Arial;
    }
</style>

<div class="header">
    <div>
        <table style="width:auto;">
            <tr>
                <th class="label">Published Version:</th>
                <td class="content">##PublishedVersion##</td>
            </tr>
        </table>
        <table style="width:auto;">
            <tr>
                <th class="label">Published Date:</th>
                <td class="content">##NewPublishedDate##</td>
            </tr>
        </table>
    </div>
    <div class="content">
        ##AgreementContent##
    </div>
</div>
