<md-dialog aria-label="Add Good-Bad Parts" class="warehouse-side-popup-width cm-custom-label-common" draggable>
        <md-toolbar ng-class="vm.themeClass">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2>Confirmation</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.save(3)">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
            <md-content class="md-padding custom-scroll ml-8">
                <p data-ng-bind-html="vm.message"></p>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.save(3)">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.save(2)" aria-label="active">Keep part active & continue</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.save(1)"  aria-label="Ok">Obsolete part & continue</md-button>
        </md-dialog-actions>
</md-dialog>

