<md-dialog aria-label="customer-AVL" class="rfq_errorcode_popup_width" flex="70" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.ImportCustomerAVLForm">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2>Import Customer AVL</h2>
                <span flex></span>
                <popup-header-label label-data="vm.headerdata"></popup-header-label>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
            <md-content class="md-padding">
                <div layout="row" flex="100">
                    <div layout="row" flex="100" class="workorderdetail-main work-order-bg-main" layout-wrap>
                        <div layout="row" layout-wrap flex="100">
                            <table width="100%" class="opration-table">
                                <tr>
                                    <td ng-if="vm.activeTab == 2">
                                        <md-progress-circular ng-if="vm.assyLoading && vm.status != null"
                                                ng-class="md-accent"
                                                md-diameter="16"
                                                md-mode="indeterminate"></md-progress-circular>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div layout="row" flex="100" class="margin-top-15" layout-wrap>
                    <div flex="50" id="div-excel" class="relative drag-txt drop-box droparea mb-10 text-center padding-right-10" excel-reader er-options="vm.erOptions" ng-if="!vm.isEdit  &&  !vm.isView">
                        <input id="fi-excel" name="file" type="file" class="hidden" style="height:0px;width:0px;left: -100%;position:absolute">
                        <p style="height:120px" layout-align="center center" class="drag-txt margin-0">Select or Drag single AVL BOM file</p>
                        <md-button class="md-fab md-mini" aria-label="Add BOM file" ng-if="vm.avlobj?vm.avlobj.length <= 1:true" ng-click="vm.addBOM($event)">
                            <md-tooltip md-direction="top">Add AVL BOM document</md-tooltip>
                            <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini" ng-click="vm.downloadDocument('sampleAVLBOMTemplete')">
                            <md-icon role="img" md-font-icon="icon-export" class="material-icons mat-icon icon-export"></md-icon>
                            <md-tooltip md-direction="bottom">Export AVL BOM template</md-tooltip>
                        </md-button>
                        <div flex layout="row" class="uploadedimage" layout-wrap ng-if="vm.BOMfile.length > 0">
                            <div class="repeatimage" layout="row" ng-repeat="objFile in vm.BOMfile">
                                <div class="image">
                                    <img ng-if="objFile" ngf-thumbnail="objFile || '/thumb.jpg'" ngf-size="{quality: 1}">
                                    <img ng-show="!vm.isImage(objFile)" ng-src="{{objFile.icon}}" />
                                    <i class="icon-cancel" ng-click="vm.removeDocument($index,'BOMfile')" ng-if="!objFile.isProcessed"></i>
                                </div>
                                <p layout-align="center center" class="margin-10">{{objFile.name}}</p>
                            </div>
                        </div>
                    </div>
                    <div flex="50" id="div-excel1" class="relative drag-txt drop-box droparea mb-10 text-center padding-left-10" excel-reader er-options="vm.erOptionsavl" ng-if="!vm.isEdit  &&  !vm.isView">
                        <input id="fi-excel" name="file" type="file" class="hidden" style="height:0px;width:0px;left: -100%;position:absolute">
                        <p style="height:120px" layout-align="center center" class="drag-txt margin-0">Select or Drag single AVL MFR mapping document</p>
                        <md-button class="md-fab md-mini" aria-label="Add AVL BOM document" ng-if="vm.avlBOMobj?vm.avlBOMobj.length <= 1:true" ng-click="vm.addAVLBOM($event)">
                            <md-tooltip md-direction="top">Add AVL BOM MFR document</md-tooltip>
                            <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini" ng-click="vm.downloadDocument('sampleAVLBOMMFGTemplete')">
                            <md-icon role="img" md-font-icon="icon-export" class="material-icons mat-icon icon-export"></md-icon>
                            <md-tooltip md-direction="bottom">Export AVL BOM MFR template</md-tooltip>
                        </md-button>
                        <div flex layout="row" class="uploadedimage" layout-wrap ng-if="vm.BOMAVLfile.length > 0">
                            <div class="repeatimage" layout="row" ng-repeat="objFile in vm.BOMAVLfile">
                                <div class="image">
                                    <img ng-if="objFile" ngf-thumbnail="objFile || '/thumb.jpg'" ngf-size="{quality: 1}">
                                    <img ng-show="!vm.isImage(objFile)" ng-src="{{objFile.icon}}" />
                                    <i class="icon-cancel" ng-click="vm.removeDocument($index,'BOMAVLfile')" ng-if="!objFile.isProcessed"></i>
                                </div>
                                <p layout-align="center center" class="margin-10">{{objFile.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>

        </md-dialog-content>
        <md-dialog-actions layout="row">

            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.save($event)" ng-disabled="!(vm.avlobj.length > 1 && vm.avlBOMobj.length > 1)"
                       ng-class="{'md-formdirty': (vm.avlobj.length > 1 && vm.avlBOMobj.length > 1) }"aria-label="Submit">Submit</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
