<!--<div class="cm-receiving-material-navbar padding-top-side" layout="column" flex="100">
  <md-nav-bar md-selected-nav-item="vm.selectedNavItem" nav-bar-aria-label="customerInvoice" ng-if="vm.showTab">
    <md-nav-item ng-repeat="item in vm.tabList" md-nav-sref="{{item.src}}" name="{{item.title}}">{{item.title}}</md-nav-item>
  </md-nav-bar>
  <md-content ui-view="tabContent" flex class="card" ng-class="{ 'padding-10': vm.showTab }"></md-content>
</div>-->
<div layout="row" flex="100" class="cm-alias-alternate-grp" cg-busy="{promise:vm.cgBusyLoading}">
  <ms-form-wizard flex>
    <md-tabs md-selected="vm.selectedTabIndex">
      <!--Initial Stock-->
      <md-tab ng-disabled="vm.isSupplier" md-on-select="vm.onTabChanges(vm.Assembly_Stock_Type_Name.InitialAssemblyStock,msWizard)">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">
            <span class="ms-form-wizard-step-number md-accent-bg">4</span>
            <span class="ms-form-wizard-step-number md-accent-bg">
              <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">{{vm.Assembly_Stock_Type_Name.InitialAssemblyStock}}</span>
          </span>
        </md-tab-label>
        <md-tab-body ng-if="vm.isOpeningStockTab">
          <div ng-if="vm.assyId">            
            <assembly-opening-stock-list assy-id="vm.assyId" stock-type="vm.assyStockType.OpeningStock"></assembly-opening-stock-list>
          </div>
        </md-tab-body>
      </md-tab>
      <!--Production Stock-->
      <md-tab ng-disabled="vm.isSupplier" md-on-select="vm.onTabChanges(vm.Assembly_Stock_Type_Name.WOStock,msWizard)">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">
            <span class="ms-form-wizard-step-number md-accent-bg">0</span>
            <span class="ms-form-wizard-step-number md-accent-bg">
              <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">{{vm.Assembly_Stock_Type_Name.WOStock}}</span>
          </span>
        </md-tab-label>
        <md-tab-body ng-if="vm.isProductionStockTab">
          <div ng-if="vm.assyId">
            <assembly-opening-stock-list assy-id="vm.assyId" stock-type="vm.assyStockType.WorkOrderStock"></assembly-opening-stock-list>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
</div>
