<md-dialog aria-label="Label Verification" class="mfg-popup-width" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.LabelVerification">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="!vm.verifiedLabel">Label Verification</h2>
                <h2 ng-if="vm.verifiedLabel">Label is verified. Take Picture</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding" layout="column">
            <md-content class="padding-10 custom-scroll">
                <div flex="100" flex-gt-xs="100" layout-wrap>
                    <div layout="row" layout-gt-xs="row" flex="100" ng-if="!vm.ismenu">
                        <md-input-container ng-class="vm.themeClass" class="margin-bottom-0 md-block" flex="{{vm.verifiedLabel?90:100}}">
                            <input type="text" name="uid" ng-model="vm.verification.uid" required ng-maxlength="vm.UMID_MAX_LENGTH"
                                   placeholder="Scan UID" ng-disabled="vm.verifiedLabel" capitalize class="input-text-uppercase" md-autofocus>
                            <div ng-messages="vm.LabelVerification.uid.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                                <div ng-message="maxlength">
                                    <span>{{vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container ng-if="vm.verifiedLabel" ng-class="vm.themeClass" class="margin-bottom-0 md-block text-center" flex="{{vm.verifiedLabel?10:0}}">
                            <md-checkbox ng-model="vm.verifiedLabel" ng-disabled="true">

                            </md-checkbox>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-gt-xs="row" flex="100">
                        <md-input-container ng-class="vm.themeClass" class="margin-bottom-0 md-block" flex="100" flex-gt-xs="100">
                            <input type="text" name="mfglabel" ng-model="vm.verification.scanlabel" required
                                   placeholder="Scan MFG Label" ng-disabled="vm.verifiedLabel">
                            <div ng-messages="vm.LabelVerification.mfglabel.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" class="margin-top-0 margin-left-5" ng-if="!vm.verifiedLabel">
                        <span class="font-size-12">{{vm.TRANSACTION.RECEIVING_MATERIAL_LABEL_VERIFY_TEXT}}</span>
                    </div>
                    <div layout="row" class="margin-top-0 margin-left-5" ng-if="vm.verifiedLabel">
                        <span class="font-size-12">{{vm.TRANSACTION.RECEIVING_MATERIAL_LABEL_VERIFIED_NOTE}}</span>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised md-btn" ng-click="vm.cancel()">Cancel</md-button>
            <span flex></span>
            <md-button ng-if="!vm.verifiedLabel" class="md-btn md-primary md-raised" ng-click="vm.verifyBarcodeLabel($event)" ng-disabled="vm.LabelVerification.$invalid" aria-label="Submit">Verify</md-button>
            <md-button ng-if="vm.verifiedLabel" class=" md-btn md-primary md-raised" ng-click="vm.takePicture($event)" aria-label="Submit">Take Picture</md-button>
            <!--<md-button ng-if="false" class="md-primary md-raised" ng-click="vm.scanfromURL($event)" aria-label="Submit">Scan From URL</md-button>-->
        </md-dialog-actions>
    </form>
</md-dialog>
