<md-dialog draggable>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        Capture Image
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.flipCamera()" ng-if="vm.devices.length > 1">
        <md-icon role="img" md-font-icon="icon-camera-front"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="custom-scroll">
    <div layout="row" layout-aling="centre center" flex layout-wrap ng-if="!vm.webcamError">
      <webcam channel="vm.channel"
              on-streaming="vm.onSuccess()"
              on-error="vm.onError(err)"
              on-stream="vm.onStream(stream)"
              is-access-back-camera="vm.isAccessBackCamera"
              devices="vm.devices">
      </webcam>
    </div>
    <div layout="row" layout-aling="centre center" flex layout-wrap ng-if="vm.webcamError">
      <label>Webcam not found</label>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-btn md-primary md-raised ml-0 margin-right-0" ng-click="vm.makeSnapshot()"  ng-if="!vm.webcamError">
      CAPTURE
    </md-button>
    <span flex></span>
    <md-button class="md-btn md-default md-raised" ng-click="vm.cancel()" >
      Close
    </md-button>
  </md-dialog-actions>
</md-dialog>
