<div id="user-list" class="page-layout carded fullwidth breadcrumb-fixed" layout="row" cg-busy="{promise:vm.cgBusyLoading}">
  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->

  <div class="center margin-left-0 margin-right-0" layout="column" flex>
    <form name="vm.unallocatedUmidXferHistoryForm" id="unallocatedUmidXferHistoryForm">
      <div class="header" layout="row" layout-align="space-between center">
        <div layout="row">
          <div class="white-fg" layout="column" layout-align="start start">
            <div class="h2" layout="row" layout-align="start center">             
              <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
            </div>
            <div class="product-count" layout="row" layout-align="start center">
              <breadcrumbs></breadcrumbs>
            </div>
          </div>
        </div>
      </div>
      <div class="padding-top-side" layout="column" flex>
        <div class="padding-10" flex="100">
          <div layout="row" layout-align="start center">
            <div class="cm-section-main mb-10" flex="100">
              <div class="cm-section-inner ph-0-imp">
                <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
                  <tbody>
                    <tr>
                      <th>
                        <p class="label-container mt-10">From Date<span class="color-red margin-left-3">*</span></p>
                      </th>
                      <td class="width-150">
                        <md-input-container class="md-block datepicker padding-right-0-imp margin-0" flex="100">
                          <input type="text" class="float-left" ng-required="true"
                                 name="fromDate"
                                 datetime-picker="{{$root.dateDisplayFormat}}"
                                 enable-date="true"
                                 enable-time="false"
                                 ng-model="vm.unallocatedUmidXferHistoryModal.fromDate"
                                 ng-change="vm.fromDateChanged()"
                                 datepicker-options="vm.fromDateOptions"
                                 ui-options="{clearOnBlur  : true}"
                                 ui-mask="{{$root.uimaskFormat.date.mask}}"
                                 ui-mask-placeholder="{{$root.uimaskFormat.date.placeholder}}"
                                 model-view-value="true" 
                                 is-open="vm.fromDateOptions.fromDateOpenFlag" />
                          <md-icon md-font-icon="icon-calendar calender-icon" ng-click="vm.fromDateOptions.fromDateOpenFlag = true">
                          </md-icon>
                          <div ng-messages="vm.unallocatedUmidXferHistoryForm.fromDate.$error" md-auto-hide="false" role="alert">                            
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>                            
                          </div>
                        </md-input-container>
                      </td>
                      <th class="pl-10">
                        <p class="label-container mt-10">To Date<span class="color-red margin-left-3">*</span></p>
                      </th>
                      <td class="width-150">
                        <md-input-container class="md-block datepicker padding-right-0-imp margin-0" flex="100">
                          <input type="text" class="float-left" ng-required="true"
                                 name="toDate"
                                 datetime-picker="{{$root.dateDisplayFormat}}"
                                 enable-date="true"
                                 enable-time="false"
                                 ng-model="vm.unallocatedUmidXferHistoryModal.toDate"
                                 ng-change="vm.toDateChanged()"
                                 datepicker-options="vm.toDateOptions"
                                 ui-options="{clearOnBlur  : true}"
                                 ui-mask="{{$root.uimaskFormat.date.mask}}"
                                 ui-mask-placeholder="{{$root.uimaskFormat.date.placeholder}}"
                                 model-view-value="true"
                                 is-open="vm.toDateOptions.toDateOpenFlag"/>
                          <md-icon md-font-icon="icon-calendar calender-icon" ng-click="vm.toDateOptions.toDateOpenFlag = true">
                          </md-icon>
                          <div ng-messages="vm.unallocatedUmidXferHistoryForm.toDate.$error" md-auto-hide="false" role="alert">                            
                            <div ng-message="required">
                              <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>                           
                          </div>
                        </md-input-container>
                      </td>
                      <td>
                        <md-button class="md-primary md-raised md-ink-ripple margin-0 margin-right-10 margin-left-10" ng-click="vm.selectorDateSearch()">
                          Search
                        </md-button>
                        <md-button class="md-primary md-raised md-ink-ripple mv-0 margin-right-0" ng-click="vm.selectorDateReset()">
                          Reset
                        </md-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="content-card" layout="column" ng-show="!vm.isHistoryNotFound">
            <div layout="column" flex layout-align="space-between stretch" class="cm-unallocatedXferHistory-grid">
              <ui-grid-extention class="unallocatedXferHistory-grid" load-data="vm.loadData"
                                 grid-id="vm.gridConfig.gridUnallocatedUmidXferHistory"
                                 grid-option="vm.gridOptions"
                                 header="vm.sourceHeader"
                                 grid-data="vm.sourceData"
                                 total-data-count="vm.totalSourceDataCount"
                                 reset-grid="vm.resetSourceGrid"
                                 selectted-rows="vm.selectedRowsList"
                                 paging-info="vm.pagingInfo"
                                 current-item="vm.currentdata"
                                 get-data-down="vm.getDataDown"
                                 empty-state="vm.emptyState">
            </div>
          </div>
        </div>
      </div>
      <div class="empty-state text-center full-height" layout="row" layout-align="center center" layout-wrap ng-if="vm.isHistoryNotFound == true">
        <div class="emty-icon" flex="100">
          <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
        </div>
        <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
        <p flex="100">          
          <md-button class="md-fab md-mini" aria-label="Refresh Mounting Type" ng-click="vm.refreshUnallocatedXferHistory()">
            <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
            <md-tooltip>Refresh Unallocated UMID Xfer history</md-tooltip>
          </md-button>
        </p>
      </div>
    </form>
  </div>

</div>
