<div layout="row" layout-align="start center">
    <ms-navigation-horizontal></ms-navigation-horizontal>
</div>
<div class="pin-btn-main" ng-class="addcls" ng-click="vm.PinMenu(IsPinned)">
    <md-button class="md-icon-button nav-pin">
        <!--<md-icon ng-if="IsPinned" md-font-icon="icon icon-pin-off" class="s18"></md-icon>-->
        <md-icon ng-if="IsPinned" md-font-icon="icon icons-pin" class="s18">
            <md-tooltip>Hide Menubar</md-tooltip>
        </md-icon>
        <!--<md-icon ng-if="!IsPinned" md-font-icon="icon icon-pin" class="s18"></md-icon>-->
        <md-icon ng-if="!IsPinned" md-font-icon="icon icons-unpin" class="s18">
            <md-tooltip>Show Menubar</md-tooltip>
        </md-icon>
        
    </md-button>
</div>