#layout-horizontal-navigation {
    
}
#horizontal-navigation{
    position: relative;
}
.pin-btn-main{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: -30px;
        background: #fff;
        width: 60px;
        border-radius: 2px;
        height: 30px;
        text-align: center;
        z-index: -1;
        cursor: pointer;
    .nav-pin{
        padding: 0;
        margin: 0 auto;
        z-index: 99999;
        position: relative;
        width: 35px;
        height: 30px;
    }
}
.pin-is-add{
    position: relative !important;
    left: auto;
    transform: translateX(0);
    top: 0;
     
}
.pin-is-remove{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
}
