<md-dialog aria-label="transfer stock" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="50">
  <form name="vm.transferstockForm" class="md-inline-form">
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">

        <h2>Transfer</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="padding-10">
      <md-content>

        <div class="cm-section-main margin-bottom-5 border-0">
          <div class="cm-section-inner">

            <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
              <tbody>

                <tr>
                  <th><p class="label-container pt-2">{{vm.CORE.LabelConstant.MFG.PID}}</p></th>
                  <td>
                    <md-input-container class="margin-bottom-0 md-block">
                      <input type="text" name="PIDCode" ng-disabled="true" ng-model="vm.component.PIDCode"
                             placeholder="PID Code">
                    </md-input-container>
                  </td>

                  <th><p class="label-container pt-2">Original Count</p></th>
                  <td>
                    <md-input-container class="margin-bottom-0 md-block">
                      <input type="text" name="OrgQty" ng-disabled="true" ng-model="vm.component.orgQty"
                             placeholder="Original Count">
                    </md-input-container>
                  </td>

                  <th><p class="label-container pt-2">Unit</p></th>
                  <td>
                    <md-input-container class="margin-bottom-0 md-block">
                      <input type="text" name="unit" ng-disabled="true" ng-model="vm.component.pkgUnit"
                             placeholder="Unit">
                    </md-input-container>
                  </td>
                </tr>

                <tr>
                  <th>
                    <p class="label-container pt-2">
                      <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToLocationList();">Current Location/Bin</a><span>&nbsp;*</span>
                    </p>
                  </th>
                  <td colspan="2">
                    <md-input-container class="margin-bottom-0 md-block">
                      <input type="text" name="location" ng-disabled="true" ng-model="vm.component.location_bin"
                             placeholder="Location/Bin">
                    </md-input-container>
                  </td>

                  <th>
                    <p class="label-container pt-2">
                      <a tabindex="-1" class="cm-text-decoration underline" ng-click="vm.goToLocationList();">Transfer To Location/Bin</a><span>&nbsp;*</span>
                    </p>
                  </th>
                  <td colspan="2">
                    <md-input-container flex="100" ng-if="vm.autoTransferBin" class="autocompletecustom min-width-initial margin-bottom-0" custom-auto-focus="true">
                      <custom-auto-complete datalist="vm.binList"
                                            column-name="vm.autoTransferBin.columnName"
                                            controller-name="vm.autoTransferBin.controllerName"
                                            view-template-url="vm.autoTransferBin.viewTemplateURL"
                                            key-column-name="vm.autoTransferBin.keyColumnName"
                                            input-name="vm.autoTransferBin.inputName"
                                            placeholder-name="vm.autoTransferBin.placeholderName"
                                            key-column-id="vm.autoTransferBin.keyColumnId"
                                            is-required="vm.autoTransferBin.isRequired"
                                            is-addnew="vm.autoTransferBin.isAddnew"
                                            callback-fn="vm.autoTransferBin.callbackFn"
                                            on-select-callback-fn="vm.autoTransferBin.onSelectCallbackFn"
                                            add-data="vm.autoTransferBin.addData">
                      </custom-auto-complete>
                    </md-input-container>
                  </td>
                </tr>

                <tr>
                  <th><p class="label-container pt-2">Available Qty<span>&nbsp;*</span></p></th>
                  <td>
                    <md-input-container class="margin-bottom-0 md-block">
                      <input type="number" id="availableQty" name="availableQty" ng-model="vm.component.availableQty" placeholder="Available Qty"
                             onkeypress="return OnlyNumeric(event)" min="1" maxlength="10" required>
                      <div ng-messages="vm.transferstockForm.availableQty.$error" role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="min">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(10,vm.transferstockForm.availableQty.$viewValue.length)}}</span>
                        </div>
                        <div ng-message="number">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>

                  <th>
                    <p class="label-container pt-2">
                      <a class="cm-text-decoration" ng-click="vm.goToUomList();" tabindex="-1">UOM</a>
                    </p>
                  </th>
                  <td colspan="2">
                    <md-input-container class="margin-bottom-0 md-block">
                      <input type="text" name="uom" ng-disabled="true" ng-model="vm.component.uomName"
                             placeholder="Location/Bin">
                    </md-input-container>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.transferStock($event)" aria-label="Submit">Transfer</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
