#notificationTreeView {

  .center {

    .content-card {

      &.classic {

        .content-wrapper {
          background: #FAFAFA;

          .thread-list {
            position: relative;
            padding: 0;

            .no-threads {
              background: #FAFAFA;
              width: 100%;
              text-align: center;
              padding: 32px;
              font-size: 20px;
            }

            .loading-threads {
              background: #FAFAFA;
              width: 100%;
              text-align: center;
              padding: 32px;
              font-size: 20px;
            }

            .thread {
              background: #FFF;
              position: relative;
              padding: 5px 8px; /*16px 24px*/
              /*border: 1px solid #fff;
              border-bottom: 1px solid rgba(0, 0, 0, 0.12);*/
              .cm-notification-chip {
                border: 1px solid rgba(0,0,0,0.12);
                padding: 5px;
                border-radius: 10px;
                background: rgba(0,0,0,0.05);
                cursor: pointer;
                transition-duration: 0.2s;

                &:hover {
                  border: 1px solid #039be5 !important;
                  box-shadow: 0 0 5px #039be5;
                }
              }

              &.unread {
                background: #FFFFFF;

                .info {

                  .name,
                  .subject {
                    font-weight: 700;
                  }

                  .message {

                    .labels {
                      background: #FFFFFF;
                    }
                  }
                }
              }

              &.selected {
                background: #FFF8E1;

                .info {

                  .message {

                    .labels {
                      background: #FFF8E1;
                    }
                  }
                }
              }

              &.current-thread {
                background: #E3F2FD;

                .info {

                  .message {

                    .labels {
                      background: #E3F2FD;
                    }
                  }
                }
              }

              .info {
                overflow: hidden;
                width: 0;
                margin: 0 16px;

                .name {
                  font-size: 15px;
                  font-weight: 700;
                  padding-bottom: 5px; /*8*/
                  .avatar {
                    min-width: 32px;
                    width: 32px;
                    height: 32px;
                    line-height: normal; /*32px*/
                    font-size: 14px;
                  }

                  .has-attachment {
                    margin-left: 8px;
                    transform: rotate(90deg);
                  }
                }

                .subject {
                }

                .message {
                  position: relative;
                  color: rgba(0, 0, 0, 0.54);

                  .labels {
                    position: absolute;
                    background: #FAFAFA;
                    top: 0;
                    right: 0;
                    padding-left: 6px;

                    .label {
                      display: inline-block;
                      font-size: 11px;
                      padding: 0 5px;
                      margin-right: 6px;

                      &:first-child {
                        margin-left: 0;
                      }
                    }
                  }
                }
              }

              .time {
                margin: 0 0px 6px 8px; /*0 8px 6px 8px*/
              }

              .actions {

                .md-icon-button {
                  margin: 0;
                  padding: 0;
                  width: 32px;
                  height: 32px;
                }
              }
            }

            .cm-notification-read {
              .cm-notification-chip {
                background: #fff;

                &:hover {
                  /*border: 1px solid #888 !important;
                  box-shadow: 0 0 3px #888;*/
                }
              }

              .info {
                .name {
                  font-weight: 500;
                }
              }
            }
          }

          .thread-list.cm-sent-box {
            .thread {
              cursor: default;
            }
          }
        }
      }
    }
  }
}
