<md-dialog draggable class="cm-custom-label-common uid-verification-failed-popup">
  <form name="vm.VerificationFailed" id="VerificationFailed" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Mismatch! Call Supervisor</h2>
      </div>
    </md-toolbar>
    <md-dialog-content class="padding-10 mh-5">
      <div flex="100" layput="row">
        <div flex="100">
          <p class="mismatch-uid-text">Mismatch found for&nbsp;<b>{{vm.UIDDet.verificationType}}</b>&nbsp;with scan labels&nbsp;<b>{{vm.UIDDet.scanString1}}</b>&nbsp;and&nbsp;<b>{{vm.UIDDet.scanString2}}</b>. For unlock screen please contact to superior.</p>
        </div>
        <div flex="100" layout="row" layout-align="center center" class="text-center btn-sec-unlockscreen" ng-if="!vm.showUnlockConfig">
          <md-button class="md-btn md-primary md-raised margin-right-0" ng-click="vm.unlockScreen()">Unlock</md-button>
        </div>
        <div layout="row" flex="100" ng-if="vm.showUnlockConfig" layout-wrap layout-align="center center">
          <div class="cm-section-main" flex="100">
            <div class="cm-section-inner">
              <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
                <tbody>
                  <tr>
                    <th>
                      <p class="label-container">User ID<span>&nbsp;*</span></p>
                    </th>
                    <td>
                      <md-input-container flex="100" class="md-block">
                        <input type="text" name="username" ng-model="vm.unlockUserDet.username" required ng-maxlength="50" placeholder="User ID" md-autofocus>
                        <div ng-messages="vm.VerificationFailed.username.$error" role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(50,vm.VerificationFailed.username.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                    <th>
                      <p class="label-container">Password<span>&nbsp;*</span></p>
                    </th>
                    <td class="cm-employee-manage-password">
                      <md-input-container class="md-block pos-rel cm-show-hide" flex="100">
                        <input type="{{vm.showPassword ? 'text' : 'password'}}" name="password" ng-model="vm.unlockUserDet.password" required ng-maxlength="50" placeholder="Password" md-autofocus ng-keypress="vm.showPassword=false">
                        <md-button tabindex="-1" ng-if="vm.VerificationFailed.password.$viewValue && vm.showPassword" md-font-icon="icon-eye-off" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple cm-show-hide-in" ng-click="vm.showPassword = !vm.showPassword"><a>Hide</a></md-button>
                        <md-button tabindex="-1" ng-if="vm.VerificationFailed.password.$viewValue && !vm.showPassword" md-font-icon="icon-eye" class="md-warn md-hue-1 margin-0 md-button ng-scope md-default-theme md-ink-ripple cm-show-hide-in" ng-click="vm.showPassword = !vm.showPassword"><a>Show</a></md-button>
                        <!--<md-icon ng-if="vm.VerificationFailed.password.$viewValue && vm.showPassword" md-font-icon="icon-eye-off" class="usdicon cm-password-eye" ng-click="vm.showPassword = !vm.showPassword"></md-icon>
                      <md-icon ng-if="vm.VerificationFailed.password.$viewValue && !vm.showPassword" md-font-icon="icon-eye" class="usdicon cm-password-eye" ng-click="vm.showPassword = !vm.showPassword"></md-icon>-->
                        <div ng-messages="vm.VerificationFailed.password.$error" role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(50,vm.VerificationFailed.password.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <p class="label-container">Note<span>&nbsp;*</span></p>
                    </th>
                    <td colspan="3">
                      <md-input-container class="md-block" flex="100">
                        <textarea name="unLockNotes" ng-model="vm.UIDDet.unLockNotes" required ng-maxlength="255" placeholder="Note" md-autofocus></textarea>
                        <div ng-messages="vm.VerificationFailed.unLockNotes.$error" role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(50,vm.VerificationFailed.unLockNotes.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--<div flex="60">
          <md-button class="md-btn md-primary md-raised margin-0" ng-click="vm.unlockBySupervisor()" ng-disabled="vm.VerificationFailed.$invalid">
            Unlock
          </md-button>
        </div>-->
        </div>
      </div>
    </md-dialog-content>
  </form>
  <md-dialog-actions layout="row" ng-if="vm.showUnlockConfig">
    <md-button class="md-btn md-primary md-raised" ng-click="vm.unlockBySupervisor()">
      Unlock
    </md-button>
  </md-dialog-actions>
</md-dialog>
