<md-dialog aria-label="User" class="" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.userForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.data.title}}: {{vm.data.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll">
            <md-content class="md-padding" layout="column" layout-gt-xs="row">
                <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex="100" flex-gt-xs="50" ng-if="vm.data.user.userid">
                        <input type="password" name="Password" ng-model="vm.data.user.password" placeholder="Password" ng-maxlength="100"
                               required ng-disabled="!vm.data.user.userid" ng-pattern="vm.UserPasswordPattern">
                        <div ng-messages="vm.userForm.Password.$error" role="alert">
                            <div ng-message="required">
                                <span>{{::vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                            </div>
                        </div>
                        <div ng-messages="vm.userForm.Password.$error" role="alert">
                            <div ng-message="maxlength">
                                <span>{{::vm.CORE_MESSAGE_CONSTANT.MAX_LENGTH}}</span>
                            </div>
                        </div>
                        <div ng-messages="vm.userForm.Password.$error" role="alert">
                            <div ng-message="pattern">
                                <span>{{::vm.CORE_MESSAGE_CONSTANT.USER_PASSWORD_MESSAGE}}</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-disabled="vm.userForm.$invalid" ng-click="vm.ConfirmPassowrd()">CheckIn</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>