<md-dialog aria-label="PaidVarificationSlip" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="80">
  <form name="vm.formPaidPackaging" class="md-inline-form">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Receive Payment</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="padding-10">
      <md-content>

        <div class="cm-section-main margin-bottom-5">
          <div class="cm-section-inner">

            <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
              <tbody>

                <tr>
                  <th><p class="label-container pt-2">Payment or Check Number<span>&nbsp;*</span></p></th>
                  <td>
                    <md-input-container flex="100" class="margin-bottom-0">
                      <input type="text" id="chequeNumber" name="chequeNumber" ng-model="vm.paidPackingSlip.chequeNumber" placeholder="Cheque Number" ng-maxlength="10"
                             required custom-auto-focus="true">
                      <div ng-messages="vm.formPaidPackaging.chequeNumber.$error" role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(10,vm.formPaidPackaging.chequeNumber.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                  <th><p class="label-container pt-2">Bank Name</p></th>
                  <td colspan="3">
                    <md-input-container flex="100" class="margin-bottom-0">
                      <input type="text" id="bankName" name="bankName" ng-model="vm.paidPackingSlip.bankName" placeholder="Bank Name"
                             ng-maxlength="100">
                      <div ng-messages="vm.formPaidPackaging.bankName.$error" role="alert">
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(100,vm.formPaidPackaging.bankName.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                </tr>

                <tr>
                  <th><p class="label-container pt-2">Payment Date<span>&nbsp;*</span></p></th>
                  <td>
                    <md-input-container class="datepicker padding-right-0-imp margin-bottom-0">
                      <input name="chequeDate" type="text" class="float-left"
                             id="chequeDate"
                             min-value="vm.paidPackingSlip.minInvoiceDate"
                             max-value="vm.todayDate"
                             allow-future-date="false"
                             allow-past-date="true"
                             datetime-picker="{{$root.dateDisplayFormat}}"
                             ng-model="vm.paidPackingSlip.chequeDate"
                             enable-time="false"
                             ui-options="{clearOnBlur: true}"
                             ui-mask="{{$root.uimaskFormat.date.mask}}"
                             ui-mask-placeholder="{{$root.uimaskFormat.date.placeholder}}"
                             model-view-value="true"
                             datepicker-options="vm.chequeDateOptions"
                             is-open="vm.IsPickerOpen[vm.DATE_PICKER.chequeDate]"
                             ng-required="true" />
                      <md-icon md-font-icon="icon-calendar calender-icon" ng-click="vm.IsPickerOpen[vm.DATE_PICKER.chequeDate] = true">
                      </md-icon>
                      <div ng-messages="vm.formPaidPackaging.chequeDate.$error" role="alert">
                        <div ng-message="minvalue">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.MIN_PAYMENT_DATE}}</span>
                        </div>
                        <div ng-message="maxvalue">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID_PAYMENT_DATE}}</span>
                        </div>
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="datetime">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                  <th><p class="label-container pt-2">Payment Amount&nbsp;($)<span>&nbsp;*</span></p></th>
                  <td>
                    <md-input-container flex="100" class="margin-bottom-0">
                      <input type="number" id="chequeAmount" name="chequeAmount" ng-model="vm.paidPackingSlip.chequeAmount" placeholder="Cheque Amount"
                             onkeypress="return OnlyNumbersWithDot(event)" ng-maxlength="10" required min="0" maxlength="18" step="0.01">
                      <div ng-messages="vm.formPaidPackaging.chequeAmount.$error" role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(10,vm.formPaidPackaging.chequeAmount.$viewValue.length)}}</span>
                        </div>
                        <div ng-message="min || number || step">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>

                  <th><p class="label-container pt-2">Selected Item Total&nbsp;($)</p></th>
                  <td class="width-25p">
                    <md-input-container class="margin-bottom-0">
                      <input type="number" id="selectItemTotal" name="selectItemTotal" ng-model="vm.paidPackingSlip.totalPayableAmount" placeholder="Selected Item Total" ng-disabled="true">
                    </md-input-container>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

        <div class="cm-section-main margin-bottom-5">
          <div class="cm-section-inner">

            <div class="content fullpage-datatable" layout="column" flex>
              <md-table-container class="cm-paid-packing-slip-popup" layout="row">
                <table md-table class="md-data-table table-row-select">
                  <thead md-head md-order="vm.query.order">
                    <tr md-row>
                      <th md-column class="width-30"><md-checkbox ng-model="vm.isAllSelect" ng-change="vm.selectAllReceipt()"></md-checkbox></th>
                      <th md-column class="width-50">
                        #
                      </th>
                      <th md-column md-order-by="invoiceNumber" class="width-220">
                        Invoice#
                      </th>
                      <th md-column md-order-by="invoiceDate" class="width-220">
                        Invoice Date
                      </th>
                      <th md-column md-order-by="totalAmount" class="width-250 text-right">
                        Amount ($)
                      </th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row ng-repeat="item in vm.packingSlipData | orderBy: vm.query.order">
                      <td md-cell class="width-30"><md-checkbox ng-model="item.isSelected" ng-change="vm.selectReceipt(item)" class="margin-top-10 margin-bottom-10"></md-checkbox></td>
                      <td md-cell class="width-50">{{$index+1}}</td>
                      <td md-cell class="width-220">{{item.invoiceNumber}}</td>
                      <td md-cell class="width-220">{{item.invoiceDate | date:vm.DefaultDateFormat}}</td>
                      <td md-cell class="width-250 text-right">{{item.totalAmount | amount}}</td>
                    </tr>
                  </tbody>

                </table>
              </md-table-container>
            </div>

          </div>
        </div>

      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised"
                 ng-class="{'md-formdirty': vm.formPaidPackaging.$dirty}"
                 ng-disabled="!vm.anyItemSelect || vm.saveBtnDisableFlag"
                 ng-click="vm.paidAmount();" aria-label="Submit">Receive Payment</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
