<div id="forms" class="page-layout simple fullwidth doc-page breadcrumb-fixed cm-custom-label-common cm-manage-kit-allocation" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
  <div class="header md-accent-bg cm-kitallocation-header" layout="row" layout-align="space-between start">
    <md-button class="goto-products-button md-icon-button cm-back-btn-p-m" type="button" ng-click="vm.goBack()">
      <md-icon md-font-icon="icons-backarrow" class="material-icons icons-backarrow cm-back-btn">
      </md-icon>
    </md-button>

    <div layout="column" flex="20">
      <div layout="row">
        <div class="white-fg" layout="column" layout-align="start start">
          <div class="h2" layout-align="start center">
            <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
            <span class="header-title margin-left-3" ng-if="vm.salesOrderDetail.kitNumber">
              <label class="mb-0 cm-text-ellipsis">
                {{vm.salesOrderDetail.kitNumber}}
                <copy-text label="" text="vm.salesOrderDetail.kitNumber"></copy-text>
              </label>
              <md-tooltip ng-if="vm.salesOrderDetail.kitNumber">{{vm.salesOrderDetail.kitNumber}}</md-tooltip>
            </span>
          </div>
          <div layout="row" layout-align="start center">
            <breadcrumbs></breadcrumbs>
          </div>
        </div>
      </div>

      <div layout="row">
        <div ng-if="vm.isPOHalt || vm.isKAHalt || vm.isKRHalt" layout-align="center center" layout>
          <img class="stop-icon-image md-raised md-warn md-icon-button width-50 height-50 mr-10"
               src="../../../../../assets/images/logos/stop.png" />
        </div>
        <div>

          <div flex="100" flex-xs="100" layout-align="space-between start" class="content dodontmain mv-5" layout="row">
            <div flex layout="row" ng-if="vm.isPOHalt || vm.isKAHalt || vm.isKRHalt">

              <div flex="100">
                <div flex="100" ng-if="vm.isPOHalt">
                  <div class="color-red width-544 md-truncate">
                    {{vm.haltResumePopUp.POHaltLabel}}:{{vm.poHalt.reason}}<md-tooltip class="tt-multiline cm-white-space-normal max-width-420 pv-5" md-direction="top">{{vm.poHalt.reason}}</md-tooltip>
                  </div>
                  <small flex ng-if="vm.poHalt.empInitialName">
                    by {{vm.poHalt.empInitialName}}
                  </small>
                  <small flex ng-if="vm.poHalt.startDate">
                    on {{vm.poHalt.startDate}}
                  </small>
                </div>
                <div flex="100" ng-if="vm.isKAHalt">
                  <div class="color-red width-544 md-truncate">
                    {{vm.haltResumePopUp.KitAllocationHaltLabel}}:{{vm.kaHalt.reason}}<md-tooltip class="tt-multiline cm-white-space-normal max-width-420 pv-5" md-tooltip md-direction="top">{{vm.kaHalt.reason}}</md-tooltip>
                  </div>
                  <small flex ng-if="vm.kaHalt.empInitialName">
                    by {{vm.kaHalt.empInitialName}}
                  </small>
                  <small flex ng-if="vm.kaHalt.startDate">
                    on {{vm.kaHalt.startDate}}
                  </small>
                </div>
                <div flex="100" ng-if="vm.isKRHalt">
                  <div class="color-red width-544 md-truncate">
                    {{vm.haltResumePopUp.kitReleaseHaltLabel}}: {{vm.krHalt.reason}}<md-tooltip class="tt-multiline cm-white-space-normal max-width-420 pv-5" md-tooltip md-direction="top">{{vm.krHalt.reason}}</md-tooltip>
                  </div>
                  <small flex ng-if="vm.krHalt.empInitialName">
                    by {{vm.krHalt.empInitialName}}
                  </small>
                  <small flex ng-if="vm.krHalt.startDate">
                    on {{vm.krHalt.startDate}}
                  </small>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div layout="row" flex="80" flex-lg="80">
      <div layout="row" flex="100" class="cm-workorder-table" layout-wrap>
        <div flex layout="row" layout-wrap>
          <div flex="100" layout-wrap>
            <table cellspacing="0" cellpadding="0" class="cm-bom-header-table">
              <tbody>

                <tr>
                  <th class="text-right" rowspan="2">
                    <a class="cursor-pointer cm-bom-t-title text-underline inline-block pt-8" ng-click="vm.goToSOList();">
                      {{vm.autoCompleteSO.placeholderName}}
                    </a><span class="margin-top-5 padding-2">:</span>
                  </th>
                  <td rowspan="2">
                    <md-input-container class="autocompletecustom margin-0 widget-dashboard-search-area cm-kit-allocation-so-autocomplete" flex="100" flex-gt-xs="100" custom-auto-focus="true">
                      <custom-auto-complete-search on-search-fn="vm.autoCompleteSO.onSearchFn"
                                                   column-name="vm.autoCompleteSO.columnName"
                                                   key-column-name="vm.autoCompleteSO.keyColumnName"
                                                   key-column-id="vm.autoCompleteSO.keyColumnId"
                                                   input-name="vm.autoCompleteSO.inputName"
                                                   placeholder-name="vm.autoCompleteSO.placeholderName"
                                                   is-required="vm.autoCompleteSO.isRequired"
                                                   is-addnew="vm.autoCompleteSO.isAddnew"
                                                   callback-fn="vm.autoCompleteSO.callbackFn"
                                                   on-select-callback-fn="vm.autoCompleteSO.onSelectCallbackFn">
                      </custom-auto-complete-search>
                    </md-input-container>
                    <div flex="100" class="font-size-10">
                      <b>i.e. Assy ID, PO#, {{vm.CoreLabelConstant.SalesOrder.SO}}, PO Qty, Kit#</b>
                    </div>
                  </td>

                  <th class="cm-bom-t-title text-right">
                    <a class="cursor-pointer cm-bom-t-title text-underline" ng-click="vm.goToSalesOrderList();">
                      PO#:
                    </a>
                  </th>
                  <td>
                    <span class="cm-bo-font-large cm-bom-t-desc cm-nickname" ng-class="{'text-underline': vm.salesOrderDetail.poNumber, 'cursor-pointer': vm.salesOrderDetail.poNumber}" ng-click="vm.goToManageSalesOrder()">
                      <b>
                        {{vm.salesOrderDetail.poNumber || '-' }}
                      </b><copy-text ng-if="vm.salesOrderDetail.poNumber" label="" text="vm.salesOrderDetail.poNumber"></copy-text>
                      <md-tooltip ng-if="vm.salesOrderDetail.poNumber">{{vm.salesOrderDetail.poNumber}}</md-tooltip>
                    </span>
                  </td>

                  <th class="cm-bom-t-title text-right">PO Qty:</th>
                  <td>
                    <span class="cm-bo-font-large cm-bom-t-desc">
                      <b>{{(vm.salesOrderDetail.poQty | numberWithoutDecimal) || '0'}}</b>
                    </span>
                  </td>

                  <th class="cm-bom-t-title text-right">Released Count:</th>
                  <td>
                    <span class="cm-bo-font-large cm-bom-t-desc" ng-click="vm.kitRelease()">
                      <b>{{vm.kitReleaseStatusSummary.releaseCount || 0 | numberWithoutDecimal}}</b>
                    </span>
                  </td>

                  <th class="cm-bom-t-title text-right">Tentative PO Due Date:</th>
                  <td>
                    <span class="cm-bo-font-large cm-bom-t-desc">
                      <b>{{(vm.salesOrderDetail.shippingDate | date: vm.DefaultDateFormat) || '-'}}</b>
                    </span>
                  </td>


                  <th rowspan="2" class="cm-bom-t-title text-right cm-white-space-normal">Kit-Allocation BOM Internal Version:</th>
                  <td rowspan="2">
                    <span class="cm-bo-font-large cm-bom-t-desc">
                      <b>{{vm.salesOrderDetail.kitAllocationInternalVersion || '-'}}</b>
                    </span>
                  </td>
                </tr>

                <tr>
                  <th class="cm-bom-t-title text-right">
                    <a class="cursor-pointer cm-bom-t-title text-underline" ng-click="vm.goToSalesOrderList();">
                      {{vm.CoreLabelConstant.SalesOrder.SO}}:
                    </a>
                  </th>
                  <td>
                    <span class="cm-bo-font-large cm-bom-t-desc cm-nickname" ng-class="{'text-underline': vm.salesOrderDetail.soNumber, 'cursor-pointer': vm.salesOrderDetail.soNumber}" ng-click="vm.goToManageSalesOrder()">
                      <b>
                        {{vm.salesOrderDetail.soNumber || '-'}}
                      </b><copy-text ng-if="vm.salesOrderDetail.soNumber" label="" text="vm.salesOrderDetail.soNumber"></copy-text>
                      <md-tooltip ng-if="vm.salesOrderDetail.soNumber">{{vm.salesOrderDetail.soNumber}}</md-tooltip>
                    </span>
                  </td>

                  <th class="cm-bom-t-title text-right">MRP Qty:</th>
                  <td class="display-flex">
                    <span class="cm-bo-font-large cm-bom-t-desc">
                      <b>{{(vm.salesOrderDetail.soQty | numberWithoutDecimal) || '0'}}</b>
                    </span>
                    <md-icon md-font-icon="icon-pencil" class="material-icons mat-icon cm-kit-allocation-header-edit-icon" ng-click="vm.updatekitmrpqty()" ng-if="vm.salesOrderDetail.soQty && vm.isReCalculateDisable"></md-icon>
                    <md-tooltip ng-if="vm.salesOrderDetail.soQty && vm.isReCalculateDisable">Update MRP Qty</md-tooltip>
                  </td>

                  <th class="cm-bom-t-title text-right">To Be Release Qty:</th>
                  <td>
                    <span class="cm-bo-font-large cm-bom-t-desc">
                      <b>{{vm.kitReleaseStatusSummary.toBeRelease || 0 | numberWithoutDecimal}}</b>
                    </span>
                  </td>
                  <th rowspan="2" class="cm-bom-t-title text-right cm-white-space-normal">PO Release Material to Production Due Date:</th>
                  <td rowspan="2">
                    <span class="cm-bo-font-large cm-bom-t-desc">
                      <b>{{(vm.salesOrderDetail.materialDueDate | date: vm.DefaultDateFormat) || '-'}}</b>
                    </span>
                  </td>

                </tr>

                <tr>
                  <th class="cm-bom-t-title text-right">
                    <span ng-if="vm.salesOrderDetail.assyDescription">Assy Descr:</span>
                  </th>
                  <td class="cm-text-ellipsis w-300 color-black">
                    <span class="color-black" ng-if="vm.salesOrderDetail.assyDescription">
                      <b>{{vm.salesOrderDetail.assyDescription}}</b>
                      <md-tooltip ng-if="vm.salesOrderDetail.assyDescription" md-direction="top">{{vm.salesOrderDetail.assyDescription}}</md-tooltip>
                    </span>
                  </td>
                  <th class="cm-bom-t-title text-right">
                    <a class="cursor-pointer cm-bom-t-title text-underline" ng-click="vm.goToAssy();">
                      {{vm.CoreLabelConstant.Assembly.Assy}}:
                    </a>
                  </th>
                  <td>
                    <div ng-if="vm.salesOrderDetail && vm.salesOrderDetail.partId" class="w-180">
                      <common-pid-code-label-link component-id="vm.salesOrderDetail.partId"
                                                  label="vm.CoreLabelConstant.MFG.MFGPN"
                                                  value="vm.salesOrderDetail.assyName"
                                                  is-copy="true"
                                                  is-custom-part="true"
                                                  rohs-icon="vm.salesOrderDetail.RoHSStatusIcon"
                                                  rohs-status="vm.salesOrderDetail.rohs"
                                                  is-formated="true">
                      </common-pid-code-label-link>
                    </div>
                    <span class="cm-bo-font-large cm-bom-t-desc" ng-if="!vm.salesOrderDetail || !vm.salesOrderDetail.partId">-</span>
                  </td>

                  <th class="cm-bom-t-title text-right">Kit-Allocation Qty:</th>
                  <td>
                    <span class="cm-bo-font-large cm-bom-t-desc">
                      <b>{{(vm.salesOrderDetail.kitAllocationKitQty | numberWithoutDecimal) || '0'}}</b>
                    </span>
                  </td>

                  <th class="cm-bom-t-title text-right">Total Released Qty:</th>
                  <td>
                    <span class="cm-bo-font-large cm-bom-t-desc" ng-click="vm.kitRelease()">
                      <b>{{vm.kitReleaseStatusSummary.totalReleased || 0 | numberWithoutDecimal}}</b>
                    </span>
                  </td>

                  <th rowspan="2" class="cm-bom-t-title text-right cm-white-space-normal">Current BOM Internal Version:</th>
                  <td rowspan="2">
                    <span class="cm-bo-font-large cm-bom-t-desc">
                      <b>{{vm.salesOrderDetail.currentInternalVersion || '-'}}</b>
                    </span>
                  </td>

                </tr>

                <tr>
                  <th class="cm-bom-t-title text-right">
                    <span ng-if="vm.salesOrderDetail.assySpecialNote">Assy Special Note:</span>
                  </th>
                  <td class="cm-text-ellipsis w-300 color-black">
                    <span class="color-black" ng-if="vm.salesOrderDetail.assySpecialNote">
                      <b>{{vm.salesOrderDetail.assySpecialNote}}</b>
                      <md-tooltip ng-if="vm.salesOrderDetail.assySpecialNote" md-direction="top">{{vm.salesOrderDetail.assySpecialNote}}</md-tooltip>
                    </span>
                  </td>
                  <th class="cm-bom-t-title text-right">Nickname:</th>
                  <td>
                    <span class="cm-bo-font-large cm-bom-t-desc cm-nickname">
                      <md-tooltip ng-if="vm.salesOrderDetail.nickName">{{vm.salesOrderDetail.nickName}}</md-tooltip>
                      <b>{{vm.salesOrderDetail.nickName || '-'}}</b>
                    </span>
                  </td>

                  <th class="cm-bom-t-title text-right">Current Kit Qty:</th>
                  <td class="display-flex">
                    <span class="cm-bo-font-large cm-bom-t-desc">
                      <b>{{(vm.salesOrderDetail.kitQty | numberWithoutDecimal) || '0'}}</b>
                    </span>
                    <md-icon md-font-icon="icon-pencil" class="material-icons mat-icon cm-kit-allocation-header-edit-icon" ng-click="vm.updatekitmrpqty()" ng-if="vm.salesOrderDetail.kitQty && vm.isReCalculateDisable"></md-icon>
                    <md-tooltip ng-if="vm.salesOrderDetail.kitQty && vm.isReCalculateDisable">Current Kit Qty</md-tooltip>
                  </td>

                  <th class="cm-bom-t-title text-right">Shortage Qty:</th>
                  <td>
                    <span class="cm-bo-font-large cm-bom-t-desc">
                      <b>{{vm.kitReleaseStatusSummary.shortageQty || 0 | numberWithoutDecimal}}</b>
                    </span>
                  </td>
                  <th class="cm-bom-t-title text-right">Kit Release Status:</th>
                  <td class="w-110">
                    <span ng-click="vm.kitRelease()" ng-if="vm.isReCalculateDisable && vm.kitReleaseStatusSummary && vm.kitReleaseStatusSummary.releaseStatus && !vm.kitDetailNotFound">
                      <label class="label-box cursor-pointer" ng-class="{'label-warning': vm.kitReleaseStatusSummary.releaseStatus == vm.Kit_Release_Status.NotReleased, 'label-info': vm.kitReleaseStatusSummary.releaseStatus == vm.Kit_Release_Status.PartiallyReleased, 'label-success': vm.kitReleaseStatusSummary.releaseStatus == vm.Kit_Release_Status.FullReleased, 'label-primary': vm.kitReleaseStatusSummary.releaseStatus == vm.Kit_Release_Status.Returned,'light-green-bg' :vm.kitReleaseStatusSummary.releaseStatus == vm.Kit_Release_Status.ReadyToRelease}">
                        {{vm.kitReleaseStatusSummary.releaseStatus}}
                      </label>
                    </span>
                    <span ng-if="!vm.isReCalculateDisable || !(vm.kitReleaseStatusSummary && vm.kitReleaseStatusSummary.releaseStatus && !vm.kitDetailNotFound)" class="cm-bo-font-large cm-bom-t-desc"><b>-</b></span>
                  </td>

                </tr>

                <tr>
                  <th class="cm-bom-t-title text-right">
                    <span ng-if="vm.salesOrderDetail.SubAssyId && vm.salesOrderDetail.SubAssyMfgPNDescription">Sub Assy Descr:</span>
                  </th>
                  <td class="cm-text-ellipsis w-300 color-black">
                    <span class="color-black" ng-if="vm.salesOrderDetail.SubAssyId && vm.salesOrderDetail.SubAssyMfgPNDescription">
                      <b>{{vm.salesOrderDetail.SubAssyMfgPNDescription}}</b>
                      <md-tooltip ng-if="vm.salesOrderDetail.SubAssyMfgPNDescription" md-direction="top">{{vm.salesOrderDetail.SubAssyMfgPNDescription}}</md-tooltip>
                    </span>
                  </td>
                  <th class="cm-bom-t-title text-right">
                    <a class="cursor-pointer cm-bom-t-title text-underline" ng-click="vm.goToAssy();" ng-if="vm.salesOrderDetail.SubAssyId">
                      Sub {{vm.CoreLabelConstant.Assembly.Assy}}
                    </a><span ng-if="vm.salesOrderDetail.SubAssyId">:</span>
                  </th>
                  <td>
                    <div ng-if="vm.salesOrderDetail.SubAssyId" class="w-180">
                      <common-pid-code-label-link component-id="vm.salesOrderDetail.SubAssyId"
                                                  label="vm.CoreLabelConstant.MFG.MFGPN"
                                                  value="vm.salesOrderDetail.SubAssy"
                                                  is-copy="true"
                                                  is-custom-part="true"
                                                  rohs-icon="vm.salesOrderDetail.kitRohsIcon"
                                                  rohs-status="vm.salesOrderDetail.kitRohsName"
                                                  is-formated="true">
                      </common-pid-code-label-link>
                    </div>
                  </td>
                  <th class="cm-bom-t-title text-right">
                    <span ng-if="vm.salesOrderDetail.SubKitQty">Assy Kit Qty:</span>
                  </th>
                  <td>
                    <span class="cm-bo-font-large cm-bom-t-desc" ng-if="vm.salesOrderDetail.SubKitQty">
                      <b>{{(vm.salesOrderDetail.SubKitQty | numberWithoutDecimal) || '0'}}</b>
                    </span>
                  </td>
                  <th class="cm-bom-t-title text-right">SO Working Status:</th>
                  <td>
                    <span ng-if="vm.autoCompleteSO.keyColumnId">
                      <label class="label-box cursor-pointer nowrap" ng-class="{'label-warning':vm.kitReleaseStatusSummary.salesOrderCompletedStatus ===  vm.SOWorkingStatus.InProgress,'label-success':vm.kitReleaseStatusSummary.salesOrderCompletedStatus ===  vm.SOWorkingStatus.Completed ,'label-danger' :vm.kitReleaseStatusSummary.salesOrderCompletedStatus ===  vm.SOWorkingStatus.Canceled }">
                        {{vm.kitReleaseStatusSummary.salesOrderCompletedStatus}}
                      </label>
                    </span>
                    <span class="cm-bo-font-large cm-bom-t-desc cm-nickname" ng-if="!vm.autoCompleteSO.keyColumnId">
                      <b>-</b>
                    </span>
                  </td>
                  <th class="cm-bom-t-title text-right">Kit Return Status:</th>
                  <td colspan="2">
                    <span ng-click="vm.kitRelease()" ng-if="vm.isReCalculateDisable && vm.kitReleaseStatusSummary && vm.kitReleaseStatusSummary.kitReturnStatus && !vm.kitDetailNotFound">
                      <label class="label-box cursor-pointer" ng-class="{'label-primary-gray': vm.kitReleaseStatusSummary.kitReturnStatus == vm.KIT_RETURN_STATUS.NA.name, 'label-warning': vm.kitReleaseStatusSummary.kitReturnStatus == vm.KIT_RETURN_STATUS.NR.name, 'label-info': vm.kitReleaseStatusSummary.kitReturnStatus == vm.KIT_RETURN_STATUS.PR.name, 'label-success': vm.kitReleaseStatusSummary.kitReturnStatus == vm.KIT_RETURN_STATUS.FR.name,'light-green-bg': vm.kitReleaseStatusSummary.kitReturnStatus == vm.KIT_RETURN_STATUS.RR.name,'label-primary': vm.kitReleaseStatusSummary.kitReturnStatus == vm.KIT_RETURN_STATUS.RS.name}">
                        {{vm.kitReleaseStatusSummary.kitReturnStatus}}
                      </label>
                    </span>
                    <span ng-if="!vm.isReCalculateDisable || !(vm.kitReleaseStatusSummary && vm.kitReleaseStatusSummary.kitReturnStatus && !vm.kitDetailNotFound)" class="cm-bo-font-large cm-bom-t-desc"><b>-</b></span>
                  </td>
                  <th class="text-right">
                  </th>
                </tr>
                <tr>
                  <th class="cm-bom-t-title text-right">
                    <span ng-if="vm.salesOrderDetail.SubAssyId && vm.salesOrderDetail.SubAssySpecialNote">Sub Assy Special Note:</span>
                  </th>
                  <td class="cm-text-ellipsis w-300 color-black">
                    <span class="color-black" ng-if="vm.salesOrderDetail.SubAssySpecialNote && vm.salesOrderDetail.SubAssyId">
                      <b>{{vm.salesOrderDetail.SubAssySpecialNote}}</b>
                      <md-tooltip ng-if="vm.salesOrderDetail.SubAssySpecialNote" md-direction="top">{{vm.salesOrderDetail.SubAssySpecialNote}}</md-tooltip>
                    </span>
                  </td>
                </tr>
                <tr>
                  <th colspan="12" class="text-right">
                    <div layout="row" layout-align="end center" class="cm-btn-group cm-square-icon-btn padding-0-10-imp">
                      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-disabled="vm.kitDetailNotFound || !vm.autoCompleteSO.keyColumnId || !vm.isReCalculateDisable || vm.kitReleaseStatusSummary.releaseStatus == vm.Kit_Release_Status.Completed" ng-click="vm.kitRelease(true)">{{vm.CoreLabelConstant.KitAllocation.KitDetails}}</md-button>
                      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-click="vm.confirmationForMismatchItems()" ng-if="vm.autoCompleteSO.keyColumnId">Recalc</md-button>
                      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-disabled="vm.kitDetailNotFound || !vm.autoCompleteSO.keyColumnId || !vm.isReCalculateDisable" ng-click="vm.checkFeasibility()">{{vm.CoreLabelConstant.KitAllocation.CheckBuildFeasibility}}</md-button>
                      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-disabled="vm.kitDetailNotFound || !vm.autoCompleteSO.keyColumnId || !vm.isReCalculateDisable || vm.kitReleaseStatusSummary.releaseStatus == vm.Kit_Release_Status.Completed" ng-click="vm.kitRelease(false)">{{vm.CoreLabelConstant.KitAllocation.ReleaseReturnKit}}</md-button>

                      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-if="vm.currentState == vm.TRANSACTION.TRANSACTION_KIT_PREPARATION_STATE" ng-click="vm.goToTransferMaterial()">{{vm.CoreLabelConstant.UMIDManagement.TransferBulkMaterial}}</md-button>
                      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-if="vm.currentState == vm.TRANSACTION.TRANSACTION_KIT_PREPARATION_STATE" ng-click="vm.uidTranfer($event, {updateStock:false})">{{vm.CoreLabelConstant.UMIDManagement.TransferMaterial}}</md-button>
                      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-if="vm.currentState == vm.TRANSACTION.TRANSACTION_KIT_PREPARATION_STATE" ng-click="vm.uidTranfer($event, {updateStock:true})">Count Material</md-button>
                      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-if="vm.currentState == vm.TRANSACTION.TRANSACTION_KIT_PREPARATION_STATE" ng-disabled="vm.isDeAllocateDisable" ng-click="vm.deAllocateUMID()">DEALLOCATE</md-button>
                      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-if="vm.currentState == vm.TRANSACTION.TRANSACTION_KIT_PREPARATION_STATE" ng-click="vm.binTransfer()">Xfer Bin</md-button>
                      <md-button class="md-primary md-raised md-ink-ripple mv-0 margin-right-5-imp" ng-disabled="vm.kitDetailNotFound || !vm.autoCompleteSO.keyColumnId" ng-click="vm.deallocatedUMID()">{{vm.CoreLabelConstant.KitAllocation.DeallocatedMaterial}}</md-button>
                      <md-menu-bar id="bom-menu" class="padding-0 margin-right-5-imp" layout-align="end-center" ng-if="vm.currentState == vm.TRANSACTION.TRANSACTION_KIT_ALLOCATION_STATE">
                        <md-menu md-position-mode="left bottom">
                          <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-click="$mdOpenMenu()"
                                     ng-disabled="vm.kitDetailNotFound || !vm.autoCompleteSO.keyColumnId || !vm.isReCalculateDisable"
                                     aria-label="export">
                            <div layout="row" layout-align="space-between center">
                              <span>Export</span>
                              <md-icon md-font-icon="icon-chevron-down"
                                       class="icon s16 color-white" hide-sm></md-icon>
                            </div>
                          </md-button>
                          <md-menu-content width="3">
                            <md-menu-item>
                              <md-button ng-click="vm.exportKitList($event,1)">
                                Format 1 For Procurement Dept
                              </md-button>
                            </md-menu-item>
                            <md-menu-item>
                              <md-button ng-click="vm.exportKitList($event,2)">
                                Format 2 For Production Dept
                              </md-button>
                            </md-menu-item>
                          </md-menu-content>
                        </md-menu>
                      </md-menu-bar>
                      <md-button class="md-primary md-raised md-icon-button margin-0 margin-right-5-imp" ng-click="vm.AssyAtGlance()" ng-disabled="!vm.autoCompleteSO.keyColumnId">
                        <md-icon md-font-icon="t-icons-assembly-at-glance"></md-icon>
                        <md-tooltip md-direction="top">{{vm.CoreLabelConstant.BOM.AssyAtGlance}}</md-tooltip>
                      </md-button>
                      <md-button class="md-raised md-primary md-icon-button margin-0 margin-right-5-imp" ng-if="vm.autoCompleteSO.keyColumnId" ng-click="vm.uploadBom()">
                        <md-icon md-font-icon class="t-icons-bom"></md-icon>
                        <md-tooltip md-direction="top">Go To BOM</md-tooltip>
                      </md-button>
                      <md-button class="md-primary md-raised md-icon-button margin-0 margin-right-5-imp" ng-click="vm.addManualKitEntry()" ng-disabled="!vm.autoCompleteSO.keyColumnId" ng-if="!vm.salesOrderDetail.SubAssyId">
                        <md-icon md-font-icon="icons-add-activity-entry-manually"></md-icon>
                        <md-tooltip md-direction="top">Add Kit Activity Entry Manually</md-tooltip>
                      </md-button>
                      <md-button class="md-primary md-raised md-icon-button margin-0 margin-right-5-imp" ng-click="vm.KitActivityHistory()" ng-disabled="!vm.autoCompleteSO.keyColumnId" ng-if="!vm.salesOrderDetail.SubAssyId">
                        <md-icon md-font-icon="t-icons-history-text"></md-icon>
                        <md-tooltip md-direction="top">Kit Activity History</md-tooltip>
                      </md-button>
                      <md-button ng-if="vm.currentState == vm.TRANSACTION.TRANSACTION_KIT_ALLOCATION_STATE" class="md-raised md-primary md-icon-button margin-0" ng-click="vm.showColorLengend($event)">
                        <md-icon md-font-icon class="icon-palette"></md-icon>
                        <md-tooltip md-direction="top">Legend</md-tooltip>
                      </md-button>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="content-card cm-kitallocation-navigation" layout="column" flex ng-if="vm.assyList.length > 0 && vm.isSelectSONotFound == false && vm.isReCalculate == false">
    <div layout="row" flex="100">
      <ms-form-wizard flex>

        <md-tabs validate-step="true" is-valid="vm.isStepValid" class="cm-bom-tab-main manage-customer-tabing padding-0" md-dynamic-height md-border-bottom md-selected="vm.selectedTabIndex">
          <md-input-container class="margin-0 pt-8 pr-10" flex="100">
            <md-checkbox ng-model="vm.shortageLines" class="" aria-label="shortageLines" flex="100" ng-change="vm.changeShortageLines();" ng-if="vm.currentState != vm.TRANSACTION.TRANSACTION_KIT_PREPARATION_STATE">
              <b>Show Shortage Lines Only</b>
            </md-checkbox>
          </md-input-container>
          <md-input-container class="margin-0 pt-8 pr-10" flex="100">
            <md-checkbox ng-model="vm.packagingAlias" class="" aria-label="packaging" flex="100" ng-change="vm.changePackagingAlias();" ng-if="vm.currentState != vm.TRANSACTION.TRANSACTION_KIT_PREPARATION_STATE">
              <b>Show With Packaging Alias</b>
            </md-checkbox>
          </md-input-container>
          <md-tab ng-repeat="item in vm.subAssemblyList" ui-sref="{{item.src}}">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-text">{{item.pIDCode}}</span>
              </span>
            </md-tab-label>
            <md-tab-body>
              <kit-allocation-consolidated-grid sales-order-detail="vm.salesOrderDetail" is-select-s-o="vm.isSelectSO" shortage-lines="vm.shortageLines" packaging-alias="vm.packagingAlias" mounting-type-id="vm.mountingTypeId" ui-view="kitallocationconsolidated" ng-if="vm.currentState != vm.TRANSACTION.TRANSACTION_KIT_PREPARATION_STATE && item.partId == 0 && item.isActiveTab"></kit-allocation-consolidated-grid>
              <kit-allocation-grid sales-order-detail="vm.salesOrderDetail" is-select-s-o="vm.isSelectSO" assembly-detail="item" shortage-lines="vm.shortageLines" packaging-alias="vm.packagingAlias" kit-filter="vm.filter" mounting-type-id="vm.mountingTypeId" ui-view="kitallocation" ng-if="vm.currentState != vm.TRANSACTION.TRANSACTION_KIT_PREPARATION_STATE && item.partId != 0 && item.isActiveTab"></kit-allocation-grid>
              <receiving-material assy-ids="vm.partIds" ng-if="vm.currentState == vm.TRANSACTION.TRANSACTION_KIT_PREPARATION_STATE && item.partId == 0 && item.isActiveTab"></receiving-material>
            </md-tab-body>
          </md-tab>
        </md-tabs>

      </ms-form-wizard>
    </div>
  </div>

  <div class="empty-state text-center full-height cm-kitallocation-navigation" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isSelectSONotFound == true">
    <div class="emty-icon" flex="100">
      <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
    </div>
    <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
  </div>

  <div class="empty-state text-center full-height cm-kitallocation-navigation" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound == true && vm.isSelectSONotFound == false && vm.assyList.length == 0">
    <div class="emty-icon" flex="100">
      <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
    </div>
    <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.BOMNOTFOUND}}</p>
    <p flex="100">
      {{vm.EmptyMesssage.ADDNEWMESSAGE}}
    </p>
    <p flex="100">
      <md-button class="md-fab md-mini" aria-label="Upload BOM" ng-click="vm.uploadBom()">
        <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
        <md-tooltip md-direction="top">Upload BOM</md-tooltip>
      </md-button>
    </p>
  </div>

  <div class="empty-state text-center full-height cm-kitallocation-navigation" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound == true && vm.isSelectSONotFound == false && !vm.assyList">
    <div class="emty-icon" flex="100">
      <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
    </div>
    <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.BOMNOTSAVE}}</p>
    <p flex="100">
      {{vm.EmptyMesssage.CLEANBOMMESSAGE}}
    </p>
    <p flex="100">
      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-click="vm.uploadBom()">Go To BOM</md-button>
    </p>
  </div>

  <div class="empty-state text-center full-height cm-kitallocation-navigation" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isReCalculate == true">
    <div class="emty-icon" flex="100">
      <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
    </div>
    <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.RECALCULATE}}</p>
    <div flex="100" class="empty-state-title" layout-align="start-center" layout="column">
      <ng-bind-html ng-bind-html="vm.EmptyMesssage.DEALLOCATEUMID"></ng-bind-html>
    </div>
    <p flex="100" class="mt-15">
      <md-button class="md-primary md-raised md-ink-ripple mv-0" ng-disabled="vm.isReCalculateDisable" ng-click="vm.confirmationForMismatchItems()">ReCalculate</md-button>
    </p>
  </div>
</div>
