<md-dialog aria-label="Re Release Validation" class="cm-custom-label-common" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Return Kit</span>
      </h2>
      <span flex></span>
      <popup-header-label label-data="vm.headerdata"></popup-header-label>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="vm.returnForm" id="returnForm">
    <md-dialog-content class="no-padding custom-scroll">
      <md-content class="padding-10" layout="row" flex="100">
        <div flex="100" layout="row" class="cm-section-main border-0">
          <div flex="100" class="cm-section-inner">
            <md-button class="md-primary md-button md-ink-ripple md-raised" id="returnWithShortage" ng-disabled="vm.returnWithShortageDisable" md-autofocus ng-click="vm.continueReturn(true)">
              Return with Intent to Re-release
            </md-button>
            <md-button class="md-primary md-button md-ink-ripple md-raised" id="returnKit" ng-click="vm.continueReturn(false)">
              Return Fully
            </md-button>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="toolbar-45">
      <md-button class="md-default md-button md-ink-ripple md-raised" ng-click="vm.cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
