<md-dialog aria-label="UpdateKitMrpQty" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="60">
  <form name="vm.formUpdateKitMrpQty" class="md-inline-form" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Modify MRP/Kit Qty</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="padding-10">
      <md-content>

        <div class="cm-section-main margin-bottom-5 border-0">
          <div class="cm-section-inner">

            <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
              <tbody>

                <tr>
                  <th><p class="label-container">{{vm.LabelConstant.Workorder.MRPQty}}<span>&nbsp;*<check-unique-on-blur></check-unique-on-blur></span></p></th>
                  <td>
                    <md-input-container flex="100" class="margin-bottom-0">
                      <input type="number" name="mrpQty" id="mrpQty" ng-model="vm.updateQtyModel.mrpQty" onkeypress="return OnlyNumeric(event)" placeholder="MRP Qty" min="1"
                             ng-max="9999999" required step="1" custom-blur="vm.changeQty($event)" />
                      <div ng-messages="vm.formUpdateKitMrpQty.mrpQty.$touched && vm.formUpdateKitMrpQty.mrpQty.$error" role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="min  || number || step || max">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                  <th><p class="label-container">{{vm.LabelConstant.SalesOrder.KitQty}}<span>&nbsp;*</span></p></th>
                  <td>
                    <md-input-container flex="100" class="margin-bottom-0">
                      <input type="number" name="kitQty" id="updateKitQty" ng-model="vm.updateQtyModel.kitQty" onkeypress="return OnlyNumeric(event)" placeholder="Kit Qty"
                             min="1" required step="1" ng-max="9999999" />
                      <div ng-messages="vm.formUpdateKitMrpQty.kitQty.$touched && vm.formUpdateKitMrpQty.kitQty.$error" role="alert">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="min || number || step || max">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.INVALID}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised"
                 ng-class="{'md-formdirty': vm.formUpdateKitMrpQty.$dirty}"
                 ng-click="vm.saveQty();" aria-label="Submit">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
