<md-dialog aria-label="Errorcode" class="popup-large-custom cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.ErrorcodelegendForm">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2>Validation Message Legend</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding" layout="column" flex>
          <md-content class="" layout="column" flex> <!--padding-10-->
            <div layout="row" layout-sm="column" class="md-whiteframe-4dp pl-10 pt-10">
              <div layout="row" flex="100" class="input-wrapper">
                <p class="label-container">Search <span>&nbsp;</span></p>
                <md-input-container md-no-float class="margin-bottom-0 md-block margin-right-10 margin-top-0" flex="30">
                  <input type="text" name="search" ng-model="vm.searchText" autocomplete="off"
                         placeholder="Type here to search" maxlength="100" ng-change="vm.searchErrorCode(false)" ng-model-options="{debounce: vm.debounceTime }">
                </md-input-container>
                <md-button class="md-primary md-raised margin-0 margin-left-5-imp" ng-click="vm.searchErrorCode(true);" aria-label="Reset">Reset</md-button>
              </div>
            </div>
            <div layout="row" flex class="cm-overflow-auto pt-10" layout-wrap>
              <div ng-repeat="erroCodeLegend in  vm.errorCodeLegendList" flex="33" layout-wrap>
                <div layout="row">
                  <div flex="20" layout="column" layout-align="center">
                    <span class="error-legend" ng-style="{'background-color':erroCodeLegend.errorColor}"></span>
                  </div>
                  <div flex="80" layout="column">
                    <h4 class="margin-left-10" ng-if="erroCodeLegend.logicID !== 0"><span ng-click="vm.updateErrocode(erroCodeLegend)"><a class="cm-text-decoration">{{erroCodeLegend.displayName}}</a></span></h4>
                    <h4 class="margin-left-10" ng-if="erroCodeLegend.logicID === 0"><span>{{erroCodeLegend.displayName}}</span></h4>
                  </div>
                </div>
              </div>
              <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.errorCodeLegendList.length==0">
                <div class="emty-icon" flex="100">
                  <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                </div>
                <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.EMPTY_SEARCH_MESSAGE}}</p>
              </div>
            </div>
          </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" flex="none">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>



