<md-dialog aria-label="AddMeasurementTypes" class="mfg-popup-width receiving-pop-main addexpression" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Configure Restrict File Types</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="vm.configureFileTypeForm" class="md-inline-form" novalidate>
    <md-dialog-content class="no-padding" layout="column">
      <md-content class="padding-10" layout="column">
        <div layout="row" layout-wrap class="cm-custom-label-common" ng-if="vm.popupRights">
          <div class="cm-section-main border-0" flex="100">
            <div class="cm-section-inner">
              <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
                <tbody>
                  <tr>
                    <th>
                      <p class="label-container margin-top-0 margin-bottom-0 layout-align-end-start">Extension<span ng-if="vm.isSuperAdmin">&nbsp;*</span><check-unique-on-blur ng-if="vm.isSuperAdmin"></check-unique-on-blur></p>
                    </th>
                    <td class="width-450">
                      <md-input-container class="md-block" ng-class="vm.themeClass" flex="100">
                        <input type="text" name="fileExtension" ng-model="vm.configureFileTypeModel.fileExtension"
                               placeholder="Extension" required ng-maxlength="45" md-no-float md-autofocus custom-blur="vm.checkUniqueExtension()"
                               ng-disabled="!vm.isSuperAdmin || vm.saveBtnFlag">
                        <div ng-messages="vm.configureFileTypeForm.fileExtension.$touched && vm.configureFileTypeForm.fileExtension.$error"
                             role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(45,vm.configureFileTypeForm.fileExtension.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                    <td>
                      <md-button class="md-primary md-raised mv-0 margin-right-0" id="saveBtn" ng-click="vm.saveConfigureFileType();"
                                 ng-class="{'md-formdirty': vm.configureFileTypeForm.fileExtension.$dirty}"
                                 ng-disabled="!vm.isSuperAdmin">
                        Save
                      </md-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div layout="column" flex class="cm-custom-label-common">
          <div class="cm-section-main" layout="column" flex ng-if="!vm.isNoDataFound">
            <div class="cm-overflow-auto cm-section-inner padding-0" layout="column" flex>
              <ui-grid-extention layout="column" flex
                                 class="cm-generic-file-extension-grid"
                                 load-data="vm.loadData"
                                 grid-id="vm.gridConfig.gridGenericFileExtension"
                                 grid-option="vm.gridOptions"
                                 header="vm.sourceHeader"
                                 grid-data="vm.sourceData"
                                 total-data-count="vm.totalSourceDataCount"
                                 reset-grid="vm.resetSourceGrid"
                                 selectted-rows="vm.selectedRowsList"
                                 paging-info="vm.pagingInfo"
                                 current-item="vm.currentdata"
                                 get-data-down="vm.getDataDown"
                                 empty-state="vm.emptyState"
                                 delete-multiple-data="vm.deleteMultipleData">

                <div class="empty-state text-center" layout="row" flex="100" layout-wrap ng-if="vm.isNoDataFound">
                  <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
                </div>
                <div class="empty-state text-center" layout="row" flex="100" layout-wrap ng-if="vm.extensionList.length > 0 && (vm.extensionList | filter:{fileExtension: vm.searchExtension}).length == 0">
                  <p class="empty-state-title font-size-2 useadded-emptytxt" flex="100">
                    {{vm.EmptyMesssage.EMPTY_SEARCH_MESSAGE}}
                  </p>
                </div>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
