<md-dialog aria-label="Datecode" class="cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.dateCodeForm" class="md-inline-form" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Set Date Code</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerData"></popup-header-label>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="padding-10">
      <md-content layout="column">
        <div layout="row" layout-wrap>
          <div flex="100" layout="row">
            <div class="cm-section-main margin-bottom-5" flex>
              <div class="cm-section-inner">
                <div layout="row" layout-wrap flex layout-align="start-center">
                  <div flex="100" class="pb-10">
                      <md-radio-group flex="100" layout="row" ng-model="vm.dcCodeModel.mfgCodeFormat" name="mfgCodeFormat">
                        <md-radio-button ng-value="true" class="md-primary">MFR Date Code Format</md-radio-button>
                        <md-radio-button ng-value="false" class="md-primary">MPN Date Code Format</md-radio-button>
                      </md-radio-group>
                  </div>
                  <div flex="100" layout layout-align="start start">
                    <span>Set Default MFR Date Code Format</span>
                    <md-input-container ng-if="vm.autoCompleteDateCodeFormat" flex="50" class="autocompletecustom margin-bottom-0 cm-warehouse-nickname-auto cm-nickname-popup">
                      <custom-auto-complete datalist="vm.dateCodeFormatList"
                                            column-name="vm.autoCompleteDateCodeFormat.columnName"
                                            key-column-name="vm.autoCompleteDateCodeFormat.keyColumnName"
                                            input-name="vm.autoCompleteDateCodeFormat.inputName"
                                            placeholder-name="vm.autoCompleteDateCodeFormat.placeholderName"
                                            key-column-id="vm.autoCompleteDateCodeFormat.keyColumnId"
                                            is-required="true"
                                            callback-fn="vm.autoCompleteDateCodeFormat.callbackFn"
                                            on-select-callback-fn="vm.autoCompleteDateCodeFormat.onSelectCallbackFn">
                      </custom-auto-complete>
                    </md-input-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised " ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.saveDateCode(vm.BUTTON_TYPE.SAVE)" id="saveBtn" aria-label="Submit" ng-class="{'md-formdirty': vm.checkFormDirty(vm.dateCodeForm)}" ng-disabled="vm.saveBtnDisableFlag">Save</md-button>
      <md-button class="md-primary md-raised" data-focusButton="headerAddBtn" last-element elementcondition="true" ng-click="vm.saveDateCode(vm.BUTTON_TYPE.SAVEANDEXIT);" aria-label="Submit" ng-class="{'md-formdirty': vm.checkFormDirty(vm.dateCodeForm)}" ng-disabled="vm.saveBtnDisableFlag">{{vm.CORE_MESSAGE_CONSTANT.SAVE_AND_EXIT}}</md-button>

    </md-dialog-actions>
  </form>
</md-dialog>
