<md-dialog aria-label="Customer" class="operation-pop-main" cg-busy="{promise:vm.cgBusyLoading}" flex="90" draggable>
  <!--flex="60"-->
  <form name="vm.copyAddressForm" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Duplicate {{vm.addressTypeTitle}} - {{vm.companyNameWithCode}}</h2>
        <span flex></span>
        <div layout-align="center center" class="cm-btn-group cm-square-icon-btn">
          <md-button class="md-icon-button" ng-click="vm.cancel()">
            <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
          </md-button>
        </div>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding cm-custom-label-common" layout="column">
      <div layout class="padding-top-5 padding-bottom-5 padding-right-5 padding-left-5">
        <!--From Address -->
        <div layout="row" flex="50" class="cm-section-main border-0">
          <fieldset class="container-box mb-5 ml-5 mt-1" flex>
            <legend class="margin-0">Copy From Address</legend>
            <!--{{vm.fromCustomerAddress}}-->
            <div class="cm-section-inner">
              <table cellspacing="0" cellpadding="0" class="cm-table-input-main no-cell-padding">
                <tbody>
                  <tr>
                    <td colspan="4" class="text-right height-35">
                      <span class="label-box" ng-class="{'label-success':vm.fromCustomerAddress.isActive, 'label-warning':!vm.fromCustomerAddress.isActive}">
                        {{vm.fromCustomerAddress.isActiveText}}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">{{vm.isDist ? 'Company' : 'Business Name'}}</p></th>
                    <td colspan="3">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input type="text" name="companyName" ng-model="vm.fromCustomerAddress.companyName" disabled
                               placeholder="Company">
                      </md-input-container>
                    </td>
                  </tr>
                  <tr ng-if="vm.addressTypeTitle === vm.addressType.P.value">
                    <th><p class="label-container">Remit To Name</p></th>
                    <td colspan="1">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input name="bankRemitToName" ng-model="vm.fromCustomerAddress.bankRemitToName" placeholder="bankRemitToName" disabled />
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">Address Line 1</p></th>
                    <td colspan="3" class="h-50">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <textarea ng-model="vm.fromCustomerAddress.street1" type="text" name="Street1" max-row="4" disabled placeholder="Address Line 1"></textarea>
                        <span flex="100" layout="column" layout-gt-xs="row" class="font-size-10">
                          <b>Street address, P.O. box, company name, c/o</b>
                        </span>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">Address Line 2</p></th>
                    <td colspan="3" class="h-50">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <textarea ng-model="vm.fromCustomerAddress.street2" type="text" name="Street2" disabled placeholder="Address Line 2"></textarea>
                        <span flex="100" layout="column" layout-gt-xs="row" class="font-size-10">
                          <b>Apartment, suite, unit, building, floor, etc.</b>
                        </span>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">Address Line 3</p></th>
                    <td colspan="3" class="h-50">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <textarea ng-model="vm.fromCustomerAddress.street3" type="text" name="Street3" disabled placeholder="Address Line 3"></textarea>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">City</p></th>
                    <td>
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input name="City" ng-model="vm.fromCustomerAddress.city" placeholder="City" disabled />
                      </md-input-container>
                    </td>
                    <th><p class="label-container">State</p></th>
                    <td>
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input name="State" ng-model="vm.fromCustomerAddress.state" capitalize placeholder="State" disabled />
                        <span class="font-size-10"><b>{{vm.stateNote}}</b></span>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">Zip/Postal Code</p></th>
                    <td>
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input name="Postcode" ng-model="vm.fromCustomerAddress.postcode" disabled placeholder="Zip/Postal Code" />
                      </md-input-container>
                    </td>
                    <th><p class="label-container">Country</p></th>
                    <td>
                      <md-input-container flex="100" class=" margin-bottom-0">
                        <input name="country" ng-model="vm.fromCustomerAddress.countryMst.countryName" disabled placeholder="Country" />
                      </md-input-container>
                    </td>
                  </tr>
                  <tr ng-if="vm.addressTypeTitle === vm.addressType.S.value">
                    <th><p class="label-container"><a class="cm-text-decoration" ng-click="vm.goToShippingMethodList();" tabindex="-1">{{vm.autoCompleteShipping.placeholderName}}</a></p></th>
                    <td colspan="3">
                      <md-input-container class="margin-bottom-0" flex="100">
                        <input name="shippingMethod" ng-model="vm.fromCustomerAddress.shippingMethod.shippingMethodName" disabled placeholder="Shipping Method" />
                      </md-input-container>
                    </td>
                  </tr>
                  <tr ng-if="vm.addressTypeTitle === vm.addressType.S.value">
                    <th><p class="label-container"><a class="cm-text-decoration" ng-click="vm.goTocarrierList();" tabindex="-1">{{vm.autoCompleteCarriers.placeholderName}}</a></p></th>
                    <td>
                      <md-input-container class="margin-bottom-0" flex="100">
                        <input name="carrier" ng-model="vm.fromCustomerAddress.Carrier.carrierName" disabled placeholder="Carrier" />
                      </md-input-container>
                    </td>
                    <th><p class="label-container">Carrier Account#</p></th>
                    <td colspan="1">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input name="carrierAccount" ng-model="vm.fromCustomerAddress.carrierAccount" disabled placeholder="Carrier Account#" />
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <p class="label-container">Comment</p>
                    </th>
                    <td colspan="3" class="h-75">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <textarea type="text" name="additionalComment" id="" rows="{{vm.textAreaRows.ROWS}}" max-rows="{{vm.textAreaRows.MAX_ROWS}}"
                                  ng-model="vm.fromCustomerAddress.additionalComment" disabled></textarea>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <!--Contact Person Block-->
                    <th></th>
                    <td colspan="3">
                      <div layout="row" flex="100" class="padding-5 flex-sm-100" layout-wrap>
                        <view-contact-person-det layout
                                                 param-contact-person-det="vm.fromCustomerAddress.contactPerson"
                                                 param-other-det="vm.fromContactPersonOtherDet"
                                                 param-cont-person-action-btn-det="vm.fromCustPersonViewActionBtnDet"></view-contact-person-det>
                      </div>
                    </td>
                  </tr>
                  <tr ng-if="vm.addressTypeTitle === vm.addressType.S.value && (vm.mfgType === vm.mfgTypeConst.CUSTOMER || vm.mfgType === vm.mfgTypeConst.MFG)">
                    <th></th>
                    <td colspan="3" class="p-0">
                      <div class="cm-section-main mt-10" flex layout="column">
                        <div class="cm-section-header">
                          <label>{{vm.LabelConstant.Address.MarkForAddress}}</label>
                        </div>
                        <div layout="column" class="cm-section-inner cm-overflow-auto p-0-imp" flex>
                          <view-cust-address-contact-det layout flex param-address-det="vm.fromCustomerAddress.intermediateAddressObj"
                                                         param-contact-person-det="vm.fromCustomerAddress.intermediateContactPersonObj"
                                                         param-addr-action-btn-det="vm.intermediateFromActionBtn"
                                                         param-cont-person-action-btn-det="vm.intermediateFromContactActionBtn"
                                                         param-add-update-addr-callback-fn=""
                                                         param-select-addr-callback-fn=""
                                                         param-delete-addr-callback-fn=""
                                                         param-add-update-contact-callback-fn=""
                                                         param-select-contact-callback-fn=""
                                                         param-delete-cont-person-callback-fn=""
                                                         param-other-det="vm.intermediateFromOtherDet"
                                                         param-refresh-address-callback-fn="">
                          </view-cust-address-contact-det>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>
        </div>
        <!--To Address-->
        <div layout="row" flex="50" class="cm-section-main border-0">
          <fieldset class="container-box mb-5 ml-5 mt-1" flex>
            <legend class="margin-0">Copy To Address</legend>
            <div class="cm-section-inner">
              <table cellspacing="0" cellpadding="0" class="cm-table-input-main no-cell-padding">
                <tbody>
                  <tr>
                    <td colspan="4" class="text-right height-35">
                      <span class="label-box" ng-class="{'label-success':vm.toCustomerAddress.isActive, 'label-warning':!vm.toCustomerAddress.isActive}">
                        {{vm.toCustomerAddress.isActiveText}}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">{{vm.isDist ? 'Company' : 'Business Name'}}<span>&nbsp;*</span></p></th>
                    <td colspan="3">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input type="text" name="companyName" ng-model="vm.toCustomerAddress.companyName"
                               placeholder="Company" required ng-maxlength="255" md-maxlength="255" md-autofocus>
                        <div ng-messages="vm.copyAddressForm.companyName.$error" role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(255, vm.copyAddressForm.companyName.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr ng-if="vm.addressTypeTitle === vm.addressType.P.value">
                    <th><p class="label-container">Remit To Name<span>&nbsp;*</span></p></th>
                    <td colspan="1">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input name="bankRemitToName" ng-model="vm.toCustomerAddress.bankRemitToName"
                               required placeholder="bankRemitToName" ng-maxlength="255" md-maxlength="255" />
                        <div ng-messages="vm.copyAddressForm.bankRemitToName.$error" role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(255, vm.copyAddressForm.bankRemitToName.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">Address Line 1<span>&nbsp;*</span></p></th>
                    <td colspan="3" class="h-50">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <textarea ng-model="vm.toCustomerAddress.street1" type="text" name="Street1"
                                  placeholder="Address Line 1" required ng-maxlength="255" md-maxlength="255"></textarea>
                        <span flex="100" layout="column" layout-gt-xs="row" class="font-size-10">
                          <b>Street address, P.O. box, company name, c/o</b>
                        </span>
                        <div ng-messages="vm.copyAddressForm.Street1.$error" role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                        </div>
                        <div ng-messages="vm.copyAddressForm.Street1.$error" role="alert">
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(255, vm.copyAddressForm.Street1.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">Address Line 2</p></th>
                    <td colspan="3" class="h-50">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <textarea ng-model="vm.toCustomerAddress.street2" type="text" name="Street2" placeholder="Address Line 2" ng-maxlength="255" md-maxlength="255"></textarea>
                        <span flex="100" layout="column" layout-gt-xs="row" class="font-size-10">
                          <b>Apartment, suite, unit, building, floor, etc.</b>
                        </span>
                        <div ng-messages="vm.copyAddressForm.Street2.$error" role="alert">
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(255, vm.copyAddressForm.Street2.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">Address Line 3</p></th>
                    <td colspan="3" class="h-50">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <textarea ng-model="vm.toCustomerAddress.street3" type="text" name="Street3" placeholder="Address Line 3" ng-maxlength="255" md-maxlength="255"></textarea>
                        <div ng-messages="vm.copyAddressForm.Street3.$error" role="alert">
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(255, vm.copyAddressForm.Street3.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">City<span>&nbsp;*</span></p></th>
                    <td>
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input name="City" ng-model="vm.toCustomerAddress.city" placeholder="City" ng-maxlength="255" md-maxlength="255" required />
                        <div ng-messages="vm.copyAddressForm.City.$error" role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                        </div>
                        <div ng-messages="vm.copyAddressForm.City.$error" role="alert">
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(255, vm.copyAddressForm.City.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                    <th><p class="label-container">State<span>&nbsp;*</span></p></th>
                    <td>
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input name="State" ng-model="vm.toCustomerAddress.state" capitalize placeholder="State" ng-maxlength="255" md-maxlength="255" required />
                        <span class="font-size-10"><b>{{vm.stateNote}}</b></span>
                        <div ng-messages="vm.copyAddressForm.State.$error" role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                        </div>
                        <div ng-messages="vm.copyAddressForm.State.$error" role="alert">
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(255, vm.copyAddressForm.State.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th><p class="label-container">Zip/Postal Code<span>&nbsp;*<check-unique-on-blur></check-unique-on-blur></span></p></th>
                    <td>
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input name="Postcode" ng-model="vm.toCustomerAddress.postcode" placeholder="Zip/Postal Code" ng-maxlength="10" md-maxlength="10" custom-blur="vm.findAddress();" required />
                        <div ng-messages="vm.copyAddressForm.Postcode.$error" role="alert">
                          <div ng-message="required">
                            <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                          </div>
                        </div>
                        <div ng-messages="vm.copyAddressForm.Postcode.$error" role="alert">
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(10, vm.copyAddressForm.Postcode.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                    <th><p class="label-container"><a class="cm-text-decoration underline" ng-click="vm.goToCountryList();" tabindex="-1">Country</a><span>&nbsp;*</span></p></th>
                    <td>
                      <md-input-container flex="100" class="autocompletecustom margin-bottom-0" ng-if="vm.autoCompleteCountry">
                        <custom-auto-complete-search class="cm-bill-address-popup min-width-initial"
                                                     on-search-fn="vm.autoCompleteCountry.onSearchFn"
                                                     column-name="vm.autoCompleteCountry.columnName"
                                                     controller-name="vm.autoCompleteCountry.controllerName"
                                                     parent-column-name="vm.autoCompleteCountry.parentColumnName"
                                                     view-template-url="vm.autoCompleteCountry.viewTemplateURL"
                                                     key-column-name="vm.autoCompleteCountry.keyColumnName"
                                                     input-name="vm.autoCompleteCountry.inputName"
                                                     placeholder-name="vm.autoCompleteCountry.placeholderName"
                                                     key-column-id="vm.autoCompleteCountry.keyColumnId"
                                                     is-required="vm.autoCompleteCountry.isRequired"
                                                     is-addnew="vm.autoCompleteCountry.isAddnew"
                                                     callback-fn="vm.autoCompleteCountry.callbackFn"
                                                     parent-id=""
                                                     add-data="vm.autoCompleteCountry.addData"
                                                     on-select-callback-fn="vm.autoCompleteCountry.onSelectCallbackFn"
                                                     custom-auto-focus="{{false}}"
                                                     is-disabled="false">
                        </custom-auto-complete-search>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr ng-if="vm.addressTypeTitle === vm.addressType.S.value">
                    <th><p class="label-container"><a class="cm-text-decoration" ng-click="vm.goToShippingMethodList();" tabindex="-1">{{vm.autoCompleteShipping.placeholderName}}</a></p></th>
                    <td colspan="3">
                      <md-input-container ng-if="vm.autoCompleteShipping" class="autocompletecustom margin-bottom-0" flex="100">
                        <custom-auto-complete datalist="vm.ShippingTypeList"
                                              column-name="vm.autoCompleteShipping.columnName"
                                              controller-name="vm.autoCompleteShipping.controllerName"
                                              view-template-url="vm.autoCompleteShipping.viewTemplateURL"
                                              key-column-name="vm.autoCompleteShipping.keyColumnName"
                                              input-name="vm.autoCompleteShipping.inputName"
                                              placeholder-name="vm.autoCompleteShipping.placeholderName"
                                              key-column-id="vm.autoCompleteShipping.keyColumnId"
                                              is-disabled="false"
                                              is-addnew="vm.autoCompleteShipping.isAddnew"
                                              add-data="vm.autoCompleteShipping.addData"
                                              callback-fn="vm.autoCompleteShipping.callbackFn"
                                              on-select-callback-fn="vm.autoCompleteShipping.onSelectCallbackFn">
                        </custom-auto-complete>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr ng-if="vm.addressTypeTitle === vm.addressType.S.value">
                    <th><p class="label-container"><a class="cm-text-decoration" ng-click="vm.goTocarrierList();" tabindex="-1">{{vm.autoCompleteCarriers.placeholderName}}</a></p></th>
                    <td>
                      <md-input-container ng-if="vm.autoCompleteCarriers" class="autocompletecustom margin-bottom-0" flex="100">
                        <custom-auto-complete datalist="vm.CarrierList"
                                              column-name="vm.autoCompleteCarriers.columnName"
                                              controller-name="vm.autoCompleteCarriers.controllerName"
                                              view-template-url="vm.autoCompleteCarriers.viewTemplateURL"
                                              key-column-name="vm.autoCompleteCarriers.keyColumnName"
                                              input-name="vm.autoCompleteCarriers.inputName"
                                              placeholder-name="vm.autoCompleteCarriers.placeholderName"
                                              key-column-id="vm.autoCompleteCarriers.keyColumnId"
                                              is-disabled="false"
                                              is-addnew="vm.autoCompleteCarriers.isAddnew"
                                              add-data="vm.autoCompleteCarriers.addData"
                                              callback-fn="vm.autoCompleteCarriers.callbackFn"
                                              on-select-callback-fn="vm.autoCompleteCarriers.onSelectCallbackFn">
                        </custom-auto-complete>
                      </md-input-container>
                    </td>
                    <th><p class="label-container">Carrier Account#</p></th>
                    <td colspan="1">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <input name="carrierAccount" ng-model="vm.toCustomerAddress.carrierAccount" placeholder="Carrier Account#" ng-maxlength="50" md-maxlength="50" />
                        <div ng-messages="vm.copyAddressForm.carrierAccount.$error" role="alert">
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(50, vm.copyAddressForm.carrierAccount.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <p class="label-container">Comment</p>
                    </th>
                    <td colspan="3">
                      <md-input-container flex="100" class="margin-bottom-0">
                        <textarea type="text" name="additionalComment" id=""
                                  ng-model="vm.toCustomerAddress.additionalComment"
                                  placeholder="" rows="{{vm.textAreaRows.ROWS}}" max-rows="{{vm.textAreaRows.MAX_ROWS}}"
                                  ng-maxlength="1000"
                                  md-maxlength="1000"></textarea>
                        <div ng-messages="vm.copyAddressForm.additionalComment.$error" role="alert">
                          <div ng-message="maxlength">
                            <span>{{vm.getMaxLengthValidation(1000, vm.copyAddressForm.additionalComment.$viewValue.length)}}</span>
                          </div>
                        </div>
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <!--Contact Person Block-->
                    <th></th>
                    <td colspan="3">
                      <!--Contact Person Block-->
                      <div layout="row" flex="100" class="padding-5 flex-sm-100" layout-wrap>
                        <view-contact-person-det layout
                                                 param-contact-person-det="vm.toCustomerAddress.contactPerson"
                                                 param-other-det="vm.contactPersonOtherDet"
                                                 param-cont-person-action-btn-det="vm.custPersonViewActionBtnDet"
                                                 param-delete-cont-person-callback-fn="vm.deleteContactPerson()"></view-contact-person-det>
                      </div>
                    </td>
                  </tr>
                  <tr ng-if="vm.addressTypeTitle === vm.addressType.S.value && (vm.mfgType === vm.mfgTypeConst.CUSTOMER || vm.mfgType === vm.mfgTypeConst.MFG)">
                    <th></th>
                    <td colspan="3" class="p-0">
                      <div class="cm-section-main mt-10" flex layout="column">
                        <div class="cm-section-header">
                          <label>{{vm.LabelConstant.Address.MarkForAddress}}</label>
                        </div>
                        <div layout="column" class="cm-section-inner cm-overflow-auto p-0-imp" flex>
                          <view-cust-address-contact-det layout flex param-address-det="vm.toCustomerAddress.intermediateAddressObj"
                                                         param-contact-person-det="vm.toCustomerAddress.intermediateContactPersonObj"
                                                         param-addr-action-btn-det="vm.intermediateToActionBtn"
                                                         param-cont-person-action-btn-det="vm.intermediateToContactActionBtn"
                                                         param-add-update-addr-callback-fn="vm.selectInterAddressToCallBack"
                                                         param-select-addr-callback-fn="vm.selectInterAddressToCallBack"
                                                         param-delete-addr-callback-fn="vm.deleteInterAddressToCallBack"
                                                         param-add-update-contact-callback-fn="vm.selectInterAddressContactPersonToCallBack"
                                                         param-select-contact-callback-fn="vm.selectInterAddressContactPersonToCallBack"
                                                         param-delete-cont-person-callback-fn="vm.deleteInterAddrContanctPersonToCallBack"
                                                         param-other-det="vm.intermediateToOtherDet"
                                                         param-refresh-address-callback-fn="">
                          </view-cust-address-contact-det>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" class="p-0">
                      <div flex="100" layout="row" layout-wrap class="custom-part-wrapper full-height" layout-align="start center"
                           ng-if="!vm.toCustomerAddress.id">
                        <div layout="row" class="layout-row">
                          <div layout class="mr-5" ng-if="vm.addressTypeTitle !== vm.addressType.B.value">
                            <md-checkbox name="isCopySameAddress" class="margin-0" ng-model="vm.toCustomerAddress.isCopyBillingAddress">
                              <p class="label-container ng-binding mb-0">
                                Add {{vm.addressType.B.title}} same as {{vm.addressTypeTitleText}}
                              </p>
                            </md-checkbox>
                          </div>
                          <div layout class="mr-5" ng-if="vm.addressTypeTitle !== vm.addressType.S.value">
                            <md-checkbox name="isCopySameAddress" class="margin-0" ng-model="vm.toCustomerAddress.isCopyShippingAddress">
                              <p class="label-container ng-binding mb-0">
                                Add {{vm.addressType.S.title}} same as {{vm.addressTypeTitleText}}
                              </p>
                            </md-checkbox>
                          </div>
                          <div layout class="mr-5" ng-if="vm.addressTypeTitle !== vm.addressType.R.value">
                            <md-checkbox name="isCopyRMAShippingAddress" class="margin-0" ng-model="vm.toCustomerAddress.isCopyRMAShippingAddress">
                              <p class="label-container ng-binding mb-0">
                                Add {{vm.addressType.R.title}} same as {{vm.addressTypeTitleText}}
                              </p>
                            </md-checkbox>
                          </div>
                          <div layout class="mr-5" ng-if="vm.addressTypeTitle !== vm.addressType.P.value && vm.isDist">
                            <md-checkbox name="isCopySameAddress" class="margin-0" ng-model="vm.toCustomerAddress.isCopyPayToInformation">
                              <p class="label-container ng-binding mb-0">
                                Add {{vm.addressType.P.title}} same as {{vm.addressTypeTitleText}}
                              </p>
                            </md-checkbox>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.saveCustomerAddress(false)" id="saveAddressBtn" aria-label="Submit" ng-class="{'md-formdirty': vm.copyAddressForm.$dirty}" ng-disabled="vm.saveBtnDisableFlag">Create</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
