<div id="customer-list" class="page-layout carded fullwidth breadcrumb-fixed" layout="row" cg-busy="{promise:vm.cgBusyLoading}">
    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center margin-left-0 margin-right-0" layout="column" flex>
        <!-- CONTENT HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start" flex>
                <div class="h2" layout="row" layout-align="start center">
                    <pagetitle is-list="true" is-display-menu-name="true"></pagetitle>
                </div>
                <div class="product-count" layout="row" layout-align="start center">
                    <breadcrumbs></breadcrumbs>
                </div>
                <!--<div layout="row" layout-wrap layout-align="end center" flex flex-xs="40" ng-if="vm.IsDistributor">
                    
                </div>-->
            </div>            
            <div layout-align="end center">
              <md-button class="md-primary md-raised" ng-click="vm.importDetail($event, vm.customerType)">
                Import {{vm.customerType == vm.CustOrDistyConst.CUSTOMER  ? "Customer" : "Supplier"}}<span ng-if="vm.apiVerificationErrorCount">({{vm.apiVerificationErrorCount}})</span>
              </md-button>
              <!--<md-button class="md-primary md-raised" ng-click="vm.import()" ng-if="vm.customerType != vm.CustOrDistyConst.CUSTOMER">
                Import Supplier Data&nbsp;<span ng-if="vm.apiVerificationErrorCount">({{vm.apiVerificationErrorCount}})</span>
              </md-button>-->
              <md-button class="md-primary md-raised" ng-click="vm.exportTemplate(vm.customerType)" >
                Export Template
              </md-button>
              <md-button class="md-raised md-primary" aria-label="Add Customer" ng-click="vm.addEditRecord(null,$event)">
                {{vm.customerType == vm.CustOrDistyConst.CUSTOMER  ? "Add Customer" : "Add Supplier"}}
              </md-button>
              <manage-fields entity-id="vm.entityID"></manage-fields>
            </div>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card padding-top-side" layout="column" flex ng-show="!vm.isNoDataFound">
            <md-card layout="column" flex layout-align="space-between stretch">                
                    <ui-grid-extention layout="column" flex="100"
                                       class="customer-grid" load-data="vm.loadData"
                                       grid-id="vm.customerType == vm.CustOrDistyConst.CUSTOMER ? vm.gridConfig.gridCustomer : vm.gridConfig.gridSupplier"
                                       grid-option="vm.gridOptions"
                                       header="vm.sourceHeader"
                                       grid-data="vm.sourceData"
                                       total-data-count="vm.totalSourceDataCount"
                                       reset-grid="vm.resetSourceGrid"
                                       selectted-rows="vm.selectedRowsList"
                                       paging-info="vm.pagingInfo"
                                       current-item="vm.currentdata"
                                       get-data-down="vm.getDataDown"
                                       empty-state="vm.emptyState"
                                       delete-multiple-data="vm.deleteMultipleData">
            </md-card>
            <!--<input id="fiexcel" name="file" type="file" class="hidden" style="height:0px;width:0px;left: -100%;position:absolute">-->
        </div>       
        <!-- / CONTENT CARD -->
        <div class="empty-state text-center full-height" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound == true">
            <div class="emty-icon" flex="100">
                <img ng-src="{{vm.customerType == vm.CustOrDistyConst.CUSTOMER  ? vm.EmptyMesssage.IMAGEURL : vm.EmptyMesssageSupplier.IMAGEURL}}" />
            </div>
            <p flex="100" class="empty-state-title">{{vm.customerType == vm.CustOrDistyConst.CUSTOMER ? vm.EmptyMesssage.MESSAGE : vm.EmptyMesssageSupplier.MESSAGE}}</p>
            <p flex="100">
                {{vm.customerType == vm.CustOrDistyConst.CUSTOMER ?  vm.EmptyMesssage.ADDNEWMESSAGE : vm.EmptyMesssageSupplier.ADDNEWMESSAGE}}
            </p>
            <p flex="100">
                <md-button class="md-fab md-mini" aria-label="Add Customer" ng-click="vm.addEditRecord(null,$event)">
                    <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
                </md-button>
            </p>
        </div>
    </div>
    <!-- / CENTER -->
</div>
<style>
    .customer-grid .ui-grid-row {
        height: auto !important;
    }

    .customer-grid .ui-grid-cell {
        display: table-cell;
        float: none;
        vertical-align: middle;
        height: auto !important;
    }
</style>
