/*#file-manager {
  .center {

    .header {
      position: relative;

      .header-content {
        height: 100%;

        .breadcrumb {
          font-size: 24px;
          padding-left: 90px;

          span {
            cursor: pointer;

            md-icon {
              cursor: default;
            }

            &:last-child {

              md-icon {
                display: none;
              }
            }
          }

          .separator {
            margin-left: 8px;
            margin-right: 8px;
          }
        }
      }

      .add-file-button {
        position: absolute;
        bottom: -32px;
        left: 16px;
      }
    }

    .content {
      padding: 0;
      background: #FFFFFF;
    }
  }

  .file-icon {

    .icon-folder {

      &:before {
        color: #FFB300;
      }
    }

    .icon-document {

      &:before {
        color: #1565C0;
      }
    }

    .icon-spreadsheet {

      &:before {
        color: #4CAF50;
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-md) {

  #file-manager {

    .center {

      .header {

        .header-content {

          .breadcrumb {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $layout-breakpoint-sm) {

  #file-manager {

    .center {

      .header {

        .header-content {

          .breadcrumb {
            font-size: 16px;
          }
        }
      }
    }
  }
}

#file-uploader {
  position: absolute;
  top: 0px;
  left: 25px;
}*/

md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: rgba(0,0,0,0.87);
}

.operation-dos {
    background-color: green;
    height: 35px;
    min-height: 35px;
    border-bottom: 0;

    span {
        color: white;
        font-size: 13px;
        font-weight: bold;
        vertical-align: middle;
    }
}

.operation-donts {
    background-color: red;
    height: 35px;
    min-height: 35px;
    border-bottom: 0;

    span {
        color: white;
        font-size: 13px;
        font-weight: bold;
        vertical-align: middle;
    }
}

.useadded-emptytxt {
    line-height: 1.5;
}

/*.userpermissionhead {
    background: #039be5;
    padding: 0 15px;
}*/

.userpermissionhead {
    background: #039be5;
    padding: 0 15px;

    md-input-container {
        label {
            color: #fff !important;
        }

        input {
            color: #fff !important;
            border-color: #fff !important; 
        }
    }

    button {
        &.toolbar-button {
            md-icon {
                color: #fff !important;
            }
        }
    }
}

.permissiontab {
    /*border: 1px solid rgba(0,0,0,0.12) !important;*/
    border: 2px solid #039be5;

    &.dragbox {
        /*max-height: 360px;*/
        overflow: auto;
        height: calc(100vh - 220px + #{$headerMenuPadding});
    }

    md-list-item {
        &.useradded {
            &.active, &:hover {
                background: #2CABE3;
                color: #fff;
            }
        }

        .dragsortable {
            &.ui-sortable-selected, &:hover {
                background: $customThemeLight;
                color: #fff;
            }

            margin: 0;
            padding: 10px 15px;
            cursor: pointer;
            border-bottom: 1px solid rgba(0,0,0,0.12);

            &:last-child {
                border-bottom: 0;
            }

            h4 {
                margin: 0;
            }
        }
    }
}

.permissiontab {
    &.permaintab {
        border: 0;

        md-list-item {
            &.userrights {
                md-icon {
                    &.pointer {
                        display: none;
                    }
                }

                &.active {
                    color: #2CABE3;
                    background: transparent;
                    position: relative;

                    md-icon {
                        &.pointer {
                            display: block;
                            position: absolute;
                            right: 0;
                            top: 5px;
                            bottom: 0;
                            height: 15px;
                            margin: auto;
                            font-size: 28px;
                            color: #2cabe3;
                        }
                    }
                }
            }
        }
    }

    md-divider {
        border: 0;
        border-bottom: 1px dashed #2CABE3;
    }
}

/*.no-label {
    margin-top: 0;
    margin-bottom: 2px;
}*/

.mobilesearch {
    position: relative;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;

    .search-header {
        width: 0;
        transition: 0.5s;
        position: absolute;
        overflow: hidden;
        right: 30px;
        top: 4px;

        &.clickedsearch {
            width: 230px;
            background: #fff;
        }
    }

    button {
        &.md-icon-button {
            margin-right: 0;
            color: #fff;
        }
    }
}

md-input-container.error-none .md-errors-spacer {
    display: none;
}

.no-label {
    margin-top: 0;
    margin-bottom: 2px;

    &.md-input-focused {
        label {
            display: none;
        }

        input {
            position: relative;
            top: -2px;
        }
    }

    input {
        border: 0;
    }
}

.permissiontab md-list-item .dragsortable h4 {
    margin: 0;
}

.permissiontab md-list-item .dragsortable {
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

/*.padding-0 {
    padding: 0 !important;
}*/

.permissiontab.dragbox {
    /*max-height: 345px;*/
    overflow: auto;
    /*height: 100vh;*/
    padding: 0;
    margin: 0;
    position: relative;
}


i.icondrag {
    margin: 0 auto !important;
    display: block;
}

#newClass {
    position: fixed !important;
    margin-left: -240px;
}

.fielddetail {
    md-tab-content {
        display: initial !important;
    }
}

md-slider, md-slider .md-slider-content, md-tabs.md-dynamic-height md-tab-content.md-active {
    position: relative;
}

/*.margin-top-0 {
    margin-top: 0 !important;
}*/

.permissiontab {
    md-list-item::before, md-list-item .md-list-item-inner::before {
        min-height: 1px;
    }
}

/*.active-status {
    color: green;
}*/

.switchbutton {
    margin-top: 10px;

    span {
        margin-bottom: 20px;
        font-size: 20px;
        color: rgb(0,150,136);
    }

    .btn {
        padding: 7px 15px;
        background: #ddd;
        border-radius: 3px 0 0 3px;
        min-width: 70px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #999 inset;
        cursor: pointer;

        &:last-child {
            border-radius: 0 3px 3px 0;
        }

        &.active-status {
            background: rgb(0,150,136);
            color: #fff;
            box-shadow: none;
        }
    }
}

.manage-operation-tabing, .manage-workorder-tabing {
    md-tabs-content-wrapper {
        top: 72px;

        md-tab-content {
            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
                background: rgba(0, 0, 0, 0.1);
                transition: all .2s;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                transition: all .2s;
            }
        }
    }
}

/*.padding-bottom-0 {
    padding-bottom: 0 !important;
}*/

.droparea {
    padding: 0 0 30px 0 !important;

    .drag-txt {
        padding-top: 30px;
    }

    .uploadedimage {
        /*position: absolute;
        left: 0;
        top: 0;*/
        .image {
            //height: 48px;
            width: 47px;
            margin: 11px 0px 0px 11px;
            position: relative;

            .icon-cancel {
                position: absolute;
                right: -7px;
                top: -7px;
                font-size: 15px;
                height: 15px;
                width: 15px;
                min-width: 15px;
                min-height: 15px;
            }

            img {
                display: block;
                width: 45px;
                height: 46px;
            }
        }
    }
}

/*.padding-top-0 {
    padding-top: 0 !important;
}*/

.cm-popup-height {
    .permissiontab.dragbox {
        /*height: calc(100vh - 282px) !important;*/
        height: calc(100vh - 300px) !important;
         
    }
}
