<div class="grid-tooltip mrgn10l">
	<div class="ui-grid-cell-contents">
		<ul class="gridAction">
			<li>
				<a ng-click="grid.appScope.vm.updateModal(row,$event)" class="mrgn5r font18">
					<i class="fa fa-pencil-square-o text-success" uib-tooltip="Update this record" data-trigger="hover"
					tooltip-append-to-body="true">
						Update
					</i>
				</a>
			</li>
			<li>
				<a ng-click="grid.appScope.vm.deleteOperation(row)" class="mrgn5r font18">
					<i class="fa fa-trash-o text-danger" uib-tooltip="Delete this record" data-trigger="hover"
					tooltip-append-to-body="true">
						Delete
					</i>
				</a>
			</li>
		</ul>
	</div>
</div>
