<span class="common-pid-code-label">
  <!-- copy text and label to copy for tooltip-->
  <copy-text ng-if="isCopy && isMfg && value" label="mfgLabel" text="mfgValue" hide-copy-tooltip="isFromTraveler ? true : false"></copy-text>
  <copy-text ng-if="isCopy && item.value != null && item.value != 'null' && item.value != 'undefined' && item.value != undefined"
             ng-repeat="item in copyAheadLabelOtherValueArray | orderBy: 'displayOrder'"
             label="item.label" text="item.value" hide-copy-tooltip="isFromTraveler ? true : false"></copy-text>
  <!-- copy text and label to copy for tooltip-->
  <a tabindex="-1" class="" ng-class="{'disable-link': redirectionDisable, 'cm-assy-red': isShowInRed, 'cm-text-decoration': !isShowInRed }" ng-click="goToComponentDetail($event)">
    <!--ng-style="{ 'max-width' : getpidCodeLength() }"-->
    <b ng-if="isFormated" ng-class="{ 'text-line-through': (isGoodPart == 2) || restrictUsePermanently || restrictPackagingUsePermanently || restrictUseWithPermission || restrictPackagingUseWithPermission || restrictUseInBOMPermanently}">
      {{value}}
    </b>
    <span ng-if="!isFormated" ng-class="{ 'text-line-through': (isGoodPart == 2) || restrictUsePermanently || restrictPackagingUsePermanently || restrictUseWithPermission || restrictPackagingUseWithPermission || restrictUseInBOMPermanently}">
      {{value}}
    </span>
    <md-tooltip ng-if="!isFromTraveler" md-direction="top">{{value}}</md-tooltip>
  </a>
  <span ng-if="rohsStatus && value" class="custom-rhos-img-text cm-menu-item-tooltip">
    <img class="rohs-workorder-image" ng-src="{{rohsIcon}}">
    <md-tooltip ng-if="!isFromTraveler" md-direction="top">{{rohsStatus}}</md-tooltip>
  </span>
  <span ng-if="hasSubAssembly" class="custom-rhos-img-text cm-menu-item-tooltip">
    <md-icon md-font-icon="t-icons-sub-assembly" class="color-black"></md-icon>
    <md-tooltip>Sub Assembly</md-tooltip>
  </span>
  <!--<md-icon class="icon-file-find color-black padding-top-5 margin-0" ng-if="isSearchDigiKey" style="padding-right: 5px !important;min-width: 16px;width: 16px" ng-click="searchToDigikey()">
    <md-tooltip md-direction="top">Search Digi-Key</md-tooltip>
  </md-icon>-->
  <span class="api-icons"></span>
  <span ng-click="searchToDigikey(part,$event)" class="cm-menu-item-tooltip cm-api-link-image cm-ml-auto" ng-if="(!isCustomPart&&componentId>0) && (isSearchDigiKey && !isAssembly) || (supplierName && showSupplierName.Digikey == supplierName) && value">
    <img role="img" class="price-select-icons cm-digikey-icon" ng-src="{{apiConstant.DKimage}}" />
    <md-tooltip md-direction="top">Search on Digikey</md-tooltip>
  </span>

  <span ng-click="searchToArrow(part,$event)" class="cm-menu-item-tooltip cm-api-link-image" ng-if="(!isCustomPart&&componentId>0) && supplierName && showSupplierName.Arrow == supplierName && value">
    <img role="img" class="price-select-icons" ng-src="{{apiConstant.ArrowImage}}" />
    <md-tooltip md-direction="top">Search on Arrow</md-tooltip>
  </span>

  <span ng-click="searchToAvnet(part,$event)" class="cm-menu-item-tooltip cm-api-link-image" ng-if="(!isCustomPart&&componentId>0) && supplierName && showSupplierName.Avnet == supplierName && value">
    <img role="img" class="price-select-icons" ng-src="{{apiConstant.AvnetImage}}" />
    <md-tooltip md-direction="top">Search on Avnet</md-tooltip>
  </span>

  <span ng-click="searchToMouser(part,$event)" class="cm-menu-item-tooltip cm-api-link-image" ng-if="(!isCustomPart&&componentId>0) && supplierName && showSupplierName.Mouser == supplierName && value">
    <img role="img" class="price-select-icons" ng-src="{{apiConstant.MouserImage}}" />
    <md-tooltip md-direction="top">Search on Mouser</md-tooltip>
  </span>

  <span ng-click="searchToNewark(part,$event)" class="cm-menu-item-tooltip cm-api-link-image" ng-if="(!isCustomPart&&componentId>0) && supplierName && showSupplierName.Newark == supplierName && value">
    <img role="img" class="price-select-icons" ng-src="{{apiConstant.NewarkImage}}" />
    <md-tooltip md-direction="top">Search on Newark</md-tooltip>
  </span>

  <span ng-click="searchToTTI(part,$event)" class="cm-menu-item-tooltip cm-api-link-image" ng-if="(!isCustomPart&&componentId>0) && supplierName && showSupplierName.TTI == supplierName && value">
    <img role="img" class="price-select-icons" ng-src="{{apiConstant.TTIImage}}" />
    <md-tooltip md-direction="top">Search on TTI</md-tooltip>
  </span>

  <span ng-click="searchToFindChip(part,$event)" class="cm-menu-item-tooltip cm-api-link-image" ng-if="(!isCustomPart&&componentId>0) && isSearchFindchip && !isAssembly && value">
    <img role="img" class="price-select-icons" ng-src="{{apiConstant.FindChipImage}}" />
    <md-tooltip md-direction="top">Search on FindChip</md-tooltip>
  </span>
  <span class="cm-menu-item-tooltip cm-api-link-image" ng-if="(!isCustomPart&&componentId>0) && !isAssembly && isSearchFindchip"
        ng-click="gotoGoogle(part)">
    <img role="img" class="price-select-icons" ng-src="{{apiConstant.GOOGLE_IMAGE}}" />
    <md-tooltip md-direction="top">Search Google</md-tooltip>
  </span>
  <!-- copy text and label to copy for tooltip-->
  <copy-part-text ng-if="(isCustomPart && componentId>0) && custPartNumber" label="label" text="custPartNumber" hide-copy-tooltip="isFromTraveler? true : false"></copy-part-text>
  <copy-text ng-if="isCopy && !isHideCopyPidCode && value" label="label" text="value" hide-copy-tooltip="isFromTraveler ? true : false"></copy-text>
  <copy-text ng-if="isCopy && item.value != null && item.value != 'null' && item.value != 'undefined' && item.value != undefined"
             ng-repeat="item in copyAfterLabelOtherValueArray | orderBy: 'displayOrder'"
             label="item.label" text="item.value" hide-copy-tooltip="isFromTraveler ? true : false"></copy-text>
  <!-- copy text and label to copy for tooltip-->
</span>
