<md-dialog draggable flex="50">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        Capture Image (IP Webcam)
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.flipCamera()" ng-if="vm.devices.length > 1">
        <md-icon role="img" md-font-icon="icon-camera-front"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="custom-scroll">
    <div layout="row" layout-aling="centre center" flex layout-wrap style="flex-flow:column;">
      <div layout="row" class="input-wrapper padding-top-5 cm-camera-bg" flex layout-wrap>
        <configure-webcam-url verification-det="vm.verification" webcam-det="vm.webcamDet" callback="vm.onURLUpdate" is-refreshbtn="true" refresh-callback="vm.refreshURL"></configure-webcam-url>
      </div>
      <div layout="row" class="input-wrapper padding-top-5 cm-camera-bg" flex layout-wrap ng-if="!vm.webcamError">
        <div class="cm-onedridview-div-camera" flex layout>
          <img src="{{vm.videoURL}}" />
        </div>
      </div>
    </div>
    <div layout="row" layout-align="center center" style="padding-top: 10%;padding-bottom: 10%;" flex="100"
         layout-wrap ng-if="vm.webcamError"
         class="webcam-connecting full-height cm-multi-camera-view-height">
      <label class="text-center">
        Webcam could not be started.<br /> Click on Refresh View/Configure IP to
        reconnect.
      </label>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-btn md-primary md-raised ml-0 margin-right-0" ng-click="vm.makeSnapshot()" ng-if="!vm.webcamError">
      CAPTURE
    </md-button>
    <span flex></span>
    <md-button class="md-btn md-default md-raised" ng-click="vm.cancel()">
      Close
    </md-button>
  </md-dialog-actions>
</md-dialog>
