<style>
   
    .footer {
        margin: 0px 0px 0px 40px;
        padding: 0px 0px 0px 10px;
    }

    .content {
        padding: 0px 10px 0px 0px;
        text-align: left;
        font-size: medium;
        font-family: Arial;
    }

    .label {
        text-align: start;
        font-size: medium;
        font-family: Arial;
    }
</style>

<div class="footer">
    <table style="width:auto;">
        <tr>
            <td><img src="##Signature##" style="width: 150px; height: 70px;" /></td>
        </tr>
    </table>
    <table style="width:auto;">
        <tr>
            <th class="label">Agreed On:</th>
            <td class="content">##AgreedOn##</td>
        </tr>
    </table>
    <table style="width:auto;">
        <tr>
            <th class="label">Agreed By:</th>
            <td class="content">##AgreedBy##</td>
        </tr>
    </table>
</div>