<style>
    .header-template {
        font-size: 12px;
    }
    .header-content {
        font-size: large;
        font-family: Arial;
        text-align: right;
        padding-right:25px;
    }
    .header-logo {
       padding-left: 25px;
    }
    .company-logo {
        height: 50px;
        object-fit: cover;
    }
</style>

<div class="header-template">
    <table style="width:100%;">
        <tr>
            <td class="header-logo"><img src="##CompLogoPath##" class="company-logo" /></td>
            <td class="header-content">##AgreementName##</td>
        </tr>
    </table>
</div>
<div style="border-top: 1px solid black; margin: 5px 25px 0px 25px; text-align: right;font-family:Arial;"></div>