<style>

    .content-main {
        padding: 0px 25px 0px 25px;
    }

    .content-detail {
        padding: 0px 10px 0px 10px;
        text-align: left;
        font-size: medium;
        font-family: Arial;
    }

       /* .content-detail * {
            max-width: 925px !important;
        }*/

   .label {
        text-align: start;
        font-size: medium;
		font-family: Arial;
    }
	.text-right {
		text-align: right;
	}
</style>

<div class="content-main">
    <div class="content-detail">
        <table style="width:100%;">
            <tr>
                <td width="70%">
                    ##HelpBlogSectionTitle##
                </td>
                <td width="15%" class="text-right">
                    Last Updated On:
                </td>
                <td width="15%" class="text-left">
                    ##HelpBlogSectionLastDate##
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td width="15%" class="text-right">
                    Last Modified By:
                </td>
                <td width="15%" class="text-left">
                    ##HelpBlogSectionLastModifiedBy##
                </td>
            </tr>
        </table>
    </div>
	<hr />
	<div class="content-detail">
        ##HelpBlogSectionContent##
    </div>
</div>
