<md-dialog aria-label="Employee" class="" draggable>
    <form name="vm.employeeForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.data.fieldName}} already exists in record !</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll">
            <md-content class="padding-10" layout="column" layout-gt-xs="row">
                <div flex="100">
                   {{vm.CORE_MESSAGE_CONSTANT.UNIQUE_CONFIRM_MESSAGE}}
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.ActivateRecord()">Activate</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.SaveNew()">Save New</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>