<!-- LIST VIEW -->
<div class="content fullpage-datatable" layout="column" flex>
  <md-table-container flex="100" class="cm-sticky-header-table">
    <table md-table class="dataTable hover md-data-table md-data-table row-border table-row-select nowrap">
      <thead md-head md-order="vm.queryDocument.order">
        <tr md-row class="document-list">
          <th class="cm-documentc-multiple-chb padding-bottom-0 padding-top-0 width-50">
            <md-checkbox ng-model="vm.isSelectAll"
                         ng-change="vm.selectAll()"
                         class="cm-margin-5">
            </md-checkbox>
          </th>
          <th md-column class="secondary-text cm-action width-150">
            <div class="table-header">
              <span class="column-title">Action</span>
            </div>
          </th>
          <th class="secondary-text cm-secondary-text">&nbsp;</th>
          <th md-column md-order-by="name" class="secondary-text cm-name width-350">
            <div class="table-header">
              <span class="column-title">Name</span>
            </div>
          </th>
          <th md-column md-order-by="originalLocation" class="secondary-text cm-name width-200">
            <div class="table-header">
              <span class="column-title">Location</span>
            </div>
          </th>
          <th md-column md-order-by="type" class="secondary-text cm-type width-100">
            <div class="table-header">
              <span class="column-title">Type</span>
            </div>
          </th>
          <th md-column md-order-by="fileSize" class="secondary-text cm-size width-200">
            <div class="table-header">
              <span class="column-title">Size(KB)</span>
            </div>
          </th>
          <th md-column md-order-by="recycledOn" class="secondary-text cm-modified-date width-200">
            <div class="table-header">
              <span class="column-title">Recycled On</span>
            </div>
          </th>
          <th md-column md-order-by="recycledBy" class="secondary-text cm-owner width-200">
            <div class="table-header">
              <span class="column-title">Recycled By</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody md-body>
        <tr class="document-body-tr" nd-row ng-repeat="detail in vm.recycleBinList | orderBy: vm.queryDocument.order track by $index">
          <td class="cm-documentc-multiple-chb">
            <md-checkbox ng-model="detail.isSelected"
                         ng-change="vm.SelectFolderFile(detail)" class="cm-margin-5">
            </md-checkbox>
          </td>
          <td md-cell class="cm-action">
            <md-button class="md-primary grid-button md-icon-button bdrbtn cm-feture-btn-color"
                       ng-click="vm.permenantDeleteDocument(detail)" ng-class="{'item-disabled': (!vm.isEnablePermanentDeleteFeature) }"
                       ng-disabled="vm.isReadOnly || (!vm.isEnablePermanentDeleteFeature)">
              <md-icon md-font-icon="icon-trash" class="s16"></md-icon>
              <md-tooltip>Delete</md-tooltip>
            </md-button>
            <md-button class="md-primary grid-button md-icon-button bdrbtn cm-feture-btn-color"
                       ng-click="vm.restoreDocument(detail)" ng-class="{'item-disabled': (!vm.isEnableRestoreDocument) }"
                       ng-disabled="vm.isReadOnly || (!vm.isEnableRestoreDocument)">
              <md-icon md-font-icon="icons-restore-file" class="s16"></md-icon>
              <md-tooltip>Restore</md-tooltip>
            </md-button>
            <md-button class="md-primary grid-button md-icon-button bdrbtn"
                       ng-click="vm.backToRoot()">
              <md-icon md-font-icon="icons-go-to-root" class="s16"></md-icon>
              <md-tooltip>Go To Root</md-tooltip>
            </md-button>
          </td>
          <td md-cell class="file-icon cursor-pointer cm-secondary-text" ng-if="detail.isFolder">
            <i class="icon-folder"></i>
          </td>
          <td md-cell class="file-icon cm-secondary-text" ng-if="!detail.isFolder">
            <img draggable="false" ng-if="detail.isImage || detail.isVideoTypeFile || detail.isAudioTypeFile || detail.isPDF" ng-src="{{detail.documentIcon}}" style="width:52px;height:52px;" />
            <img draggable="false" ng-if="!(detail.isImage || detail.isVideoTypeFile || detail.isAudioTypeFile || detail.isPDF)" ng-src="{{detail.documentIcon}}" style="width:52px;height:52px;" />
          </td>
          <td md-cell class="cm-doc-type">{{detail.name}}</td>
          <td md-cell class="cm-doc-type">{{detail.originalLocation}}</td>
          <td md-cell class="cm-type">{{detail.type}}</td>
          <td md-cell class="cm-size">
            {{detail.displaySize}}
            <md-tooltip ng-if="!detail.isFolder">{{detail.sizeTooltip}}</md-tooltip>
          </td>
          <td md-cell class="cm-modified-date">{{detail.recycledOn}}</td>
          <td md-cell hide-xs class="cm-owner">{{detail.recycledBy}}</td>
        </tr>
        <tr class="full-height" ng-if="vm.recycleBinList.length == 0" flex="100" layout-align="center center">
          <td class="border-0" flex="100" colspan="{{'9'}}" align="center">
            <div class="cm-list-view-img empty-state ui-grid-empty-state full-height layout-row layout-wrap layout-align-center-center">
              <div class="emty-icon flex-100">
                <img ng-src="{{vm.SearchEmptyMessage.SEARCH_IMAGE_URL}}">
              </div>
              <p class="empty-state-title empty-state-title-small flex-100">{{vm.SearchEmptyMessage.EMPTY_SEARCH_MESSAGE}}</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
<!-- END LIST VIEW-->
