/*.label-container {
    color: rgba(0,0,0,0.54);
    font-size: 1.2rem;
    margin-left: 10px;
}

.multiple-field-form {
    label {
        visibility: hidden;
    }

    .label-form-container {
       display:none;
    }
}

.document-button{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}*/
