<div cg-busy="{promise:vm.cgBusyLoading}" class="cm-cust-comment-full-height">
  <form name="vm.CustomerComponent" class="cm-cust-comment-full-height">
    <div class="cm-section-main">
      <div class="cm-section-header">
          <div layout="row" flex="100" layout-align="start center">
              <div flex>
                  <h2>{{vm.currentPageName}}</h2>
              </div>
              <div layout="row" layout-align="end center"
                   ng-if="!vm.isNoDataFound"
                   flex="nogrow">
                  <md-button class="md-primary md-raised width-auto"
                             ng-click="vm.viewPurchaseRequirementList();"
                             ng-disabled="vm.isNoDataFound">
                      VIEW
                  </md-button>
                  <md-button class="md-icon-button h-20 w-24 border-radius-0 vertical-top-align md-primary margin-0" ng-click="vm.gotoRequirementsMst()">
                      <md-icon role="img" md-font-icon="icons-requirement-comment" class="material-icons mat-icon"></md-icon>
                      <md-tooltip>Go to Comments</md-tooltip>
                  </md-button>
              </div>
          </div>
      </div>
      <div class="cm-section-inner">
        <div class="content-card" layout="column" flex ng-show="!vm.isNoDataFound">
          <div flex="100">
            <div class="content-card" layout="column">
              <div layout="column" flex layout-align="space-between stretch" class="cm-customer-comment-req-grid-height">
                <ui-grid-extention class="cm-customer-comment-req-grid cm-grid-height-auto"
                                   load-data="vm.loadData"
                                   grid-id="vm.gridMfgComment"
                                   grid-option="vm.gridOptions"
                                   header="vm.sourceHeader"
                                   grid-data="vm.sourceData"
                                   total-data-count="vm.totalSourceDataCount"
                                   reset-grid="vm.resetSourceGrid"
                                   selectted-rows="vm.selectedRowsList"
                                   paging-info="vm.pagingInfo"
                                   current-item="vm.currentdata"
                                   get-data-down="vm.getDataDown"
                                   empty-state="vm.emptyState"
                                   scroll-class="vm.gridHeightClass"
                                   delete-multiple-data="vm.deleteMultipleData">
                </ui-grid-extention>
              </div>
            </div>
          </div>
        </div>

        <div class="empty-state text-center full-height" layout="row" layout-align="center center" flex="100" layout-wrap ng-if="vm.isNoDataFound == true">
          <div class="emty-icon" flex="100">
            <img class="width-100px" ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
          </div>
          <p flex="100" class="empty-state-title cm-font-size-22-imp">{{vm.EmptyMesssage.MESSAGE}}</p>
          <p flex="100">
            {{vm.EmptyMesssage.ADDNEWMESSAGE}}
          </p>
          <p flex="100">
            <md-button class="md-fab md-mini" aria-label="Add Comment" ng-click="vm.addCustomerComment()" ng-if="!vm.isSupplier">
              <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
              <md-tooltip>Add {{vm.requirmentCategory.value}}</md-tooltip>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Refresh Comment" ng-click="vm.refreshCustomerComment()">
              <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
              <md-tooltip>Refresh {{vm.requirmentCategory.value}}</md-tooltip>
            </md-button>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>

