<md-dialog aria-label="coustomer-confirmation" flex="60" class="rfq_errorcode_popup_width copy-bom-select" cg-busy="{promise:vm.cgBusyLoading}" draggable>
  <form name="vm.SelectReasonForm">
    <md-toolbar>
      <div class="md-toolbar-tools padding-right-5" layout="row" layout-align="space-between center">
        <h2>Select {{vm.isRFQ?'RFQ Reason':vm.isBOM?'Bill Of Material Reason':'Response Reason'}}</h2>
        <span flex></span>
        <!--<md-button class="md-primary md-raised" ng-click="vm.addNewReason()">Add New</md-button>-->
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll" layout="column">
      <md-content class="padding-10">
        <div class="grouplistbox-btm RFQ-additional-requirement-popup" layout="column" ng-cloak>
          <div layout="row" layout-wrap layout-align="start center" class="md-padding" ng-class="dialog.who">
            <div flex="100" layout="row" layout-align="end start">
              <div layout-align="space-between start" ng-if="!vm.isNoaddreqFound">
                <md-button class="md-primary md-raised margin-0" ng-click="vm.addNewReason()">Add Reason</md-button>
                <md-button class="md-primary md-raised margin-0 margin-left-10" ng-click="vm.goToReason()">Reason</md-button>
                <md-button class="md-primary md-raised margin-0 margin-left-10" ng-click="vm.refreshReason()">
                  Refresh
                </md-button>
              </div>
            </div>
            <div layout="row" flex="auto" layout-wrap layout-align="startr center" ng-if="!vm.isNoaddreqFound" ng-class="dialog.who">
              <div class="mv-5" flex="100" layout="row" ng-repeat="option in vm.ReasonList">
                <md-checkbox class="margin-0" ng-click="vm.selectAssyreq(option.id)">{{option.reason}}</md-checkbox>
              </div>
            </div>
            <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoaddreqFound == true">
              <div class="emty-icon" flex="100">
                <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
              </div>
              <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
              <p flex="100">{{vm.EmptyMesssage.ADDNEWMESSAGE}}</p>
              <p flex="100">
                <md-button class="md-fab md-mini" aria-label="Add Reason" ng-click="vm.addNewReason()">
                  <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus"></md-icon>
                  <md-tooltip>Add New</md-tooltip>
                </md-button>
                <md-button class="md-fab md-mini" aria-label="Refresh Reason" ng-click="vm.refreshReason()">
                  <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-refresh"></md-icon>
                  <md-tooltip>Refresh</md-tooltip>
                </md-button>
              </p>
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.setQuoteAdditionalReq()" ng-class="{'md-formdirty': vm.SelectReasonForm.$dirty }">Select</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
