<div id="forms" class="page-layout simple fullwidth doc-page work-profile-table" layout="column">
    <div class="customer" layout="column" flex>
        <md-content class="content custom-scroll" flex>
            <div ng-repeat="itemElementTranswiseData in vm.tranwiseEqpDataelementList" flex="100" layout="row" class="cm-border-bottom-black">
                <div class="otherdetailmain" layout="row" layout-wrap flex="100" layout-align="start start">
                    <div class="transwise-operation-table-main">
                        <div style="float: left;"> <!--width: 20%;-->
                            <p class="margin-0 padding-right-0-imp"><b># </b></p>
                        </div>
                        <div style="width: 30%;float: left;">
                            <p class="margin-0">{{$index+1}}</p>
                        </div>
                    </div>
                    <div class="work-profile-main" ng-repeat="itemElementData in itemElementTranswiseData" flex="50" layout="column"
                          ng-hide="itemElementData.controlTypeID == vm.InputeFieldKeys.SubForm || itemElementData.parentDataElementID">
                        <div layout="row" flex="100">
                            <div style="width: 40%; float: left;">
                                <p class="margin-0"><b>{{itemElementData.dataElementName}}: </b></p>
                            </div>
                            <div style="width:60%;float: left;" class="transwise-operation-dataelement-view">
                                <div layout="column" ng-if="itemElementData.controlTypeID == vm.InputeFieldKeys.Multilinetextbox
                                 || itemElementData.controlTypeID == vm.InputeFieldKeys.Editor">
                                    <span class="margin-0" ng-bind-html="itemElementData.defaultValue"></span>
                                </div>
                                <div layout="column" ng-if="itemElementData.controlTypeID == vm.InputeFieldKeys.Signature">
                                    <img ng-if="itemElementData.defaultValue" class="margin-0" ng-src="{{itemElementData.defaultValue}}" alt="Signature">
                                </div>
                                <div layout="column" ng-if="itemElementData.controlTypeID != vm.InputeFieldKeys.Signature &&
                                 itemElementData.controlTypeID != vm.InputeFieldKeys.Multilinetextbox
                                 && itemElementData.controlTypeID != vm.InputeFieldKeys.Editor">
                                    <p class="margin-0">{{itemElementData.defaultValue}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="padding-top-10 padding-bottom-10" ng-if="itemElementData.controlTypeID == vm.InputeFieldKeys.SubForm"
                         ng-repeat="itemElementData in itemElementTranswiseData" flex="100" layout="row" layout-wrap>
                        <div flex="100" ng-if="itemElementData.subFormControls.length > 0">
                            <p class="margin-0"><b>{{itemElementData.dataElementName}}</b></p>
                        </div>
                        <div flex="100" ng-if="itemElementData.controlTypeID == vm.InputeFieldKeys.SubForm" ng-class="{'multiple-field-form' : itemElementData.isMultiple}">
                            <div class="subformtable" ms-scroll>
                                <div class="horizontal-section" layout="row" layout-align="start start">
                                    <table class="simple list-view">
                                        <thead>
                                            <tr>
                                                <th ng-repeat="itemElement in itemElementData.subFormControls[0]">{{itemElement.dataElementName}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="subElement in itemElementData.subFormControls">
                                                <td ng-repeat="itemElement in subElement">
                                                    <div ng-if="itemElement.controlTypeID == vm.InputeFieldKeys.Multilinetextbox
                                                        || itemElement.controlTypeID == vm.InputeFieldKeys.Editor">
                                                        <span class="margin-0" ng-bind-html="itemElement.defaultValue"></span>
                                                    </div>
                                                    <div ng-if="itemElement.controlTypeID == vm.InputeFieldKeys.Signature">
                                                        <img ng-if="itemElement.defaultValue" ng-src="{{itemElement.defaultValue}}" alt="Signature">
                                                    </div>
                                                    <div ng-if="itemElement.controlTypeID != vm.InputeFieldKeys.Signature &&
                                                                itemElement.controlTypeID != vm.InputeFieldKeys.Multilinetextbox
                                                                && itemElement.controlTypeID != vm.InputeFieldKeys.Editor">
                                                        <p class="margin-0">{{itemElement.defaultValue}}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-state text-center full-height" layout="row" layout-align="center center" 
                 layout-wrap ng-if="vm.tranwiseEqpDataelementList.length == 0">
                <div class="emty-icon" flex="100">
                    <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                </div>
                <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
            </div>
        </md-content>
    </div>
</div>

<!--<table id="forms" class="page-layout simple fullwidth doc-page" width="100">
    <tr ng-repeat="itemElementTranswiseData in vm.tranwiseEqpDataelementList">
        <td><b>#</b></td>
        <td>{{$index+1}}</td>
    </tr>
    <tr ng-repeat="itemElementData in itemElementTranswiseData"
        ng-hide="itemElementData.controlTypeID == vm.InputeFieldKeys.SubForm || itemElementData.parentDataElementID">
        <td><b>{{itemElementData.dataElementName}} : </b></td>
        <td>
            <table>
                <tr ng-if="itemElementData.controlTypeID == vm.InputeFieldKeys.Multilinetextbox
            || itemElementData.controlTypeID == vm.InputeFieldKeys.Editor">
                    <td ng-bind-html="itemElementData.defaultValue"></td>
                </tr>
                <tr ng-if="itemElementData.controlTypeID == vm.InputeFieldKeys.Signature">
                    <td><img ng-if="itemElementData.defaultValue" class="margin-0" ng-src="{{itemElementData.defaultValue}}" alt="Signature"></td>
                </tr>
                <tr ng-if="itemElementData.controlTypeID != vm.InputeFieldKeys.Signature &&
                                 itemElementData.controlTypeID != vm.InputeFieldKeys.Multilinetextbox
                                 && itemElementData.controlTypeID != vm.InputeFieldKeys.Editor">
                    <td>{{itemElementData.defaultValue}}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="padding-top-10 padding-bottom-10" ng-if="itemElementData.controlTypeID == vm.InputeFieldKeys.SubForm"
        ng-repeat="itemElementData in itemElementTranswiseData" flex="100" layout="row" layout-wrap>
        <td flex="100" ng-if="itemElementData.subFormControls.length > 0">
            <p class="margin-0"><b>{{itemElementData.dataElementName}}</b></p>
        </td>
        <td flex="100" ng-if="itemElementData.controlTypeID == vm.InputeFieldKeys.SubForm" ng-class="{'multiple-field-form' : itemElementData.isMultiple}">
            <div class="subformtable" ms-scroll>
                <div class="horizontal-section" layout-align="start start">
                    <table class="simple list-view">
                        <thead>
                            <tr>
                                <th ng-repeat="itemElement in itemElementData.subFormControls[0]">{{itemElement.dataElementName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subElement in itemElementData.subFormControls">
                                <td ng-repeat="itemElement in subElement">
                                    <div ng-if="itemElement.controlTypeID == vm.InputeFieldKeys.Multilinetextbox
                                                        || itemElement.controlTypeID == vm.InputeFieldKeys.Editor">
                                        <span class="margin-0" ng-bind-html="itemElement.defaultValue"></span>
                                    </div>
                                    <div ng-if="itemElement.controlTypeID == vm.InputeFieldKeys.Signature">
                                        <img ng-if="itemElement.defaultValue" ng-src="{{itemElement.defaultValue}}" alt="Signature">
                                    </div>
                                    <div ng-if="itemElement.controlTypeID != vm.InputeFieldKeys.Signature &&
                                                                itemElement.controlTypeID != vm.InputeFieldKeys.Multilinetextbox
                                                                && itemElement.controlTypeID != vm.InputeFieldKeys.Editor">
                                        <p class="margin-0">{{itemElement.defaultValue}}</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>-->