<md-dialog aria-label="Feeder Detail" class="bin-history-popup" draggable style="max-width:95%">
    <form name="vm.EquipmentFeederDtl">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Equipment Feeder Details</h2>
                <span flex></span>
                <popup-header-label label-data="vm.headerdata"></popup-header-label>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="no-padding custom-scroll" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
            <md-content class="padding-10 mh-5">
                <div layout="row" class="work-order-bg-main" layout-wrap excel-reader er-options="vm.erOptions">
                  <div layout="row" layout-wrap flex="100" class="padding-5">
                    <equipment-header-details class="flex" header-details="vm.data"></equipment-header-details>
                    <div flex="20">
                      <input id="fi-excel" name="file" type="file" class="hidden" style="height:0px;width:0px;left: -100%;position:absolute">
                      <md-button class="md-primary md-raised" ng-disabled="!vm.isAllowUpdateStatus"
                                 ng-click="vm.ImportFeederFile($event, $index)">
                        Import Feeder Details
                      </md-button>
                      <export-feeder-template></export-feeder-template>
                    </div>
                  </div>
                </div>
                <div class="content-card" layout="column" flex ng-show="!vm.isNoDataFound">
                    <div data-split-pane class="feeder-location-main-split-pane-height" data-split-pane-properties="splitPaneProperties">
                        <div data-split-pane-component layout="column" data-height="100%" class="resize-ui-grid" id="feeder-location">
                            <md-card layout="column" class="margin-0" flex layout-align="space-between stretch">
                                <ui-grid-extention layout="column" flex load-data="vm.loadData"  class="feederLocation-grid" 
                                                   grid-option="vm.gridOptions"
                                                   header="vm.sourceHeader"
                                                   grid-data="vm.sourceData"
                                                   total-data-count="vm.totalSourceDataCount"
                                                   reset-grid="vm.resetSourceGrid"
                                                   selectted-rows="vm.selectedRowsList"
                                                   paging-info="vm.pagingInfo"
                                                   current-item="vm.currentdata"
                                                   empty-state="vm.emptyState"
                                                   delete-multiple-data="vm.deleteMultipleData"
                                                   scroll-class="vm.setScrollClass">
                            </md-card>
                        </div>
                        <div data-split-pane-divider data-height="5px" ng-show="vm.ismultipleLines"></div>
                        <div class="content-card" layout="column" data-split-pane-component id="feeder-location-child">
                            <div class="cm-section-main" layout="column" flex>
                                <div class="cm-section-header">
                                    <div flex="100" layout-align="start center" layout="row">
                                        <h2>Duplicate Line Found</h2>
                                    </div>
                                </div>
                                <div class="cm-section-inner" layout="column" flex>
                                    <md-card layout="column" class="margin-0" flex layout-align="space-between stretch" ng-show="vm.ismultipleLines">
                                        <ui-grid-extention layout="column" flex load-data="vm.LineItemloadData"
                                                           grid-option="vm.LineItemgridOptions"
                                                           header="vm.LineItemssourceHeader"
                                                           grid-data="vm.LineItemssourceData"
                                                           total-data-count="vm.LineItemtotalSourceDataCount"
                                                           reset-grid="vm.LineitemsresetSourceGrid"
                                                           selectted-rows="vm.LineItemselectedRowsList"
                                                           paging-info="vm.LineItenpagingInfo"
                                                           current-item="vm.LineItemcurrentdata"
                                                           empty-state="vm.LineItememptyState"
                                                           scroll-class="vm.LineItemsetScrollClass">
                                    </md-card>
                                </div>
                            </div>
                        </div>
                     </div>
                        
                    </div>
                <!-- / CONTENT CARD -->
                <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound == true">
                    <div class="emty-icon" flex="100">
                        <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                    </div>
                    <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
