<md-dialog aria-label="Employee" class="cm-custom-label-common" flex="{{vm.copyTemplate ? 80: 50}}" draggable>
  <form name="vm.masterTemplatePopupForm" class="md-inline-form" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-if="!vm.copyTemplate">{{vm.mastertemplate.id ? "Update" : "Add"}} Operation Management</h2>
        <h2 ng-if="vm.copyTemplate">{{vm.copyTemplate ? 'Copy ':' '}} Operation Management</h2>
        <span flex></span>
        <popup-header-label label-data="vm.headerdata"></popup-header-label>
        <div layout-align="center center" class="cm-btn-group cm-square-icon-btn">
          <md-button class="md-icon-button md-primary md-raised md-mini" id="headerAddBtn" ng-if="!vm.copyTemplate" ng-click="vm.saveAndProceed(vm.BUTTON_TYPE.ADDNEW)">
            <md-icon md-font-icon="t-icons-operation-management add-icon" class="material-icons"></md-icon>
            <md-tooltip>Add Operation Management</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" ng-click="vm.cancel()">
            <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
          </md-button>
        </div>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custome-scroll">
      <md-content class="padding-10" layout="column" layout-gt-xs="row">
        <div layout="row" layout-wrap class="cm-section-main border-0" flex="100">
          <div class="cm-section-main border-0 margin-bottom-5" flex="100">
            <div class="cm-section-inner">
              <div flex="100" layout="row" layout-wrap>
                <div class="" layout="row" layout-wrap flex="100" flex-lg="100">
                  <div flex="50" class="pr-5" ng-if="vm.copyTemplate">
                    <fieldset class="container-box margin-bottom-5 ml-5 mt-1 full-height cm-overflow-auto-1601">
                      <legend class="margin-0">From Operation</legend>
                      <div layout="row" layout-wrap layout-align="start start" flex class="mh-3-rs cm-section-main margin-right-5 margin-pro-rs-right-0 pt-5">
                        <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                          <tbody>
                            <tr>
                              <th><p class="label-container"><a class="cm-text-decoration underline" ng-click="vm.goToOperationMasterTemplateList();" tabindex="-1">Template</a><span>&nbsp;*<check-unique-on-blur></check-unique-on-blur></span></p></th>
                              <td>
                                <md-input-container flex="100" class="margin-bottom-0">
                                  <input type="text" name="fromMasterTemplate" ng-model="vm.fromMastertemplate.masterTemplate"
                                         placeholder="Template" ng-maxlength="255" md-maxlength="255" disabled>
                                </md-input-container>
                              </td>
                            </tr>
                            <tr>
                              <th><p class="label-container">Description<span>&nbsp;*</span></p></th>
                              <td>
                                <md-input-container flex="100" class="margin-bottom-0">
                                  <textarea type="text" name="fromDescription" ng-model="vm.fromMastertemplate.description"
                                            placeholder="Description" rows="2" ng-maxlength="1000" md-maxlength="1000" multiple disabled></textarea>
                                </md-input-container>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </fieldset>
                  </div>
                  <div flex="{{vm.copyTemplate ? 50: 100}}">
                    <fieldset class="margin-bottom-5 ml-5 mr-5 mt-1 mb-5 full-height" ng-class="{'container-box' : vm.copyTemplate }">
                      <legend class="margin-0" ng-if="vm.copyTemplate">To Operation</legend>
                      <div layout="row" layout-wrap layout-align="start start" flex class="mh-3-rs margin-right-5 margin-pro-rs-right-0" ng-class="{'cm-section-main pt-5' : vm.copyTemplate }">
                        <table cellspacing="0" cellpadding="0" class="cm-table-input-main">
                          <tbody>
                            <tr>
                              <th><p class="label-container"><a class="cm-text-decoration underline" ng-click="vm.goToOperationMasterTemplateList();" tabindex="-1">Template</a><span>&nbsp;*<check-unique-on-blur></check-unique-on-blur></span></p></th>
                              <td>
                                <md-input-container flex="100" class="margin-bottom-0">
                                  <input type="text" name="masterTemplate" id="masterTemplate" ng-model="vm.mastertemplate.masterTemplate"
                                         placeholder="Template" md-autofocus custom-blur="vm.checkDublicateMasterTemplate();" required ng-maxlength="255" no-special-character md-maxlength="255">
                                  <div ng-messages="vm.masterTemplatePopupForm.masterTemplate.$error"
                                       role="alert">
                                    <div ng-message="required">
                                      <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                    </div>
                                    <div ng-message="maxlength">
                                      <span>{{vm.getMaxLengthValidation(255,vm.masterTemplatePopupForm.masterTemplate.$viewValue.length)}}</span>
                                    </div>
                                  </div>
                                </md-input-container>
                              </td>
                            </tr>
                            <tr>
                              <th><p class="label-container">Description<span>&nbsp;*</span></p></th>
                              <td>
                                <md-input-container flex="100" class="margin-bottom-0">
                                  <textarea type="text" name="description" ng-model="vm.mastertemplate.description"
                                            placeholder="Description" rows="2" ng-maxlength="1000" md-maxlength="1000" required multiple></textarea>
                                  <div ng-messages="vm.masterTemplatePopupForm.description.$error"
                                       role="alert">
                                    <div ng-message="required">
                                      <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                                    </div>
                                    <div ng-message="maxlength">
                                      <span>{{vm.getMaxLengthValidation(1000,vm.masterTemplatePopupForm.description.$viewValue.length)}}</span>
                                    </div>
                                  </div>
                                </md-input-container>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.masterTemplate(vm.BUTTON_TYPE.SAVE)" aria-label="Submit" ng-class="{'md-formdirty': vm.masterTemplatePopupForm.$dirty}">{{vm.copyTemplate?'Copy':'Save'}}</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.masterTemplate(vm.BUTTON_TYPE.SAVEANDEXIT)" aria-label="Submit" ng-class="{'md-formdirty': vm.masterTemplatePopupForm.$dirty}" data-focusButton="headerAddBtn" last-element elementcondition="true" ng-if="!vm.copyTemplate">{{vm.CORE_MESSAGE_CONSTANT.SAVE_AND_EXIT}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
