<div class="thread-header" layout="row" layout-align="space-between center">
    <div>
        <div class="subject" flex>{{vm.currNotificationDet.subject}}</div>
    </div>
</div>
<div class="thread-content">
    <div class="info" layout="row" layout-align="space-between start">
        <div layout="column" layout-align="start start">
            <div layout="row" layout-align="start start">
                <div>
                    <img class="avatar" alt="{{vm.currNotificationDet.name}}"
                         ng-src="{{vm.currNotificationDet.ProfilePic}}" />
                </div>
                <div layout="column" layout-align="start start">
                    <div class="name">
                        {{vm.currNotificationDet.name}}
                    </div>
                    <div class="to" layout="row" layout-align="start center">
                        <div class="to-text">to</div>
                        <div>ADMIN</div>
                    </div>
                </div>
            </div>
            <a class="toggle-details md-accent-color" ng-hide="vm.selectedMailShowDetails"
               ng-click="vm.selectedMailShowDetails = !vm.selectedMailShowDetails">
                Show Details
            </a>
            <a class="toggle-details md-accent-color" ng-show="vm.selectedMailShowDetails"
               ng-click="vm.selectedMailShowDetails = !vm.selectedMailShowDetails">
                Hide Details
            </a>
            <div ng-show="vm.selectedMailShowDetails" class="details" layout="row" layout-align="start start">
                <div layout="column">
                    <span class="title">From:</span>
                    <span class="title">To:</span>
                    <span class="title">Date:</span>
                </div>
                <div layout="column">
                    <span class="detail">{{vm.currentThread.from.email}}</span>
                    <span class="detail">{{vm.currentThread.to[0].email}}</span>
                    <span class="detail">{{vm.currentThread.time}}</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-bind-html="vm.currNotificationDet.message"></div>
</div>
<div ng-if="vm.currNotificationDet.attachments" class="thread-attachments">
    <div class="title">
        <span translte="MAIL.ATTACHMENTS">Attachments</span> ({{vm.currNotificationDet.attachments.length}})
    </div>
    <div class="attachment-list" layout-wrap layout="row">
        <div class="attachment" layout="column"
             ng-repeat="attachment in vm.currNotificationDet.attachments">
            <img class="preview" ng-src="{{attachment.preview}}">
            <div layout="column">
                <a href="#" class="md-accent-color link" translate="MAIL.VIEW">View</a>
                <a href="#" class="md-accent-color link" translate="MAIL.DOWNLOAD">Download</a>
                <div class="size">({{attachment.size}})</div>
            </div>
        </div>
    </div>
</div>