<md-dialog aria-label="BOMEntrychange" class="operation-pop-main assembly-history-popup cm-history-popup" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="forms">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2>{{vm.title}}</h2>
                <span flex></span>
                <popup-header-label label-data="vm.headerdata"></popup-header-label>               
                <md-button class="md-icon-button" ng-click="vm.close()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding" layout="column">
            <md-content class="padding-10 mh-5">
                <div class="" layout="column" flex>
                    <md-card class="margin-0 cm-planned-grid" layout="column" flex layout-align="space-between stretch">
                        <ui-grid-extention load-data="vm.loadData" class="Common-grid"
                                           grid-option="vm.gridOptions"
                                           header="vm.sourceHeader"
                                           grid-data="vm.sourceData"
                                           total-data-count="vm.totalSourceDataCount"
                                           reset-grid="vm.resetSourceGrid"
                                           selectted-rows="vm.selectedRowsList"
                                           paging-info="vm.pagingInfo"
                                           current-item="vm.currentdata"
                                           get-data-down="vm.getDataDown"
                                           empty-state="vm.emptyState"
                                           delete-multiple-data="vm.deleteMultipleData"
                                           scroll-class="vm.setScrollClass">
                    </md-card>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-primary md-raised" ng-click="vm.close()">OK</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
