<md-dialog aria-label="DuplicateWarehouseBin" cg-busy="{promise:vm.cgBusyLoading}" draggable flex="35">
    <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Duplicate
            <span ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Warehouse">Warehouse</span>
            <span ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Bin">Bin</span>
            <span ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Rack">Rack</span>
          </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="customer-modal no-padding custom-scroll cm-duplicate-bin-popup" layout="column">
        <md-content class="md-padding">

          <div layout="row" class="ml-10 mt-10 cm-bom-error-message">
            <p ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Warehouse">{{vm.CORE_MESSAGE_CONSTANT.DUPLICATE_WAREHOUSE_LIST}}</p>
            <p ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Bin">{{vm.CORE_MESSAGE_CONSTANT.DUPLICATE_BIN_LIST}}</p>
            <p ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Rack">{{vm.CORE_MESSAGE_CONSTANT.DUPLICATE_RACK_LIST}}</p>
          </div>

            <div class="content fullpage-datatable" layout="column" flex>
                <md-table-container layout="row" flex="100">
                    <table md-table class="md-data-table table-row-select">
                        <thead md-head md-order="vm.query.order">
                            <tr md-row>
                                <th md-column width="50">
                                    #
                                </th>
                                <th md-column md-order-by="vm.data.Type === vm.Transaction.TypeWHBin.Rack ? name : Name">
                                  <span ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Warehouse">Warehouse</span>
                                  <span ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Bin">Bin</span>
                                  <span ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Rack">Rack</span>
                                  <span> Name</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody md-body>
                          <tr md-row ng-repeat="item in vm.duplicate_Bin_Warehouse | orderBy: vm.query.order">
                            <td md-cell>{{$index+1}}</td>
                            <td ng-if="vm.data.Type !== vm.Transaction.TypeWHBin.Rack" md-cell>{{item.Name}}</td>
                            <td ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Rack" md-cell>{{item.name}}</td>
                          </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>

        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.generateWarehouse()" aria-label="Submit" ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Warehouse">Skip This And Add Another</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.generateBin()" aria-label="Submit" ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Bin">Skip This And Add Another</md-button>
      <md-button class="md-primary md-raised" ng-click="vm.generateRack()" aria-label="Submit" ng-if="vm.data.Type === vm.Transaction.TypeWHBin.Rack">Skip This And Add Another</md-button>
    </md-dialog-actions>
</md-dialog>
