<md-dialog aria-label="Bin History" class="bin-history-popup" draggable style="max-width:90%">
  <form name="vm.AlternatePartForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Bin History</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="no-padding custom-scroll" layout="column" cg-busy="{promise:vm.cgBusyLoading}">
      <md-content layout="column" class="padding-10">
        <div layout="row" layout-align="start center">
          <span flex="20" ng-if="!vm.currentBinDet.isCluster"><label><a ng-click="vm.goToBinList();" class="cm-text-decoration underline" tabindex="-1"> {{vm.LabelConstant.TransferStock.Bin}}</a>:&nbsp;</label>{{vm.currentBinDet.Name}}</span>
          <span flex="20"><label><a ng-click="vm.goToWHList();" class="cm-text-decoration underline" tabindex="-1">Current&nbsp;{{vm.LabelConstant.TransferStock.WH}}</a>:&nbsp;</label>{{vm.currentBinDet.warehouseName}}</span>
          <span flex="25"><label><a ng-click="vm.goToWHList();" class="cm-text-decoration underline" tabindex="-1">Current&nbsp;{{vm.LabelConstant.TransferStock.ParentWH}}</a>:&nbsp;</label>{{vm.currentBinDet.parentWarehouseName || '-' }}</span>
          <span flex="15" ng-if="!vm.currentBinDet.isCluster"><label>Nickname:&nbsp;</label>{{vm.currentBinDet.nickname || '-'}}</span>
          <span flex="10" ng-if="!vm.currentBinDet.isCluster">
            <label>Status:&nbsp;</label>
            <span class="label-box label-success" ng-class="{'label-success':vm.currentBinDet.isActive, 'label-warning': !vm.currentBinDet.isActive}">{{vm.currentBinDet.isActive ? 'Active' : 'Inactive'}}</span>
          </span>
          <span flex="10">
            <label>Bin Type:&nbsp;</label>
            <span class="label-box label-success" ng-class="{'label-success': vm.currentBinDet.isPermanentBin || vm.currentBinDet.isCluster, 'label-warning': !vm.currentBinDet.isPermanentBin && !vm.currentBinDet.isCluster}">{{vm.currentBinDet.isPermanentBin || vm.currentBinDet.isCluster ? 'Non-Movable' : 'Movable'}}</span>
          </span>
        </div>
        <div class="content-card" layout="column" flex ng-show="!vm.isNoDataFound">
          <md-card layout="column" class=" margin-0" flex layout-align="space-between stretch">
            <ui-grid-extention load-data="vm.loadData"
                               grid-id="vm.gridConfig.gridBinHistory"
                               grid-option="vm.gridOptions"
                               header="vm.sourceHeader"
                               grid-data="vm.sourceData"
                               total-data-count="vm.totalSourceDataCount"
                               reset-grid="vm.resetSourceGrid"
                               selectted-rows="vm.selectedRowsList"
                               paging-info="vm.pagingInfo"
                               current-item="vm.currentdata"
                               get-data-down="vm.getDataDown"
                               empty-state="vm.emptyState"
                               delete-multiple-data="vm.deleteMultipleData">
          </md-card>
        </div>
        <!-- / CONTENT CARD -->
        <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound">
          <div class="emty-icon" flex="100">
            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
          </div>
          <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
          <p flex="100">
            <md-button class="md-fab md-mini" aria-label="" ng-click="vm.loadData()">
              <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon icon-plus"></md-icon>
              <md-tooltip md-direction="top">Refresh Bin History</md-tooltip>
            </md-button>
          </p>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
