<md-toolbar class="navigation-header md-whiteframe-1dp" layout="row" layout-align="space-between center">
    <div class="logo" flex layout="row" layout-align="start center" ui-sref="app.dashboard">
        <!--<span class="logo-image">F</span>
        <span class="logo-text">FUSE</span>-->
        <img class="logo-mini" src="/image/favlogo.png" />
        <img class="logo-max" src="/image/logo.png" />
    </div>

    <md-icon class="fold-toggle s18" md-font-icon="icon-backburger" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon>
</md-toolbar>

<ms-navigation class="scrollable custom-scroll" folded="vm.folded"></ms-navigation> <!--ms-scroll="vm.msScrollOptions"-->