<md-dialog aria-label="rohs-mismatch" class="workorder-pop-main cm-custom-label-common uid-verification-failed-popup width-30p" draggable>
  <form name="vm.rohsMismatchForm" novalidate>
    <md-button id="btnRequireColValidation" type="submit" ng-hide="true"></md-button>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          {{vm.RohsStatusMismatch.HeaderLabel}}
        </h2>
        <span flex></span>
        <!--<popup-header-label label-data="vm.headerdata"></popup-header-label>-->
        <md-button class="md-icon-button ml-0" ng-click="vm.cancel()">
          <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="customer-modal no-padding custom-scroll width-auto">
      <md-content class="padding-0-10-imp mh-5" layout="column" layout-gt-xs="column">
        <div flex="80" layout="row" class="padding-top-10">
          <p ng-bind-html="vm.displayNote"></p>
        </div>
        <div class="cm-section-main border-0" flex="100">
          <div class="cm-section-inner ph-0-imp">
            <table cellpadding="0" cellspacing="0" class="cm-table-input-main">
              <tbody>
                <tr>
                  <th>
                    <p class="label-container">{{vm.RohsStatusMismatch.PasswordLabel}}<span>&nbsp;*</span></p>
                  </th>
                  <td class="cm-employee-manage-password">
                    <md-input-container flex="100">
                      <input type="password" id="password" name="password" ng-model="vm.RohsStatus.password"
                             placeholder="Password" md-autofocus required maxlength="50">
                      <div ng-messages="vm.rohsMismatchForm.password.$error">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(50, vm.rohsMismatchForm.password.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                </tr>
                <tr>
                  <th>
                    <p class="label-container">{{vm.RohsStatusMismatch.ReasonLabel}}<span>&nbsp;*</span></p>
                  </th>
                  <td>
                    <md-input-container flex="100" class="md-block">
                      <textarea type="text" name="reason" ng-model="vm.RohsStatus.reason" placeholder="Reason"
                                ng-maxlength="1000" required></textarea>
                      <div ng-messages="vm.rohsMismatchForm.reason.$error">
                        <div ng-message="required">
                          <span>{{vm.CORE_MESSAGE_CONSTANT.REQUIRED}}</span>
                        </div>
                        <div ng-message="maxlength">
                          <span>{{vm.getMaxLengthValidation(1000, vm.rohsMismatchForm.reason.$viewValue.length)}}</span>
                        </div>
                      </div>
                    </md-input-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-default md-raised" ng-click="vm.cancel()">{{vm.RohsStatusMismatch.CancelButton}}</md-button>
      <md-button class="md-primary md-raised"
                 ng-class="{'md-formdirty': vm.rohsMismatchForm.$dirty}"
                 ng-disabled="vm.saveBtnDisableFlag"
                 ng-click="vm.confirmRohsAllocation()">{{vm.RohsStatusMismatch.ConfirmButton}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
