<md-dialog aria-label="coustomer-confirmation" flex="70" class="fullwidth cm-custom-label-common" cg-busy="{promise:vm.cgBusyLoading}" draggable>
    <form name="vm.customerDefaultApprovalForm">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2>{{vm.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="no-padding" layout="column">
            <md-content class="padding-10" layout="column">
                <div flex="100" layout="row" layout-align="space-between start" ng-if="!vm.isNoDataFound">
                    <div layout="row" flex="45" layout-sm="column">
                        <div layout="row" flex="100" class="input-wrapper">
                            <p class="label-container">Search <span>&nbsp;</span></p>
                            <md-input-container md-no-float class="margin-bottom-0 md-block margin-right-10 margin-top-0" flex="80">
                                <input type="text" name="search" ng-model="vm.searchText"
                                       placeholder="Type here to search" maxlength="100" ng-change="vm.searchCommonData(false)" ng-model-options="{debounce: vm.debounceTime }">
                            </md-input-container>
                            <md-button class="md-primary md-raised margin-0 margin-left-5-imp" ng-click="vm.searchCommonData(true);" aria-label="Reset">Reset</md-button>
                        </div>
                    </div>
                    <div layout-align="end start" layout layout-wrap class="input-wrapper cm-btn-group">
                        <md-button class="md-primary md-raised md-mini mt-0 btn-datasheet-link" ng-click="vm.addComment()">
                            Add {{vm.reasonType.popupTitle}}
                        </md-button>
                        <md-button class="md-primary md-raised md-mini mt-0 btn-datasheet-link" ng-click="vm.gotoPredefinedComment()">
                            {{vm.reasonType.title}}
                        </md-button>
                        <md-button class="md-primary md-raised md-mini mr-0 mt-0 btn-datasheet-link" ng-click="vm.refereshComment()">
                            Refresh
                        </md-button>
                    </div>
                </div>
                <div layout="row" class="cm-checkbox-auto pb-15 pr-15 pt-15 message-row">
                    <div layout="row" layout-wrap class="md-padding message-row" ng-if="!vm.isNoDataFound && vm.standardReasonList.length>0"
                         ng-class="dialog.who">
                        <div flex="100" layout="row" class="mb-10" ng-repeat="item in vm.standardReasonList">
                            <div ng-if="item.reason">
                                <md-checkbox ng-model="item.isChecked" custom-auto-focus="{{$index == 0 ? true:false}}" class="mb-0 mr-5"><span flex="90">{{item.reason}}</span></md-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.searchText && vm.standardReasonList.length==0">
                        <div class="emty-icon" flex="100">
                            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                        </div>
                        <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.EMPTY_SEARCH_MESSAGE}}</p>
                    </div>
                    <div class="empty-state text-center full-height" flex="100" layout="row" layout-align="center center" layout-wrap ng-if="vm.isNoDataFound == true">
                        <div class="emty-icon" flex="100">
                            <img ng-src="{{vm.EmptyMesssage.IMAGEURL}}" />
                        </div>
                        <p flex="100" class="empty-state-title">{{vm.EmptyMesssage.MESSAGE}}</p>
                        <p flex="100">
                            <md-button class="md-fab md-mini" aria-label="Add Elements" ng-click="vm.addComment()">
                                <md-icon role="img" md-font-icon="icon-plus" class="material-icons mat-icon icon-plus">
                                </md-icon>
                                <md-tooltip>Add New</md-tooltip>
                            </md-button>
                            <md-button class="md-fab md-mini" aria-label="Refresh Data Fields" ng-click="vm.refereshComment()">
                                <md-icon role="img" md-font-icon="icon-refresh" class="material-icons mat-icon"></md-icon>
                                <md-tooltip>Refresh</md-tooltip>
                            </md-button>
                        </p>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.save()"
                       ng-class="{'md-formdirty': vm.checkFormDirty(vm.customerDefaultApprovalForm) }" aria-label="Save">Done</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
