
<md-dialog aria-label="part-costingapi" cg-busy="{promise:vm.cgBusyLoading}" class="cm-custom-label-common cm-select-pricing-apis" draggable>
    <form name="vm.PricingApiForm">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h2>Select Pricing APIs</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="customer-modal no-padding custom-scroll">
            <md-content class="md-padding mh-10" layout="row" flex="100" layout-wrap layout-gt-xs="row">
                <div flex="100" layout="row">
                    <div flex="10" flex-sm="15">
                        <md-button class="md-primary md-raised margin-left-0 margin-top-10 margin-bottom-0" ng-click="vm.checkUncheckAll(vm.checked)" aria-label="checkuncheck">{{vm.buttonTitle}}</md-button>
                    </div>
                    <div flex="25" flex-sm="30" class="cm-section-main margin-vertical-5 margin-right-5" >
                        <div class="cm-section-inner" layout="row" layout-align="center center">
                                <md-input-container flex="100">
                                    <md-radio-group layout="row" layout-align="center center" 
                                                    name="customprice" ng-model="vm.customprice" flex="100">
                                        <md-radio-button flex class="margin-top-0"
                                                         ng-value="true">Special Price</md-radio-button>
                                        <md-radio-button flex class="margin-top-0"
                                                         ng-value="false">Standard</md-radio-button>
                                    </md-radio-group>
                                </md-input-container>
                        </div>
                    </div>
                    <div flex="20" flex-sm="30" class="input-wrapper" layout-align="start start" layout="row">
                        <p class="margin-top-0 margin-bottom-0 label-container text-right">Quick Link: </p>
                        <div layout-wrap layout="row" class="margin-top-5">
                            <a class="cursor-pointer underline" ng-click="vm.supplierApiCall(vm.externalLink[0].ID)">{{vm.externalLink[0].Name}}</a>
                            <span>|</span>
                            <a class="cursor-pointer underline" ng-click="vm.supplierApiCall(vm.externalLink[1].ID)">{{vm.externalLink[1].Name}}</a>
                        </div>
                    </div>
                </div>
                <div layout="row" flex="100">
                    <div class="content" flex="100" layout-wrap>
                        <div class="price-tables manage-standard" flex="100" layout="row" layout-wrap>
                            <div class="style-1" flex="100" flex-xs="100">
                                <div layout="row" class="chekboxlistmain cm-manage-part-list-popup" flex="100" layout-wrap>
                                    <md-list flex="100" layout="row" layout-wrap class="margin-bottom-5">
                                        <md-list-item ng-repeat="item in vm.Suppliers" flex="33" layout-align="start center">
                                            <md-checkbox class="margin-0"   ng-disabled="!item.isSupplierEnable" ng-model="item.isChecked" ng-change="vm.checkAll(item.isChecked)">
                                            </md-checkbox>
                                            <div flex class="text-main pricing-api-list">
                                                <div class="margin-top-5" ng-class="{'cursor-not-allow opecity-5':!item.isSupplierEnable}">

                                                    <i class="icon-checkbox-blank-circle-outline normal"></i>
                                                    <i class="icon-check-circle checked "></i>
                                                    <span  ng-click="vm.supplierApiCall(item.id)" class="padding-right-5">
                                                        <img class="image-part"
                                                             ng-src="{{item.Image}}" />
                                                        <md-tooltip md-direction="top">{{item.mfgName}}</md-tooltip>
                                                    </span>
                                                    <label><a class="cursor-pointer underline" ng-click="vm.supplierApiCall(item.id)">{{item.mfgName}}</a></label>
                                                    <span ng-if="item.lastPricedDate" class="float-right margin-right-10">LQD: {{item.lastPricedDate}}<md-tooltip md-direction="top">Last Quote Date</md-tooltip></span>
                                                    <span class="label-box label-primary float-right margin-right-10 underline" ng-if="item.id==-1 && vm.digikeytokenexpire" ng-click="vm.generateToken($event)">
                                                        Regenerate Token
                                                    </span>
                                                    <span class="label-box light-green-bg float-right margin-right-10" ng-if="item.id!=-1">
                                                        Active
                                                    </span>
                                                    <span class="label-box float-right margin-right-10" ng-class="{'light-green-bg':!vm.digikeytokenexpire,'label-warning':vm.digikeytokenexpire}" ng-if="item.id==-1">
                                                        {{vm.digikeytokenexpire?'Inactive':'Active'}}
                                                    </span>
                                                 </div>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-default md-raised" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.getPricing()" aria-label="Submit" ng-disabled="!vm.disableButton() || vm.isclick">Submit</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
