<md-dialog aria-label="Add Expression" class="addexpression {{::vm.themeClass}}" draggable>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="text-white">Add Expression</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon role="img" md-font-icon="icon-close" class="material-icons mat-icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="expressionForm" id="expressionForm">
        <md-dialog-content style="width:550px;min-height: 100px" class="custom-scroll padding-15">

            <div flex="100" layout="row" layout-wrap class="margin-bottom-10">
                <div flex="40">
                    <md-input-container ng-class="vm.themeClass" class="autocompletecustom margin-0 padding-0" flex="100" md-no-float>
                        <custom-auto-complete datalist="vm.axisList"
                                              column-name="vm.autoCompleteXAxis.columnName"
                                              controller-name="vm.autoCompleteXAxis.controllerName"
                                              view-template-url="vm.autoCompleteXAxis.viewTemplateURL"
                                              key-column-name="vm.autoCompleteXAxis.keyColumnName"
                                              input-name="vm.autoCompleteXAxis.inputName"
                                              placeholder-name="vm.autoCompleteXAxis.placeholderName"
                                              key-column-id="vm.autoCompleteXAxis.keyColumnId"
                                              is-required="vm.autoCompleteXAxis.isRequired"
                                              is-addnew="vm.autoCompleteXAxis.isAddnew"
                                              on-select-callback-fn="vm.autoCompleteXAxis.onSelectCallbackFn">
                        </custom-auto-complete>
                    </md-input-container>
                </div>
                <div flex="40">
                    <!--<md-button ng-disabled="!vm.selectedAxis" class="md-primary md-raised margin-0 margin-left-10 md-icon-button smlbtn" ng-class="vm.themeClass" ng-click="vm.addFieldToExpression(vm.selectedAxis)">
                        <md-icon class="small-icon" md-font-icon="icon-plus"></md-icon>
                        <md-tooltip md-direction="bottom">Add field in expression</md-tooltip>
                    </md-button>-->
                    <md-button ng-disabled="!vm.selectedAxis" class="md-primary defaultbtn md-raised margin-0 margin-left-10" ng-click="vm.addFieldToExpression(vm.selectedAxis)">
                        Add field in expression
                    </md-button>
                </div>
            </div>
            <div flex="100" layout="row" layout-wrap>
                <md-button class="md-primary md-raised margin-0 margin-right-10 margin-top-20 smlbtn md-icon-button squarebtn" ng-repeat="obj in vm.AirthmeticAllOpertaor"
                           ng-click="vm.addSymbol(obj)">
                    <md-icon class="small-icon" style="vertical-align:baseline">{{obj.Value}}</md-icon>
                    <md-tooltip md-direction="bottom">{{obj.Name}}</md-tooltip>
                </md-button>
                <md-input-container flex class="md-block margin-0 error-none margin-top-20" ng-class="vm.themeClass" md-no-float>
                    <input flex="60" class="margin-right-10" name="ArithmeticConst" id="ArithmeticConst" placeholder="Add Constant" type="text"
                           ng-model="vm.constantVal">
                    <!--<md-button flex class="md-primary md-icon-button md-raised margin-0 smlbtn" ng-class="vm.themeClass"
                               ng-disabled="!vm.constantVal"
                               ng-click="vm.addConstantToExpression(vm.constantVal)">
                        <md-icon class="small-icon cursor-pointer" md-font-icon="icon-check"></md-icon>
                    </md-button>-->
                    <div layout="row" flex="40">
                        <md-button flex class="md-primary defaultbtn md-raised margin-0" 
                                   ng-disabled="!vm.constantVal"
                                   ng-click="vm.addConstantToExpression(vm.constantVal)">
                            ok
                        </md-button>
                    </div>                    
                </md-input-container>
            </div>
            <div flex="100" layout="row" class="border padding-5 margin-top-20" layout-wrap ng-if="vm.ExpressionData.length > 0" dragula='"item"' dragula-model="vm.ExpressionData">
                <div class="custom-chip drag-container" ng-repeat="item in vm.ExpressionData">
                    <div>
                        <md-icon class="closeicon" md-font-icon="icon-close" ng-click="vm.removeChoice($index)"></md-icon>
                        <span ng-show="item.visibleSpan">{{item.Name}}</span>
                    </div>
                </div>
            </div>         
        </md-dialog-content>
        <md-dialog-actions layout="row">            
            <md-button class="md-default md-button md-ink-ripple" ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button class="md-raised md-primary md-button md-ink-ripple text-white" ng-disabled="vm.ExpressionData.length == 0" ng-click="vm.submitForm()">
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>